<div class="row">
  <div class="col-sm-12">
    <div class="cards">
      <div class="card-header border header-color">

        <div class="row">
          <div class="col">
              <span class="form-inline">
                <input type="checkbox" [(ngModel)]="selectedAll"
                       style="width: 16px; height: 16px; margin-right: 3%;"
                       (change)="selectAll()">
              <h5>Download following OTIF : </h5>

                </span>
          </div>
          <div class="col d-flex justify-content-end">
            <button (click)="download()" class="btn btn-dark  download-btn" [disabled]="isDisabled">
              <i class="fas fa-download"></i> Download
            </button>
          </div>
        </div>



      </div>
      <div class="table-scroll">
        <div class="row" style="width: 100%; margin-left: 0%">
          <ng-container *ngFor="let otif of otifFileDataList">
            <div class="col-sm-4 border p-0">
              <div style="padding: 3%;" [ngClass]="{'highlight' : otif.selected}">
                <input type="checkbox" [(ngModel)]="otif.selected"
                       (change)="checkIfAllSelected()">
                <span class="list-text">{{otif.name}}</span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

</div>
