<div style="padding: 1%">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header" style="padding-bottom: 1px; background: lightgoldenrodyellow">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tabb" role="tablist">
                            <a class="nav-item nav-link  fontSizeTabs" id="nav-org-tabb" data-toggle="tab"
                               href="#nav-org" role="tab" (click)="backButton()"
                               aria-controls="nav-org" aria-selected="false"> Organization</a>
                            <a class="nav-item nav-link  fontSizeTabs active" id="nav-user-tab" data-toggle="tab"
                               href="#nav-userr" role="tab" (click)="userPage()" aria-controls="nav-userr"
                               aria-selected="true">Users</a>
                        </div>
                    </nav>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3" style="padding-right: 0px">
                            <div class="card" style="border: 1px solid lightgrey;
                                 width:100%; margin-left:0px; padding:2%;">
                                <h4 style="font-size:16px;">
                                    Available Organization</h4>
                                <mat-form-field class="search-box-css">
                                    <input matInput (keyup)="applyFilterorg($event.target.value)" placeholder="Search">
                                </mat-form-field>

                                <div class="mat-elevation-z8 org-view-overflow-table">
                                    <table mat-table [dataSource]="dataSourceOrg" matSort>
                                        <ng-container matColumnDef="options">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                style="padding-left: 25px"></th>
                                            <td mat-cell *matCellDef="let row; let i = index">
                                                <input type="radio" name="gender"
                                                       (click)="usersList(row.options.party.id)" [checked]="i === 0"
                                                       value="igotnone">
                                                <!-- <button class="btn btn-default btn-sm custom-button-css"
                                                         (click)="addUserorg(row.options.party.id)"
                                                         title="Add User">
                                                     <i class="fa fa-user-plus text-info"></i></button>-->
                                                <!-- <button class="btn btn-default btn-sm custom-button-css" style="margin-left: 6%"
                                                         (click)="editOrganization(row.options.party.id); highlightRow(row)"
                                                         title="Edit Organization">
                                                     <i class="fa fa-edit text-info"></i></button>-->
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="organizationName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                style="padding-left: 39px; width: 90%">Organization Name
                                            </th>
                                            <td mat-cell *matCellDef="let organization; let i = index">
                                                {{organization.organizationName}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="secondOrg">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                style="padding-left: 55px">Second Organization
                                            </th>
                                            <td mat-cell *matCellDef="let organization; let i = index">
                                                {{organization.secondOrg}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="relation">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                style="padding-left: 30px"> Relation
                                            </th>
                                            <td mat-cell *matCellDef="let organization; let i = index">
                                                {{organization.relation}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="serviceType">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                style="padding-left: 25px"> Service Type
                                            </th>
                                            <td mat-cell *matCellDef="let organization; let i = index">
                                                {{organization.serviceType}}
                                            </td>
                                        </ng-container>


                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOrg"
                                            style="height: 33px"></tr>
                                        <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height: 33px"
                                             [ngClass]="{'highlight': selectedRowIndex == row.id}"
                                             (click)="highlight(row)">-->
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOrg;let i = index"
                                            style="height: 33px">
                                        </tr>
                                    </table>

                                    <!--  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->
                                </div>

                            </div>

                        </div>
                        <div class="col-sm-4" style="padding-right: 0px; padding-left: 8px">
                            <div class="card" style="border: 1px solid lightgrey;
                                 width:100%; margin-left:0px; padding:2%;">
                                <h4 style="font-size:16px;">
                                    Available User List :
                                    <ng-container *ngIf="this.currentOrgForUser !== undefined && this.currentOrgForUser !== null &&
                    this.currentOrgForUser.partyName !== undefined && this.currentOrgForUser.partyName !== null">
                                        - ({{this.currentOrgForUser.partyName.organizationName}})
                                    </ng-container>
                                </h4>
                                <mat-form-field class="search-box-css">
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                </mat-form-field>

                                <div class="mat-elevation-z8 org-view-overflow-table">
                                    <table mat-table [dataSource]="dataSource" matSort>

                                        <ng-container matColumnDef="firstName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                style="padding-left: 25px"> First Name
                                            </th>
                                            <td mat-cell *matCellDef="let user">
                                                {{user.firstName}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="lastName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                style="padding-left: 25px"> Last Name
                                            </th>
                                            <td mat-cell *matCellDef="let user">
                                                {{user.lastName}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="organizationName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Org Name</th>
                                            <td mat-cell *matCellDef="let user">
                                                {{user.organizationName}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="options">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                style="padding-left: 25px">Options
                                            </th>
                                            <td mat-cell *matCellDef="let row">
                                                <button class="btn btn-default btn-sm custom-button-css"
                                                        (click)="editUser(row.options.id)"
                                                        *ngIf="row.options.partyTypeUser.enabled"
                                                        title="Edit User">
                                                    <i class="fa fa-edit text-info"></i></button>
                                                <button class="btn btn-default btn-sm custom-button-css"
                                                        (click)="setUserIdToReset(+row.options.id)"
                                                        data-toggle="modal"
                                                        data-target="#resetPasswordConfirmationModal"
                                                        *ngIf="row.options.partyTypeUser.enabled"
                                                        title="Reset Password">
                                                    <i class="fa fa-key text-info"></i></button>

                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"
                                            style="height: 33px"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                            style="height: 33px">
                                        </tr>
                                    </table>

                                    <!--    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-5" style="padding-left: 8px">
                            <div class="card" style="border: 1px solid lightgrey;
                                 width:100%; margin-left:0px; padding:2%;">
                                <h4 style="font-size:16px;">
                                    Create/Edit Users </h4>
                                <router-outlet></router-outlet>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!--reset modal popup start-->
<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-default btn-sm custom-button-css" data-toggle="modal" data-target="#exampleModal">
    <i class="fa fa-key text-info"></i>
</button>-->

<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: lightgoldenrodyellow">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size: 22px">Reset Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>-->
<!--end modal popup-->


<!--<div class="row" *ngIf="successMessage !== ''">
    <div class="col-md-6">
        <p class="alert alert-success" data-dismiss="alert" aria-label="Close">
            <strong>{{successMessage}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="material-card card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h4 class="card-title">
                            <button class="btn btn-info btn-sm" (click)="addUser()" title="Add user"><i
                                    class="fa fa-plus"></i></button>
                            User List <ng-container *ngIf="this.currentOrgForUser !== undefined && this.currentOrgForUser !== null &&
                    this.currentOrgForUser.partyName !== undefined && this.currentOrgForUser.partyName !== null">
                            - ({{this.currentOrgForUser.partyName.organizationName}})</ng-container>
                        </h4>
                    </div>
                    <div class="col-sm-3">
                        <div class="pull-right mr-2">
                            <button class="btn btn-info waves-effect waves-light"
                                    (click)="backButton()">Back
                            </button>
                        </div>
                    </div>
                </div>

                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="firstName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
                            <td mat-cell *matCellDef="let user">
                                {{user.firstName}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="lastName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
                            <td mat-cell *matCellDef="let user">
                                {{user.lastName}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="organizationName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Org Name</th>
                            <td mat-cell *matCellDef="let user">
                                {{user.organizationName}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Options</th>
                            <td mat-cell *matCellDef="let row">
                               <button class="btn btn-default btn-sm custom-button-css"
                                       (click)="editUser(row.options.id)" *ngIf="row.options.partyTypeUser.enabled"
                                       title="Edit User">
                                 <i class="fa fa-edit text-info"></i></button>
                                <button class="btn btn-default btn-sm custom-button-css"
                                        (click)="resetPassword(+row.options.id)" *ngIf="row.options.partyTypeUser.enabled"
                                        title="Reset Password">
                                    <i class="fa fa-key text-info"></i></button>
                             </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                    </table>

                 &lt;!&ndash;   <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>&ndash;&gt;
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
       &lt;!&ndash; <router-outlet></router-outlet>&ndash;&gt;
    </div>
</div>-->

<div id="resetPasswordConfirmationModal" class="modal fade" role="dialog" data-header-position="top">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">CONFIRMATION</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you wants to reset password?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect text-center" data-dismiss="modal" data-target="#fexFileModal"
                        data-toggle="modal"
                        (click)="resetPassword(+userIdToReset)">
                    Yes
                </button>
                <button type="button" class="btn btn-secondary waves-effect text-center" data-dismiss="modal"
                >
                    No
                </button>
            </div>
        </div>
    </div>
</div>
