.card-lft{
  padding: 4%;
  box-shadow: 0 4px 6px 3px rgba(0,0,0,0.1);
  border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0.75rem 0.75rem!important;
  height: 490px;
  background: #F8F8F8;
}
.card-rhs{
  padding: 1%;
  box-shadow: 0 4px 6px 3px rgba(0,0,0,0.1);
  border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0.75rem 0.75rem!important;
  height: 490px;
  background: #F8F8F8;
}
.card-bottom{
  padding: 1%;
  box-shadow: 0 4px 6px 3px rgba(0,0,0,0.1);
  border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0.75rem 0.75rem!important;
  height: 368px;
}
.inp-css{
  border: 1px solid #868e96;
  background: white;
  margin-left: 5%;
  width: 75%;
}
label{
  font-weight: 400!important;
  font-size: 15px;
}
.card{
  height: 412px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0.75rem 0.75rem!important;
}
#ngx .ng-valid, .ng-touched.ng-valid {
  border-color: lightgrey!important;
}
#ngx .ng-invalid, .ng-touched.ng-invalid {
  border-color: lightgrey!important;
}
/*.list-card{
  border: 1px solid lightgrey;
  padding: 2%;
  width: 100%;
  height: 434px!important;
}*/
.header-btn{
  color: #fff;
  background: darkcyan;
  /*  font-weight: 500;*/
  font-size:14px;
  padding-top: 3px; padding-bottom: 3px
}
input{
  border-color: #868e96!important;
  background: white;
}
.list-group-item{
  border-color: #868e96!important;
  padding: 0.55rem 1.15rem!important;

}
h5{
  font-weight: 500;
}
.list-card{
  padding: 2%;
  margin-top: 6%;
}


.history-table-scroll{
  height: 385px;
  border:1px solid lightgrey;
  overflow-x: hidden;
  background: white;
}



.history-table th,td{
  padding: 4px!important;
  white-space: nowrap;
}
.history-table td{
  font-size: 14px;
}
.history-table th{
  font-size: 16px;
  color: white;
}
.history-table thead{
  background:darkcyan;
  color:white;
}
.history-table{
  transform-style: preserve-3d;
  width: 100%;
}
table#hisTable tbody {
  display: block;
  /* max-height: 200px;*/
  /*  overflow-y: auto;
    overflow-x: hidden;*/
}

table#hisTable thead, table#hisTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.plan-history-btn{
  padding: 3px 10px 3px 10px;
  left: 76%;
  top: 9%;
  position: absolute;
  border-radius: 25px;
  background: white;
  font-size: 13px;
}
.drp-menu{
  margin-top: 24%;
  margin-left: -176%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.succes-msg{
  color: white;
  position: absolute;
  top: -6%;
  left: 11%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
  background: #73c373
}
.mps-input{
  border: 1px solid #868e96;
  padding: 1%;
  width: 56%;
  margin-left: 2%;
  background: white;
}
.list-group-item{
  border-color: #868e96!important;
  padding: 0.55rem 1.15rem!important;

}
.card-header{
  border-radius: 0.75rem 0.75rem 0rem 0rem;
  font-weight: 500;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: white;
  border-bottom: 1px solid grey;
}
.history-table-scroll{
  height: 385px;
  border:1px solid lightgrey;
  overflow-x: hidden;
  background: white;
}



.module-table th,td{
  padding: 8px!important;
  white-space: nowrap;
}
.module-table td{
  font-size: 15px;
}
.module-table th{
  font-size: 18px;
  color: white;
}
.module-table thead{
  background:darkcyan;
  color:white;
}
.module-table{
  transform-style: preserve-3d;
  width: 100%;
}
table#moduleTable tbody {
  display: block;
  /* max-height: 200px;*/
  /*  overflow-y: auto;
    overflow-x: hidden;*/
}

table#moduleTable thead, table#moduleTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}
.table-scroll{
  height: 406px;
  overflow: auto;
  background: white;
  border: 1px solid lightgrey;
}

.bg-uploaded {
  /* background-color: #ccffcc;*/
  color:green;
  font-size: 16px;
  font-weight: 600;
}

.bg-correct {
  /* background-color: #e6ffff;*/
  color:#3399ff;
  font-size: 16px;
  font-weight: 600;
}

.bg-wrong {
  /* background-color:  #ffcccc;*/
  color:red
}
.disabled-field
{
  padding: 3%;
  width: 100%;
  height: 36px;
  border: 1px solid lightgrey;
  background-color: #e9ecef;
  opacity: 1;
  font-size: 15px;
  font-weight: 500;
}



/*
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 6px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {
 !* background-color: #ff5b5b;
  color: white;*!
  cursor: pointer;
  color: red;
}*/

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */

.word-wrap-table-cell {
  cursor: pointer;
  white-space: nowrap;
  width: 164px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dangercs{
  border:3px solid red;

}
.square-icon{
  font-size: 22px;
}
.pm-otif-btn{
  margin-left: 6%;
  background: black;
  color: white;
}
.bg-disabled{
  background: aliceblue;
}
.bgWhite{
  background: white;
}
.cross-btn{
  color: red;
  opacity: unset;
  font-weight: 100;
}
.dot-link{
  border: none;
  background: transparent;
  color: white;
  font-size: 27px;
  padding: 0px;
  line-height: 1;
  margin-left: 76%;
}


/*edit css*/
.save-btn {
  position: absolute;
  left: -10%;
  top: -7%;
  padding: 0px 6px 0px 6px;
  border: 2px solid darkgreen;
  background: darkgreen;
  color: white;
  font-size: 12px;

}

.edit-btn{
  position: absolute;
  left: 62%;
  padding: 0px 10px 0px 10px;
  top: 0%;
  font-size: 14px;
  border:none;
}
.close-btn{
  position: absolute;
  left: 37%;
  top: -6%;
  padding: 0px 6px 0px 6px;
  border: 2px solid brown;
  background: brown;
  color: white;
  font-size: 12px;
}
.success-msg{
  color: white;
  position: absolute;
  top: 2%;
  left: 4%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}
.error-danger{
  color: red; position: absolute; top: 33px;
  left: 21%; font-size: 13px
}
.isedit-error-danger{
  color: red; position: absolute; top: 67px;left: 6%;font-size: 13px;
}
.isedit-error-otifdate{
  color: red; position: absolute; top: 67px;left: 6%;font-size: 13px;
}
.isedit-error-date{
  color: red; position: absolute; top: 67px;left: 6%;font-size: 13px;
}
