<div class="row">
  <div class="col-sm-2 pr-0">
    <h5>Module wise Files Upload</h5>
  </div>
  <div class="col-sm-6 d-flex justify-content-left form-inline">
    <button class="btn btn-sm" style="background: black; color:white"
            (click)="newPlan()"
    >Create New Plan
    </button>
    <ng-container>
      <h6 style="margin-left: 35%;
    color: darkgray;
    font-style: italic;">Last Modified : <i>{{planModuleService.mpsState.modifiedDate | date:"dd/MM/yyyy HH:mm:ss"}}</i>
      </h6>
    </ng-container>
  </div>

  <div class="col-sm-4 text-right">
    <ng-container *ngIf="successMessage!==''">
      <p class="alert alert-success success-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
        <strong>{{successMessage}}</strong>
      </p>
    </ng-container>
    <button class="btn  btn-outline-dark"
            routerLink="/planModule/validationPage" (click)="nextBtn()" style="font-size:14px;
                padding-top: 3px; padding-bottom: 3px"
            [disabled]="planModuleService.goToValidationPage">Go to Validation
    </button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm-2">
    <div class="card-lft">
      <div class="row">
        <div class="col">
          <h5>Plan</h5>
        </div>
        <div class="col">
          <ng-container *ngIf="isEdit">
            <button class="btn btn-rounded save-btn" type="submit"
                    [disabled]="saveButtonDisabledForEdit?true :editForm.valid? false:true"
                    (click)="saveChanges()">
              Save
            </button>
            <button class="btn btn-rounded close-btn" (click)="closeBtn()">
              Cancel
            </button>
          </ng-container>
          <ng-container *ngIf="!isEdit">
            <button class="btn btn-outline-dark btn-rounded edit-btn" title="Edit"
                    [hidden]="!planModuleService.mpsState.editable" (click)="editBtn()">
              <i class="fas fa-edit"></i>
            </button>
          </ng-container>
        </div>
      </div>
      <!-- [disabled]="((!(editForm.valid && editPlanValidate())) ||
        (editPlanValidate() && duplicateEditName)) && SaveButtonDisabledForEdit"-->
      <div class="row">
        <div class="col">
          <ng-container *ngIf="isEdit">
            <form [formGroup]="editForm">
              <!-- <div class="row mt-2">
                 <div class="col">
                   <button class="btn btn-rounded save-btn" type="submit"
                           [disabled]="saveButtonDisabledForEdit?true :editForm.valid? false:true"
                           (click)="saveChanges()">
                     Save
                   </button>
                   <button class="btn btn-rounded close-btn" (click)="closeBtn()">
                     Cancel
                   </button>
                 </div>
               </div>-->
              <div class="row mt-3">
                <div class="col">
                  <label>Name </label>
                  <input class="form-control" placeholder=""
                         [(ngModel)]="planModuleService.mpsState.mpsName"
                         (keyup)="editDuplicateName()"
                         formControlName="planName">
                  <span class="isedit-error-danger"
                        *ngIf="!editPlanValidate()">minimum 5 characters required</span>
                  <span class="isedit-error-danger"
                        *ngIf="editPlanValidate() && duplicateEditName">already taken</span>
                  <span class="isedit-error-danger"
                        *ngIf="!editForm.get('planName').valid
                  && editForm.get('planName').hasError('pattern')&& editPlanValidate()">
                    <ng-container *ngIf="! editForm.get('planName').errors.maxlength">
                  please enter valid character
                      </ng-container>
                </span>
                  <span class="isedit-error-danger"
                        *ngIf="!editForm.get('planName').valid
                  && editForm.get('planName').errors.maxlength">
               Maximum 25 character are allowed
                </span>
                  <!--  <div class="disabled-field">
                      <div class="word-wrap-table-cell" title="{{planModuleService.mpsState.mpsName}}">
                        {{planModuleService.mpsState.mpsName}}
                      </div>
                    </div>-->

                </div>
              </div>
              <div class="row mt-5">
                <div class="col">
                  <label> Date </label>
                  <!-- <input type="text"  class="form-control" placeholder="">-->
                  <div class="input-group">
                    <input class="form-control form-control-sm" [minDate]="minDate" (dateSelect)="setEditDate($event)"
                           formControlName="planDate2"
                           placeholder="{{planModuleService.mpsState.mpsDate | date: 'yyyy-MM-dd'}}" name="dp8"
                           [(ngModel)]="editModel"
                           ngbDatepicker #d8="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary btn-sm no-shadow" (click)="d8.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                  <span class="isedit-error-date">{{errorMsg}}</span>
                  <!-- <div class="disabled-field">
                     {{planModuleService.mpsState.mpsDateStr}}
                   </div>-->
                </div>
              </div>
              <div class="row mt-5">
                <div class="col">
              <span class="form-inline">
              <label>Tag </label>
              <label style="margin-left: 14%">({{planModuleService.mpsState.tagDescription}})</label>
              </span>
                  <div class="inp-css ang-select" style="width: 100%; margin-left: 0%">
                    <angular2-multiselect
                      [data]="tagList"
                      formControlName="planTag"
                      [(ngModel)]="tagList.itemName"
                      [settings]="singledropdownSettings"
                      (onSelect)="setEditTag($event)">
                    </angular2-multiselect>
                  </div>
                  <!--  <input type="text"  class="form-control" placeholder="">-->
                  <!--<div class="disabled-field">
                    {{planModuleService.mpsState.tagDescription}}
                  </div>-->
                </div>
              </div>
              <div class="row mt-5">
                <div class="col">
                  <label>Otif Date</label>
                  <!--  <div class="disabled-field">
                      {{this.planModuleService.mpsState.otifDate}}
                    </div>-->
                  <div class="input-group">
                    <input class="form-control form-control-sm"
                           [disabled]="otifDateDisabled"
                           (dateSelect)="getOtifDate($event)" [minDate]="minDate" formControlName="planOtifDate"
                           placeholder="{{planModuleService.mpsState.otifDate | date: 'yyyy-MM-dd'}}" name="dp3"
                           [(ngModel)]="otifModel"
                           ngbDatepicker #d5="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary btn-sm no-shadow" (click)="d5.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                  <span class="isedit-error-otifdate">{{otifDateMsg}}</span>
                </div>
              </div>

            </form>
          </ng-container>
          <ng-container *ngIf="!isEdit">
            <div class="row mt-3">
              <div class="col">
                <label>Name </label>
                <input type="text" [disabled]="true" class="form-control"
                       [value]="planModuleService.mpsState.mpsName" placeholder="">
                <!--  <div class="disabled-field">
                    <div class="word-wrap-table-cell" title="{{planModuleService.mpsState.mpsName}}">
                      {{planModuleService.mpsState.mpsName}}
                    </div>
                  </div>-->

              </div>
            </div>
            <div class="row mt-5">
              <div class="col">
                <label> Date </label>
                <input type="text" [disabled]="true" class="form-control"

                       [value]="planModuleService.mpsState.mpsDate" placeholder="">
                <!--<div class="disabled-field">
                  {{planModuleService.mpsState.mpsDateStr}}
                </div>-->
              </div>
            </div>
            <div class="row mt-5">
              <div class="col">
                <label>Tag </label>
                <input type="text" [disabled]="true" class="form-control"
                       [value]="planModuleService.mpsState.tagDescription" placeholder="">
                <!--<div class="disabled-field">
                  {{planModuleService.mpsState.tagDescription}}
                </div>-->
              </div>
            </div>
            <div class="row mt-5">
              <div class="col">
                <label>Otif Date</label>
                <input type="text" [disabled]="true" class="form-control"
                       [value]="this.planModuleService.mpsState.otifDate" placeholder="">
                <!--<div class="disabled-field">
                  {{this.planModuleService.mpsState.otifDate}}
                </div>-->
              </div>
            </div>
          </ng-container>
        </div>
      </div>

    </div>


  </div>
  <div class="col-sm-10">
    <div class="card-rhs">
      <div class="row">
        <div class="col d-flex justify-content-left">
          <h5>Input Files Upload</h5>
          <!-- <ng-container *ngIf="isErrorIcon">
             <div class="dropdown" style="margin-left: 2%; margin-top: -2%;">
               <button class="btn btn-sm btn-danger dropbtn" style="background: #ff5b5b">
                 <i><img src="../../../../assets/images/file-error-flat.png" style="height: 24px;"></i>
               </button>
               <div class="dropdown-content">
                 <ng-container *ngFor="let wrongData of planModuleService.wrongFilesList">
                   <a>{{wrongData}}</a>
                 </ng-container>
               </div>
             </div>
           </ng-container>-->

          <button class="btn btn-outline-dark btn-sm pm-otif-btn"
                  (click)="pmOtif()" [disabled]="planModuleService.otifDisabledBasedOnFile"
          >Add PM OTIF
          </button>
          <ng-container *ngIf="planModuleService.mpsState.isExecutionDone === true">
            <button class="btn btn-sm btn-danger" (click)="resetOtif()"
                    [hidden]="!planModuleService.otifDisabledBasedOnFile">x
            </button>
          </ng-container>
        </div>
        <div class="col">
          <div style="display: flex; justify-content: space-between">

            <span>
              <i class="far fa-square" style="font-size: 13px"></i>
              <!-- <i class="square-icon far">&#x25A0;</i>-->&nbsp;
            <span style="margin-left: -6%">Invalid File</span>
            </span>
            <span>
            <i class="square-icon far" style="color:#3399ff;">&#x25A0;</i>&nbsp;
            <span style="margin-left: -6%">Valid File</span>
            </span>
            <span>
            <i class="square-icon far" style="  color:green;">&#x25A0;</i>&nbsp;
            <span style="margin-left: -6%">Uploaded File</span>
            </span>
          </div>

          <!-- <i class="fas fa-exclamation-triangle"></i>-->
        </div>
        <div class="col d-flex justify-content-end">
          <ng-container *ngIf="isErrorIcon">
            <div class="dropdown">
              <button class="btn btn-sm btn-outline-danger text-danger dropbtn btn-rounded" style="background: white">
                <i class="fas fa-exclamation-triangle "></i>
                Errors in File Drag Drop
              </button>
              <div class="dropdown-content">
                <ng-container *ngFor="let wrongData of planModuleService.wrongFilesList">
                  <a>{{wrongData}}</a>
                </ng-container>
              </div>
            </div>
          </ng-container>
          <button
            class="btn btn-sm btn-outline-dark" (click)="uploadAllFiles(0)" [disabled]="uploadDisabled" style="background: white;
          color:black">
            <i class="fa fa-upload upload-icon"></i>&nbsp;&nbsp;Upload Files
          </button>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-sm-3">
          <div class="table-scroll fileDropZone" ngFileDragDrop (fileDropped)="getUploadedFiles($event, folders[0])">
            <table class="table table-bordered module-table">
              <thead class="header-sticky">
              <tr>
                <th>{{folders[0]}}
                  <button type="button" title="Select Files"
                          style="margin-left: 52%;"
                          (click)="fileInput.click()" class="dot-link">
                    <span>...</span>
                    <input #fileInput type="file" multiple (click)="fileInput.value = null"
                           (change)="getUploadedFiles($event.target.files, folders[0])"
                           style="display:none;"/>
                  </button>
                </th>

              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let file of allFilesAvailable[folders[0]]; let i = index">
                <tr>
                  <td
                    [ngClass]="addPmOtif === false && planModuleService.mpsState.isExecutionDone === true? 'bg-disabled' : ''">
                    <div [class]="pickColor(file)">
                      {{
                      file.fileName + "." + file.extension
                      }}
                      <ng-container *ngIf="file.isRequired === true ">
                        <span class="text-danger font-weight-bold" style="font-size: 16px">*</span>
                      </ng-container>
                      <ng-container
                        *ngIf="pickColor(file) &&   allFilesAvailable[folders[0]].validationStatus === false">
                        <button type="button" class="close cross-btn" aria-label="Close"
                                (click)="removeSelectedFile(i,file.fileName,file.extension)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </ng-container>
                      <ng-container *ngIf="pickColor(file)&& addPmOtif === true">
                        <button type="button" class="close cross-btn"
                                aria-label="Close" (click)="removeSelectedFile(i,file.fileName,file.extension)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </ng-container>
                      <ng-container
                        *ngIf="pickColor(file)&& planModuleService.executionError=== false && planModuleService.mpsState.isExecutionDone!==true">
                        <button type="button" class="close cross-btn"
                                aria-label="Close" (click)="removeSelectedFile(i,file.fileName,file.extension)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </ng-container>
                    </div>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="table-scroll fileDropZone" ngFileDragDrop (fileDropped)="getUploadedFiles($event, folders[1])">
            <table class="table table-bordered module-table">
              <thead class="header-sticky">
              <tr>
                <th>
                  {{folders[1]}}
                  <button type="button" title="Select Files" (click)="fileInput1.click()" class="dot-link">
                    <span>...</span>
                    <input #fileInput1 type="file" multiple (click)="fileInput1.value = null"
                           (change)="getUploadedFiles($event.target.files, folders[1])"
                           style="display:none;"/>
                  </button>
                </th>

              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let file of allFilesAvailable[folders[1]]; let i = index">
                <tr>
                  <td
                    [ngClass]="addPmOtif === false && planModuleService.mpsState.isExecutionDone === true? 'bg-disabled' : ''">
                    <div [class]="pickColor(file)">
                      {{
                      file.fileName + "." + file.extension
                      }}
                      <ng-container *ngIf="file.isRequired === true ">
                        <span class="text-danger font-weight-bold" style="font-size: 16px">*</span>
                      </ng-container>
                      <ng-container
                        *ngIf="pickColor(file)&&   allFilesAvailable[folders[1]].validationStatus === false">
                        <button type="button" class="close cross-btn"
                                aria-label="Close" (click)="removeSelectedFile(i,file.fileName,file.extension)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </ng-container>
                      <ng-container *ngIf="pickColor(file)&& addPmOtif === true">
                        <button type="button" class="close cross-btn"
                                aria-label="Close" (click)="removeSelectedFile(i,file.fileName,file.extension)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </ng-container>
                      <ng-container *ngIf="pickColor(file)&& planModuleService.executionError=== false  && planModuleService.mpsState.isExecutionDone!==true">
                        <button type="button" class="close cross-btn"
                                aria-label="Close" (click)="removeSelectedFile(i,file.fileName,file.extension)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </ng-container>
                    </div>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="table-scroll fileDropZone" ngFileDragDrop (fileDropped)="getUploadedFiles($event, folders[2])">
            <table class="table table-bordered module-table">
              <thead class="header-sticky">
              <tr>
                <th>{{folders[2]}}
                  <button type="button" title="Select Files" (click)="fileInput2.click()" class="dot-link">
                    <span>...</span>
                    <input #fileInput2 type="file" multiple (click)="fileInput2.value = null"
                           (change)="getUploadedFiles($event.target.files, folders[2])"
                           style="display:none;"/>
                  </button>
                </th>

              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let file of allFilesAvailable[folders[2]]; let i = index">

                <tr>
                  <td
                    [ngClass]="(addPmOtif === true ||((pmOtifDeleteDisabled===false) && file.fileName==='OTIF_PM')) ||planModuleService.mpsState.isExecutionDone !== true? '':'bg-disabled'">
                    <div [class]="pickColor(file)">
                      {{
                      file.fileName + "." + file.extension
                      }}
                      <ng-container *ngIf="file.isRequired === true ">
                        <span class="text-danger font-weight-bold" style="font-size: 16px">*</span>
                      </ng-container>
                      <ng-container
                        *ngIf="pickColor(file) && allFilesAvailable[folders[2]].validationStatus === false">
                        <button type="button" class="close cross-btn" aria-label="Close"
                                (click)="removeSelectedFile(i,file.fileName,file.extension)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </ng-container>
                      <ng-container
                        *ngIf="pickColor(file)&& (addPmOtif === true || (pmOtifDeleteDisabled===false && file.fileName==='OTIF_PM'))">
                        <button type="button" class="close cross-btn"
                                aria-label="Close" (click)="removeSelectedFile(i,file.fileName,file.extension)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </ng-container>
                      <ng-container *ngIf="pickColor(file)&& planModuleService.executionError=== false  && planModuleService.mpsState.isExecutionDone!==true">
                        <button type="button" class="close cross-btn"
                                aria-label="Close" (click)="removeSelectedFile(i,file.fileName,file.extension)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </ng-container>
                    </div>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>


        </div>
        <div class="col-sm-3">
          <div class="table-scroll fileDropZone" ngFileDragDrop (fileDropped)="getUploadedFiles($event, folders[3])">
            <table class="table table-bordered module-table">
              <thead class="header-sticky">
              <tr>
                <th>{{folders[3]}}
                  <button type="button" title="Select Files" (click)="fileInput3.click()" class="dot-link">
                    <span>...</span>
                    <input #fileInput3 type="file" multiple (click)="fileInput3.value = null"
                           (change)="getUploadedFiles($event.target.files, folders[3])"
                           style="display:none;"/>
                  </button>
                </th>

              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let file of allFilesAvailable[folders[3]]; let i = index">

                <tr>
                  <td
                    [ngClass]="addPmOtif === false && planModuleService.mpsState.isExecutionDone === true? 'bg-disabled' : ''">
                    <div [class]="pickColor(file)">
                      {{
                      file.fileName + "." + file.extension
                      }}
                      <ng-container *ngIf="file.isRequired === true ">
                        <span class="text-danger font-weight-bold" style="font-size: 16px">*</span>
                      </ng-container>

                      <ng-container
                        *ngIf="pickColor(file) &&   allFilesAvailable[folders[3]].validationStatus === false">
                        <button type="button" class="close cross-btn" aria-label="Close"
                                (click)="removeSelectedFile(i,file.fileName,file.extension)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </ng-container>
                      <ng-container *ngIf="pickColor(file)&& addPmOtif === true">
                        <button type="button" class="close cross-btn"
                                aria-label="Close" (click)="removeSelectedFile(i,file.fileName,file.extension)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </ng-container>
                      <ng-container *ngIf="pickColor(file)&& planModuleService.executionError=== false  && planModuleService.mpsState.isExecutionDone!==true">
                        <button type="button" class="close cross-btn"
                                aria-label="Close" (click)="removeSelectedFile(i,file.fileName,file.extension)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </ng-container>
                    </div>
                  </td>
                </tr>

              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!--modal create plan-->
<!--modal create plan-->
<button id="openCreateModal" [hidden]="true" data-toggle="modal" data-target="#planCreateModal">Open Modal
</button>
<div class="modal fade" id="planCreateModal" tabindex="-1" role="dialog"
     aria-labelledby="planCreateModalLabel" data-backdrop="static" data-keyboard="false"
     aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; border-radius: 25px; margin-top: 30%">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 18px" id="planCreateModalLabel">Plan Creation</h5>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>-->
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <form [formGroup]="createForm">
              <div class="row">
                <div class="col form-inline">
                  <label>Name <span class="text-danger font-weight-bold" style="font-size: 14px">*</span></label>
                  <input name="planName" formControlName="mpsName"
                         [(ngModel)]="newMpsPlan.mpsName"
                         (keyup)="checkDuplicateName()" style="margin-left: 2%;
    width: 75%;"
                         class="form-control form-control-sm"/>
                  <span class="error-danger"
                        *ngIf="!planValidate()">minimum 5 characters required</span>
                  <span class="error-danger"
                        *ngIf="planValidate() && duplicateName">already taken</span>
                  <span class="error-danger"
                        *ngIf="!createForm.get('mpsName').valid
                  && createForm.get('mpsName').hasError('pattern')&& planValidate()">
                  please enter valid character
                </span>
                  <span class="error-danger"
                        *ngIf="!createForm.get('mpsName').valid
                  && createForm.get('mpsName').errors.maxlength">
               Maximum 25 character are allowed
                </span>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col form-inline">
                  <label>Date <span class="text-danger font-weight-bold" style="font-size: 14px">*</span></label>
                  <div class="input-group" style="margin-left: 3%; width: 76%;">
                    <input class="form-control form-control-sm" (dateSelect)="getDate($event)" [minDate]="minDate"
                           formControlName="date"
                           placeholder="{{newMpsPlan.planDate}}" name="dp2"
                           [(ngModel)]="model"
                           ngbDatepicker #d3="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary btn-sm no-shadow" (click)="d3.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col form-inline">
                  <label>Tag <span class="text-danger font-weight-bold" style="font-size: 14px">*</span></label>
                  <div class="inp-css ang-select">
                    <angular2-multiselect
                      [data]="tagList"
                      formControlName="tag"
                      [(ngModel)]="tagList.itemName"
                      [settings]="singledropdownSettings"
                      (onSelect)="getTagData($event)"
                      (onDeSelect)="onItemDeSelect()">
                    </angular2-multiselect>
                  </div>
                </div>
              </div>
            </form>
            <div class="row mt-4">
              <div class="col d-flex justify-content-center">
                <button class="btn  btn-md"
                        type="submit" data-dismiss="modal"
                        [disabled]="(!(createForm.valid && planValidate())) || (planValidate() && duplicateName )"
                        (click)="createPlan()"
                        style="background: darkcyan; color:white">
                  Create Plan
                </button>

                <button class="btn btn-sm" data-dismiss="modal"
                        (click)="cancelModal()"
                        style="background: brown;color: white;">
                  Cancel
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--pm-otif modal-->

<button id="openOtifModal" [hidden]="true" data-toggle="modal" data-target="#otifModal">Open Modal
</button>
<div class="modal fade" id="otifModal" tabindex="-1" role="dialog"
     aria-labelledby="planCreateModalLabel" data-backdrop="static" data-keyboard="false"
     aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; border-radius: 25px; margin-top: 30%">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 18px" id="otifModalLabel">Add OTIF Date</h5>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>-->
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <form>
              <div class="row mt-4">
                <div class="col form-inline">
                  <label>Date <span class="text-danger font-weight-bold" style="font-size: 14px">*</span></label>
                  <div class="input-group" style="margin-left: 3%;
                   width: 76%;">
                    <input class="form-control form-control-sm" (dateSelect)="getOtifDate($event)"
                           placeholder="yyyy-MM-dd" name="dp3"
                           [(ngModel)]="otifModel"
                           ngbDatepicker #d4="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary btn-sm no-shadow" (click)="d4.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                  <span class="text-danger">{{otifDateMsg}}</span>
                </div>
              </div>
            </form>

            <div class="row mt-4">
              <div class="col d-flex justify-content-center">
                <button class="btn  btn-md"
                        type="submit" data-dismiss="modal"
                        [disabled]="!otifDateValid"
                        (click)="otifSet()"
                        style="background: darkcyan; color:white">
                  Set Date
                </button>

                <button class="btn btn-sm" data-dismiss="modal"
                        (click)="otifUnset()"
                        style="background: brown;color: white;">
                  Cancel
                </button>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--confirm box-->


<button id="openConfirmModal" [hidden]="true" data-toggle="modal" data-target="#confirmModal">Open Modal
</button>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmModalLabel" data-backdrop="static" data-keyboard="false"
     aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; border-radius: 25px; margin-top: 30%;width:544px">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 18px" id="confirmModalLabel">
          Warning !!
        </h5>
      </div>
      <div class="modal-body">
        <p style="font-weight: 400;">
          Current plan is in process, still you want to create new plan?
          <br>
          Current Plan data will be lost.
        </p>
        <div class="row">
          <div class="col-sm-12">

            <div class="row mt-4">
              <div class="col d-flex justify-content-center">
                <button class="btn  btn-md"
                        type="submit" data-dismiss="modal"
                        (click)="yes()"
                        style="background: darkcyan; color:white">
                  YES
                </button>

                <button class="btn btn-sm" data-dismiss="modal"
                        (click)="no()"
                        style="background: brown;color: white;">
                  Cancel
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
