<!--- Complete Table -->
<div class="card stocks-card">
  <div class="d-flex">
    <input type="text" placeholder="Search" class="form-control-sm btn-rounded w-auto ng-pristine ng-valid ng-touched"
           [(ngModel)]="searchTerm"/>
  </div>
  <div class="card-body" style="padding: 0.25rem!important">
    <table class="table  border receipt-table">
      <thead>
      <tr>
        <th sortable="itemCode"> Material Code</th>
        <th sortable="itemDescription">Description</th>
        <th sortable="totalReceiptStock">Total Receipt Stock</th>
        <th sortable="lotWiseReceiptStock">Lotwise Receipt Stock</th>
        <th sortable="lotNumber">Lot Number</th>
        <th sortable="supplierName">Supplier Name</th>
        <th sortable="poNumber">Po number</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let filterValue of filterDataList | slice: (cpage-1) * cpageSize : (cpage-1) * cpageSize + cpageSize">
        <td class="font-weight-bold">
          <ngb-highlight [result]="filterValue.itemCode" [term]="searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="filterValue.itemDescription" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right">
          <ngb-highlight [result]="filterValue.totalReceiptStock" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right">
          <ngb-highlight [result]="filterValue.lotWiseReceiptStock" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right">
          <ngb-highlight [result]="filterValue.lotNumber" [term]="searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="filterValue.supplierName" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right">
          <ngb-highlight [result]="filterValue.poNumber" [term]="csearchTerm"></ngb-highlight>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-content-end flex-wrap" style="margin-top: -1%; margin-bottom: 0px!important; ">
    <ngb-pagination [maxSize]="5" [(page)]="cpage"
                    [pageSize]="cpageSize"
                    [collectionSize]="totalLengthOfCollection" [rotate]="true" [ellipses]="false"
                    [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>
