<div class="card bg-success">
    <div class="card-body">
        <div class="d-flex">
            <div class="m-r-20 align-self-center">
                <h1 class="text-white">
                    <i class="ti-pie-chart"></i>
                </h1>
            </div>
            <div>
                <h3 class="card-title text-white" style="font-size: 20px">Bandwidth usage</h3>
                <h6 class="card-subtitle text-white" >March 2017</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-6 align-self-center">
                <h2 class="font-light text-white" style="font-size: 25px">50 GB</h2>
            </div>
            <div class="col-6 ml-auto p-r-20  d-flex justify-content-end flex-column">
                <div class="ml-auto d-flex flex-column">
                    <apx-chart [series]="bandwidthChartOptions.series" [chart]="bandwidthChartOptions.chart"
                        [dataLabels]="bandwidthChartOptions.dataLabels" [legend]="bandwidthChartOptions.legends"
                        [colors]="bandwidthChartOptions.colors" [stroke]="bandwidthChartOptions.stroke"
                        [labels]="bandwidthChartOptions.labels" [tooltip]="bandwidthChartOptions.tooltip"
                        [plotOptions]="bandwidthChartOptions.plotOptions"></apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>
