<div class="row">
  <div class="col-sm-3">
    <h5>File Validation and Data Execution</h5>
    <!-- <button class="header-btn btn btn-rounded "
     >File Validation and Data Execution</button>-->
  </div>
  <div class="col-sm-6">
    <div style="display: flex; justify-content: space-evenly">
      <span>
            <i class="square-icon far" style="color:green;">&#x25A0;</i>&nbsp;
            <span style="margin-left: -3%">Validation Successful</span>
      </span>
      <span>
            <i class="square-icon far" style="color:red;">&#x25A0;</i>&nbsp;
            <span style="margin-left: -3%">Validation Error</span>
      </span>
      <span>
            <i class="square-icon far" style="color: #ec5800;">&#x25A0;</i>&nbsp;
            <span style="margin-left: -3%">Execution Error</span>
      </span>
    </div>
  </div>
  <div class="col-sm-3 text-right">

    <button class="btn  btn-outline-dark" [disabled]="executeBtn"
            (click)="goToExecution()"
            style="font-size:14px;
                padding-top: 3px; padding-bottom: 3px"
    >Go to Execution
    </button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm-2">
    <div class="card-lft">
      <div class="row">
        <div class="col">
          <h5>Plan</h5>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label>Name </label>
          <div class="disabled-field">
            <div class="word-wrap-table-cell" title="{{mpsState2.mpsName}}">
              {{mpsState2.mpsName}}
            </div>
          </div>

        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <label> Date </label>
          <div class="disabled-field">
            {{mpsState2.mpsDateStr}}
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <label>Tag </label>
          <div class="disabled-field">
            {{mpsState2.tagDescription}}
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col">
          <label>Otif Date</label>
          <div class="disabled-field">
            {{mpsState2.otifDate}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="card-rhs">
      <div class="row">
        <div class="col-sm-2">
          <h5> Uploaded Files</h5>
        </div>
        <div class="col-sm-6 form-inline">
          <ng-container *ngIf="errorMsg!==''">
            <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close"
               id="myDIV">
              <strong>{{errorMsg}}</strong>
            </p>
          </ng-container>
        </div>
        <div class="col-sm-4 d-flex justify-content-end">
          <ng-container *ngIf="isError"></ng-container>
          <button class="btn  btn-outline-danger" [hidden]="planModuleService.validationErrorBtn"
                  style="font-size:14px; background: white; color:red;
                padding-top: 3px; padding-bottom: 3px" data-toggle="modal" data-target="#validationErrorModal"
          >Validation Errors
          </button>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-sm-3">
          <div class="table-scroll">
            <table class="table table-bordered module-table">
              <thead class="header-sticky">
              <tr>
                <th>{{folders[0]}}</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let file of allFilesAvailable[folders[0]]; let i = index">
                <tr>
                  <td
                    [ngClass]="(planModuleService.executionError=== false && planModuleService.mpsState.isExecutionDone!==true)? 'execution-error-icon-color':file.validationStatus === true ? 'bg-validated' : 'bg-wrong'">
                    {{
                    file.fileName + "." + file.extension
                    }}
                    <ng-container *ngIf="file.isRequired === true ">
                      <span class="text-danger font-weight-bold" style="font-size: 16px">*</span>
                    </ng-container>
                    <!--  <ng-container *ngIf="planModuleService.executionError=== false ">
                        <i class="square-icon far execution-error-icon-color">&#x25A0;</i>&nbsp;
                      </ng-container>-->
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="table-scroll ">
            <table class="table table-bordered module-table">
              <thead class="header-sticky">
              <tr>
                <th>{{folders[1]}}</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let file of allFilesAvailable[folders[1]]; let i = index">
                <tr>
                  <td
                    [ngClass]="(planModuleService.executionError=== false && planModuleService.mpsState.isExecutionDone!==true)? 'execution-error-icon-color':file.validationStatus === true ? 'bg-validated' : 'bg-wrong'">
                    {{
                    file.fileName + "." + file.extension
                    }}
                    <ng-container *ngIf="file.isRequired === true ">
                      <span class="text-danger font-weight-bold" style="font-size: 16px">*</span>
                    </ng-container>
                    <!-- <ng-container *ngIf="planModuleService.executionError=== false ">
                       <i class="square-icon far execution-error-icon-color">&#x25A0;</i>&nbsp;
                     </ng-container>-->
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="table-scroll ">
            <table class="table table-bordered module-table">
              <thead class="header-sticky">
              <tr>
                <th>{{folders[2]}}</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let file of allFilesAvailable[folders[2]]; let i = index">

                <tr>
                  <td
                    [ngClass]="(planModuleService.executionError=== false && planModuleService.mpsState.isExecutionDone!==true)? 'execution-error-icon-color':file.validationStatus === true ? 'bg-validated' : 'bg-wrong'">
                    {{
                    file.fileName + "." + file.extension
                    }}
                    <ng-container *ngIf="file.isRequired === true ">
                      <span class="text-danger font-weight-bold" style="font-size: 16px">*</span>
                    </ng-container>
                    <!-- <ng-container *ngIf="planModuleService.executionError=== false ">
                       <i class="square-icon far execution-error-icon-color">&#x25A0;</i>&nbsp;
                     </ng-container>-->
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>


        </div>
        <div class="col-sm-3">
          <div class="table-scroll">
            <table class="table table-bordered module-table">
              <thead class="header-sticky">
              <tr>
                <th>{{folders[3]}}</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let file of allFilesAvailable[folders[3]]; let i = index">

                <tr>
                  <td
                    [ngClass]="(planModuleService.executionError=== false && planModuleService.mpsState.isExecutionDone!==true)? 'execution-error-icon-color':file.validationStatus === true ? 'bg-validated' : 'bg-wrong'">
                    {{
                    file.fileName + "." + file.extension
                    }}
                    <ng-container *ngIf="file.isRequired === true ">
                      <span class="text-danger font-weight-bold" style="font-size: 16px">*</span>
                    </ng-container>
                    <!-- <ng-container *ngIf="planModuleService.executionError=== false ">
                       <i class="square-icon far execution-error-icon-color">&#x25A0;</i>&nbsp;
                     </ng-container>-->
                  </td>
                </tr>

              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="validationErrorModal" tabindex="-1" role="dialog"
     aria-labelledby="validationErrorModalLabel" data-backdrop="static"
     aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" style=" border: 5px solid #00bdda;
    margin-top: 8%; margin-left: -52%; width: 200%;">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 18px" id="validationErrorModalLabel">Validation Errors</h5>

        <button class="excel-icon-btn" data-toggle="tooltip" (click)="exportAsXLSX()">
          <i><img src="../../../../assets/images/big/excel.png"></i>
        </button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="validation-scroll">
              <table class="table table-bordered validation-table" id="errorTable" #TABLE>
                <thead class="header-sticky">
                <tr>
                  <th>File Name</th>
                  <th>Data Field</th>
                  <th>Full Description</th>
                  <th>Error Type</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let validationData of validationErrorList">
                  <tr>
                    <td>{{validationData?.fileName}}</td>
                    <td>{{validationData?.fieldName}}</td>
                    <td>{{validationData?.errorDescription}}</td>
                    <td>{{validationData?.errorType}}</td>
                  </tr>
                </ng-container>
                </tbody>
              </table>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--execution popup-->

<button id="openExecutionModal" [hidden]="true" data-toggle="modal" data-target="#executionModal">Open Modal
</button>

<div class="modal fade" id="executionModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
     aria-labelledby="executionModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda;
     max-width: 78%;
    margin-left: 10%;
    margin-top: 24%;
">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 18px" id="executionModalLabel">Plan Execution Status</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>-->
      </div>
      <div class="modal-body">
        <div class="row" style="margin-top: -5px">
          <div class="col-sm-12">
            <div class="card-execution">
              <h4>Data execution Successful...click following to see the executed data...</h4>
              <div class="text-center" style="padding: 2%;margin-top: 2%;">
                <button class="btn btn-light btn-lg" (click)="viewModule()" data-dismiss="modal"
                        style="width: 50%;  border: 5px solid darkturquoise;">
                  Go to CSP Home Page
                </button>
              </div>
              <button id="closemodelbuttoncsp" [hidden]="true" type="button"
                      class="btn btn-info waves-effect text-left"
                      data-dismiss="modal">closeModel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<button id="openCreateApiErrorModal" [hidden]="true" data-toggle="modal" data-target="#createApiErrorModal">Open Modal
</button>

<div class="modal fade" id="createApiErrorModal" tabindex="-1" role="dialog" data-backdrop="static"
     data-keyboard="false"
     aria-labelledby="createApiErrorLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda;
     max-width: 78%;
    margin-left: 10%;
    margin-top: 24%;
">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 18px" id="createApiErrorLabel">Execution Error Status</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>-->
      </div>
      <div class="modal-body">
        <div class="row" style="margin-top: -5px">
          <div class="col-sm-12">
            <div class="validation-scroll">
              <table class="table table-bordered validation-table" id="errorTable2" #TABLE>
                <thead class="header-sticky">
                <tr>
                  <th>Module Name</th>
                  <th>Error</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let executionData of executionErrorList">
                  <tr>
                    <td>{{executionData?.moduleName}}</td>
                    <td>{{executionData?.errorMessage}}</td>
                  </tr>
                </ng-container>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                style=" background: darkcyan;color: white;"
                data-dismiss="modal">OK
        </button>
      </div>
    </div>
  </div>
</div>
