.card-lft{
  padding: 4%;
  box-shadow: 0 4px 6px 3px rgba(0,0,0,0.1);
  border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0.75rem 0.75rem!important;
  height: 490px;
  background: #F8F8F8;
}
.card-rhs{
  padding: 1%;
  box-shadow: 0 4px 6px 3px rgba(0,0,0,0.1);
  border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0.75rem 0.75rem!important;
  height: 490px;
  background: #F8F8F8;
}


.card-top{
  padding: 1%;
  box-shadow: 0 4px 6px 3px rgba(0,0,0,0.2);
  border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0.75rem 0.75rem!important;
}
.card-bottom{
  padding: 1%;
  box-shadow: 0 4px 6px 3px rgba(0,0,0,0.2);
  border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0.75rem 0.75rem!important;
  height: 428px;
}
.inp-css{
  border: 1px solid lightgrey;
  background: white;

}

.card{
  height: 412px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0.75rem 0.75rem!important;
}
#ngx .ng-valid, .ng-touched.ng-valid {
  border-color: lightgrey!important;
}
#ngx .ng-invalid, .ng-touched.ng-invalid {
  border-color: lightgrey!important;
}
.list-card{
  padding: 2%;
  margin-top: 6%;
}

.list-group-item{
  border-color: #868e96!important;
  padding: 0.55rem 1.15rem!important;

}
.card-footer{
  border-top: 1px solid lightgrey;
  margin-top: 35%;
  border-radius: 0rem 0rem 0.75rem 0.75rem;
  background: white;
}
.card-header{
  border-radius: 0.75rem 0.75rem 0rem 0rem;
  font-weight: 500;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: white;
  border-bottom: 1px solid grey;
}
.header-btn{
  color: #fff;
  background: darkcyan;
  /*font-weight: 500;*/
  font-size:14px;
  padding-top: 3px; padding-bottom: 3px
}
input{
  border-color: #868e96!important;
  background: white;
}

label{
  font-weight: 400!important;
  font-size: 15px;
}
h5{
  font-weight: 500;
}
.mps-input{
  border: 1px solid #868e96;
  padding: 1%;
  width: 56%;
  margin-left: 2%;
  background: white;
}
.disabled-field
{
  padding: 3%;
  width: 100%;
  height: 36px;
  border: 1px solid lightgrey;
  background-color: #e9ecef;
  opacity: 1;
  font-size: 15px;
  font-weight: 500;
}
.module-table th,td{
  padding: 8px!important;
  white-space: nowrap;
}
.module-table td{
  font-size: 15px;
}
.module-table th{
  font-size: 18px;
  color: white;
}
.module-table thead{
  background:darkcyan;
  color:white;
}
.module-table{
  transform-style: preserve-3d;
  width: 100%;
}
table#moduleTable tbody {
  display: block;
  /* max-height: 200px;*/
  /*  overflow-y: auto;
    overflow-x: hidden;*/
}

table#moduleTable thead, table#moduleTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}
.table-scroll{
  height: 406px;
  overflow: auto;
  background: white;
  border: 1px solid lightgrey;
}
.excel-icon-btn {
  position: absolute;
  top: 15px;
  left: 92%;
  border: none;
  cursor: pointer;
  background: transparent;
}

.validation-scroll{
  max-height: 480px;
  min-height: auto;
  overflow: auto;
  background: white;
  border: 1px solid lightgrey;
}
.succes-msg {
  position: absolute;
  top: 1%;
  color: white;
  padding: 4px 10px 4px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}



.validation-table th,td{
  padding: 4px!important;
  white-space: nowrap;
}
.validation-table td{
  font-size: 13px;
}
.validation-table th{
  font-size: 16px;
  color: white;
}
.validation-table thead{
  background:darkcyan;
  color:white;
}
.validation-table{
  transform-style: preserve-3d;
  width: 100%;
}
table#errorTable tbody {
  overflow-y: auto;
  overflow-x: hidden;
  /* max-height: 200px;*/
  /*  overflow-y: auto;
    overflow-x: hidden;*/
}

table#errorTable thead, table#errorTable tbody tr {
 /* display: table;
  width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}
/*.validation-scroll{
  max-height: 482px;
  min-height: auto;
  overflow: auto;
  background: white;
  border: 1px solid lightgrey;
}*/
.bg-validated {
  /* background-color: #ccffcc;*/
  color:green;
  font-size: 16px;
  font-weight: 600;
}

.bg-correct {
  /* background-color: #e6ffff;*/
  color:#3399ff;
  font-size: 16px;
  font-weight: 600;
}

.bg-wrong {
  /* background-color:  #ffcccc;*/
  color:red;
  font-weight: 600;
}
.word-wrap-table-cell {
  cursor: pointer;
  white-space: nowrap;
  width: 164px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.square-icon{
  font-size: 22px;
}
.execution-error-icon-color {
  color: #ec5800 !important;
  /*float: right;*/
}

table#errorTable2 tbody {
  overflow-y: auto;
  overflow-x: hidden;
  /* max-height: 200px;*/
  /*  overflow-y: auto;
    overflow-x: hidden;*/
}

table#errorTable2 thead, table#errorTable2 tbody tr {
  /* display: table;
   width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}
.td-style{
  display: flex;
  justify-content: space-between;
}
