<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(../../../assets/images/background/loginbg.jpg) no-repeat center center;">
  <div class="auth-box m-3 m-md-0 box-css">
    <div>
      <div class="logo">
        <span class="db"><img src="../../../assets/images/csp-light-logo.png" style="height:55px" alt="logo" /></span>
        <h5 class="font-medium m-b-20 text-light">Sign In to CSP</h5>
      </div>
      <!-- Form -->
      <div class="row" style="margin-top: -4%">
        <div class="col-12">
          <form class="form-horizontal m-t-20" autocomplete="off" id="loginform" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
              </div>
              <input type="text" class="form-control"
                     formControlName="username" autocomplete="off"
                     placeholder="Username"  aria-describedby="basic-addon1">
            </div>
            <small class="text-danger error-msg" *ngIf="!loginForm.get('username')!.valid && loginForm.get('username')!.touched">
              please enter valid username
            </small>
            <div class="input-group mb-3 mt-4">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
              </div>
              <input type="password" class="form-control" autocomplete="off"
                     formControlName="password" placeholder="Password"  aria-describedby="basic-addon1">
            </div>
           <small class="text-danger pass-error" *ngIf="!loginForm.get('password')!.valid && loginForm.get('password')!.touched">
              please enter valid password
            </small>
            <small class="text-danger pass-error" *ngIf="error!== '' && !(!loginForm.get('password')!.valid && loginForm.get('password')!.touched)"><i>{{ error }}</i></small>

            <div class="form-group row">
              <div class="col-md-12">
              </div>
            </div>
            <div class="form-group text-center">
              <div class="col-xs-12 p-b-20">
                <button type="submit" class="btn btn-block btn-lg btn-dark" [disabled]="!loginForm.valid">Submit</button>
                <!-- <a class="btn btn-block btn-lg btn-dark"  (click)="logIn()">Log In</a>-->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
