<div class="card stocks-card">
  <div class="d-flex">
    <input type="text" placeholder="Search" class="form-control-sm btn-rounded w-auto ng-pristine ng-valid ng-touched"
           [(ngModel)]="searchTerm"/>
  </div>
  <div class="card-body" style="padding: 0.25rem!important">
    <table class="table  border masterData-table">
      <thead>
      <tr>
        <th sortable="name">Name</th>
        <th sortable="capacityPerShift">Capacity Per Shift</th>
        <th sortable="shifts">Shifts</th>
        <th sortable="speed">Speed</th>
        <th sortable="gupTime">G Up Time</th>
        <th sortable="modPerLinePerShift">Mod Per Line Per Shift</th>
        <th sortable="hrsPerShift">Hrs Per Shift</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let filterValue of filterDataList | slice: (cpage-1) * cpageSize : (cpage-1) * cpageSize + cpageSize">
        <td class="font-weight-bold">
          <ngb-highlight [result]="filterValue.name" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right" >
          <ngb-highlight [result]="filterValue.capacityPerShift" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right" >
          <ngb-highlight [result]="filterValue.shifts" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right" >
          <ngb-highlight [result]="filterValue.speed" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right" >
          <ngb-highlight [result]="filterValue.gupTime" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right" >
          <ngb-highlight [result]="filterValue.modPerLinePerShift" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right" >
          <ngb-highlight [result]="filterValue.hrsPerShift" [term]="searchTerm"></ngb-highlight>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-content-end flex-wrap" style="margin-top: -1%; margin-bottom: 0px!important; ">
    <ngb-pagination [maxSize]="5" [(page)]="cpage"
                    [pageSize]="cpageSize"
                    [collectionSize]="totalLengthOfCollection" [rotate]="true" [ellipses]="false"
                    [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>
