
.fontSizeTabs {
  font-size: 20px;
  padding-top: 4px;
  padding-bottom: 3px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-bottom: none;
}

.nav-tabs {
  border-bottom: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  /*
   border-radius: 25px;*/
  padding: 2px 15px 2px 15px;
  border: 1px solid darkcyan;
  background: darkcyan;
  color: white;
}
.by-default{
  background: white;
  color: #000;

  padding: 2px 15px 2px 15px;
  border: 1px solid grey;
}
.tab-content{
  border: 0.30441400304414vh solid lightslategrey;
  /*padding: 1%;*/
  margin-bottom: 0px;
  background: white;
  margin-top: -10px;
  padding: 1%;
  height: auto;
}
