<div class="row" style="margin-top: -1%">
  <div class="col-sm-12">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <button class="nav-link by-default btn"
                id="nav-org-tabb" data-toggle="tab"
                role="tab" [ngClass]="firstTabClicked ? 'active ' : ''"
                queryParamsHandling="preserve"
                (click)="firstTabClicked=true; secondTabClicked=false;"
                aria-controls="nav-org" aria-selected="false"  routerLinkActive="active" routerLink="organisation">Organisation </button>
      </li>
      <li class="nav-item">
        <button class="nav-link by-default btn"  id="nav-user-tab" data-toggle="tab"
                role="tab"  aria-controls="nav-userr"
                [ngClass]="secondTabClicked ? 'active ' : ''"
                queryParamsHandling="preserve"
                (click)="firstTabClicked=false;secondTabClicked=true;"
                routerLinkActive="active" routerLink="users"
                aria-selected="true">Users </button>
      </li>
    </ul>
    <div style="margin-top: -1%">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

















<!--<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 1%">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card border" style="margin-bottom: 0px!important;">
          <div class="card-header" style="padding-bottom: 1px; background: lightgoldenrodyellow">
            <nav>
              <div class="nav nav-tabs" id="nav-tabb" role="tablist">
                <a class="nav-item nav-link  fontSizeTabs" id="nav-org-tabb" data-toggle="tab"
                   role="tab" [ngClass]="firstTabClicked ? 'active ' : ''"
                   queryParamsHandling="preserve"
                   (click)="firstTabClicked=true; secondTabClicked=false;"
                   aria-controls="nav-org" aria-selected="false"  routerLinkActive="active" routerLink="organisation"> Organization</a>
                <a class="nav-item nav-link  fontSizeTabs" id="nav-user-tab" data-toggle="tab"
                   role="tab"  aria-controls="nav-userr"
                   [ngClass]="secondTabClicked ? 'active ' : ''"
                   queryParamsHandling="preserve"
                   (click)="firstTabClicked=false;secondTabClicked=true;"
                   routerLinkActive="active" routerLink="users"
                   aria-selected="true">Users</a>
              </div>
            </nav>

          </div>
          <div class="card-body" style="padding: 1%">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
