// header part
@import "notify";

/*******************
 General Topbar
*******************/

.topbar {
  position: relative;
  z-index: 50;
  transition: $transitions;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.05);
  background: $topbar;
  height: $topbar-height;

  .navbar-collapse {
    padding: 0px 10px 0 0;
  }

  .top-navbar {
    min-height: $topbar-height;
    padding: 0px;

    .dropdown-toggle::after {
      display: none;
    }

    .navbar-header {
  /*    line-height: $topbar-navlink-height;*/

      .navbar-brand {
        display: flex;
        align-items: center;
        margin: 0px;
        padding: $topbar-navbrand-padding;

        .dark-logo {
          display: none;
        }

        .logo-icon {
          margin-right: 5px;
        }
      }
    }

    .navbar-nav > .nav-item > .nav-link {
      padding: $topbar-navlink-padding;
      font-size: $topbar-navlink-font-size;
      line-height: $topbar-navlink-height;
      height: $topbar-navlink-height;
    }

    .navbar-nav > .nav-item > .nav-link.sidebartoggler {
      padding-top: 2px;
    }

    .navbar-nav > .nav-item {
      transition: 0.2s ease-in;
    }

    .app-search {
      position: relative;
      margin-top: 13px;
      margin-right: 10px;
      display: inline-block;

      input {
        width: 200px;
        border-radius: 100px;
        font-size: 14px;
        transition: 0.5s ease-in;

        &:focus {
          width: 240px;
        }
      }

      .srh-btn {
        position: absolute;
        top: 8px;
        cursor: pointer;
        width: 15px;
        height: 15px;
        right: 10px;
        font-size: 14px;
      }
    }
  }

  .user-dd,
  .mailbox {
    min-width: 206px;
  }

  .nav-toggler,
  .topbartoggler {
    color: $theme-light;
    padding: 0 15px;
  }
}

.search-box {
  .app-search {
    z-index: 110;
    width: 100%;
    top: -1px;
    box-shadow: $shadow;
    display: none;
    left: 0px;

    &.show-search {
      display: block;
    }

    .form-control {
      padding: 23px 40px 20px 23px;
      @extend %square;
      transition: $transitions;

      &:focus {
        border-color: transparent;
      }
    }

    .srh-btn {
      position: absolute;
      top: 23px;
      cursor: pointer;
      right: 20px;
    }
  }
}

/*******************
Megamenu
******************/
.topbar {
  .mega-dropdown {
    position: static;

    .dropdown-menu {
      padding: 30px;
      @extend %square;
      width: 100%;
      min-height: 480px;
      overflow: auto;
      transform: translate(0px, 58px) !important;
    }
  }
}

/*******************
Designed dropdown
******************/
.topbar {
  .dropdown-menu {
    padding-top: 0px;
    border: 0px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);

    .with-arrow {
      position: absolute;
      height: 10px;
      overflow: hidden;
      width: 40px;
      top: -10px;

      > span {
        @extend %rotate45;
        background-color: $white;
        width: 15px;
        height: 15px;
        top: 3px;
        left: 15px;
        position: absolute;
        content: "";
        -moz-border-radius: 6px 0 0 0;
        border-radius: 6px 0 0 0;
        /*box-shadow:-3px -3px 8px rgba(0, 0, 0, 0.1);    */
      }
    }

    &.dropdown-menu-right {
      .with-arrow {
        left: 0px;

        > span {
          left: 10px;
          right: auto;
        }
      }
    }
  }
}

/*******************
Topbar Responsive
******************/

@media (max-width: 1023px) {
  .topbar .top-navbar {
    .navbar-collapse.show,
    .navbar-collapse.collapsing {
      display: block;
      width: 100%;
      border-top: 1px solid $border-color;
    }

    .navbar-nav {
      flex-direction: row;
    }

    .navbar-nav > .nav-item > .nav-link {
      padding: 0 10px;
    }

    .navbar-header {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
  }
}

@media (max-width: 767px) {
  .topbar .top-navbar {
    .navbar-nav {
      .dropdown {
        position: static;
      }
    }
    .dropdown-menu {
      position: absolute;
      width: 100%;
      left: 0 !important;
      transform: translate(0px, 64px) !important;
      .with-arrow {
        display: none;
      }
    }
  }
}
