<div class="card stocks-card">
  <div class="d-flex">
    <input type="text" placeholder="Search" class="form-control-sm btn-rounded w-auto ng-pristine ng-valid ng-touched"
           [(ngModel)]="searchTerm"/>
  </div>
  <div class="card-body" style="padding: 0.25rem!important">
    <table class="table  border masterData-table " id="fg-material-Table">
      <thead>
      <tr>
        <th sortable="bulkCode">Bulk Code</th>
        <th sortable="bulkDescription">Bulk Description</th>
        <th sortable="rmCode">RM Code</th>
        <th sortable="rmDescription">RM Description</th>
        <th sortable="bulkTotalQuantity">Bulk Total Quantity</th>
        <th sortable="bulkWiseRmQuantity">Bulkwise RM Quantity</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let filterValue of filterDataList | slice: (cpage-1) * cpageSize : (cpage-1) * cpageSize + cpageSize">
        <td class="font-weight-bold">
          <ngb-highlight [result]="filterValue.bulkCode" [term]="searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="filterValue.bulkDescription" [term]="searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="filterValue.rmCode" [term]="searchTerm"></ngb-highlight>
        </td>
        <td>
            <ngb-highlight [result]="filterValue.rmDescription" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right">
          <ngb-highlight [result]="filterValue.bulkTotalQuantity" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right">
          <ngb-highlight [result]="filterValue.bulkWiseRmQuantity" [term]="searchTerm"></ngb-highlight>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-content-end flex-wrap" style="margin-top: -1%; margin-bottom: 0px!important; ">
    <ngb-pagination [maxSize]="5" [(page)]="cpage"
                    [pageSize]="cpageSize"
                    [collectionSize]="totalLengthOfCollection" [rotate]="true" [ellipses]="false"
                    [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>
