
<div style="padding:0.625em">
  <div class="row" style="margin-top: -2%">
    <div class="col-sm-12">
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-md-7">
            <div class="form-inline">
              <nav aria-label="breadcrumb" style="margin-left: -2%">
                <ol class="breadcrumb">
                  <!--  <li class="breadcrumb-item">
                      <a href='javascript:void(0)'>Home</a>
                    </li>-->
                  <ng-container *ngIf="executionFlowPageService.loginUsers !== 'analyzer'">
                    <li class="breadcrumb-item active">Analytics</li>
                  </ng-container>
                  <!--<li class="breadcrumb-item ">Current Plan</li>-->
                  <ng-container *ngIf="executionFlowPageService.loginUsers === 'analyzer'">
                    <li class="breadcrumb-item active">PM Analytics</li>
                  </ng-container>
                <!--  <li class="breadcrumb-item  font-weight-bold text-dark">Current Plan</li>-->
                  <li class="breadcrumb-item  font-weight-bold text-dark">Mould Saturation</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-5 d-flex justify-content-end">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row " >
    <div class="col-sm-3 pr-0">
      <div class="left-card ">
        <span class="form-inline">
        <h4 class="font-weight-bold" style="font-size: 2.43531202435312vh">Mould Wise</h4>
        <div class="select-supplier inp-css">

          <angular2-multiselect
            [data]="monthSelectList"
            [(ngModel)]="singleselectedItems"
            [settings]="singledropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onDeSelect)="onItemDeSelect()">
          </angular2-multiselect>
        </div>
        </span>
        <div class="row" style="margin-top: 2%">
          <div class="col-sm-5">
            <div class="summary-chart-card">
              <canvas id="Mould_SATURATION_RANGEWISE" width="400" height="420" style="position:absolute; margin-left: 2%; margin-top: 11%">
                {{rangeWiseLinesSaturationChartData}}
              </canvas>
            </div>
          </div>
          <div class="col-sm-7">
            <table class="table table-bordered trending-supplier-legends">
              <thead class="text-center text-white" style="background: black">
              <tr>
                <th> Range</th>
                <th> Count</th>
              </tr>
              </thead>
              <tbody class="text-center font-weight-bold">
              <tr>
                <td class="font-size-lg">Total</td>
                <td class="font-size-lg">
                  {{rangeWiseMouldSaturation?.totalCount}}
                </td>
              </tr>
              <tr>
                <td>
                    <span class="form-inline justify-content-center">
                           <i class="legend-i"  style="color: #db0000 ;">&#x25A0;</i>
                           <span  style="margin-left: 5%">{{rangeWiseMouldSaturation?.highSaturationRange}}</span>
                    </span>
                </td>
                <td>{{rangeWiseMouldSaturation?.highSaturationRangeListCount}}</td>
              </tr>
              <tr>
                <td>
                   <span class="form-inline justify-content-center">
                           <i class="legend-i"  style="color:#7b97ff;">&#x25A0;</i>
                           <span  style="margin-left: 5%">
                             {{rangeWiseMouldSaturation?.mediumSaturationRange}}</span>
                    </span>
                </td>
                <td>{{rangeWiseMouldSaturation?.mediumSaturationRangeListCount}}</td>
              </tr>
              <tr>
                <td>
                   <span class="form-inline justify-content-center">
                           <i class="legend-i"  style="color:green;">&#x25A0;</i>
                           <span class=" justify-content-center" style="margin-left: 5%"> {{rangeWiseMouldSaturation?.lowSaturationRange}} </span>
                    </span>
                </td>
                <td>{{rangeWiseMouldSaturation?.lowSaturationRangeListCount}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <ng-container>
              <div id="accordion" class="accordion-style">
                <div class="panel card collpased-card-css">
                  <div class="card-header panel-heading collapse-header-css high-bg-header" (click)="firstPanel=true; secondPanel=false; thirdPanel=false;"
                       data-toggle="collapse" data-target="#collapseOne"  id="headingOne">
                    <i class="fa  icon-css"
                       [class.fa-caret-right]="!firstPanel"
                       [class.fa-caret-down]="firstPanel"
                       aria-expanded="true" aria-controls="collapseOne"></i>
                    <span style="margin-left: 3%; color: white;">Equal to or greater than 70</span>
                    <span style="position: absolute;left: 72%; color: white; ">(Count: {{rangeWiseMouldSaturation?.highSaturationRangeListCount}})</span>

                  </div>

                  <div id="collapseOne" class="collapse show panel-collapse"
                       aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body collapse-body">
                      <div class="sm-table-scroll">
                        <table class="table table-bordered sm-table">
                          <thead class="header-sticky text-center">
                          <tr>
                            <th>Mould Name</th>
                            <th>Saturation %</th>
                          </tr>
                          </thead>
                          <tbody class="text-center">
                          <ng-container *ngFor="let highData of highSaturationRangeMouldDTOList">
                            <tr>
                              <td style="font-weight: bold">{{highData?.mouldName}}</td>
                              <td>{{highData?.avgSaturationPercentage}}</td>
                            </tr>
                          </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card panel collpased-card-css">
                  <div class="card-header panel-heading collapse-header-css medium-bg-header" (click)="firstPanel=false; secondPanel=true; thirdPanel=false;"
                       data-target="#collapseTwo"  data-toggle="collapse"  id="headingTwo">
                    <i class="fa icon-css"
                       [class.fa-caret-right]="!secondPanel"
                       [class.fa-caret-down]="secondPanel"
                       aria-expanded="false" aria-controls="collapseTwo"></i>
                    <span style="margin-left: 3%; color: white; ">Between 40 to 69</span>
                    <span style="position: absolute;left: 72%; color: white; ">(Count: {{rangeWiseMouldSaturation?.mediumSaturationRangeListCount}})</span>
                  </div>
                  <div id="collapseTwo" class="collapse panel-collapse"
                       aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body collapse-body">
                      <div class="sm-table-scroll">
                        <table class="table table-bordered sm-table" >
                          <thead class="header-sticky text-center">
                          <tr>
                            <th>Mould Name</th>
                            <th>Saturation %</th>
                          </tr>
                          </thead>
                          <tbody class="text-center">
                          <ng-container *ngFor="let mediumData of mediumSaturationRangeMouldDTOList">
                            <tr>
                              <td style="font-weight: bold">{{mediumData?.mouldName}}</td>
                              <td>{{mediumData?.avgSaturationPercentage}}</td>
                            </tr>
                          </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card panel collpased-card-css">
                  <div class="card-header panel-heading collapse-header-css low-bg-header" (click)="firstPanel=false; secondPanel=false; thirdPanel=true;"
                       data-toggle="collapse" data-target="#collapseThree" id="headingThree">
                    <i class="fa  icon-css"
                       [class.fa-caret-right]="!thirdPanel"
                       [class.fa-caret-down]="thirdPanel"
                       aria-expanded="false" aria-controls="collapseThree"></i>
                    <span style="margin-left: 3%; color: white; ">Less Than 40</span>
                    <span style="position: absolute;left: 72%; color: white; ">(Count: {{rangeWiseMouldSaturation?.lowSaturationRangeListCount}})</span>

                  </div>
                  <div id="collapseThree" class="collapse panel-collapse"
                       aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body collapse-body" >
                      <div class="sm-table-scroll">
                        <table class="table table-bordered sm-table" >
                          <thead class="header-sticky text-center">
                          <tr>
                            <th>Mould Name</th>
                            <th>Saturation %</th>
                          </tr>
                          </thead>
                          <tbody class="text-center">
                          <ng-container  *ngFor="let lowData of lowSaturationRangeMouldDTOList">
                            <tr>
                              <td style="font-weight: bold">{{lowData?.mouldName}}</td>
                              <td>{{lowData?.avgSaturationPercentage}}</td>
                            </tr>
                          </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="right-card">
        <h4 class="font-weight-bold" style="font-size: 2.43531202435312vh">Supplier Wise</h4>
        <div class="row">
          <div class="col-sm-2 pr-0">
            <div class="list-scroll">
              <table class="table table-bordered list-table" id="listTable">
                <thead class="header-sticky" style="background: black;">
                  <tr>
                    <th>Supplier List</th>
                  <!--  <th>Code</th>-->
                  </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let listData of supplierList">
                  <tr  [ngClass]="{'highlight' : listData.id == supplierId}">
                    <td class="cursor-pointer" (click)="getSupplierWiseData(listData)">{{listData?.supplierName}}</td>
                  <!--  <td>{{listData?.supplierCode}}</td>-->
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>


         <!--   <div class="list-group">
              <a  class="list-group-item list-group-item-action active list-header" >
                Supplier List
              </a>
              <div class="list-scroll">
                <ng-container *ngFor="let listData of supplierList">
                  <a  class="list-group-item cursor-pointer text-link  list-group-item-action"
                      [ngClass]="{'highlight' : listData.id == supplierId}"
                      (click)="getSupplierWiseData(listData)">{{listData?.supplierName}}</a>
                </ng-container>
              </div>
            </div>-->
          </div>
          <div class="col-sm-10 pl-0">
            <!--<div class="row">
              <div class="col"></div>
            </div>-->
            <div class="supplier-table-scroll">
            <table class="table table-bordered supplier-table" id="supplierTable">
              <thead class="header-sticky">
              <tr>
                <th></th>
                <th>Mould Name</th>
                <th>{{monthNamesList?.month1?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month2?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month3?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month4?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month5?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month6?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month7?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month8?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month9?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month10?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month11?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month12?.monthNameAlias}}</th>
                <th>Avg</th>
              </tr>
              </thead>
              <tbody class="text-right">
              <ng-container *ngFor="let supplierList of supplierTableList; let idx1=index">
              <tr>
                <td>
                  <input type="checkbox" [(ngModel)]="supplierList.selected"
                         (change)="getCheckedItemList(true)">
                </td>
                <td class="text-left" style="font-weight: 500">{{supplierList?.mouldName}}</td>
                <td [ngClass]="supplierList?.m1Value>=70?'danger':''">{{supplierList?.m1Value + '%'}}</td>
                <td [ngClass]="supplierList?.m2Value>=70?'danger':''">{{supplierList?.m2Value + '%'}}</td>
                <td [ngClass]="supplierList?.m3Value>=70?'danger':''">{{supplierList?.m3Value + '%'}}</td>
                <td [ngClass]="supplierList?.m4Value>=70?'danger':''">{{supplierList?.m4Value + '%'}}</td>
                <td [ngClass]="supplierList?.m5Value>=70?'danger':''">{{supplierList?.m5Value + '%'}}</td>
                <td [ngClass]="supplierList?.m6Value>=70?'danger':''">{{supplierList?.m6Value + '%'}}</td>
                <td [ngClass]="supplierList?.m7Value>=70?'danger':''">{{supplierList?.m7Value + '%'}}</td>
                <td [ngClass]="supplierList?.m8Value>=70?'danger':''">{{supplierList?.m8Value + '%'}}</td>
                <td [ngClass]="supplierList?.m9Value>=70?'danger':''">{{supplierList?.m9Value + '%'}}</td>
                <td [ngClass]="supplierList?.m10Value>=70?'danger':''">{{supplierList?.m10Value + '%'}}</td>
                <td [ngClass]="supplierList?.m11Value>=70?'danger':''">{{supplierList?.m11Value + '%'}}</td>
                <td [ngClass]="supplierList?.m12Value>=70?'danger':''">{{supplierList?.m12Value + '%'}}</td>
                <td [ngClass]="supplierList?.monthAverage>=70?'danger':''">{{supplierList?.monthAverage + '%'}}</td>
              </tr>
              </ng-container>
              </tbody>
            </table>
            </div>

            <div class="mixed-card">
              <canvas id="Mixed_chart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
