<div class="material-card card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="card-title">
                    <strong> User Profile</strong>
                </h4>
                <hr>
                <div class="material-card card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="card-title">
                                    <strong> User Details</strong>
                                </h4>
                                <!--<a style="cursor: pointer" class="text-info"-->
                                <!--*ngIf="editUser === 'view'"-->
                                <!--(click)="editUser = 'edit'"-->
                                <!--title="Click here to edit user details">(Edit user details)</a>-->
                                <hr>
                                <ng-container *ngIf="userForm !== undefined && userForm !== null">
                                    <form class="form-horizontal"
                                          [formGroup]="userForm">
                                        <div class="row">
                                            <ng-container *ngIf="editUser === 'edit'">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="form-group col-sm-4">
                                                            <label class="control-label">Username<span
                                                                    class="required"
                                                                    style="color:red">*</span></label>
                                                            <input type="text" class="form-control form-control-sm"
                                                                   autocomplete="off"
                                                                   formControlName="username"
                                                                   required>
                                                        </div>
                                                        <div class="form-group col-sm-4">
                                                            <label class="control-label">First name<span
                                                                    class="required"
                                                                    style="color:red">*</span></label>
                                                            <input type="text" class="form-control form-control-sm"
                                                                   autocomplete="off"
                                                                   formControlName="firstName">
                                                        </div>
                                                        <div class="form-group col-sm-4">
                                                            <label class="control-label">Last name</label>
                                                            <input type="text" class="form-control form-control-sm"
                                                                   autocomplete="off"
                                                                   readonly
                                                                   formControlName="lastName">
                                                        </div>
                                                        <div class="form-group col-sm-6">
                                                            <a style="cursor: pointer" class="text-info"
                                                               data-toggle="modal"
                                                               data-target="#changePassword"
                                                               title="Click here to change to your login passwod">Change
                                                                password</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="editUser === 'view'">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="form-group col-sm-4">
                                                            <label class="control-label">Username</label>
                                                            <input type="text" class="form-control form-control-sm"
                                                                   autocomplete="off"
                                                                   formControlName="username"
                                                                   readonly>
                                                        </div>
                                                        <div class="form-group col-sm-4">
                                                            <label class="control-label">First name</label>
                                                            <input type="text" class="form-control form-control-sm"
                                                                   autocomplete="off"
                                                                   formControlName="firstName"
                                                                   readonly>
                                                        </div>
                                                        <div class="form-group col-sm-4">
                                                            <label class="control-label">Last name</label>
                                                            <input type="text" class="form-control form-control-sm"
                                                                   autocomplete="off"
                                                                   readonly
                                                                   formControlName="lastName">
                                                        </div>
                                                        <div class="form-group col-sm-6">
                                                            <a style="cursor: pointer" class="text-info"
                                                               data-toggle="modal"
                                                               data-target="#changePassword"
                                                               (click)="resetChangePasswordForm()"
                                                               title="Click here to change to your login passwod">Change
                                                                password</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <ng-container *ngIf="editUser === 'edit'">
                                            <div class="row" style="padding-left: 80%">
                                                <button type="submit" class="btn btn-info waves-effect"
                                                        data-dismiss="modal"
                                                        [disabled]="!userForm.valid"
                                                        (click)="saveUserDetails()">
                                                    Submit
                                                </button>
                                            </div>
                                        </ng-container>
                                    </form>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="material-card card">-->
                <!--<div class="card-body">-->
                <!--<div class="row">-->
                <!--<div class="col-sm-12">-->
                <!--<h4 class="card-title">-->
                <!--<strong> Contact Details</strong>-->
                <!--</h4>-->
                <!--<hr>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="material-card card">-->
                <!--<div class="card-body">-->
                <!--<div class="row">-->
                <!--<div class="col-sm-12">-->
                <!--<h4 class="card-title">-->
                <!--<strong>Address Details</strong>-->
                <!--</h4>-->
                <!--<hr>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<div id="changePassword" class="modal fade" role="dialog" data-header-position="top">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <ng-container *ngIf="passwordForm.value.status !== 'RECOVERING'">
                    {{ passwordForm.value.message }}
                </ng-container>
                <ng-container *ngIf="passwordForm.value.status === 'RECOVERING'">
                    <form class="form-horizontal"
                          [formGroup]="passwordForm">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label">Current Password</label>
                                <input type="password" class="form-control form-control-sm"
                                       autocomplete="off"
                                       formControlName="oldPassword">
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="control-label">New Password</label>
                                <input type="password" class="form-control form-control-sm"
                                       (change)="checkConfirmPassword()"
                                       autocomplete="off"
                                       formControlName="newPassword">
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">Confirm New Password</label>
                            <input type="password" class="form-control form-control-sm"
                                   [(ngModel)]="confirmPassword"
                                   (change)="checkConfirmPassword()"
                                   autocomplete="off">
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="modal-footer">
                <ng-container *ngIf="checkPasswordChanged() === 0">
                    <button type="button" class="btn btn-info btn-sm" title="change password"
                            [disabled]="checkConfirmPassword()"
                            (click)="changePassword()">
                        Change Password
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                            data-toggle="modal">
                        Cancel
                    </button>
                </ng-container>
                <ng-container *ngIf="checkPasswordChanged() === 2">
                    <button type="button" class="btn btn-info btn-sm" title="retry to change password"
                            (click)="changePassword()">
                        Retry
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                            data-toggle="modal">
                        Cancel
                    </button>
                </ng-container>
                <ng-container *ngIf="checkPasswordChanged() === 1">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            data-toggle="modal">
                        ok
                    </button>
                </ng-container>
            </div>
        </div>
    </div>
</div>