// ======================================================
// Custom layout variables
// ======================================================
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900");

// ======================================================
// Theme Global setting colors
// ======================================================
$themecolor: #2962ff;
$themecolor-dark: #028ee1;
$themecolor-alt: #26c6da;
$theme-light: #fff;
$theme-dark: #212529;

/*$skin1: linear-gradient(to right, lightseagreen 0%, #00bdda 100%);*/
$skin1: linear-gradient(to right, grey 0%, #00bdda 100%);
$skin2: linear-gradient(to right, #318f94 0%, #5ec58c 100%);
$skin3: black;
$skin4: linear-gradient(to right, #533fd0 0%, #840fb5 100%);
$skin5: linear-gradient(to right, #f62d51 0%, #660fb5 100%);
$skin6: #fff;

// ======================================================
// Topbar settings
// ======================================================
$topbar: $theme-light;
/*$topbar-height: 64px;*/
$topbar-height: 35px;
$topbar-navlink-padding: 0px 14px;
$topbar-navlink-font-size: 0.875rem;
/*$topbar-navlink-height: 64px;*/
$topbar-navlink-height: 35px;
$topbar-navbrand-padding: 0 10px 0 10px;

// ======================================================
// Sidebar settings
// ======================================================
$sidebar: $theme-light;
$sidebar-alt: #e8eff0;
$sidebar-text: #fff;
$sidebar-icons: #fff;
$sidebar-text-dark: #212529;
$sidebar-icons-dark: #4f5467;

$sidebar-width-full: 250px;
$sidebar-width-iconbar: 180px;
$sidebar-width-mini: 65px;

// ======================================================
// Layout settings
// ======================================================
$boxed-width: 1200px;

// ======================================================
// Common settings
// ======================================================
$shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
$transitions: 0.2s ease-in;
$transparent-dark-bg: rgba(0, 0, 0, 0.05);
$lft: left;
$rgt: right;
$card-alt: #e4e9ef;

// ======================================================
// Mixin settings
// ======================================================
%square {
  border-radius: 0px;
}

%rotate45 {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

// ======================================================
// Bootstrap override colors
// ======================================================
$white: #fff !default;
$gray-100: #f2f7f8 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #90a4ae !default;
$gray-600: #868e96 !default;
$gray-700: #4f5467 !default;
$gray-800: #263238 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #7460ee !default;
$indigo: #6610f2 !default;
$purple: #009efb !default;
$pink: #e83e8c !default;
$red: #f62d51 !default;
$orange: #fb8c00 !default;
$yellow: #ffbc34 !default;
$green: #39c449 !default;
$teal: #20c997 !default;
$cyan: #4fc3f7 !default;
$text-muted: $gray-500 !default;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
);

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $purple !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;
$muted: $gray-500 !default;
$cyan: $cyan !default;
$orange: $orange !default;
$theme-colors: () !default;

$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "muted": $muted,
    "cyan": $cyan,
    "orange": $orange,
    "purple": $purple,
    "light-danger": #f9e7eb,
    "light-warning": #fff7eb,
    "light-success": #e8fdeb,
    "light-info": #cfecfe,
  ),
  $theme-colors
);

// ======================================================
// Dark Theme Colors Settings
// ======================================================
$theme-dark-bg-layout: #323743;
$theme-dark-text-color: #b2b9bf !default;
$theme-dark-border-color: rgba(255, 255, 255, 0.2) !default;
$theme-dark-focus-border-color: rgba(255, 255, 255, 0.4) !default;
$theme-dark-card-bg: #272b34;
$theme-dark-bg-light: #3c424e;
$main-body-bg-dark: $gray-900 !default;
$background-alt: #2b2b2b !default;

// ======================================================
// Enable optional
// ======================================================
$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// ======================================================
// Body
// ======================================================
$main-body-bg: #fff !default;
$body-bg: #eef5f9;
$body-color: #3e5569 !default;
$grid-gutter-width: 20px !default;

// ======================================================
// Typography
// ======================================================
$font-family-sans-serif: "Rubik", sans-serif !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
$h1-font-size: 36px !default;
$h2-font-size: 30px !default;
$h3-font-size: 24px !default;
$h4-font-size: 18px !default;
$h5-font-size: 16px !default;
$h6-font-size: 14px !default;
$headings-margin-bottom: (1rem / 2) !default;
$headings-font-weight: 400 !default;
$headings-color: inherit !default;

// ======================================================
// Breadcrumb
// ======================================================
$breadcrumb-bg: $body-bg;
$breadcrumb-margin-bottom: 1.5rem;

// ======================================================
// Cards
// ======================================================
$card-border-width: 0px !default;
$card-border-color: transparent !default;
$card-border-radius: 0px !default;

// ======================================================
// Dropdowns
// ======================================================
$dropdown-item-padding-x: 1rem !default;
$dropdown-item-padding-y: 0.65rem !default;
$dropdown-border-color: $gray-200;
$dropdown-divider-bg: $gray-100;

// ======================================================
// Buttons
// ======================================================
$btn-secondary-border: $gray-300;

// ======================================================
// Progressbar
// ======================================================
$progress-bg: $gray-100;

// ======================================================
// Tables
// ======================================================
$table-bg-accent: $gray-100;
$table-bg-hover: $gray-100;
$table-hover-bg: $gray-100 !default;
$table-cell-padding: 1rem !default;
$table-bg-level: -10 !default;
$table-bg-level2: 1 !default;
$table-bg-level3: -5 !default;

// ======================================================
// Components
// ======================================================
$component-active-color: $white !default;
$component-active-bg: $themecolor !default;
$badge-pill-padding-x: 0.2em !default;
$badge-pill-padding-y: 1em !default;

// ======================================================
// Forms
// ======================================================
$input-group-addon-bg: $gray-100;
$input-border-color: $gray-200;
$input-group-addon-border-color: $gray-200;
$input-btn-focus-color: rgba(0, 0, 0, 0.25) !default;
$input-focus-border-color: rgba(0, 0, 0, 0.25) !default;
$input-btn-focus-box-shadow: transparent !default;
$custom-select-focus-box-shadow: transparent !default;
$border-width: 1px !default;
$border-color: $gray-200 !default;
$border-radius: 2px !default;
$border-radius-lg: 2px !default;
$border-radius-sm: 1px !default;

// ======================================================
// Progressbars
// ======================================================
$progress-height: 5px !default;

// ======================================================
// Tabs
// ======================================================
$nav-tabs-link-active-bg: $white !default;

// ======================================================
// Grid breakpoints
// ======================================================
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1600px,
) !default;

// ======================================================
// Navbar
// ======================================================
$navbar-dark-color: rgba($white, 0.8) !default;
$navbar-dark-hover-color: rgba($white, 1) !default;
