/*
Template Name: Admin Template
Author: Niravjoshi / Wrappixel
File: scss
*/
@import '~ngx-org-chart/_theming.scss';
//(Required file)
@import "variable";

//Theme colors
@import "theme-colors/dark-theme";

// Import Bootstrap source files (Required file)
@import "../../../node_modules/bootstrap/scss/bootstrap";

//This is for the components (Required file)
@import "components";

//This is for the pages (if you are not using some pages you can remove that style from pages folder)
@import "pages";

//This is for the widgets (Required file)
@import "widgets/widgets";

//This is for the horizontal version if you are not using horizontal version you can remove this
@import "horizontal/horizontal";

//This is for the responsive (Required file)
@import "responsive";

//In This scss you can write your scss
@import "custom";

//This is for the icons (Required file)
@import "icons/font-awesome/css/fontawesome-all.css";
@import "icons/simple-line-icons/css/simple-line-icons.css";
@import "icons/weather-icons/css/weather-icons.min.css";
@import "icons/themify-icons/themify-icons.css";
@import "icons/flag-icon-css/flag-icon.min.css";
@import "icons/material-design-iconic-font/css/materialdesignicons.min.css";
@import "icons/crypto-icons/cryptocoins.css";

// this is for the perfect scrollbar
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
/*
.list-area {
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  margin: 0;
  width: 180px!important;
}*/
.ang-select .list-area {
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  margin: 0;
  width: 180px!important;
}#spinner {
   -webkit-animation: frames 1s infinite linear;
   animation: frames 1s infinite linear;
   background: transparent;
   border: 0.75vw solid #FFF;
   border-radius: 100%;
   border-top-color: #070003;
   width: 17vw;
   height: 17vw;
   opacity: .6;
   padding: 0;
   position: absolute;
   z-index: 999;
 }

.month-dropdown-common .c-btn{
  min-height: 30px!important;
}
@keyframes frames {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

#pause {
  display: block;
  background:
    rgba(0, 0, 0, 0.66)
    no-repeat
    0 0;
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
