<div class="card stocks-card">
  <div class="d-flex">
    <input type="text" placeholder="Search" class="form-control-sm btn-rounded w-auto ng-pristine ng-valid ng-touched"
           [(ngModel)]="searchTerm"/>
  </div>
  <div class="card-body" style="padding: 0.25rem!important">
    <table class="table  border masterData-table">
      <thead>
      <tr>
        <th sortable="itemCode">Item Code</th>
        <th sortable="itemDescription">Item Description</th>
        <th sortable="moqValue">MOQ</th>
        <th sortable="seriesValue">Technical Series</th>
        <th sortable="stockValue">Safety Stock</th>
        <th sortable="mapPrice">Map</th>
        <th sortable="stdPrice">STD price</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let filterValue of filterDataList | slice: (cpage-1) * cpageSize : (cpage-1) * cpageSize + cpageSize">
        <td class="font-weight-bold">
          <ngb-highlight [result]="filterValue.itemCode" [term]="searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="filterValue.itemDescription" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right">
          <ngb-highlight [result]="filterValue.moqValue" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right">
          <ngb-highlight [result]="filterValue.seriesValue" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right">
          <ngb-highlight [result]="filterValue.stockValue " [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right">
          <ngb-highlight [result]="filterValue.mapPrice" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right">
          <ngb-highlight [result]="filterValue.stdPrice" [term]="searchTerm"></ngb-highlight>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-content-end flex-wrap" style="margin-top: -1%; margin-bottom: 0px!important; ">
    <ngb-pagination [maxSize]="5" [(page)]="cpage"
                    [pageSize]="cpageSize"
                    [collectionSize]="totalLengthOfCollection" [rotate]="true" [ellipses]="false"
                    [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>
