* {
  font-family: Calibri;
}

.first-nav-pills .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black;
  background-color: lightseagreen;
}

.inside-nav-pills .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black;
  /* background-color:#d5911a;*/
  background-color: lightsteelblue;
}

.btn-css-total {
  background: white;
  width: 180px;
  padding-top: 9px;
  height: 35px;
  border: 1px solid lightgrey;
  text-align: center;
  line-height: 1;
  border-radius: 45px 1px;
}

.card-css {
  border: 1px solid lightgrey;
  background: lightgoldenrodyellow;
  /*  height: 512px;*/

}

.connect-lines1 {
  background: lightgray;
  margin-top: -40px;
  margin-left: 23%;
  width: 45%;
}

.pm-scroll-table {
  border: 1px solid lightgrey;
  height: 413px;
  overflow: auto;
  background: white;
}

.pm-table th, td {
  padding: 4px;
  border: 1px solid lightgrey;
}

.pm-table th {
  font-size: 14px;
  font-weight: bold;
}

.pm-table td {
  font-size: 12px;
}

.diamond {
  position: relative;
  height: 200px;
  width: 200px;
  line-height: 200px;
  text-align: center;
  margin: 10px 40px;
}

.diamond:before {
  position: absolute;
  content: '';
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  transform: rotateX(45deg) rotateZ(45deg);
  box-shadow: 0px 0px 12px gray;
}

.diamond:after {
  position: absolute;
  top: 10px;
  left: 10px;
  content: '';
  height: calc(100% - 22px); /* -22px is 2 * 10px gap on either side - 2px border on either side */
  width: calc(100% - 22px); /* -22px is 2 * 10px gap on either side - 2px border on either side */
  border: 1px solid orange;
  transform: rotateX(45deg) rotateZ(45deg);
}

.verticle-line {
  border-left: 1px solid lightgrey;
  height: 192px;
  margin-left: 47%;
  margin-top: 20%;
}

.selection-css {
  cursor: pointer;
  width: 195px;
  padding-left: 7px;
  height: 44px;
  padding-top: 4px;
  border-radius: 45px 1px;
}

.search-css {
  font-size: 14px;
  height: 29px;
  border: none;
  border-bottom: 1px solid grey;
  width: 14%;
  margin-left: 86%;
  margin-bottom: 3px;
  /* background: lightgoldenrodyellow;*/
}

.ti-search:before {
  content: "\e610";
  font-family: themify;
}

.pulse2 {
  -webkit-animation: pulse 1200ms infinite alternate;
  animation: pulse 1200ms infinite alternate;
}

@-webkit-keyframes pulse {
  0% {
    background-color: lightseagreen;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes pulse {
  0% {
    background-color: lightseagreen;
  }
  100% {
    background-color: transparent;
  }
}

.tab-content-css {
  background: lightsteelblue;
  padding: 1%;
  height: 462px;
}

.fontSizeTabs {
  font-weight: 500;
  font-size: 18px;
  padding-top: 4px;
  padding-bottom: 3px;
}

.tab-css.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: lightgrey lightgrey #fff;
}

.slob-btn {
  margin-top: -2%;
  padding: 14px 7px;
  width: 60px;
  height: 60px;
}

.rlt-fg-card {
  border: 1px solid lightgrey;
  height: 445px;
  padding: 1%;
}

.lft-relation-card {
  border: 1px solid lightgrey;
  height: 445px;
  padding: 2%;
}

.gross-card {
  border: 1px solid lightgrey;
  height: 445px;
  padding: 1%;
}

.stocks-card {
  border: 1px solid lightgrey;
  height: 445px;
  padding: 1%;
}

.supply-card {
  border: 1px solid lightgrey;
  height: 445px;
  padding: 1%;
}

.mould-saturation-card {
  border: 1px solid lightgrey;
  height: 445px;
  padding: 1%;
}

.custom-table {
 /* border-left: none !important;
 */
  border: 1px solid darkgray;
  height: 240px;
  overflow: auto;
  margin-bottom: 0%;
  box-shadow: none !important;
  margin-top: 0%;
 /* margin-right: 37%;*/
  background-color: white
}

.hide-border td {
  /*border: none;*/
  border: 1px solid lightgrey;
  border-bottom: none !important;
  font-size: 14px;
}

.arrow-down-icon {
  margin-left: 50%;
  color: black;
  font-weight: bold;
}
.logical-scroll-table{
  border: 1px solid lightgrey;
  height: 391px;
  overflow: auto;
  background: white;
}
.logical-inside-table-css th, td{
  padding: 4px;
}

.logical-inside-table-css th {
  font-size: 14px;
  /*font-weight: bold;*/
  border: 1px solid lightgrey;
}
.logical-inside-table-css td {
  font-size: 12px;

}

.logical-inside-table-css{
  width: 125%;
}


.logical-table-css .hide-border td {
  /*border: none;*/
  border: 1px solid lightgrey;
  border-bottom: none !important;
  font-size: 14px;
}

.logical-table-css th,td{
  padding: 3px;
}


.highlight{
  background: lightgrey;
  border:none!important;
  font-weight: bold;
  font-size: 18px;
}
.wordWrapTableCell{
  cursor: pointer;
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logical-table-search-css{
  font-size: 14px;
  height: 30px;
  border: none;
  border-bottom: 1px solid grey;
  width: 19%;
  margin-left: 81%;
  margin-bottom: 3px;
}
