<!-- Navbar Header for horizontal only -->
<div class="navbar-header d-none d-lg-block" style="height: 40px;">
    <!-- This is for the sidebar toggle which is visible on mobile only -->
    <a (click)="showMobileMenu = !showMobileMenu" class="nav-toggler waves-effect waves-light d-block d-lg-none"
        href="javascript:void(0)">
        <i [ngClass]="(showMobileMenu)?'ti-close':'ti-menu'"></i>
    </a>
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <a class="navbar-brand" style="  margin-top: 5%; margin-left: 0%;
    height: 32px; border-right: 3px solid white;">

        <!-- Logo icon -->
        <b class="logo-icon">
            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
            <!-- Dark Logo icon -->
            <img src="../../../assets/images/light-csp-logo-new.png" alt="homepage" class="dark-logo" />
            <!-- Light Logo icon -->
            <img src="../../../assets/images/light-csp-logo-new.png" style="
            height: 32px; margin-top: -15%" alt="homepage" class="light-logo" />
        </b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span class="logo-text" style="margin-top: 12%">
             <h3 style="margin-left: -1%;
    margin-top: -3%;
    cursor: pointer; cursor: pointer">CSP</h3>
              </span>
    </a>
 <!-- <button class="btn btn-light btn-sm"
          style=" position: absolute;
    top: 12%;
    left: 17%; z-index: 100;
    padding: -1px;
    height: 28px;
    line-height: 1px;"
          routerLink="/homePage">-->
    <i class="mdi mdi-home" style="position: absolute;
    top: 6%; cursor: pointer;
    left: 8%;
    z-index: 100;
    padding: -1px;
    font-size: 24px;
    /* height: 24px; */
    /* line-height: 23px; */
    color: white;"
       routerLink="/homePage"></i>
 <!-- </button>-->
 <!-- <button class="btn btn-light btn-sm"
          style="position: absolute;
    top: 12%;
    left: 8%;
    padding: -1px;
    height: 28px;  z-index: 100;
    line-height: 1px;"
          routerLink="/newExecutionflow">
    <i class="mdi mdi-home" style="font-size: 18px"></i>User Home
  </button>
  <button class="btn btn-light btn-sm"
          style=" position: absolute;
    top: 12%;
    left: 17%; z-index: 100;
    padding: -1px;
    height: 28px;
    line-height: 1px;"
          routerLink="/homePage">
    <i class="mdi mdi-home" style="font-size: 18px"></i>
     Module Home
  </button>
  <button class="btn btn-light btn-sm"
          style=" position: absolute;
    top: 12%;
    left: 17%; z-index: 100;
    padding: -1px;
    height: 28px;
    line-height: 1px;"
          (click)="backClicked()">
    <i class="fas fa-arrow-circle-left" style="font-size: 16px"></i>
    Back
  </button>-->
 <!-- <i class="mdi mdi-home" title="Home" style="position: absolute;
    top: 2%;
    color: white;
    font-size: 26px;
    left: 106px;
    cursor: pointer;"
     routerLink="/newExecutionflow"
  ></i>
  <i class="fas fa-arrow-circle-left" title="Back"
  style="position: absolute;
       top: 31%;
    left: 10%;
    color: white;cursor: pointer;
    font-size: 19px; z-index: 100"
     (click)="backClicked()"
  ></i>-->
 <!-- <span class="srh-btn home-header-btn btn-rounded"  routerLink="executionflow">
   &lt;!&ndash; <i class="mdi mdi-home" style="font-size: 22px;color: white;"></i>&ndash;&gt; Home
  </span>-->
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Toggle which is visible on mobile only -->
    <!-- ============================================================== -->
    <a class="topbartoggler d-block d-lg-none waves-effect waves-light" href="javascript:void(0)"
        (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent">
        <i class="ti-more"></i>
    </a>
</div>
<!--<div style="margin-left: 1%">
  <button class="btn btn-light btn-sm hm-btn-css"
          routerLink="/newExecutionflow">
    <i class="mdi mdi-home" style="font-size: 18px"></i>User Home
  </button>
  <button class="btn btn-light btn-sm hm-btn-css"
          routerLink="/homePage">
    <i class="mdi mdi-home" style="font-size: 18px"></i>
    Module Home
  </button>
  <button class="btn btn-light btn-sm hm-btn-css"
          (click)="backClicked()">
    <i class="fas fa-arrow-circle-left" style="font-size: 14px"></i>
    Back
  </button>
</div>-->

<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<!--|| router.url.includes('/planningHorizonAnalyzer/') || router.url.includes('/fgYearlyModule/') || router.url.includes('/pmYearlyModule/')  || router.url.includes('/rmYearlyModule/')-->
<ul class="navbar-nav float-left mr-auto" style="margin-left: 27%">
  <ng-container *ngIf="modulePage === 'FGBkup' || modulePage === 'PMBkup'
   || modulePage === 'RMBkup' || modulePage === 'ALLBkup'">
    <li class="nav-item d-none d-lg-block"></li>
    <li class="nav-item d-none d-lg-block" style="display: flex!important;">
      <!--  <div style="width: 155px; display: inline-flex;">-->
      <span style="color: white;
    font-weight: 500;
    margin-right: 7px;">Select a Month : </span>
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle btn-rounded" style=" width: 335px;
    padding-left: 12px;
    padding-right: 8px;
    background: #e9ecef;
    line-height: 10px;"
                type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span style="margin-right: 18px; font-style: italic">{{monthName}}</span>
          <!-- <i  class="fas fa-pencil-alt"
               style="position: absolute; font-size: 12px; ;left: 129%;"></i>-->
        </button>
        <div class="dropdown-menu mon-drop-down" aria-labelledby="dropdownMenuButton" style="width: 335px;!important">
             <span>
               <span class="fa fa-caret-up caret-up"></span>
             </span>
          <div class="row caret-row" style="">
            <div class="col-sm-12" style="padding: 2%;color: white;">
              <h4>Month</h4>
            </div>
          </div>
          <div class="row" style="margin: 1%">
            <div class="col-sm-12">
              <button class="btn btn-outline-dark btn-sm btn-rounded" [disabled]="selectedMonthSubmit"
                      style="margin-left: 82%; padding: 0.12rem 0.5rem 0.12em 0.5rem;
                               margin-top: -3px;"
                      (click)="submitMonth()">Submit</button>
              <div  style="border:1px solid lightgrey; height: 300px; margin-top: 1%; overflow-x: hidden">
                <table class="table table-bordered plan-module-table" id="planMTABLE2">
                  <thead class="text-center text-light header-sticky">
                  <tr>
                    <th style="width: 8%"></th>
                    <th>Month Name</th>
                  </tr>
                  </thead>
                  <tbody class="text-center">
                  <tr *ngFor="let mon of monthYearList; let headerIdx2 = index" >
                    <td style="width: 8%">
                      <input type="radio" name="month" (click)="selectMonthYr(mon)" [checked]="mon.monthNameAlias===selectedMonthName"
                             [value]="mon.monthNameAlias"/>
                    </td>
                    <td>{{mon?.monthNameAlias}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>

          </div>
        </div>
      </div>
      <!-- </div>-->
    </li>
    <li class="nav-item d-none d-lg-block"></li>


    <!--<li class="nav-item d-none d-lg-block" style="width: 1063px">
       <span class="form-inline" style="justify-content: center">
         <label class="plan-name text-white">Months : </label>
                <span class="month-dropdown-common">
                   <angular2-multiselect
                      [data]="monthSelectList"
                      [(ngModel)]="singleselectedItems"
                      [settings]="singledropdownSettings"
                      (onSelect)="onItemSelect($event)">
                   </angular2-multiselect>
                 </span>
                </span>
      </li>-->
  </ng-container>
  <ng-container *ngIf="!(modulePage === 'FGBkup' || modulePage === 'PMBkup'
   || modulePage === 'RMBkup' || modulePage === 'ALLBkup' || modulePage ==='AllYrAnalyst'
   || modulePage === 'PMYearly' || modulePage === 'RMYearly' || modulePage === 'FGYearly')">
    <li  class="nav-item d-none d-lg-block"></li>
    <li class="nav-item d-none d-lg-block" style="display: flex!important">

    <!--  <div style="width: 155px; display: inline-flex;">-->
        <span style="color: white;
    font-weight: 500;
    margin-right: 7px;">Select a Plan : </span><div class="dropdown">
          <button class="btn btn-light dropdown-toggle btn-rounded" style="
              width: 335px;
              padding-left: 12px;
              padding-right: 8px;
              background: #e9ecef;
              line-height: 10px"
                  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span style="margin-right: 18px; font-style: italic">{{planName}}</span>
           <!-- <i  class="fas fa-pencil-alt"
                style="position: absolute; font-size: 12px; ;left: 129%;"></i>-->
          </button>
          <div class="dropdown-menu plan-drop-down"  aria-labelledby="dropdownMenuButton">
             <span>
               <span class="fa fa-caret-up caret-up"></span>
             </span>
            <div class="row caret-row" style="">
              <div class="col-sm-12" style="padding: 2%;color: white;">
                <h4>Plan Name</h4>

              </div>
            </div>
            <div class="row" style="margin: 1%">
              <div class="col-sm-12">
                <button class="btn btn-outline-dark btn-sm btn-rounded" [disabled]="selectedPlanSubmit"
                        style="margin-left: 82%; padding: 0.12rem 0.5rem 0.12em 0.5rem;
                               margin-top: -3px;"
                        (click)="submitPlan()">Submit</button>
                <div  style="border:1px solid lightgrey; height: 300px; margin-top: 1%; overflow-x: hidden">
                <table class="table table-bordered plan-module-table" id="planMTABLE">
                  <thead class="text-center text-light header-sticky">
                  <tr>
                    <th style="width: 8%"></th>
                    <th>Plan Name</th>
                    <th>Date</th>
                  </tr>
                  </thead>
                  <tbody class="text-center">
                  <tr *ngFor="let mpsHeader of mpsHeaderList; let headerIdx = index" >
                    <td style="width: 8%">
                      <input type="radio" name="plan" (click)="selectPlan(mpsHeader)" [checked]="mpsHeader.id===selectedPlanId"
                             [value]="mpsHeader.id"/>
                    </td>
                    <td>
                      <div title="{{mpsHeader?.mpsName}}" style="white-space: nowrap;width: 223px;
                          text-align: left; cursor: pointer;
                      overflow: hidden;text-overflow: ellipsis">
                        {{mpsHeader?.mpsName}}
                      </div>
                    </td>
                    <td>{{mpsHeader?.mpsDate}}</td>
                  </tr>
                  </tbody>
                </table>
                </div>

              </div>

            </div>
          </div>
        </div>
     <!-- </div>-->
    </li>
    <li  class="nav-item d-none d-lg-block"></li>
    <!--edit modal-->
    <!-- <i class="fas fa-pencil-alt" data-toggle="modal" data-target="#editModal"></i>-->
   <!-- <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
         aria-labelledby="editModalLabel" style="position: fixed; top:unset"
         aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" style="border: 5px solid #00bdda;">
          <div class="modal-header">
            <h5 class="modal-title" style="font-size: 22px" id="editModalLabel">PLAN EDIT</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">

              </div>
            </div>

          </div>

        </div>
      </div>
    </div>-->
  </ng-container>


   <!-- <li class="nav-item d-none d-lg-block">
        <a (click)="toggleSidebar.emit()" class="nav-link sidebartoggler waves-effect waves-light"
            href="javascript:void(0)">
            <i class="icon-arrow-left-circle font-14"></i>
        </a>
    </li>-->
    <!-- ============================================================== -->
    <!-- Comment -->
    <!-- ============================================================== -->
    <!--<li class="nav-item dropdown" ngbDropdown>
        <a ngbDropdownToggle class="nav-link dropdown-toggle waves-effect waves-dark" href="javascript:void(0)"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="mdi mdi-message font-14"></i>
        </a>
        <div class="dropdown-menu mailbox" ngbDropdownMenu>
            <span class="with-arrow">
                <span class="bg-primary"></span>
            </span>
            <ul class="list-style-none">
                <li>
                    <div class="drop-title bg-primary text-white">
                        <h4 class="m-b-0 m-t-5">4 New</h4>
                        <span class="font-light">Notifications</span>
                    </div>
                </li>
                <li>
                    <div class="message-center notifications" [perfectScrollbar]="config">
                        &lt;!&ndash; Message &ndash;&gt;
                        <a href="javascript:void(0)" class="message-item" *ngFor="let notification of notifications">
                            <span class="btn btn-circle {{notification.btn}}">
                                <i class="{{notification.icon}}"></i>
                            </span>
                            <span class="mail-contnet">
                                <h5 class="message-title">{{notification.title}}</h5>
                                <span class="mail-desc">{{notification.subject}}</span>
                                <span class="time">{{notification.time}}</span>
                            </span>
                        </a>
                    </div>
                </li>
                <li>
                    <a class="nav-link text-center m-b-5 text-muted" href="javascript:void(0);">
                        <strong>Check all notifications</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </li>-->
    <!-- ============================================================== -->
    <!-- End Comment -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Messages -->
    <!-- ============================================================== -->
   <!-- <li class="nav-item dropdown" ngbDropdown>
        <a ngbDropdownToggle class="nav-link dropdown-toggle waves-effect waves-dark" href="javascript:void(0)" id="2"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="mdi mdi-email font-14"></i>

        </a>
        <div class="dropdown-menu mailbox" aria-labelledby="2" ngbDropdownMenu>
            <span class="with-arrow">
                <span class="bg-danger"></span>
            </span>
            <ul class="list-style-none">
                <li>
                    <div class="drop-title text-white bg-danger">
                        <h4 class="m-b-0 m-t-5">5 New</h4>
                        <span class="font-light">Messages</span>
                    </div>
                </li>
                <li>
                    <div class="message-center message-body" [perfectScrollbar]="config">
                        &lt;!&ndash; Message &ndash;&gt;
                        <a href="javascript:void(0)" class="message-item" *ngFor="let mymessage of mymessages">
                            <span class="user-img">
                                <img src="{{mymessage.useravatar}}" alt="user" class="rounded-circle">
                                <span class="profile-status {{mymessage.status}} pull-right"></span>
                            </span>
                            <span class="mail-contnet">
                                <h5 class="message-title">{{mymessage.from}}</h5>
                                <span class="mail-desc">{{mymessage.subject}}</span>
                                <span class="time">{{mymessage.time}}</span>
                            </span>
                        </a>
                    </div>
                </li>
                <li>
                    <a class="nav-link text-center text-muted" href="javascript:void(0);">
                        <b>See all e-Mails</b>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </li>-->
    <!-- ============================================================== -->
    <!-- End Messages -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- mega menu -->
    <!-- ============================================================== -->
   <!-- <li class="nav-item mega-dropdown" ngbDropdown [autoClose]="false">
        <a ngbDropdownToggle class="nav-link waves-effect waves-dark" href="javascript:void(0)" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="d-none d-md-block">
                <i class="mdi mdi-view-grid font-14"></i>
            </span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-dialpad font-24"></i>
            </span>
        </a>
        <div class="dropdown-menu" ngbDropdownMenu>
            <div class="mega-dropdown-menu row">
                <div class="col-lg-3 col-xlg-2 m-b-30">
                    <h4 class="m-b-20">CAROUSEL</h4>
                    &lt;!&ndash; CAROUSEL &ndash;&gt;
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="assets/images/big/img1.jpg" class="img-fluid" alt="Random first slide">
                            <div class="carousel-caption">
                                <h3 class="text-white font-bold">First slide label</h3>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/big/img2.jpg" class="img-fluid" alt="Random second slide">
                            <div class="carousel-caption">
                                <h3 class="text-white font-bold">Second slide label</h3>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/big/img3.jpg" class="img-fluid" alt="Random third slide">
                            <div class="carousel-caption">
                                <h3 class="text-white font-bold">Third slide label</h3>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                    &lt;!&ndash; End CAROUSEL &ndash;&gt;
                </div>
                <div class="col-lg-3 m-b-30">
                    <h4 class="m-b-20">ACCORDION</h4>
                    &lt;!&ndash; Accordian &ndash;&gt;
                    <ngb-accordion [closeOthers]="true" activeIds="static-1" class="accordion nav-accordion">
                        <ngb-panel id="static-1" title="Simple">
                            <ng-template ngbPanelContent>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid.
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-2">
                            <ng-template ngbPanelTitle>
                                <span>&#9733;
                                    <b>Fancy</b> title &#9733;</span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid.
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-3" title="Disabled" [disabled]="true">
                            <ng-template ngbPanelContent>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid.
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
                <div class="col-lg-3  m-b-30">
                    <h4 class="m-b-20">CONTACT US</h4>
                    &lt;!&ndash; Contact &ndash;&gt;
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputname1" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter email"> </div>
                        <div class="form-group">
                            <textarea class="form-control" id="exampleTextarea" rows="3"
                                placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-info">Submit</button>
                    </form>
                </div>
                <div class="col-lg-3 col-xlg-4 m-b-30">
                    <h4 class="m-b-20">List style</h4>
                    &lt;!&ndash; List style &ndash;&gt;
                    <ul class="list-style-none">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa fa-check text-success"></i> You can give link</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa fa-check text-success"></i> Give link</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa fa-check text-success"></i> Another Give link</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa fa-check text-success"></i> Forth link</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa fa-check text-success"></i> Another fifth link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>-->
    <!-- ============================================================== -->
    <!-- End mega menu -->
    <!-- ============================================================== -->
</ul>


<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav justify-content-end">
  <li class="nav-item" style="display: flex;">
    <button class="btn text-white" style="font-size: 17px; font-style: italic; border-right: 2px solid white;margin-top: 2px;
    height: 36px;">
      {{moduleName | slice:5}}
    </button>

    <div class="dropdown" style="background: darkcyan;
    height: 29px;
    border-radius: 25px;
    margin-top: 6px;
    margin-right: -6px;">
      <button class="btn btn-rounded dropdown-toggle text-white"
              style="display: flex; margin-top: -3px" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user-circle cursor-pointer" style="font-size: 18px"></i>
        <small style="margin-left: 10%;
    font-size: 15px;">{{userName}}</small>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="
           margin-top: 9%;
    margin-left: -44%; padding-bottom: 0px;
        min-width: 1rem!important;">
        <a>
          <span class="fa fa-caret-up caret-up" style="top: -21%; color: #e9ecef"></span>
        </a>
        <li style="background-color: #e9ecef; text-align: center; margin-top: -6%">
          <a class="logout-dropdown" style="padding-bottom: 0px">
            <i class="fas fa-user-circle cursor-pointer" style="font-size: 40px;color: black;"></i>
          </a>
        </li>
        <li style="text-align: center;background: #e9ecef">
          <a class="logout-dropdown" style="padding-top: 2px; padding-bottom: 3px; text-decoration: none; color: black">
            <small style="font-size: 20px">{{userName}}</small>
            <br>
            <p style="margin-top: -4%; font-size: 12px">{{moduleName | slice:5}}</p>
          </a></li>
        <li style="background: #e9ecef; margin-top: -13%"><a class="logout-dropdown">
          <button class="btn btn-sm btn-dark" (click)="logOut()">
            <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout
          </button>
        </a></li>
      </ul>
    </div>
  </li>

 <!-- <li class="nav-item dropdown" ngbDropdown>
    <a ngbDropdownToggle class="nav-link dropdown-toggle waves-effect waves-dark" href="javascript:void(0)"
      style="margin-top: -17%"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="mdi mdi-message font-14"></i>
    </a>
    <div class="dropdown-menu mailbox" ngbDropdownMenu>
            <span class="with-arrow">
                <span class="bg-primary"></span>
            </span>
      <ul class="list-style-none">
        <li>
          <div class="drop-title bg-primary text-white">
            <h4 class="m-b-0 m-t-5">4 New</h4>
            <span class="font-light">Notifications</span>
          </div>
        </li>
        <li>
          <div class="message-center notifications" [perfectScrollbar]="config">
            &lt;!&ndash; Message &ndash;&gt;
            <a href="javascript:void(0)" class="message-item" *ngFor="let notification of notifications">
                            <span class="btn btn-circle {{notification.btn}}">
                                <i class="{{notification.icon}}"></i>
                            </span>
              <span class="mail-contnet">
                                <h5 class="message-title">{{notification.title}}</h5>
                                <span class="mail-desc">{{notification.subject}}</span>
                                <span class="time">{{notification.time}}</span>
                            </span>
            </a>
          </div>
        </li>
        <li>
          <a class="nav-link text-center m-b-5 text-muted" href="javascript:void(0);">
            <strong>Check all notifications</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </li>-->
    <!-- ============================================================== -->
    <!-- User profile and search -->
    <!-- ============================================================== -->
   <!-- <li class="nav-item" ngbDropdown placement="bottom-right" style="display: flex;"
        [ngClass]=" moduleName === 'Analyst' ? 'left-align-username' : 'left-align-username-2'">
      &lt;!&ndash;sudhir code&ndash;&gt;
      <b style=" font-size: 18px;
    color: white;
      margin-top: 2%;" [ngClass]=" moduleName === 'Analyst' ? 'user-1' : 'user-2'">
        {{moduleName}}
      </b>
      <span style="position: absolute;
    left: 92%;
    top: 7%;
    height: 29px;
    width: 3px;
    background-color: white;
    border-radius: 99px;"></span>
      <div class="dropdown"  [ngClass]=" moduleName === 'Analyst' ? 'module-1' : 'module-2'">
        <button class="btn  dropdown-toggle btn-rounded"
                style="display: flex;
    margin-top: 3%;
    color: white;
    margin-left: -15%;
    background: darkcyan;
    height: 29px;
    padding-left: 10px;
    padding-right: 14px;"
                type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user-circle cursor-pointer" style="font-size: 23px;margin-top: -7%;"></i>
          <div style="margin-left: 7%;margin-top: -7%;">
            <small style="font-size: 16px; font-style: italic; font-weight: 500">{{userName}}</small>
            &lt;!&ndash; <br>
             <p style="margin-top: -4%; font-size: 10px">{{adminName}}</p>&ndash;&gt;
          </div>
          &lt;!&ndash;        <span style="height: 32px;
            width: 3px;
            background-color: white;
            border-radius: 99px;
            margin-left: 6%;
            margin-right: 6%;
            margin-top: -2%;"></span>&ndash;&gt;
          &lt;!&ndash;<span>
            <b><i>{{moduleName}}</i></b>
          </span>&ndash;&gt;
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="
        margin-top: 6%; margin-left: 2%; padding-bottom: 0px;
        min-width: 1rem!important;">
          <a>
            <span class="fa fa-caret-up caret-up" style="top: -16%; color: #e9ecef"></span>
          </a>
          <li style="background-color: #e9ecef; text-align: center">
            <a class="logout-dropdown" style="padding-bottom: 0px">
              <i class="fas fa-user-circle cursor-pointer" style="font-size: 40px;color: black;"></i>
            </a>
          </li>
          <li style="text-align: center; background: #e9ecef">
            <a class="logout-dropdown" style="padding-top: 2px; padding-bottom: 3px; text-decoration: none; color: black">
              <small style="font-size: 20px">{{userName}}</small>
              <br>
              <p style="margin-top: -4%; font-size: 12px">{{adminName}}</p>
            </a></li>
          <li style="background: #e9ecef; margin-top: -13%"><a class="logout-dropdown">
            <button class="btn btn-sm btn-dark" (click)="logOut()">
              <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout
            </button>
          </a></li>
        </ul>
      </div>

      &lt;!&ndash;sudhir code&ndash;&gt;

    &lt;!&ndash;  <span style="
      position: absolute;left: -146%;top: 5%;
      font-size: 20px; font-weight: 500; font-style: italic; color: white;">
          <ng-container *ngIf="router.url == '/homePage' && loginModuleName === 'mayur'">
          <span>FG</span>
        </ng-container>
          <ng-container *ngIf="router.url == '/homePage' && loginModuleName === 'pratap'">
          <span>PM</span>
        </ng-container>
         <ng-container *ngIf="router.url == '/homePage' && loginModuleName === 'vaibhav'">
          <span>RM</span>
        </ng-container>
         <ng-container *ngIf="router.url == '/homePage' && loginModuleName === 'analyzer'">
          <span  style="margin-left: -78%">Analyzer</span>
        </ng-container>
         <ng-container *ngIf="router.url == '/newExecutionflow'">
          <span>CSP</span>
        </ng-container>
        <ng-container *ngIf="(router.url.includes('/newPm/') || router.url.includes('/pmYearlyModule/') || router.url == '/pmBackupPage')">
          <span>PM</span>
        </ng-container>
        <ng-container *ngIf="(router.url.includes('/newRm/') || router.url.includes('/rmYearlyModule/') || router.url == '/rmBackupPage')">
          <span>RM</span>
        </ng-container>
        <ng-container *ngIf="(router.url.includes('/fgModule/') || router.url.includes('/fgYearlyModule/') || router.url == '/fgBackupPage')">
          <span>FG</span>
        </ng-container>
        <ng-container *ngIf="(router.url.includes('/administrator/'))">
          <span style="margin-left: -78%">Administrator</span>
        </ng-container>
           <ng-container *ngIf="(router.url.includes('/analyzer/') || router.url.includes('/planningHorizonAnalyzer/') || router.url == '/allBackupAnalyzer')">
          <span style="margin-left: -78%">Analyzer</span>
        </ng-container>
      </span>

        <a ngbDropdownToggle  class="nav-link text-muted waves-effect waves-dark pro-pic" href="javascript:void(0)"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
           style="line-height: 3;padding-right: 0px; padding-left: 0px;">
          <i class="fas fa-user-circle cursor-pointer" style="font-size: 26px; color: #bae3fd;"></i>
           &lt;!&ndash; <img src="../../../assets/images/users/default-profile-pic2.png"
                 alt="user" class="rounded-circle" width="31" style="height: 35px; width: 35px">&ndash;&gt;
        </a>
      <div class="dropdown-menu-right user-dd flipInY" ngbDropdownMenu style="
     margin-left: 138%;
      padding-bottom: 0px;">
            <a class="dropdown-item" href="javascript:void(0)" (click)="logOut()"
            style="background: darkslategray; color: white;">
                <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
      </div>&ndash;&gt;
    </li>-->
  <!--<li class="nav-item d-md-block d-none">

  </li>-->


  <!-- <button ngbDropdownToggle  href="javascript:void(0)"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              class =" buttonAdmin text-right" style=" background: black;
    width: 160%;
    margin-top: 30%;
    margin-left: -80%;">
        <i class="fas fa-user-circle cursor-pointer adminIcon "
           style="   font-size: 40px;
    color: #b2dbf5;
    position: absolute;
    margin-left: -65%;
    margin-top: 4%;"></i>
        <span class =" textAdmin " style=" font-family: 'Font Awesome 5 Free';color: white;
    text-align: center;
    font-size: 16px;"> Vaibhav</span>  <br>
        <span class =" textRoll"  style=" font-family: 'Font Awesome 5 Free';color: white;
    font-size: 12px;
    margin-right: 4%;"> RM Admin</span>
      </button>-->
    <!-- ============================================================== -->
    <!-- User profile and search -->
    <!-- ============================================================== -->

   <!-- <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" style="margin-top: -13%" href="javascript:void(0)" id="navbarDropdown"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="flag-icon flag-icon-{{selectedLanguage.icon}}"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" ngbDropdownMenu>
            <span class="dropdown-item" href="#" *ngFor="let lang of languages" (click)="changeLanguage(lang)">
                <i class="flag-icon flag-icon-{{lang.icon}} mr-2"></i>
                <span>{{lang.language}}
                    <span *ngIf="lang.type">({{lang.type}})</span>
                </span>
            </span>
        </div>
    </li>-->
</ul>
