<div class="card">
    <div class="card-body">
        <h4 class="card-title" style="font-size: 20px">Sales Prediction</h4>
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <div>
                    <span class="display-6 font-weight-normal" style="font-size: 25px">$3528</span>
                    <h6 class="text-muted">(150-165 Sales)</h6>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center flex-column justify-content-center">
                <div style="height: 108px">
                    <apx-chart [series]="SalespredictionChartOptions.series" [chart]="SalespredictionChartOptions.chart"
                        [plotOptions]="SalespredictionChartOptions.plotOptions"
                        [labels]="SalespredictionChartOptions.labels" [fill]="SalespredictionChartOptions.fill">
                    </apx-chart>
                </div>
            </div>
        </div>

    </div>
</div>
