.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  font-family: themify;
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5px;
}
.delta-analytics thead {
  background-color: black;
  color: white;
}
.delta-analytics th,td{
  padding: 5px!important;
}
.delta-analytics th {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.delta-analytics td {
  font-size: 12px;
  border-color:darkgrey;
}

.delta-analytics {
  transform-style: preserve-3d;
  width: 100%!important;
}
.delta-analytics-table-scroll-top{
  height: 63px;
  overflow-y: hidden;
  border: 1px solid lightgrey;
}
.delta-analytics-table-scroll-bottom{
  height: 444px;
  overflow-y: hidden;
  border: 1px solid lightgrey;
}
.left-card{
  padding: 5%;
  border:1px solid lightgrey;
  height: 80.386606vh;
}
.rhs-card{
  padding: 1%;
  border:1px solid lightgrey;
  height: 80.386606vh;
}
.highlight{
  background: rgba(255,165,0,0.4);
  font-weight: 500!important;

}

.unique-list-table th,td{
  padding: 4px;
}
.unique-list-table th{
  font-size: 16px;
  background: #D3D3D3;
  color: black;

}
.unique-list-table td{
  font-size: 13px;
}
.unique-list-scroll{
  height: 76.365297vh;
  overflow: auto;
  border:1px solid lightgrey;
}

.bg-color-red{
  background: #db0000;
  font-weight: bold;
  color: white;
}
.header-sticky{
  position: sticky;
  z-index: 10;
  top: -1px;
}
.inp-css{
  border: 1px solid lightgrey;
  margin-top: -1%;
  margin-left: 2%;
  width: 22%;
  margin-bottom: 4px;
}

.deviation-modal-btn{
  position: absolute;
  left: 80%;
  padding: 0px 10px 0px 10px;
  top: 11%;
  font-size: 2.2831050228310503vh;
}
