<div class="row" style="margin-top:-2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 2.43531202435312vh">
                    <li class="breadcrumb-item active">SLOB</li>
                    <li class="breadcrumb-item  font-weight-bold text-dark">Cover Days with Summary</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                <button class="btn btn-outline-dark btn-rounded coverdays-btn" data-toggle="modal"
                        data-target="#coverDaysModal">
                  CoverDays
                </button>
                <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download 'RM Cover Days'"
                        style="cursor: pointer; margin-left: 43%; margin-top:  -0.76103500761035vh; border:none; background: transparent">
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cover-days-card">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <div class="row">
        <div class="col-sm-12">
          <div class="cover-days-table-scroll">
            <table class="table table-bordered coverdays-table" id="coverDaysTable">
              <thead class="text-left header-sticky">
              <tr>
                <th colspan="7" class="bg-color-light">
                  <span style="margin-left: 70%; font-size: 2.43531202435312vh; font-weight: bold!important;">Total Monthly Consumption Value : </span>
                </th>
                <th class="bg-color-light">{{totalMonthData?.month1ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month2ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month3ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month4ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month5ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month6ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month7ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month8ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month9ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month10ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month11ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month12ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.allMonthsTotalConsumptionValue | number:'1.0':'en-IN'}}</th>
                <th colspan="3" class="bg-color-light">
                </th>
              </tr>
              <tr>
                <th class="stick-style">RM Code</th>
                <th class="stick-style">RM Description</th>
                <th class="stick-style">Std.Price</th>
                <th class="stick-style">MAP</th>
                <th class="stick-style">Stock Quantity</th>
                <th class="stick-style">Rate</th>
                <th class="stick-style">Stock Value</th>
                <th class="stick-style">{{monthNamesList?.month1?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month2?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month3?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month4?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month5?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month6?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month7?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month8?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month9?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month10?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month11?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month12?.monthNameAlias}}</th>
                <th class="stick-style">Total</th>
                <th class="stick-style">Consumption</th>
                <th class="stick-style">Aggregated</th>
                <th class="stick-style">Class</th>
              </tr>
              </thead>
              <tbody class="text-right">
              <tr *ngFor="let monthsData of monthWiseData">
                <td class="font-weight-bold text-left">{{monthsData?.code}}</td>
                <td class="text-left">
                  <div title="{{monthsData?.description}}" class="word-wrap-table-cell cursor-pointer">
                    {{monthsData?.description}}
                  </div>
                </td>
                <td>{{monthsData?.stdPrice | number:'1.0':'en-IN'}}</td>
                <td>{{monthsData?.map | number:'1.0':'en-IN'}}</td>
                <td>{{monthsData?.stockQuantity | number:'1.0':'en-IN'}}</td>
                <td>{{monthsData?.rate | number:'1.0':'en-IN'}}</td>
                <td>{{monthsData?.stockValue | number:'1.0':'en-IN'}}</td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month1ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month1Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month2ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month2Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month3ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month3Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month4ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month4Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month5ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month5Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month6ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month6Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month7ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month7Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month8ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month8Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month9ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month9Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month10ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month10Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month11ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month11Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month12ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month12Value | number:'1.0':'en-IN'}}
                </td>

                <td>
                  <div class="word-wrap-table-cell">
                    {{monthsData?.allMonthsConsumptionValue | number:'1.0':'en-IN'}}
                  </div>
                </td>
                <td>
                  <div class="word-wrap-table-cell">
                    {{monthsData?.consumptionPercentage | number:'1.0':'en-IN'}}
                  </div>
                </td>
                <td>
                  <div class="word-wrap-table-cell">
                    {{monthsData?.aggregatedPercentage | number:'1.0':'en-IN'}}
                  </div>
                </td>
                <td>
                  <div class="word-wrap-table-cell">
                    {{monthsData?.className}}
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button id="openStdPriceModal" [hidden]="true" data-toggle="modal" data-target="#standardPriceModal">Open Modal
</button>


<!--standard price modal-->

<div class="modal fade" id="standardPriceModal" tabindex="-1" role="dialog"
     aria-labelledby="standardPriceModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; width: 120%; margin-left: -13%;margin-top: 10%;">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 22px" id="standardPriceModalLabel">Standard Price</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="standard-price-table-scroll">
              <table class="table table-bordered standard-price-table" id="standardPriceTable">
                <thead class="text-left header-sticky">
                <tr>
                  <th>Code</th>
                  <th>Description</th>
                  <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <ng-container
                  *ngFor="let nullStdPriceCoverDaysDataForm of nullStdPriceCoverDaysDataForm?.get('nullStdPriceCoverDaysFormArray').controls ;let i=index">
                  <tr [formGroup]="nullStdPriceCoverDaysDataForm">
                    <td>{{nullStdPriceCoverDaysDataForm?.controls?.code?.value}}</td>
                    <td>{{nullStdPriceCoverDaysDataForm?.controls?.description?.value}}</td>
                    <td [ngClass]="highlightMapEditValue">
                      <span *ngIf="validator">*</span>
                      <input type="number" formControlName="stdPrice"
                             class="form-control form-control-sm inp-align"
                             (keyup)="UpdateStdPrice(nullStdPriceCoverDaysDataForm?.controls,'stdPrice',$event.target.value,i)">
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!nullStdPriceCoverDaysDataForm.valid"
                (click)="saveStdPrice()">Save
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="coverDaysModal" tabindex="-1" role="dialog"
     aria-labelledby="coverDaysModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; width: 137%;
    margin-left: -19%; margin-top: 9%">
      <div class="modal-header" style="padding-bottom: 0%; padding-top: 1%">
        <div class="row" style="width: 100%; margin-left: 0%">
          <div class="col-sm-3">
            <h5 class="modal-title" style="font-size: 22px" id="coverDaysModalLabel">Cover Days</h5>
          </div>
          <div class="col-sm-6">
            <ng-container *ngIf="successmodalMessage!==''">
              <p class="alert alert-success succes-msg-modal" style="background: #73c373" data-dismiss="alert" aria-label="Close">
                <strong>{{successmodalMessage}}</strong>
              </p>
            </ng-container>
            <ng-container *ngIf="errormodalMessage!==''">
              <p class="alert alert-danger succes-msg-modal" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
                <strong>{{errormodalMessage}}</strong>
              </p>
            </ng-container>
          </div>
          <div class="col-sm-3">
            <button (click)="exportAsXLSXForCoverDays()" data-toggle="tooltip" title="Download 'Cover Days'"
                    class="coverdays-excel">
              <i><img src="../../../../assets/images/big/excel.png"></i></button>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>



      </div>
      <div class="modal-body">
       <!-- -->

        <div class="row">
          <div class="col-sm-12">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <button class="nav-link by-default btn  active"
                        id="pills-home-tab" data-toggle="pill" href="#pills-home"
                        role="tab" aria-controls="pills-home" aria-selected="true">OverAll CoverDays </button>
              </li>
              <li class="nav-item">
                <button class="nav-link by-default btn"  id="pills-profile-tab" data-toggle="pill"
                        href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Class Based CoverDays </button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row">
                  <div class="col-sm-12">
                    <table class="table table-bordered coverdays-table">
                      <tr>
                        <th class="dark">Opening Value in MNs</th>
                        <th class="dark">CoverDays</th>
                        <th class="dark">SIT in MNs</th>
                        <th class="dark">Opening Value with SIT in MNs</th>
                        <th class="dark">CoverDays with SIT</th>
                      </tr>
                      <tr>

                        <td>{{(totalStockValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{totalCoverDays}}</td>
                        <td>{{sitValue}}</td>
                        <td>{{(totalStockSitValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{totalCoverDaysWithSit}}</td>
                      </tr>
                    </table>

                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <table class="table table-bordered coverdays-table" id="coverDays">
                      <tr>
                        <th>Month</th>
                        <td class="dark">{{monthNamesList?.month1?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month2?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month3?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month4?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month5?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month6?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month7?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month8?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month9?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month10?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month11?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month12?.monthNameAlias}}</td>
                      </tr>
                      <tr class="text-right">
                        <th class="text-left">Days In Month</th>
                        <td>{{coverDaysList?.coverDaysInMonthDTO?.month1CoverDays}}</td>
                        <td>{{coverDaysList?.coverDaysInMonthDTO?.month2CoverDays}}</td>
                        <td>{{coverDaysList?.coverDaysInMonthDTO?.month3CoverDays}}</td>
                        <td>{{coverDaysList?.coverDaysInMonthDTO?.month4CoverDays}}</td>
                        <td>{{coverDaysList?.coverDaysInMonthDTO?.month5CoverDays}}</td>
                        <td>{{coverDaysList?.coverDaysInMonthDTO?.month6CoverDays}}</td>
                        <td>{{coverDaysList?.coverDaysInMonthDTO?.month7CoverDays}}</td>
                        <td>{{coverDaysList?.coverDaysInMonthDTO?.month8CoverDays}}</td>
                        <td>{{coverDaysList?.coverDaysInMonthDTO?.month9CoverDays}}</td>
                        <td>{{coverDaysList?.coverDaysInMonthDTO?.month10CoverDays}}</td>
                        <td>{{coverDaysList?.coverDaysInMonthDTO?.month11CoverDays}}</td>
                        <td>{{coverDaysList?.coverDaysInMonthDTO?.month12CoverDays}}</td>
                      </tr>
                      <tr class="text-right">
                        <th class="text-left">Consumption</th>
                        <td
                          title="{{(coverDaysList?.coverDaysConsumptionDTO?.month1ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}">
                          <div class="word-wrap-table-cell">
                            {{(coverDaysList?.coverDaysConsumptionDTO?.month1ConsumptionTotalValue/1000000) | number:'1.0-0':'en-IN'}}
                          </div>
                        </td>
                        <td
                          title="{{(coverDaysList?.coverDaysConsumptionDTO?.month2ConsumptionTotalValue/1000000) | number:'1.0-0':'en-IN'}}">
                          <div class="word-wrap-table-cell">
                            {{(coverDaysList?.coverDaysConsumptionDTO?.month2ConsumptionTotalValue/1000000) | number:'1.0-0':'en-IN'}}
                          </div>
                        </td>
                        <td
                          title="{{(coverDaysList?.coverDaysConsumptionDTO?.month3ConsumptionTotalValue/1000000) | number:'1.0-0':'en-IN'}}">
                          <div class="word-wrap-table-cell">
                            {{(coverDaysList?.coverDaysConsumptionDTO?.month3ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}
                          </div>
                        </td>
                        <td
                          title="{{(coverDaysList?.coverDaysConsumptionDTO?.month4ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}">
                          <div class="word-wrap-table-cell">
                            {{(coverDaysList?.coverDaysConsumptionDTO?.month4ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}
                          </div>
                        </td>
                        <td
                          title="{{(coverDaysList?.coverDaysConsumptionDTO?.month5ConsumptionTotalValue/1000000) | number:'1.0-0':'en-IN'}}">
                          <div class="word-wrap-table-cell">
                            {{(coverDaysList?.coverDaysConsumptionDTO?.month5ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}
                          </div>
                        </td>
                        <td
                          title="{{(coverDaysList?.coverDaysConsumptionDTO?.month6ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}">
                          <div class="word-wrap-table-cell">
                            {{(coverDaysList?.coverDaysConsumptionDTO?.month6ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}
                          </div>
                        </td>
                        <td
                          title="{{(coverDaysList?.coverDaysConsumptionDTO?.month7ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}">
                          <div class="word-wrap-table-cell">
                            {{(coverDaysList?.coverDaysConsumptionDTO?.month7ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}
                          </div>
                        </td>
                        <td
                          title="{{(coverDaysList?.coverDaysConsumptionDTO?.month8ConsumptionTotalValue/1000000) | number:'1.0-0':'en-IN'}}">
                          <div class="word-wrap-table-cell">
                            {{(coverDaysList?.coverDaysConsumptionDTO?.month8ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}
                          </div>
                        </td>
                        <td
                          title="{{(coverDaysList?.coverDaysConsumptionDTO?.month9ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}">
                          <div class="word-wrap-table-cell">
                            {{(coverDaysList?.coverDaysConsumptionDTO?.month9ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}
                          </div>
                        </td>
                        <td
                          title="{{(coverDaysList?.coverDaysConsumptionDTO?.month10ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}">
                          <div class="word-wrap-table-cell">
                            {{(coverDaysList?.coverDaysConsumptionDTO?.month10ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}
                          </div>
                        </td>
                        <td
                          title="{{(coverDaysList?.coverDaysConsumptionDTO?.month11ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}">
                          <div class="word-wrap-table-cell">
                            {{(coverDaysList?.coverDaysConsumptionDTO?.month11ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}
                          </div>
                        </td>
                        <td
                          title="{{(coverDaysList?.coverDaysConsumptionDTO?.month12ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}">
                          <div class="word-wrap-table-cell">
                            {{(coverDaysList?.coverDaysConsumptionDTO?.month12ConsumptionTotalValue /1000000) | number:'1.0-0':'en-IN'}}
                          </div>
                        </td>
                      </tr>

                      <tr class="text-right">
                        <th class="text-left">Cover Days</th>
                        <td
                          [ngClass]="coverDaysList?.coverDaysDTO?.month1CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                          {{coverDaysList?.coverDaysDTO?.month1CoverDays}}
                        </td>
                        <td
                          [ngClass]=" coverDaysList?.coverDaysDTO?.month2CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                          {{coverDaysList?.coverDaysDTO?.month2CoverDays}}
                        </td>
                        <td
                          [ngClass]=" coverDaysList?.coverDaysDTO?.month3CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                          {{coverDaysList?.coverDaysDTO?.month3CoverDays}}
                        </td>
                        <td
                          [ngClass]=" coverDaysList?.coverDaysDTO?.month4CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                          {{coverDaysList?.coverDaysDTO?.month4CoverDays}}
                        </td>
                        <td
                          [ngClass]=" coverDaysList?.coverDaysDTO?.month5CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                          {{coverDaysList?.coverDaysDTO?.month5CoverDays}}
                        </td>
                        <td
                          [ngClass]=" coverDaysList?.coverDaysDTO?.month6CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                          {{coverDaysList?.coverDaysDTO?.month6CoverDays}}
                        </td>
                        <td
                          [ngClass]=" coverDaysList?.coverDaysDTO?.month7CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                          {{coverDaysList?.coverDaysDTO?.month7CoverDays}}
                        </td>
                        <td
                          [ngClass]=" coverDaysList?.coverDaysDTO?.month8CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                          {{coverDaysList?.coverDaysDTO?.month8CoverDays}}
                        </td>
                        <td
                          [ngClass]=" coverDaysList?.coverDaysDTO?.month9CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                          {{coverDaysList?.coverDaysDTO?.month9CoverDays}}
                        </td>
                        <td
                          [ngClass]=" coverDaysList?.coverDaysDTO?.month10CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                          {{coverDaysList?.coverDaysDTO?.month10CoverDays}}
                        </td>
                        <td
                          [ngClass]=" coverDaysList?.coverDaysDTO?.month11CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                          {{coverDaysList?.coverDaysDTO?.month11CoverDays}}
                        </td>
                        <td
                          [ngClass]=" coverDaysList?.coverDaysDTO?.month12CoverDays > 0 ? 'font-bold' : 'bg-color-default'">
                          {{coverDaysList?.coverDaysDTO?.month12CoverDays}}
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>



              </div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="row">
                  <div class="col-sm-12">
                    <h5>Class Based Consumption</h5>
                    <table class="table table-bordered coverdays-table">
                      <tr>
                        <th class="dark">Class</th>
                        <td class="dark">{{monthNamesList?.month1?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month2?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month3?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month4?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month5?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month6?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month7?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month8?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month9?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month10?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month11?.monthNameAlias}}</td>
                        <td class="dark">{{monthNamesList?.month12?.monthNameAlias}}</td>
                      </tr>
                      <tr class="text-right">
                        <th class="text-left">A</th>
                        <td>{{(classACoverDaysConsumption?.month1ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classACoverDaysConsumption?.month2ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classACoverDaysConsumption?.month3ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classACoverDaysConsumption?.month4ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classACoverDaysConsumption?.month5ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classACoverDaysConsumption?.month6ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classACoverDaysConsumption?.month7ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classACoverDaysConsumption?.month8ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classACoverDaysConsumption?.month9ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classACoverDaysConsumption?.month10ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classACoverDaysConsumption?.month11ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classACoverDaysConsumption?.month12ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                      </tr>
                      <tr class="text-right">
                        <th class="text-left">B</th>
                        <td>{{(classBCoverDaysConsumption?.month1ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classBCoverDaysConsumption?.month2ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classBCoverDaysConsumption?.month3ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classBCoverDaysConsumption?.month4ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classBCoverDaysConsumption?.month5ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classBCoverDaysConsumption?.month6ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classBCoverDaysConsumption?.month7ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classBCoverDaysConsumption?.month8ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classBCoverDaysConsumption?.month9ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classBCoverDaysConsumption?.month10ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classBCoverDaysConsumption?.month11ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classBCoverDaysConsumption?.month12ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                      </tr>
                      <tr class="text-right">
                        <th class="text-left">C</th>
                        <td>{{(classCCoverDaysConsumption?.month1ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classCCoverDaysConsumption?.month2ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classCCoverDaysConsumption?.month3ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classCCoverDaysConsumption?.month4ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classCCoverDaysConsumption?.month5ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classCCoverDaysConsumption?.month6ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classCCoverDaysConsumption?.month7ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classCCoverDaysConsumption?.month8ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classCCoverDaysConsumption?.month9ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classCCoverDaysConsumption?.month10ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classCCoverDaysConsumption?.month11ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{(classCCoverDaysConsumption?.month12ConsumptionTotalValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                      </tr>
                      <tr class="text-right">
                        <th class="text-left">Total Consumption</th>
                        <td>{{(totalCoverDaysConsumption?.month1ConsumptionTotalValue/1000000 )| number:'1.0-0':'en-IN'}}</td>
                        <td>{{(totalCoverDaysConsumption?.month2ConsumptionTotalValue/1000000)| number:'1.0-0':'en-IN'}}</td>
                        <td>{{(totalCoverDaysConsumption?.month3ConsumptionTotalValue/1000000)| number:'1.0-0':'en-IN'}}</td>
                        <td>{{(totalCoverDaysConsumption?.month4ConsumptionTotalValue/1000000)| number:'1.0-0':'en-IN'}}</td>
                        <td>{{(totalCoverDaysConsumption?.month5ConsumptionTotalValue/1000000)| number:'1.0-0':'en-IN'}}</td>
                        <td>{{(totalCoverDaysConsumption?.month6ConsumptionTotalValue/1000000)| number:'1.0-0':'en-IN'}}</td>
                        <td>{{(totalCoverDaysConsumption?.month7ConsumptionTotalValue/1000000)| number:'1.0-0':'en-IN'}}</td>
                        <td>{{(totalCoverDaysConsumption?.month8ConsumptionTotalValue/1000000)| number:'1.0-0':'en-IN'}}</td>
                        <td>{{(totalCoverDaysConsumption?.month9ConsumptionTotalValue/1000000)| number:'1.0-0':'en-IN'}}</td>
                        <td>{{(totalCoverDaysConsumption?.month10ConsumptionTotalValue/1000000)| number:'1.0-0':'en-IN'}}</td>
                        <td>{{(totalCoverDaysConsumption?.month11ConsumptionTotalValue/1000000)| number:'1.0-0':'en-IN'}}</td>
                        <td>{{(totalCoverDaysConsumption?.month12ConsumptionTotalValue/1000000)| number:'1.0-0':'en-IN'}}</td>
                      </tr>

                    </table>
                  </div>
                </div>
                <div class="row" style="margin-top: 1%">
                  <div class="col-sm-12">
                    <h5>Class Based Stock & CoverDays</h5>
                    <table class="table table-bordered coverdays-table">
                      <tr>
                        <th class="dark">Class</th>
                        <th class="dark">Stock</th>
                        <th class="dark">CoverDays</th>
                      </tr>
                      <tr>
                        <th>A</th>
                        <td>{{(classACoverDaysConsumption?.totalStockValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{classACoverDaysConsumption?.totalCoverDays}}</td>
                      </tr>
                      <tr>
                        <th>B</th>
                        <td>{{(classBCoverDaysConsumption?.totalStockValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{classBCoverDaysConsumption?.totalCoverDays}}</td>
                      </tr>
                      <tr>
                        <th>C</th>
                        <td>{{(classCCoverDaysConsumption?.totalStockValue/1000000) | number:'1.2-2':'en-IN'}}</td>
                        <td>{{classCCoverDaysConsumption?.totalCoverDays}}</td>
                      </tr>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>



       <!-- <div class="row">
          <div class="col-sm-12">
            <div class="coverdays-graph-card">
              <div class="row">
                <div class="col-sm-5"><h4 class="text-left font-weight-bold" style="font-size: 20px; margin-top: 1%">
                  Count</h4>
                  <div class="total-coverdays-box" title="Total CoverDays">
                    {{totalCoverDays}}
                  </div>
                </div>

                <div class="col-sm-7">
                  <table class="table table-bordered" style="width: 85%;margin-left: -9%;">
                    <tbody class="text-center">
                    <tr>
                      <td><span class="font-weight-bold">Stock Value :</span>
                        <span class="label-style">{{summaryDataList?.totalStockValue | number:'1.0':'en-IN'}}</span>
                      </td>
                      <td><span class="font-weight-bold ">Sit Value :</span>
                        <span class="label-style">{{summaryDataList?.sitValue | number:'1.0':'en-IN'}}</span></td>
                      <td>
                        <span class="font-weight-bold">Total Stock Value With Sit :</span>
                        <span class="label-style">{{summaryDataList?.totalStockSitValueDTO?.totalStockSitValue | number:'1.0':'en-IN'}}</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  &lt;!&ndash;  <div style="border:1px solid lightgrey; height: 133px">&ndash;&gt;
                  <table class="table table-bordered coverdays-table" id="coverDays" style="height: 100%">
                    <tr>
                      <th>Month</th>
                      <td class="dark">{{monthNamesList?.month1?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month2?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month3?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month4?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month5?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month6?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month7?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month8?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month9?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month10?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month11?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month12?.monthNameAlias}}</td>
                    </tr>
                    <tr class="text-right">
                      <th class="text-left">Days In Month</th>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month1CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month2CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month3CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month4CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month5CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month6CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month7CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month8CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month9CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month10CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month11CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month12CoverDays}}</td>
                    </tr>
                    <tr class="text-right">
                      <th class="text-left">Consumption</th>
                      <td
                        title="{{coverDaysList?.coverDaysConsumptionDTO?.month1ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month1ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td
                        title="{{coverDaysList?.coverDaysConsumptionDTO?.month2ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month2ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td
                        title="{{coverDaysList?.coverDaysConsumptionDTO?.month3ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month3ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td
                        title="{{coverDaysList?.coverDaysConsumptionDTO?.month4ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month4ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td
                        title="{{coverDaysList?.coverDaysConsumptionDTO?.month5ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month5ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td
                        title="{{coverDaysList?.coverDaysConsumptionDTO?.month6ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month6ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td
                        title="{{coverDaysList?.coverDaysConsumptionDTO?.month7ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month7ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td
                        title="{{coverDaysList?.coverDaysConsumptionDTO?.month8ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month8ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td
                        title="{{coverDaysList?.coverDaysConsumptionDTO?.month9ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month9ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td
                        title="{{coverDaysList?.coverDaysConsumptionDTO?.month10ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month10ConsumptionTotalValue |
                          number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td
                        title="{{coverDaysList?.coverDaysConsumptionDTO?.month11ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month11ConsumptionTotalValue |
                          number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td
                        title="{{coverDaysList?.coverDaysConsumptionDTO?.month12ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month12ConsumptionTotalValue |
                          number:'1.0':'en-IN'}}
                        </div>
                      </td>
                    </tr>

                    <tr class="text-right">
                      <th class="text-left">Cover Days</th>
                      <td
                        [ngClass]="coverDaysList?.coverDaysDTO?.month1CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month1CoverDays}}
                      </td>
                      <td
                        [ngClass]=" coverDaysList?.coverDaysDTO?.month2CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month2CoverDays}}
                      </td>
                      <td
                        [ngClass]=" coverDaysList?.coverDaysDTO?.month3CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month3CoverDays}}
                      </td>
                      <td
                        [ngClass]=" coverDaysList?.coverDaysDTO?.month4CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month4CoverDays}}
                      </td>
                      <td
                        [ngClass]=" coverDaysList?.coverDaysDTO?.month5CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month5CoverDays}}
                      </td>
                      <td
                        [ngClass]=" coverDaysList?.coverDaysDTO?.month6CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month6CoverDays}}
                      </td>
                      <td
                        [ngClass]=" coverDaysList?.coverDaysDTO?.month7CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month7CoverDays}}
                      </td>
                      <td
                        [ngClass]=" coverDaysList?.coverDaysDTO?.month8CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month8CoverDays}}
                      </td>
                      <td
                        [ngClass]=" coverDaysList?.coverDaysDTO?.month9CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month9CoverDays}}
                      </td>
                      <td
                        [ngClass]=" coverDaysList?.coverDaysDTO?.month10CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month10CoverDays}}
                      </td>
                      <td
                        [ngClass]=" coverDaysList?.coverDaysDTO?.month11CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month11CoverDays}}
                      </td>
                      <td
                        [ngClass]=" coverDaysList?.coverDaysDTO?.month12CoverDays > 0 ? 'font-bold' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month12CoverDays}}
                      </td>
                    </tr>
                  </table>
                  &lt;!&ndash;  </div>&ndash;&gt;
                </div>
              </div>




            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
