.cover-days-table-scroll {
  border: 1px solid lightgrey;
  height:  79.90867579908675vh;
  overflow: auto;
  /*margin-top: -0.60882800608828vh;*/
}


.coverdays-table th,td{
  padding: 0.60882800608828vh;
  white-space: nowrap;
}
.coverdays-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid darkgrey;
}
.coverdays-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}
.coverdays-table{
  transform-style: preserve-3d;
  width: 100%!important;
}
table thead {
  background-color: darkcyan;
  color: white;
}

.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}
table#coverDaysTable tbody {
  /*display: block;*/
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#coverDaysTable thead, table#coverDaysTable tbody tr {
  /*display: table;*/
  /*width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}
.cover-days-card{
 /* border: 2px solid lightslategrey;
  padding: 1%;*/
  margin-bottom: 0px;
  background: white;
}



.bg-color-light{
  background: white!important;
  color: #000!important;
  font-weight: 400!important;
  white-space: nowrap!important;

}

.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: #ced4da;
  font-size: 1.67427701674277vh;
  MARGIN-TOP: 5%;
}
.coverdays-btn{
  position: absolute;
  left: 75%;
  padding: 0px 10px 0px 10px;
  top: 11%;
  font-size: 2.2831050228310503vh;
}


.bg-color{
  background-color: #e6ccff!important;
  font-weight: bold;
}
.bg-color-default{
  background-color: white!important;
}
.dark{
  background: black!important;
  color: white!important;
  font-weight: 600;
  font-size: 2.13089802130898vh!important;
}
.label-style{
  margin-left: 1%;
  font-size: 14px;
}
.total-coverdays-box{
  border-radius: 50%;
  border: 1px solid lightgray;
  position: absolute;
  top: -11%;
  left: 19%;
  font-size: 26px;
  font-weight: 500;
  width: auto;
  text-align: center;
  padding: 0px 10px;
  background: #e6ccff;
}


#coverDays th{
  background: darkcyan;
  color: white;
}
.coverdays-excel{
/*  cursor: pointer;
  margin-left: 81%;
  margin-top: -2px;
  border:none;
  background: transparent;*/
  cursor: pointer;
  margin-left: 73%;
  margin-top: -7px;
  border: none;
  background: transparent;
}
.succes-msg{
  color: white;
  position: absolute;
  top: 2%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}
.succes-msg-modal {
  /*color: white;
  position: absolute;
  top: -14%;
  left: 73%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px*/
  color: white;
  /* position: absolute; */
  /* top: -14%; */
  /* left: 73%; */
  margin-top: 1%;
  margin-left: 100%;
  padding: 1px 10px 1px 10px;
  width: 159px;
  border-radius: 25px;
  font-size: 15px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  /*
   border-radius: 25px;*/
  padding: 2px 15px 2px 15px;
  border: 1px solid darkcyan;
  background: darkcyan;
  color: white;
}
.by-default{
  background: white;
  color: #000;

  padding: 2px 15px 2px 15px;
  border: 1px solid grey;
}
.tab-content{
  border: 0.30441400304414vh solid lightslategrey;
  /*padding: 1%;*/
  margin-bottom: 0px;
  background: white;
  margin-top: -10px;
  padding: 1%;
  height: auto;
}
