<div style="padding:0.625em" [ngClass]="showSettings ? 'opacity' : ''">
  <div class="row" style="margin-top: -2%">
    <div class="col-sm-12">
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-md-8">
            <div class="form-inline">
              <nav aria-label="breadcrumb" style="margin-left: -2%">
                <ol class="breadcrumb">
                  <!--  <li class="breadcrumb-item">

                      <a href='javascript:void(0)'>Home</a>
                    </li>-->
                  <!-- <li class="breadcrumb-item active">Analytics</li>-->
                  <ng-container *ngIf="executionFlowPageService.loginUsers !== 'analyzer'">
                    <li class="breadcrumb-item">MPS Triangle Analytics</li>
                  </ng-container>
                  <!--<li class="breadcrumb-item ">Current Plan</li>-->
                  <ng-container *ngIf="executionFlowPageService.loginUsers === 'analyzer'">
                    <li class="breadcrumb-item active">Common Analytics</li>
                  </ng-container>

                  <li class="breadcrumb-item  font-weight-bold text-dark">MPS Triangle Analytics</li>
                </ol>
              </nav>

            </div>
          </div>
          <div class="col-md-4 d-flex justify-content-end">
            <div class="form-inline">
              <button class="btn btn-outline-dark btn-rounded deviation-modal-btn"
                      data-toggle="modal" data-target="#deviationModal">
                Deviation
              </button>
              <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download 'MPS Triangle Analysis'"
                      style="cursor: pointer;border:none; background: transparent;  margin-left: -65%;">
                <i><img src="../../../../assets/images/big/excel.png"></i></button>
            </div>

          </div>
        </div>
      </div>

      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 pr-0">
     <!-- <div class="top-card" style="padding: 5%">
        <h4>Selected Parameter</h4>-->
        <div class="unique-list-scroll">
          <table class="table table-bordered unique-list-table">
            <ng-container *ngIf="!this.isDisplay; else elseBlock2">
              <tr>
                <th>Division</th>
              </tr>
              <tr *ngFor="let division of uniqueDivisionList">
                <td>{{division}}</td>
              </tr>
              <tr>
                <th>Signature</th>
              </tr>
              <tr *ngFor="let signature of uniqueSignatureList">
                <td>{{signature}}</td>
              </tr>
              <tr>
                <th>Brand</th>
              </tr>
              <tr *ngFor="let brand of uniqueBrandList">
                <td>{{brand}}</td>
              </tr>
              <tr>
                <th>Category 1</th>
              </tr>
              <tr *ngFor="let ctg1 of uniqueCtg1List">
                <td>{{ctg1}}</td>
              </tr>

              <tr>
                <th>Category 2</th>
              </tr>
              <tr *ngFor="let ctg2 of uniqueCtg2List">
                <td>{{ctg2}}</td>
              </tr>

              <tr>
                <th>Lines</th>
              </tr>
              <tr *ngFor="let lines of uniqueLinesList">
                <td>{{lines}}</td>
              </tr>

              <tr>
                <th>FG Code</th>
              </tr>
              <tr *ngFor="let fg of uniqueFgList">
                <td>{{fg}}</td>
              </tr>
            </ng-container>
            <ng-template #elseBlock2>
              <tr>
                <th>Division</th>
              </tr>
              <tr *ngFor="let division of uniqueDivisionList">
                <td>{{division}}</td>
              </tr>
              <tr>
                <th>Signature</th>
              </tr>
              <tr *ngFor="let signature of uniqueSignatureList">
                <td>{{signature}}</td>
              </tr>
              <tr>
                <th>Brand</th>
              </tr>
              <tr *ngFor="let brand of uniqueBrandList">
                <td>{{brand}}</td>
              </tr>
              <tr>
                <th>Category 1</th>
              </tr>
              <tr *ngFor="let ctg1 of uniqueCtg1List">
                <td>{{ctg1}}</td>
              </tr>

              <tr>
                <th>Category 2</th>
              </tr>
              <tr *ngFor="let ctg2 of uniqueCtg2List">
                <td>{{ctg2}}</td>
              </tr>

              <tr>
                <th>Lines</th>
              </tr>
              <tr *ngFor="let lines of uniqueLinesList">
                <td>{{lines}}</td>
              </tr>

              <tr>
                <th>FG Code</th>
              </tr>
              <tr *ngFor="let fg of uniqueFgList">
                <td>{{fg}}</td>
              </tr>
            </ng-template>
          </table>

        </div>
     <!-- </div>-->
    </div>
    <div class="col-sm-10">
      <div class="top-card">
        <h4>MPS Triangle Analysis</h4>
        <div class="row mt-2">
          <div class="col-sm-12">
            <div class="delta-analytics-table-scroll-bottom">
              <table class="table table-bordered delta-analytics ">
                <thead class="header-sticky">
                <tr>
                  <th style="width: 8%"></th>
                  <ng-container *ngFor="let months of monthNamesList">
                    <th>{{months}}</th>
                  </ng-container>
                </tr>
                </thead>
                <tbody>
                <tr style="font-weight: 500">
                  <td class="text-left" style="width: 10%; font-weight: 500;">{{monthRows[2]}}</td>
                  <ng-container *ngFor="let m1 of mpsDeltaAnalysisDataList?.m1Values; let m1Idx = index">
                    <ng-container *ngIf="m1Idx< monthNamesList.length">
                      <td>{{m1 | number:'1.2-2':'en-IN'}}</td>
                    </ng-container>
                  </ng-container>
                </tr>
                <tr>
                  <td class="text-left" style="width: 10%; font-weight: 500;">{{monthRows[3]}}</td>
                  <ng-container *ngFor="let m2 of mpsDeltaAnalysisDataList?.m2Values; let m2Idx = index">
                    <ng-container *ngIf="m2Idx< monthNamesList.length">
                      <td>{{m2 | number:'1.2-2':'en-IN'}}</td>
                    </ng-container>
                  </ng-container>
                </tr>
                <tr>
                  <td class="text-left" style="width: 10%; font-weight: 500;">{{monthRows[4]}}</td>
                  <ng-container *ngFor="let m3 of mpsDeltaAnalysisDataList?.m3Values; let m3Idx = index">
                    <ng-container *ngIf="m3Idx< monthNamesList.length">
                      <td>{{m3 | number:'1.2-2':'en-IN'}}</td>
                    </ng-container>
                  </ng-container>
                </tr>
                <tr>
                  <td class="text-left" style="width: 10%; font-weight: 500;">{{monthRows[5]}}</td>
                  <ng-container *ngFor="let m4 of mpsDeltaAnalysisDataList?.m4Values; let m4Idx = index">
                    <ng-container *ngIf="m4Idx< monthNamesList.length">
                      <td>{{m4 | number:'1.2-2':'en-IN'}}</td>
                    </ng-container>
                  </ng-container>
                </tr>
                <tr>
                  <td class="text-left" style="width: 10%; font-weight: 500;">
                    {{monthRows[6]}}
                  </td>
                  <ng-container *ngFor="let m5 of mpsDeltaAnalysisDataList?.m5Values; let m5Idx = index">
                    <ng-container *ngIf="m5Idx< monthNamesList.length">
                      <td>{{m5 | number:'1.2-2':'en-IN'}}</td>
                    </ng-container>
                  </ng-container>
                </tr>
                <tr>
                  <td class="text-left" style="width: 10%; font-weight: 500;">
                    {{monthRows[7]}}
                  </td>
                  <ng-container *ngFor="let m6 of mpsDeltaAnalysisDataList?.m6Values; let m6Idx = index">
                    <ng-container *ngIf="m6Idx< monthNamesList.length">
                      <td>{{m6 | number:'1.2-2':'en-IN'}}</td>
                    </ng-container>
                  </ng-container>
                </tr>
                <tr>
                  <td class="text-left" style="width: 10%; font-weight: 500; ">
                    {{monthRows[8]}}
                  </td>
                  <ng-container *ngFor="let m7 of mpsDeltaAnalysisDataList?.m7Values; let m7Idx = index">
                    <ng-container *ngIf="m7Idx< monthNamesList.length">
                      <td>{{m7 | number:'1.2-2':'en-IN'}}</td>
                    </ng-container>
                  </ng-container>
                </tr>
                <tr>
                  <td class="text-left" style="width: 10%; font-weight: 500;">
                    {{monthRows[9]}}
                  </td>
                  <ng-container *ngFor="let m8 of mpsDeltaAnalysisDataList?.m8Values; let m8Idx = index">
                    <ng-container *ngIf="m8Idx< monthNamesList.length">
                      <td>{{m8 | number:'1.2-2':'en-IN'}}</td>
                    </ng-container>
                  </ng-container>
                </tr>
                <tr>
                  <td class="text-left" style="width: 10%; font-weight: 500;">
                    {{monthRows[10]}}
                  </td>
                  <ng-container *ngFor="let m9 of mpsDeltaAnalysisDataList?.m9Values; let m9Idx = index">
                    <ng-container *ngIf="m9Idx< monthNamesList.length">
                      <td>{{m9 | number:'1.2-2':'en-IN'}}</td>
                    </ng-container>
                  </ng-container>
                </tr>
                <tr>
                  <td class="text-left" style="width: 10%; font-weight: 500; ">
                    {{monthRows[11]}}
                  </td>
                  <ng-container *ngFor="let m10 of mpsDeltaAnalysisDataList?.m10Values; let m10Idx = index">
                    <ng-container *ngIf="m10Idx< monthNamesList.length">
                      <td>{{m10 | number:'1.2-2':'en-IN'}}</td>
                    </ng-container>
                  </ng-container>
                </tr>
                <tr>
                  <td class="text-left" style="width: 10%; font-weight: 500; ">
                    {{monthRows[12]}}
                  </td>
                  <ng-container *ngFor="let m11 of mpsDeltaAnalysisDataList?.m11Values; let m11Idx = index">
                    <ng-container *ngIf="m11Idx < monthNamesList.length">
                      <td>{{m11 | number:'1.2-2':'en-IN'}}</td>
                    </ng-container>
                  </ng-container>
                </tr>
                <tr>
                  <td class="text-left" style="width: 10%; font-weight: 500;">
                    {{monthRows[13]}}
                  </td>
                  <ng-container *ngFor="let m12 of mpsDeltaAnalysisDataList?.m12Values; let m12Idx = index">
                    <ng-container *ngIf="m12Idx < monthNamesList.length">
                      <td>{{m12 | number:'1.2-2':'en-IN'}}</td>
                    </ng-container>
                  </ng-container>
                </tr>

                <tr style="font-weight: 500"><!--[ngClass]="finalData >= 70 ? 'bg-color-red' : ''"-->
                  <td class="text-left" style="width: 10%; font-weight: bold; font-size: 13px">{{monthRows[0]}}</td>
                  <ng-container *ngFor="let finalData of mpsDeltaAnalysisDataList?.finalValues; let finalIdx = index">
                    <ng-container *ngIf="finalIdx < monthNamesList.length">
                      <td>{{finalData | number:'1.2-2':'en-IN'}}</td>
                    </ng-container>
                  </ng-container>
                </tr>
                <tr style="font-weight: 500">
                  <td class="text-left" style="width: 10%; font-weight: bold; font-size: 13px">{{monthRows[1]}}</td>
                  <ng-container
                    *ngFor="let deviation of mpsDeltaAnalysisDataList?.deviationValues; let deviationIdx = index">
                    <ng-container *ngIf="deviationIdx < monthNamesList.length">
                      <td>{{deviation | number:'1.2-2':'en-IN'}}</td>
                    </ng-container>
                  </ng-container>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<aside class="customizer expand-card-css"
       style=" box-shadow: 5px 5px 25px; border-radius: 12px 0px 0px 12px;"
       [ngClass]="{'show-service-panel': showSettings}">
  <!--<input
    href="javascript:void(0)" class="service-panel-toggle vertical-expand-btn"
    (click)="showSettings = !showSettings"
    type="button" value="Select Plan" id="rotate" />-->
  <button class="service-panel-toggle vertical-expand-btn btn btn-sm btn-dark" (click)="showSettings = !showSettings">
    <i class="mdi mdi-filter" style="color: white; font-size: 18px; margin-left: 2px"></i>
  </button>
  <div style="padding: 1%" class="customizer-body custom-pills" [perfectScrollbar]="config">

    <div class="row">
      <div class="col-sm-7">
        <h4> Apply Filter to Select a Plan</h4>
        <!-- <div class="form-inline">
           &lt;!&ndash;<h5>Select a Plan</h5>&ndash;&gt;
           <button class="btn btn-sm switch" [ngClass]="isShow ? 'notApplied' : 'applied'" (click)=toggleDisplay()>
             <ng-container *ngIf="!isShow">
               <span><i class="mdi mdi-filter filter-icon" style="color: white;"></i></span>
             </ng-container>
             <ng-container *ngIf="isShow">
               <span><i title="Apply Filter" class="mdi mdi-filter-outline filter-icon" style="color: white;"></i></span>
             </ng-container>
             <div style="margin-top:3%"> Apply Filter to Select a Plan</div>

           </button>
         </div>-->
      </div>
      <div class="col-sm-5 d-flex justify-content-end">
        <label class="switch filter-btn">
          <ng-container *ngIf="!isShow">
            <span><i class="mdi mdi-filter filter-icon" style="color: darkcyan;"></i></span>
          </ng-container>
          <ng-container *ngIf="isShow">
            <span><i title="Apply Filter" class="mdi mdi-filter-outline filter-icon" style="color: black;"></i></span>
          </ng-container>
          <input type="checkbox" checked (click)=toggleDisplay()>
        </label>
        <button class="btn btn-rounded save-btn"
                [disabled]="isExecute"
                (click)="executeBtn(); showSettings = !showSettings">
          Submit
        </button>
        <!--  <button class="btn btn-rounded close-btn" (click)="showSettings = !showSettings">
            Cancel
          </button>-->
        <button type="button" class="close cross-btn" (click)="showSettings = !showSettings" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="mps-table-scroll">
          <table class="table table-bordered mps-table" id="mpsTable">
            <thead class=" text-left  header-sticky">
            <tr>
              <th>
                <span>Division</span>
                <div class="button-group dropdown text-right">
                  <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                          [ngClass]="this.selectedFilterList[2].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                          value="divisionName" data-toggle="dropdown" (click)="setFilterKey($event,2)">
                  </button>
                  <ul class="dropdown-menu ">
                    <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                    <div class=" chk-list-container">
                      <mat-list>
                        <li>
                          <mat-checkbox [checked]="selectedFilterList[2].masterChecked"
                                        [(indeterminate)]="selectedFilterList[2].masterIndeterminate"
                                        onclick="event.stopPropagation()" (change)="selectAll(2)"
                          ><b>Select All</b></mat-checkbox>
                        </li>

                        <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                          <ng-container *ngIf="item!==null && item!==undefined">
                            <mat-checkbox [(ngModel)]="item.checked"
                                          [disabled]="item.disabled"
                                          [labelPosition]="item.labelPosition"
                                          (change)="listChange(2)"
                                          onclick="event.stopPropagation()">
                              {{ item.divisionName }}
                            </mat-checkbox>
                          </ng-container>
                        </li>
                      </mat-list>
                    </div>
                    <div>
                      <button type="submit" value="Submit"
                              [disabled]="!selectedFilterList[2].masterChecked && !selectedFilterList[2].masterIndeterminate"
                              class="btn btn-light dtn-color  btn-sm" (click)=" submit(2)"> OK
                      </button>
                      <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                    </div>
                  </ul>
                </div>
              </th>
              <th>
                <span>Signature</span>
                <div class="button-group dropdown text-right">
                  <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                          [ngClass]="this.selectedFilterList[3].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                          value="signatureName" data-toggle="dropdown" (click)="setFilterKey($event,3)">
                  </button>
                  <ul class="dropdown-menu ">
                    <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                    <div class=" chk-list-container">
                      <mat-list>
                        <li>
                          <mat-checkbox [checked]="selectedFilterList[3].masterChecked"
                                        [(indeterminate)]="selectedFilterList[3].masterIndeterminate"
                                        onclick="event.stopPropagation()" (change)="selectAll(3)"
                          ><b>Select All</b></mat-checkbox>
                        </li>
                        <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                          <ng-container *ngIf="item!==null && item!==undefined">
                            <mat-checkbox [(ngModel)]="item.checked"
                                          [disabled]="item.disabled"
                                          [labelPosition]="item.labelPosition"
                                          (change)="listChange(3)"
                                          onclick="event.stopPropagation()">
                              {{ item.signatureName }}
                            </mat-checkbox>
                          </ng-container>
                        </li>
                      </mat-list>
                    </div>
                    <div>
                      <button type="submit" value="Submit"
                              [disabled]="!selectedFilterList[3].masterChecked && !selectedFilterList[3].masterIndeterminate"
                              class="btn btn-light dtn-color  btn-sm" (click)=" submit(3)"> OK
                      </button>
                      <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                    </div>
                  </ul>
                </div>
              </th>
              <th>
                <span>Brand</span>
                <div class="button-group dropdown text-right">
                  <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                          [ngClass]="this.selectedFilterList[4].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                          value="brandName" data-toggle="dropdown" (click)="setFilterKey($event,4)">
                  </button>
                  <ul class="dropdown-menu ">
                    <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                    <div class=" chk-list-container">
                      <mat-list>
                        <li>
                          <mat-checkbox [checked]="selectedFilterList[4].masterChecked"
                                        [(indeterminate)]="selectedFilterList[4].masterIndeterminate"
                                        onclick="event.stopPropagation()" (change)="selectAll(4)"
                          ><b>Select All</b></mat-checkbox>
                        </li>
                        <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                          <ng-container *ngIf="item!==null && item!==undefined">
                            <mat-checkbox [(ngModel)]="item.checked"
                                          [disabled]="item.disabled"
                                          [labelPosition]="item.labelPosition"
                                          (change)="listChange(4)"
                                          onclick="event.stopPropagation()">
                              {{ item.brandName }}
                            </mat-checkbox>
                          </ng-container>
                        </li>
                      </mat-list>
                    </div>
                    <div>
                      <button type="submit" value="Submit"
                              [disabled]="!selectedFilterList[4].masterChecked && !selectedFilterList[4].masterIndeterminate"
                              class="btn btn-light dtn-color  btn-sm" (click)=" submit(4)"> OK
                      </button>
                      <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                    </div>
                  </ul>
                </div>
              </th>
              <th>
                <span>Category 1</span>
                <div class="button-group dropdown text-right">
                  <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                          [ngClass]="this.selectedFilterList[18].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                          value="materialCategoryName" data-toggle="dropdown" (click)="setFilterKey($event,18)">
                  </button>
                  <ul class="dropdown-menu ">
                    <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                    <div class=" chk-list-container">
                      <mat-list>
                        <li>
                          <mat-checkbox [checked]="selectedFilterList[18].masterChecked"
                                        [(indeterminate)]="selectedFilterList[18].masterIndeterminate"
                                        onclick="event.stopPropagation()" (change)="selectAll(18)"
                          ><b>Select All</b></mat-checkbox>
                        </li>
                        <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                          <ng-container *ngIf="item!==null && item!==undefined">
                            <mat-checkbox [(ngModel)]="item.checked"
                                          [disabled]="item.disabled"
                                          [labelPosition]="item.labelPosition"
                                          (change)="listChange(18)"
                                          onclick="event.stopPropagation()">
                              {{ item.materialCategoryName }}
                            </mat-checkbox>
                          </ng-container>
                        </li>
                      </mat-list>
                    </div>
                    <div>
                      <button type="submit" value="Submit"
                              [disabled]="!selectedFilterList[18].masterChecked && !selectedFilterList[18].masterIndeterminate"
                              class="btn btn-light dtn-color  btn-sm" (click)=" submit(18)"> OK
                      </button>
                      <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                    </div>
                  </ul>
                </div>
              </th>
              <th>
                <span>Category 2</span>
                <div class="button-group dropdown text-right">
                  <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                          [ngClass]="this.selectedFilterList[19].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                          value="materialSubCategoryName" data-toggle="dropdown" (click)="setFilterKey($event,19)">
                  </button>
                  <ul class="dropdown-menu ">
                    <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                    <div class="chk-list-container">
                      <mat-list>
                        <li>
                          <mat-checkbox [checked]="selectedFilterList[19].masterChecked"
                                        [(indeterminate)]="selectedFilterList[19].masterIndeterminate"
                                        onclick="event.stopPropagation()" (change)="selectAll(19)"
                          ><b>Select All</b></mat-checkbox>
                        </li>
                        <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                          <ng-container *ngIf="item!==null && item!==undefined">
                            <mat-checkbox [(ngModel)]="item.checked"
                                          [disabled]="item.disabled"
                                          [labelPosition]="item.labelPosition"
                                          (change)="listChange(19)"
                                          onclick="event.stopPropagation()">
                              {{ item.materialSubCategoryName }}
                            </mat-checkbox>
                          </ng-container>
                        </li>
                      </mat-list>
                    </div>
                    <div>
                      <button type="submit" value="Submit"
                              [disabled]="!selectedFilterList[19].masterChecked && !selectedFilterList[19].masterIndeterminate"
                              class="btn btn-light dtn-color  btn-sm" (click)=" submit(19)"> OK
                      </button>
                      <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                    </div>
                  </ul>
                </div>
              </th>
              <th>
                <span>Lines</span>
                <div class="button-group dropdown text-right">
                  <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                          [ngClass]="this.selectedFilterList[20].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                          value="lineName" data-toggle="dropdown" (click)="setFilterKey($event,20)">
                  </button>
                  <ul class="dropdown-menu ">
                    <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                    <div class=" chk-list-container">
                      <mat-list>
                        <li>
                          <mat-checkbox [checked]="selectedFilterList[20].masterChecked"
                                        [(indeterminate)]="selectedFilterList[20].masterIndeterminate"
                                        onclick="event.stopPropagation()" (change)="selectAll(20)"
                          ><b>Select All</b></mat-checkbox>
                        </li>

                        <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                          <ng-container *ngIf="item!==null && item!==undefined">
                            <mat-checkbox [(ngModel)]="item.checked"
                                          [disabled]="item.disabled"
                                          [labelPosition]="item.labelPosition"
                                          (change)="listChange(20)"
                                          onclick="event.stopPropagation()">
                              {{ item.lineName }}
                            </mat-checkbox>
                          </ng-container>
                        </li>
                      </mat-list>
                    </div>
                    <div>
                      <button type="submit" value="Submit"
                              [disabled]="!selectedFilterList[20].masterChecked && !selectedFilterList[20].masterIndeterminate"
                              class="btn btn-light dtn-color  btn-sm" (click)=" submit(20)"> OK
                      </button>
                      <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                    </div>
                  </ul>
                </div>
              </th>
              <th class="text-left">
                <span>FG Code</span>
                <div class="button-group dropdown text-right">
                  <!-- [ngClass]="this.selectedFilterList[0].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"-->
                  <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                          value="code" data-toggle="dropdown" (click)="setFilterKey($event,0)">
                  </button>
                  <ul class="dropdown-menu">
                    <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                    <div class=" chk-list-container">
                      <mat-list>
                        <li>
                          <mat-checkbox
                            [checked]="selectedFilterList[0].masterChecked"
                            [(indeterminate)]="selectedFilterList[0].masterIndeterminate"
                            onclick="event.stopPropagation();" (change)="selectAll(0)"
                          ><b>Select All</b></mat-checkbox>
                        </li>
                        <li *ngFor="let item of checkbox[filterKey] | filter: bpiSearch">
                          <ng-container *ngIf="item!==null && item!==undefined">
                            <mat-checkbox [(ngModel)]="item.checked"
                                          [disabled]="item.disabled"
                                          [labelPosition]="item.labelPosition"
                                          (change)="listChange(0)"
                                          onclick="event.stopPropagation()">
                              {{ item.code }}
                            </mat-checkbox>
                          </ng-container>
                        </li>
                      </mat-list>
                    </div>
                    <div>
                      <button type="submit" value="Submit"
                              [disabled]="!selectedFilterList[0].masterChecked && !selectedFilterList[0].masterIndeterminate"
                              class="btn btn-light dtn-color  btn-sm" (click)=" submit(0)"> OK
                      </button>
                      <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                    </div>
                  </ul>
                </div>
              </th>
              <th>
                <span>FG Description</span>
                <div class="button-group dropdown text-right">
                  <button class="hide-btn dropdown-toggle" [hidden]="isShow" style="left:295px"
                          [ngClass]="this.selectedFilterList[1].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                          value="description" data-toggle="dropdown" (click)="setFilterKey($event,1)">
                  </button>
                  <ul class="dropdown-menu ">
                    <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                    <div class="chk-list-container" style="margin-left: 6%">
                      <mat-list>
                        <li>
                          <mat-checkbox [checked]="selectedFilterList[1].masterChecked"
                                        [(indeterminate)]="selectedFilterList[1].masterIndeterminate"
                                        onclick="event.stopPropagation()" (change)="selectAll(1)"
                          ><b>Select All</b></mat-checkbox>
                        </li>
                        <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                          <ng-container *ngIf="item!==null && item!==undefined">
                            <mat-checkbox [(ngModel)]="item.checked"
                                          [disabled]="item.disabled"
                                          [labelPosition]="item.labelPosition"
                                          (change)="listChange(1)"
                                          onclick="event.stopPropagation()">
                              {{ item.description }}
                            </mat-checkbox>
                          </ng-container>
                        </li>
                      </mat-list>
                    </div>
                    <div>
                      <button type="submit" value="Submit"
                              [disabled]="!selectedFilterList[1].masterChecked && !selectedFilterList[1].masterIndeterminate"
                              class="btn btn-light dtn-color  btn-sm" (click)=" submit(1)"> OK
                      </button>
                      <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                    </div>
                  </ul>
                </div>
              </th>
              <!--
                          <th>
                            <span>Skids</span>
                            <div class="button-group dropdown text-right">
                              <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                                      [ngClass]="this.selectedFilterList[21].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                                      value="skidName" data-toggle="dropdown" (click)="setFilterKey($event,21)">
                              </button>
                              <ul class="dropdown-menu">
                                <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                                <div class="container">
                                  <mat-list>
                                    <li>
                                      <mat-checkbox [checked]="selectedFilterList[21].masterChecked"
                                                    [(indeterminate)]="selectedFilterList[21].masterIndeterminate"
                                                    onclick="event.stopPropagation()" (change)="selectAll(21)"
                                      ><b>Select All</b></mat-checkbox>
                                    </li>

                                    <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                                      <ng-container *ngIf="item!==null && item!==undefined">
                                        <mat-checkbox [(ngModel)]="item.checked"
                                                      [disabled]="item.disabled"
                                                      [labelPosition]="item.labelPosition"
                                                      (change)="listChange(21, item.skidName)"
                                                      onclick="event.stopPropagation()">
                                          {{item.skidName}}
                                        </mat-checkbox>
                                      </ng-container>
                                    </li>
                                  </mat-list>
                                </div>
                                <div>
                                  <button type="submit" value="Submit"
                                          [disabled]="!selectedFilterList[21].masterChecked && !selectedFilterList[21].masterIndeterminate"
                                          class="btn btn-light dtn-color  btn-sm" (click)="submit(21)"> OK
                                  </button>
                                  <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                                </div>
                              </ul>
                            </div>
                          </th>
              -->
              <!--  <th>
                  <span>FLA</span>
                  <div class="button-group dropdown text-right">
                    <button class="hide-btn dropdown-toggle" [hidden]="isShow" style="left: 78px"
                            [ngClass]="this.selectedFilterList[22].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                            value="fla" data-toggle="dropdown" (click)="setFilterKey($event,22)">
                    </button>
                    <ul class="dropdown-menu">
                      <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                      <div class="container">
                        <mat-list>
                          <li>
                            <mat-checkbox [checked]="selectedFilterList[22].masterChecked"
                                          [(indeterminate)]="selectedFilterList[22].masterIndeterminate"
                                          onclick="event.stopPropagation()" (change)="selectAll(22)"
                            ><b>Select All</b></mat-checkbox>
                          </li>

                          <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">

                            <ng-container *ngIf="item!==null && item!==undefined && item.fla!==''">
                              <mat-checkbox [(ngModel)]="item.checked"
                                            [disabled]="item.disabled"
                                            [labelPosition]="item.labelPosition"
                                            (change)="listChange(22)"
                                            onclick="event.stopPropagation()">
                                {{ item.fla }}
                              </mat-checkbox>
                            </ng-container>
                          </li>
                        </mat-list>
                      </div>
                      <div>
                        <button type="submit" value="Submit"
                                [disabled]="!selectedFilterList[22].masterChecked && !selectedFilterList[22].masterIndeterminate"
                                class="btn btn-light dtn-color  btn-sm" (click)="submit(22)"> OK
                        </button>
                        <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                      </div>
                    </ul>
                  </div>
                </th>-->
            </tr>
            </thead>
            <ng-container *ngIf="!this.isDisplay; else elseBlock">
              <tbody class="text-right">
              <tr *ngFor="let bpiCode of bpiCodeList | filter:mpsSearchTerm">
                <td class="text-left">{{bpiCode.divisionName}}</td>
                <td class="text-left">{{bpiCode.signatureName}}</td>
                <td class="text-left">{{bpiCode.brandName}}</td>
                <td class="text-left">{{bpiCode.materialCategoryName}}</td>
                <td class="text-left">{{bpiCode.materialSubCategoryName}}</td>
                <td class="text-left">{{bpiCode?.lineName}}</td>
                <td class="text-left">{{bpiCode.code}}</td>
                <td class="text-left">{{bpiCode.description}}</td>
              </tr>
              </tbody>
            </ng-container>
            <ng-template #elseBlock>
              <tbody class="text-right">
              <tr *ngFor="let bpiCode of filterData ">

                <td class="text-left">{{bpiCode.divisionName}}</td>
                <td class="text-left">{{bpiCode.signatureName}}</td>
                <td class="text-left">{{bpiCode.brandName}}</td>
                <td class="text-left">{{bpiCode.materialCategoryName}}</td>
                <td class="text-left">{{bpiCode.materialSubCategoryName}}</td>
                <td class="text-left">{{bpiCode?.lineName}}</td>
                <td class="text-left">{{bpiCode.code}}</td>
                <td class="text-left">{{bpiCode.description}}</td>
              </tr>
              </tbody>
            </ng-template>
          </table>
        </div>
      </div>
    </div>
    <!-- <button class="btn btn-success" (click)="showSettings = !showSettings">Execute</button>-->
  </div>
</aside>


<div class="modal fade" id="deviationModal" tabindex="-1" role="dialog"
     aria-labelledby="deviationModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda;width: 160%;
    margin-left: -30%;">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 22px" id="deviationModalLabel">Deviation</h5>
        <!--  <button (click)="exportAsXLSXForSummary()" data-toggle="tooltip" title="Download 'Summary'"
                  class="summary-excel">
            <i><img src="../../../../assets/images/big/excel.png"></i></button>-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <h5>MPS Deviation</h5>
            <div class="delta-analytics-table-scroll-top">
              <table class="table table-bordered delta-analytics ">
                <thead class="header-sticky">
                <tr>
                  <th style="width: 8%"></th>
                  <ng-container *ngFor="let months of monthNamesList">
                    <th>{{months}}</th>
                  </ng-container>
                </tr>
                </thead>
                <tbody>
                <!-- <tr style="font-weight: 500">&lt;!&ndash;[ngClass]="finalData >= 70 ? 'bg-color-red' : ''"&ndash;&gt;
                   <td class="text-left" style="width: 10%; font-weight: bold; font-size: 14px">{{monthRows[0]}}</td>
                   <ng-container *ngFor="let finalData of mpsDeltaAnalysisDataList?.finalValues; let finalIdx = index">
                     <ng-container *ngIf="finalIdx < monthNamesList.length">
                       <td >{{finalData}}</td>
                     </ng-container>
                   </ng-container>
                 </tr>-->
                <tr style="font-weight: 500">
                  <td class="text-left" style="width: 10%; font-weight: bold; font-size: 14px">{{monthRows[1]}}</td>
                  <ng-container
                    *ngFor="let deviation of mpsDeltaAnalysisDataList?.deviationValues; let deviationIdx = index">
                    <ng-container *ngIf="deviationIdx < monthNamesList.length">
                      <td>{{deviation | number:'1.2-2':'en-IN'}}</td>
                    </ng-container>
                  </ng-container>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-12">
            <canvas id="Deviation_graph" width="7400" height="2400"
                    style="display: block;width: 462px;height: 203px; margin-top: -1%"></canvas>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

