
.top-card{
  padding: 1%;
  border: 1px solid lightgrey;
  height: 80.386606vh;

}
.select-supplier {
  border: 1px solid lightgrey
}
.inp-css{
  margin-top: -3%;
  width: 102%;
}
.label-font{

  font-size: 15px;

}
.execut-btn{
  /* width: 18.264840182648403vh;*/
  background: black;
  color: white;
  margin-top: 3%;
  margin-left: 32%;
}
.borderSelection{
  border: 3px solid #7b97ff;
}

.graph-card{
  padding: 10px;
  border: 1px solid lightgrey;
  height:  45.205479452054796vh;
}
.radio-btn-text{
  color: black;
  margin-left: 1%;
}
.list-scroll{
  border: 1px solid lightgrey;
  height: 231px;
  overflow-x: hidden;
}
.fg-codes-table td{
  padding: 5px;
  font-size: 14px;
}




.lft-card{
  border: 1px solid lightgrey;
  padding: 5%;

}
.rlt-card{
  border: 1px solid lightgrey;
  padding: 1%;
  height:280px;
}
table#mpsTable tbody {
  overflow-y: auto;
  overflow-x: hidden;
}

table#mpsTable thead, table#mpsTable tbody tr {
  table-layout: fixed;
}

.mps-table-scroll {
  border: 1px solid lightgrey;
  height:  70.205479vh;
  overflow: auto

}
.mps-table th, td {
  padding: 0.60882800608828vh;
  white-space: nowrap;
}

.mps-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.mps-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}

.mps-table {
  transform-style: preserve-3d;
  width: 100%!important;
}
.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}
table thead {
  background-color: darkcyan;
  color: white;
}
.switch {
  display: flex;
  text-align: right;
  color: white;
  margin-bottom: 1%;
  line-height: 1;
}
/*.filter-icon{
  !* position: absolute;
   left: 27%;
   top: -4%;*!
  cursor: pointer;
  font-size: 22px;
}*/
/*.succes-msg{
  position: absolute;
  top: -9%;
  left: 43%;
  padding: 1px 10px 1px 10px;
  width: 47%;
}*/
.hide-btn{
  background: transparent;
  font-size: 18px;
  border: none;
  color: black;
  position: absolute;
  top: -20px;
  width: 17px;
  height: 17px;
  line-height: 1px;

}
.caret-icon{
  position: relative;
  top: -28%;
  left: -47%;
  font-size: 12px;
}
/*.dropdown-toggle::after {
  display: none;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}*/
.dropdown-toggle:empty::after {
  margin-left: -4px;
}
.filterBgColor{
  background: black;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  font-family: themify;
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5px;
}
.expand-card-css{
  margin-top: 13.351598vh;
  width: 95%;
  height: 80.36529680365297vh;
}
#rotate {
  vertical-align:top;
  transform:rotate(7deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
}
.vertical-expand-btn{
  /*top: -10px!important;
  border: none;
  left: -38px!important;
  border-radius: 50%;
  background: black;
*/
  top: -9px!important;
  border: none;
  left: -44px!important;
  border-radius: 50%;
  background: black;
  padding: 2px 7px!important;
  /* background: darkcyan;
   top: 34px!important;
   border-radius: 5px 5px 0px 0px;
   border: none;
   left: -63px!important;
   padding: 3px 7px!important;*/
}
.unique-list-table th,td{
  padding: 4px;
}
.unique-list-table th{
  font-size: 16px;
  background: #D3D3D3;
  color: black;

}
.unique-list-table td{
  font-size: 13px;
}
.unique-list-scroll{
  height: 80.365297vh;
  overflow: auto;
  border:1px solid lightgrey;
}
.chk-list-container{
  border:1px solid lightgrey;
  height: 250px;
  overflow: auto;
}
.delta-analytics thead {
  background-color: black;
  color: white;
}
.delta-analytics th,td{
  padding: 5px!important;
  white-space: nowrap;
}
.delta-analytics th {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.delta-analytics td {
  font-size: 12px;
  border: 1px solid darkgrey;
}

.delta-analytics {
  transform-style: preserve-3d;
  width: 100%!important;
}
.delta-analytics-table-scroll-top{
  height: 59px;
  overflow-y: hidden;
  border: 1px solid lightgrey;
}
.delta-analytics-table-scroll-bottom{
  height: 461px;
  overflow-y: hidden;
  border: 1px solid lightgrey;
}


.opacity{
  opacity: 0.2;
}
.modal-backdrop{
  opacity: 0.2;
}
.close-btn{
  position: absolute;
  left: 85%;
  top: 6%;
  padding: 0px 10px 0px 10px;
  border: 2px solid brown;
  background: brown;
  color: white;
  font-size: 2.2831050228310503vh;

}
.notApplied{
  background: #0077c0;
}
.applied{
  background: #00538C;
}


.save-btn {
  position: absolute;
  left: 78%;
  top: -9%;
  padding: 0px 10px 0px 10px;
  border: 2px solid darkgreen;
  background: darkgreen;
  color: white;
  font-size: 2.2831050228310503vh;
}
.deviation-modal-btn{
  position: absolute;
  left: 63%;
  padding: 0px 10px 0px 10px;
  top: 11%;
  font-size: 2.2831050228310503vh;
}

.bg-color-red{
  background: #db0000;
  font-weight: bold;
  color: white;
}
.button-group{
  padding-right:13px!important;
}
.switch {
  position: relative;
  top: -10%;
  left: -17%;
  display: inline-block;
  width: 32px;
  height: 26px;

}
.filter-icon{
  position: absolute;
  left: 18%;
  top: 6%;
  font-size: 24px;
  cursor: pointer;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.cross-btn{
  margin-top: -3%;
  margin-right: 1%;
  font-size: 30px;
  font-weight: 500;
}

.succes-msg {
  color: white;
  position: absolute;
  top: 2%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}

