.left-card{
  border: 1px solid lightgrey;
  padding: 2%;
  height:  74.776256vh;

}
.right-card{
  border: 1px solid lightgrey;
  padding: 1%;
  height:  77.776256vh;

}
.trending-supplier-legends th,td{
  padding: 2px!important;
}
.trending-supplier-legends th{
  font-size: 2.2831050228310503vh;
}
.trending-supplier-legends td{
  font-size: 2.13089802130898vh;
}
.legend-i{
  position: absolute;
  left: 4%;
  font-size: 4.566210045662101vh;
  line-height: 0;
  margin-top: -2%;
}
.font-size-lg{
  font-size: 2.43531202435312vh!important;
}
.trending-supplier-legends{
  margin-top: 1%;
  margin-left: -3%;
}


.collpased-card-css{
  margin-bottom: 2%;
}
.collapse-header-css{
  height: 3.8051750380517504vh;
  padding: 1%;
  line-height: 1;
  font-weight: 500;
  font-size: 2.13089802130898vh;
}

.icon-css{
  border:none;
  color: white;
  cursor: pointer;
}
.high-bg-header{
  background: #db0000;
  border: 1px solid #db0000;
}
.low-bg-header{
  background: green;
  border: 1px solid green;
}
.medium-bg-header{
  background: #7b97ff;
  border: 1px solid #7b97ff;
}
.select-supplier {
  border: 1px solid lightgrey
}

.sm-table tbody {
  display: block;
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

.sm-table thead  {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.sm-table tbody tr{
  display: table;
  width: 100%;
  table-layout: fixed;
}

.sm-table-scroll {
  border: 1px solid lightgrey;
  height: 26.547945vh;
  overflow: auto;
}

.sm-table th, td {
  padding: 0.60882800608828vh;
  border:1px solid darkgrey;
}

.sm-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.sm-table td {
  font-size: 1.82648401826484vh;
}

.sm-table {
  transform-style: preserve-3d;
  width: 100%;
}
table thead{
  background: black;
  color: white;
}
.card-body{
  padding: 0.6rem!important;
}
.accordion-style{
  margin-top: -1.67427701674277vh;
  margin-bottom: 0%;
  padding: 2%;
  border: 1px solid lightgray;
  height: 44.269406vh;
}
.list-scroll{
  height:  67.121766vh;
  border: 1px solid lightgrey;
  overflow-x: hidden;
}
.lineWiseTable th,td{
  padding: 4px!important;
}
.lineWiseTable th{
  font-size: 14px;
  background: black;
  border:1px solid darkgrey;
  color:white;
}
.lineWiseTable td{
  font-size: 12px;
  border:1px solid darkgrey;
}
.lineWiseTable{
  width: 100%;
}
.text-link {
 /* text-decoration: underline;*/
  color: black!important;
  cursor: pointer;
  font-size: 14px;
  padding: 8px;
}

.mixed-card{
  margin-top: 4%;
}
.list-header{
  padding: 2px;
  padding-left: 15px;
  background: black;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border:1px solid black;
}
.highlight{
  background: rgba(255,165,0,0.4);
  font-weight: 500!important;
}
.bg-color-red{
   background: #db0000;
  font-weight: bold;
  color: white;
  font-size: 14px!important;
}
.bg-color-default{
  background: white;
  font-size: 14px!important;
}
.collapse-body{
  height: 28.83105vh;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  font-family: themify;
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5px;
}
