.lft-card{
  border:1px solid lightgrey;
  padding: 2%;
}
.lft-table-scroll{
  height: 492px;
  border:1px solid lightgrey;
  overflow-x: hidden;
}

.lft-table th,td{
  padding: 4px!important;
}
.lft-table td{
  font-size: 14px;
}
.lft-table th{
  font-size: 16px;
  color: white;
}
.lft-table thead{
  background:darkcyan;
}
.lft-table{
  transform-style: preserve-3d;
  width: 100%;
}
.lft-table tbody {
  display: block;
  /* max-height: 200px;*/
  /*  overflow-y: auto;
    overflow-x: hidden;*/
}

.lft-table thead,tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}
.inp-align{
  padding: 0px;
  text-align: center;
  height: 24px;
}
