<div class="row" style="margin-top: -2%;">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 1%">
      <div class="col-sm-6">
        <div class="lft-card">
          <div class="row">
            <div class="col-sm-5">
              <h5 style="font-size: 18px">Plan Name</h5>
            </div>
            <div class="col-sm-3" *ngIf="successMessage!==''">
              <p class="alert alert-success succes-msg" style="left:56%" data-dismiss="alert" aria-label="Close">
                <strong>{{successMessage}}</strong>
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close"><span
                  aria-hidden="true" (click)="successMessage=''">×</span></button>
              </p>
            </div>
            <div class="col-sm-4 text-right">
              <ng-container *ngIf="isEdit">
                <button class="btn btn-sm btn-success btn-rounded" style="margin-right: 5%" (click)="savePlanDetails()"
                        [disabled]="isFormValid()">save
                </button>
              </ng-container>
              <ng-container *ngIf="isEdit">
                <button class="btn btn-sm btn-dark btn-rounded" (click)="cancelPlanDetails()">Cancel</button>
              </ng-container>
              <ng-container *ngIf="!isEdit">
                <button class="btn btn-sm btn-dark" (click)="isEdit = true;">
                  Edit Plan Details
                </button>
              </ng-container>
            </div>
          </div>
          <div class="row" style="margin-top: 1%">
            <div class="col-sm-12">
              <div class="lft-table-scroll">
                <table class="table table-bordered lft-table">
                  <thead class="text-center header-sticky">
                  <tr>
                    <th style="width: 8%">No.</th>
                    <th>Date</th>
                    <th>Plan Name</th>
                    <th>Tag name</th>
                    <th>isValidated</th>
                    <th>isBackUP</th>
                  </tr>
                  </thead>
                  <tbody class="text-center">
                  <ng-container *ngIf="!isEdit">
                    <tr *ngFor="let plan of planNameList;let i=index">
                      <td style="width: 8%">{{i+1}}</td>
                      <td>{{plan?.mpsDate}}</td>
                      <td>{{plan?.mpsName}}</td>
                      <td>{{plan?.tagName}}</td>
                      <td>{{plan.isMpsValidated}}</td>
                      <td>{{plan.isMpsBackup}}</td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="isEdit">
                    <ng-container
                      *ngFor="let planDataForm of planDataForm?.get('planDataFormArray').controls;let i=index">
                      <tr [formGroup]="planDataForm">
                        <td style="width: 8%">{{i+1}}</td>
                        <td>{{planDataForm?.controls?.date?.value}}</td>
                        <td>
                          <input type="text" formControlName="planName" class="form-control form-control-sm inp-align"
                                 (keyup)="updatePlanData(planDataForm?.controls,$event.target.value,i)">
                          <span
                            style="color: red"
                            *ngIf="!planDataForm.get('planName').valid && planDataForm.get('planName').touched || invalidPlanId==planDataForm?.controls?.id?.value"
                            class="help-block">Please enter valid name</span>
                        </td>
                        <td>{{planDataForm?.controls?.tagName?.value}}</td>
                        <td><input type="radio" name="validate" [checked]="planDataForm.controls.isMpsValidated.value"
                                   (click)="isValidate(planDataForm,$event.target.value,i)">
                        </td>
                        <td><input type="radio" name="backup"
                                   [checked]="planDataForm.controls.isMpsBackup.value" disabled>
                        </td>

                      </tr>
                    </ng-container>
                  </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
