.help-block{
    color: red
}

hr {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.card-body {
    padding-bottom: 0px !important;
    padding-top: 5px !important;
}

.inp-css{
    margin-top: -4%;

}

.bydefaultb-background{
    background: white;
}