<form class="form-horizontal">
    <div class="bydefaultb-background" style="border: 1px solid lightgrey; padding: 2%;margin-left: 0%;width: 100%; margin-bottom: 0%;
overflow-x: hidden; height: 175px">
        <h4 style="font-size: 17px">General Information</h4>
        <div class="row" style="margin-top: 2%;">
            <ng-container [formGroup]="partyForm" *ngIf="partyForm !== undefined">
                <ng-container formGroupName="partyName">
                    <div class="form-group col-sm-4">
                        <label class="control-label">Organization Name</label><span style="color: red">*</span>
                        <input type="text" class="form-control form-control-sm inp-css"
                               formControlName="organizationName"
                               required autocomplete="off" [readonly]="currentOrgId !== undefined">
                        <span
                                *ngIf="!partyForm.get('partyName.organizationName').valid && partyForm.get('partyName.organizationName').touched"
                                class="help-block">
                    <span
                            *ngIf=" partyForm.get('partyName.organizationName').touched && partyForm.get('partyName.organizationName').errors['required']">This field is required</span>
                    </span>
                    </div>

                    <div class="form-group col-sm-4">
                        <label class="control-label">Salutation</label>
                        <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                               formControlName="salutation">
                    </div>
                </ng-container>

                <ng-container formGroupName="partyTypeOrganization">
                    <div class="form-group col-sm-4">
                        <label class="control-label">Organization Type</label>
                        <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                               formControlName="organizationType" readonly>
                    </div>
                    <div class="form-group col-sm-4" *ngIf="currentOrgId === undefined">
                        <label class="control-label">Service</label><span style="color: red">*</span>
                        <div class="inp-css">
                            <angular2-multiselect [data]="serviceTypeList" [settings]="singleSelectDropdownSettings"
                                                  [(ngModel)]="selectedServiceType" formControlName="serviceType"
                                                  (onSelect)="vendorCodeValidationsOnSuplier($event)"
                                                  class="form-control form-control-sm">
                            </angular2-multiselect>
                        </div>
                    </div>

                    <div class="form-group col-sm-4" *ngIf="currentOrgId !== undefined &&
                            currentOrganization !== undefined && currentOrganization.party.partyTypeOrganization.service &&
                            currentOrganization.party.partyTypeOrganization.organizationType === 'ORGANIZATION'">
                        <label class="control-label">Service</label>
                        <input type="text" class="form-control form-control-sm inp-css"
                               [value]="selectedServiceType[0].itemName" readonly
                        >

                    </div>
                    <div class="form-group col-sm-4">
                        <label class="control-label">Vendor Code</label> <span class="help-block"
                                                                               *ngIf="this.isSupplier">*</span>
                        <input type="text" class="form-control form-control-sm inp-css" autocomplete="off" #vendorCode
                               formControlName="vendorCode" maxlength="2">
                    </div>
                </ng-container>
            </ng-container>
            <ng-container [formGroup]="partyRelationshipForm" *ngIf="partyRelationshipForm !== undefined &&
                    currentOrgId === undefined">
                <div class="form-group col-sm-4">
                    <label class="control-label">Second Organization Name</label>
                    <div class="inp-css">
                        <angular2-multiselect [data]="secondPartyList" [settings]="singleSelectDropdownSettings"
                                              [(ngModel)]="selectedSecondParty" formControlName="secondParty"
                                              class="form-control form-control-sm "
                                              *ngIf="secondPartyList.length > 1">
                        </angular2-multiselect>
                    </div>
                    <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                           [value]="selectedSecondParty[0].itemName"
                           *ngIf="secondPartyList.length === 1 && selectedSecondParty[0] !== undefined"
                           readonly>
                </div>

                <div class="form-group col-sm-4">
                    <label class="control-label">Begin Date</label>
                    <input type="text" class="form-control form-control-sm inp-css"
                           autocomplete="off" [bsConfig]="dpConfig"
                           formControlName="beginDate" bsDatepicker>
                </div>
            </ng-container>

            <ng-container [formGroup]="partyRelationshipForm" *ngIf="partyRelationshipForm !== undefined &&
                    currentOrgId !== undefined && currentOrganization !== undefined && currentOrganization.party.partyTypeOrganization.service &&
                            currentOrganization.party.partyTypeOrganization.organizationType === 'ORGANIZATION'">
                <div class="form-group col-sm-4">
                    <label class="control-label">Second Organization Name</label>
                    <input type="text" class="form-control form-control-sm inp-css"
                           [value]="selectedSecondParty[0].itemName" readonly>
                </div>

                <div class="form-group col-sm-4">
                    <label class="control-label">Begin Date</label>
                    <input type="text" class="form-control form-control-sm inp-css"
                           autocomplete="off" [bsConfig]="dpConfig"
                           formControlName="beginDate" bsDatepicker disabled>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="bydefaultb-background" style="border: 1px solid lightgrey; margin-top:2%; padding: 2%;margin-left: 0%;width: 100%; margin-bottom: 0%;
overflow-x: hidden; height: 175px">
        <h4 style="font-size: 17px">Address Details</h4>
        <div class="row" style="margin-top: 2%; margin-left: 0%; width: 100%">
            <ng-container [formGroup]="partyForm" *ngIf="partyForm !== undefined">
                <div class="form-body">
                    <div class="row" formArrayName="partyAddressDetails"
                         *ngFor="let item of partyForm.get('partyAddressDetails')['controls']; let i = index;">
                        <ng-container [formGroupName]="i">
                            <div class="form-group col-sm-12" style="margin-bottom: 0;">
                                <h6 class="text-secondary">ENTER
                                    {{partyForm.get('partyAddressDetails')['controls'][i].get('addressType').value}}
                                    ADDRESS</h6>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Address Line One</label><span
                                    style="color: red">*</span>
                                <input type="text" class="form-control form-control-sm inp-css"
                                       formControlName="addressLineOne"
                                       required autocomplete="off">
                                <span *ngIf="!partyForm.get('partyAddressDetails')['controls'][i].get('addressLineOne').valid && partyForm.get('partyAddressDetails')['controls'][i].get('addressLineOne').touched"
                                      class="help-block">
                    <span *ngIf=" partyForm.get('partyAddressDetails')['controls'][i].get('addressLineOne').touched && partyForm.get('partyAddressDetails')['controls'][i].get('addressLineOne').errors?.required">This field is required</span>
                    </span>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Address Line Two</label>
                                <input type="text" class="form-control form-control-sm inp-css"
                                       autocomplete="off" formControlName="addressLineTwo">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Area</label>
                                <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                                       formControlName="area">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Pincode</label>
                                <input type="text" class="form-control form-control-sm inp-css" maxlength="10"
                                       minlength="4"
                                       autocomplete="off"
                                       formControlName="pinCode">
                            </div>

                            <div class="form-group col-sm-4">
                                <label class="control-label">City</label>
                                <select formControlName="city" class="form-control form-control-sm inp-css">
                                    <option *ngFor="let city of cityList" [value]="city.id">
                                        {{city.name}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group col-sm-12"
                                 *ngIf="partyForm.get('partyAddressDetails')['controls'][i].get('addressType').value !== 'OFFICE'">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [id]="setCheckboxId(i)"
                                           (change)="copyAddressIfChecked(i, $event.target.checked)">
                                    <label class="custom-control-label" [for]="setCheckboxId(i)">Same As Office
                                        Address</label>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>


        </div>
    </div>

    <div class="bydefaultb-background" style="border: 1px solid lightgrey; margin-top:2%; padding: 2%;margin-left: 0%;width: 100%; margin-bottom: 0%;
overflow-x: hidden; height: 175px">
        <h4 style="font-size: 17px">Contact Details</h4>
        <div class="row" style="margin-top: 2%; margin-left: 0%; width: 100%">
            <ng-container class="form-horizontal" [formGroup]="partyForm"
                          *ngIf="partyForm !== undefined">
                <div class="form-body">
                    <div class="row" formGroupName="partyContactDetails">
                        <div class="form-group col-sm-4">
                            <label class="control-label">Primary Mobile No.</label><span style="color: red">*</span>
                            <input type="text" class="form-control form-control-sm inp-css"
                                   formControlName="mobileNoOne"
                                   maxlength="15" minlength="4"
                                   (keyup)="mobileNumberValidation($event.target.value)"
                                   required autocomplete="off">

                            <span
                                    *ngIf="!partyForm.get('partyContactDetails.mobileNoOne').valid && partyForm.get('partyContactDetails.mobileNoOne').touched"
                                    class="help-block">
                    <span
                            *ngIf=" partyForm.get('partyContactDetails.mobileNoOne').touched && partyForm.get('partyContactDetails.mobileNoOne').errors['required']">This field is required</span>
                    </span>

                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Alternate Mobile No.</label>
                            <input type="text" class="form-control form-control-sm inp-css"
                                   autocomplete="off" formControlName="mobileNoTwo"
                                   maxlength="15" minlength="4"
                                   (keyup)="alternateMobileNumberValidation($event.target.value)">
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Landline No.</label>
                            <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                                   maxlength="15" minlength="4"
                                   (keyup)="landlineNumberValidation($event.target.value)"
                                   formControlName="landLineOne">
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Alternate Landline No.</label>
                            <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                                   maxlength="15" minlength="4"
                                   (keyup)="alternateLandlineNumberValidation($event.target.value)"
                                   formControlName="landLineTwo">
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Email</label><span style="color: red">*</span>
                            <input type="email" class="form-control form-control-sm inp-css" autocomplete="off"
                                   id="email"
                                   formControlName="emailIdOne" required email>

                            <span
                                    *ngIf="!partyForm.get('partyContactDetails.emailIdOne').valid && partyForm.get('partyContactDetails.emailIdOne').touched"
                                    class="help-block">

                                    <span
                                            *ngIf=" partyForm.get('partyContactDetails.emailIdOne').touched && partyForm.get('partyContactDetails.emailIdOne').errors['required']">This field is required
                                    </span>


                    </span>

                            <span
                                    style="color: red"
                                    *ngIf=" partyForm.get('partyContactDetails.emailIdOne').invalid && partyForm.get('partyContactDetails.emailIdOne').touched && partyForm.get('partyContactDetails.emailIdOne').value!=null"

                                    class="help-block">Email is invalid
                                                 </span>
                            <!--     <span *ngIf="partyForm.get('partyContactDetails.emailIdOne').value!==null && partyForm.get('partyContactDetails.emailIdOne').touched && partyForm.get('partyContactDetails.emailIdOne').errors['required']">
                                                                        Please enter valid email address
                                                                    </span>-->

                        </div>

                        <div class="form-group col-sm-4">
                            <label class="control-label">Alternate Email</label>
                            <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                                   formControlName="emailIdTwo">
                            <span
                                    style="color: red"
                                    *ngIf=" partyForm.get('partyContactDetails.emailIdTwo').invalid && partyForm.get('partyContactDetails.emailIdTwo').touched && partyForm.get('partyContactDetails.emailIdTwo').value!=null"

                                    class="help-block">Email is invalid
                                                 </span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Fax No.</label>
                            <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                                   maxlength="15"
                                   minlength="4"
                                   (keyup)="faxNumberValidation($event.target.value)"
                                   formControlName="faxOne">
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Alternate Fax No.</label>
                            <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                                   maxlength="15"
                                   minlength="4"
                                   (keyup)="alternateFaxNumberValidaiton($event.target.value)"
                                   formControlName="faxTwo">
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</form>
<div class="pull-right" *ngIf="partyForm !== undefined && partyRelationshipForm !== undefined">
    <button class="btn btn-info mb-2" type="submit" style="margin-top: 14%" (click)="addOrganization()"
            [disabled]="checkValidConditions()">
        Submit
    </button><!--submitButtonClicked = true;-->
</div>
<!--sudir code top-->


<!--<div class="material-card card" style="font-size: smaller">
    <div class="card-body">
        <form class="form-horizontal">
            <div class="row" *ngIf="errorMessage !== ''">
                <div class="col-md-6">
                    <p class="alert alert-danger" data-dismiss="alert" aria-label="Close">
                        <strong>{{errorMessage}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true" (click)="errorMessage=''">×</span></button>
                    </p>
                </div>
            </div>
            <h4 class="card-title">Organization</h4>
            <div class="card-body" style="padding-left: 0">
                <h4 class="card-title text-info">General Info</h4>
                <div class="row">
                    <ng-container [formGroup]="partyForm" *ngIf="partyForm !== undefined">
                        <ng-container formGroupName="partyName">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Organization Name</label><span style="color: red">*</span>
                                <input type="text" class="form-control form-control-sm"
                                       formControlName="organizationName"
                                       required autocomplete="off" [readonly]="currentOrgId !== undefined">
                                <span
                                        *ngIf="!partyForm.get('partyName.organizationName').valid && partyForm.get('partyName.organizationName').touched"
                                        class="help-block">
                    <span
                            *ngIf=" partyForm.get('partyName.organizationName').touched && partyForm.get('partyName.organizationName').errors['required']">This field is required</span>
                    </span>
                            </div>

                            <div class="form-group col-sm-4">
                                <label class="control-label">Salutation</label>
                                <input type="text" class="form-control form-control-sm" autocomplete="off"
                                       formControlName="salutation">
                            </div>
                        </ng-container>

                        <ng-container formGroupName="partyTypeOrganization">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Organization Type</label>
                                <input type="text" class="form-control form-control-sm" autocomplete="off"
                                       formControlName="organizationType" readonly>
                            </div>
                            <div class="form-group col-sm-4" *ngIf="currentOrgId === undefined">
                                <label class="control-label">Service</label><span style="color: red">*</span>
                                <angular2-multiselect [data]="serviceTypeList" [settings]="singleSelectDropdownSettings"
                                                      [(ngModel)]="selectedServiceType" formControlName="serviceType"
                                                      (onSelect)="vendorCodeValidationsOnSuplier($event)"
                                                      class="form-control form-control-sm">
                                </angular2-multiselect>
                            </div>

                            <div class="form-group col-sm-4" *ngIf="currentOrgId !== undefined &&
                            currentOrganization !== undefined && currentOrganization.party.partyTypeOrganization.service &&
                            currentOrganization.party.partyTypeOrganization.organizationType === 'ORGANIZATION'">
                                <label class="control-label">Service</label>
                                <input type="text" class="form-control form-control-sm"
                                       [value]="selectedServiceType[0].itemName" readonly
                                >

                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Vendor Code</label> <span class="help-block"
                                                                                       *ngIf="this.isSupplier">*</span>
                                <input type="text" class="form-control form-control-sm" autocomplete="off" #vendorCode
                                       formControlName="vendorCode" maxlength="2">
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-container [formGroup]="partyRelationshipForm" *ngIf="partyRelationshipForm !== undefined &&
                    currentOrgId === undefined">
                        <div class="form-group col-sm-4">
                            <label class="control-label">Second Organization Name</label>
                            <angular2-multiselect [data]="secondPartyList" [settings]="singleSelectDropdownSettings"
                                                  [(ngModel)]="selectedSecondParty" formControlName="secondParty"
                                                  class="form-control form-control-sm"
                                                  *ngIf="secondPartyList.length > 1">
                            </angular2-multiselect>
                            <input type="text" class="form-control form-control-sm" autocomplete="off"
                                   [value]="selectedSecondParty[0].itemName"
                                   *ngIf="secondPartyList.length === 1 && selectedSecondParty[0] !== undefined"
                                   readonly>
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="control-label">Begin Date</label>
                            <input type="text" class="form-control form-control-sm"
                                   autocomplete="off" [bsConfig]="dpConfig"
                                   formControlName="beginDate" bsDatepicker>
                        </div>
                    </ng-container>

                    <ng-container [formGroup]="partyRelationshipForm" *ngIf="partyRelationshipForm !== undefined &&
                    currentOrgId !== undefined && currentOrganization !== undefined && currentOrganization.party.partyTypeOrganization.service &&
                            currentOrganization.party.partyTypeOrganization.organizationType === 'ORGANIZATION'">
                        <div class="form-group col-sm-4">
                            <label class="control-label">Second Organization Name</label>
                            <input type="text" class="form-control form-control-sm"
                                   [value]="selectedSecondParty[0].itemName" readonly>
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="control-label">Begin Date</label>
                            <input type="text" class="form-control form-control-sm"
                                   autocomplete="off" [bsConfig]="dpConfig"
                                   formControlName="beginDate" bsDatepicker disabled>
                        </div>
                    </ng-container>
                </div>
            </div>
            <hr>
            <div class="card-body" style="padding-left: 0">
                <h4 class="card-title text-info">Address Details</h4>
                <ng-container [formGroup]="partyForm" *ngIf="partyForm !== undefined">
                    <div class="form-body">
                        <div class="row" formArrayName="partyAddressDetails"
                             *ngFor="let item of partyForm.get('partyAddressDetails')['controls']; let i = index;">
                            <ng-container [formGroupName]="i">
                                <div class="form-group col-sm-12" style="margin-bottom: 0;">
                                    <h6 class="text-secondary">ENTER
                                        {{partyForm.get('partyAddressDetails')['controls'][i].get('addressType').value}}
                                        ADDRESS</h6>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Address Line One</label><span
                                        style="color: red">*</span>
                                    <input type="text" class="form-control form-control-sm"
                                           formControlName="addressLineOne"
                                           required autocomplete="off">
                                    <span *ngIf="!partyForm.get('partyAddressDetails')['controls'][i].get('addressLineOne').valid && partyForm.get('partyAddressDetails')['controls'][i].get('addressLineOne').touched"
                                          class="help-block">
                    <span *ngIf=" partyForm.get('partyAddressDetails')['controls'][i].get('addressLineOne').touched && partyForm.get('partyAddressDetails')['controls'][i].get('addressLineOne').errors?.required">This field is required</span>
                    </span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Address Line Two</label>
                                    <input type="text" class="form-control form-control-sm"
                                           autocomplete="off" formControlName="addressLineTwo">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Area</label>
                                    <input type="text" class="form-control form-control-sm" autocomplete="off"
                                           formControlName="area">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Pincode</label>
                                    <input type="text" class="form-control form-control-sm" maxlength="10"
                                           minlength="4"
                                           autocomplete="off"
                                           formControlName="pinCode">
                                </div>

                                <div class="form-group col-sm-4">
                                    <label class="control-label">City</label>
                                    <select formControlName="city" class="form-control form-control-sm">
                                        <option *ngFor="let city of cityList" [value]="city.id">
                                            {{city.name}}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group col-sm-12"
                                     *ngIf="partyForm.get('partyAddressDetails')['controls'][i].get('addressType').value !== 'OFFICE'">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" [id]="setCheckboxId(i)"
                                               (change)="copyAddressIfChecked(i, $event.target.checked)">
                                        <label class="custom-control-label" [for]="setCheckboxId(i)">Same As Office
                                            Address</label>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
            <hr>
            <div class="card-body" style="padding-left: 0">
                <h4 class="card-title text-info">Contact Details</h4>
                <ng-container class="form-horizontal" [formGroup]="partyForm"
                              *ngIf="partyForm !== undefined">
                    <div class="form-body">
                        <div class="row" formGroupName="partyContactDetails">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Primary Mobile No.</label><span style="color: red">*</span>
                                <input type="text" class="form-control form-control-sm" formControlName="mobileNoOne"
                                       maxlength="15" minlength="4"
                                       (keyup)="mobileNumberValidation($event.target.value)"
                                       required autocomplete="off">

                                <span
                                        *ngIf="!partyForm.get('partyContactDetails.mobileNoOne').valid && partyForm.get('partyContactDetails.mobileNoOne').touched"
                                        class="help-block">
                    <span
                            *ngIf=" partyForm.get('partyContactDetails.mobileNoOne').touched && partyForm.get('partyContactDetails.mobileNoOne').errors['required']">This field is required</span>
                    </span>

                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Alternate Mobile No.</label>
                                <input type="text" class="form-control form-control-sm"
                                       autocomplete="off" formControlName="mobileNoTwo"
                                       maxlength="15" minlength="4"
                                       (keyup)="alternateMobileNumberValidation($event.target.value)">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Landline No.</label>
                                <input type="text" class="form-control form-control-sm" autocomplete="off"
                                       maxlength="15" minlength="4"
                                       (keyup)="landlineNumberValidation($event.target.value)"
                                       formControlName="landLineOne">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Alternate Landline No.</label>
                                <input type="text" class="form-control form-control-sm" autocomplete="off"
                                       maxlength="15" minlength="4"
                                       (keyup)="alternateLandlineNumberValidation($event.target.value)"
                                       formControlName="landLineTwo">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Email</label><span style="color: red">*</span>
                                <input type="text" class="form-control form-control-sm" autocomplete="off"
                                       id="email"
                                       formControlName="emailIdOne" required #email>

                                <span
                                        *ngIf="!partyForm.get('partyContactDetails.emailIdOne').valid && partyForm.get('partyContactDetails.emailIdOne').touched"
                                        class="help-block">

                                    <span
                                            *ngIf=" partyForm.get('partyContactDetails.emailIdOne').touched && partyForm.get('partyContactDetails.emailIdOne').errors['required']">This field is required
                                    </span>


                    </span>
                                &lt;!&ndash;     <span *ngIf="partyForm.get('partyContactDetails.emailIdOne').value!==null && partyForm.get('partyContactDetails.emailIdOne').touched && partyForm.get('partyContactDetails.emailIdOne').errors['required']">
                                                                            Please enter valid email address
                                                                        </span>&ndash;&gt;

                            </div>

                            <div class="form-group col-sm-4">
                                <label class="control-label">Alternate Email</label>
                                <input type="text" class="form-control form-control-sm" autocomplete="off"
                                       formControlName="emailIdTwo">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Fax No.</label>
                                <input type="text" class="form-control form-control-sm" autocomplete="off"
                                       maxlength="15"
                                       minlength="4"
                                       (keyup)="faxNumberValidation($event.target.value)"
                                       formControlName="faxOne">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Alternate Fax No.</label>
                                <input type="text" class="form-control form-control-sm" autocomplete="off"
                                       maxlength="15"
                                       minlength="4"
                                       (keyup)="alternateFaxNumberValidaiton($event.target.value)"
                                       formControlName="faxTwo">
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <hr>
        </form>
        <div class="pull-right" *ngIf="partyForm !== undefined && partyRelationshipForm !== undefined">
            <button class="btn btn-info mb-2" type="submit" (click)="addOrganization()"
                    [disabled]="checkValidConditions()"
            >
                Submit
            </button>&lt;!&ndash;submitButtonClicked = true;&ndash;&gt;
        </div>
    </div>
</div>-->
<!--!partyRelationshipForm.valid-->
