table#dataTable tbody {
  display: block;
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#dataTable thead, table#dataTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.table-scroll {
  border: 1px solid lightgrey;
  height: 490px;
  overflow: auto;
}

.data-table th, td {
  padding: 4px;
}

.data-table th {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.data-table td {
  font-size: 12px;
}

.data-table {
  transform-style: preserve-3d;
  width: 100%;
}


.header-sticky {
  position: sticky;
  z-index: 100;
  top: 0%;
}
table thead{
  background-color: darkcyan;
  color: white;
}

.green{
  background: rgba(0, 230, 64, 0.4);
  /* border: 1px solid rgba(0, 230, 64, 1);*/
  font-weight: bold;

}
.blue{
  background:rgba(54, 162, 235, 0.4);
  /*border: 1px solid rgba(54, 162, 235, 1);*/
  font-weight: bold;

}
.red{
  background: rgba(255, 99, 132, 0.4);
  /* border: 1px solid rgba(255, 99, 132, 1);*/
  font-weight: bold;

}
.word-wrap-table-cell{
  cursor: pointer;
  white-space: nowrap;
  width: 108px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.word-wrap-table-cell-2{
  cursor: pointer;
  white-space: nowrap;
  width: 146px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.word-wrap-table-cell-receipt{
  cursor: pointer;
  white-space: nowrap;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.font-highlight{
  font-size: 18px!important;
  font-weight: 500;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  font-family: themify;
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5px;
}
