<div class="row" style="margin-top: -1%">
  <div class="col-sm-12">
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-md-7">
          <div class="form-inline">
            <nav aria-label="breadcrumb" style="margin-left: -2%">
              <ol class="breadcrumb">
                <!--  <li class="breadcrumb-item">
                    <a href='javascript:void(0)'>Home</a>
                  </li>-->
                <li class="breadcrumb-item active">Analytics</li>
                <li class="breadcrumb-item ">Current Plan</li>
                <li class="breadcrumb-item  font-weight-bold text-dark">OTIF (Data)</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-5 d-flex justify-content-end">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="table-scroll">
      <table class="table table-bordered data-table" id="dataTable">
        <thead class="header-sticky text-left">
        <tr>
          <th rowspan="2">Supplier Code</th>
          <th rowspan="2" style="width: 12%">Supplier Name</th>
          <th rowspan="2">Item Code</th>
          <th rowspan="2">ItemDescription</th>
          <th colspan="2" class="text-center">Confirmed Schedule</th>
          <th rowspan="2">Total Order Qty</th>
          <th rowspan="2">Total Receipt Qty</th>
          <th rowspan="2">Balance</th>
          <th rowspan="2" style="width: 7%">% Receipt</th>
          <th rowspan="2">Score</th>
        </tr>
        <tr>
          <th>{{previousMonth}}</th>
          <th>{{currentMonth}}</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <ng-container *ngFor="let oTifData of otifDataList">
          <tr>
            <td class="font-weight-bold text-left" style="line-height: 2">{{oTifData?.supplierCode}}</td>
            <td style="line-height: 2; width: 12%" class="text-left">
              <div class="word-wrap-table-cell-2">
                {{oTifData?.supplierName}}
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td  style="width: 7%" class="font-highlight">{{oTifData?.receiptPercentage}}</td>
            <td class="font-highlight">{{oTifData?.score}}</td>
          </tr>
          <ng-container>
            <tr *ngFor="let pmOtifCalculationDetailsDTOData of oTifData.pmOtifCalculationDetailsDTO">
              <td></td>
              <td style="width: 12%"></td>
              <td class="text-left">{{pmOtifCalculationDetailsDTOData?.itemCode}}</td>
              <td>
                <div class="word-wrap-table-cell text-left">
                  {{pmOtifCalculationDetailsDTOData?.itemDescription}}
                </div>
              </td>
              <td>{{pmOtifCalculationDetailsDTOData?.prevMonthOrderQty}}</td>
              <td>{{pmOtifCalculationDetailsDTOData?.currentMonthOrderQty}}</td>
              <td>{{pmOtifCalculationDetailsDTOData?.totalOrderQty}}</td>
              <td>{{pmOtifCalculationDetailsDTOData?.totalReceivedQty}}</td>
              <td>{{pmOtifCalculationDetailsDTOData?.balanceQty}}</td>
              <td title="{{pmOtifCalculationDetailsDTOData?.receiptPercentage}}" style="width: 7%"
                  [ngClass]="
            {'green': pmOtifCalculationDetailsDTOData?.receiptPercentage > 95 ,
             'blue':  pmOtifCalculationDetailsDTOData?.receiptPercentage >= 50 && pmOtifCalculationDetailsDTOData?.receiptPercentage <= 95,
             'red':   pmOtifCalculationDetailsDTOData?.receiptPercentage < 50}"
              ><div class="word-wrap-table-cell-receipt">{{pmOtifCalculationDetailsDTOData?.receiptPercentage}}</div></td>
              <td>
                {{pmOtifCalculationDetailsDTOData?.score}}
              </td>
            </tr>
          </ng-container>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
