.left-div {
  border: 1px solid lightgrey;
  padding: 2%;
}

.upper-div {
  border: 1px solid lightgrey;
  padding: 2%;
}

.lower-div {
  border: 1px solid lightgrey;
  padding: 2%;
  margin-top: 1%;
}

.slob-card {
  border: 2px solid lightslategrey;
  padding: 1%;
  margin-bottom: 0px;
  background: white;
}

table thead {
  background-color: darkcyan;
  color: white;
}

.slob-summary-table-scroll {
  border: 1px solid lightgrey;
  height: 445px;
  overflow-x: hidden;
  margin-top: -4px;
}

table th, td {
  padding: 4px;
  white-space: nowrap;
}

table th {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid lightgrey;
}

table td {
  font-size: 12px;
}

table {
  transform-style: preserve-3d;
  width: 100%;
}

table thead {
  background-color: darkcyan;
  color: white;
}

.header-sticky {
  position: sticky;
  z-index: 100;
  top: 0%;
}

table#slobSummaryTable tbody {
 /* display: block;
  !* max-height: 200px;*!*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#slobSummaryTable thead, table#slobSummaryTable tbody tr {
 /* display: table;
  width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}
.division-slob-deviation-table-scroll{
  border: 1px solid lightgrey;
  height: 210px;
  overflow-x: hidden;
  margin-top: -4px;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  font-family: themify;
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 3%;
}
