<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <!-- <h4 class="mps-plan-selection page-title text-muted"><b>MPS 07_11</b></h4>-->
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <!--  <li class="breadcrumb-item">
                        <a>Home</a>
                      </li>-->
                    <li class="breadcrumb-item active">SLOB</li>
                    <li class="breadcrumb-item  font-weight-bold text-dark">SLOB Summary</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                <!--   <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download to Excel!"
                           style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                     <i class="mdi mdi-file-excel excel-icon"></i></button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slob-card">
      <div class="row">
        <div class="col-sm-6">
          <div class="left-div">
            <h5>Slob Summary</h5>
            <div class="slob-summary-table-scroll">
              <table class="table table-bordered slob-summary-table" id="slobSummaryTable">
                <thead class="text-left header-sticky">
                <tr>
                  <th>Material Type</th>
                  <th>Division</th>
                  <th>OB Value</th>
                  <th>SM Value</th>
                  <th>Current Slob</th>
                  <th>Total Stock Value</th>
                  <th>IQ</th>
                </tr>
                </thead>
                <tbody class="text-right">
                <ng-container *ngFor="let slobSummary of slobSummaryList">
                    <tr>
                      <td class="text-left">{{slobSummary?.fgType}}</td>
                      <td></td>
                      <td>{{slobSummary?.totalTypeOBValue | number:'1.0':'en-IN'}}</td>
                      <td>{{slobSummary?.totalTypeSLValue | number:'1.0':'en-IN'}}</td>
                      <td>{{slobSummary?.totalTypeSlobValue | number:'1.0':'en-IN'}}</td>
                      <td>{{slobSummary?.totalTypeStockValue | number:'1.0':'en-IN'}}</td>
                      <td>{{slobSummary?.materialIQ}}&nbsp;%</td>
                    </tr>
                  <ng-container *ngFor="let divisionWiseFGSlobSummaryDTOsList of slobSummary?.divisionWiseFGSlobSummaryDTOs">
                    <tr>
                      <td></td>
                      <td class="text-left">{{divisionWiseFGSlobSummaryDTOsList?.divisionName}}</td>
                      <td>{{divisionWiseFGSlobSummaryDTOsList?.obValue | number:'1.0':'en-IN'}}</td>
                      <td>{{divisionWiseFGSlobSummaryDTOsList?.slValue | number:'1.0':'en-IN'}}</td>
                      <td>{{divisionWiseFGSlobSummaryDTOsList?.slobValue | number:'1.0':'en-IN'}}</td>
                      <td>{{divisionWiseFGSlobSummaryDTOsList?.stockValue | number:'1.0':'en-IN'}}</td>
                      <td></td>
                    </tr>
                  </ng-container>
                </ng-container>
                <tr>
                  <td colspan="2" class="text-left" style="font-weight: bold">TOTAL</td>
                  <td>{{totalSlobSummaryValues?.totalObsoleteItemValue | number:'1.0':'en-IN'}}</td>
                  <td>{{totalSlobSummaryValues?.totalSlowItemValue | number:'1.0':'en-IN'}}</td>
                  <td>{{totalSlobSummaryValues?.totalSlobValue | number:'1.0':'en-IN'}}</td>
                  <td>{{totalSlobSummaryValues?.totalStockValue | number:'1.0':'en-IN'}}</td>
                  <td>{{totalSlobSummaryValues?.slobIQ}}&nbsp;%</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class=" col-sm-12">
              <div class="upper-div">
                <h5>Total Slob Deviation</h5>
                <div>
                  <table class="table table-bordered total-slob-deviation-table" id="totalSlobDeviationTable">
                    <thead class="text-left header-sticky">
                    <tr>
                      <th></th>
                      <th>June 2021 Total</th>
                      <th>May 2021 Total</th>
                      <th>Deviation Total</th>
                      <th>Deviation Status</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr class="text-right">
                      <th class="text-left">OB Value</th>
                      <td>{{totalSlobDeviation?.obDeviationDTO?.currentMonthSlobValue | number:'1.0':'en-IN'}}</td>
                      <td>{{totalSlobDeviation?.obDeviationDTO?.previousMonthSlobValue | number:'1.0':'en-IN'}}</td>
                      <td>{{totalSlobDeviation?.obDeviationDTO?.deviationValue | number:'1.0':'en-IN'}}</td>
                      <td class="text-center">
                        <ng-container *ngIf="totalSlobDeviation?.obDeviationDTO?.deviationStatus === 'UP'">
                        <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                        </ng-container>
                        <ng-container *ngIf="totalSlobDeviation?.obDeviationDTO?.deviationStatus === 'DOWN'">
                          <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                        </ng-container>
                        <ng-container *ngIf="totalSlobDeviation?.obDeviationDTO?.deviationStatus === 'NA'">
                        </ng-container>
                      </td>
                    </tr>
                    <tr class="text-right">
                      <th class="text-left">SM Value</th>
                      <td>{{totalSlobDeviation?.slDeviationDTO?.currentMonthSlobValue | number:'1.0':'en-IN'}}</td>
                      <td>{{totalSlobDeviation?.slDeviationDTO?.previousMonthSlobValue | number:'1.0':'en-IN'}}</td>
                      <td>{{totalSlobDeviation?.slDeviationDTO?.deviationValue | number:'1.0':'en-IN'}}</td>
                      <td class="text-center">
                        <ng-container *ngIf="totalSlobDeviation?.slDeviationDTO?.deviationStatus === 'UP'">
                          <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                        </ng-container>
                        <ng-container *ngIf="totalSlobDeviation?.slDeviationDTO?.deviationStatus === 'DOWN'">
                          <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                        </ng-container>
                        <ng-container *ngIf="totalSlobDeviation?.slDeviationDTO?.deviationStatus === 'NA'">
                        </ng-container>
                      </td>
                    </tr>
                    <tr class="text-right">
                      <th class="text-left">Current SLOB</th>
                      <td>{{totalSlobDeviation?.slobDeviationDTO?.currentMonthSlobValue | number:'1.0':'en-IN'}}</td>
                      <td>{{totalSlobDeviation?.slobDeviationDTO?.previousMonthSlobValue | number:'1.0':'en-IN'}}</td>
                      <td>{{totalSlobDeviation?.slobDeviationDTO?.deviationValue | number:'1.0':'en-IN'}}</td>
                      <td class="text-center">
                        <ng-container *ngIf="totalSlobDeviation?.slobDeviationDTO?.deviationStatus === 'UP'">
                          <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                        </ng-container>
                        <ng-container *ngIf="totalSlobDeviation?.slobDeviationDTO?.deviationStatus === 'DOWN'">
                          <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                        </ng-container>
                        <ng-container *ngIf="totalSlobDeviation?.slobDeviationDTO?.deviationStatus === 'NA'">
                        </ng-container>
                      </td>
                    </tr>
                    <tr class="text-right">
                      <th class="text-left">Total Stock Value</th>
                      <td>{{totalSlobDeviation?.stockDeviationDTO?.currentMonthSlobValue | number:'1.0':'en-IN'}}</td>
                      <td>{{totalSlobDeviation?.stockDeviationDTO?.previousMonthSlobValue | number:'1.0':'en-IN'}}</td>
                      <td>{{totalSlobDeviation?.stockDeviationDTO?.deviationValue | number:'1.0':'en-IN'}}</td>
                      <td class="text-center">
                        <ng-container *ngIf="totalSlobDeviation?.stockDeviationDTO?.deviationStatus === 'UP'">
                          <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                        </ng-container>
                        <ng-container *ngIf="totalSlobDeviation?.stockDeviationDTO?.deviationStatus === 'DOWN'">
                          <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                        </ng-container>
                        <ng-container *ngIf="totalSlobDeviation?.stockDeviationDTO?.deviationStatus === 'NA'">
                        </ng-container>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-12">
              <div class="lower-div">
                <h5>Division Slob Deviation</h5>
                <div class="division-slob-deviation-table-scroll">
                  <table class="table table-bordered division-slob-deviation-table" id="divisionSlobDeviationTable">
                    <thead class="text-left header-sticky">
                    <tr>
                      <th>Material Type</th>
                      <th>Current Slob</th>
                      <th>Previous Slob</th>
                      <th>Deviation</th>
                      <th>Deviation Status</th>
                    </tr>
                    </thead>
                    <tbody class="text-right">
                     <ng-container *ngFor="let divsionSlobDeviationData of divsionSlobDeviation">
                       <tr>
                         <td class="text-left">{{divsionSlobDeviationData?.fgType}}</td>
                         <td>{{divsionSlobDeviationData?.typeDeviationDTO?.currentMonthSlobValue | number:'1.0':'en-IN'}}</td>
                         <td>{{divsionSlobDeviationData?.typeDeviationDTO?.previousMonthSlobValue | number:'1.0':'en-IN'}}</td>
                         <td>{{divsionSlobDeviationData?.typeDeviationDTO?.deviationValue | number:'1.0':'en-IN' }}</td>
                         <td class="text-center">
                           <ng-container *ngIf="divsionSlobDeviationData?.typeDeviationDTO?.deviationStatus === 'UP'">
                             <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                           </ng-container>
                           <ng-container *ngIf="divsionSlobDeviationData?.typeDeviationDTO?.deviationStatus === 'DOWN'">
                             <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                           </ng-container>
                           <ng-container *ngIf="divsionSlobDeviationData?.typeDeviationDTO?.deviationStatus === 'NA'">
                           </ng-container>
                         </td>
                       </tr>
                       <ng-container *ngFor="let divisionWiseFGSlobSummaryDTOsList of divsionSlobDeviationData?.divisionWiseFGSlobSummaryDTOs">
                         <tr class="text-right">
                           <td class="text-right">{{divisionWiseFGSlobSummaryDTOsList?.divisionName}}</td>
                           <td>{{divisionWiseFGSlobSummaryDTOsList?.divisionWiseDeviationDTO?.currentMonthSlobValue | number:'1.0':'en-IN'}}</td>
                           <td>{{divisionWiseFGSlobSummaryDTOsList?.divisionWiseDeviationDTO?.previousMonthSlobValue | number:'1.0':'en-IN'}}</td>
                           <td>{{divisionWiseFGSlobSummaryDTOsList?.divisionWiseDeviationDTO?.deviationValue | number:'1.0':'en-IN'}}</td>
                           <td class="text-center">
                             <ng-container *ngIf="divisionWiseFGSlobSummaryDTOsList?.divisionWiseDeviationDTO?.deviationStatus === 'UP'">
                               <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                             </ng-container>
                             <ng-container *ngIf="divisionWiseFGSlobSummaryDTOsList?.divisionWiseDeviationDTO?.deviationStatus === 'DOWN'">
                               <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                             </ng-container>
                             <ng-container *ngIf="divisionWiseFGSlobSummaryDTOsList?.divisionWiseDeviationDTO?.deviationStatus === 'NA'">
                             </ng-container>
                             </td>
                         </tr>
                       </ng-container>
                     </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



