<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <li class="breadcrumb-item active">Purchase</li>
                    <li class="breadcrumb-item  text-dark font-weight-bold">Projected cover </li>
                  <!--  <li class="breadcrumb-item  text-dark font-weight-bold">CoverDays</li>-->
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download 'Purchase Cover Days'"
                        style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--
     <input type="text"  placeholder="Search..."  class="gross-search btn-rounded"  [(ngModel)]="grossConsumptionSearchTerm">
     <span class="fas fa-search icon-search"></span>-->
    <div class="gross-card">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <div class="bulk-table-scroll">
        <table class="table table-bordered bulk-table" id="bulkTable" #TABLE>
          <thead class="text-left header-sticky">
          <tr>
            <th>PM Code</th>
            <th style="width: 8%">PM Description</th>
            <th class="stick-style">{{monthNamesList?.month1?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month2?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month3?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month4?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month5?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month6?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month7?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month8?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month9?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month10?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month11?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month12?.monthNameAlias}}</th>
          </tr>
          </thead>
          <tbody class="text-right">
          <tr *ngFor="let coverDaysData of coverDaysDataList">
            <td class="text-left" style="font-weight: 500">{{ coverDaysData?.itemCode}}</td>
            <td class="text-left" style="width: 8%">{{ coverDaysData?.itemDescription}}</td>
            <td>{{ coverDaysData?.m1Value}}</td>
            <td>{{ coverDaysData?.m2Value}}</td>
            <td>{{ coverDaysData?.m3Value}}</td>
            <td>{{ coverDaysData?.m4Value}}</td>
            <td>{{coverDaysData?.m5Value}}</td>
            <td>{{coverDaysData?.m6Value}}</td>
            <td>{{coverDaysData?.m7Value}}</td>
            <td>{{coverDaysData?.m8Value}}</td>
            <td>{{coverDaysData?.m9Value}}</td>
            <td>{{coverDaysData?.m10Value}}</td>
            <td>{{coverDaysData?.m11Value}}</td>
            <td>{{coverDaysData?.m12Value}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>





