<div class="row" style="margin-top:-2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <li class="breadcrumb-item active">Purchase</li>
                   <!-- <li class="breadcrumb-item  text-dark font-weight-bold">Projected cover days</li>-->
                    <li class="breadcrumb-item  text-dark font-weight-bold">Projected StockEquation</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download  ' Purchase Stock Equation'"
                        style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cover-days-card">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <!-- <div class="row">
         <div class="col-sm-12"-->
      <div class="cover-days-table-scroll">
        <table class="table table-bordered coverdays-table" id="coverDaysTable">
          <thead class="text-left header-sticky">
          <tr class="text-center">
            <th colspan="2" class="bg-color-light">
                  <span
                    style=" font-weight: bold!important;">RM Details </span>
            </th>
            <th colspan="12" class="bg-color-light">
                  <span
                    style="  font-weight: bold!important;">Stock </span>
            </th>
            <th colspan="12" class="bg-color-light">
                  <span
                    style="  font-weight: bold!important;">Order </span>
            </th>
            <th colspan="12" class="bg-color-light">
                  <span
                    style="  font-weight: bold!important;">Cover Days </span>
            </th>
          </tr>
          <tr>
            <th class="stick-style">RM Code</th>
            <th class="stick-style">RM Description</th>
            <th class="stick-style">{{monthNamesList?.month1?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month2?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month3?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month4?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month5?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month6?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month7?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month8?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month9?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month10?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month11?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month12?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month1?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month2?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month3?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month4?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month5?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month6?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month7?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month8?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month9?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month10?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month11?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month12?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month1?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month2?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month3?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month4?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month5?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month6?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month7?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month8?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month9?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month10?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month11?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month12?.monthNameAlias}}</th>
          </tr>
          </thead>
          <tbody class="text-right">
          <tr *ngFor="let stockEquationData of stockEquationDataList">
            <td class="text-left" style="font-weight: 500">{{stockEquationData?.itemCode}}</td>
            <td class="text-left">{{stockEquationData?.itemDescription}}</td>
            <td>{{stockEquationData?.m1StockEquationDTO?.stock}}</td>
            <td>{{stockEquationData?.m2StockEquationDTO?.stock}}</td>
            <td>{{stockEquationData?.m3StockEquationDTO?.stock}}</td>
            <td>{{stockEquationData?.m4StockEquationDTO?.stock}}</td>
            <td>{{stockEquationData?.m5StockEquationDTO?.stock}}</td>
            <td>{{stockEquationData?.m6StockEquationDTO?.stock}}</td>
            <td>{{stockEquationData?.m7StockEquationDTO?.stock}}</td>
            <td>{{stockEquationData?.m8StockEquationDTO?.stock}}</td>
            <td>{{stockEquationData?.m9StockEquationDTO?.stock}}</td>
            <td>{{stockEquationData?.m10StockEquationDTO?.stock}}</td>
            <td>{{stockEquationData?.m11StockEquationDTO?.stock}}</td>
            <td>{{stockEquationData?.m12StockEquationDTO?.stock}}</td>
            <td>{{stockEquationData?.m1StockEquationDTO?.order}}</td>
            <td>{{stockEquationData?.m2StockEquationDTO?.order}}</td>
            <td>{{stockEquationData?.m3StockEquationDTO?.order}}</td>
            <td>{{stockEquationData?.m4StockEquationDTO?.order}}</td>
            <td>{{stockEquationData?.m5StockEquationDTO?.order}}</td>
            <td>{{stockEquationData?.m6StockEquationDTO?.order}}</td>
            <td>{{stockEquationData?.m7StockEquationDTO?.order}}</td>
            <td>{{stockEquationData?.m8StockEquationDTO?.order}}</td>
            <td>{{stockEquationData?.m9StockEquationDTO?.order}}</td>
            <td>{{stockEquationData?.m10StockEquationDTO?.order}}</td>
            <td>{{stockEquationData?.m11StockEquationDTO?.order}}</td>
            <td>{{stockEquationData?.m12StockEquationDTO?.order}}</td>
            <td>{{stockEquationData?.m1StockEquationDTO?.coverDays}}</td>
            <td>{{stockEquationData?.m2StockEquationDTO?.coverDays}}</td>
            <td>{{stockEquationData?.m3StockEquationDTO?.coverDays}}</td>
            <td>{{stockEquationData?.m4StockEquationDTO?.coverDays}}</td>
            <td>{{stockEquationData?.m5StockEquationDTO?.coverDays}}</td>
            <td>{{stockEquationData?.m6StockEquationDTO?.coverDays}}</td>
            <td>{{stockEquationData?.m7StockEquationDTO?.coverDays}}</td>
            <td>{{stockEquationData?.m8StockEquationDTO?.coverDays}}</td>
            <td>{{stockEquationData?.m9StockEquationDTO?.coverDays}}</td>
            <td>{{stockEquationData?.m10StockEquationDTO?.coverDays}}</td>
            <td>{{stockEquationData?.m11StockEquationDTO?.coverDays}}</td>
            <td>{{stockEquationData?.m12StockEquationDTO?.coverDays}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- </div>
     </div>-->
    </div>
  </div>
</div>
