table {
    width: 100%;
}

.alert-msg-css{
    position: absolute;
    left: -12%;
    padding: 8px;
    width: 105%;
}

.mat-cell {
    font-size: 12px;
}



.fontSizeTabs {
    font-size: 20px;
    padding-top: 4px;
    padding-bottom: 3px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom: none;
}

.nav-tabs {
    border-bottom: none;
}

.org-view-overflow-table{
    box-shadow: none;
    border:1px solid lightgrey;
    height: 546px;
    overflow-x: hidden;
}

.mat-header-cell {

    font-size: 16px;/* background: white;*/
    background-color: #EDEFED;
    color: black;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-right: 1px solid #e0e0e0;
    /*padding-left: 7px;
    padding-right: 7px;*/

    text-align: center;

}
.search-box-css{
    width: 30%;
    margin-bottom: -14px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 0px;
}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 0px;
}

.highlight{
    background: aliceblue;
}

.closebtnedit{
   /* background: white;*/
    padding-left: 6px;
    padding-right: 6px;
    height: 20px;
    line-height: 0.5;
    border: none;
  /*  color: black;*/
    font-size: 18px;
}