<div style="padding: 1%">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header" style="padding-bottom: 1px; background: lightgoldenrodyellow">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tabb" role="tablist">
                            <a class="nav-item nav-link  fontSizeTabs active" id="nav-org-tabb" data-toggle="tab"
                               href="#nav-org" role="tab"
                               aria-controls="nav-org" aria-selected="true"> Organization</a>
                            <a class="nav-item nav-link  fontSizeTabs " id="nav-user-tab" data-toggle="tab"
                               href="#nav-userr" role="tab" (click)="userPage()" aria-controls="nav-userr" aria-selected="false">Users</a>
                        </div>
                    </nav>

                </div>
                <div class="card-body">
                    <div class="tab-content" id="nav-tabContent" style="height: 100%">
                        <div class="tab-pane fade show active" id="nav-org" role="tabpanel"
                             aria-labelledby="nav-org-tabb">
                     <div class="row">
                       <div class="col-sm-6" style="padding-right: 6px">
                           <div class="card" style="border: 1px solid lightgrey;
                                 width:100%; margin-left:0px; padding:2%;">
                               <div class="row" >
                                   <div class="col-sm-6">
                                       <h4 style="font-size:16px;">
                                           Organization View</h4>
                                   </div>
                                   <div class="col-md-6">
                                       <ng-container *ngIf="successMessage !== ''">
                                       <p class="alert alert-success alert-msg-css" data-dismiss="alert" aria-label="Close">
                                           <strong>{{successMessage}}</strong>
                                           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                   aria-hidden="true">×</span></button>
                                       </p>
                                       </ng-container>
                                   </div>
                               </div>
                               <mat-form-field class="search-box-css">
                                   <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                               </mat-form-field>

                               <div class="mat-elevation-z8 org-view-overflow-table">
                                   <table mat-table [dataSource]="dataSource" matSort>

                                       <ng-container matColumnDef="organizationName">
                                           <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 55px">Organization Name</th>
                                           <td mat-cell *matCellDef="let organization">
                                               {{organization.organizationName}}
                                           </td>
                                       </ng-container>

                                       <ng-container matColumnDef="secondOrg">
                                           <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 55px">Second Organization</th>
                                           <td mat-cell *matCellDef="let organization">
                                               {{organization.secondOrg}}
                                           </td>
                                       </ng-container>

                                       <ng-container matColumnDef="relation">
                                           <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 30px"> Relation</th>
                                           <td mat-cell *matCellDef="let organization">
                                               {{organization.relation}}
                                           </td>
                                       </ng-container>

                                       <ng-container matColumnDef="serviceType">
                                           <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 25px"> Service Type</th>
                                           <td mat-cell *matCellDef="let organization">
                                               {{organization.serviceType}}
                                           </td>
                                       </ng-container>

                                       <ng-container matColumnDef="options">
                                           <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 25px">Edit</th>
                                           <td mat-cell *matCellDef="let row">
                                              <!-- <button class="btn btn-default btn-sm custom-button-css"
                                                       (click)="addUser(row.options.party.id)"
                                                       title="Add User">
                                                   <i class="fa fa-user-plus text-info"></i></button>-->
                                               <button class="btn btn-default btn-sm custom-button-css" style="margin-left: 6%"
                                                       (click)="editOrganization(row.options.party.id); highlightRow(row)"
                                                       title="Edit Organization">
                                                   <i class="fa fa-edit text-info"></i></button>
                                           </td>
                                       </ng-container>

                                       <tr mat-header-row *matHeaderRowDef="displayedColumns" style="height: 33px"></tr>
                                      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height: 33px"
                                           [ngClass]="{'highlight': selectedRowIndex == row.id}"
                                           (click)="highlight(row)">-->
                                       <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height: 33px"
                                           [ngClass] = "{'highlight' : row == selectedName}">
                                       </tr>
                                   </table>

                                 <!--  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->
                               </div>
                           </div>

                        </div>
                         <div class="col-sm-6" style="padding-left: 0px">
                             <div class="card" [ngStyle]="{'background': SelectionBgColor}" style="border: 1px solid lightgrey;
                                 width:100%; margin-left:0px; padding:2%; padding-bottom: 0px">
                                 <span class="form-inline">
                                      <h4 style="font-size:16px;">
                                          <ng-container *ngIf="!orgEditCloseBtn">Create Organization</ng-container>
                                           <ng-container *ngIf="orgEditCloseBtn">Edit Organization</ng-container>
                                    </h4> <span style="margin-left: 77%; margin-top: -3%;" *ngIf="orgEditCloseBtn">
                                     <button class="btn btn-danger closebtnedit" (click)="closeEditOrg()">X</button></span>
                                 </span>
                                 <router-outlet></router-outlet>

                             </div>

                         </div>
                     </div>

                        </div>

                        <!--SECOND TAB-->
                        <div class="tab-pane fade" id="nav-userr" role="tabpanel"
                             aria-labelledby="nav-user-tab">



                    <!--   <app-party-type-user-list></app-party-type-user-list>-->





                        </div>
                       <!-- <button class="btn btn-info" (click)="userPage()">+</button>-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--sudir code top-->






<!--
<div class="row" *ngIf="successMessage !== ''">
    <div class="col-md-6">
        <p class="alert alert-success" data-dismiss="alert" aria-label="Close">
            <strong>{{successMessage}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="material-card card">
            <div class="card-body">
                <h4 class="card-title">
                    <button class="btn btn-info btn-sm" (click)="addOrganization()" title="Add organization"><i
                            class="fa fa-plus"></i></button>
                    Organization List
                </h4>

                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="organizationName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Org Name</th>
                            <td mat-cell *matCellDef="let organization">
                                {{organization.organizationName}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="secondOrg">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Second Org</th>
                            <td mat-cell *matCellDef="let organization">
                                {{organization.secondOrg}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="relation">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Relation</th>
                            <td mat-cell *matCellDef="let organization">
                                {{organization.relation}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="serviceType">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Type</th>
                            <td mat-cell *matCellDef="let organization">
                                {{organization.serviceType}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Options</th>
                            <td mat-cell *matCellDef="let row">
                               <button class="btn btn-default btn-sm custom-button-css"
                                       (click)="addUser(row.options.party.id)"
                                       title="Add User">
                                 <i class="fa fa-user-plus text-info"></i></button>
                                <button class="btn btn-default btn-sm custom-button-css"
                                        (click)="editOrganization(row.options.party.id)"
                                        title="Edit Organization">
                                    <i class="fa fa-edit text-info"></i></button>
                             </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <router-outlet></router-outlet>
    </div>
</div>
-->
