.masterData-table th, td {
  padding: 0.60882800608828vh;
  white-space: nowrap;
}

.masterData-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.masterData-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}

.masterData-table {
  transform-style: preserve-3d;
  min-height: auto;
  overflow: auto;
  min-width: 500px;
  max-width: 1000px;
}

.table thead {
  background-color: darkcyan;
  color: white;
}

.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  MARGIN-TOP: 6px;
}

.header-sticky {
  position: sticky;
  z-index: 100;
  top: -1px;
}

.excel-icon-btn {
  border: none;
  cursor: pointer;
  background: transparent;
}

.stocks-card {
  margin-bottom: -14px !important;
  min-height: auto;
  overflow: auto;
  min-width: 500px;
  max-width: 15000px;
}

#ngx .ng-valid, .ng-touched.ng-valid {
  border: 1px solid lightgray;
}
