table#mesTable tbody {
  /* display: block;
   !* max-height: 200px;*!*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#mesTable thead, table#mesTable tbody tr {
  /* display: table;
   width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.header-sticky {
  position: sticky;
  z-index: 100;
  top: -1px;
}

.mes-table th, td {
  padding: 0.60882800608828vh;
  white-space: nowrap;
}

.mes-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.mes-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}

.mes-table {
  transform-style: preserve-3d;
  min-height: auto;
  overflow: auto;
  min-width: 500px;
  max-width: 1000px;
}

.mes-scroll-table {
  margin-top: 1%;
  border: 1px solid lightgrey;
  max-height: 482px;
  min-height: auto;
  overflow: auto;
  min-width: 500px;
  max-width: 1000px;
}

table thead {
  background-color: darkcyan;
  color: white;
}

.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  MARGIN-TOP: 6px;
}

.mes-card {
  margin-top: -1%;
  background: white;
}

#ngx .ng-valid, .ng-touched.ng-valid {
  border: 1px solid lightgray;
}

.stocks-card {
  margin-bottom: -14px !important;
  min-height: auto;
  overflow: auto;
  min-width: 500px;
  max-width: 15000px;
}
