
<!--  <div class="mes-scroll-table">
    <table class="table table-bordered mes-table" id="mesTable">
      <thead class="text-light text-left header-sticky">
      <tr>
        <th>Material Code</th>
        <th>Description</th>
        <th>Total Midnight Stock</th>
        <th>Lotwise Midnight Stock</th>
        <th>Lot Number</th>
        <th>Stock Status</th>
      </tr>
      </thead>
      <tbody class="text-left">
      <ng-container *ngFor="let mesData of mesDataList">
          <tr>
            <td class="font-weight-bold">{{mesData?.itemCode}}</td>
            <td>
              <div class="word-wrap-table-cell" title="{{mesData?.itemDescription}}">
                {{mesData?.itemDescription}}
              </div>
            </td>
            <td class="text-right">{{mesData?.quantity | number:'1.2-2':'en-IN'}}</td>
            <td class="text-right">{{mesData?.lotWiseStock | number:'1.2-2':'en-IN'}}</td>
            <td>{{mesData?.lotNumber}}</td>
            <td>{{mesData?.stockStatus}}</td>
          </tr>
      </ng-container>
      </tbody>
    </table>
  </div>-->

      <!--- Complete Table -->
<div class="card stocks-card">
  <div class="d-flex">
    <input type="text" placeholder="Search" class="form-control-sm btn-rounded w-auto ng-pristine ng-valid ng-touched"
           [(ngModel)]="searchTerm"/>
  </div>
  <div class="card-body" style="padding: 0.25rem!important">
    <table class="table  border mes-table">
      <thead>
      <tr>
        <th sortable="itemCode"> Material Code</th>
        <th sortable="itemDescription">Description</th>
        <th sortable="quantity">Total Midnight Stock</th>
        <th sortable="lotWiseStock">Lotwise Midnight Stock</th>
        <th sortable="lotNumber">Lot Number</th>
        <th sortable="stockStatus">Stock Status</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let filterValue of filterDataList | slice: (cpage-1) * cpageSize : (cpage-1) * cpageSize + cpageSize">
        <td class="font-weight-bold">
          <ngb-highlight [result]="filterValue.itemCode" [term]="searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="filterValue.itemDescription" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right">
          <ngb-highlight [result]="filterValue.quantity" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right">
          <ngb-highlight [result]="filterValue.lotWiseStock" [term]="searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="filterValue.lotNumber" [term]="searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="filterValue.stockStatus" [term]="searchTerm"></ngb-highlight>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-content-end flex-wrap" style="margin-top: -1%; margin-bottom: 0px!important; ">
    <ngb-pagination [maxSize]="5" [(page)]="cpage"
                    [pageSize]="cpageSize"
                    [collectionSize]="totalLengthOfCollection" [rotate]="true" [ellipses]="false"
                    [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>




