.card-content{
  border: 0.30441400304414vh solid lightslategrey;
  /*padding: 1%;*/
  margin-bottom: 0px;
  background: white;
  margin-top: -10px;

}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  /*
   border-radius: 25px;*/
  padding: 2px 15px 2px 15px;
  border: 1px solid darkcyan;
  background: darkcyan;
  color: white;
}
.by-default{
  background: white;
  color: #000;

  padding: 2px 15px 2px 15px;
  border: 1px solid grey;
}
.disColor{
  background: white;
  color: #000;

}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  font-family: themify;
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5px;
}
.dropdown-item:hover{
  background:darkcyan;
  color: white;
}
.dropdown-item{
  padding: 4px;
  padding-left: 12%;
  border: 1px solid;
}
.dropdown-toggle::after {
  display: inline-block;

  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  margin-left: 9%;
}
.dropdown-menu{
  padding: unset!important;


}
