<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 1%">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-sm-5">
            <div class="form-inline">
              <div class="page-breadcrumb">
                <nav aria-label="breadcrumb" style="margin-left: -7%">
                  <ol class="breadcrumb">
                    <!--  <li class="breadcrumb-item">
                        <a href='javascript:void(0)'>Home</a>
                      </li>-->
                    <li class="breadcrumb-item active">Analytics</li>
                    <li class="breadcrumb-item  font-weight-bold text-dark">Planning Horizon</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-sm-7">
            <ul class="nav nav-pills mb-3  justify-content-end" id="pills-tab" role="tablist">

              <li class="nav-item" style="margin-left: 0% ">
                <button class="nav-link by-default btn   dropdown  btn-rounded dropdown-toggle"
                        data-toggle="dropdown" id="rmOtifTab"
                        routerLinkActive="active"
                        [ngClass]="firstTabClicked ? 'active ' : ''"
                        (click)="firstTabClicked=true; secondTabClicked=false"
                        role="tab" aria-controls="pills-home" aria-selected="true">RM OTIF</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item "
                     routerLink="rmOtifTab"
                     queryParamsHandling="preserve"
                     (click)="firstTabClicked=true; secondTabClicked=false"
                  >Dashboard</a>
                  <a class="dropdown-item"
                      style="border-top: none"
                     (click)="firstTabClicked=true; secondTabClicked=false"
                  >Data</a>
                </div>
              </li>

              <li class="nav-item" style="margin-left: 0% ">
                <button class="nav-link by-default btn dropdown  dropdown-toggle"  id="pills-rtd"  data-toggle="dropdown"
                        routerLinkActive="active"
                        [ngClass]="secondTabClicked ? 'active ' : ''"
                        (click)="firstTabClicked=false; secondTabClicked=true;"
                        role="tab" aria-controls="pills-profiler" aria-selected="false">SLOB Movement</button>
                <div class="dropdown-menu" style="width:207px; margin-left: -5%">
                  <a class="dropdown-item "
                     routerLink="rmSlobMovementTab"
                     queryParamsHandling="preserve"
                     (click)="firstTabClicked=false; secondTabClicked=true;"
                  >SLOB Movement</a>
                  <a class="dropdown-item"
                     routerLink="rmInventoryQuality" style="border-top: none"
                     queryParamsHandling="preserve"
                     (click)="firstTabClicked=false; secondTabClicked=true;"
                  >Inventory Quality Index</a>
                </div>
              </li>
            </ul>
          </div>
        </div>


        <div class="card-content" style="padding: 1%">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
