.card{
  /* border: 1px solid lightgrey;*/
  padding: 2%;
  height: 519px;

}
.lg-btn-style {
  color: white;
  width: 57%;
  height: 228%;
  font-size: 24px;
  background: linear-gradient(to right, grey 0%, #00bdda 100%);
  border: 1px solid grey;
}
.full-card{
  border:2px solid darkslategray;
  padding: 2%;
  height: 36rem;
}


.navigation-bar{
  background: black;
  padding: 0px;
  margin-top: -7%;
  width: 102%;
  margin-left: -1%;
  height: 40px;
}
.idp-logo{
  width: 108px;
  height: 50px;
  position: absolute;
  background: white;
  border:1px solid black;
  border-right: none;

}
.logo-box{
  border: 1px solid black;
  height: 51px;
  width: 98px;
  position: relative;
  background: black;
}
.logo-img{
  margin-top: -2%;
  height: 32px;
  margin-left: 8%;

}
.logo-text{
  margin-left: 43%;
  margin-top: -30%;
  color: white;
}
.user-logo{
  border-radius: 50%;
  position: absolute;
  top: 62%;
}
.nav-pills {
  width: 89%;
  position: relative;
  /* left: 3%; */
  top: -1%;
}
.drp-menu{
  margin-top: 24%;
  margin-left: -176%;
  padding-top: 0px;
  padding-bottom: 0px;
}
.mdi-home{
  color: white;
  font-size: 26px;
  position: absolute;
  left: 108px;
  top: 2%;
  cursor: pointer;
}


.btn-circle{
  /* width: 105px;
   height: 105px;
   !* margin-left: 0%; *!
   position: relative;
   left: 4%;
   background: #96c4c3;
   color: darkcyan;*/
  width: 125px;
  height: 125px;
  position: relative;
  left: 12%;
  background: #b9d8d7;
  color: darkcyan;
}

.btn-round{
  /* width: 350px;
   height: 100px;
   border-radius: 50px 0px 0px 50px;
   font-size: 24px;
   background: darkcyan;
   color: white;*/
  width: 400px;
  height: 120px;
  border-radius: 50px 0px 0px 50px;
  font-size: 24px;
  background: darkcyan;
  color: white;
}
.btn:disabled {
  opacity: 1;
}
.btn-grp-lft{
  margin-left: -7%;
  width: 100%;
}
.btn-grp-rlt{
  margin-left: 0%;
  width: 100%;
}
.dropdown-toggle::after {
  display: none!important;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}


.left-align-css{
  margin-left: 85%;
}
.left-align-css-2{
  margin-left: 88%;
}

.right-css{
  margin-left: 77%;
}
.right-css-2{
  margin-left: 46%;
}

.backup-dis-1{
  opacity: 1;
  color: #afafaf;
  z-index: 100;
}
.backup-dis-2{
  opacity: 0.6!important;
  color: #c1bcbc;
}
.succes-msg{
  color: white;
  position: absolute;
  top: 60px;
  left: 41%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 18px;
  z-index: 100;
}
.flash {
  animation-name: flash;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  /* animation-iteration-count: 2;*/
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes flash {
  from {background: transparent;}
  to { background: linear-gradient(to right, grey 0%, #00bdda 100%);}
}
