<div class="row" style="margin-top: -1%">
  <div class="col-sm-12">
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-md-7">
          <div class="form-inline">
            <nav aria-label="breadcrumb" style="margin-left: -2%">
              <ol class="breadcrumb">
                <!--  <li class="breadcrumb-item">
                    <a href='javascript:void(0)'>Home</a>
                  </li>-->
                <ng-container *ngIf="executionFlowPageService.loginUsers !== 'analyzer'">
                  <li class="breadcrumb-item active">Analytics</li>
                </ng-container>
                <!--<li class="breadcrumb-item ">Current Plan</li>-->
                <ng-container *ngIf="executionFlowPageService.loginUsers === 'analyzer'">
                  <li class="breadcrumb-item active">PM Analytics</li>
                </ng-container>
              <!--  <li class="breadcrumb-item ">Current Plan</li>-->
                <li class="breadcrumb-item  font-weight-bold text-dark">OTIF Analytics with Data</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-5 d-flex justify-content-end">
          <button class="btn btn-outline-dark btn-rounded otif-data-modal-btn"
                  data-toggle="modal" data-target="#otifModal">
           OTIF Data
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 pr-0">
    <div class="left-card ">
      <h4>Trending Supplier</h4>
      <div class="row">
        <div class="col-sm-5">
          <div class="summary-chart-card">
            <canvas id="TRENDING_SUPPLIER" width="400" height="370" style="position:absolute; margin-left: -4%; margin-top: 9%">
              {{trendingSupplier}}
            </canvas>
          </div>
        </div>
        <div class="col-sm-7">
          <table class="table table-bordered trending-supplier-legends">
            <thead class="text-center text-white" style="background: black">
            <tr>
              <th>Receipt Range</th>
              <th>Supplier Count</th>
            </tr>
            </thead>
            <tbody class="text-center font-weight-bold">
            <tr>
              <td class="font-size-lg">Total</td>
              <td class="font-size-lg">
                {{rangeWiseSupplier?.totalCount}}
              </td>
            </tr>
            <tr>
              <td>
                    <span class="form-inline justify-content-center">
                           <i class="legend-i"  style="color:green;">&#x25A0;</i>
                           <span class="font-weight-bold" style="margin-left: 5%">{{rangeWiseSupplier?.receiptRangeForScore4}}</span>
                    </span>
              </td>
              <td>{{rangeWiseSupplier?.score4ReceiptRangeListCount}}</td>
            </tr>
            <tr>
              <td>
                    <span class="form-inline justify-content-center">
                           <i class="legend-i"  style="color:#7b97ff;">&#x25A0;</i>
                           <span class="font-weight-bold" style="margin-left: 16%">{{rangeWiseSupplier?.receiptRangeForScore3}}</span>
                    </span>
              </td>
              <td>{{rangeWiseSupplier?.score3ReceiptRangeListCount}}</td>
            </tr>
            <tr>
              <td>
                   <span class="form-inline justify-content-center">
                           <i class="legend-i"  style="color:#ffd11a;">&#x25A0;</i>
                           <span class="font-weight-bold" style="margin-left: 16%"> {{rangeWiseSupplier?.receiptRangeForScore2}}</span>
                    </span>
              </td>
              <td>{{rangeWiseSupplier?.score2ReceiptRangeListCount}}</td>
            </tr>
            <tr>
              <td>
                   <span class="form-inline justify-content-center">
                           <i class="legend-i"  style="color:#ff8c00;">&#x25A0;</i>
                           <span class="font-weight-bold justify-content-center" style="margin-left: 16%"> {{rangeWiseSupplier?.receiptRangeForScore1}}</span>
                    </span>
              </td>
              <td>{{rangeWiseSupplier?.score1ReceiptRangeListCount}}</td>
            </tr>
            <tr>
              <td>
                   <span class="form-inline justify-content-center">
                           <i class="legend-i"  style="color:#db0000;">&#x25A0;</i>
                           <span class="font-weight-bold justify-content-center" style="margin-left: 5%"> {{rangeWiseSupplier?.receiptRangeForScore0}}</span>
                    </span>
              </td>
              <td>{{rangeWiseSupplier?.score0ReceiptRangeListCount}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-sm-12">
          <ng-container>
            <div id="accordion" class="accordion-style">
              <div class="panel card collpased-card-css">
                <div class="card-header panel-heading collapse-header-css high-bg-header" (click)="firstPanel=true; secondPanel=false; thirdPanel=false; fourthPanel=false;"
                     data-toggle="collapse" data-target="#collapseOne"    id="headingOne">
                  <i class="fa  icon-css"
                     [class.fa-caret-right]="!firstPanel"
                     [class.fa-caret-down]="firstPanel"
                     aria-expanded="true" aria-controls="collapseOne"></i>
                  <span style="margin-left: 8%; color: white;">Greater Than 98</span>
                  <span style="position: absolute;left: 75%; color: white; ">(Count: {{rangeWiseSupplier?.score4ReceiptRangeListCount}})</span>

                </div>

                <div id="collapseOne" class="collapse show panel-collapse"
                     aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body panel-body-ht" >
                    <div class="sm-table-scroll">
                      <table class="table table-bordered sm-table">
                        <thead class="header-sticky text-center">
                        <tr>
                          <th>Supplier</th>
                          <th>Receipt</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <ng-container *ngFor="let highReceiptData of highReceiptRangeSuppliersList">
                          <tr>
                            <td>{{highReceiptData?.supplierName}}</td>
                            <td>{{highReceiptData?.receiptPercentage}}</td>
                          </tr>
                        </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card panel collpased-card-css">
                <div class="card-header panel-heading collapse-header-css medium-1-bg-header" (click)="firstPanel=false; secondPanel=true; thirdPanel=false; fourthPanel=false;"
                     data-toggle="collapse" data-target="#collapseTwo"  id="headingTwo">
                  <i class="fa icon-css"
                     [class.fa-caret-right]="!secondPanel"
                     [class.fa-caret-down]="secondPanel"
                     aria-expanded="false" aria-controls="collapseTwo"></i>
                  <span style="margin-left: 8%; color: white; ">Between 95 to 98</span>
                  <span style="position: absolute;left: 75%; color: white; ">(Count: {{rangeWiseSupplier?.score3ReceiptRangeListCount}})</span>

                </div>
                <div id="collapseTwo" class="collapse panel-collapse"
                     aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body panel-body-ht">
                    <div class="sm-table-scroll">
                      <table class="table table-bordered sm-table" >
                        <thead class="header-sticky text-center">
                        <tr>
                          <th>Supplier</th>
                          <th>Receipt</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <ng-container *ngFor="let mediumReceiptData of mediumReceiptRangeSuppliersList">
                          <tr>
                            <td>{{mediumReceiptData?.supplierName}}</td>
                            <td>{{mediumReceiptData?.receiptPercentage}}</td>
                          </tr>
                        </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card panel collpased-card-css">
                <div class="card-header panel-heading collapse-header-css medium-2-bg-header" (click)="firstPanel=false; secondPanel=false; thirdPanel=true; fourthPanel=false;"
                     data-toggle="collapse" data-target="#collapseThree"  id="headingThree">
                  <i class="fa  icon-css"
                     [class.fa-caret-right]="!thirdPanel"
                     [class.fa-caret-down]="thirdPanel"
                     aria-expanded="false" aria-controls="collapseThree"></i>
                  <span style="margin-left: 8%; color: white; ">Between 90 to 95</span>
                  <span style="position: absolute;left: 75%; color: white; ">(Count: {{rangeWiseSupplier?.score2ReceiptRangeListCount}})</span>

                </div>
                <div id="collapseThree" class="collapse panel-collapse"
                     aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body panel-body-ht" >
                    <div class="sm-table-scroll">
                      <table class="table table-bordered sm-table" >
                        <thead class="header-sticky text-center">
                        <tr>
                          <th>Supplier</th>
                          <th>Receipt</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <ng-container *ngFor="let averageReceiptData of averageReceiptRangeSuppliersList">
                          <tr>
                            <td>{{averageReceiptData?.supplierName}}</td>
                            <td>{{averageReceiptData?.receiptPercentage}}</td>
                          </tr>
                        </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card panel collpased-card-css">
                <div class="card-header panel-heading collapse-header-css medium-3-bg-header" (click)="firstPanel=false; secondPanel=false; thirdPanel=false; fourthPanel=true;"
                     data-toggle="collapse"
                     data-target="#collapseFour"    id="headingFour">
                  <i class="fa  icon-css"
                     [class.fa-caret-right]="!thirdPanel"
                     [class.fa-caret-down]="thirdPanel"
                     aria-expanded="false" aria-controls="collapseFour"></i>
                  <span style="margin-left: 8%; color: white; ">Between 80 to 90</span>
                  <span style="position: absolute;left: 75%; color: white; ">(Count: {{rangeWiseSupplier?.score1ReceiptRangeListCount}})</span>

                </div>
                <div id="collapseFour" class="collapse panel-collapse"
                     aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body panel-body-ht">
                    <div class="sm-table-scroll">
                      <table class="table table-bordered sm-table" >
                        <thead class="header-sticky text-center">
                        <tr>
                          <th>Supplier</th>
                          <th>Receipt</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <ng-container *ngFor="let lowReceiptData of lowReceiptRangeSuppliersList">
                          <tr>
                            <td>{{lowReceiptData?.supplierName}}</td>
                            <td>{{lowReceiptData?.receiptPercentage}}</td>
                          </tr>
                        </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card panel collpased-card-css">
                <div class="card-header panel-heading collapse-header-css low-bg-header" (click)="firstPanel=false; secondPanel=false; thirdPanel=false; fourthPanel=false;fifthPanel=true"
                     data-toggle="collapse" data-target="#collapseFive" id="headingFive">
                  <i class="fa  icon-css"
                     [class.fa-caret-right]="!fifthPanel"
                     [class.fa-caret-down]="fifthPanel"
                     aria-expanded="false" aria-controls="collapseFour"></i>
                  <span style="margin-left: 8%; color: white; ">Less Than 80</span>
                  <span style="position: absolute;left: 75%; color: white; ">(Count: {{rangeWiseSupplier?.score0ReceiptRangeListCount}})</span>
                </div>
                <div id="collapseFive" class="collapse panel-collapse"
                     aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body panel-body-ht" >
                    <div class="sm-table-scroll">
                      <table class="table table-bordered sm-table" >
                        <thead class="header-sticky text-center">
                        <tr>
                          <th>Supplier</th>
                          <th>Receipt</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <ng-container *ngFor="let lowestReceiptData of  lowestReceiptRangeSuppliersList">
                          <tr>
                            <td>{{lowestReceiptData?.supplierName}}</td>
                            <td>{{lowestReceiptData?.receiptPercentage}}</td>
                          </tr>
                        </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="right-card">
      <h4>OTIF Distributions</h4>
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <button class="nav-link by-default btn  active"
                      id="pills-home-tab" data-toggle="pill" href="#pills-home"
                      role="tab" aria-controls="pills-home" aria-selected="true">
                Supplier Based</button>
            </li>
            <li class="nav-item">
              <button class="nav-link by-default btn"  id="pills-profile-tab" data-toggle="pill"
                      href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Item Based </button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
             <div class="row">
               <div class="col-sm-3">
                 <div class="item-list-scroll">
                   <table class="table table-bordered item-table" id="itemTable">
                     <thead class="header-sticky">
                     <tr>
                       <td>  <input type="checkbox" [(ngModel)]="selectedAll" style="margin-top: 34%"
                                    (change)="selectAll()"></td>
                       <th>Supplier</th>
                       <th>Receipt</th>
                     </tr>
                     </thead>
                     <tbody>
                     <ng-container *ngFor="let itemData of  finalItemList; let i = index">
                       <tr>
                         <td>
                           <input type="checkbox" [(ngModel)]="itemData.selected"
                                  (change)="checkIfAllSelected()">
                          <!-- <mat-checkbox type="checkbox"
                                         [checked]="itemData.isChecked" (change)="onCheckboxChecked(itemData,$event)">
                           </mat-checkbox>-->

                        <!--   <input type="checkbox" value="{{itemData}}"  (change)="getUserSelect($event,i)">-->
                         </td>
                         <td>
                         <div class="word-wrap-table-cell-receipt">{{itemData?.supplierName}}</div>
                         </td>
                         <td>{{itemData?.receiptPercentage}}</td>
                       </tr>
                     </ng-container>
                     </tbody>
                   </table>
                 </div>
               </div>
               <div class="col-sm-9">

                 <canvas id="Item_Based" width="7400" height="5000"
                         style="display: block;width: 462px;height: 203px; margin-top: 0%"></canvas>
               </div>
             </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="row">
                <div class="col-sm-4 form-group">
                  <label>Select Supplier</label>
                  <div class="select-supplier inp-css">
                    <angular2-multiselect
                      [data]="supplierSelectList"
                      [(ngModel)]="singleselectedItems"
                      [settings]="singledropdownSettings"
                      (onSelect)="onItemSelect($event)"
                      (onDeSelect)="onItemDeSelect()">
                    </angular2-multiselect>
                  </div>
                </div>

                <div class="col-sm-4">
                  <label>Average Receipt Count</label>
                  <input type="text" class="form-control inp-css" [disabled]="true" [value]="avgReceiptCount">
                </div>
                <div class="col-sm-4">
                  <label>Average Receipt Percentage</label>
                  <input type="text" class="form-control inp-css" [disabled]="true" [value]="avgReceiptPercentage">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm-12">
                  <canvas id="SUPPLIER-WISE" width="7400" height="3200"
                          style="display: block;width: 462px;height: 203px; margin-top: 0%"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





    </div>
  </div>
</div>



<div class="modal fade" id="otifModal" tabindex="-1" role="dialog"
     aria-labelledby="otifModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content modal-dialog-centered "   style="border: 5px solid #00bdda; margin-top: 0%;">
      <div class="modal-header" style="padding: 1%; width: 100%">
        <h5 class="modal-title" style="font-size: 22px" id="otifModalLabel">OTIF Data</h5>
        <button (click)="exportAsXLSX()" class="excel-icon-btn" data-toggle="tooltip"
                title="Download 'PM OTIF Data'">
          <!-- <i class="mdi mdi-file-excel excel-icon"></i></button>-->
          <i><img src="../../../../assets/images/big/excel.png"></i></button>
        <ng-container *ngIf="successMessage!==''">
          <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
            <strong>{{successMessage}}</strong>
          </p>
        </ng-container>
        <ng-container *ngIf="errorMessage!==''">
          <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
            <strong>{{errorMessage}}</strong>
          </p>
        </ng-container>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding-bottom: 0.5rem!important;">
        <div class="row">
          <div class="col-sm-12">
            <div class="table-scroll">
              <table class="table table-bordered data-table" id="dataTable">
                <thead class="header-sticky text-left">
                <tr>
                  <th rowspan="2">Supplier Code</th>
                  <th rowspan="2">Supplier Name</th>
                  <th rowspan="2">Item Code</th>
                  <th rowspan="2">Item Description</th>
                  <th colspan="2" class="text-center">Confirmed Schedule</th>
                  <th rowspan="2">Total  <br>Order Qty</th>
                  <th rowspan="2">Total <br> Receipt Qty</th>
                  <th rowspan="2">Balance</th>
                  <th rowspan="2">Receipt %</th>
                  <th rowspan="2">Score</th>
                </tr>
                <tr>
                  <th>{{previousMonth}}</th>
                  <th>{{currentMonth}}</th>
                </tr>
                </thead>
                <tbody class="text-right">
                <ng-container *ngFor="let oTifData of otifDataList">
                  <tr>
                    <td class="font-weight-bold text-left" style="line-height: 2">{{oTifData?.supplierCode}}</td>
                    <td style="line-height: 2;" class="text-left">
                      <div class="word-wrap-table-cell-2" title="{{oTifData?.supplierName}}">
                        {{oTifData?.supplierName}}
                      </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="font-highlight">{{oTifData?.receiptPercentage}}</td>
                    <td class="font-highlight">{{oTifData?.score}}</td>
                  </tr>
                  <ng-container>
                    <tr *ngFor="let pmOtifCalculationDetailsDTOData of oTifData.pmOtifCalculationDetailsDTO">
                      <td></td>
                      <td></td>
                      <td class="text-left">{{pmOtifCalculationDetailsDTOData?.itemCode}}</td>
                      <td>
                        <div class="text-left" title="{{pmOtifCalculationDetailsDTOData?.itemDescription}}">
                          {{pmOtifCalculationDetailsDTOData?.itemDescription}}
                        </div>
                      </td>
                      <td>{{pmOtifCalculationDetailsDTOData?.prevMonthOrderQty}}</td>
                      <td>{{pmOtifCalculationDetailsDTOData?.currentMonthOrderQty}}</td>
                      <td>{{pmOtifCalculationDetailsDTOData?.totalOrderQty}}</td>
                      <td>{{pmOtifCalculationDetailsDTOData?.totalReceivedQty}}</td>
                      <td>{{pmOtifCalculationDetailsDTOData?.balanceQty}}</td>
                      <td title="{{pmOtifCalculationDetailsDTOData?.receiptPercentage}}" style="width: 7%"
                          [ngClass]="
            {'green': pmOtifCalculationDetailsDTOData?.receiptPercentage >= 98,
             'blue':  pmOtifCalculationDetailsDTOData?.receiptPercentage >= 95 && pmOtifCalculationDetailsDTOData?.receiptPercentage < 98,
             'yellow':  pmOtifCalculationDetailsDTOData?.receiptPercentage >= 90 && pmOtifCalculationDetailsDTOData?.receiptPercentage <95,
             'orange':  pmOtifCalculationDetailsDTOData?.receiptPercentage >= 80 && pmOtifCalculationDetailsDTOData?.receiptPercentage <90,
             'red':   pmOtifCalculationDetailsDTOData?.receiptPercentage < 80}"
                      ><div class="word-wrap-table-cell-receipt">{{pmOtifCalculationDetailsDTOData?.receiptPercentage}}</div></td>
                      <td>
                        {{pmOtifCalculationDetailsDTOData?.score}}
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
