.left-card{
  border: 1px solid lightgrey;
  padding: 2%;
  height: 80.97412480974126vh;
}
.right-card{
  border: 1px solid lightgrey;
  padding: 1%;
  height: 80.97412480974126vh;
}
.trending-supplier-legends th,td{
  padding: 2px!important;
}
.trending-supplier-legends th{
  font-size: 15px;
}
.trending-supplier-legends td{
  font-size: 13px;
}
.legend-i{
  position: absolute;
  left: 4%;
  font-size: 25px;
  line-height: 0;
  margin-top: -2%;
}
.font-size-lg{
  font-size: 18px!important;
}
.trending-supplier-legends{
  margin-top: 1%;
  margin-left: -3%;
}


.collpased-card-css{
  margin-bottom: 2%;
}
.collapse-header-css{
  height: 24px;
  padding: 1%;
  line-height: 1;
  font-weight: 500;
  font-size: 14px;
}

.icon-css{
  border:none;
  color: white;
  cursor: pointer;
}
.high-bg-header{
  background: green;
  border: 1px solid green;

}
.medium-1-bg-header{
  background: #7b97ff;
  border: 1px solid #7b97ff;
}
.medium-2-bg-header{
  background: #ffd11a;
  border: 1px solid #ffcc00;
}
.medium-3-bg-header{
  background: #ff8c00;
  border: 1px solid #ff8c00;
}
.low-bg-header{
  background: #db0000;
  border: 1px solid #db0000;
}


.select-supplier {
  border: 1px solid lightgrey
}
.inp-css{
  margin-top: -2%;
  width: 80%;
}


.sm-table tbody {
  display: block;
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

.sm-table thead  {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.sm-table tbody tr{
  display: table;
  width: 100%;
  table-layout: fixed;
}

.sm-table-scroll {
  border: 1px solid lightgrey;
  height: 15.82952815829528vh;
  margin-top: -1%;
  overflow: auto;
}

.sm-table th, td {
  padding: 4px;
}

.sm-table th {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.sm-table td {
  font-size: 12px;
}

.sm-table {
  transform-style: preserve-3d;
  width: 100%;
}
table thead{
  background: black;
  color: white;
}
.card-body{
  padding: 0.6rem!important;
}
.accordion-style{
  margin-top: -3px;
  margin-bottom: 0%;
  padding: 2%;
  border: 1px solid lightgray;
  height: 43.22678843226788vh;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  font-family: themify;
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5px;
}
.panel-body-ht{
  height: 16.7427701674277vh;
}
.otif-data-modal-btn{
  position: absolute;
  left: 80%;
  padding: 0px 10px 0px 10px;
  top: 11%;
  font-size: 2.2831050228310503vh;
}


/*otif data*/
.green{
  background: rgba(0, 230, 64, 0.4);
  /* border: 1px solid rgba(0, 230, 64, 1);*/
  font-weight: bold;

}
.blue{
  background:rgba(54, 162, 235, 0.4);
  /*border: 1px solid rgba(54, 162, 235, 1);*/
  font-weight: bold;

}
.red{
  background: rgba(255, 99, 132, 0.4);
  /* border: 1px solid rgba(255, 99, 132, 1);*/
  font-weight: bold;

}
.yellow{
  background: rgba(255, 209, 26, 0.4);
  /* border: 1px solid rgba(255, 99, 132, 1);*/
  font-weight: bold;
}
.orange{
  background: rgba(255, 140, 0, 0.4);
  /* border: 1px solid rgba(255, 99, 132, 1);*/
  font-weight: bold;
}
.word-wrap-table-cell{
  cursor: pointer;
  white-space: nowrap;
  width: 108px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.word-wrap-table-cell-2{
  white-space: nowrap;
  width: 146px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.word-wrap-table-cell-receipt{
  white-space: nowrap;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.font-highlight{
  font-size: 18px!important;
  font-weight: 500;
}


table#dataTable tbody {
 /* display: block;*/
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#dataTable thead, table#dataTable tbody tr {
 /* display: table;
  width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.table-scroll {
  border: 1px solid lightgrey;
  max-height: 510px;
  min-height: auto;
  overflow: auto;
  min-width: 500px;
  max-width: 1142px;
}

.data-table th, td {
  padding: 0.60882800608828vh;
  white-space: nowrap;
}

.data-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.data-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}

.data-table {
  transform-style: preserve-3d;
  width: 100%!important;
}


.header-sticky {
  position: sticky;
  z-index: 100;
  top: 0%;
}
.data-table thead{
  background-color: darkcyan;
  color: white;
}
.modal-dialog{
  position: relative;
  display: table;
  overflow-y: auto;
  overflow-x: auto;
  width: auto;
  min-width: 300px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  /*
   border-radius: 25px;*/
  padding: 2px 15px 2px 15px;
  border: 1px solid darkcyan;
  background: darkcyan;
  color: white;
}
.by-default{
  background: white;
  color: #000;

  padding: 2px 15px 2px 15px;
  border: 1px solid grey;
}
.tab-content{
  border: 1px solid lightgrey;
  margin-bottom: 0px;
  background: white;
  margin-top: -10px;
  padding: 1%;
  height: 67.921486vh;
}
.item-list-scroll{
  border:1px solid lightgrey;
  height: 427px;
  overflow: auto;
}


table#itemTable tbody {
  /* display: block;*/
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#itemTable thead, table#itemTable tbody tr {
  /* display: table;
   width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}



.item-table th, td {
  padding: 0.60882800608828vh;
  white-space: nowrap;
}

.item-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.item-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}

.item-table {
  transform-style: preserve-3d;
  width: 100%!important;
}


.header-sticky {
  position: sticky;
  z-index: 100;
  top: 0%;
}
.data-table thead{
  background-color: darkcyan;
  color: white;
}
.succes-msg {
  color: white;
  position: absolute;
  top: 2%;
  left:45%;
  padding: 4px 10px 4px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}
.excel-icon-btn {
  position: absolute;
  top: 11px;
  left: 93%;
  border: none;
  cursor: pointer;
  background: transparent;
}
