<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <!--  <li class="breadcrumb-item">
                        <a href='javascript:void(0)'>Home</a>
                      </li>-->
                    <li class="breadcrumb-item active">Skid</li>
                    <li class="breadcrumb-item  font-weight-bold text-dark">Skid Saturation</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download 'Skid Saturation'"
                      style="cursor: pointer; margin-left: 43%; margin-right: -4%; margin-top: -7px; border:none; background: transparent">
                <i><img src="../../../../assets/images/big/excel.png"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mps-card">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <div class="mps-table-scroll">
        <table class="table table-bordered mps-table" id="mpsTable">
          <thead class="text-left header-sticky">
          <tr>
            <th>Skids</th>
            <th>{{monthNamesList?.month1?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month2?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month3?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month4?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month5?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month6?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month7?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month8?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month9?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month10?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month11?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month12?.monthNameAlias}}</th>
          </tr>
          </thead>
          <tbody class="text-right">
          <tr *ngFor="let skidSaturationData of skidSaturationList">
            <td class="text-left" style="font-weight: bold">{{skidSaturationData?.skidName}}</td>
            <td [ngClass]="skidSaturationData?.rscIotFgSkidSaturationDTO?.m1SkidSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m1SkidSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m1TotalRatioOfPlanQtyWithTs}}
                    <br>
                    <span>Capacity</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.month1Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="skidSaturationData?.rscIotFgSkidSaturationDTO?.m2SkidSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m2SkidSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m2TotalRatioOfPlanQtyWithTs}}
                    <br>
                    <span>Capacity</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.month2Capacity}}
                  </span>
              </div>
            </td>
            <td  [ngClass]="skidSaturationData?.rscIotFgSkidSaturationDTO?.m3SkidSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m3SkidSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m3TotalRatioOfPlanQtyWithTs}}
                    <br>
                    <span>Capacity</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.month3Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="skidSaturationData?.rscIotFgSkidSaturationDTO?.m4SkidSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m4SkidSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m4TotalRatioOfPlanQtyWithTs}}
                    <br>
                    <span>Capacity</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.month4Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="skidSaturationData?.rscIotFgSkidSaturationDTO?.m5SkidSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m5SkidSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m5TotalRatioOfPlanQtyWithTs}}
                    <br>
                    <span>Capacity</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.month5Capacity}}
                  </span>
              </div>
            </td>
            <td  [ngClass]="skidSaturationData?.rscIotFgSkidSaturationDTO?.m6SkidSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m6SkidSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m6TotalRatioOfPlanQtyWithTs}}
                    <br>
                    <span>Capacity</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.month6Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="skidSaturationData?.rscIotFgSkidSaturationDTO?.m7SkidSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m7SkidSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m7TotalRatioOfPlanQtyWithTs}}
                    <br>
                    <span>Capacity</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.month7Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="skidSaturationData?.rscIotFgSkidSaturationDTO?.m8SkidSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m8SkidSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m8TotalRatioOfPlanQtyWithTs}}
                    <br>
                    <span>Capacity</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.month8Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="skidSaturationData?.rscIotFgSkidSaturationDTO?.m9SkidSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m9SkidSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m9TotalRatioOfPlanQtyWithTs}}
                    <br>
                    <span>Capacity</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.month9Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="skidSaturationData?.rscIotFgSkidSaturationDTO?.m10SkidSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m10SkidSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m10TotalRatioOfPlanQtyWithTs}}
                    <br>
                    <span>Capacity</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.month10Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="skidSaturationData?.rscIotFgSkidSaturationDTO?.m11SkidSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m11SkidSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m11TotalRatioOfPlanQtyWithTs}}
                    <br>
                    <span>Capacity</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.month11Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="skidSaturationData?.rscIotFgSkidSaturationDTO?.m12SkidSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m12SkidSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.m12TotalRatioOfPlanQtyWithTs}}
                    <br>
                    <span>Capacity</span> : {{skidSaturationData?.rscIotFgSkidSaturationDTO?.month12Capacity}}
                  </span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>












