
.icon-search {
  font-size: 13px;
  position: absolute;
  left: 94%;
  top: 18%;
}

.mps-search {
  border: 1px solid #39c449;
  box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  height: 25px;
  line-height: 4;
  width: 35%;
  margin-right: 0%;
}

table#mpsTable tbody {
 /* display: block;
  !* max-height: 200px;*!
  !* *!*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#mpsTable thead, table#mpsTable tbody tr {
 /* display: table;
  width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.mps-table-scroll {
  border: 1px solid lightgrey;
  height: 79.90867579908675vh;
  overflow-x: hidden;
}

.mps-table th, td {
  padding: 0.60882800608828vh;
}

.mps-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.mps-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}

.mps-table {
  transform-style: preserve-3d;
  width: 100%;
}

table thead {
  background-color: darkcyan;
  color: white;
}

.header-sticky {
  position: sticky;
  z-index: 100;
  top: -1px;
}

.mps-plan-selection {
  margin-left: -2%;

}

.mps-card {
 /* border: 2px solid lightslategrey;
  padding: 1%;*/
  margin-bottom: 0px;
  background: white;
}

.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  font-family: themify;
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5px;
}
.tooltipCustom {
  position: relative;
  cursor: pointer;
}

.tooltipCustom .tooltiptextCustom {
  visibility: hidden;
  box-shadow: 0px 0px 6px #888888;
  width: 180px;
  background-color: #fcfce4;
  color: black;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 70%;
  margin-left: -100px;
  transition-delay: 0.5s;
}

.tooltipCustom .tooltiptextCustom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fcfce4 transparent;
}

.tooltipCustom:hover .tooltiptextCustom {
  visibility: visible;
}

.succes-msg{
  color: white;
  position: absolute;
  top: 2%;
  left: 40%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}
.danger{
  background: #db0000;
  color:white;
}
