<div class="row" style="margin-top: -1%">
  <div class="col-sm-12">
    <div class="page-breadcrumb">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <div class="row">
        <div class="col-md-7">
          <div class="form-inline">
            <nav aria-label="breadcrumb" style="margin-left: -2%">
              <ol class="breadcrumb">
                <!--  <li class="breadcrumb-item">
                    <a href='javascript:void(0)'>Home</a>
                  </li>-->
             <!--   <li class="breadcrumb-item active">Analytics</li>-->
                <ng-container *ngIf="executionFlowPageService.loginUsers !== 'analyzer'">
                  <li class="breadcrumb-item ">Inventory Quality Index</li>
                </ng-container>
                <!--<li class="breadcrumb-item ">Current Plan</li>-->
                <ng-container *ngIf="executionFlowPageService.loginUsers === 'analyzer'">
                  <li class="breadcrumb-item active">FG Analytics</li>
                </ng-container>

                <li class="breadcrumb-item  font-weight-bold text-dark">Inventory Quality Index</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-5 d-flex justify-content-end">
        </div>
      </div>
      <div class="col-md-5 d-flex justify-content-end">
        <div class="form-inline">
          <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download 'FG Inventory Quality Index'"
                  style="cursor: pointer; margin-top: -120%;margin-left: 2220%; border:none; background: transparent">
            <i><img src="../../../../assets/images/big/excel.png"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="inventory-quality-card">
      <h4 style="font-weight: 500">Inventory Quality Index</h4>
      <canvas id="Inventory_Quality" width="7400" height="1200"
              style="display: block;width: 462px;height: 203px; margin-top: 0%"></canvas>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 1%">
  <div class="col-sm-12">
    <table class="table table-bordered inventory-quality-table">
      <tr class="text-left">
        <th class="darkcyan">Months</th>
        <th class="dark">{{slobInventoryQualityIndexList[0]?.monthValue}}</th>
        <th class="dark">{{slobInventoryQualityIndexList[1]?.monthValue}}</th>
        <th class="dark">{{slobInventoryQualityIndexList[2]?.monthValue}}</th>
        <th class="dark">{{slobInventoryQualityIndexList[3]?.monthValue}}</th>
        <th class="dark">{{slobInventoryQualityIndexList[4]?.monthValue}}</th>
        <th class="dark">{{slobInventoryQualityIndexList[5]?.monthValue}}</th>
        <th class="dark">{{slobInventoryQualityIndexList[6]?.monthValue}}</th>
        <th class="dark">{{slobInventoryQualityIndexList[7]?.monthValue}}</th>
        <th class="dark">{{slobInventoryQualityIndexList[8]?.monthValue}}</th>
        <th class="dark">{{slobInventoryQualityIndexList[9]?.monthValue}}</th>
        <th class="dark">{{slobInventoryQualityIndexList[10]?.monthValue}}</th>
        <th class="dark">{{slobInventoryQualityIndexList[11]?.monthValue}}</th>
      </tr>
      <tr class="text-right">
        <th class="text-left darkcyan">SLOB [%]</th>
        <td>{{slobInventoryQualityIndexList[0]?.slobPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[1]?.slobPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[2]?.slobPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[3]?.slobPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[4]?.slobPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[5]?.slobPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[6]?.slobPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[7]?.slobPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[8]?.slobPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[9]?.slobPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[10]?.slobPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[11]?.slobPercentage | number:'1.2-2':'en-IN'}}</td>
      </tr>
      <tr class="text-right">
        <th class="text-left darkcyan">IQ[%]</th>
        <td>{{slobInventoryQualityIndexList[0]?.inventoryQualityPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[1]?.inventoryQualityPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[2]?.inventoryQualityPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[3]?.inventoryQualityPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[4]?.inventoryQualityPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[5]?.inventoryQualityPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[6]?.inventoryQualityPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[7]?.inventoryQualityPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[8]?.inventoryQualityPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[9]?.inventoryQualityPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[10]?.inventoryQualityPercentage | number:'1.2-2':'en-IN'}}</td>
        <td>{{slobInventoryQualityIndexList[11]?.inventoryQualityPercentage | number:'1.2-2':'en-IN'}}</td>
      </tr>
      <tr class="text-right">
        <th class="text-left darkcyan">Stock Value (Million)</th>
        <td>{{slobInventoryQualityIndexList[0]?.stockValue}}</td>
        <td>{{slobInventoryQualityIndexList[1]?.stockValue}}</td>
        <td>{{slobInventoryQualityIndexList[2]?.stockValue}}</td>
        <td>{{slobInventoryQualityIndexList[3]?.stockValue}}</td>
        <td>{{slobInventoryQualityIndexList[4]?.stockValue}}</td>
        <td>{{slobInventoryQualityIndexList[5]?.stockValue}}</td>
        <td>{{slobInventoryQualityIndexList[6]?.stockValue}}</td>
        <td>{{slobInventoryQualityIndexList[7]?.stockValue}}</td>
        <td>{{slobInventoryQualityIndexList[8]?.stockValue}}</td>
        <td>{{slobInventoryQualityIndexList[9]?.stockValue}}</td>
        <td>{{slobInventoryQualityIndexList[10]?.stockValue}}</td>
        <td>{{slobInventoryQualityIndexList[11]?.stockValue}}</td>
      </tr>
      <tr class="text-right">
        <th class="text-left darkcyan">SLOB Value (Million)</th>
        <td>{{slobInventoryQualityIndexList[0]?.slobValue}}</td>
        <td>{{slobInventoryQualityIndexList[1]?.slobValue}}</td>
        <td>{{slobInventoryQualityIndexList[2]?.slobValue}}</td>
        <td>{{slobInventoryQualityIndexList[3]?.slobValue}}</td>
        <td>{{slobInventoryQualityIndexList[4]?.slobValue}}</td>
        <td>{{slobInventoryQualityIndexList[5]?.slobValue}}</td>
        <td>{{slobInventoryQualityIndexList[6]?.slobValue}}</td>
        <td>{{slobInventoryQualityIndexList[7]?.slobValue}}</td>
        <td>{{slobInventoryQualityIndexList[8]?.slobValue}}</td>
        <td>{{slobInventoryQualityIndexList[9]?.slobValue}}</td>
        <td>{{slobInventoryQualityIndexList[10]?.slobValue}}</td>
        <td>{{slobInventoryQualityIndexList[11]?.slobValue}}</td>
      </tr>
      <tr class="text-right">
        <th class="text-left darkcyan">IQ Value (Million)</th>
        <td>{{slobInventoryQualityIndexList[0]?.inventoryQualityValue}}</td>
        <td>{{slobInventoryQualityIndexList[1]?.inventoryQualityValue}}</td>
        <td>{{slobInventoryQualityIndexList[2]?.inventoryQualityValue}}</td>
        <td>{{slobInventoryQualityIndexList[3]?.inventoryQualityValue}}</td>
        <td>{{slobInventoryQualityIndexList[4]?.inventoryQualityValue}}</td>
        <td>{{slobInventoryQualityIndexList[5]?.inventoryQualityValue}}</td>
        <td>{{slobInventoryQualityIndexList[6]?.inventoryQualityValue}}</td>
        <td>{{slobInventoryQualityIndexList[7]?.inventoryQualityValue}}</td>
        <td>{{slobInventoryQualityIndexList[8]?.inventoryQualityValue}}</td>
        <td>{{slobInventoryQualityIndexList[9]?.inventoryQualityValue}}</td>
        <td>{{slobInventoryQualityIndexList[10]?.inventoryQualityValue}}</td>
        <td>{{slobInventoryQualityIndexList[11]?.inventoryQualityValue}}</td>
      </tr>
    </table>
  </div>
</div>
