<!-- ============================================================== -->
<!-- Start Page Content -->
<div class="row" style="margin-top: 18%; width: 100%; margin-left: 0%">
  <div class="col-sm-12">
    <div style="border:5px solid lightgrey; padding: 4%; background: white">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 text-center">
          <button class="btn btn-lg btn-info lg-btn-style" (click)="pmPage()">PM</button>
        </div>
        <div class="col-sm-4 text-center">
          <button class="btn btn-lg btn-info lg-btn-style" (click)="rmPage()">BULK & RM</button>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</div>



<!--
<div class="pointer">Danger</div>

-->





<!--
<div class="row">
  <div class="col-sm-12">
    <div class="card card-css">
      <div class="card-header" style="background: lightgoldenrodyellow"><strong><h4>Consumption Process</h4></strong></div>
      <div class="row" style="margin-left: 0%; margin-top: 1%;width: 100%;margin-bottom: 1%;">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-sm-12 col-lg-8 col-md-8 first-nav-pills">
              <ul style="margin-left: 24%" class="nav nav-pills mb-3 step" id="pills-tab" role="tablist" >
                <li class="nav-item step" role="presentation">
                  <a  style="width: 195px; padding-left: 7px;  height: 52px;"
                      class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                    <h5 class="btn-css-total colChg">Logical Consumption</h5></a>
                </li>
                <li style="margin-left: 5%" class="nav-item step" role="presentation">
                  <a  style="width: 195px; padding-left: 7px; height: 52px;"
                      class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                    <h5 class="btn-css-total colChg">Gross Consumption</h5></a>

                </li>
               &lt;!&ndash; <li style="margin-left: 5%" class="nav-item step" role="presentation">
                  <a style="width: 195px; padding-left: 7px;  height: 52px;"
                     class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
                    <h5 class="btn-css-total colChg">PO Suggestion</h5></a>
                </li>&ndash;&gt;
              </ul>
              <hr class="connect-lines1">
            </div>
            <div class="col-lg-2 col-md-2"></div>
          </div>

          <div style="border:1px solid lightgrey; padding: 1%; margin-top: 2%; height: 300px">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div style="border:1px solid lightgrey; padding: 1%; height: 229px">
                <h4>Logical Consumption</h4>
              </div>
              <div class="row" style="margin-top: 1%; width: 100%; margin-left: 0%">
                <div class="col-sm-12">
                  <button style="margin-left: 97%" class="btn btn-outline-primary btn-sm btnNext"  onclick="$('#pills-profile-tab').trigger('click')">Next</button>
                </div>
              </div>



            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div style="border:1px solid lightgrey; padding: 1%; height: 229px">
                <h4>Gross Consumption</h4>
              </div>
              <div class="row" style="margin-top: 1%; width: 100%; margin-left: 0%">
                <div class="col-sm-12">
                &lt;!&ndash;  <button style="margin-left: 88%" class="btn  btn-outline-primary btn-sm btnNext"  onclick="$('#pills-contact-tab').trigger('click')">Next</button>&ndash;&gt;
              <button style="margin-left: 88%" class="btn  btn-outline-primary btn-sm btnPrevious" onclick="$('#pills-home-tab').trigger('click')">Previous</button>
                </div>
              </div>
            </div>
           &lt;!&ndash; <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <div style="border:1px solid lightgrey; padding: 1%; height: 229px">
                <h4>PO Suggestion</h4>
              </div>
              <div class="row" style="margin-top: 1%; width: 100%; margin-left: 0%">
                <div class="col-sm-12">
                  <button style="margin-left: 95%" class="btn  btn-outline-primary btn-sm btnPrevious"  onclick="$('#pills-profile-tab').trigger('click')">Previous</button>
                </div>
              </div>
            </div>&ndash;&gt;
          </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 3%">
  <div class="col-sm-12">
    <div class="card card-css">
      <div class="card-header" style="background: lightgoldenrodyellow"><strong><h4>Consumption Process</h4></strong></div>
      <div class="row" style="margin-left: 0%; margin-top: 1%;width: 100%;margin-bottom: 1%;">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-sm-12 col-lg-8 col-md-8 sec-nav-pills">
              <ul style="margin-left: 10%" class="nav nav-pills mb-3 step" id="pills-tab2" role="tablist" >
                <li class="nav-item step" role="presentation">
                  <a  style="width: 195px; padding-left: 7px;  height: 52px; border-radius: 15%"
                      class="nav-link active" id="pills-home-tab2" data-toggle="pill" href="#pills-home2" role="tab" aria-controls="pills-home" aria-selected="true">
                    <h5 class="btn-css-total2 colChg">Final Production Plan</h5></a>
                </li>
                <li style="margin-left: 5%" class="nav-item step" role="presentation">
                  <a  style="width: 195px; padding-left: 7px; height: 52px;  border-radius: 15%"
                      class="nav-link" id="pills-profile-tab2" data-toggle="pill" href="#pills-profile2" role="tab" aria-controls="pills-profile" aria-selected="false">
                    <h5 class="btn-css-total2 colChg">Consumption</h5></a>

                </li>
                <li style="margin-left: 5%" class="nav-item step" role="presentation">
                  <a style="width: 195px; padding-left: 7px;  height: 52px; ; border-radius: 15%"
                     class="nav-link" id="pills-contact-tab2" data-toggle="pill" href="#pills-contact2" role="tab" aria-controls="pills-contact" aria-selected="false">
                    <h5 class="btn-css-total2 colChg">PO Suggestion</h5></a>
                </li>
              </ul>
              <hr class="connect-lines">
            </div>
            <div class="col-lg-2 col-md-2"></div>
          </div>

          <div style="border:1px solid lightgrey; padding: 1%; margin-top: 2%; height: 300px">
            <div class="tab-content" id="pills-tabContent2">
              <div class="tab-pane fade show active" id="pills-home2" role="tabpanel" aria-labelledby="pills-home-tab2">
                <div style="border:1px solid lightgrey; padding: 1%; height: 229px">
                  <h4>Final Production Plan</h4>
                </div>
                <div class="row" style="margin-top: 1%; width: 100%; margin-left: 0%">
                  <div class="col-sm-12">
                    <button style="margin-left: 97%" class="btn btn-outline-primary btn-sm btnNext"  onclick="$('#pills-profile-tab2').trigger('click')">Next</button>
                  </div>
                </div>



              </div>
              <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab2">
                <div style="border:1px solid lightgrey; padding: 1%; height: 229px">
                  <h4>Consumption</h4>
                </div>
                <div class="row" style="margin-top: 1%; width: 100%; margin-left: 0%">
                  <div class="col-sm-12">
                    <button style="margin-left: 88%" class="btn  btn-outline-primary btn-sm btnNext"  onclick="$('#pills-contact-tab2').trigger('click')">Next</button>
                    <button class="btn  btn-outline-primary btn-sm btnPrevious" onclick="$('#pills-home-tab2').trigger('click')">Previous</button>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-contact2" role="tabpanel" aria-labelledby="pills-contact-tab2">
                <div style="border:1px solid lightgrey; padding: 1%; height: 229px">
                  <h4>PO Suggestion</h4>
                </div>
                <div class="row" style="margin-top: 1%; width: 100%; margin-left: 0%">
                  <div class="col-sm-12">
                    <button style="margin-left: 95%" class="btn  btn-outline-primary btn-sm btnPrevious"  onclick="$('#pills-profile-tab2').trigger('click')">Previous</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
-->






<!--


<div class="row">
  <div class="col-sm-4">
    <table class="table table-bordered labelTypeMasterTable">
      <thead class="thead-light">
      <th></th>
      <th>one</th> <th>two</th> <th>three</th>
      </thead>
      <tbody id="accordion" class="custom-accordion">
      <ng-container *ngFor="let game of games; let i=index;" >
        <tr class="'heading' + i hide-border"  [ngClass] = "{'highlight' : i == selectedName}">
          <td>  <button class="btn btn-link "  (click)="highlightRow(i)"
                        data-toggle="collapse"
                        [attr.data-target]="'#collapseItem' + i"
                        aria-expanded="true"
                        [attr.aria-controls]="'collapseItem' + i">
            <i aria-hidden="true" class="fa fa-angle-up ">&nbsp;</i>
          </button></td>
          <td>{{game.date}}</td>
          <td>{{game.score}}</td>
          <td>{{game.label}}</td>
        </tr>
        <tr>
          <td colspan="4" style="padding:0px!important; border:none!important;  background: lightgrey ">
            <div [attr.id]="'collapseItem' + i" class="collapse "
                 [attr.aria-labelledby]="'heading' + i"
                 data-parent="#accordion">
              <div style="padding:2%; background:white; margin: 2%;">
                this is expanded row
              </div>

            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <ngb-accordion>
      <ngb-panel title="Panel One">
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Panel Two">
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Panel Three">
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute.
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="col-sm-4">
    &lt;!&ndash;<ngb-accordion [closeOthers]="true" activeIds="acc-2"> if you want active bydefault any id ue activeIds&ndash;&gt;
    <ngb-accordion [closeOthers]="true">
      <ng-container *ngFor="let acc of accordionSamples">
      <ngb-panel  id="acc-{{acc.id}}" title="{{acc.title}}">

        <ng-template ngbPanelContent>

            <table class="table-bordered table">
              <thead> <th>ID</th><th>TITLE</th><th>CONTENT</th></thead>
              <tbody>
              <ng-container *ngFor="let acc of accordionSamples">
              <tr>
                <td>{{acc.id}}</td>
                <td>{{acc.title}}</td>
                <td> {{acc.content}}</td>
              </tr>
              </ng-container>
              </tbody>
            </table>
        </ng-template>
      </ngb-panel>
      </ng-container>
    </ngb-accordion>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div *ngFor="let row of rows; let index = index">
      <p>
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="rowsControls[index].isCollapsed = !rowsControls[index].isCollapsed"
          [attr.aria-controls]="'collapse_' + row.id"
        >
          Toggle
        </button>
      </p>
      <div
        id="collapse_{{ row.id }}"
        [ngbCollapse]="rowsControls[index].isCollapsed"
      >
        <div class="card">
          <div class="card-body">
            Some dynamic content of {{ row.name }}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Nav Orientation</h4>
        <ngb-tabset #t="ngbTabset" type="pills" [orientation]="currentOrientation">
          <ngb-tab id="tab-selectbyid1" title="Simple">
            <ng-template ngbTabContent>
              <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-selectbyid2">
            <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
            <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
              <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
                yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
                shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
                sint qui sapiente accusamus tattooed echo park.</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Disabled" [disabled]="true">
            <ng-template ngbTabContent>
              <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
        <p>
          <button class="btn btn-outline-primary" (click)="t.select('tab-selectbyid2')">next</button>
        </p>

       &lt;!&ndash; <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="currentOrientation">
          <label ngbButtonLabel class="btn-primary btn-sm">
            <input ngbButton type="radio" value="horizontal">Horizontal
          </label>
          <label ngbButtonLabel class="btn-primary btn-sm">
            <input ngbButton type="radio" value="vertical">Vertical
          </label>
        </div>
    &ndash;&gt;
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">

    &lt;!&ndash;<ul class="nav nav-pills mb-3 step" id="pills-tab" role="tablist" >
      <li class="nav-item step" role="presentation">
        <a  style="width: 171px; padding-left: 7px;  height: 52px;"
           class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
          <h5 class="btn-css-total colChg">Home</h5></a>
      </li>
      <li style="margin-left: 5%" class="nav-item step" role="presentation">
        <a  style="width: 171px; padding-left: 7px; height: 52px;"
           class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
          <h5 class="btn-css-total colChg">Profile</h5></a>

      </li>
      <li style="margin-left: 5%" class="nav-item step" role="presentation">
        <a style="width: 171px; padding-left: 7px;  height: 52px;"
           class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
          <h5 class="btn-css-total colChg">contact</h5></a>
      </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">..a.
        <a class="btn btn-primary btnNext"  onclick="$('#pills-profile-tab').trigger('click')">Next</a>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">..b.
        <a class="btn btn-primary btnNext"  onclick="$('#pills-contact-tab').trigger('click')">Next</a>
        <a class="btn btn-primary btnPrevious" onclick="$('#pills-home-tab').trigger('click')">Previous</a>
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">.c..
        <a class="btn btn-primary btnPrevious"  onclick="$('#pills-profile-tab').trigger('click')">Previous</a>
      </div>
    </div>
&ndash;&gt;

  </div>
</div>
<div class="row">
    <div class="col-12">
        &lt;!&ndash; You can find this in the dashboard-component &ndash;&gt;
        <app-project-counter></app-project-counter>
    </div>
</div>
&lt;!&ndash; ============================================================== &ndash;&gt;
&lt;!&ndash; chart and stats &ndash;&gt;
&lt;!&ndash; ============================================================== &ndash;&gt;
<div class="row">
    &lt;!&ndash; chart component &ndash;&gt;
    <div class="col-lg-8">
        <app-monthly-earning></app-monthly-earning>
    </div>
    &lt;!&ndash; other chart component &ndash;&gt;
    <div class="col-lg-4">
        <app-sales-analytics></app-sales-analytics>
        <app-bandwidth-usage></app-bandwidth-usage>
    </div>
</div>
&lt;!&ndash; ============================================================== &ndash;&gt;
&lt;!&ndash; Report and Comments &ndash;&gt;
&lt;!&ndash; ============================================================== &ndash;&gt;
&lt;!&ndash; Row &ndash;&gt;
<div class="row">
    <div class="col-lg-8">
        &lt;!&ndash; You can find this in the dashboard-component &ndash;&gt;
        <app-project></app-project>
    </div>
    <div class="col-lg-4">
        &lt;!&ndash; You can find this in the dashboard-component &ndash;&gt;
        <app-profile-box></app-profile-box>
    </div>
</div>
&lt;!&ndash; Row &ndash;&gt;
&lt;!&ndash; ============================================================== &ndash;&gt;
&lt;!&ndash; Carousel widgets &ndash;&gt;
&lt;!&ndash; You can find this in the dashboard-component &ndash;&gt;
&lt;!&ndash; ============================================================== &ndash;&gt;
<app-widget></app-widget>
&lt;!&ndash; ============================================================== &ndash;&gt;
&lt;!&ndash; Activity widgets &ndash;&gt;
&lt;!&ndash; You can find this in the dashboard-component &ndash;&gt;
&lt;!&ndash; ============================================================== &ndash;&gt;
<div class="row">
    &lt;!&ndash; Column &ndash;&gt;
    <div class="col-lg-6 col-xlg-6">
        <app-recent-comment></app-recent-comment>
    </div>
    <div class="col-lg-6 col-xlg-6">
        <app-to-do></app-to-do>
    </div>
</div>
-->
