.all-reports-card{
  border: 2px solid lightslategrey;
  padding: 1%;
  margin-bottom: 0px;
  background: white;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 6%;
}
.plan-name{
  font-size: 18px;
  font-weight: 500;
}
.header-color{
  background: darkcyan;
  padding: 0.5rem 1.25rem!important;
}


.table-scroll{
  border:1px solid lightgrey;
  height: 53.033486vh;
  overflow-x: hidden;
  margin-top: 8px;
}
.download-btn{
  margin-left: 5%;
}

.list-text{
  margin-left: 5%;
}
h5{
  font-size: 19px;
  font-weight: bold;
  margin-top: 1%;
  line-height: 1;
  color: white;
}
.mps-plan-header {
  width: 45%;
  margin-left: 2%;
  border: 1px solid lightgrey
}
.highlight{
  font-weight: bold;
}
