/*.active {
  border: 5px solid #87D0FA;
}*/

/*
.nav-pills {
  border-radius: 25px;
}

.nav-btn {
  color: #000000;
  background-color: #ffffff;
  margin-left: 30%;
}
*/

.router-outlet-card {
  border: 2px solid #778899;
  padding: 1%;
  margin-top: 1%;
  height: 568px;
}

/*a {
  color: #000000;
}*/

/*.tab-row {
  background-color: #e4f5f9;
  width: 100%;
  height: 600px;
}*/

.navigation-bar {
  background: black;
  padding: 0px;
  margin-top: -7%;
  width: 102%;
  margin-left: -1%;
  height: 40px;
}

.idp-logo {
  width: 108px;
  height: 50px;
  position: absolute;
  background: white;
  border: 1px solid black;
  border-right: none;

}

.logo-box {
  border: 1px solid black;
  height: 51px;
  width: 98px;
  position: relative;
  background: black;
}

.logo-img {
  margin-top: -2%;
  height: 32px;
  margin-left: 8%;

}

.logo-text {
  margin-left: 43%;
  margin-top: -30%;
  color: white;
}

.user-logo {
  border-radius: 50%;
  position: absolute;
  top: 62%;
}

.nav-2 {
  width: 89%;
  position: relative;
  /* left: 3%; */
  top: 10%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  border-radius: 25px;
  background: darkcyan;
  font-weight: 500;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
  cursor: pointer;
  /*  background: linear-gradient(to right, #bbd2c5, #536976)*/
  /*background: linear-gradient(to right, #fc4a1a, #f7b733)!important;*/
  /* background: linear-gradient(to right, grey 0%, #00bdda 100%)!important;*/
}

.by-default {
  background: lightgrey;
  color: #000;
  border-radius: 25px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 14px;
  border: none;

}

.disColor {
  background: white;
  color: #000;
  border-radius: 25px;
}

.nav-pills {
  /* width: 100%;
   position: relative;
   left: 8%;
   top: -75%;*/
  width: 100%;
  position: relative;
  left: 12%;
  top: -78%;
}

/*.user-logo{
  border-radius: 50%;
  position: absolute;
  top: 62%;
}*/

.custom-spinner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(80, 101, 116, 0.24);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.custom-spinner svg {
  margin-top: 20%;
}

.arrow-css {
  color: darkgrey;
  /* position: relative; */
  margin-top: 5px;
  font-size: 18px;
}

.history-table-scroll {
  height: 385px;
  border: 1px solid lightgrey;
  overflow-x: hidden;
}

.history-table th, td {
  padding: 4px !important;
  white-space: nowrap;
}

.history-table td {
  font-size: 14px;
}

.history-table th {
  font-size: 16px;
  color: white;
}

.history-table thead {
  background: darkcyan;
  color: white;
}

.history-table {
  transform-style: preserve-3d;
  width: 100%;
}

table#hisTable tbody {
  display: block;
  /* max-height: 200px;*/
  /*  overflow-y: auto;
    overflow-x: hidden;*/
}

table#hisTable thead, table#hisTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.plan-history-btn {
  padding: 3px 10px 3px 10px;
  left: 65%;
  top: 1%;
  position: absolute;
  border-radius: 25px;
  background: white;
  font-size: 13px;
  z-index: 100;
}

.drp-menu {
  margin-top: 24%;
  margin-left: -176%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.inp-align {
  padding: 0px;
  text-align: center;
  height: 24px;
}

.succes-msg {
  color: white;
  padding: 1px 10px 1px 10px;
  width: 209px;
  border-radius: 25px;
  font-size: 15px;
  background: #73c373;
  /* margin-bottom: 0px; */
  position: absolute;
  top: 3%;
  left: 35%;
}

.word-wrap-table-cell {
  cursor: pointer;
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.save-btn {
  padding: 0px 10px 0px 10px;
  border: 2px solid darkgreen;
  background: darkgreen;
  color: white;
  font-size: 2.2831050228310503vh;
}

.edit-btn {
  padding: 0px 10px 0px 10px;
  font-size: 2.2831050228310503vh;
}

.close-btn {
  padding: 0px 10px 0px 10px;
  border: 2px solid brown;
  background: brown;
  color: white;
  font-size: 2.2831050228310503vh;
}

.drp-menu {
  margin-top: 24%;
  margin-left: -176%;
  padding-top: 0px;
  padding-bottom: 0px;
}

/*.mdi-home{
  color: white;
  font-size: 26px;
  position: absolute;
  left: 108px;
  top: 2%;
  cursor: pointer;
}*/
.cross-btn {
  color: red;
  opacity: unset;
  font-weight: 100;
}

.dropdown-toggle::after {
  display: none !important;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.highlighted{
  background: aliceblue;
}
#ngx .ng-valid, .ng-touched.ng-valid {
  border-color: lightgrey!important;
}
