<nav class="navbar navbar-light  navigation-bar">
  <!--<div class="logo-box">-->
  <a style="width: 97px;
    height: 32px;
    margin-left: 5px;
    margin-top: 4px; border-right: 3px solid white;
">
    <img
      src="../../../assets/images/light-csp-logo-new.png"
      alt="homepage"
      class="light-logo logo-img"
    />
    <h3 class="logo-text">CSP</h3>
  </a>
  <i class="mdi mdi-home" title="Home"
     style="color: white; cursor: pointer; font-size: 24px; position: absolute; left:8%"
     routerLink="/homePage"></i>-->

  <!-- <i class="fas fa-arrow-circle-left" title="Back"
      style="position: absolute;
        top: 31%;
     left: 10%;
     color: white;cursor: pointer;
     font-size: 19px; z-index: 100"

   ></i>-->
  <!-- </div>-->
  <ul class="nav nav-pills " id="pills-tab" role="tablist">
    <!-- <li class="nav-item">
       <button class="btn btn-light btn-sm hm-btn-css" style="background: white!important"
               routerLink="/homePage">
         <i class="mdi mdi-home" style="font-size: 18px"></i>
         Module Home
       </button>
     </li>-->
    <li class="nav-item">
      <button
        class="nav-link by-default"
        id="validationStatus" [disabled]="planModuleService.moduleWiseTab"
        routerLinkActive="active" routerLink="planPage"
      > Module wise Files Upload
      </button
      >
    </li> &nbsp;&nbsp;<i class="fa fa-arrow-right arrow-css"></i>&nbsp;&nbsp;
    <li class="nav-item" style="margin-left: 0%">
      <button
        class="nav-link by-default"
        id="pills-validationStatus-tab" [disabled]="planModuleService.goToValidationPage"
        routerLinkActive="active" routerLink="validationPage"
      >File Validation and Data Execution
      </button
      >
    </li>
    <button
      class="btn  plan-history-btn"
      data-toggle="modal" data-target="#planHistoryModal"
    >
      Plan Management
    </button>
    <ul class="nav-pills justify-content-right" style="width: 40%; margin-top: -6px;">
      <li style=" display: flex; float: right">
        <button class="btn text-white" style="font-size: 17px; font-style: italic; border-right: 2px solid white">
          {{moduleName | slice:5}}
        </button>

        <div class="dropdown" style="background: darkcyan;
    height: 29px;
    border-radius: 25px;
    margin-top: 6px;
    margin-right: 5px;">
          <button class="btn btn-rounded dropdown-toggle text-white"
                  style="display: flex; margin-top: -3px" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
                  aria-expanded="false">
            <i class="fas fa-user-circle cursor-pointer" style="font-size: 18px"></i>
            <small style="margin-left: 10%;
    font-size: 15px;">{{userName}}
            </small>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="
           margin-top: 9%;
    margin-left: -44%; padding-bottom: 0px;
        min-width: 1rem!important;">
            <a>
              <span class="fa fa-caret-up caret-up" style="top: -16%; color: #e9ecef"></span>
            </a>
            <li style="background-color: #e9ecef; text-align: center; margin-top: -6%">
              <a class="logout-dropdown" style="padding-bottom: 0px">
                <i class="fas fa-user-circle cursor-pointer" style="font-size: 40px;color: black;"></i>
              </a>
            </li>
            <li style="text-align: center;background: #e9ecef">
              <a class="logout-dropdown"
                 style="padding-top: 2px; padding-bottom: 3px; text-decoration: none; color: black">
                <small style="font-size: 20px">{{userName}}</small>
                <br>
                <p style="margin-top: -4%; font-size: 12px">{{moduleName | slice:5}}</p>
              </a></li>
            <li style="background: #e9ecef; margin-top: -13%"><a class="logout-dropdown">
              <button class="btn btn-sm btn-dark" (click)="logOut()">
                <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout
              </button>
            </a></li>
          </ul>
        </div>
      </li>
    </ul>

  </ul>
</nav>
<div class="row">
  <div class="col-sm-12">
    <div class="router-outlet-card">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!--  </div>
</div>-->

<div class="modal fade" id="planHistoryModal" tabindex="-1" role="dialog"
     aria-labelledby="planHistoryModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda;    width: 167%;
    margin-left: -35%;">
      <div class="modal-header" style="padding-top: 14px;
    padding-bottom: 11px;">
        <h5 class="modal-title" style="font-size: 20px" id="planHistoryModalLabel">Plan Management</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--<p class="succes-msg" data-dismiss="alert" aria-label="Close">
        <strong>Plan updated successfully</strong>
      </p>-->

      <ng-container *ngIf="successMessage!==''">
        <p class="succes-msg" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-8">
            <!--    <p class="alert alert-success succes-msg" style="left:56%" data-dismiss="alert" aria-label="Close">
                  <strong>Details Saved Successfully</strong>
                </p>-->

          </div>
          <div class="col-sm-4 text-right">
            <!--  <ng-container *ngIf="isEdit">
                <button class="btn  btn-rounded save-btn" style="margin-right: 5%" (click)="savePlanDetails()"
                        [disabled]="saveEnable">save
                </button>
              </ng-container>
              <ng-container *ngIf="isEdit">
                <button class="btn close-btn btn-rounded" (click)="cancelPlanDetails()">Cancel</button>
              </ng-container>
              <ng-container *ngIf="!isEdit">
                <button class="btn btn-sm btn-rounded btn-outline-dark edit-btn" (click)="isEdit = true;">
                  Edit
                </button>
              </ng-container>-->
          </div>

        </div>
        <div class="row mt-1">
          <div class="col-sm-12">
            <div class="history-table-scroll">
            <table class="table table-bordered history-table">
              <thead class="header-sticky text-center">
              <tr>
                <th>Plan Name</th>
                <th>Plan Date</th>
                <th>Tag Name</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody class="text-center">
              <ng-container *ngFor="let planDetails of planNameList; index as i">
                <tr [class.highlighted]="i === selectedRow">
                  <td>{{planDetails.mpsName}}</td>
                  <td>{{planDetails.mpsDate}}</td>
                  <td>{{planDetails.tagDescription}}</td>
                  <td>
                    <button class="btn btn-default btn-sm" (click)="editDocument(planDetails, i)"
                            data-toggle="modal" data-target="#editModal" style="background: transparent; padding: 0px"
                            title="Edit"><i class="fas fa-pencil-alt" style="color: #0ba8ef"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="border: 2px solid darkcyan; border-radius: 25px; box-shadow: 0px 0px 12px grey;">
      <div class="modal-header" style="padding-top: 14px;
    padding-bottom: 11px;">
        <h4 class="modal-title" id="vcenter" style="font-size: 19px">Edit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
        (click)="closeEditBtn()"
        >×</button>
      </div>

      <div class="modal-body">
        <div class="col-md-12">
          <form [formGroup]="editPlanManagementForm">
            <div class="row form-group">
              <div class="col-md-6">
                <label style="font-weight: 400!important;
    font-size: 15px;"> MPS Name</label>
                <span style="color: red">*</span>
                <input  type="text" class="form-control" formControlName="mpsName" style="margin-top: -3%;"
                        (keyup)="editDuplicateName()"
                       placeholder="enter mpsName" >
                <span style="color: red; position: absolute; top: 67px;left: 6%;font-size: 12px;"
                      *ngIf="!editPlanValidate()">minimum 5 characters required</span>
               <!-- <span style="color: red; position: absolute; top: 67px;left: 6%;font-size: 12px;"
                      *ngIf="!editPlanValidate()">{{error}}</span>-->
               <!-- <span
                  style="color: red; font-size: 11px"
                  *ngIf="!editPlanManagementForm.get('mpsName').valid && editPlanManagementForm.get('mpsName').touched
                  && editPlanManagementForm.get('mpsName').errors?.minlength"
                  class="help-block"> mpsName must be at least 5 characters long.
                </span>-->
                <span style="color: red; font-size: 11px"
                      *ngIf="editPlanValidate() && duplicateEditName">already taken</span>
                <span style="color: red; font-size: 11px"
                      *ngIf="!editPlanManagementForm.get('mpsName').valid
                  && editPlanManagementForm.get('mpsName').hasError('pattern')&& editPlanValidate()">
                  please enter valid character
                </span>
                <span style="color: red; font-size: 11px"
                      *ngIf="!editPlanManagementForm.get('mpsName').valid
                  && editPlanManagementForm.get('mpsName').errors.maxlength">
               Maximum 25 character are allowed
                </span>

              </div>

              <div class="form-group col-md-6">
                <label style="font-weight: 400!important;
    font-size: 15px;">Tag</label>
                <span style="color: red">*</span>
                <ng-container
                  *ngIf="(defaultSelectedTag === 'Validated' || defaultSelectedTag === 'First Cut')">
                <input type="text" disabled class="form-control"   style="margin-top: -3%;"
                      [value]="defaultSelectedTag"  maxlength="250">
                </ng-container>
                <ng-container
                  *ngIf="!(defaultSelectedTag === 'Validated' || defaultSelectedTag === 'First Cut')">
                <div style="border:1px solid lightgrey; margin-top: -3%;">
                <angular2-multiselect [data]="tagListBasedOnCon"
                                      [settings]="singleSelectDropdownSettings"
                                      [(ngModel)]="selectedDocumentType"
                                      (onDeSelect)="OnItemDeSelect($event)"
                                      (onSelect)="onItemSelect($event)"
                                      formControlName="tagDescription">
                </angular2-multiselect>
                </div>
                </ng-container>
              </div>

            </div>

            <div class="row d-flex justify-content-center" style="margin-top: -3%;">
              <button type="submit" class="btn" data-dismiss="modal" style="background: darkcyan; color: white;"
                      [disabled]="(!(editPlanManagementForm.valid && editPlanValidate())) || (editPlanValidate() && duplicateEditName )"
                   (click)="onSave()">Save
              </button>
              <button class="btn btn-sm" data-dismiss="modal"
                      (click)="closeEditBtn()"
                      style="background: brown;color: white;">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
