

<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="plan-summary-card">
      <div class="supply-table-scroll ">
        <table class="table table-bordered supply-table" id="supplyTable">
          <thead class="text-center">
          <tr>
            <th rowspan="2" >{{headerList[0].code}}</th>
            <th rowspan="2">{{headerList[1].description}}</th>
            <th rowspan="2" >{{headerList[2].supplier}}</th>
            <th rowspan="2" >{{headerList[3].supplierCode}}</th>
            <th rowspan="2">{{headerList[4].rtd}}</th>
            <th colspan="2">{{headerList[5].confirmedSchedule}}</th>
            <th colspan="3">{{headerList[6].tentativeSchedule}}</th>
            <th colspan="12"></th>
          </tr>
          <tr >
            <th class="stick-style">{{monthNamesList?.month1?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month2?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month3?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month4?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month5?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month6?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month7?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month8?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month9?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month10?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month11?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month12?.monthNameAlias}}</th>
            <th class="stick-style">{{headerList[7].total}}</th>
            <th class="stick-style">{{headerList[8].priority}}</th>
            <th class="stick-style" title="Remark">{{headerList[9].remark}}</th>
            <th class="stick-style" title="Safety Stock">{{headerList[10].safetyStock}}</th>
            <th class="stick-style">{{headerList[11].moq}}</th>
          </tr>
          </thead>
          <tbody class="text-center">
          <tr *ngFor="let supplyData of supplyDataList">
            <td style="font-weight: bold">{{supplyData?.materialCode}}</td>
            <td>{{supplyData?.materialDescription}}</td>
            <td>{{supplyData?.supplierName}}</td>
            <td>{{supplyData?.supplierCode}}</td>
            <td>{{supplyData?.rtdValue}}</td>
            <td title="{{supplyData?.originalMonthValues?.month1?.value}}">{{supplyData?.supplyMonthValues?.month1?.value}}</td>
            <td title="{{supplyData?.originalMonthValues?.month2?.value}}">{{supplyData?.supplyMonthValues?.month2?.value}}</td>
            <td title="{{supplyData?.originalMonthValues?.month3?.value}}">{{supplyData?.supplyMonthValues?.month3?.value}}</td>
            <td title="{{supplyData?.originalMonthValues?.month4?.value}}">{{supplyData?.supplyMonthValues?.month4?.value}}</td>
            <td title="{{supplyData?.originalMonthValues?.month5?.value}}">{{supplyData?.supplyMonthValues?.month5?.value}}</td>
            <td title="{{supplyData?.originalMonthValues?.month6?.value}}">{{supplyData?.supplyMonthValues?.month6?.value}}</td>
            <td title="{{supplyData?.originalMonthValues?.month7?.value}}">{{supplyData?.supplyMonthValues?.month7?.value}}</td>
            <td title="{{supplyData?.originalMonthValues?.month8?.value}}">{{supplyData?.supplyMonthValues?.month8?.value}}</td>
            <td title="{{supplyData?.originalMonthValues?.month9?.value}}">{{supplyData?.supplyMonthValues?.month9?.value}}</td>
            <td title="{{supplyData?.originalMonthValues?.month10?.value}}">{{supplyData?.supplyMonthValues?.month10?.value}}</td>
            <td title="{{supplyData?.originalMonthValues?.month11?.value}}">{{supplyData?.supplyMonthValues?.month11?.value}}</td>
            <td title="{{supplyData?.originalMonthValues?.month12?.value}}">{{supplyData?.supplyMonthValues?.month12?.value}}</td>
            <td>{{supplyData?.totalValue}}</td>
            <td>{{supplyData?.priority}}</td>
            <td>{{supplyData?.remarkName}}</td>
            <td>{{supplyData?.stockValue}}</td>
            <td>{{supplyData?.moqValue}}</td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
</div>
<!-- <h2 style="font-size: 22px">Plan Summary</h2>
      <div class="row">
        <div class="col-sm-8">
          <fieldset class="border p-2 plan-summary-field-set">
            <legend class="w-auto heading-font">Create New Plan</legend>
            <div class="row">
              <div class="col-sm-8">
                <input type="text"  placeholder="Plan Name..."  class="plan-search btn-rounded">
                <span class="fas fa-search icon-search"></span>
                <input type="checkbox" class="chk-alignment" >
                <span class="validate">Validated</span>
              </div>

              <div class="col-sm-4">
                <button type="submit" class="btn btn-info btn-sm">Submit</button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="plan-summary-table-scroll">
                  <table class="table table-bordered plan-summary-table" id="planTable">
                    <thead class="text-center header-sticky">
                    <tr>
                      <th>{{headerList[0].code}}</th>
                      <th></th>
                      <th>MAR</th>
                      <th>APR</th>
                      <th>MAY</th>
                      <th>JUN</th>
                      <th>JUL</th>
                      <th>AUG</th>
                      <th>SEP</th>
                      <th>OCT</th>
                      <th>NOV</th>
                      <th>DEC</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="col-sm-4 pl-0">
          <fieldset class="border p-2 plan-summary-field-set">
            <legend class="w-auto heading-font">Created Plans</legend>
          </fieldset>
        </div>
      </div>-->
