


.plan-summary-card{
  position: relative;
  padding: 1%;
  border:3px solid lightslategrey;
  background: white;
}
table#supplyTable tbody {
 /* display: block;
  !* max-height: 200px;*!
  overflow-y: auto;
  overflow-x: hidden;*/
}

table#supplyTable thead, table#supplyTable tbody tr {
 /* display: table;
  width: 100%;
  table-layout: fixed; */
}
/*#supplyTable, #supplyTable th, #supplyTable td {
  border: 1px solid #000!important;
  border-collapse: collapse;
  margin: 0;
  padding: 4px;
  position: relative;
}*/
table thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /*background-color: #edecec;*/
  background-color: darkcyan;
  color: white;
}

.stick-style{
  position: sticky;
  top: 30px!important;
}
.supply-table-scroll {
  border: 1px solid lightgrey;
  height: 498px;
  overflow: auto;
  width: auto;
}

.supply-table th, td {
  padding: 4px;
}

.supply-table th {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid lightgrey;
  white-space: nowrap;
}

.supply-table td {
  font-size: 12px;
  white-space: nowrap;
 /* overflow: hidden;
  text-overflow: ellipsis;*/
}

.supply-table {
  transform-style: preserve-3d;
  width: auto!important;
}


.header-sticky {
  position: sticky;
  z-index: 100;
  top: 0%;
}

/*
table thead {
  background-color: black;
  color: black;
}
*/


/*
*{
  font-family: Calibri;
}

.plan-summary-card{
  position: relative;
  padding: 1%;
  border:3px solid lightslategrey;
  background: white;
}

.plan-summary-field-set{
  position: relative;
  top: -2%;
  width: 100%;
  height: 79vh;
  border: 1px solid lightgrey!important;
  margin-bottom: -10px;
}

.heading-font{
  font-size: 16px;
  font-weight: bold;
}

.icon-search{
  margin-left: -4%;
  font-size: 13px;
  font-family: 'Font Awesome 5 Free'!important;
}
.plan-search{
  border: 1px solid #39c449;
  box-shadow: 0 0 5px rgba(109,207,246,.5);
  height: 25px;
  line-height: 4;
  width: 36%;
  margin-left: 1%;
  margin-bottom: 6px;
}
.chk-alignment{
  position: relative;
  left:4%;
}
.validate{
  position: relative;
  left: 5%;
}


table#planTable tbody {
  display: block;
  !* max-height: 200px;*!
  overflow-y: auto;
  overflow-x: hidden;
}

table#planTable thead, table#planTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; !* even columns width , fix width of table too*!
}

.plan-summary-table-scroll {
  border: 1px solid lightgrey;
  height: 442px;
  overflow-x: hidden;
  margin-top: -4px;
}

.plan-summary-table th, td{
  padding: 4px;
}

.plan-summary-table th {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid lightgrey;
}
.plan-summary-table td {
  font-size: 12px;
}
.plan-summary-table{
  transform-style: preserve-3d;
  width: 100%;
}

table thead{
  background-color: lightslategrey;
  color: white;
}

.header-sticky{
  position: sticky;
  z-index: 100;
  top: 0%;
}
*/
