<div class="card">
  <div class="p-10" style="background:cadetblue!important">
    <div class="sales2 ct-charts d-flex flex-column" style="height: 126px">
      <apx-chart [series]="maxsalesratioChartOptions.series" [chart]="maxsalesratioChartOptions.chart"
                 [xaxis]="maxsalesratioChartOptions.xaxis" [yaxis]="maxsalesratioChartOptions.yaxis"
                 [grid]="maxsalesratioChartOptions.grid" [stroke]="maxsalesratioChartOptions.stroke"
                 [tooltip]="maxsalesratioChartOptions.tooltip"
                 [dataLabels]="maxsalesratioChartOptions.dataLabels" [legend]="maxsalesratioChartOptions.legend"
                 [colors]="maxsalesratioChartOptions.colors" [markers]="maxsalesratioChartOptions.markers">
      </apx-chart>
    </div>
  </div>
  <div class="card-body" style="padding: 12px">
    <div class="d-flex align-items-center">
      <div>
        <h3 class="font-light m-b-5" style="font-size: 18px">$354.50</h3>
        <span class="text-muted"  style="font-size:14px">160 sales</span>
      </div>
      <div class="ml-auto">
        <h2>
          <i class="mdi mdi-cart-outline text-info"></i>
        </h2>
      </div>
    </div>
  </div>
</div>

