<mat-form-field class="search-css">
  <input matInput placeholder="Search"
         (keyup)="applyFilter($event.target.value)">
</mat-form-field>

<div class="mat-elevation-z8 custom-table-height">

  <table mat-table [dataSource]="dataSource" width="100%">
    <ng-container matColumnDef="stock_value">
      <th mat-header-cell *matHeaderCellDef>stock value</th>
      <td mat-cell *matCellDef="let row">{{row.stock_value}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="height: 33px"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;let i=index"
        style="cursor: pointer; height: 33px">
    </tr>
  </table>
</div>
