<!--<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <li class="breadcrumb-item active">Storage</li>
                    <li class="breadcrumb-item  text-dark font-weight-bold">Reports</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                &lt;!&ndash;    <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download to Excel!"
                            style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                      <i class="mdi mdi-file-excel excel-icon"></i></button>&ndash;&gt;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="all-reports-card">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-inline">
            <div class="form-group col-sm-4" style="">
              <label class="plan-name">Select MPS Plan : </label>
              <span class="mps-plan-header">
             <angular2-multiselect
               [data]="mpsSelectList"
               [(ngModel)]="singleselectedItems"
               [settings]="singledropdownSettings"
               (onSelect)="onItemSelect(singleselectedItems[0])"
               (onDeSelect)="onItemDeSelect()">
             </angular2-multiselect>
            </span>
            </div>
            <div class="form-group col-sm-4">
              <input type="checkbox" [(ngModel)]="selectedAll"
                     (change)="selectAll()">
              <label class="plan-name" style="margin-left: 2%">All Reports</label>

              <button class="btn btn-dark btn-rounded download-btn" [disabled]="isDisabled" (click)="download()">
                <i class="fas fa-download"></i> Download
              </button>
            </div>

            <div class="form-group col-sm-4">

            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row mt-3">
        <div class="col-sm-4 pr-0">
          <div class="cards">
            <div class="card-header border header-color">
              <h5>{{folders[0]}}</h5>
            </div>
            <div class="table-scroll">
              <ul class="list-group" *ngFor="let fg of fgFileDataList">
                <li class="list-group-item list-style"
                    [ngClass]="{'highlight' : fg.selected}">
                  <input type="checkbox" [(ngModel)]="fg.selected"
                         (change)="checkIfAllSelected()">
                  <span class="list-text">{{fg.name}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 pr-0 pl-2">
          <div class="cards">
            <div class="card-header border header-color">
              <h5>{{folders[1]}}</h5>
            </div>
            <div class="table-scroll">
              <ul *ngFor="let pm of pmFileDataList" class="list-group">
                <li class="list-group-item list-style"
                    [ngClass]="{'highlight' : pm.selected}">
                  <input type="checkbox" [(ngModel)]="pm.selected"
                         (change)="checkIfAllSelected()">
                  <span class="list-text">{{pm.name}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 pr-0 pl-2 pr-2">
          <div class="cards">
            <div class="card-header border header-color">
              <h5>{{folders[2]}}</h5>
            </div>
            <div class="table-scroll">
              <ul *ngFor="let rm of rmFileDataList" class="list-group">
                <li class="list-group-item list-style"
                    [ngClass]="{'highlight' : rm.selected}">
                  <input type="checkbox" [(ngModel)]="rm.selected"
                         (change)="checkIfAllSelected()">
                  <span class="list-text">{{rm.name}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>-->


<div class="row">
      <div class="form-group col-sm-6" style="">
       <!-- <span class="form-inline">
        <label class="plan-name">Select MPS Plan : </label>
        <span class="mps-plan-header">
             <angular2-multiselect
               [data]="mpsSelectList"
               [(ngModel)]="singleselectedItems"
               [settings]="singledropdownSettings"
               (onSelect)="onItemSelect(singleselectedItems[0])"
               (onDeSelect)="onItemDeSelect()">
             </angular2-multiselect>
            </span>
        </span>-->
      </div>
    <div class="form-group col-sm-6 text-right">
   <!-- <input type="checkbox" [(ngModel)]="selectedAll"
           (change)="selectAll()">
    <label class="plan-name" style="margin-left: 2%">All Reports</label>

    <button class="btn btn-dark  download-btn" [disabled]="isDisabled" (click)="download()">
      <i class="fas fa-download"></i> Download
    </button>-->
  </div>
</div>
<!--<hr style="margin-top: 0px"/>-->
<div class="row" style="margin-top: -8px">
  <div class="col-sm-12">
    <div class="card-header border header-color">
      <div class="row">
        <div class="col">
              <span class="form-inline">
                <input type="checkbox" [(ngModel)]="selectedAll"
                       style="width: 16px; height: 16px; margin-right: 3%;"
                       (change)="selectAll()">
             <h5>Download following Plans : </h5>

                </span>
        </div>
        <div class="col d-flex justify-content-end">
          <button (click)="download()" class="btn btn-dark  download-btn" [disabled]="isDisabled">
            <i class="fas fa-download"></i> Download
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="row" style="margin-top: 8px">
  <div class="col-sm-4 pr-0">
    <div class="cards">
      <div class="card-header border sub-card-header">
        <h5  class="text-dark">{{folders[0]}}</h5>
      </div>
      <div class="table-scroll">
        <ul class="list-group" *ngFor="let fg of fgFileDataList">
          <li class="list-group-item list-style"
              [ngClass]="{'highlight' : fg.selected}">
            <input type="checkbox" [(ngModel)]="fg.selected"
                   (change)="checkIfAllSelected()">
            <span class="list-text">{{fg.name}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4 pr-0 pl-2">
    <div class="cards">
      <div class="card-header border sub-card-header">
        <h5  class="text-dark">{{folders[1]}}</h5>
      </div>
      <div class="table-scroll">
        <ul *ngFor="let pm of pmFileDataList" class="list-group">
          <li class="list-group-item list-style"
              [ngClass]="{'highlight' : pm.selected}">
            <input type="checkbox" [(ngModel)]="pm.selected"
                   (change)="checkIfAllSelected()">
            <span class="list-text">{{pm.name}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4 pr-0 pl-2 pr-2">
    <div class="cards">
      <div class="card-header border sub-card-header">
        <h5 class="text-dark">{{folders[2]}}</h5>
      </div>
      <div class="table-scroll">
        <ul *ngFor="let rm of rmFileDataList" class="list-group">
          <li class="list-group-item list-style"
              [ngClass]="{'highlight' : rm.selected}">
            <input type="checkbox" [(ngModel)]="rm.selected"
                   (change)="checkIfAllSelected()">
            <span class="list-text">{{rm.name}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
