<div class="row">
  <div class="col-sm-4">
    <button class="header-btn btn btn-rounded "
    >Plan File Upload</button>
  </div>
  <div class="col-sm-4 d-flex justify-content-center form-inline" >

  </div>
  <div class="col-sm-4 text-right">
    <button class="btn  btn-outline-dark"
            routerLink="/planModule/validationPage" style="font-size:14px;
                padding-top: 3px; padding-bottom: 3px"
    >Next</button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm-3">
    <div class="card-lft">
      <div class="row">
        <div class="col">
          <h5>Current Plan</h5>
        </div>
        <div class="col d-flex justify-content-end">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <label>Name </label>
          <input name="planName"
                 class="form-control form-control-sm" style="
                 margin-top:-2%"/>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <label>Select Date </label>
          <div class="input-group" style=" margin-top:-2%">
            <input class="form-control form-control-sm" (dateSelect)="getDate($event)"
                   placeholder="{{currentdate | date: 'yyyy-MM-dd'}}" name="dp2" [(ngModel)]="model"
                   ngbDatepicker #d3="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary btn-sm no-shadow" (click)="d3.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <label>Tag  </label>
          <div class="inp-css">
            <angular2-multiselect
              [data]="tagList"
              [(ngModel)]="singleselectedItems"
              [settings]="singledropdownSettings"
              (onSelect)="getTagData($event)"
              (onDeSelect)="onItemDeSelect()">
            </angular2-multiselect>
          </div>
        </div>
      </div>
      <div class="row mt-4">

      </div>
      <div class="row mt-5">
        <!--<div class="col d-flex justify-content-center">
          <button class="btn btn-md btn-outline-dark" style="background: white;
          color:black">Create/Update</button>
        </div>-->
      </div>
    </div>


  </div>
  <div class="col-sm-9">
    <div class="card-rhs">
      <div class="row">
        <div class="col">
          <h5>Input Files Upload</h5>
        </div>
        <div class="col-sm-6 form-inline">
          <label><span class="text-danger">*</span>MPS File Upload</label>
          <div class="mps-input">
            MPS.xlsx
          </div>
        </div>
        <div class="col d-flex justify-content-end">
          <button
            class="btn btn-sm btn-outline-dark" style="background: white;
          color:black">
            <i class="fa fa-upload upload-icon"></i>&nbsp;&nbsp;Upload Files
          </button>


        </div>
      </div>

          <div class="row mt-4">
            <div class="col-sm-3">
              <div class="card">
                <div class="card-header">
                  Common
                </div>
                <div class="list-card">
                  <ul class="list-group">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-header">
                 FG
                </div>
                <div class="list-card">
                  <ul class="list-group">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                  </ul>
                </div>
              <!--  <div class="card-footer">
                  <h5>Analytics</h5>
                  <span class="form-inline">
                   <input type="checkbox">
                   <label style="margin-left: 2%">OTIF</label>
                </span>
                </div>-->
              </div>

            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-header">
                  PM
                </div>
                <div class="list-card">
                  <ul class="list-group">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                  </ul>
                </div>
               <!-- <div class="card-footer">
                  <h5>Analytics</h5>
                  <span class="form-inline">
                   <input type="checkbox">
                   <label style="margin-left: 2%">OTIF</label>
                </span>
                </div>-->
              </div>

            </div>


            <div class="col-sm-3">
              <div class="card">
                <div class="card-header">
                  RM
                </div>
                <div class="list-card">
                  <ul class="list-group">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

    </div>
  </div>
</div>










































<!--
<div class="row" style="margin-top: -4px;">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-8">
        <button class="header-btn btn btn-rounded"
        ><span class="" style="font-size: 18px">2.</span> Module Configuration</button>
      </div>
      <div class="col-sm-4 text-right">
        <button class="btn btn-rounded btn-outline-dark"
                style="font-size:14px;
                padding-top: 3px; padding-bottom: 3px"
                routerLink="/planModule/validationPage"
        >Validation and Data Execution &nbsp;&nbsp;<i class="fa fa-arrow-right arrow-css"></i></button>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-sm-12">
        <div class="card-top">
          <div class="row">
            <div class="col form-inline">
              <label>Plan Name : </label>
              <input name="planName"
                     class="form-control form-control-sm ml-3" style="width: 60%"/>
            </div>
            <div class="col form-inline">
              <label>Select Date:</label>
              <div class="input-group" style="margin-left: 2%">
                <input class="form-control form-control-sm" (dateSelect)="getDate($event)"
                       placeholder="{{currentdate | date: 'yyyy-MM-dd'}}" name="dp2" [(ngModel)]="model"
                       ngbDatepicker #d3="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary btn-sm no-shadow" (click)="d3.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col form-inline">
              <label>Tag</label>
              <div class="inp-css">
                <angular2-multiselect
                  [data]="tagList"
                  [(ngModel)]="singleselectedItems"
                  [settings]="singledropdownSettings"
                  (onSelect)="getTagData($event)"
                  (onDeSelect)="onItemDeSelect()">
                </angular2-multiselect>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-12">
        <div class="card-bottom">
          <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4 text-right">
              <button
                class="btn btn-sm btn-outline-dark">
                <i class="fa fa-upload upload-icon"></i>&nbsp;&nbsp;Upload
              </button>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-header">
                  Common
                </div>
                <div class="list-card">
                  <ul class="list-group">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-header">
                 PM
                </div>
                <div class="list-card">
                  <ul class="list-group">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                  </ul>
                </div>
                <div class="card-footer">
                  <h5>Analytics</h5>
                  <span class="form-inline">
                   <input type="checkbox">
                   <label style="margin-left: 2%">OTIF</label>
                </span>
                </div>
              </div>

            </div>


            <div class="col-sm-4">
              <div class="card">
                <div class="card-header">
                 RM
                </div>
                <div class="list-card">
                  <ul class="list-group">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>-->
