.card-lft{
  padding: 4%;
  box-shadow: 0 4px 6px 3px rgba(0,0,0,0.1);
  border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0.75rem 0.75rem!important;
  height: 490px;
  background: #F8F8F8;
}
.card-rhs{
  padding: 1%;
  box-shadow: 0 4px 6px 3px rgba(0,0,0,0.1);
  border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0.75rem 0.75rem!important;
  height: 490px;
  background: #F8F8F8;
}


.card-top{
  padding: 1%;
  box-shadow: 0 4px 6px 3px rgba(0,0,0,0.2);
  border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0.75rem 0.75rem!important;
}
.card-bottom{
  padding: 1%;
  box-shadow: 0 4px 6px 3px rgba(0,0,0,0.2);
  border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0.75rem 0.75rem!important;
  height: 428px;
}
.inp-css{
  border: 1px solid lightgrey;
  background: white;

}

.card{
  height: 412px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0.75rem 0.75rem!important;
}
#ngx .ng-valid, .ng-touched.ng-valid {
  border-color: lightgrey!important;
}
#ngx .ng-invalid, .ng-touched.ng-invalid {
  border-color: lightgrey!important;
}
.list-card{
  padding: 2%;
  margin-top: 6%;
}

.list-group-item{
  border-color: #868e96!important;
  padding: 0.55rem 1.15rem!important;

}
.card-footer{
  border-top: 1px solid lightgrey;
  margin-top: 35%;
  border-radius: 0rem 0rem 0.75rem 0.75rem;
  background: white;
}
.card-header{
  border-radius: 0.75rem 0.75rem 0rem 0rem;
  font-weight: 500;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: white;
  border-bottom: 1px solid grey;
}
.header-btn{
  color: #fff;
  background: darkcyan;
  font-weight: 500;
  font-size:14px;
  padding-top: 3px; padding-bottom: 3px
}
input{
  border-color: #868e96!important;
  background: white;
}

label{
  font-weight: 400!important;
  font-size: 15px;
}
h5{
  font-weight: 500;
}
.mps-input{
  border: 1px solid #868e96;
  padding: 1%;
  width: 56%;
  margin-left: 2%;
  background: white;
}
