.cover-days-table-scroll {
  border: 1px solid lightgrey;
  height: 79.365297vh;
  overflow: auto;
  margin-top: 6px;
  /*margin-top: -0.60882800608828vh;*/
}


.coverdays-table th,td{
  padding: 0.60882800608828vh;
  white-space: nowrap;
}
.coverdays-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}
.coverdays-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}
.coverdays-table{
  transform-style: preserve-3d;
  width: 100%!important;
}
table thead {
  background-color: darkcyan;
  color: white;
}

.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}
table#coverDaysTable tbody {
  /*display: block;*/
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#coverDaysTable thead, table#coverDaysTable tbody tr {
  /*display: table;*/
  /*width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}
.cover-days-card{
  /* border: 2px solid lightslategrey;
   padding: 1%;*/
  margin-bottom: 0px;
  background: white;
}
.succes-msg{
  color: white;
  position: absolute;
  top: 2%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}
.bg-color-light{
  background: white!important;
  color: #000!important;
  font-weight: 400!important;
  white-space: nowrap!important;

}

.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: #ced4da;
  font-size: 1.67427701674277vh;
  MARGIN-TOP: 2%;
}





/*.field-set-select-consumption{
  width: 100%; height: 96px;
  border: 1px solid lightgrey!important;
}

.heading-font{
  font-size: 16px;
  font-weight: bold;
}
!*
table th,td{
  padding: 4px;
}
table th {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid lightgrey;
  border-top: none;
}
table td {
  font-size: 12px;
}
table{
  transform-style: preserve-3d;
  width: 100%;
}
table thead {
  background-color: darkcyan;
  color: white;
}
*!
.cover-days-table-scroll{
  border-top-color: darkgrey!important;
  border: 1px solid lightgrey;
  height: 80.36529680365297vh;
  overflow: auto;
  width: auto;
}
.coverdays-table thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: darkcyan;
  color: white;
}

.coverdays-table th, td{
  padding: 4px;
  color: #000;
}
.coverdays-table th {
  border-top:unset!important;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid darkgrey;
  white-space: nowrap;
}

.coverdays-table td {
  font-size: 12px;
  white-space: nowrap;
  border: 1px solid darkgrey;
}

.coverdays-table {
  transform-style: preserve-3d;
  width: auto !important;
}


table#coverDaysTable tbody {
 !* display: block;
  !* max-height: 200px;*!
  overflow-y: auto;
  overflow-x: hidden;*!
}

table#coverDaysTable thead, table#coverDaysTable tbody tr {
 !* display: table;
  width: 100%;
  table-layout: fixed; !* even columns width , fix width of table too*!*!
}

!*
.cover-days-table-scroll {
  border: 1px solid lightgrey;
  height: 498px;
  overflow: auto;
}
*!

table#standardPriceTable tbody {
  display: block;
  !* max-height: 200px;*!
  overflow-y: auto;
  overflow-x: hidden;
}

table#standardPriceTable thead, table#standardPriceTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; !* even columns width , fix width of table too*!
}

.text-link{
  text-decoration: underline;
  cursor: pointer;
}
.cover-days-card{
  !*border: 2px solid lightslategrey;
  padding: 1%;*!
  margin-bottom: 0px;
  background: white;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5%;
}
.mps-plan-selection{
  margin-left: -2%;
}
.breadcrumb-item + .breadcrumb-item::before {
  float: none;
  padding-right: 0.5rem;
  color: #868e96;
  content: "/";
}
.header-sticky{
  position: sticky;
  z-index: 100;
  top: 0%;
}
.word-wrap-table-cell{
  cursor: pointer;
  white-space: nowrap;
  width: 92px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.succes-msg{
  position: absolute;
  top: 2%;
  left: 43%;
  padding: 1px 10px 1px 10px;
  width: 28%;
}
.editSelection{
  background: palegreen;
}
.stick-style{
  position: sticky;
  top: 30px!important;
}
.bg-color-light{
  background: white!important;
  color: #000!important;
  font-weight: 400!important;
  white-space: nowrap!important;

}
table th{
  font-size: 14px;
  font-weight: bold;
  border: 1px solid darkgrey;
}*/
