<!--<div class="receipt-card">
  <div class="receipt-scroll-table">
    <table class="table table-bordered receipt-table" id="receiptTable">
      <thead class="text-light text-left header-sticky">
      <tr>
        <th>Material Code</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Lotwise Stock</th>
        <th>Lot Number</th>
        <th>Location</th>
        <th>Stock Status</th>
      </tr>
      </thead>
      <tbody class="text-left">
      <ng-container *ngFor="let mesWithRej of mesWithRejection">
        <tr>
          <td class="font-weight-bold">{{mesWithRej?.itemCode}}</td>
          <td>{{mesWithRej?.itemDescription}}</td>
          <td class="text-right">{{mesWithRej?.quantity | number:'1.2-2':'en-IN'}}</td>
          <td class="text-right">{{mesWithRej?.lotWiseStock | number:'1.2-2':'en-IN'}}</td>
          <td>{{mesWithRej?.lotNumber}}</td>
          <td>{{mesWithRej?.location}}</td>
          <td>{{mesWithRej?.stockStatus}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>-->

<!--- Complete Table -->
<div class="card stocks-card">
  <div class="d-flex">
    <input type="text" placeholder="Search" class="form-control-sm btn-rounded w-auto ng-pristine ng-valid ng-touched"
           [(ngModel)]="searchTerm"/>
  </div>
  <div class="card-body" style="padding: 0.25rem!important">
    <table class="table  border mesWithRejection-table">
      <thead>
      <tr>
        <th sortable="itemCode"> Material Code</th>
        <th sortable="itemDescription">Description</th>
        <th sortable="quantity">Quantity</th>
        <th sortable="lotWiseStock">Lotwise Stock</th>
        <th sortable="lotNumber">Lot Number</th>
        <th sortable="location">Location</th>
        <th sortable="stockStatus">Stock Status</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let filterValue of filterDataList | slice: (cpage-1) * cpageSize : (cpage-1) * cpageSize + cpageSize">
        <td class="font-weight-bold">
          <ngb-highlight [result]="filterValue.itemCode" [term]="searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="filterValue.itemDescription" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right">
          <ngb-highlight [result]="filterValue.quantity" [term]="searchTerm"></ngb-highlight>
        </td>
        <td class="text-right">
          <ngb-highlight [result]="filterValue.lotWiseStock" [term]="searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="filterValue.lotNumber" [term]="searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="filterValue.location" [term]="searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="filterValue.stockStatus" [term]="searchTerm"></ngb-highlight>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-content-end flex-wrap" style="margin-top: -1%; margin-bottom: 0px!important; ">
    <ngb-pagination [maxSize]="5" [(page)]="cpage"
                    [pageSize]="cpageSize"
                    [collectionSize]="totalLengthOfCollection" [rotate]="true" [ellipses]="false"
                    [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>


