
.mould-wise-table-scroll {
  border: 1px solid lightgrey;
  height: 79.90867579908675vh;
  overflow-x: hidden;
}


.mould-wise-table th,td{
  padding: 0.60882800608828vh;
  white-space: nowrap;
}
.mould-wise-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}
.mould-wise-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}
.mould-wise-table{
  transform-style: preserve-3d;
  width: 100%;
}
table thead {
  background-color: darkcyan;
  color: white;
}

.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}
table#mouldTable tbody {
 /* display: block;
  !* max-height: 200px;*!*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#mouldTable thead, table#mouldTable tbody tr {
 /* display: table;
  width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}
.mould-wise-card{
 /* border: 2px solid lightslategrey;
  padding: 1%;*/
  margin-bottom: 0px;
  background: white;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 4%;
}
.mps-plan-selection{
 margin-left: -2%;
}
.succes-msg{
  color: white;
  position: absolute;
  top: 2%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}
.danger{
  background: #db0000;
  color:white;
}
