<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <!--<h4 class="mps-plan-selection page-title text-muted"><b>MPS 07_11</b></h4>-->
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <!-- <li class="breadcrumb-item">
                       <a routerLink="/newPm/newMps">Home</a>
                     </li>-->
                    <li class="breadcrumb-item active">Saturation</li>
                    <li class="breadcrumb-item  text-dark font-weight-bold">Mould Based Saturation</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download  'PM Mouldwise Mould Saturation'"
                        style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mould-wise-card">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <div class="mould-wise-table-scroll">
        <table class="table table-bordered mould-wise-table" id="mouldTable">
          <thead class="text-left header-sticky">
          <tr>
            <th>Mould</th>
            <th>{{monthNamesList?.month1?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month2?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month3?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month4?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month5?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month6?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month7?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month8?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month9?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month10?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month11?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month12?.monthNameAlias}}</th>
          </tr>
          </thead>
          <tbody class="text-right">
          <tr *ngFor="let mouldWiseData of mouldWiseList">
            <td class="font-weight-bold text-left">{{mouldWiseData.mould}}</td>
            <td [ngClass]="mouldWiseData.m1Value>=70?'danger':''">{{mouldWiseData.m1Value+'%'}}</td>
            <td [ngClass]="mouldWiseData.m2Value>=70?'danger':''">{{mouldWiseData.m2Value+'%'}}</td>
            <td [ngClass]="mouldWiseData.m3Value>=70?'danger':''">{{mouldWiseData.m3Value+'%'}}</td>
            <td [ngClass]="mouldWiseData.m4Value>=70?'danger':''">{{mouldWiseData.m4Value+'%'}}</td>
            <td [ngClass]="mouldWiseData.m5Value>=70?'danger':''">{{mouldWiseData.m5Value+'%'}}</td>
            <td [ngClass]="mouldWiseData.m6Value>=70?'danger':''">{{mouldWiseData.m6Value+'%'}}</td>
            <td [ngClass]="mouldWiseData.m7Value>=70?'danger':''">{{mouldWiseData.m7Value+'%'}}</td>
            <td [ngClass]="mouldWiseData.m8Value>=70?'danger':''">{{mouldWiseData.m8Value+'%'}}</td>
            <td [ngClass]="mouldWiseData.m9Value>=70?'danger':''">{{mouldWiseData.m9Value+'%'}}</td>
            <td [ngClass]="mouldWiseData.m10Value>=70?'danger':''">{{mouldWiseData.m10Value+'%'}}</td>
            <td [ngClass]="mouldWiseData.m11Value>=70?'danger':''">{{mouldWiseData.m11Value+'%'}}</td>
            <td [ngClass]="mouldWiseData.m12Value>=70?'danger':''">{{mouldWiseData.m12Value+'%'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

