<!--
<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <li class="breadcrumb-item active" >Stock</li>
                    <li class="breadcrumb-item  font-weight-bold text-dark" >Receipts</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                <button (click)="exportAsXLSX()"  data-toggle="tooltip" title="Download 'Receipts'"
                          style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                  &lt;!&ndash;<i class="mdi mdi-file-excel excel-icon"></i></button>&ndash;&gt;
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    &lt;!&ndash;
     <input type="text"  placeholder="Search..."  class="gross-search btn-rounded"  [(ngModel)]="grossConsumptionSearchTerm">
     <span class="fas fa-search icon-search"></span>&ndash;&gt;
    <div class="receipt-card">
      <ng-container  *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="left:56%" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
          <button type="button" class="close" data-dismiss="alert"
                  aria-label="Close"><span
            aria-hidden="true">×</span></button>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="left:22%" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
          <button type="button" class="close" data-dismiss="alert"
                  aria-label="Close"><span
            aria-hidden="true">×</span></button>
        </p>
      </ng-container>
      <div class="receipt-scroll-table">
        <table class="table table-bordered receipt-table" id="receiptTable">
          <thead class="text-light text-left header-sticky">
          <tr>
            <th>Material Code</th>
            <th>Description</th>
            <th>Total Receipt Stock</th>
            <th>Lotwise Receipt Stock</th>
            <th>Lot Number</th>
            <th>Receipt Date</th>
            <th>Supplier Name</th>
            <th>Po number</th>
          </tr>
          </thead>
          <tbody class="text-left">
          <ng-container *ngFor="let receiptData of receiptDataList">
          <tr>
            <td class="font-weight-bold">{{receiptData?.itemCode}}</td>
            <td>{{receiptData?.itemDescription}}</td>
            <td class="text-right">{{receiptData?.rmRtd?.totalValue | number:'1.0':'en-IN'}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
            <ng-container *ngFor="let individualValuesRtdDTOListData of receiptData.rmRtd.individualValuesRtdDTOList">
             <tr>
               <td></td>
               <td></td>
               <td></td>
               <td class="text-right">{{individualValuesRtdDTOListData?.value | number:'1.0':'en-IN'}}</td>
              <td>{{individualValuesRtdDTOListData?.lotNumber}}</td>
              <td>{{individualValuesRtdDTOListData?.receiptDate}}</td>
              <td>{{individualValuesRtdDTOListData?.supplierName}}</td>
              <td>{{individualValuesRtdDTOListData?.poNumber}}</td>
             </tr>
            </ng-container>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>







-->
