
<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">

                <!-- <h4 class="mps-plan-selection page-title text-muted"><b>MPS 07_11</b></h4>-->
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <!--<li class="breadcrumb-item">
                      <a routerLink="/newRm/newRmMps">Home</a>
                    </li>-->
                    <li class="breadcrumb-item active">SLOB & CoverDays</li>
                    <li class="breadcrumb-item  font-weight-bold text-dark">Summary</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download 'RM Summary'"
                        style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="summary-card">
      <ng-container  *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="left:56%" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
          <button type="button" class="close" data-dismiss="alert"
                  aria-label="Close"><span
            aria-hidden="true">×</span></button>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="left:22%" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
          <button type="button" class="close" data-dismiss="alert"
                  aria-label="Close"><span
            aria-hidden="true">×</span></button>
        </p>
      </ng-container>
      <div class="row">
        <div class="col-sm-12">
          <div class="slob-graph-card">
            <div class="row">
              <div class="col-sm-4"> <h4 class="text-left font-weight-bold" style="font-size: 20px">Slob Summary</h4></div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                <!--  <div class="text-center stock-sit-value-2">-->
               <!-- <table style="width: 67%;margin-left: 33%;">
                  <tr>
                    <td class="font-weight-bold">Total Slob Value</td>
                    <td  style="width: 40%; background: #e6ccff;font-weight: bold">{{summaryDataList?.totalSlobValue | number:'1.0':'en-IN'}}</td>
                  </tr>
                </table>-->
                <!--  </div>-->
              </div>
            </div>
            <div class="row" style="margin-top: 1%">
              <div class="col-sm-12">
                <table class="table table-bordered">
                  <thead class="text-left">
                  <tr>
                    <th class="dark" colspan="2">SLOB</th>
                    <th class="bg-white" colspan="3"></th>
                  </tr>
                  <tr>
                    <th>{{summaryDataList?.currentMonth}}</th>
                    <th>{{summaryDataList?.prevMonth}}</th>
                    <th>Additional Provision</th>
                    <th>Slow Moving Value</th>
                    <th>Obsolete Value</th>
                  </tr>
                  </thead>
                  <tbody class="text-center">
                  <tr>
                    <td>{{summaryDataList?.currentMonthsTotalSlobValue | number:'1.0':'en-IN'}}</td>
                    <td>{{summaryDataList?.prevMonthsTotalSlobValue | number:'1.0':'en-IN'}}</td>
                    <td>{{summaryDataList?.addProvValue | number:'1.0':'en-IN'}}</td>
                    <td>{{summaryDataList?.totalSlowItemValueDTO?.totalSlowItemValue | number:'1.0':'en-IN'}}</td>
                    <td>{{summaryDataList?.totalObsoleteItemValueDTO?.totalObsoleteItemValue | number:'1.0':'en-IN'}}</td>
                  </tr>
                  </tbody>
                </table>
                <table class="table table-bordered" style="margin-top: 2%">
                  <thead class="text-left">
                   <tr>
                     <th>INV Value</th>
                     <th>Slow Moving %</th>
                     <th>Obsolete %</th>
                     <th>Stock Quality %</th>
                   </tr>
                  </thead>
                   <tbody class="text-center">
                     <tr>
                       <td>{{summaryDataList?.invValue| number:'1.0':'en-IN'}}</td>
                       <td>{{slowItemPercentage}} %</td>
                       <td>{{obsoleteItemPercentage}} %</td>
                       <td>{{stockQualityPercentage}} %</td>
                     </tr>
                   </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="coverdays-graph-card">
            <div class="row">
              <div class="col-sm-5"> <h4 class="text-left font-weight-bold" style="font-size: 20px; margin-top: 1%">Cover Days</h4>
              <div class="total-coverdays-box" title="Total CoverDays">
                {{totalCoverDays}}
              </div>
              </div>
              <!--<div class="col-sm-2">
                <table style="width: 57%;margin-left: 30%;" >
                  <tr>
                    <td class="font-weight-bold" style="width: 26%">Total CoverDays</td>
                    <td  style=" background: #e6ccff;font-weight: bold; width: 14%;text-align: center;">{{totalCoverDays}}</td>
                  </tr>
                </table>
              </div>-->
              <div class="col-sm-7">
                <table class="table table-bordered" style="width: 85%;margin-left: 15%;">
                  <tbody class="text-center">
                  <tr>
                    <td> <span class="font-weight-bold">Stock Value :</span>
                      <span class="label-style">{{summaryDataList?.totalStockValue | number:'1.0':'en-IN'}}</span></td>
                    <td>  <span class="font-weight-bold ">Sit Value :</span>
                      <span class="label-style">{{summaryDataList?.sitValue | number:'1.0':'en-IN'}}</span></td>
                    <td>
                      <span class="font-weight-bold">Total Stock Value With Sit :</span>
                      <span class="label-style">{{summaryDataList?.totalStockSitValueDTO?.totalStockSitValue | number:'1.0':'en-IN'}}</span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div style="border:1px solid lightgrey; height: 133px">
                  <table class="table table-bordered" id="cover-days-table" style="height: 100%">
                    <tr>
                      <th>Month</th>
                      <td class="dark">{{monthNamesList?.month1?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month2?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month3?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month4?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month5?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month6?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month7?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month8?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month9?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month10?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month11?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month12?.monthNameAlias}}</td>
                    </tr>
                    <tr>
                      <th>Days In Month</th>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month1CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month2CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month3CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month4CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month5CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month6CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month7CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month8CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month9CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month10CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month11CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month12CoverDays}}</td>
                    </tr>
                    <tr>
                      <th>Consumption</th>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month1ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month1ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month2ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month2ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month3ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month3ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month4ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month4ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month5ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month5ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month6ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month6ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month7ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month7ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month8ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month8ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month9ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month9ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month10ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month10ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month11ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month11ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month12ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month12ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <th >Cover Days</th>
                      <td [ngClass]="coverDaysList?.coverDaysDTO?.month1CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month1CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month2CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month2CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month3CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month3CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month4CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month4CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month5CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month5CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month6CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month6CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month7CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month7CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month8CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month8CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month9CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month9CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month10CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month10CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month11CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month11CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month12CoverDays > 0 ? 'font-bold' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month12CoverDays}}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





