table th,td{
  padding: 4px;
}
table th {
  font-size: 16px;
  /*font-weight: bold;*/
  border: 1px solid lightgrey;
}
table tr td{
  border:1px solid lightgrey;
}
table td {
  font-size: 14px;
}
table{
  transform-style: preserve-3d;
  width: 100%;
}
table thead {
  background-color: darkcyan;
  color: white;
}

.heading-font{
  font-size: 16px;
  font-weight: bold;
}
.formula-style{
  width: 20%;
  line-height: 4;
  font-size: 14px;
  /* font-weight: bold;*/
}
.chart-card{
  border: 1px solid #F8F8F8;
  padding: 2%;
  width: 75%;
  position: relative;
  left: 14%;
  top: -2%;
  height: 225px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);

}
/*.inside-text{
  position: absolute;
  top: 38%;
  left: 43%;
}*/
.summary-card{
  border: 2px solid lightslategrey;
  padding: 1%;
  margin-bottom: 0px;
  background: white;
  height: 528px;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5%;
}
.mps-plan-selection{
  margin-left: -2%;
}
.breadcrumb-item + .breadcrumb-item::before {
  float: none;
  padding-right: 0.5rem;
  color: #868e96;
  content: "/";
}
.slob-graph-card{
  border: 1px solid lightgrey;
  padding: 1%;
  height: 262px;
}
.coverdays-graph-card{
  border: 1px solid lightgrey;
  padding: 1%;
  height: 206px;
  margin-top: 2%;
}
.stock-sit-value{
  padding: 1%;
  border: 2px solid gray;
  height: 33px;
  width: 70%;
  position: absolute;
  left: 27%;
}
.chart-card-2{
  border: 1px solid #F8F8F8;
  padding: 2%;
  width: 92%;
  position: relative;
  left: 4%;
  top: 0%;
  height: 228px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);

}

.stock-sit-value-2{
  padding: 1%;
  border: 2px solid gray;
  height: 47px;
  width: 92%;
  position: absolute;
  left: 7%;
  top: -14%;
}


.stock-quality-legend-i{
  font-size: 34px;
  color: #cae00d;
  position: absolute;
}
.stock-quality-legend{
  position: absolute;
  top: 20%;
  left: 52%;
  width: 45%;
}

.legend-i{
  font-size: 34px;
  line-height: 0;
  margin-top: -5%;
}

.cover-days-progress-bar-color{
  background-color: darkgoldenrod;
}
.cover-days-progress-bar{
  height: 20px;
}


table#coverTable tbody {
  display: block;
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#coverTable thead, table#coverTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.cover-days-table-scroll {
  border: 1px solid lightgrey;
  height: 350px;
  overflow-x: hidden;
}

.header-sticky{
  position: sticky;
  z-index: 100;
  top: 0%;
}

.cover-days-table .font-size{
  text-align: center;
  font-size: 12px!important;
}
#cover-days-table tr, #cover-days-table th{
  background-color: darkcyan;
  color: white;
  font-size: 14px!important;
  padding: 4px;
  width: 11%;
}
#cover-days-table tr, #cover-days-table td{
  background-color: white;
  color: black;
  text-align: center;
  font-size: 12px!important;
  padding: 4px;
}
.summary-chart-card{
  border: 1px solid lightgray;
  padding: 2%;
  width: 102%;
  position: relative;
  left: 0%;
  top: 0%;
  height: 216px;
}
.coverdays-chart-card{
  border: 1px solid lightgray;
  padding: 2%;
  width: 102%;
  position: relative;
  left: 0%;
  top: 0%;
  height: 133px;
}
.half-doughnut-percentage{
  font-size: 40px;
  position: absolute;
  top: 41%;
  left: 35%;
}
.succes-msg{
  position: absolute;
  top: 2%;
  left: 43%;
  padding: 1px 10px 1px 10px;
  width: 28%;
}
.word-wrap-table-cell{
  cursor: pointer;
  white-space: nowrap;
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bg-color{
  background-color: #e6ccff!important;
  font-weight: bold;
}
.bg-color-default{
  background-color: white!important;
}
.dark{
  background: black!important;
  color: white!important;
}
.label-style{
  margin-left: 1%;
  font-size: 14px;
}
.total-coverdays-box{
  border-radius: 50%;
  border: 1px solid lightgray;
  position: absolute;
  top: -11%;
  left: 20%;
  font-size: 26px;
  font-weight: 500;
  width: auto;
  text-align: center;
  padding: 0px 10px;
  background: #e6ccff;
}
