.slob-table-scroll{
  border: 1px solid lightgrey;
  height:  71.5372907153729vh;
  overflow: auto;
}

table th, td{
  padding: 0.60882800608828vh;
  white-space: nowrap;
}
table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}

table {
  transform-style: preserve-3d;
  width: 100%!important;
}
table thead {
  background-color: darkcyan;
  color: white;
}
.bg-color-light{
  background: white!important;
  color: #000!important;
  font-weight: 400!important;
  white-space: nowrap!important;

}
.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}
/*table th {
  font-size: 14px;
  border: 1px solid darkgrey;
}*/
/*
table th, td {
  padding: 4px;

}

table th {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid darkgrey;
}

table td {
  font-size: 12px;
}
*/

/*table {
  transform-style: preserve-3d;
  width: 100%;
}*/

/*table thead {
  background-color: darkcyan;
  color: white;
}*/



table#slobTable tbody {
 /* display: block;
  !* max-height: 200px;*!
  overflow-y: auto;
  overflow-x: hidden;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#slobTable thead, table#slobTable tbody tr {
  table-layout: fixed;
 /* display: table;
  width: 100%;
 */
}
/*map table css*/
table#mapTable tbody {
  display: block;
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#mapTable thead, table#mapTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.map-table-scroll {
  border: 1px solid lightgrey;
  height: 300px;
  overflow-x: hidden;
  margin-top: -4px;
}

.save-btn {
  /* font-size: 20px;
   line-height: 1;
   padding-top: 0px;*/
  position: absolute;
  left: 79%;
  top: 6%;
  padding: 0px 10px 0px 10px;
  border: 2px solid darkgreen;
  background: darkgreen;
  color: white;
  font-size: 2.2831050228310503vh;
}

.edit-btn{
  position: absolute;
  left: 87%;
  padding: 0px 10px 0px 10px;
  top: 11%;
  font-size: 2.2831050228310503vh;
}
.close-btn{
  position: absolute;
  left: 87%;
  top: 6%;
  padding: 0px 10px 0px 10px;
  border: 2px solid brown;
  background: brown;
  color: white;
  font-size: 2.2831050228310503vh;

}

.text-link {
  text-decoration: underline;
  cursor: pointer;
}
/*
table#slobMonthTable tbody {
  display: block;
  !* max-height: 200px;*!
  overflow-y: auto;
  overflow-x: hidden;
}

table#slobMonthTable thead, table#slobMonthTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; !* even columns width , fix width of table too*!
}*/

.slob-month-scroll {
  border: 1px solid lightgrey;
  height: 300px;
  overflow-x: hidden;
  margin-top: -4px;
}

.word-wrap-table-cell {
  cursor: pointer;
  white-space: nowrap;
  width: 164px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label-style {
 /* margin-left: 6px;*/
  border:unset!important;
  font-size: 2.13089802130898vh!important;
  padding: 0px!important;
  text-align: center!important;
 /* border: 1px solid darkgrey!important;*/

}
.label-text{
  border:unset!important;
  font-weight: bold!important;
  font-size: 2.43531202435312vh!important;
  padding: 0px!important;
  text-align: center!important;
 /* border: 1px solid darkgrey;
  border-top:unset!important;*/
}
.slob-card {
 /* border: 2px solid lightslategrey;
  padding: 1%;*/
  margin-bottom: 0px;
  background: white;
}

.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5%;
}

.mps-plan-selection {
  margin-left: -2%;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: none;
  padding-right: 0.5rem;
  color: #868e96;
  content: "/";
}

.succes-msg{
  color: white;
  position: absolute;
  top: 2%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}
.succes-msg-modal {
  color: white;
  position: absolute;
  top: -9%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px
}

.editSelection {
  border:1px solid  darkgreen;
}
.inp-align{
  padding: 0px;
  text-align: right;
  height: 24px;
}
.border-right{
  border-right: 1px solid darkgreen!important;
}

.disable-style{
  padding: 1%;
  width: 75%;
  /* border: 1px solid darkgrey; */
  background-color: #e9ecef;
  opacity: 1;
  font-weight: 400;
}
#ngx .ng-valid, .ng-touched.ng-valid {
  border-color: darkgreen!important;
}
.summary-btn{
  position: absolute;
  left: 64%;
  padding: 0px 10px 0px 10px;
  top: 11%;
  font-size: 2.2831050228310503vh;
}
.summary-excel{
  cursor: pointer;
  margin-left: 75%;
  margin-top: 0.238965vh;
  border:none;
  background: transparent;
}
 tfoot td {
  position: -webkit-sticky;
  position: sticky;
  bottom: -1px;
  background: lightgrey;
  z-index:4;
   font-weight: 500;
   font-size: 15px;
   border:1px solid grey;
}
