<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top:  0.76103500761035vh">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-5">
              <div class="form-inline">
                <!-- <h4 class="mps-plan-selection page-title text-muted"><b>MPS 07_11</b></h4>-->
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size:  2.43531202435312vh">
                    <!-- <li class="breadcrumb-item">
                       <a routerLink="/newPm/newMps">Home</a>
                     </li>-->
                    <li class="breadcrumb-item active">SLOB</li>
                    <li class="breadcrumb-item  text-dark font-weight-bold">SLOB with Summary</li>
                  </ol>
                </nav>
              </div>

            </div>
            <div class="col-md-7 d-flex justify-content-end">
              <div class="form-inline">
                <button class="btn btn-outline-dark btn-rounded summary-btn"
                        data-toggle="modal" data-target="#summaryModal">
                  Summary
                </button>
                <ng-container *ngIf="isEdit">
                  <button class="btn btn-rounded save-btn" (click)="saveChanges()"
                          [disabled]="sitValue.value==sit && rmSlobListToSave.length==0">
                    Save
                  </button>
                  <button class="btn btn-rounded close-btn" (click)="closeBtn()">
                    Cancel
                  </button>
                </ng-container>
                <ng-container *ngIf="!isEdit">
                  <button class="btn btn-outline-dark btn-rounded edit-btn" (click)="editBtn()">
                    <i class="fas fa-edit"></i>
                    Edit
                  </button>
                </ng-container>
                <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download  'RM SLOB'"
                        style="cursor: pointer; margin-left: 54%; margin-top: -0.76103500761035vh; border:none; background: transparent">
                  <!-- <i class="mdi mdi-file-excel excel-icon"></i>-->
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slob-card">
      <ng-container *ngIf="successMessageUpdate!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessageUpdate}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <div class="row" style="border: 1px solid darkgrey; border-bottom:unset; width: 100%;margin-left: 0%;">
        <div class="col-sm-9">
          <table style="width: 100%!important; margin-left: -1%">
            <tr>
              <td class="label-text"> Total Stock Value</td>
              <td class="label-text"> Total SLOB Value</td>
              <td class="label-text">Total Obsolete Expiry Value</td>
              <td class="label-text">Total Obsolete Non Expiry Value</td>
              <td class="label-text"> Slow Moving Value</td>
            </tr>
            <tr>
              <td class="label-style">
                <label class="disable-style">
                  {{slobTotalData?.totalStockValue | number:'1.0':'en-IN'}}
                </label>
              </td>
              <td class="label-style">
                <label class="disable-style">
                  {{slobTotalData?.totalSlobValue | number:'1.0':'en-IN'}}
                </label>
              </td>
              <td class="label-style">
                <label class="disable-style">
                  {{slobTotalData?.totalObsoleteExpiryValue | number:'1.0':'en-IN'}}
                </label>
              </td>
              <td class="label-style">
                <label class="disable-style">
                  {{slobTotalData?.totalObsoleteNonExpiryValue | number:'1.0':'en-IN'}}
                </label>
              </td>
              <td class="label-style"><label class="disable-style">
                {{slobTotalData?.totalSlowItemValue | number:'1.0':'en-IN'}}
              </label>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-3">
          <span class="form-inline" style="margin-top: 5%;margin-left: 14%;">
          <label class="font-weight-bold" style="margin-left: 3%;">SIT :</label>
          <ng-container *ngIf="!isEdit">
            <input type="text" [disabled]="true" class="form-control ml-2" style="height: 28px"
                   [value]="sit| number:'1.0':'en-IN'" placeholder="">
          </ng-container>
          <ng-container *ngIf="isEdit">
            <input type="number" [ngClass]="isEdit ? 'editSelection' : ''" class="form-control ml-2"
                   style="height: 28px" [formControl]="sitValue"
                   (keyup)="updateSitValueData($event.target.value)" placeholder="">
          </ng-container>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div #table class="slob-table-scroll">
            <table class="table table-bordered slob-table">
              <thead class="text-left header-sticky">
              <tr class="text-center">
                <th colspan="25" class="bg-color-light">
                </th>
                <th colspan="3" class="bg-color-light">
                  <span style=" font-weight: bold!important;">SLOB Value</span>
                </th>
                <th colspan="3" class="bg-color-light">
                  <span style=" font-weight: bold!important;">Obsolete Expired Value</span>
                </th>
                <th colspan="3" class="bg-color-light">
                  <span style=" font-weight: bold!important;">Obsolete Non Expired Value </span>
                </th>
                <th colspan="3" class="bg-color-light">
                  <span style=" font-weight: bold!important;">Slow Moving Value</span>
                </th>
                <th colspan="2" class="bg-color-light">
                </th>
                <th class="bg-color-light">
                </th>
              </tr>
              <tr>
                <th class="stick-style">RM Code</th>
                <th class="stick-style">RM Description</th>
                <th class="stick-style">MidNight Stock</th>
                <th class="stick-style">Expired Stock</th>
                <th class="stick-style">Final Stock</th>
                <th class="stick-style">{{monthNamesList?.month1?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month2?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month3?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month4?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month5?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month6?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month7?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month8?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month9?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month10?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month11?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month12?.monthNameAlias}}</th>
                <th class="stick-style">Total Consumption</th>
                <th class="stick-style">Balance Stock</th>
                <th class="stick-style">MAP</th>
                <th class="stick-style">Std.Price</th>
                <th class="stick-style">SLOB Qty</th>
                <th class="stick-style">Rate</th>
                <th class="stick-style">Stock Value</th>
                <th class="stick-style">SLOB Type</th>
                <th class="stick-style">{{slobTotalData?.currentMonthValue}}</th>
                <th class="stick-style">{{slobTotalData?.previousMonthValue}}</th>
                <th class="stick-style">Diff</th>
                <th class="stick-style">{{slobTotalData?.currentMonthValue}}</th>
                <th class="stick-style">{{slobTotalData?.previousMonthValue}}</th>
                <th class="stick-style">Diff</th>
                <th class="stick-style">{{slobTotalData?.currentMonthValue}}</th>
                <th class="stick-style">{{slobTotalData?.previousMonthValue}}</th>
                <th class="stick-style">Diff</th>
                <th class="stick-style">{{slobTotalData?.currentMonthValue}}</th>
                <th class="stick-style">{{slobTotalData?.previousMonthValue}}</th>
                <th class="stick-style">Diff</th>
                <th class="stick-style">Total SLOB Value</th>
                <th class="stick-style">Reason</th>
                <th class="stick-style">Remark</th>
              </tr>
              </thead>
              <tbody class="text-right">
              <ng-container *ngIf="!isEdit">
                <tr *ngFor="let slobData of slobDataList">
                  <td class="font-weight-bold text-left">{{slobData?.code}}</td>
                  <td class="text-left">
                    <div class="word-wrap-table-cell" title="{{slobData?.description}}">
                      {{slobData?.description}}
                    </div>
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.midNightStock === null">
                      {{0}}
                    </ng-container>
                    {{slobData?.midNightStock | number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.expiredStock === null">
                      {{0}}
                    </ng-container>
                    {{slobData?.expiredStock | number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.finalStock === null">
                      {{0}}
                    </ng-container>
                    {{slobData?.finalStock | number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.monthValuesDTO?.month1Value === null">
                      {{0}}
                    </ng-container>
                    {{slobData?.monthValuesDTO?.month1Value| number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.monthValuesDTO?.month2Value === null">
                      {{0}}
                    </ng-container>
                    {{slobData?.monthValuesDTO?.month2Value| number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.monthValuesDTO?.month3Value === null">
                      {{0}}
                    </ng-container>
                    {{slobData?.monthValuesDTO?.month3Value| number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.monthValuesDTO?.month4Value === null">
                      {{0}}
                    </ng-container>
                    {{slobData?.monthValuesDTO?.month4Value| number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.monthValuesDTO?.month5Value === null">
                      {{0}}
                    </ng-container>
                    {{slobData?.monthValuesDTO?.month5Value | number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.monthValuesDTO?.month6Value === null">
                      {{0}}
                    </ng-container>
                    {{slobData?.monthValuesDTO?.month6Value| number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.monthValuesDTO?.month7Value === null">
                      {{0}}
                    </ng-container>
                    {{slobData?.monthValuesDTO?.month7Value| number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.monthValuesDTO?.month8Value === null">
                      {{0}}
                    </ng-container>
                    {{slobData?.monthValuesDTO?.month8Value| number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.monthValuesDTO?.month9Value === null">
                      {{0}}
                    </ng-container>
                    {{slobData?.monthValuesDTO?.month9Value| number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.monthValuesDTO?.month10Value === null">
                      {{0}}
                    </ng-container>
                    {{slobData?.monthValuesDTO?.month10Value| number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.monthValuesDTO?.month11Value === null">
                      {{0}}
                    </ng-container>
                    {{slobData?.monthValuesDTO?.month11Value| number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.monthValuesDTO?.month12Value === null">
                      {{0}}
                    </ng-container>
                    {{slobData?.monthValuesDTO?.month12Value| number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.totalConsumptionQuantity === null">
                      {{0}}
                    </ng-container>
                    {{slobData?.totalConsumptionQuantity | number:'1.0':'en-IN'}}
                  </td>
                  <!-- <td>
                    <span class="text-info text-link"
                          (click)="totalStockMonths(slobData)"
                          title="Click to see Gross Consumption"
                          data-toggle="modal" data-target="#monthModal">
                   {{slobData?.totalConsumptionQuantity | number:'1.0':'en-IN'}}
                    </span>
                   </td>-->
                  <td>
                    <ng-container *ngIf="slobData?.balanceStock=== null">
                      {{0}}
                    </ng-container>
                    {{slobData?.balanceStock | number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.map=== null">
                      {{0}}
                    </ng-container>
                    {{slobData?.map | number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.stdPrice=== null">
                      {{0}}
                    </ng-container>
                    {{slobData?.stdPrice | number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.slobQuantity=== null">
                      {{0}}
                    </ng-container>
                    {{slobData?.slobQuantity | number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.price=== null">
                      {{0}}
                    </ng-container>
                    {{slobData?.price | number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.totalStockValue=== null">
                      {{0}}
                    </ng-container>
                    {{slobData?.totalStockValue | number:'1.0':'en-IN'}}
                  </td>
                  <td class="text-left">{{slobData?.slobType}}</td>

                  <td>
                    <ng-container *ngIf="slobData?.slobValue=== null">
                      {{0}}
                    </ng-container>
                    {{slobData?.slobValue | number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.previousMonthsSlobValue=== null">
                      {{0}}
                    </ng-container>
                    {{slobData?.previousMonthsSlobValue | number:'1.0':'en-IN'}}
                  </td>

                  <!--  <td>
                      <ng-container *ngIf="(slobData?.slobValue - slobData?.previousMonthsSlobValue) === null">
                        {{0}}
                      </ng-container>
                      {{slobData?.slobValue - slobData?.previousMonthsSlobValue}}
                     &lt;!&ndash; <ng-container *ngIf="(slobData?.slobValue - slobData?.previousMonthsSlobValue) < 0">
                        ({{-(slobData?.slobValue - slobData?.previousMonthsSlobValue)}})
                      </ng-container>
                      <ng-container *ngIf="(slobData?.slobValue - slobData?.previousMonthsSlobValue) >= 0">
                        {{slobData?.slobValue - slobData?.previousMonthsSlobValue}}
                      </ng-container>&ndash;&gt;
                    </td>-->
                  <td>
                    <ng-container
                      *ngIf="(slobData?.slobValue - slobData?.previousMonthsSlobValue) === null">
                      {{0}}
                    </ng-container>
                    {{(slobData?.slobValue - slobData?.previousMonthsSlobValue) |
                    number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.obsoleteExpiryValue=== null">
                      {{0}}
                    </ng-container>
                    {{slobData?.obsoleteExpiryValue | number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.previousMonthsObsoleteExpiryValue=== null">
                      {{0}}
                    </ng-container>
                    {{slobData?.previousMonthsObsoleteExpiryValue | number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container
                      *ngIf="(slobData?.obsoleteExpiryValue - slobData?.previousMonthsObsoleteExpiryValue) === null">
                      {{0}}
                    </ng-container>
                    {{(slobData?.obsoleteExpiryValue - slobData?.previousMonthsObsoleteExpiryValue) |
                    number:'1.0':'en-IN'}}
                  </td>

                  <td>
                    <ng-container *ngIf="slobData?.obsoleteNonExpiryValue=== null">
                      {{0}}
                    </ng-container>
                    {{slobData?.obsoleteNonExpiryValue | number:'1.0':'en-IN'}}
                  </td>
                  <td>

                    <ng-container *ngIf="slobData?.previousMonthsObsoleteNonExpiryValue=== null">
                      {{0}}
                    </ng-container>
                    {{slobData?.previousMonthsObsoleteNonExpiryValue | number:'1.0':'en-IN'}}
                  </td>

                  <td>
                    <ng-container
                      *ngIf="(slobData?.obsoleteNonExpiryValue - slobData?.previousMonthsObsoleteNonExpiryValue) === null">
                      {{0}}
                    </ng-container>
                    {{(slobData?.obsoleteNonExpiryValue - slobData?.previousMonthsObsoleteNonExpiryValue)|
                    number:'1.0':'en-IN'}}
                  </td>


                  <td>
                    <ng-container *ngIf="slobData?.slowMovingValue=== null">
                      {{0}}
                    </ng-container>
                    {{slobData?.slowMovingValue | number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container *ngIf="slobData?.previousMonthsSlowMovingValue=== null">
                      {{0}}
                    </ng-container>
                    {{slobData?.previousMonthsSlowMovingValue | number:'1.0':'en-IN'}}
                  </td>
                  <td>
                    <ng-container
                      *ngIf="(slobData?.slowMovingValue - slobData?.previousMonthsSlowMovingValue) === null">
                      {{0}}
                    </ng-container>
                    {{(slobData?.slowMovingValue - slobData?.previousMonthsSlowMovingValue) | number:'1.0':'en-IN'}}
                  </td>


                  <td>
                    <ng-container *ngIf="slobData?.totalSlobValue=== null">
                      {{0}}
                    </ng-container>
                    {{slobData?.totalSlobValue | number:'1.0':'en-IN'}}
                  </td>
                  <td>{{slobData?.reason}}</td>
                  <td>{{slobData?.remark}}</td>
                </tr>
              </ng-container>
              <ng-container *ngIf="isEdit">
                <ng-container
                  *ngFor="let slobDataForm of slobDataForm?.get('slobDataFormArray').controls | filter: supplyTableSearchTerm ;let i=index">
                  <tr [formGroup]="slobDataForm">
                    <td class="font-weight-bold text-left">{{slobDataForm?.controls?.code?.value}}
                    </td>
                    <td class="text-left">
                      <div class="word-wrap-table-cell" title="{{slobDataForm?.controls?.description?.value}}">
                        {{slobDataForm?.controls?.description?.value}}
                      </div>
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.midNightStock?.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.midNightStock?.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.expiredStock?.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.expiredStock?.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.finalStock.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.finalStock.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.month1Value.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.month1Value.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.month2Value.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.month2Value.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.month3Value.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.month3Value.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.month4Value.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.month4Value.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.month5Value.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.month5Value.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.month6Value.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.month6Value.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.month7Value.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.month7Value.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.month8Value.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.month8Value.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.month9Value.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.month9Value.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.month10Value.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.month10Value.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.month11Value.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.month11Value.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.month12Value.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.month12Value.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.totalConsumptionQuantity.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.totalConsumptionQuantity.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.map.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.map.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.balanceStock.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.balanceStock.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.stdPrice.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.stdPrice.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.slobQuantity.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.slobQuantity.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.rate.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.rate.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.totalStockValue.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.totalStockValue.value}}
                    </td>
                    <td>{{slobDataForm?.controls?.slobType.value}}</td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.slobValue.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.slobValue.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.previousMonthsSlobValue.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.previousMonthsSlobValue.value}}
                    </td>

                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.slobIncrease.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.slobIncrease.value}}
                    </td>
                    <!--     <td>
                           <ng-container *ngIf="slobDataForm?.controls?.slobIncrease.value=== null">
                             {{0}}
                           </ng-container>
                           {{slobDataForm?.controls?.slobIncrease.value}}
                        &lt;!&ndash; <ng-container *ngIf="slobDataForm?.controls?.slobIncrease.value < 0">
                           ({{-(slobDataForm?.controls?.slobIncrease.value)}})
                         </ng-container>
                         <ng-container *ngIf="slobDataForm?.controls?.slobIncrease.value >= 0">
                           {{slobDataForm?.controls?.slobIncrease.value}}
                         </ng-container>&ndash;&gt;
                         </td>-->
                    <!-- <td>{{slobDataForm?.controls?.slobIncrease.value}}</td>-->
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.obsoleteExpiryValue.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.obsoleteExpiryValue.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.previousMonthsObsoleteExpiryValue.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.previousMonthsObsoleteExpiryValue.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.obsoleteIncrease.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.obsoleteIncrease.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.obsoleteNonExpiryValue.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.obsoleteNonExpiryValue.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.previousMonthsObsoleteNonExpiryValue.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.previousMonthsObsoleteNonExpiryValue.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.obsoleteNonExpiryIncrease.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.obsoleteNonExpiryIncrease.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.slowMovingValue.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.slowMovingValue.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.previousMonthsSlowMovingValue.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.previousMonthsSlowMovingValue.value}}
                    </td>
                    <td>
                      <ng-container *ngIf="slobDataForm?.controls?.slowMovingIncrease.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.slowMovingIncrease.value}}
                    </td>
                    <td [ngClass]="isEdit ? 'border-right' : ''">
                      <ng-container *ngIf="slobDataForm?.controls?.totalSlobValue.value=== null">
                        {{0}}
                      </ng-container>
                      {{slobDataForm?.controls?.totalSlobValue.value}}
                    </td>
                    <td [ngClass]="highlightEditValue">
                      <select [ngClass]="highlightEditValue"
                              class="form-select form-select-sm inp-align" #sel
                              formControlName="reasonId"
                              (change)="updateReasonData(slobDataForm?.controls,'reason',sel.value,i)">
                        <option *ngFor="let slobReasons of slobReasonsDataList" [ngValue]="slobReasons.id">
                          {{slobReasons?.reason}}
                        </option>
                      </select>
                    </td>
                    <td [ngClass]="highlightEditValue">
                      <textarea [ngClass]="highlightEditValue" class="form-control form-control-sm inp-align"
                                formControlName="remark" rows="1"
                                (keyup)="updateReasonData(slobDataForm?.controls,'remark',$event.target.value,i)"></textarea>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
              </tbody>
              <tfoot>
              <tr class="text-right">
                <td class="text-left">SUM</td>
                <td></td>
                <td>{{slobTotalData?.totalMidNightStockValue}}</td>
                <td>{{slobTotalData?.totalExpiredStockValue}}</td>
                <td>{{slobTotalData?.totalFinalStockValue}}</td>
                <td>{{slobTotalData?.m1TotalQuantity | number:'1.0':'en-IN'}}</td>
                <td>{{slobTotalData?.m2TotalQuantity | number:'1.0':'en-IN'}}</td>
                <td>{{slobTotalData?.m3TotalQuantity | number:'1.0':'en-IN'}}</td>
                <td>{{slobTotalData?.m4TotalQuantity | number:'1.0':'en-IN'}}</td>
                <td>{{slobTotalData?.m5TotalQuantity | number:'1.0':'en-IN'}}</td>
                <td>{{slobTotalData?.m6TotalQuantity | number:'1.0':'en-IN'}}</td>
                <td>{{slobTotalData?.m7TotalQuantity | number:'1.0':'en-IN'}}</td>
                <td>{{slobTotalData?.m8TotalQuantity | number:'1.0':'en-IN'}}</td>
                <td>{{slobTotalData?.m9TotalQuantity | number:'1.0':'en-IN'}}</td>
                <td>{{slobTotalData?.m10TotalQuantity | number:'1.0':'en-IN'}}</td>
                <td>{{slobTotalData?.m11TotalQuantity | number:'1.0':'en-IN'}}</td>
                <td>{{slobTotalData?.m12TotalQuantity | number:'1.0':'en-IN'}}</td>
                <td>{{slobTotalData?.totalConsumptionQuantity}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{slobTotalData?.totalSlobQuantityValue}}</td>
                <td></td>
                <td>{{slobTotalData?.totalStockValue}}</td>
                <td></td>
                <td>{{slobTotalData?.totalSlobValue}}</td>
                <td>{{slobTotalData?.previousMonthsTotalSlobValue}}</td>
                <td>{{slobTotalData?.totalSlobValue -
                  slobTotalData?.previousMonthsTotalSlobValue}}
                </td>
                <td>{{slobTotalData?.totalObsoleteExpiryValue}}</td>
                <td>{{slobTotalData?.previousMonthsTotalObsoleteExpiryValue}}</td>
                <td>{{slobTotalData?.totalObsoleteExpiryValue -
                  slobTotalData?.previousMonthsTotalObsoleteExpiryValue}}
                </td>
                <td>{{slobTotalData?.totalObsoleteNonExpiryValue}}</td>
                <td>{{slobTotalData?.previousMonthsTotalObsoleteNonExpiryValue}}</td>
                <td>{{slobTotalData?.totalObsoleteNonExpiryValue-
                  slobTotalData?.previousMonthsTotalObsoleteNonExpiryValue}}
                </td>
                <td>{{slobTotalData?.totalSlowItemValue}}</td>
                <td>{{slobTotalData?.previousMonthsTotalSlowItemValue}}</td>
                <td>{{slobTotalData?.totalSlowItemValue - slobTotalData?.previousMonthsTotalSlowItemValue}}</td>
                <td>{{slobTotalData?.totalSlobValue}}</td>
                <td></td>
                <td></td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


<button id="openMapModal" [hidden]="true" data-toggle="modal" data-target="#mapModal">Open Modal
</button>
<!--map modal-->

<div class="modal fade" id="mapModal" tabindex="-1" role="dialog"
     aria-labelledby="mapModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; width: 120%; margin-left: -13%;">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 22px" id="mapModalLabel">MAP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="map-table-scroll">
              <table class="table table-bordered map-table" id="mapTable">
                <thead class="text-center header-sticky">
                <tr>
                  <th>Code</th>
                  <th>Description</th>
                  <th>MAP</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <ng-container
                  *ngFor="let nullMapSlobDataForm of nullMapSlobDataForm?.get('nullMapSlobDataFormArray').controls ;let i=index">
                  <tr [formGroup]="nullMapSlobDataForm">
                    <td>{{nullMapSlobDataForm?.controls?.code?.value}}</td>
                    <td [ngClass]="nullSlobDataList.length > 0 ? 'border-right' : ''">
                      {{nullMapSlobDataForm?.controls?.description?.value}}
                    </td>
                    <td [ngClass]="nullSlobDataList.length > 0 ? 'editSelection' : ''">
                      <span *ngIf="validator">*</span>
                      <input [ngClass]="highlightMapEditValue" type="number" formControlName="map"
                             class="form-control form-control-sm inp-align"
                             (keyup)="UpdateMap(nullMapSlobDataForm?.controls,'map',$event.target.value,i)">
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!nullMapSlobDataForm.valid" (click)="saveMap()">Save
        </button>
        <button id="closemodelbuttonmap" [hidden]="true" type="button"
                class="btn btn-info waves-effect text-left"
                data-dismiss="modal">closeModel
        </button>
      </div>
    </div>
  </div>
</div>


<!--month modal-->

<div class="modal fade" id="monthModal" tabindex="-1" role="dialog"
     aria-labelledby="monthModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; width: 120%; margin-left: -13%; margin-top: 10%;">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 22px" id="monthModalLabel">Gross Consumption</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <!--  <div class="slob-month-scroll">-->
            <table class="table table-bordered" id="slobMonthTable" style="width: 100%!important">
              <thead class="header-sticky text-center">
              <tr>
                <th>{{monthNamesList?.month1?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month2?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month3?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month4?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month5?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month6?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month7?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month8?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month9?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month10?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month11?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month12?.monthNameAlias}}</th>
              </tr>
              </thead>
              <tbody class="text-center">
              <tr>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month1?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month2?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month3?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month4?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month5?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month6?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month7?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month8?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month9?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month10?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month11?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month12?.value}}</td>
              </tr>
              </tbody>
            </table>
            <!-- </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="summaryModal" tabindex="-1" role="dialog"
     aria-labelledby="summaryModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; width: 120%; margin-left: -13%; margin-top: 10%;">
      <div class="modal-header" style="padding-top: 1%; padding-bottom: 1%">
        <h5 class="modal-title" style="font-size: 22px" id="summaryModalLabel">SLOB Summary</h5>
        <button (click)="exportAsXLSXForSummary()" data-toggle="tooltip" title="Download 'Summary'"
                class="summary-excel">
          <i><img src="../../../../assets/images/big/excel.png"></i></button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="successSLOBSummaryMessage!==''">
          <p class="alert alert-success succes-msg-modal" style="background: #73c373" data-dismiss="alert"
             aria-label="Close">
            <strong>{{successSLOBSummaryMessage}}</strong>
          </p>
        </ng-container>
        <ng-container *ngIf="errorSLOBSummaryMessage!==''">
          <p class="alert alert-danger succes-msg-modal" style="background: #ff5b5b" data-dismiss="alert"
             aria-label="Close">
            <strong>{{errorSLOBSummaryMessage}}</strong>
          </p>
        </ng-container>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered total-slob-deviation-table">
              <thead class="text-left header-sticky">
              <tr>
                <th></th>
                <th>{{overAllDeviationList?.currentMonthName}}</th>
                <th>{{overAllDeviationList?.previousMonthName}}</th>
                <th>Deviation Total</th>
                <th>Deviation Status</th>
              </tr>
              </thead>
              <tbody class="text-center">
              <tr class="text-right">
                <th class="text-left">OB Value</th>
                <td>{{overAllDeviationList?.totalObsoleteItemValueDetails?.currentMonthValue | number:'1.0':'en-IN'}}
                </td>
                <td>{{overAllDeviationList?.totalObsoleteItemValueDetails?.previousMonthValue | number:'1.0':'en-IN'}}
                </td>
                <td>{{overAllDeviationList?.totalObsoleteItemValueDetails?.deviationTotal | number:'1.0':'en-IN'}}</td>
                <td class="text-center">
                  <ng-container *ngIf="overAllDeviationList?.totalObsoleteItemValueDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.totalObsoleteItemValueDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.totalObsoleteItemValueDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>
              <tr class="text-right">
                <th class="text-left">SM Value</th>
                <td>{{overAllDeviationList?.totalSlowItemValueDetails?.currentMonthValue| number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.totalSlowItemValueDetails?.previousMonthValue | number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.totalSlowItemValueDetails?.deviationTotal | number:'1.0':'en-IN'}}</td>
                <td class="text-center">
                  <ng-container *ngIf="overAllDeviationList?.totalSlowItemValueDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.totalSlowItemValueDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.totalSlowItemValueDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>
              <tr class="text-right">
                <th class="text-left">Current SLOB</th>
                <td>{{overAllDeviationList?.totalSlobValueDetails?.currentMonthValue| number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.totalSlobValueDetails?.previousMonthValue | number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.totalSlobValueDetails?.deviationTotal | number:'1.0':'en-IN'}}</td>
                <td class="text-center">
                  <ng-container *ngIf="overAllDeviationList?.totalSlobValueDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.totalSlobValueDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.totalSlobValueDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>
              <tr class="text-right">
                <th class="text-left">Total Stock Value</th>
                <td>{{overAllDeviationList?.totalStockValueDetails?.currentMonthValue| number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.totalStockValueDetails?.previousMonthValue | number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.totalStockValueDetails?.deviationTotal | number:'1.0':'en-IN'}}</td>
                <td class="text-center">
                  <ng-container *ngIf="overAllDeviationList?.totalStockValueDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.totalStockValueDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.totalStockValueDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>
              <tr class="text-right">
                <th class="text-left"> Stock Quality Value Details</th>
                <td>{{overAllDeviationList?.stockQualityValueDetails?.currentMonthValue| number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.stockQualityValueDetails?.previousMonthValue | number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.stockQualityValueDetails?.deviationTotal | number:'1.0':'en-IN'}}</td>
                <td class="text-center">
                  <ng-container *ngIf="overAllDeviationList?.stockQualityValueDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.stockQualityValueDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.stockQualityValueDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>
              <tr class="text-right">
                <th class="text-left">OB %</th>
                <td>{{overAllDeviationList?.obsoleteItemPercentageDetails?.currentMonthValue| number:'1.2-2':'en-IN'}}
                </td>
                <td>{{overAllDeviationList?.obsoleteItemPercentageDetails?.previousMonthValue | number:'1.2-2':'en-IN'}}
                </td>
                <td>{{overAllDeviationList?.obsoleteItemPercentageDetails?.deviationTotal | number:'1.2-2':'en-IN'}}
                </td>
                <td class="text-center">
                  <ng-container *ngIf="overAllDeviationList?.obsoleteItemPercentageDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.obsoleteItemPercentageDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.obsoleteItemPercentageDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>
              <tr class="text-right">
                <th class="text-left">SM %</th>
                <td>{{overAllDeviationList?.slowItemPercentageDetails?.currentMonthValue| number:'1.2-2':'en-IN'}}</td>
                <td>{{overAllDeviationList?.slowItemPercentageDetails?.previousMonthValue | number:'1.2-2':'en-IN'}}
                </td>
                <td>{{overAllDeviationList?.slowItemPercentageDetails?.deviationTotal | number:'1.2-2':'en-IN'}}</td>
                <td class="text-center">
                  <ng-container *ngIf="overAllDeviationList?.slowItemPercentageDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.slowItemPercentageDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.slowItemPercentageDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>
              <tr class="text-right">
                <th class="text-left"> Stock Quality %</th>
                <td>{{overAllDeviationList?.stockQualityPercentageDetails?.currentMonthValue| number:'1.2-2':'en-IN'}}
                </td>
                <td>{{overAllDeviationList?.stockQualityPercentageDetails?.previousMonthValue | number:'1.2-2':'en-IN'}}
                </td>
                <td>{{overAllDeviationList?.stockQualityPercentageDetails?.deviationTotal | number:'1.2-2':'en-IN'}}
                </td>
                <td class="text-center">
                  <ng-container *ngIf="overAllDeviationList?.stockQualityPercentageDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.stockQualityPercentageDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.stockQualityPercentageDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>


              <tr class="text-right">
                <th class="text-left">OB Expiry Value</th>
                <td>{{overAllDeviationList?.totalObsoleteExpiryValueDetails?.currentMonthValue| number:'1.0':'en-IN'}}
                </td>
                <td>{{overAllDeviationList?.totalObsoleteExpiryValueDetails?.previousMonthValue |
                  number:'1.0':'en-IN'}}
                </td>
                <td>{{overAllDeviationList?.totalObsoleteExpiryValueDetails?.deviationTotal | number:'1.0':'en-IN'}}
                </td>
                <td class="text-center">
                  <ng-container *ngIf="overAllDeviationList?.totalObsoleteExpiryValueDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container
                    *ngIf="overAllDeviationList?.totalObsoleteExpiryValueDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.totalObsoleteExpiryValueDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>
              <tr class="text-right">
                <th class="text-left">OB Non Expiry Value</th>
                <td>{{overAllDeviationList?.totalObsoleteNonExpiryValueDetails?.currentMonthValue|
                  number:'1.0':'en-IN'}}
                </td>
                <td>{{overAllDeviationList?.totalObsoleteNonExpiryValueDetails?.previousMonthValue |
                  number:'1.0':'en-IN'}}
                </td>
                <td>{{overAllDeviationList?.totalObsoleteNonExpiryValueDetails?.deviationTotal | number:'1.0':'en-IN'}}
                </td>
                <td class="text-center">
                  <ng-container
                    *ngIf="overAllDeviationList?.totalObsoleteNonExpiryValueDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container
                    *ngIf="overAllDeviationList?.totalObsoleteNonExpiryValueDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container
                    *ngIf="overAllDeviationList?.totalObsoleteNonExpiryValueDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>
              <tr class="text-right">
                <th class="text-left">OB Expiry Value %</th>
                <td>{{overAllDeviationList?.obsoleteExpiryValuePercentageDetails?.currentMonthValue|
                  number:'1.2-2':'en-IN'}}
                </td>
                <td>{{overAllDeviationList?.obsoleteExpiryValuePercentageDetails?.previousMonthValue |
                  number:'1.2-2':'en-IN'}}
                </td>
                <td>{{overAllDeviationList?.obsoleteExpiryValuePercentageDetails?.deviationTotal |
                  number:'1.2-2':'en-IN'}}
                </td>
                <td class="text-center">
                  <ng-container
                    *ngIf="overAllDeviationList?.obsoleteExpiryValuePercentageDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container
                    *ngIf="overAllDeviationList?.obsoleteExpiryValuePercentageDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container
                    *ngIf="overAllDeviationList?.obsoleteExpiryValuePercentageDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>
              <tr class="text-right">
                <th class="text-left">OB Non Expiry Value %</th>
                <td>{{overAllDeviationList?.obsoleteNonExpiryValuePercentageDetails?.currentMonthValue|
                  number:'1.2-2':'en-IN'}}
                </td>
                <td>{{overAllDeviationList?.obsoleteNonExpiryValuePercentageDetails?.previousMonthValue |
                  number:'1.2-2':'en-IN'}}
                </td>
                <td>{{overAllDeviationList?.obsoleteNonExpiryValuePercentageDetails?.deviationTotal |
                  number:'1.2-2':'en-IN'}}
                </td>
                <td class="text-center">
                  <ng-container
                    *ngIf="overAllDeviationList?.obsoleteNonExpiryValuePercentageDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container
                    *ngIf="overAllDeviationList?.obsoleteNonExpiryValuePercentageDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container
                    *ngIf="overAllDeviationList?.obsoleteNonExpiryValuePercentageDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
