<nav class="navbar navbar-light  navigation-bar">
  <!--<div class="logo-box">-->
  <a style="width: 97px;
    height: 32px; margin-left: 5px;
">
    <img
      src="../../../assets/images/light-csp-logo-new.png"
      alt="homepage"
      class="light-logo logo-img"
    />
    <h3 class="logo-text">CSP</h3>
  </a>
  <!--<i class="mdi mdi-home" title="Home" (click)="cspNavigate()"></i>-->
 <!-- <i class="fas fa-arrow-circle-left"
     style="position: absolute;
       top: 31%;
    left: 10%;
    color: darkgrey;
    font-size: 19px; z-index: 100"
  ></i>-->
  <!-- </div>-->

  <ul class="nav nav-pills justify-content-end" id="pills-tab" role="tablist">
   <!-- <li>
      <div class="select-supplier inp-css" style="border: 1px solid white;">
        <angular2-multiselect
          [data]="roleModuleSelectList"
          [(ngModel)]="singleselectedItems"
          [settings]="singledropdownSettings"
          (onSelect)="onItemSelect($event)">
        </angular2-multiselect>
      </div>
    </li>-->
    <li class="nav-item dropdown">
     <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>-->
    </li>
    <li style=" display: flex">
     <!-- <select class="form-control" style="color: white;
    background: black; width: 80px;
    /* height: 32px; */
    /* border: none; */
    border-right: 3px solid!important;
    margin-right: 2%;"  #mySelect
              (change)="selectedModule(mySelect.value)">
        <option *ngFor="let role of roleModule" [ngValue]="role">
          {{role | slice:5}}
        </option>
      </select>

-->
      <!--[ngModel]="selectedDevice"-->
      <div ngbDropdown class="d-inline-block d-flex">
        <button class="btn"
                style="margin-right: 0px!important; color: white">
          {{selectedDevice | slice:5}}
        </button>
      <button
        class="btn btn btn-sm"
        id="dropdownBasic1"
        ngbDropdownToggle style="padding: 0px; font-weight: bolder; font-size: 17px; color: white">
       <i class="mdi mdi-chevron-down"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="
      padding-top: 0px; min-width: 6rem!important;
       padding-bottom: 0px">
        <button class="dropdown-item" style="padding-top: 2px; padding-bottom: 2px"
                (click)="onChange(i)" [value]="i" *ngFor="let i of roleModule">{{i | slice:5}}</button>
      </div>
    </div>
   <!--   <select class="form-control" style="color: white; background: black; text-align: end;
                                          width: 112px;margin-right: 2%; border:none;
                                          border-right: 3px solid white!important;"
              [ngModel]="selectedDevice" (ngModelChange)="onChange($event)" name="sel2">
        <option [value]="i" *ngFor="let i of roleModule">{{i | slice:5}}</option>
      </select>-->
      <!--<div class="select-supplier inp-css" style="border: 1px solid white;">
        <angular2-multiselect
          [data]="roleModuleSelectList"
          [(ngModel)]="singleselectedItems"
          [settings]="singledropdownSettings"
          (onSelect)="onItemSelect($event)">
        </angular2-multiselect>
      </div>-->
     <!--<button class="btn text-white" style="font-size: 17px; font-style: italic; border-right: 2px solid white">
       {{moduleName}}
     </button>-->
      <div class="dropdown" style="background: darkcyan;
    height: 29px;
    border-radius: 25px;
    margin-top: 4px;
    margin-right: 5px;">
        <button class="btn btn-rounded dropdown-toggle text-white"
                style="display: flex; margin-top: -3px" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
                aria-expanded="false">
          <i class="fas fa-user-circle cursor-pointer" style="font-size: 18px"></i>
          <small style="margin-left: 10%;
    font-size: 15px;">{{userName}}
          </small>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="
           margin-top: 9%;
    margin-left: -44%; padding-bottom: 0px;
        min-width: 1rem!important;">
          <a>
            <span class="fa fa-caret-up caret-up" style="top: -16%; color: #e9ecef"></span>
          </a>
          <li style="background-color: #e9ecef; text-align: center; margin-top: -6%">
            <a class="logout-dropdown" style="padding-bottom: 0px">
              <i class="fas fa-user-circle cursor-pointer" style="font-size: 40px;color: black;"></i>
            </a>
          </li>
          <li style="text-align: center;background: #e9ecef">
            <a class="logout-dropdown"
               style="padding-top: 2px; padding-bottom: 3px; text-decoration: none; color: black">
              <small style="font-size: 20px">{{userName}}</small>
              <br>
              <p style="margin-top: -4%; font-size: 12px">{{moduleName}}</p>
            </a></li>
          <li style="background: #e9ecef; margin-top: -13%"><a class="logout-dropdown">
            <button class="btn btn-sm btn-dark" (click)="logOut()">
              <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout
            </button>
          </a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
<!--  </div>
</div>-->

<ng-container *ngIf="selectModuleMsg!==''">
  <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
    <strong>{{selectModuleMsg}}</strong>
  </p>
</ng-container>


<div class="row" style="margin-top: 1rem; width: 100%; margin-left: 0%">
  <div class="col-sm-12">
    <div class="full-card" >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
