<div class="row" style="margin-top: -23px">
  <div class="col-sm-12">
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-md-7">
          <div class="form-inline">
            <nav aria-label="breadcrumb" style="margin-left: -2%">
              <ol class="breadcrumb" style="font-size: 16px">
                <li class="breadcrumb-item active">Storage</li>
                <li class="breadcrumb-item  text-dark font-weight-bold">Reports</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-5 d-flex justify-content-end">

        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="all-reports-card">-->
  <div class="row" style="margin-top: 0%">
    <div class="col-sm-12">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <button class="nav-link by-default btn"
                  id="nav-org-tabb" data-toggle="tab"
                  role="tab" [ngClass]="firstTabClicked ? 'active ' : ''"
                  queryParamsHandling="preserve"
                  (click)="firstTabClicked=true; secondTabClicked=false;"
                  aria-controls="nav-org" aria-selected="false"  routerLinkActive="active" routerLink="fgReports">Plans </button>
        </li>
       <!-- <li class="nav-item">
          <button class="nav-link by-default btn"  id="nav-user-tab" data-toggle="tab"
                  role="tab"  aria-controls="nav-userr"
                  [ngClass]="secondTabClicked ? 'active ' : ''"
                  queryParamsHandling="preserve"
                  (click)="firstTabClicked=false;secondTabClicked=true;"
                  routerLinkActive="active" routerLink="fgOtif"
                  aria-selected="true">OTIF </button>
        </li>-->
      </ul>
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
<!--</div>-->


