<div class="row" style="margin-top: -8px">
  <div class="col-sm-12">
    <div class="card-header border header-color">
      <div class="row">
        <div class="col">
                  <span class="form-inline">
                  <input type="checkbox" [(ngModel)]="annualSelectedAll"
                         (change)="annualSelectAll()" style="margin-right: 3%">
                  <h5>Download following  Files : </h5>
                    </span>
        </div>
        <div class="col text-right">
          <button class="btn btn-dark  download-btn" (click)="annualDownload()" [disabled]="isDownloadDis">
            <i class="fas fa-download"></i> Download
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="row" style="margin-top: 8px">
  <div class="col-sm-12 pr-0 pl-2 pr-2">
    <div class="cards">
      <!-- <div class="card-header border text-center sub-header-color-otif">
         <h5 class="text-dark">OTIF Files</h5>
       </div>-->
      <div>
        <div class="table-scroll">
          <div class="row" style="width: 100%; margin-left: 0%">
              <ng-container *ngFor="let annual of allModuleZipList">
                <div class="col-sm-4 border p-0">
                  <div style="padding: 3%;" [ngClass]="{'highlight' : annual.selected}">
                    <input type="checkbox" [(ngModel)]="annual.selected"
                           (change)="checkIfAllSelectedAnnual()">
                    <span class="list-text">{{annual.name}}</span>
                  </div>
                </div>
              </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
