
.top-card{
  padding: 1%;
  border: 1px solid lightgrey;
  height: 80.386606vh;

}
.select-supplier {
  border: 1px solid lightgrey
}
.inp-css{
  margin-top: -3%;
  width: 102%;
}
.label-font{
  font-size: 15px;
}
.execut-btn{
  /* width: 18.264840182648403vh;*/
  background: black;
  color: white;
  margin-top: 3%;
  margin-left: 32%;
}
.borderSelection{
  border: 3px solid #7b97ff;
}

.graph-card{
  padding: 10px;
  border: 1px solid lightgrey;
  height:  45.205479452054796vh;
}
.radio-btn-text{
  color: black;
  margin-left: 1%;
}
.list-scroll{
  border: 1px solid lightgrey;
  height: 231px;
  overflow-x: hidden;
}
.fg-codes-table td{
  padding: 5px;
  font-size: 14px;
}




.lft-card{
  border: 1px solid lightgrey;
  padding: 5%;

}
.rlt-card{
  border: 1px solid lightgrey;
  padding: 1%;
  height:280px;
}
table#mpsTable tbody {
  overflow-y: auto;
  overflow-x: hidden;
}

table#mpsTable thead, table#mpsTable tbody tr {
  table-layout: fixed;
}

.mps-table-scroll {
  border: 1px solid lightgrey;
  height:  70.205479vh;
  overflow: auto

}
.mps-table th, td {
  padding: 0.60882800608828vh;
  white-space: nowrap;
}

.mps-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.mps-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}

.mps-table {
  transform-style: preserve-3d;
  width: 100%!important;
}
.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}
table thead {
  background-color: darkcyan;
  color: white;
}
.switch {
  position: relative;
  top: -10%;
  left: -17%;
  display: inline-block;
  width: 32px;
  height: 26px;

}
.filter-icon{
  position: absolute;
  left: 18%;
  top: 6%;
  font-size: 24px;
  cursor: pointer;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.succes-msg{
  position: absolute;
  top: -9%;
  left: 43%;
  padding: 1px 10px 1px 10px;
  width: 47%;
}
.hide-btn{
  background: transparent;
  font-size: 18px;
  border: none;
  color: black;
  position: absolute;
  top: -20px;
  width: 17px;
  height: 17px;
  line-height: 1px;

}
.caret-icon{
  position: relative;
  top: -28%;
  left: -47%;
  font-size: 12px;
}
.dropdown-toggle:empty::after {
  margin-left: -4px;
}
.filterBgColor{
  background: black;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  font-family: themify;
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5px;
}
.expand-card-css{
  margin-top: 86px;
  width: 95%;
  height: 85.365297vh;
}
#rotate {
  vertical-align:top;
  transform:rotate(7deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
}

.unique-list-table th,td{
  padding: 4px;
}
.unique-list-table th{
  font-size: 16px;
  background: #D3D3D3;
  color: black;

}
.unique-list-table td{
  font-size: 13px;
}
.unique-list-scroll{
  height: 72.365297vh;
  overflow: auto;
  border:1px solid lightgrey;
}
.chk-list-container{
  border:1px solid lightgrey;
  height: 250px;
  overflow: auto;
}
.switch {
  display: flex;
  text-align: right;

  color: white;
  margin-bottom: 1%;
  line-height: 1;
}
/*.filter-icon{
  cursor: pointer;
  font-size: 22px;
}*/
@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.4;}
}
.blink{
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-direction: alternate;
}

.vertical-expand-btn{
  top: -8px!important;
  left: -36px!important;
  border-radius: 50%;
  border: none;
   background: black;
  padding: 2px 7px!important;
}
.vertical-expand-btn:hover{

}
.opacity{
  opacity: 0.2;
}
.modal-backdrop{
  opacity: 0.2;
}
.close-btn{
  position: absolute;
  left: 85%;
  top: 6%;
  padding: 0px 10px 0px 10px;
  border: 2px solid brown;
  background: brown;
  color: white;
  font-size: 2.2831050228310503vh;

}
.notApplied{
  background: #0077c0;
}
.applied{
  background: #00538C;
}

.save-btn {
  position: absolute;
  left: 78%;
  top: -9%;
  padding: 0px 10px 0px 10px;
  border: 2px solid darkgreen;
  background: darkgreen;
  color: white;
  font-size: 2.2831050228310503vh;
}
.button-group{
  padding-right:13px!important;
}
.cross-btn{
  margin-top: -3%;
  margin-right: 1%;
  font-size: 30px;
  font-weight: 500;
}
