<div class="row" style="margin-top: -1%">
  <div class="col-sm-12">
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-md-7">
          <div class="form-inline">
            <nav aria-label="breadcrumb" style="margin-left: -2%">
              <ol class="breadcrumb">
                <!--  <li class="breadcrumb-item">
                    <a href='javascript:void(0)'>Home</a>
                  </li>-->
                <!--<li class="breadcrumb-item active">Analytics</li>-->
                <ng-container *ngIf="executionFlowPageService.loginUsers !== 'analyzer'">
                  <li class="breadcrumb-item ">Skid Triangle Analytics</li>
                </ng-container>
                <!--<li class="breadcrumb-item ">Current Plan</li>-->
                <ng-container *ngIf="executionFlowPageService.loginUsers === 'analyzer'">
                  <li class="breadcrumb-item active">FG Analytics</li>
                </ng-container>

                <li class="breadcrumb-item  font-weight-bold text-dark">Skid Triangle Analytics</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-5 d-flex justify-content-end">
          <button class="btn btn-outline-dark btn-rounded deviation-modal-btn"
                  data-toggle="modal" data-target="#deviationModal">
            Deviation
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-sm-2 pr-0">
    <div class="left-card">
      <div class="unique-list-scroll">
        <table class="table table-bordered unique-list-table">
          <thead class="header-sticky">
          <tr>
            <th>Skid List</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let skidData of skidList">
            <td [ngClass]="{'highlight' : skidData.id == skidDeltaId}" class="cursor-pointer"
                (click)="getskidWiseData(skidData)">{{skidData?.skidName}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="col-sm-10">
    <div class="rhs-card">
      <h4>Skid Triangle Analysis</h4>
      <!-- <span class="form-inline">
              <h4>Skid Triangle Analysis</h4>
              <div class="inp-css">
                <angular2-multiselect
                  [data]="skidList"
                  [(ngModel)]="singleselectedItems"
                  [settings]="singledropdownSettings"
                  (onSelect)="getskidWiseData($event)"
                  (onDeSelect)="onItemDeSelect()">
                </angular2-multiselect>
              </div>
              </span>-->

      <div class="row mt-2">
        <div class="col-sm-12">
          <div class="delta-analytics-table-scroll-bottom">
            <table class="table table-bordered delta-analytics ">
              <thead class="header-sticky">
              <tr>
                <th style="width: 10%"></th>
                <ng-container *ngFor="let month of monthNamesList">
                  <th>{{month}}</th>
                </ng-container>

              </tr>
              </thead>
              <tbody class="text-right">

              <tr>
                <!--<ng-container *ngIf="deltaAnalyticsList?.saturationDetailsList[0]?.saturationMonth!==null">-->
                <td class="text-left" style="width: 10%; font-weight: 500">{{monthRows[2]}}</td>
                <!-- </ng-container>-->
                <ng-container
                  *ngFor="let monthName of deltaAnalyticsList?.saturationDetailsList[0]?.saturationList; let i= index">
                  <ng-container *ngIf="i<monthNamesList.length">
                    <td>
                      {{monthName  | number:'1.2-2':'en-IN'}}
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
              <tr>
                <td class="text-left" style="width: 10%; font-weight: 500">{{monthRows[3]}}</td>
                <ng-container
                  *ngFor="let monthName1 of deltaAnalyticsList?.saturationDetailsList[1]?.saturationList; let i1 = index">
                  <ng-container *ngIf="i1<monthNamesList.length">
                    <td>
                      {{monthName1  | number:'1.2-2':'en-IN'}}
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
              <tr>

                <td class="text-left" style="width: 10%; font-weight: 500">{{monthRows[4]}}</td>
                <ng-container
                  *ngFor="let monthName2 of deltaAnalyticsList?.saturationDetailsList[2]?.saturationList; let i2 = index">
                  <ng-container *ngIf="i2<monthNamesList.length">
                    <td>
                      {{monthName2  | number:'1.2-2':'en-IN'}}
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
              <tr>
                <td class="text-left" style="width: 10%; font-weight: 500">{{monthRows[5]}}</td>
                <ng-container
                  *ngFor="let monthName3 of deltaAnalyticsList?.saturationDetailsList[3]?.saturationList; let i3 = index">
                  <ng-container *ngIf="i3<monthNamesList.length">
                    <td>
                      {{monthName3  | number:'1.2-2':'en-IN'}}
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
              <tr>
                <td class="text-left" style="width: 10%; font-weight: 500">{{monthRows[6]}}</td>
                <ng-container
                  *ngFor="let monthName4 of deltaAnalyticsList?.saturationDetailsList[4]?.saturationList; let i4 = index">
                  <ng-container *ngIf="i4<monthNamesList.length">
                    <td>
                      {{monthName4  | number:'1.2-2':'en-IN'}}
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
              <tr>
                <td class="text-left" style="width: 10%; font-weight: 500">{{monthRows[7]}}</td>
                <ng-container
                  *ngFor="let monthName5 of deltaAnalyticsList?.saturationDetailsList[5]?.saturationList; let i5 = index">
                  <ng-container *ngIf="i5<monthNamesList.length">
                    <td>
                      {{monthName5  | number:'1.2-2':'en-IN'}}
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
              <tr>
                <td class="text-left" style="width: 10%; font-weight: 500">{{monthRows[8]}}</td>
                <ng-container
                  *ngFor="let monthName6 of deltaAnalyticsList?.saturationDetailsList[6]?.saturationList; let i6 = index">
                  <ng-container *ngIf="i6<monthNamesList.length">
                    <td>
                      {{monthName6  | number:'1.2-2':'en-IN'}}
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
              <tr>
                <td class="text-left" style="width: 10%; font-weight: 500">{{monthRows[9]}}</td>
                <ng-container
                  *ngFor="let monthName7 of deltaAnalyticsList?.saturationDetailsList[7]?.saturationList; let i7 = index">
                  <ng-container *ngIf="i7<monthNamesList.length">
                    <td>
                      {{monthName7  | number:'1.2-2':'en-IN'}}
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
              <tr>
                <td class="text-left" style="width: 10%; font-weight: 500">{{monthRows[10]}}</td>
                <ng-container
                  *ngFor="let monthName8 of deltaAnalyticsList?.saturationDetailsList[8]?.saturationList; let i8 = index">
                  <ng-container *ngIf="i8<monthNamesList.length">
                    <td>
                      {{monthName8  | number:'1.2-2':'en-IN'}}
                    </td>
                  </ng-container>
                </ng-container>

              </tr>
              <tr>
                <td class="text-left" style="width: 10%; font-weight: 500">{{monthRows[11]}}</td>
                <ng-container
                  *ngFor="let monthName9 of deltaAnalyticsList?.saturationDetailsList[9]?.saturationList; let i9 = index">
                  <ng-container *ngIf="i9<monthNamesList.length">
                    <td>
                      {{monthName9  | number:'1.2-2':'en-IN'}}
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
              <tr>
                <td class="text-left" style="width: 10%; font-weight: 500">{{monthRows[12]}}</td>
                <ng-container
                  *ngFor="let monthName10 of deltaAnalyticsList?.saturationDetailsList[10]?.saturationList; let i10 = index">
                  <ng-container *ngIf="i10<monthNamesList.length">
                    <td>
                      {{monthName10  | number:'1.2-2':'en-IN'}}
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
              <tr>
                <td class="text-left" style="width: 10%; font-weight: 500">{{monthRows[13]}}</td>
                <ng-container
                  *ngFor="let monthName11 of deltaAnalyticsList?.saturationDetailsList[11]?.saturationList; let i11 = index">
                  <ng-container *ngIf="i11 <monthNamesList.length">
                    <td>
                      {{monthName11  | number:'1.2-2':'en-IN'}}
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
              <tr style="font-weight: 500"><!--[ngClass]="plan >= 70 ? 'bg-color-red' : ''"-->
                <td class="text-left" style="width: 10%; font-weight: bold; font-size: 13px">Final Plan</td>
                <ng-container *ngFor="let plan of deltaAnalyticsList?.finalSaturationDetails; let finalIdx = index">
                  <ng-container *ngIf="finalIdx <monthNamesList.length">
                    <td>
                      {{plan  | number:'1.2-2':'en-IN'}}
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
              <tr style="font-weight: 500">
                <td class="text-left" style="width: 10%; font-weight: bold; font-size: 13px">Deviation</td>
                <ng-container *ngFor="let deviation of deltaAnalyticsList?.deviationDetails; let deviationIdx = index">
                  <ng-container *ngIf="deviationIdx < monthNamesList.length">
                    <td>{{deviation  | number:'1.2-2':'en-IN'}}</td>
                  </ng-container>
                </ng-container>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deviationModal" tabindex="-1" role="dialog"
     aria-labelledby="deviationModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; width: 160%;
    margin-left: -30%;">
      <div class="modal-header"  style="padding-bottom: 11px;
    padding-top: 11px;">
        <h5 class="modal-title" style="font-size: 22px" id="deviationModalLabel">Deviation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="delta-analytics-table-scroll-top">
              <table class="table table-bordered delta-analytics ">
                <thead class="header-sticky">
                <tr>
                  <th style="width: 10%"></th>
                  <ng-container *ngFor="let month of monthNamesList">
                    <th>{{month}}</th>
                  </ng-container>
                </tr>
                </thead>
                <tbody class="text-right">
                <!--  <tr style="font-weight: 500">
                    <td class="text-left" style="width: 10%; font-weight: bold; font-size: 14px">Final Plan</td>
                    <ng-container *ngFor="let plan of deltaAnalyticsList?.finalSaturationDetails; let finalIdx = index">
                      <ng-container *ngIf="finalIdx <monthNamesList.length">
                        <td [ngClass]="plan >= 70 ? 'bg-color-red' : ''">
                          {{plan}}
                        </td>
                      </ng-container>
                    </ng-container>
                  </tr>-->
                <tr style="font-weight: 500">
                  <td class="text-left" style="width: 10%; font-weight: bold; font-size: 14px">Deviation</td>
                  <ng-container *ngFor="let deviation of deltaAnalyticsList?.deviationDetails; let deviationIdx = index">
                    <ng-container *ngIf="deviationIdx < monthNamesList.length">
                      <td>{{deviation  | number:'1.2-2':'en-IN'}}</td>
                    </ng-container>
                  </ng-container>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-12">
            <canvas id="skid_Deviation_graph" width="7400" height="2400"
                    style="display: block;width: 462px;height: 203px; margin-top: -1%"></canvas>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
