<div class="row" style="margin-top: -1%">
  <div class="col-sm-12">
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-md-7">
          <div class="form-inline">
            <nav aria-label="breadcrumb" style="margin-left: -2%">
              <ol class="breadcrumb">
                <!--  <li class="breadcrumb-item">
                    <a href='javascript:void(0)'>Home</a>
                  </li>-->
              <!--  <li class="breadcrumb-item active">Analytics</li>-->
                <ng-container *ngIf="executionFlowPageService.loginUsers !== 'analyzer'">
                  <li class="breadcrumb-item ">SLOB Movement</li>
                </ng-container>
                <!--<li class="breadcrumb-item ">Current Plan</li>-->
                <ng-container *ngIf="executionFlowPageService.loginUsers === 'analyzer'">
                  <li class="breadcrumb-item active">PM Analytics</li>
                </ng-container>

                <li class="breadcrumb-item  font-weight-bold text-dark">SLOB Movement</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-5 d-flex justify-content-end">
        </div>
      </div>
    </div>
    <div class="col-md-5 d-flex justify-content-end">
      <div class="form-inline">
        <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download 'PM Slob Movement'"
                style="cursor: pointer; margin-top: -120%;margin-left: 2200%; border:none; background: transparent">
          <i><img src="../../../../assets/images/big/excel.png"></i></button>
      </div>
    </div>
    <ng-container *ngIf="successMessage!==''">
      <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
        <strong>{{successMessage}}</strong>
      </p>
    </ng-container>
    <ng-container *ngIf="errorMessage!==''">
      <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
        <strong>{{errorMessage}}</strong>
      </p>
    </ng-container>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="slob-movement-card">
      <h4 style="font-weight: 500">SLOB Movement</h4>
      <canvas id="slob_Movement" width="7400" height="1600"
              style="display: block;width: 462px;height: 203px; margin-top: 0%"></canvas>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 1%">
  <div class="col-sm-12">
   <!-- <table class="table table-bordered">
      <tr>
        <th></th>
        <ng-container *ngFor="let slobList of slobMovementList">
          <th>{{slobList?.monthValue}}</th>
        </ng-container>
      </tr>
      <tr>
        <th>OB</th>
        <ng-container *ngFor="let slobList of slobMovementList">
          <td>{{slobList?.obValue}}</td>
        </ng-container>
      </tr>
      <tr>
        <th>SM</th>
        <ng-container *ngFor="let slobList of slobMovementList">
          <td>{{slobList?.slValue}}</td>
        </ng-container>
      </tr>
      <tr>
        <th>SLOB</th>
        <ng-container *ngFor="let slobList of slobMovementList">
          <td>{{slobList?.slobValue}}</td>
        </ng-container>
      </tr>
    </table>-->
    <table class="table table-bordered slob-movement-table">
      <tr class="text-left">
        <th class="darkcyan">Months</th>
        <th class="dark">{{slobMovementList[0]?.monthValue}}</th>
        <th class="dark">{{slobMovementList[1]?.monthValue}}</th>
        <th class="dark">{{slobMovementList[2]?.monthValue}}</th>
        <th class="dark">{{slobMovementList[3]?.monthValue}}</th>
        <th class="dark">{{slobMovementList[4]?.monthValue}}</th>
        <th class="dark">{{slobMovementList[5]?.monthValue}}</th>
        <th class="dark">{{slobMovementList[6]?.monthValue}}</th>
        <th class="dark">{{slobMovementList[7]?.monthValue}}</th>
        <th class="dark">{{slobMovementList[8]?.monthValue}}</th>
        <th class="dark">{{slobMovementList[9]?.monthValue}}</th>
        <th class="dark">{{slobMovementList[10]?.monthValue}}</th>
        <th class="dark">{{slobMovementList[11]?.monthValue}}</th>
      </tr>
      <tr class="text-right">
        <th class="text-left darkcyan">OB</th>
        <td>{{slobMovementList[0]?.obValue}}</td>
        <td>{{slobMovementList[1]?.obValue}}</td>
        <td>{{slobMovementList[2]?.obValue}}</td>
        <td>{{slobMovementList[3]?.obValue}}</td>
        <td>{{slobMovementList[4]?.obValue}}</td>
        <td>{{slobMovementList[5]?.obValue}}</td>
        <td>{{slobMovementList[6]?.obValue}}</td>
        <td>{{slobMovementList[7]?.obValue}}</td>
        <td>{{slobMovementList[8]?.obValue}}</td>
        <td>{{slobMovementList[9]?.obValue}}</td>
        <td>{{slobMovementList[10]?.obValue}}</td>
        <td>{{slobMovementList[11]?.obValue}}</td>
      </tr>
      <tr class="text-right">
        <th class="text-left darkcyan">SM</th>
        <td>{{slobMovementList[0]?.slValue}}</td>
        <td>{{slobMovementList[1]?.slValue}}</td>
        <td>{{slobMovementList[2]?.slValue}}</td>
        <td>{{slobMovementList[3]?.slValue}}</td>
        <td>{{slobMovementList[4]?.slValue}}</td>
        <td>{{slobMovementList[5]?.slValue}}</td>
        <td>{{slobMovementList[6]?.slValue}}</td>
        <td>{{slobMovementList[7]?.slValue}}</td>
        <td>{{slobMovementList[8]?.slValue}}</td>
        <td>{{slobMovementList[9]?.slValue}}</td>
        <td>{{slobMovementList[10]?.slValue}}</td>
        <td>{{slobMovementList[11]?.slValue}}</td>
      </tr>
      <tr class="text-right">
        <th class="text-left darkcyan">SLOB</th>
        <td>{{slobMovementList[0]?.slobValue}}</td>
        <td>{{slobMovementList[1]?.slobValue}}</td>
        <td>{{slobMovementList[2]?.slobValue}}</td>
        <td>{{slobMovementList[3]?.slobValue}}</td>
        <td>{{slobMovementList[4]?.slobValue}}</td>
        <td>{{slobMovementList[5]?.slobValue}}</td>
        <td>{{slobMovementList[6]?.slobValue}}</td>
        <td>{{slobMovementList[7]?.slobValue}}</td>
        <td>{{slobMovementList[8]?.slobValue}}</td>
        <td>{{slobMovementList[9]?.slobValue}}</td>
        <td>{{slobMovementList[10]?.slobValue}}</td>
        <td>{{slobMovementList[11]?.slobValue}}</td>
      </tr>
    </table>
  </div>
</div>


