
table{
width: 100%;
}
.slob-movement-table th,td{
  padding: 4px;
  border:1px solid darkgrey;
  white-space: nowrap!important;
  width: 7%;
}
table th{
  font-size: 14px;
}
table td{
  font-size: 12px;
}
.slob-movement-card{
  border:1px solid lightgrey;
  padding: 1%;

}
.inventory-quality-card{
  border:1px solid lightgrey;
  padding: 6px;
  height: 262px;
}
.dark{
  color: white;
  background: black;
}
.darkcyan{
  background: darkcyan;
  color: white;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  font-family: themify;
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5px;
}
.succes-msg {
  color: white;
  position: absolute;
  top: 2%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}
