<!--
<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <li class="breadcrumb-item active" >Stock</li>
                    <li class="breadcrumb-item  font-weight-bold text-dark" >Midnight Stock</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                <button (click)="exportAsXLSX()"  data-toggle="tooltip" title="Download 'Midnight Stock'"
                          style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                 &lt;!&ndash; <i class="mdi mdi-file-excel excel-icon"></i></button>&ndash;&gt;
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    &lt;!&ndash;
     <input type="text"  placeholder="Search..."  class="gross-search btn-rounded"  [(ngModel)]="grossConsumptionSearchTerm">
     <span class="fas fa-search icon-search"></span>&ndash;&gt;
    <div class="mes-card">
      <ng-container  *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="left:56%" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
          <button type="button" class="close" data-dismiss="alert"
                  aria-label="Close"><span
            aria-hidden="true">×</span></button>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="left:22%" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
          <button type="button" class="close" data-dismiss="alert"
                  aria-label="Close"><span
            aria-hidden="true">×</span></button>
        </p>
      </ng-container>
      <div class="mes-scroll-table">
        <table class="table table-bordered mes-table" id="mesTable">
          <thead class="text-light text-left header-sticky">
          <tr>
            <th>Material Code</th>
            <th style="width: 13%">Description</th>
            <th>Total Midnight Stock</th>
            <th>Lotwise Midnight Stock</th>
            <th>Lot Number</th>
            <th>Stock Date</th>
            <th>Expiration Date</th>
            <th>Stock Status</th>
          </tr>
          </thead>
          <tbody class="text-left">
          <ng-container *ngFor="let mesData of mesDataList">
          <tr>
            <td class="font-weight-bold">{{mesData?.itemCode}}</td>
            <td style="width: 13%">{{mesData?.itemDescription}}</td>
            <td class="text-right">{{mesData?.rmMes?.totalValue | number:'1.0':'en-IN'}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
            <ng-container *ngFor="let individualValuesMesDTOListData of mesData.rmMes.individualValuesMesDTOList">
          <tr>
            <td></td>
            <td style="width: 13%"></td>
            <td></td>
            <td class="text-right">{{individualValuesMesDTOListData?.value | number:'1.0':'en-IN'}}</td>
            <td>{{individualValuesMesDTOListData?.lotNumber}}</td>
            <td>{{individualValuesMesDTOListData?.stockDate}}</td>
            <td>{{individualValuesMesDTOListData?.expirationDate}}</td>
            <td>{{individualValuesMesDTOListData?.stockStatus}}</td>
          </tr>
            </ng-container>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>






-->
