<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-5">
              <div class="form-inline">
                <!-- <h4 class="mps-plan-selection page-title text-muted"><b>MPS 07_11</b></h4>-->
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <!-- <li class="breadcrumb-item">
                       <a routerLink="/newPm/newMps">Home</a>
                     </li>-->
                    <li class="breadcrumb-item active">SLOB</li>
                    <li class="breadcrumb-item  text-dark font-weight-bold">SLOB with Summary</li>
                  </ol>
                </nav>
              </div>

            </div>
            <div class="col-md-7 d-flex justify-content-end">
              <div class="form-inline">
                <button class="btn btn-outline-dark btn-rounded summary-btn"
                        data-toggle="modal" data-target="#summaryModal">
                  Summary
                </button>
                <ng-container *ngIf="isEdit">
                  <button class="btn btn-rounded save-btn" (click)="saveChanges()"
                          [disabled]="sitValue.value==sit && pmSlobListToSave.length==0">
                    Save
                  </button>
                  <button class="btn btn-rounded close-btn" (click)="closeBtn()">
                    Cancel
                  </button>
                </ng-container>
                <ng-container *ngIf="!isEdit">
                  <button class="btn btn-outline-dark btn-rounded edit-btn" (click)="editBtn()">
                    <i class="fas fa-edit"></i>
                    Edit
                  </button>
                </ng-container>
                <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download  'PM SLOB'"
                        style="cursor: pointer; margin-left: 54%; margin-top: -5px; border:none; background: transparent">
                  <!-- <i class="mdi mdi-file-excel excel-icon"></i>-->
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<div class="row">
  <div class="col-sm-12">
    <div class="slob-card">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <div class="row" style="border: 1px solid darkgrey; border-bottom:unset; width: 100%;margin-left: 0%;">
        <div class="col-sm-9">
          <table  style="width: 100%!important; margin-left: -1%; margin-top: 1%">
            <tr>
              <td class="label-text">
                <label class="font-weight-bold">Total Stock Value :</label>
                  <label class="disable-style">
                    {{slobTotalData?.totalStockValue| number:'1.0':'en-IN'}}
                  </label>
              </td>
              <td class="label-text">
                <label class="font-weight-bold " style="margin-left: 3%;">Total Slow Value :</label>
                  <label class="disable-style">
                    {{slobTotalData?.totalSlowItemValue| number:'1.0':'en-IN'}}
                  </label>

              </td>
              <td class="label-text">
                <label class="font-weight-bold" style="margin-left: 3%;">Total Obsolete Value :</label>
                  <label class="disable-style">
                    {{slobTotalData?.totalObsoleteItemValue| number:'1.0':'en-IN'}}
                  </label>
              </td>
            </tr>
          </table>
        </div>

        <div class="col-sm-3">
          <span class="form-inline" style="margin-top: 3%;margin-left: 14%;">
          <label class="font-weight-bold" style="margin-left: 3%;">SIT :</label>
          <ng-container *ngIf="!isEdit">
             <input type="text" [disabled]="true" class="form-control ml-2" style="height: 28px; width: 81%"
                    [value]="sit| number:'1.0':'en-IN'" placeholder="">
          </ng-container>
          <ng-container *ngIf="isEdit">
             <input type="number" [ngClass]="isEdit ? 'editSelection' : ''" class="form-control ml-2" style="height: 28px; width:81%" [formControl]="sitValue"
                    (keyup)="updateSitValueData($event.target.value)" placeholder="">
          </ng-container>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div #table class="slob-table-scroll">
            <table class="table table-bordered slob-table" id="slobTable">
              <thead class="text-left  header-sticky">
              <tr>
                <th>PM Code</th>
                <th>PM Description</th>
                <th >Supplier</th>
                <th>Category</th>
                <th>Stock Quantity</th>
                <th>Consumption</th>
                <th>MAP</th>
                <th>Std Price</th>
                <th>SLOB Quantity</th>
                <th>Rate</th>
                <th>Stock Value</th>
                <th>SLOB Value</th>
                <th>Slow/OB</th>
                <th>Reason</th>
                <th>Remark</th>
              </tr>
              </thead>
              <tbody class="text-right">
              <ng-container *ngIf="!isEdit">
                <tr *ngFor="let slobData of slobDataList"
                    [ngClass]="slobData?.reason === 'BOM' ? 'bg-color-red' : 'bg-color-default'">

                  <td class="font-weight-bold text-left" >{{slobData?.code}}</td>
                  <td  class="text-left">
                    <div class="word-wrap-table-cell-des" title=" {{slobData?.description}}">
                      {{slobData?.description}}
                    </div>
                  </td>
                  <td  class="text-left">
                    <div class="word-wrap-table-cell" title="{{slobData?.supplier}}">
                      {{slobData?.supplier}}
                    </div>
                  </td>
                  <td class="text-left">{{slobData?.category}}</td>
                  <td>{{slobData?.stock | number:'1.0':'en-IN'}}</td>
                  <td>
                    <div class="dropdown">
                <span (click)="totalStockMonths(slobData)" class="text-info text-link dropdown-toggle" type="button"
                      id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{slobData?.totalStock | number:'1.0':'en-IN'}}
                </span>
                      <div class="dropdown-menu dropdown-card-style" aria-labelledby="dropdownMenuButton">
                  <span>
                   <span class="fa fa-caret-up caret-up arrow-up-style"></span>
                  </span>
                        <h4 class="dropdown-text">Gross Consumption</h4>
                        <table class="table  fg-details-table" style="margin-top: -8px">
                          <thead class="text-center" style="background: white!important; color:black">
                          <tr>
                            <th class="border-color">{{monthNamesList?.month1?.monthNameAlias}}</th>
                            <th class="border-color">{{monthNamesList?.month2?.monthNameAlias}}</th>
                            <th class="border-color">{{monthNamesList?.month3?.monthNameAlias}}</th>
                            <th class="border-color">{{monthNamesList?.month4?.monthNameAlias}}</th>
                            <th class="border-color">{{monthNamesList?.month5?.monthNameAlias}}</th>
                            <th class="border-color">{{monthNamesList?.month6?.monthNameAlias}}</th>
                            <th class="border-color">{{monthNamesList?.month7?.monthNameAlias}}</th>
                            <th class="border-color">{{monthNamesList?.month8?.monthNameAlias}}</th>
                            <th class="border-color">{{monthNamesList?.month9?.monthNameAlias}}</th>
                            <th class="border-color">{{monthNamesList?.month10?.monthNameAlias}}</th>
                            <th class="border-color">{{monthNamesList?.month11?.monthNameAlias}}</th>
                            <th class="border-color">{{monthNamesList?.month12?.monthNameAlias}}</th>
                          </tr>
                          </thead>
                          <tbody class="text-center">
                          <tr>
                            <td class="border-color">{{monthValuesList?.grossConsumptionMonthValues?.month1?.value}}</td>
                            <td class="border-color">{{monthValuesList?.grossConsumptionMonthValues?.month2?.value}}</td>
                            <td class="border-color">{{monthValuesList?.grossConsumptionMonthValues?.month3?.value}}</td>
                            <td class="border-color">{{monthValuesList?.grossConsumptionMonthValues?.month4?.value}}</td>
                            <td class="border-color">{{monthValuesList?.grossConsumptionMonthValues?.month5?.value}}</td>
                            <td class="border-color">{{monthValuesList?.grossConsumptionMonthValues?.month6?.value}}</td>
                            <td class="border-color">{{monthValuesList?.grossConsumptionMonthValues?.month7?.value}}</td>
                            <td class="border-color">{{monthValuesList?.grossConsumptionMonthValues?.month8?.value}}</td>
                            <td class="border-color">{{monthValuesList?.grossConsumptionMonthValues?.month9?.value}}</td>
                            <td class="border-color">{{monthValuesList?.grossConsumptionMonthValues?.month10?.value}}</td>
                            <td class="border-color">{{monthValuesList?.grossConsumptionMonthValues?.month11?.value}}</td>
                            <td class="border-color">{{monthValuesList?.grossConsumptionMonthValues?.month12?.value}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </td>
                  <td>{{slobData?.map | number:'1.0':'en-IN'}}</td>
                  <td>{{slobData?.stdPrice | number:'1.0':'en-IN'}}</td>
                  <td>{{slobData?.slobQuantity | number:'1.0':'en-IN'}}</td>
                  <td>{{slobData?.price | number:'1.0':'en-IN'}}</td>
                  <td>{{slobData?.value | number:'1.0':'en-IN'}}</td>
                  <td>{{slobData?.slobValue | number:'1.0':'en-IN'}}</td>
                  <td class="text-left">{{slobData?.slobType}}</td>
                  <td title="{{slobData?.reason}}">{{slobData?.reason}}</td>
                  <td title="{{slobData?.remark}}">{{slobData?.remark}}</td>
                </tr>
              </ng-container>
              <ng-container *ngIf="isEdit">
                <ng-container
                  *ngFor="let slobDataForm of slobDataForm?.get('slobDataFormArray').controls | filter: supplyTableSearchTerm ;let i=index">
                  <tr [formGroup]="slobDataForm">
                    <td class="font-weight-bold" style="width: 8%">{{slobDataForm?.controls?.code?.value}}</td>
                    <td title="{{slobDataForm?.controls?.description?.value}}">
                      <div class="word-wrap-table-cell-des" title=" {{slobDataForm?.controls?.description?.value}}">
                        {{slobDataForm?.controls?.description?.value}}
                      </div>
                    </td>
                    <td >
                      <div class="word-wrap-table-cell" title=" {{slobDataForm?.controls?.supplier?.value}}">
                        {{slobDataForm?.controls?.supplier?.value}}
                      </div>
                    </td>
                    <td>{{slobDataForm?.controls?.category?.value}}</td>
                    <td>{{slobDataForm?.controls?.stock?.value}}</td>
                    <td>
                      <div title="{{slobDataForm?.controls?.totalStock?.value}}">
            <span class="text-info text-link"
                  title="Click to see Gross Consumption"
                  (click)="totalStockMonths(slobDataForm)"
                  data-toggle="modal" data-target="#monthModal">
          {{slobDataForm?.controls?.totalStock?.value}}</span></div>
                    </td>
                    <td>{{slobDataForm?.controls?.map?.value}}</td>
                    <td>{{slobDataForm?.controls?.stdPrice?.value}}</td>
                    <td>{{slobDataForm?.controls?.slobQuantity?.value}}</td>
                    <td>{{slobDataForm?.controls?.price?.value}}</td>
                    <td>{{slobDataForm?.controls?.value?.value}}</td>
                    <td [ngClass]="isEdit ? 'border-right' : ''">{{slobDataForm?.controls?.slobValue?.value}}</td>
                    <td>{{slobDataForm?.controls?.slobType?.value}}</td>
                    <td [ngClass]="highlightEditValue">
                      <select [ngClass]="highlightEditValue"
                              class="form-select form-select-sm inp-align" #sel
                              formControlName="reasonId" style="font-size: 12px"
                              (change)="updateReasonData(slobDataForm?.controls,'reason',sel.value,i)">
                        <option *ngFor="let slobReasons of slobReasonsDataList" [ngValue]="slobReasons.id">
                          {{slobReasons?.reason}}
                        </option>
                      </select>
                    </td>
                    <td [ngClass]="highlightEditValue">
                      <textarea [ngClass]="highlightEditValue" class="form-control form-control-sm inp-align"
                                formControlName="remark" rows="1"
                                (keyup)="updateReasonData(slobDataForm?.controls,'remark',$event.target.value,i)"></textarea>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
</div>


<button id="openMapModal" [hidden]="true" data-toggle="modal" data-target="#mapModal">Open Modal
</button>
<!--<button id="closeMapModal" [hidden]="true" data-toggle="modal" data-target="#mapModal">Close Modal
</button>-->
<!--map modal-->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog"
     aria-labelledby="mapModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; width: 120%; margin-left: -13%;">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 22px" id="mapModalLabel">MAP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="map-table-scroll">
              <table class="table table-bordered map-table" id="mapTable">
                <thead class="text-left header-sticky">
                <tr>
                  <th>Code</th>
                  <th>Description</th>
                  <th>MAP</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <ng-container
                  *ngFor="let nullMapSlobDataForm of nullMapSlobDataForm?.get('nullMapSlobDataFormArray').controls ;let i=index">
                  <tr [formGroup]="nullMapSlobDataForm">
                    <td>{{nullMapSlobDataForm?.controls?.code?.value}}</td>
                    <td [ngClass]="nullSlobDataList.length > 0 ? 'border-right' : ''">
                      {{nullMapSlobDataForm?.controls?.description?.value}}
                    </td>
                    <td [ngClass]="nullSlobDataList.length > 0 ? 'editSelection' : ''">
                      <span *ngIf="validator">*</span>
                      <input [ngClass]="highlightMapEditValue" type="number" formControlName="map"
                             class="form-control form-control-sm inp-align"
                             (keyup)="UpdateMap(nullMapSlobDataForm?.controls,'map',$event.target.value,i)">
                      <!--<input type="number"[(ngModel)]="nullMapSlobDataForm.map">-->
                      <!--{{nullSlobData.map}}-->
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!nullMapSlobDataForm.valid" (click)="saveMap()">Save
        </button>
      </div>
    </div>
  </div>
</div>


<!--month modal-->
<!--
<div class="modal fade" id="monthModal" tabindex="-1" role="dialog"
     aria-labelledby="monthModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; width: 120%; margin-left: -13%; margin-top: 35%;">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 22px" id="monthModalLabel">Gross Consumption</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            &lt;!&ndash; <div class="slob-month-scroll">&ndash;&gt;
            <table class="table table-bordered" id="slobMonthTable" style="width: 100%!important;">
              <thead class="header-sticky text-left">
              <tr>
                <th>{{monthNamesList?.month1?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month2?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month3?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month4?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month5?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month6?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month7?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month8?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month9?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month10?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month11?.monthNameAlias}}</th>
                <th>{{monthNamesList?.month12?.monthNameAlias}}</th>
              </tr>
              </thead>
              <tbody class="text-center">
              <tr>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month1?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month2?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month3?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month4?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month5?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month6?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month7?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month8?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month9?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month10?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month11?.value}}</td>
                <td>{{monthValuesList?.grossConsumptionMonthValues?.month12?.value}}</td>
              </tr>
              </tbody>
            </table>
            &lt;!&ndash; </div>&ndash;&gt;
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="modal fade" id="summaryModal" tabindex="-1" role="dialog"
     aria-labelledby="summaryModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; width: 120%; margin-top: 20%; margin-left: -13%">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 22px" id="summaryModalLabel">SLOB Summary</h5>
        <button (click)="exportAsXLSXForSummary()" data-toggle="tooltip" title="Download 'Summary'"
                class="summary-excel">
          <i><img src="../../../../assets/images/big/excel.png"></i></button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="successModalMessage!==''">
          <p class="alert alert-success succes-msg-modal" style="background: #73c373" data-dismiss="alert" aria-label="Close">
            <strong>{{successModalMessage}}</strong>
          </p>
        </ng-container>
        <ng-container *ngIf="errorModalMessage!==''">
          <p class="alert alert-danger succes-msg-modal" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
            <strong>{{errorModalMessage}}</strong>
          </p>
        </ng-container>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered total-slob-deviation-table" >
              <thead class="text-left header-sticky">
              <tr>
                <th></th>
                <th>{{overAllDeviationList?.currentMonthName}}</th>
                <th>{{overAllDeviationList?.previousMonthName}}</th>
                <th>Deviation Total</th>
                <th>Deviation Status</th>
              </tr>
              </thead>
              <tbody class="text-center">
              <tr class="text-right">
                <th class="text-left">OB Value</th>
                <td>{{overAllDeviationList?.totalObsoleteItemValueDetails?.currentMonthValue | number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.totalObsoleteItemValueDetails?.previousMonthValue | number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.totalObsoleteItemValueDetails?.deviationTotal | number:'1.0':'en-IN'}}</td>
                <td class="text-center">
                  <ng-container *ngIf="overAllDeviationList?.totalObsoleteItemValueDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.totalObsoleteItemValueDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.totalObsoleteItemValueDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>
              <tr class="text-right">
                <th class="text-left">SM Value</th>
                <td>{{overAllDeviationList?.totalSlowItemValueDetails?.currentMonthValue| number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.totalSlowItemValueDetails?.previousMonthValue | number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.totalSlowItemValueDetails?.deviationTotal | number:'1.0':'en-IN'}}</td>
                <td class="text-center">
                  <ng-container *ngIf="overAllDeviationList?.totalSlowItemValueDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.totalSlowItemValueDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.totalSlowItemValueDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>
              <tr class="text-right">
                <th class="text-left">Current SLOB</th>
                <td>{{overAllDeviationList?.totalSlobValueDetails?.currentMonthValue| number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.totalSlobValueDetails?.previousMonthValue | number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.totalSlobValueDetails?.deviationTotal | number:'1.0':'en-IN'}}</td>
                <td class="text-center">
                  <ng-container *ngIf="overAllDeviationList?.totalSlobValueDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.totalSlobValueDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.totalSlobValueDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>
              <tr class="text-right">
                <th class="text-left">Total Stock Value</th>
                <td>{{overAllDeviationList?.totalStockValueDetails?.currentMonthValue| number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.totalStockValueDetails?.previousMonthValue | number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.totalStockValueDetails?.deviationTotal | number:'1.0':'en-IN'}}</td>
                <td class="text-center">
                  <ng-container *ngIf="overAllDeviationList?.totalStockValueDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.totalStockValueDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.totalStockValueDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>

              <tr class="text-right">
                <th class="text-left"> Stock Quality Value Details</th>
                <td>{{overAllDeviationList?.stockQualityValueDetails?.currentMonthValue| number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.stockQualityValueDetails?.previousMonthValue | number:'1.0':'en-IN'}}</td>
                <td>{{overAllDeviationList?.stockQualityValueDetails?.deviationTotal | number:'1.0':'en-IN'}}</td>
                <td class="text-center">
                  <ng-container *ngIf="overAllDeviationList?.stockQualityValueDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.stockQualityValueDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.stockQualityValueDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>
              <tr class="text-right">
                <th class="text-left">OB %</th>
                <td>{{overAllDeviationList?.obsoleteItemPercentageDetails?.currentMonthValue| number:'1.2-2':'en-IN'}}</td>
                <td>{{overAllDeviationList?.obsoleteItemPercentageDetails?.previousMonthValue| number:'1.2-2':'en-IN'}}</td>
                <td>{{overAllDeviationList?.obsoleteItemPercentageDetails?.deviationTotal | number:'1.2-2':'en-IN'}}</td>
                <td class="text-center">
                  <ng-container *ngIf="overAllDeviationList?.obsoleteItemPercentageDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.obsoleteItemPercentageDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.obsoleteItemPercentageDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>

              <tr class="text-right">
                <th class="text-left">SM %</th>
                <td>{{overAllDeviationList?.slowItemPercentageDetails?.currentMonthValue| number:'1.2-2':'en-IN'}}</td>
                <td>{{overAllDeviationList?.slowItemPercentageDetails?.previousMonthValue | number:'1.2-2':'en-IN'}}</td>
                <td>{{overAllDeviationList?.slowItemPercentageDetails?.deviationTotal | number:'1.2-2':'en-IN'}}</td>
                <td class="text-center">
                  <ng-container *ngIf="overAllDeviationList?.slowItemPercentageDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.slowItemPercentageDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.slowItemPercentageDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>

              <tr class="text-right">
                <th class="text-left"> Stock Quality %</th>
                <td>{{overAllDeviationList?.stockQualityPercentageDetails?.currentMonthValue| number:'1.2-2':'en-IN'}}</td>
                <td>{{overAllDeviationList?.stockQualityPercentageDetails?.previousMonthValue | number:'1.2-2':'en-IN'}}</td>
                <td>{{overAllDeviationList?.stockQualityPercentageDetails?.deviationTotal| number:'1.2-2':'en-IN'}}</td>
                <td class="text-center">
                  <ng-container *ngIf="overAllDeviationList?.stockQualityPercentageDetails?.deviationStatus === 'UP'">
                    <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.stockQualityPercentageDetails?.deviationStatus === 'DOWN'">
                    <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                  </ng-container>
                  <ng-container *ngIf="overAllDeviationList?.stockQualityPercentageDetails?.deviationStatus === 'NA'">
                  </ng-container>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
