.slob-table-scroll{
  border: 1px solid lightgrey;
  height: 73.05936073059361vh;
  overflow: auto;
}
/*.slob-table thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 100;
  background-color: darkcyan;
  color: white;
}*/

table th, td{
  padding: 0.60882800608828vh;
  white-space: nowrap;
}
table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}

.slob-table {
  transform-style: preserve-3d;
  width: 100% !important;
}

table thead {
  background-color: darkcyan;
  color: white;
}

.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}




/*
.slob-table-scroll {
  border: 1px solid lightgrey;
  height: 470px;
  overflow-x: auto;
  overflow-y: scroll;
  margin-top: 8px;
}
*/

/*table th, td {
  padding: 4px;
}

table th {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid lightgrey;
}

table td {
  font-size: 12px;
}*/

/*table {
  transform-style: preserve-3d;
  width: 100%;
}*/

/*table thead {
  background-color: darkcyan;
  color: white;
}*/



table#slobTable tbody {
  /* display: block;
   !* max-height: 200px;*!
   overflow-y: auto;
   overflow-x: hidden;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#slobTable thead, table#slobTable tbody tr {
  table-layout: fixed;
  /* display: table;
   width: 100%;
   table-layout: fixed; !* even columns width , fix width of table too*!*/
}

table#mapTable tbody {
  display: block;
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#mapTable thead, table#mapTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.map-table-scroll {
  border: 1px solid lightgrey;
  height: 300px;
  overflow-x: hidden;
  margin-top: -4px;
}


.text-link {
  text-decoration: underline;
  cursor: pointer;
}



table#slobMonthTable tbody {
  display: block;
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#slobMonthTable thead, table#slobMonthTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.slob-month-scroll {
  border: 1px solid lightgrey;
  height: 300px;
  overflow-x: hidden;
  margin-top: -4px;
}

.word-wrap-table-cell {
  cursor: pointer;
  white-space: nowrap;
  width: 106px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.word-wrap-table-cell-des {
  cursor: pointer;
  white-space: nowrap;
  width: 143px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*.label-style {
  margin-left: 1%;
  font-size: 14px;
}*/

.slob-card {
  /*border: 2px solid lightslategrey;
  padding: 1%;*/
  margin-bottom: 0px;
  background: white;
}

.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5%;
}

.mps-plan-selection {
  margin-left: -2%;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: none;
  padding-right: 0.5rem;
  color: #868e96;
  content: "/";
}

.succes-msg{
  color: white;
  position: absolute;
  top: -6%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}
.succes-msg-modal
{color: white;
  position: absolute;
  top: -15%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px
}

.bg-color-red {
  background-color: #ff6666;
  color: white;
}

.bg-color-default {
  background-color: white;
}
.save-btn {
  /* font-size: 20px;
   line-height: 1;
   padding-top: 0px;*/
  position: absolute;
  left: 79%;
  top: 6%;
  padding: 0px 10px 0px 10px;
  border: 2px solid darkgreen;
  background: darkgreen;
  color: white;
  font-size: 2.2831050228310503vh;
}

.edit-btn{
  position: absolute;
  left: 87%;
  padding: 0px 10px 0px 10px;
  top: 11%;
  font-size: 2.2831050228310503vh;
}
.close-btn{
  position: absolute;
  left: 87%;
  top: 6%;
  padding: 0px 10px 0px 10px;
  border: 2px solid brown;
  background: brown;
  color: white;
  font-size: 2.2831050228310503vh;

}

.editSelection {
  border:1px solid  darkgreen;
}
.inp-align{
  padding: 0px;
  text-align: right;
  height: 24px;
}
.border-right{
  border-right: 1px solid darkgreen!important;
}
.disable-style{
  padding: 1%;
  width: 18.264840182648403vh;
  height: 4.26179604261796vh;
  /* border: 1px solid darkgrey; */
  background-color: #e9ecef;
  opacity: 1;
  font-weight: 400;
  margin-left: 1%;
  font-size: 2.13089802130898vh;
}
#ngx .ng-valid, .ng-touched.ng-valid {
  border-color: darkgreen!important;
}
.label-text{
  border:unset!important;
  font-weight: bold!important;
  font-size: 2.43531202435312vh!important;
  padding: 0px!important;
  text-align: center!important;
  /* border: 1px solid darkgrey;
   border-top:unset!important;*/
}
.summary-btn{
  position: absolute;
  left: 67%;
  padding: 0px 10px 0px 10px;
  top: 11%;
  font-size: 2.2831050228310503vh;
}
.summary-excel{
  cursor: pointer;
  margin-left: 75%;
  margin-top: 0.238965vh;
  border:none;
  background: transparent;
}
.text-link {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.dropdown-toggle::after {
  display:none;
}

.dropdown-card-style{
  width: 1200px;
  margin-top: 7%;
  margin-left: 50%;
  height: 79px;
  border: 1px solid black;
  background: black;
}

.arrow-up-style{
  color: black!important;
  top: -25%!important;
  left: 43%!important;
  font-size: 28px!important;
}
.dropdown-text{
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  margin-top: -5px;
  color: white;
}
.fg-details-table th, td{
  padding: 4px;
}

.fg-details-table th {
  font-size: 14px;
  font-weight: bold;

}
.fg-details-table td {
  font-size: 12px;
}
.fg-details-table th{
  background: white!important;
}
.border-color{
  border:1px solid black!important;
  background: white;
  color:black!important;
}
