<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb">
                    <!--  <li class="breadcrumb-item">
                        <a href='javascript:void(0)'>Home</a>
                      </li>-->
                    <li class="breadcrumb-item active">Line</li>
                    <li class="breadcrumb-item  font-weight-bold text-dark">Line Saturation</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download 'Lines'"
                      style="cursor: pointer; margin-left: 43%; margin-right: -4%; margin-top: -7px; border:none; background: transparent">
                <i><img src="../../../../assets/images/big/excel.png"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mps-card">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <div class="mps-table-scroll">
        <table class="table table-bordered mps-table" id="mpsTable">
          <thead class="text-left header-sticky">
          <tr>
            <th>Lines</th>
            <th>{{monthNamesList?.month1?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month2?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month3?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month4?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month5?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month6?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month7?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month8?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month9?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month10?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month11?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month12?.monthNameAlias}}</th>
          </tr>
          </thead>
          <tbody class="text-right">
          <tr *ngFor="let lineSaturationData of lineSaturationList">
            <td class="text-left" style="font-weight: bold">{{lineSaturationData?.lineName}}</td>
            <td [ngClass]="lineSaturationData?.rscIotFgLineSaturationDTOS?.m1LineSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m1LineSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m1TotalMpsPlanQty}}
                    <br>
                    <span>Capacity</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.month1Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="lineSaturationData?.rscIotFgLineSaturationDTOS?.m2LineSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m2LineSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m2TotalMpsPlanQty}}
                    <br>
                    <span>Capacity</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.month2Capacity}}
                  </span>
              </div>
            </td>
            <td   [ngClass]="lineSaturationData?.rscIotFgLineSaturationDTOS?.m3LineSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m3LineSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m3TotalMpsPlanQty}}
                    <br>
                    <span>Capacity</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.month3Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="lineSaturationData?.rscIotFgLineSaturationDTOS?.m4LineSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m4LineSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m4TotalMpsPlanQty}}
                    <br>
                    <span>Capacity</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.month4Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="lineSaturationData?.rscIotFgLineSaturationDTOS?.m5LineSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m5LineSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m5TotalMpsPlanQty}}
                    <br>
                    <span>Capacity</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.month5Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="lineSaturationData?.rscIotFgLineSaturationDTOS?.m6LineSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m6LineSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m6TotalMpsPlanQty}}
                    <br>
                    <span>Capacity</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.month6Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="lineSaturationData?.rscIotFgLineSaturationDTOS?.m7LineSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m7LineSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m7TotalMpsPlanQty}}
                    <br>
                    <span>Capacity</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.month7Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="lineSaturationData?.rscIotFgLineSaturationDTOS?.m8LineSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m8LineSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m8TotalMpsPlanQty}}
                    <br>
                    <span>Capacity</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.month8Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="lineSaturationData?.rscIotFgLineSaturationDTOS?.m9LineSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m9LineSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m9TotalMpsPlanQty}}
                    <br>
                    <span>Capacity</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.month9Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="lineSaturationData?.rscIotFgLineSaturationDTOS?.m10LineSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m10LineSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m10TotalMpsPlanQty}}
                    <br>
                    <span>Capacity</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.month10Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="lineSaturationData?.rscIotFgLineSaturationDTOS?.m11LineSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m11LineSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m11TotalMpsPlanQty}}
                    <br>
                    <span>Capacity</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.month11Capacity}}
                  </span>
              </div>
            </td>
            <td [ngClass]="lineSaturationData?.rscIotFgLineSaturationDTOS?.m12LineSaturation>=70?'danger':''">
              <div class="cursor-pointer tooltipCustom">
                {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m12LineSaturation+'%'}}
                <span class="tooltiptextCustom">
                    <span>Plan Qty</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.m12TotalMpsPlanQty}}
                    <br>
                    <span>Capacity</span> : {{lineSaturationData?.rscIotFgLineSaturationDTOS?.month12Capacity}}
                  </span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>











