<div class="card" style="background: goldenrod">
    <div class="card-body">
        <div class="d-flex">
            <div class="m-r-20 align-self-center">
                <h1 class="text-white">
                    <i class="ti-light-bulb"></i>
                </h1>
            </div>
            <div>
                <h3 class="card-title text-white" style="font-size: 20px">Sales Analytics</h3>
                <h6 class="card-subtitle text-white">March 2017</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-6 align-self-center">
                <h2 class="font-light text-white" style="font-size: 25px">
                    <sup>
                        <small>
                            <i class="ti-arrow-up"></i>
                        </small>
                    </sup>35487</h2>
            </div>
            <div class="col-6 ml-auto p-r-20 d-flex justify-content-end flex-column">
                <div style="height: 88px;width: 120px;" class="ml-auto d-flex flex-column">
                    <apx-chart [series]="SalesanalyticsChartOptions.series" [chart]="SalesanalyticsChartOptions.chart"
                        [dataLabels]="SalesanalyticsChartOptions.dataLabels"
                        [legend]="SalesanalyticsChartOptions.legends" [colors]="SalesanalyticsChartOptions.colors"
                        [stroke]="SalesanalyticsChartOptions.stroke" [labels]="SalesanalyticsChartOptions.labels"
                        [tooltip]="SalesanalyticsChartOptions.tooltip"
                        [plotOptions]="SalesanalyticsChartOptions.plotOptions"></apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>
