<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
              <!--  <h4 class="mps-plan-selection page-title text-muted"><b>MPS 07_11</b></h4>-->
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 2.43531202435312vh">
                    <!--<li class="breadcrumb-item">
                      <a routerLink="/newRm/newRmMps">Home</a>
                    </li>-->
                    <li class="breadcrumb-item active" >Consumption</li>
                  <!--  <li class="breadcrumb-item active" >Bulk Consumption</li>-->
                    <li class="breadcrumb-item  font-weight-bold text-dark">Bulk Logical (FG based) Consumption</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download 'BULK Logical Consumption'"
                        style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="logical-card">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <div class="logical-consumption-scroll">
        <table class="table table-bordered logical-consumption-table" id="logicalTable">
          <thead class="text-left header-sticky">
          <tr>
            <th>FG Code</th>
            <th>FG Description</th>
            <th>Bulk Code</th>
            <th>Bulk Description</th>
            <th>Link Qty</th>
            <th>Loss %</th>
            <th>{{monthNamesList?.month1?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month2?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month3?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month4?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month5?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month6?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month7?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month8?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month9?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month10?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month11?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month12?.monthNameAlias}}</th>
            <th >From Date</th>
            <th>To Date</th>
            <th >Total</th>
          </tr>
          </thead>
          <tbody class="text-right">
          <tr *ngFor="let logicalData of bulkLogicalList">
            <td  class="text-left ">
              <div class="dropdown">
                <span (click)="getFgDetails(logicalData)" class="text-info text-link dropdown-toggle" type="button"
                      id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{logicalData?.parentCode}}
                </span>
                <div class="dropdown-menu dropdown-card-style" aria-labelledby="dropdownMenuButton">
                  <span>
                   <span class="fa fa-caret-up caret-up arrow-up-style"></span>
                  </span>
                  <h4 class="dropdown-text">MPS Plan</h4>
                  <table class="table  fg-details-table" style="margin-top: -8px">
                    <thead class="text-center" style="background: white!important; color:black">
                    <tr>
                      <th class="border-color">Code</th>
                      <th class="border-color" style="width: 15%">Description</th>
                      <th class="border-color">{{monthNamesList?.month1?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month2?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month3?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month4?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month5?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month6?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month7?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month8?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month9?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month10?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month11?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month12?.monthNameAlias}}</th>
                      <th class="border-color">Total</th>
                      <th class="border-color">Lines</th>
                      <th class="border-color">Skids</th>
                      <th class="border-color">FLA</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr>
                      <td class="font-weight-bold border-color">{{mpsByFgDataList?.code}}</td>
                      <td class="font-weight-bold border-color" style="width: 15%">
                        <div class="word-wrap-table-cell-dropdown" title="{{mpsByFgDataList?.description}}">
                        {{mpsByFgDataList?.description}}
                        </div>
                      </td>
                      <td class="border-color">{{mpsByFgDataList?.monthValues?.month1?.value}}</td>
                      <td class="border-color">{{mpsByFgDataList?.monthValues?.month2?.value}}</td>
                      <td class="border-color">{{mpsByFgDataList?.monthValues?.month3?.value}}</td>
                      <td class="border-color">{{mpsByFgDataList?.monthValues?.month4?.value}}</td>
                      <td class="border-color">{{mpsByFgDataList?.monthValues?.month5?.value}}</td>
                      <td class="border-color">{{mpsByFgDataList?.monthValues?.month6?.value}}</td>
                      <td class="border-color">{{mpsByFgDataList?.monthValues?.month7?.value}}</td>
                      <td class="border-color">{{mpsByFgDataList?.monthValues?.month8?.value}}</td>
                      <td class="border-color">{{mpsByFgDataList?.monthValues?.month9?.value}}</td>
                      <td class="border-color">{{mpsByFgDataList?.monthValues?.month10?.value}}</td>
                      <td class="border-color">{{mpsByFgDataList?.monthValues?.month11?.value}}</td>
                      <td class="border-color">{{mpsByFgDataList?.monthValues?.month12?.value}}</td>
                      <td class="border-color">{{mpsByFgDataList?.total}}</td>
                      <td class="border-color">{{mpsByFgDataList?.lineName}}</td>
                      <td class="border-color">{{mpsByFgDataList?.skidName}}</td>
                      <td class="border-color">{{mpsByFgDataList?.fla}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
            <td  class="text-left">

              {{logicalData?.parentDescription}}

            </td>
            <td   class="text-left">{{logicalData?.childCode}}</td>
            <td   class="text-left">

              {{logicalData?.childDescription}}

            </td>
            <td >{{logicalData?.linkQuantity }}</td>
            <td  >{{logicalData?.wastePercent}}</td>
            <td>{{logicalData?.logicalConsumptionMonthValues?.month1?.value | number:'1.4-4':'en-IN'}}</td>
            <td>{{logicalData?.logicalConsumptionMonthValues?.month2?.value | number:'1.4-4':'en-IN'}}</td>
            <td>{{logicalData?.logicalConsumptionMonthValues?.month3?.value | number:'1.4-4':'en-IN'}}</td>
            <td>{{logicalData?.logicalConsumptionMonthValues?.month4?.value | number:'1.4-4':'en-IN'}}</td>
            <td>{{logicalData?.logicalConsumptionMonthValues?.month5?.value | number:'1.4-4':'en-IN'}}</td>
            <td>{{logicalData?.logicalConsumptionMonthValues?.month6?.value | number:'1.4-4':'en-IN'}}</td>
            <td>{{logicalData?.logicalConsumptionMonthValues?.month7?.value | number:'1.4-4':'en-IN'}}</td>
            <td>{{logicalData?.logicalConsumptionMonthValues?.month8?.value | number:'1.4-4':'en-IN'}}</td>
            <td>{{logicalData?.logicalConsumptionMonthValues?.month9?.value | number:'1.4-4':'en-IN'}}</td>
            <td>{{logicalData?.logicalConsumptionMonthValues?.month10?.value | number:'1.4-4':'en-IN'}}</td>
            <td>{{logicalData?.logicalConsumptionMonthValues?.month11?.value | number:'1.4-4':'en-IN'}}</td>
            <td>{{logicalData?.logicalConsumptionMonthValues?.month12?.value | number:'1.4-4':'en-IN'}}</td>
            <td  class="text-left">{{logicalData?.applicableFrom}}</td>
            <td class="text-left">{{logicalData?.applicableTo}}</td>
            <td >{{logicalData?.totalValue| number:'1.4-4':'en-IN'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="logicalRelationModal" tabindex="-1" role="dialog" aria-labelledby="logicalRelationModalLabel"
     style="padding-left:unset!important;" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda">
      <div class="modal-header">
        <h5 class="modal-title" id="logicalRelationModalLabel">Relation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="logical-consumption-relation-expand-card" style="max-height: 500px; overflow: auto">
              <ngx-org-chart [nodes]="nodes"
                             direction="horizontal" (itemClick)="test($event)"></ngx-org-chart>

              <!--  <button class="btn btn-dark btm-sm collapse-btn"  data-dismiss="modal">
                  <i class="fas fa-compress" style="font-size: 16px; color: white"></i>
                </button>-->
            </div>
          </div>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>


















