
.logical-consumption-scroll{
  border: 1px solid lightgrey;
  height: 80.36529680365297vh;
  overflow: auto;

}

table#logicalTabletbody {
  /* display: block;
   !* max-height: 200px;*!
   overflow-y: auto;
   overflow-x: hidden;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#logicalTable thead, table#logicalTable tbody tr {
  table-layout: fixed;
  /* display: table;
   width: 100%;
   table-layout: fixed; !* even columns width , fix width of table too*!*/
}
/*.logical-consumption-table thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 100;
  background-color: darkcyan;
  color: white;
}*/

.logical-consumption-table th, td{
  padding: 0.60882800608828vh;
  white-space: nowrap;
}
.logical-consumption-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.logical-consumption-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}

.logical-consumption-table {
  transform-style: preserve-3d;
  width: auto !important;
}
table thead {
  background-color: darkcyan;
  color: white;
}

.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}

.word-wrap-table-cell{
  cursor: pointer;
  white-space: nowrap;
  width: 118px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.word-wrap-table-cell-2{
  cursor: pointer;
  white-space: nowrap;
  width: 149px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.logical-table-search-css{
  font-size: 14px;
  height: 30px;
  border: none;
  border-bottom: 1px solid grey;
  width: 19%;
  margin-left: 81%;
  margin-bottom: 3px;
}

.highlight {
  background-color: #E0E0E0!important;
  /*color: black;*/
  /* font-weight: bold;*/
}

/*
table#fgTable tbody {
  display: block;
  !* max-height: 200px;*!
  overflow-y: auto;
  overflow-x: hidden;
}

table#fgTable thead, table#fgTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; !* even columns width , fix width of table too*!
}
*/



/*.logical-consumption-fg-table th, td{
  padding: 4px;
}

.logical-consumption-fg-table th {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid lightgrey;
}
.logical-consumption-fg-table td {
  font-size: 12px;
}
.logical-consumption-fg-table{
  transform-style: preserve-3d;
  width: 100%;
}

.logical-consumption-fg-table-scroll{
  border:1px solid lightgrey;
  height: 455px;
  overflow-x: hidden;
}*/

/*.search-css {
  font-size: 14px;
  height: 20px;
  border: 1px solid lightgrey;
  width: 14%;
  margin-left: 86%;
  margin-bottom: 1px;
  margin-top: -10px;
  background-color: #fcffa4;
}*/

/*.logical-consumption-rlt-table-card{
  border:1px solid lightgrey;
  padding: 1%;
  height: 309px;
  margin-top: 1%;

}

.logical-consumption-lft-card{
  border:1px solid lightgrey;
  padding: 5%;
  height: 495px
}
.logical-consumption-rlt-relation-card{
  border:1px solid lightgrey;
  padding: 1%;
  height: 227px;
  margin-top: 1%;
}*/

/*table thead {
  background-color: darkcyan;
  color: white;
}*/

/*.logical-consumption-rlt-relation-card{
  padding: 2%;
  height: 226px;
  overflow: auto;
  border:1px solid lightgrey;
}
.expand-btn{
  position: absolute;
  top: 80%;
  left: 93%;
}
.collapse-btn{
  position: fixed;
  top: 80%;
  left: 94%;
}*/

/*.fg-details-card{
  padding: 1%;
  border:1px solid lightgrey;
  height: 120px;
}*/

.icon-search{
  margin-left: -12%;
  font-size: 13px;
}
.fg-search{
  border: 1px solid #39c449;
  box-shadow: 0 0 5px rgba(109,207,246,.5);
  height: 25px;
  line-height: 4;
  width: 98%;
  margin-left: 1%;
  margin-bottom: 5%;
  margin-top: -4%;
  padding-left: 9px;
  font-size: 14px;
  padding-top: 11px;
}
.header-sticky{
  position: sticky;
  z-index: 100;
  top: 0%;
}

.fg-details-table{

}
.fg-details-table th, td{
  padding: 4px;
}

.fg-details-table th {
  background: white!important;
  color: #000!important;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid lightgrey;
}
.fg-details-table td {
  font-size: 12px;
}
.heading-font{
  font-size: 16px;
  font-weight: bold;
}
/*
.fg-details-code{
  text-decoration: underline;
  cursor: pointer;
}
.fg-details-code:hover{}

.field-set-material-details{
  width: 100%; height: 397px;
  margin-top: 1%;
  border: 1px solid lightgrey!important;
}
.field-set-fg-details{
  width: 100%; height: 98px; margin-top: -1%;
  border: 1px solid lightgrey!important;
}
*/



.logical-card{
 /* border: 2px solid lightslategrey;
  padding: 1%;*/
  margin-bottom: 0px;
  background: white;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  MARGIN-TOP: 6px;
}
.mps-plan-selection{
  margin-left: -2%;
}
.succes-msg{
  color: white;
  position: absolute;
  top: 2%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}
.text-link {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}
/*dropdown popup code starts*/
.dropdown-toggle::after {
  display:none;
}
.arrow-up-style{
  color: black!important;
  /* background: gray; */
  top: -25%!important;
  left: -1px!important;
  font-size: 28px!important;
}
.dropdown-text{
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  margin-top: -5px;
  color: white;
}
.dropdown-card-style{
  width: 1200px;
  margin-top: 7%;
  margin-left: 50%;
  height: 79px;
  border: 1px solid black;
  background: black;
}
.border-color{
  border:1px solid!important;
  border-bottom: none!important;
  background: white;
  color:black!important;
}
.word-wrap-table-cell-dropdown{
  cursor: pointer;
  white-space: nowrap;
  width: 168px;
  overflow: hidden;
  text-overflow: ellipsis;
}

