
.lg-btn-style {
  color: white;
  width: 300px;
  height: 125px;
  font-size: 36px;
  background: linear-gradient(to right,
  grey 0%,
  #00bdda 100%);
  border: 1px solid grey;
}

.outer-card {
  border: 1px solid lightgrey;
  padding: 8%;
  background: white;
  height: 580px;
  margin-top: 10px;
  margin-left: 0%;
  margin-right: 0%;
}

.inside-card {
  border: 3px solid lightgrey;
  padding: 3%;
  padding-bottom: -5%;
  width: 112%;
  margin-left: -6%;
  margin-top: -69px;
}

.plan-modules-card {
  border: 1px solid lightgrey;
  padding: 13%;
  margin-top: 2%;
}

.mps-plan-header {
  width: 40%;
  margin-left: 4%;
  border: 1px solid lightgrey
}

.select-mps-plan-text {
  margin-left: 1%;
  font-size: 22px;
  font-weight: 500
}



