
<div class="row" style="margin-top: -4%;">
  <div class="col-sm-12">
    <div class="outer-card">
      <div class="inside-card">
        <div class="row" style="margin-top: -1%">
        </div>
        <div class="plan-modules-card">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 text-center">
              <button class="btn btn-lg lg-btn-style" style="width: 400px"
                      (click)="export()">Export
              </button>
            </div>
            <div class="col-sm-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


