<div class="row" style="margin-top: -2%; background: white">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-5">
              <div class="form-inline">
                <!-- <h4 class="mps-plan-selection page-title text-muted"><b>MPS 07_11</b></h4>-->
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size:  2.43531202435312vh">
                    <!-- <li class="breadcrumb-item">
                       <a routerLink="/newPm/newMps">Home</a>
                     </li>-->
                    <li class="breadcrumb-item active">Purchase</li>
                    <li class="breadcrumb-item  text-dark font-weight-bold">Purchase Plan</li>
                  </ol>
                </nav>
              </div>

            </div>
            <div class="col-md-7 d-flex justify-content-end">
              <div class="form-inline">
                <ng-container *ngIf="isEdit">
                  <button class="btn btn-rounded save-btn" (click)="saveChanges()"
                          [disabled]="latestPurchasePlanListToSave.length==0">
                    Save
                  </button>
                  <button class="btn btn-rounded close-btn" (click)="closeBtn()">
                    Cancel
                  </button>
                </ng-container>
                <ng-container *ngIf="!isEdit">
                <button class="btn btn-outline-dark btn-rounded edit-btn" (click)="editBtn()">
                  <i class="fas fa-edit"></i>
                  Edit
                </button>
                </ng-container>
                <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download  'PM Purchase Plan'"
                        style="cursor: pointer; margin-left: 54%; margin-top: -5px; border:none; background: transparent">
                 <!-- <i class="mdi mdi-file-excel excel-icon"></i>-->
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="supply-card">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <div #table  class="supply-table-scroll">
        <table class="table table-bordered supply-table" id="supplyTable">
          <thead class="text-left header-sticky">
          <tr>
            <th class="bg-color-light text-left" colspan="5" >
              <span style="margin-left: 77%;  font-weight: bold!important;"> Schedule Division :</span>
            </th>
            <th colspan="2" class="bg-color-light text-center">Confirmed Schedule</th>
            <th colspan="10" class="bg-color-light text-center">Tentative Schedule</th>
            <th colspan="5" class="bg-color-light text-center"></th>
          </tr>
          <tr>
            <th class="stick-style">PM Code</th>
            <th class="stick-style">PM Description</th>
            <th class="stick-style">Supplier</th>
            <th class="stick-style">Supplier Code</th>
            <th class="stick-style" title="Receipt Till Date">RTD</th>
            <th class="stick-style">{{monthNamesList?.month1?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month2?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month3?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month4?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month5?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month6?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month7?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month8?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month9?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month10?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month11?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month12?.monthNameAlias}}</th>
            <th class="stick-style">Total</th>
            <th class="stick-style">Priority</th>
            <th class="stick-style" title="Remark">Remark</th>
            <th class="stick-style" title="Safety Stock">SS</th>
            <th class="stick-style">MOQ</th>
          </tr>
          </thead>
          <tbody class="text-right">
          <ng-container *ngIf="!isEdit">
            <tr *ngFor="let supplyData of supplyDataList | filter: supplyTableSearchTerm">
              <td  class="text-left" style="font-weight: 500">{{supplyData?.materialCode}}</td>
              <td  title="{{supplyData?.materialDescription}}" class="text-left">
               {{supplyData?.materialDescription}}
              </td>
              <td  title="{{supplyData?.supplierName}}" class="text-left">
                {{supplyData?.supplierName}}
              </td>
              <td  title="{{supplyData?.supplierCode}}" class="text-left">
               {{supplyData?.supplierCode}}
              </td>
              <td>{{supplyData?.rtdValue | number:'1.1':'en-IN'}}</td>
              <td  title="{{supplyData?.originalMonthValues?.month1?.value | number:'1.0':'en-IN'}}">
                {{supplyData?.supplyMonthValues?.month1?.value | number:'1.0':'en-IN'}}
              </td>
              <td  title="{{supplyData?.originalMonthValues?.month2?.value | number:'1.0':'en-IN'}}">
                {{supplyData?.supplyMonthValues?.month2?.value | number:'1.0':'en-IN'}}
              </td>
              <td title="{{supplyData?.originalMonthValues?.month3?.value | number:'1.0':'en-IN'}}">
                {{supplyData?.supplyMonthValues?.month3?.value | number:'1.0':'en-IN'}}
              </td>
              <td title="{{supplyData?.originalMonthValues?.month4?.value}}">
                {{supplyData?.supplyMonthValues?.month4?.value | number:'1.0':'en-IN'}}
              </td>
              <td title="{{supplyData?.originalMonthValues?.month5?.value | number:'1.0':'en-IN'}}">
                {{supplyData?.supplyMonthValues?.month5?.value | number:'1.0':'en-IN'}}
              </td>
              <td title="{{supplyData?.originalMonthValues?.month6?.value | number:'1.0':'en-IN'}}">
                {{supplyData?.supplyMonthValues?.month6?.value | number:'1.0':'en-IN'}}
              </td>
              <td title="{{supplyData?.originalMonthValues?.month7?.value | number:'1.0':'en-IN'}}">
                {{supplyData?.supplyMonthValues?.month7?.value | number:'1.0':'en-IN'}}
              </td>
              <td title="{{supplyData?.originalMonthValues?.month8?.value | number:'1.0':'en-IN'}}">
                {{supplyData?.supplyMonthValues?.month8?.value | number:'1.0':'en-IN'}}
              </td>
              <td title="{{supplyData?.originalMonthValues?.month9?.value | number:'1.0':'en-IN'}}">
                {{supplyData?.supplyMonthValues?.month9?.value | number:'1.0':'en-IN'}}
              </td>
              <td title="{{supplyData?.originalMonthValues?.month10?.value | number:'1.0':'en-IN'}}">
                {{supplyData?.supplyMonthValues?.month10?.value | number:'1.0':'en-IN'}}
              </td>
              <td title="{{supplyData?.originalMonthValues?.month11?.value | number:'1.0':'en-IN'}}">
                {{supplyData?.supplyMonthValues?.month11?.value | number:'1.0':'en-IN'}}
              </td>
              <td title="{{supplyData?.originalMonthValues?.month12?.value | number:'1.0':'en-IN'}}">
                {{supplyData?.supplyMonthValues?.month12?.value | number:'1.0':'en-IN'}}
              </td>
              <td>
                 <span class="text-info purchase-plan-calculation-link"
                       title="Click to see Purchase Plan Calculation" (click)="purchasePlanCalculation(supplyData)"
                       data-toggle="modal" data-target="#purchasePlanCalculationModal">
              {{supplyData?.totalValue | number:'1.0':'en-IN'}}
              </span></td>
              <td class="text-left">{{supplyData?.priority==1?'priority':''}}</td>
              <td class="text-left">
                  {{supplyData?.remarkName}}
              </td>
              <td>{{supplyData?.stockValue | number:'1.0':'en-IN'}}</td>
              <td>{{supplyData?.moqValue | number:'1.0':'en-IN'}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="isEdit">
            <ng-container
              *ngFor="let supplyDataForm of supplyDataForm?.get('supplyDataFormArray').controls | filter: supplyTableSearchTerm ;let i=index">
              <tr [formGroup]="supplyDataForm">
                <td class="text-left" style="font-weight: 500">{{supplyDataForm?.controls?.code?.value}}</td>
                <td class="text-left" title="{{supplyDataForm?.controls?.description?.value}}">

                    {{supplyDataForm?.controls?.description?.value}}

                </td>
                <td  class="text-left"title="{{supplyDataForm?.controls?.supplier?.value}}">
                 {{supplyDataForm?.controls?.supplier?.value}}
                </td>
                <td  class="text-left" title="{{supplyDataForm?.controls?.supplierCode?.value}}">
                {{supplyDataForm?.controls?.supplierCode?.value}}
                </td>
                <td [ngClass]="isEdit ? 'border-right' : ''">{{supplyDataForm.controls.rtdValue.value}}</td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m1"
                                                                                     min="0"
                                                                                     class="form-control form-control-sm inp-align"
                                                                                     (keyup)="calculateTotalValue(supplyDataForm?.controls,'month1',$event.target.value,i)">
                </td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m2"
                                                                            class="form-control form-control-sm inp-align"
                                                                            (keyup)="calculateTotalValue(supplyDataForm?.controls,'month2',$event.target.value,i)">
                </td>
                <td [ngClass]="highlightEditValue"><input type="number" [ngClass]="highlightEditValue" formControlName="m3"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month3',$event.target.value,i)">
                </td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m4"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month4',$event.target.value,i)">
                </td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m5"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month5',$event.target.value,i)">
                </td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m6"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month6',$event.target.value,i)">
                </td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m7"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month7',$event.target.value,i)">
                </td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m8"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month8',$event.target.value,i)">
                </td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m9"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month9',$event.target.value,i)">
                </td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m10"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month10',$event.target.value,i)">
                </td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m11"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month11',$event.target.value,i)">
                </td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m12"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month12',$event.target.value,i)">
                </td>
                <td [ngClass]="isEdit ? 'border-right' : ''">
                   <span class="text-info purchase-plan-calculation-link"
                         title="Click to see Purchase Plan Calculation"
                         data-toggle="modal" data-target="#purchasePlanCalculationModal">
              {{supplyDataForm.controls.totalValue.value}}
              </span>
                </td>
                <!--<td [ngClass]="highlightEditValue">
                  <input type="number" formControlName="priority"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'priority',$event.target.value,i)">
                </td>-->
                <td [ngClass]="highlightEditValue">
                  <select [ngClass]="highlightEditValue" class="form-select form-select-sm inp-align" #selectedPriority
                          formControlName="priorityId" style="font-size: 13px"
                          (change)="calculateTotalValue(supplyDataForm?.controls,'priority',selectedPriority.value,i)">
                    <option disabled>Choose Priority</option>
                    <option *ngFor="let priority of priorityList" [ngValue]="priority.id" style="font-size: 13px">
                      {{priority?.itemName}}
                    </option>
                  </select>
                </td>
                <td [ngClass]="highlightEditValue">
                  <select  [ngClass]="highlightEditValue" class="form-select form-select-sm inp-align" #selectedRemark
                          formControlName="remarkId" style="width: 130px; font-size: 13px"
                          (change)="calculateTotalValue(supplyDataForm?.controls,'remark',selectedRemark.value,i)">
                    <option disabled>Choose Remark</option>
                    <option *ngFor="let remark of pmRemarkList" [ngValue]="remark.id" style="font-size: 13px">
                      {{remark?.name}}
                    </option>
                  </select>
                </td>
                <td>{{supplyDataForm.controls.stockValue.value}}</td>
                <td>{{supplyDataForm.controls.moqValue.value}}</td>
              </tr>
            </ng-container>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-12">

   </div>-->
</div>


<!--purchase plan calculation modal-->

<div class="modal fade" id="purchasePlanCalculationModal" tabindex="-1" role="dialog"
     aria-labelledby="purchasePlanCalculationModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; width: 120%; margin-left: -13%; margin-top: 7%;">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 22px" id="purchasePlanCalculationModalLabel">Purchase Plan
          Calculations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12">
                <div>
                  <table class="table table-bordered purchase-plan-cal-top-table">
                    <thead class="text-center" style="background: darkcyan; color: white">
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                      <th>Supplier</th>
                      <th>Safety Stock</th>
                      <th>Cover Days</th>
                      <th>MOQ</th>
                      <th>TS</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr>
                      <td>{{purchasePlanCalculationDataList?.materialCode}}</td>
                      <td>{{purchasePlanCalculationDataList?.materialDescription}}</td>
                      <td>{{purchasePlanCalculationDataList?.supplierName}}</td>
                      <td>{{purchasePlanCalculationDataList?.safetyStock}}</td>
                      <td>{{purchasePlanCalculationDataList?.coverDays}}</td>
                      <td>{{purchasePlanCalculationDataList?.moq}}</td>
                      <td>{{purchasePlanCalculationDataList?.techSeries}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-sm-12">
                <!--<div class="purchase-plan-cal-middle-table-scroll">-->
                <table class="table table-bordered purchase-plan-cal-middle-table" id="calculationTable">
                  <thead class="text-center header-sticky" style="background: darkcyan; color: white">
                  <tr>
                    <th style="width: 25%">Stock Calculation Steps</th>
                    <th>{{monthNamesList?.month1?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month2?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month3?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month4?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month5?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month6?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month7?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month8?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month9?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month10?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month11?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month12?.monthNameAlias}}</th>
                  </tr>
                  </thead>
                  <tbody class="text-center">
                  <tr>
                    <td style="width: 25%">Opening Stock</td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month1SupplyDTO?.monthEndStock}}">
                        {{purchasePlanCalculationDataList?.month1SupplyDTO?.monthEndStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month2SupplyDTO?.monthEndStock}}"
                      >
                        {{purchasePlanCalculationDataList?.month2SupplyDTO?.monthEndStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month3SupplyDTO?.monthEndStock}}">
                        {{purchasePlanCalculationDataList?.month3SupplyDTO?.monthEndStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month4SupplyDTO?.monthEndStock}}">
                        {{purchasePlanCalculationDataList?.month4SupplyDTO?.monthEndStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month5SupplyDTO?.monthEndStock}}">
                        {{purchasePlanCalculationDataList?.month5SupplyDTO?.monthEndStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month6SupplyDTO?.monthEndStock}}">
                        {{purchasePlanCalculationDataList?.month6SupplyDTO?.monthEndStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month7SupplyDTO?.monthEndStock}}">
                        {{purchasePlanCalculationDataList?.month7SupplyDTO?.monthEndStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month8SupplyDTO?.monthEndStock}}">
                        {{purchasePlanCalculationDataList?.month8SupplyDTO?.monthEndStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month9SupplyDTO?.monthEndStock}}">
                        {{purchasePlanCalculationDataList?.month9SupplyDTO?.monthEndStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month10SupplyDTO?.monthEndStock}}">
                        {{purchasePlanCalculationDataList?.month10SupplyDTO?.monthEndStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month11SupplyDTO?.monthEndStock}}">
                        {{purchasePlanCalculationDataList?.month11SupplyDTO?.monthEndStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month12SupplyDTO?.monthEndStock}}">
                        {{purchasePlanCalculationDataList?.month12SupplyDTO?.monthEndStock}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 25%">Consumption</td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month1SupplyDTO?.consumptionAtCurrentMonth}}">
                        {{purchasePlanCalculationDataList?.month1SupplyDTO?.consumptionAtCurrentMonth}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month2SupplyDTO?.consumptionAtCurrentMonth}}">
                        {{purchasePlanCalculationDataList?.month2SupplyDTO?.consumptionAtCurrentMonth}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month3SupplyDTO?.consumptionAtCurrentMonth}}">
                        {{purchasePlanCalculationDataList?.month3SupplyDTO?.consumptionAtCurrentMonth}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month4SupplyDTO?.consumptionAtCurrentMonth}}">
                        {{purchasePlanCalculationDataList?.month4SupplyDTO?.consumptionAtCurrentMonth}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month5SupplyDTO?.consumptionAtCurrentMonth}}">
                        {{purchasePlanCalculationDataList?.month5SupplyDTO?.consumptionAtCurrentMonth}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month6SupplyDTO?.consumptionAtCurrentMonth}}">
                        {{purchasePlanCalculationDataList?.month6SupplyDTO?.consumptionAtCurrentMonth}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month7SupplyDTO?.consumptionAtCurrentMonth}}">
                        {{purchasePlanCalculationDataList?.month7SupplyDTO?.consumptionAtCurrentMonth}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month8SupplyDTO?.consumptionAtCurrentMonth}}">
                        {{purchasePlanCalculationDataList?.month8SupplyDTO?.consumptionAtCurrentMonth}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month9SupplyDTO?.consumptionAtCurrentMonth}}">
                        {{purchasePlanCalculationDataList?.month9SupplyDTO?.consumptionAtCurrentMonth}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month10SupplyDTO?.consumptionAtCurrentMonth}}">
                        {{purchasePlanCalculationDataList?.month10SupplyDTO?.consumptionAtCurrentMonth}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month11SupplyDTO?.consumptionAtCurrentMonth}}">
                        {{purchasePlanCalculationDataList?.month11SupplyDTO?.consumptionAtCurrentMonth}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{{purchasePlanCalculationDataList?.month12SupplyDTO?.consumptionAtCurrentMonth}}">
                        {{purchasePlanCalculationDataList?.month12SupplyDTO?.consumptionAtCurrentMonth}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 25%">Stock After Consumption</td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title=" {{purchasePlanCalculationDataList?.month1SupplyDTO?.stockAfterConsumption}}">
                        {{purchasePlanCalculationDataList?.month1SupplyDTO?.stockAfterConsumption}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title=" {{purchasePlanCalculationDataList?.month2SupplyDTO?.stockAfterConsumption}}">
                        {{purchasePlanCalculationDataList?.month2SupplyDTO?.stockAfterConsumption}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title=" {{purchasePlanCalculationDataList?.month3SupplyDTO?.stockAfterConsumption}}">
                        {{purchasePlanCalculationDataList?.month3SupplyDTO?.stockAfterConsumption}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title=" {{purchasePlanCalculationDataList?.month4SupplyDTO?.stockAfterConsumption}}">
                        {{purchasePlanCalculationDataList?.month4SupplyDTO?.stockAfterConsumption}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title=" {{purchasePlanCalculationDataList?.month5SupplyDTO?.stockAfterConsumption}}">
                        {{purchasePlanCalculationDataList?.month5SupplyDTO?.stockAfterConsumption}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title=" {{purchasePlanCalculationDataList?.month6SupplyDTO?.stockAfterConsumption}}">
                        {{purchasePlanCalculationDataList?.month6SupplyDTO?.stockAfterConsumption}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title=" {{purchasePlanCalculationDataList?.month7SupplyDTO?.stockAfterConsumption}}">
                        {{purchasePlanCalculationDataList?.month7SupplyDTO?.stockAfterConsumption}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title=" {{purchasePlanCalculationDataList?.month8SupplyDTO?.stockAfterConsumption}}">
                        {{purchasePlanCalculationDataList?.month8SupplyDTO?.stockAfterConsumption}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title=" {{purchasePlanCalculationDataList?.month9SupplyDTO?.stockAfterConsumption}}">
                        {{purchasePlanCalculationDataList?.month9SupplyDTO?.stockAfterConsumption}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title=" {{purchasePlanCalculationDataList?.month10SupplyDTO?.stockAfterConsumption}}">
                        {{purchasePlanCalculationDataList?.month10SupplyDTO?.stockAfterConsumption}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title=" {{purchasePlanCalculationDataList?.month11SupplyDTO?.stockAfterConsumption}}">
                        {{purchasePlanCalculationDataList?.month11SupplyDTO?.stockAfterConsumption}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title=" {{purchasePlanCalculationDataList?.month12SupplyDTO?.stockAfterConsumption}}">
                        {{purchasePlanCalculationDataList?.month12SupplyDTO?.stockAfterConsumption}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 25%">Expected Receipt By Month End</td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{purchasePlanCalculationDataList?.month1SupplyDTO?.receiptTillDate}}">
                        {{purchasePlanCalculationDataList?.month1SupplyDTO?.receiptTillDate}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{purchasePlanCalculationDataList?.month2SupplyDTO?.receiptTillDate}}">
                        {{purchasePlanCalculationDataList?.month2SupplyDTO?.receiptTillDate}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{purchasePlanCalculationDataList?.month3SupplyDTO?.receiptTillDate}}">
                        {{purchasePlanCalculationDataList?.month3SupplyDTO?.receiptTillDate}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{purchasePlanCalculationDataList?.month4SupplyDTO?.receiptTillDate}}">
                        {{purchasePlanCalculationDataList?.month4SupplyDTO?.receiptTillDate}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{purchasePlanCalculationDataList?.month5SupplyDTO?.receiptTillDate}}">
                        {{purchasePlanCalculationDataList?.month5SupplyDTO?.receiptTillDate}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{purchasePlanCalculationDataList?.month6SupplyDTO?.receiptTillDate}}">
                        {{purchasePlanCalculationDataList?.month6SupplyDTO?.receiptTillDate}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{purchasePlanCalculationDataList?.month7SupplyDTO?.receiptTillDate}}">
                        {{purchasePlanCalculationDataList?.month7SupplyDTO?.receiptTillDate}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{purchasePlanCalculationDataList?.month8SupplyDTO?.receiptTillDate}}">
                        {{purchasePlanCalculationDataList?.month8SupplyDTO?.receiptTillDate}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{purchasePlanCalculationDataList?.month9SupplyDTO?.receiptTillDate}}">
                        {{purchasePlanCalculationDataList?.month9SupplyDTO?.receiptTillDate}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{purchasePlanCalculationDataList?.month10SupplyDTO?.receiptTillDate}}">
                        {{purchasePlanCalculationDataList?.month10SupplyDTO?.receiptTillDate}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{purchasePlanCalculationDataList?.month11SupplyDTO?.receiptTillDate}}">
                        {{purchasePlanCalculationDataList?.month11SupplyDTO?.receiptTillDate}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2"
                           title="{purchasePlanCalculationDataList?.month12SupplyDTO?.receiptTillDate}}">
                        {{purchasePlanCalculationDataList?.month12SupplyDTO?.receiptTillDate}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 25%">Closing Stock </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month1SupplyDTO?.closingStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month2SupplyDTO?.closingStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month3SupplyDTO?.closingStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month4SupplyDTO?.closingStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month5SupplyDTO?.closingStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month6SupplyDTO?.closingStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month7SupplyDTO?.closingStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month8SupplyDTO?.closingStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month9SupplyDTO?.closingStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month10SupplyDTO?.closingStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month11SupplyDTO?.closingStock}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month12SupplyDTO?.closingStock}}
                      </div>
                    </td>
                  </tr>
                  <ng-container *ngIf="coverDaysValue == 30">
                    <tr>
                      <td style="width: 25%">Purchase Plan Suggested</td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month1SupplyDTO?.suggestedSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month2SupplyDTO?.suggestedSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month3SupplyDTO?.suggestedSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month4SupplyDTO?.suggestedSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month5SupplyDTO?.suggestedSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month6SupplyDTO?.suggestedSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month7SupplyDTO?.suggestedSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month8SupplyDTO?.suggestedSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month9SupplyDTO?.suggestedSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month10SupplyDTO?.suggestedSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month11SupplyDTO?.suggestedSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month12SupplyDTO?.suggestedSupply}}
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 25%">On Hand Stock </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month1SupplyDTO?.onHandStock}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month2SupplyDTO?.onHandStock}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month3SupplyDTO?.onHandStock}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month4SupplyDTO?.onHandStock}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month5SupplyDTO?.onHandStock}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month6SupplyDTO?.onHandStock}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month7SupplyDTO?.onHandStock}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month8SupplyDTO?.onHandStock}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month9SupplyDTO?.onHandStock}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month10SupplyDTO?.onHandStock}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month11SupplyDTO?.onHandStock}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month12SupplyDTO?.onHandStock}}
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 25%">Priority</td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month1SupplyDTO?.prioritySupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month2SupplyDTO?.prioritySupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month3SupplyDTO?.prioritySupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month4SupplyDTO?.prioritySupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month5SupplyDTO?.prioritySupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month6SupplyDTO?.prioritySupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month7SupplyDTO?.prioritySupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month8SupplyDTO?.prioritySupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month9SupplyDTO?.prioritySupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month10SupplyDTO?.prioritySupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month11SupplyDTO?.prioritySupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month12SupplyDTO?.prioritySupply}}
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 25%">Actual Purchase Plan</td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month1SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month2SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month3SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month4SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month5SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month6SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month7SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month8SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month9SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month10SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month11SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month12SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                    </tr>
                  </ng-container>

                  <ng-container *ngIf="coverDaysValue == 30">
                    <tr>
                      <th style="width: 25%;  white-space:unset!important; background-color: darkcyan;color: white;">Suggested Order</th>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month1SupplyDTO?.finalSupplySuggestedCurrentMonth}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month2SupplyDTO?.finalSupplySuggestedCurrentMonth}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month3SupplyDTO?.finalSupplySuggestedCurrentMonth}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month4SupplyDTO?.finalSupplySuggestedCurrentMonth}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month5SupplyDTO?.finalSupplySuggestedCurrentMonth}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month6SupplyDTO?.finalSupplySuggestedCurrentMonth}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month7SupplyDTO?.finalSupplySuggestedCurrentMonth}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month8SupplyDTO?.finalSupplySuggestedCurrentMonth}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month9SupplyDTO?.finalSupplySuggestedCurrentMonth}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month10SupplyDTO?.finalSupplySuggestedCurrentMonth}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month11SupplyDTO?.finalSupplySuggestedCurrentMonth}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month12SupplyDTO?.finalSupplySuggestedCurrentMonth}}
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="coverDaysValue > 30">
                    <tr>
                      <th style="width: 25%; white-space:unset!important; background-color: darkcyan;color: white;">Suggested Order</th>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month1SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month2SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month3SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month4SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month5SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month6SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month7SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month8SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month9SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month10SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month11SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                      <td>
                        <div class="word-wrap-table-cell-2">
                          {{purchasePlanCalculationDataList?.month12SupplyDTO?.finalSupply}}
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                  <tr>
                    <td style="width: 25%">Cover Days</td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month1SupplyDTO?.coverDays}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month2SupplyDTO?.coverDays}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month3SupplyDTO?.coverDays}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month4SupplyDTO?.coverDays}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month5SupplyDTO?.coverDays}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month6SupplyDTO?.coverDays}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month7SupplyDTO?.coverDays}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month8SupplyDTO?.coverDays}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month9SupplyDTO?.coverDays}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month10SupplyDTO?.coverDays}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month11SupplyDTO?.coverDays}}
                      </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-2">
                        {{purchasePlanCalculationDataList?.month12SupplyDTO?.coverDays}}
                      </div>
                    </td>
                  </tr>

                  </tbody>
                </table>
                <!-- </div>-->
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>




