
.supply-table-scroll {
  border: 1px solid lightgrey;
  height:  80.36529680365297vh;
  overflow: auto;
}

table th, td {
  padding: 0.60882800608828vh;
  white-space: nowrap;
}

table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;

}

.supply-table {
  transform-style: preserve-3d;
  width: auto!important;
}
table thead {
  background-color: darkcyan;
  color: white;
}

.header-sticky {
  position: sticky;
  z-index: 100;
  top: -1px;
}
table#supplyTable tbody {
  /*display: block;*/
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#supplyTable thead, table#supplyTable tbody tr {
  /*display: table;*/
  /*width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.bg-color-light{
  background: white!important;
  color: #000!important;
  font-weight: bold!important;
  white-space: nowrap!important;

}


/*.supply-table thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: darkcyan;
  color: white;
}
.stick-style{
  position: sticky;
  top: 30px!important;
}
.supply-table-scroll {
  border-top-color: darkgrey!important;
  border: 1px solid lightgrey;
  height: 80.36529680365297vh;
  overflow: auto;
  width: auto;
}
.supply-table th, td {
  padding: 4px;
  color: #000;
}
.supply-table th {
  border-top:unset!important;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid darkgrey;
  white-space: nowrap;
}
.supply-table td {
  font-size: 12px;
  white-space: nowrap;
  border: 1px solid darkgrey;
}*/
/*.supply-table {
  transform-style: preserve-3d;
  width: auto!important;
}*/

/*.header-sticky {
  position: sticky;
  z-index: 100;
  top: 0%;
}*/

.icon-search {
  margin-left: -2%;
  font-size: 13px;
}

.gross-search {
  border: 1px solid #39c449;
  box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  height: 25px;
  line-height: 4;
  width: 23%;
  margin-left: 0%;
  margin-bottom: 4px;
}

.supply-card {
 /* border: 2px solid lightslategrey;
  padding: 1%;*/
  margin-bottom: 0px;
  background: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inp-align{
  padding: 0px;
  text-align: right;
  height: 24px;
  width: 80px;
}

#ngx .ng-valid, .ng-touched.ng-valid {
  border-color: darkgreen!important;
}

.editSelection {
  border:1px solid  darkgreen;
}
.border-right{
  border-right: 1px solid darkgreen!important;
}

.succes-msg{
  color: white;
  position: absolute;
  top: 2%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}
.save-btn {
  /* font-size: 20px;
   line-height: 1;
   padding-top: 0px;*/
  position: absolute;
  left: 79%;
  top: 6%;
  padding: 0px 10px 0px 10px;
  border: 2px solid darkgreen;
  background: darkgreen;
  color: white;
  font-size: 2.2831050228310503vh;
}

.edit-btn{
  position: absolute;
  left: 87%;
  padding: 0px 10px 0px 10px;
  top: 11%;
  font-size: 2.2831050228310503vh;
}
.close-btn{
  position: absolute;
  left: 87%;
  top: 6%;
  padding: 0px 10px 0px 10px;
  border: 2px solid brown;
  background: brown;
  color: white;
  font-size: 2.2831050228310503vh;

}

.purchase-plan-calculation-link{
  text-decoration: underline;
  cursor: pointer;
}


.purchase-plan-calculation-card{
  max-height: 500px; overflow: auto
}

/*table th,td {
  padding: 4px;
}
table th{
  font-size: 14px;
  font-weight: bold;
  border: 1px solid darkgrey;
}

table td{
  font-size: 12px;
}*/

/*table thead {
  background-color: darkcyan;
  color: white;
}*/
/*.purchase-plan-cal-middle-table-scroll{
  border:1px solid lightgrey;
  !* height: 300px;
   overflow-x: hidden;*!
}*/


table#calculationTable tbody {
  display: block;
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#calculationTable thead, table#calculationTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}
.word-wrap-table-cell{
  cursor: pointer;
  white-space: nowrap;
  width: 76px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.word-wrap-table-cell-2{
  cursor: pointer;
  white-space: nowrap;
  width: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.word-wrap-table-cell-3{
  cursor: pointer;
  white-space: nowrap;
  width: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  MARGIN-TOP: 6%;
}
.mps-plan-selection{
margin-left: -2%;
}
.purchase-plan-cal-middle-table td{
  border-top:none!important;
}
/*td:first-child {
  position:sticky;
  left:0;
  z-index:0;
  background-color:white;
}
th:first-child {
  position:sticky;
  left:0;
  z-index:2;
  background-color:darkcyan;

}
td:nth-child(2) {
  position:sticky;
  left:9%;
  z-index:0;
  background-color:white;
  border: 1px solid!important;
}
th:nth-child(2) {
  position:sticky;
  left:9%;
  z-index:2;
  background-color:darkcyan;
  border: 1px solid lightgrey;

}*/
