<body>
<div id="main-wrapper">
  <div [style.display]="isAuthenticated ? 'block' : 'none'">
    <router-outlet></router-outlet>
  </div>
  <app-sign-in [style.display]="!isAuthenticated ? 'block' : 'none'"></app-sign-in>
</div>
</body>
<ngx-spinner bdColor = "rgba(51, 51, 51, 0.6)" size = "large" color = "#00bdda" type = "ball-scale-ripple-multiple"></ngx-spinner>
<button id="sessionwarningmodelbutton" [hidden]="true" data-toggle="modal" data-target="#sessionwarningmodel">open
  model
</button>
<button id="toolongactivesessionmodelbutton" [hidden]="true" data-toggle="modal"
        data-target="#toolongactivesessionmodel">open
  model
</button>
<div id="sessionwarningmodel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Warning !!</h4>
      </div>
      <div class="modal-body">
        {{ idleState }}
      </div>
      <div class="modal-footer">
        <button id="closemodelbutton" type="button" class="btn btn-info waves-effect text-left"
                (click)="closeModel()"
                data-dismiss="modal">Ok
        </button>
        <button id="closemodelbuttonnowatch" [hidden]="true" type="button"
                class="btn btn-info waves-effect text-left" (click)="closeModelNoWatch()"
                data-dismiss="modal">closeModel
        </button>
      </div>
    </div>
  </div>
</div>
<div id="toolongactivesessionmodel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Too long active !!</h4>
      </div>
      <div class="modal-body">
        {{ longActive }}
      </div>
      <div class="modal-footer">
        <button id="reloginbutton" type="button" class="btn btn-info waves-effect text-left"
                (click)="reLogin()"
                data-dismiss="modal">Continue
        </button>
        <button id="logoutbutton" type="button"
                class="btn btn-info waves-effect text-left" (click)="logout()"
                data-dismiss="modal">Logout
        </button>
      </div>
    </div>
  </div>
</div>
<button id="licenceModalBtn" data-toggle="modal" data-target="#licenceModal" [hidden]="true"></button>
<div id="licenceModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Licence Expired..!</h4>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="!licenceUploaded">
          Your licence is expired please upload new licence file and click 'Re-activate'.(for admin)
          <br>
          <input #liceneInput placeholder="Select valid licence file"
                 (change)="selectTempFile($event)" type="file" accept="text/licence" #inputFile>
        </ng-container>
        <ng-container *ngIf="licenceUploaded">
          Licence uploaded. Please re-login.
        </ng-container>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="!licenceUploaded"><!--[disabled]="reactivateBtn"-->
          <button id="buyLicence" type="button" class="btn btn-info waves-effect text-left" [disabled]="reactivateBtn"
                  (click)="buyNewLicence()">Re-activate
          </button>
          <button type="button"
                  class="btn btn-info waves-effect text-left"
                  (click)="logout('')"
                  data-dismiss="modal">Cancel
          </button>
        </ng-container>
        <ng-container *ngIf="licenceUploaded">
          <button type="button"
                  (click)="clickedOk()"
                  data-dismiss="modal"
                  class="btn btn-info waves-effect text-left">Ok
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<button id="licenceDemoModalBtn" data-toggle="modal" data-target="#licenceDemoModal" [hidden]="true"></button>
<div id="licenceDemoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Licence not found..!</h4>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="!licenceUploaded">
          Plese upload any Licence file
          <br>
          <input #liceneInput placeholder="Select valid licence file"
                 (change)="selectTempFile($event)" type="file" accept="text/licence" #inputFileForUpload>
        </ng-container>
        <ng-container *ngIf="licenceUploaded">
          Licence uploaded. Please re-login.
        </ng-container>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="!licenceUploaded">
          <button id="buyDemoLicence" type="button" class="btn btn-info waves-effect text-left" [disabled]="uploadBtn"
                  (click)="buyNewLicence()">Upload
          </button>
          <button type="button"
                  (click)="logout('')"
                  class="btn btn-info waves-effect text-left"
                  data-dismiss="modal">Cancel
          </button>
        </ng-container>
        <ng-container *ngIf="licenceUploaded">
          <button type="button"
                  (click)="clickedOk()"
                  data-dismiss="modal"
                  class="btn btn-info waves-effect text-left">Ok
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<button id="licenceExpireSoonBtn" data-toggle="modal" data-target="#licenceExpireSoon" [hidden]="true"></button>
<div id="licenceExpireSoon" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Warning!!!</h4>
      </div>
      <div class="modal-body">
        Your licence will expire in {{ loginService.licenceDays }} day(s). Please re-new the licence.
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-info waves-effect text-left"-->
        <!--(click)="buyNewLicence()"-->
        <!--data-dismiss="modal">Renew-licence-->
        <!--</button>-->
        <button type="button"
                class="btn btn-info waves-effect text-left"
                (click)="enterIntoApp()"
                data-dismiss="modal">Ok
        </button>
      </div>
    </div>
  </div>
</div>
<button id="cancelBtn"
        [hidden]="true"
        type="button"
        class="btn btn-info waves-effect text-left"
        data-dismiss="modal">open
</button>
