table#mesTable tbody {
 /* display: block;
  !* max-height: 200px;*!*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#mesTable thead, table#mesTable tbody tr {
 /* display: table;
  width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}

.mes-table th,td{
  padding: 0.60882800608828vh;
  white-space: nowrap;
}

.mes-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}
.mes-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}
.mes-table{
  transform-style: preserve-3d;
  width: 100%;
}


.mes-scroll-table {
  border: 1px solid lightgrey;
  height: 79.90867579908675vh;
  overflow: auto;
}

table thead {
  background-color: darkcyan;
  color: white;
}


.mes-card{
 /* border: 2px solid lightslategrey;
  padding: 1%;*/
  margin-bottom: 0px;
  background: white;
}

.succes-msg{
  position: absolute;
  top: 2%;
  left: 43%;
  padding: 1px 10px 1px 10px;
  width: 28%;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  MARGIN-TOP: 6px;
}
