

table#logicalTable tbody {
  /*display: block;
  !* max-height: 200px;*!
*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#logicalTable thead, table#logicalTable tbody tr {
  table-layout: fixed;
 /* display: table;
  width: 100%;
  */
}
.logical-consumption-scroll{
  border: 1px solid lightgrey;
  height: 80.36529680365297vh;
  overflow: auto;
}
/*.logical-consumption-table thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 100;
  background-color: darkcyan;
  color: white;
}*/

.logical-consumption-table th, td{
  padding: 0.60882800608828vh;
  white-space: nowrap;
}
.logical-consumption-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.logical-consumption-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}

.logical-consumption-table {
  transform-style: preserve-3d;
  width: auto !important;
}
table thead {
  background-color: darkcyan;
  color: white;
}

.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}



.word-wrap-table-cell{
  cursor: pointer;
  white-space: nowrap;
  width: 118px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.word-wrap-table-cell-2{
  cursor: pointer;
  white-space: nowrap;
  width: 149px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logical-table-search-css{
  font-size: 14px;
  height: 30px;
  border: none;
  border-bottom: 1px solid grey;
  width: 19%;
  margin-left: 81%;
  margin-bottom: 3px;
}

.highlight {
  background-color: #E0E0E0!important;
  /*color: black;*/
  /* font-weight: bold;*/
}




.logical-consumption-rlt-relation-card{
  border:1px solid lightgrey;
  padding: 1%;
  height: 227px;
  margin-top: 1%;
}



.fg-details-card{
  padding: 1%;
  border:1px solid lightgrey;
  height: 120px;
}

.icon-search{
  margin-left: -12%;
  font-size: 13px;
}
.fg-search{
  border: 1px solid #39c449;
  box-shadow: 0 0 5px rgba(109,207,246,.5);
  height: 25px;
  line-height: 4;
  width: 98%;
  margin-left: 1%;
  margin-bottom: 5%;
  margin-top: -4%;
  padding-left: 9px;
  font-size: 14px;
  padding-top: 11px;
}



.heading-font{
  font-size: 16px;
  font-weight: bold;
}

.logical-card{
 /* border: 0.30441400304414vh solid lightslategrey;
  padding: 1%;*/
  margin-bottom: 0px;
  background: white;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  MARGIN-TOP: 6px;
}
.mps-plan-selection{
  margin-left: -2%;
}

.succes-msg{
  color: white;
  position: absolute;
  top: 2%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}
.text-link {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}
/*dropdown popup code starts*/
.dropdown-toggle::after {
  display:none;
}
.arrow-up-style{
  color: black!important;
  /* background: gray; */
  top: -25%!important;
  left: -1px!important;
  font-size: 28px!important;
}
.dropdown-text{
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  margin-top: -5px;
  color: white;
}
.dropdown-card-style{
  width: 1200px;
  margin-top: 7%;
  margin-left: 50%;
  height: 79px;
  border: 1px solid black;
  background: black;
}
.border-color{
  border:1px solid!important;
  border-bottom: none!important;
  background: white;
  color:black!important;
}
.word-wrap-table-cell-dropdown{
  cursor: pointer;
  white-space: nowrap;
  width: 168px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fg-details-table th, td{
  padding: 4px;
}

.fg-details-table th {
  font-size: 14px;
  font-weight: bold;

}
.fg-details-table td {
  font-size: 12px;
}
.fg-details-table th{
  background: white!important;
}
