*{
  font-family: Calibri;
}




.first-nav-pills .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black;
  background-color: lightseagreen;
}

.inside-nav-pills .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black;
  background-color:#d5911a;
}

.btn-css-total{
  background: white;
  width: 180px;
  padding-top: 9px;
  height: 35px;
  border: 1px solid lightgrey;
  text-align: center;
  line-height: 1;
  border-radius: 45px 1px;
}

.card-css{
  border: 1px solid lightgrey;
  background: lightgoldenrodyellow;
  /*  height: 512px;*/

}

.connect-lines1{
  background: lightgray;
  margin-top: -40px;
  margin-left: 23%;
  width: 45%;
}
.pro-plan-scroll-table{
  border: 1px solid lightgrey;
  height: 400px;
  overflow-x: hidden;
  background: white;
}
.final-pro-plan-table th, td{
  padding: 4px;
  border:1px solid lightgrey;
}
.final-pro-plan-table th{
  font-size: 14px;
  font-weight: bold;
}
.final-pro-plan-table td{
  font-size: 12px;
}


.diamond {
  position: relative;
  height: 200px;
  width: 200px;
  line-height: 200px;
  text-align: center;
  margin: 10px 40px;
}
.diamond:before {
  position: absolute;
  content: '';
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  transform: rotateX(45deg) rotateZ(45deg);
  box-shadow: 0px 0px 12px gray;
}
.diamond:after {
  position: absolute;
  top: 10px;
  left: 10px;
  content: '';
  height: calc(100% - 22px);  /* -22px is 2 * 10px gap on either side - 2px border on either side */
  width: calc(100% - 22px);  /* -22px is 2 * 10px gap on either side - 2px border on either side */
  border: 1px solid orange;
  transform: rotateX(45deg) rotateZ(45deg);
}

.verticle-line {
  border-left: 1px solid lightgrey;
  height: 192px;
  margin-left: 47%;
  margin-top: 20%;
}
.selection-css{
  cursor: pointer;
  width: 195px;
  padding-left: 7px;
  height: 44px;
  padding-top: 4px;
  border-radius: 45px 1px;
}
.search-css{
  height: 29px;
  border: none;
  border-bottom: 1px solid grey;
  background: lightgoldenrodyellow;
}
.ti-search:before {
  content: "\e610";
  font-family: themify;
}

.pulse2 {
  -webkit-animation: pulse 500ms infinite alternate;
  animation: pulse 500ms infinite alternate;
}
@-webkit-keyframes pulse {
  0% { background-color: lightseagreen; }
  100% { background-color: transparent; }
}
@keyframes pulse {
  0% { background-color: lightseagreen; }
  100% { background-color: transparent; }
}

