<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" [ngClass]="{'show-sidebar': showMobileMenu}" [dir]="options.dir"
     [attr.data-theme]="options.theme" [attr.data-layout]="options.layout" [attr.data-sidebartype]="options.sidebartype"
     [attr.data-sidebar-position]="options.sidebarpos" [attr.data-header-position]="options.headerpos"
     [attr.data-boxed-layout]="options.boxed">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in topbar.scss -->
  <!-- ============================================================== -->
  <header style="height: 52px" class="topbar" [attr.data-navbarbg]="options.navbarbg">
    <nav class="d-flex top-navbar navbar-expand-lg"
         [ngClass]="(options.navbarbg=='skin6')?'navbar-light':'navbar-dark'">
      <div class="navbar-header" [ngClass]="(expandLogo)?'expand-logo':''" [attr.data-logobg]="options.logobg">
        <!-- This is for the sidebar toggle which is visible on mobile only -->
        <a (click)="showMobileMenu = !showMobileMenu"
           class="nav-toggler waves-effect waves-light d-block d-lg-none" href="javascript:void(0)">
          <i [ngClass]="(showMobileMenu)?'ti-close':'ti-menu'"></i>
        </a>
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->

        <a class="navbar-brand" href="/">

          <!-- Logo icon -->
          <b class="logo-icon">
            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
            <!-- Dark Logo icon -->
            <img src="assets/images/csp-light-logo.png" style="margin-top: -46%; height: 24px" alt="homepage" class="light-logo" />
            <!-- Light Logo icon -->
            <img src="assets/images/csp-light-logo.png" style="margin-top: -46%; height: 24px" alt="homepage" />
          </b>
          <!--End Logo icon -->
          <!-- Logo text -->
          <span class="logo-text">
                        <!-- dark Logo text -->
                        <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
            <!-- Light Logo text -->
                        <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                    </span>
        </a>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Toggle which is visible on mobile only -->
        <!-- ============================================================== -->
        <a class="topbartoggler d-block d-lg-none waves-effect waves-light" href="javascript:void(0)"
           (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
           data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
          <i class="ti-more"></i>
        </a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse collapse" id="navbarSupportedContent" [ngbCollapse]="!isCollapsed"
           [attr.data-navbarbg]="options.navbarbg">
        <img src="assets/images/csp-light-logo.png" style="margin-top: -8px; margin-left: 1%;height: 24px;" alt="homepage" />
        <span><h3 style="margin-left: 8%; color:white;">CSP</h3></span>
        <!-- Horizontal Header -->
        <div *ngIf="options.layout==='horizontal' else vheader" class="w-100">
          <app-horizontal-navigation class="w-100 d-flex align-items-center">
          </app-horizontal-navigation>
        </div>

        <!-- Vertical Header -->
        <ng-template #vheader>
          <div class="w-100">
            <app-vertical-navigation (toggleSidebar)="toggleSidebarType()">
            </app-vertical-navigation>
          </div>
        </ng-template>
      </div>
    </nav>
  </header>
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
 <!-- <aside class="left-sidebar" [attr.data-sidebarbg]="options.sidebarbg" (mouseover)="Logo()" (mouseout)="Logo()">
    &lt;!&ndash; Sidebar scroll&ndash;&gt;
    <div *ngIf="options.layout==='horizontal'; else vlayout">
      <app-horizontal-sidebar></app-horizontal-sidebar>
    </div>

    &lt;!&ndash; Horizontal Header &ndash;&gt;
    <ng-template #vlayout>
      <div class="scroll-sidebar" >
        <app-vertical-sidebar></app-vertical-sidebar>
      </div>
    </ng-template>
    &lt;!&ndash; End Sidebar scroll&ndash;&gt;
  </aside>
  --><!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="wrapper" style="margin-top: 5%">
    <!--   <app-breadcrumb></app-breadcrumb>-->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid" style="">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row" >
        <div class="col-sm-12 col-lg-12 col-md-12">
          <div class="card card-css">
            <div class="card-header" style="height:90px; background: lightgoldenrodyellow; padding:0px;">
              <div class="row" style="width: 100%;margin-left: 0%">
                <div class="col-lg-2 col-md-2">
                  <div style="height: 65px; padding-top: 4%">
                    <h3 style="font-size: 24px;  font-family: -webkit-pictograph; margin-left: 1%;font-weight: bold; ">CONSUMPTION</h3>
                    <h5 style="font-size: 14px; color:silver; font-style: italic; font-family: -webkit-pictograph; margin-left: 3%; margin-top: -2%">EXECUTION FLOW</h5>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-10 col-md-10  inside-nav-pills">
                  <ul style="margin-top: 3%; margin-left: 9%" class="nav nav-pills mb-3 step" id="pills-tab" role="tablist" >
                    <li class="nav-item step" role="presentation">
                      <a
                        class="nav-link selection-css" id="pills-home-tab"   href="#pills-home"
                        (click)="tab(1)"  [ngClass]="isConsumption1"
                        data-toggle="pill"  role="tab" aria-controls="pills-home" aria-selected="true">
                        <h5 class="btn-css-total colChg">Production Plan</h5></a>
                    </li>
                    <li style="margin-left: 5%; border-radius: 45px 1px"  [ngClass]="blinkLogicalTab" class="nav-item step " role="presentation">
                      <a
                        class="nav-link selection-css"
                        [ngClass]="isConsumption2" href="#pills-profile"
                        (click)="tab(2)"
                        id="pills-profile-tab" data-toggle="pill"  role="tab" aria-controls="pills-profile" aria-selected="false">

                        <h5 class="btn-css-total colChg">Logical Consumption</h5></a>

                    </li>

                    <li style="margin-left: 5%; border-radius: 45px 1px" [ngClass]="blinkGrossTab" class="nav-item step" role="presentation">
                      <a
                        (click)="tab(3)"
                        [ngClass]="isConsumption3" href="#pills-contact"
                        class="nav-link selection-css" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
                        <h5 class="btn-css-total colChg">Gross Consumption</h5></a>
                    </li>
                  </ul>
                  <hr class="connect-lines1">
                </div>

              </div>
            </div>


            <div class="row" style="margin-left: 0%; margin-top: 0%;width: 100%;margin-bottom: 1%;">
              <div class="col-sm-12 col-lg-12 col-md-12 ">
                <!-- <div class="row">
                   <div class="col-lg-2 col-md-2"></div>
                    <div class="col-sm-12 col-lg-8 col-md-8 first-nav-pills">
                     <ul style="margin-left: 24%" class="nav nav-pills mb-3 step" id="pills-tab" role="tablist" >
                       <li class="nav-item step" role="presentation">
                         <a  style="width: 195px; padding-left: 7px;  height: 52px;"
                            (click)="finalProTab()" class="nav-link" id="pills-home-tab"
                             [ngClass]="isConsumption ? 'active' : ''"
                             data-toggle="pill"  role="tab" aria-controls="pills-home" aria-selected="true">
                           <h5 class="btn-css-total colChg">Production Plan</h5></a>
                       </li>
                       <li style="margin-left: 5%" class="nav-item step " role="presentation">
                         <a  style="width: 195px; padding-left: 7px; height: 52px;"
                             class="nav-link"
                             [ngClass]="isConsumption ? 'disabled' : 'active'"
                             id="pills-profile-tab" data-toggle="pill"  role="tab" aria-controls="pills-profile" aria-selected="false">

                           <h5 class="btn-css-total colChg">Logic Consumption</h5></a>

                       </li>

                       <li style="margin-left: 5%" class="nav-item step" role="presentation">
                         <a style="width: 195px; padding-left: 7px;  height: 52px;"
                            class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
                           <h5 class="btn-css-total colChg">Gross Consumption</h5></a>
                       </li>
                     </ul>
                     <hr class="connect-lines1">
                    </div>
                    <div class="col-lg-2 col-md-2"></div>
                  </div>-->

                <div style=" padding: 1%; margin-top: -2%; height: 450px">
                  <div class="tab-content" >
                    <div *ngIf="showTab == 1"  >

                <span class="form-inline">
                <h4>{{finalProList[0]?.mpsName}}</h4>
                   <form class="app-search" style="margin-left: 76%; margin-bottom: 5px">
                      <input type="text"  class="form-control  search-css" placeholder="Search...">
                     <!-- <a class="srh-btn" style="margin-top: -3%">
                         <i class="ti-search" style="position: absolute; top:20px; left:95%"></i>
                      </a>-->
                   </form>
                  </span>



                      <div class="row">
                        <div class="col-sm-12">
                          <div class="pro-plan-scroll-table">
                            <table class="table table-bordered final-pro-plan-table">
                              <thead class="thead-light text-center">
                              <th>Code</th>
                              <th>Description</th>
                              <th>M1 Ideal</th>
                              <th>M1</th>
                              <th>M2</th>
                              <th>M3</th>
                              <th>M4</th>
                              <th>M5</th>
                              <th>M6</th>
                              <th>M7</th>
                              <th>M8</th>
                              <th>M9</th>
                              <th>M10</th>
                              <th>M11</th>
                              <th>M12</th>
                              <th>Total</th>
                              <th>Type</th>
                              <th>Line</th>
                              <th>Skid</th>
                              </thead>
                              <tbody class="text-center">
                              <tr *ngFor="let finalPro of finalProList">
                                <td>{{finalPro.itemCode}}</td>
                                <td>{{finalPro.itemDescription}}</td>
                                <td>{{finalPro.m1Idealvalue}}</td>
                                <td>{{finalPro.m1Value}}</td>
                                <td>{{finalPro.m2Value}}</td>
                                <td>{{finalPro.m3Value}}</td>
                                <td>{{finalPro.m4Value}}</td>
                                <td>{{finalPro.m5Value}}</td>
                                <td>{{finalPro.m6Value}}</td>
                                <td>{{finalPro.m7Value}}</td>
                                <td>{{finalPro.m8Value}}</td>
                                <td>{{finalPro.m9Value}}</td>
                                <td>{{finalPro.m10Value}}</td>
                                <td>{{finalPro.m11Value}}</td>
                                <td>{{finalPro.m12Value}}</td>
                                <td>{{finalPro.total}}</td>
                                <td>{{finalPro.productionType}}</td>
                                <td>{{finalPro.lineName}}</td>
                                <td>{{finalPro.skidName}}</td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <!--</div>-->
                      <!-- <div class="row" style="margin-top: 1%; width: 100%; margin-left: 0%">
                         <div class="col-sm-12">
                           <button style="margin-left: 94%" class="btn btn-outline-primary btn-sm btnNext"
                                   (click)="executeBtn()"
                           >Execute</button>
                         </div>
                       </div>-->



                    </div>
                    <div *ngIf="showTab == 2" >
                      <!--  <div style="border:1px solid lightgrey; padding: 1%; height: 265px">-->
                      <h4>PM</h4>

                      <div class="row" style="margin-left: 0%; margin-top: 1%;width: 100%;margin-bottom: 1%;">
                        <div class="col-sm-12">

                          <!-- <div class="row" style="margin-top: 1%; width: 100%; margin-left: 0%">
                            <div class="col-sm-12">
                              <button style="margin-left: 88%" class="btn btn-outline-primary btn-sm btnNext"  onclick="$('#pills-profile-tabcons').trigger('click')">Next</button>
                              <button  class="btn  btn-outline-primary btn-sm btnPrevious" (click)="finalProTab()">Previous</button>
                            </div>
                          </div>-->

                        </div>
                      </div>

                      <!--    </div>-->
                    </div>
                    <div *ngIf="showTab == 3">
                      <!--   <div  style="border:1px solid lightgrey; padding: 1%; height: 265px">-->
                      <h4>Gross</h4>
                      <!--</div>-->
                    </div>



                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Start Page Content -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center" style="margin-top: 5%">
      All Rights Reserved by Monster Admin Angular. Designed and Developed by
      <a href="https://wrappixel.com">WrapPixel</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
  <!--<aside class="customizer" [ngClass]="{'show-service-panel': showSettings}" style="margin-top: 25%">
    <a href="javascript:void(0)" class="service-panel-toggle" (click)="showSettings = !showSettings">
      <i class="fa fa-spin fa-cog"></i>
    </a>
    <div class="customizer-body custom-pills" >
      <ngb-tabset type="pills" [justify]="tabStatus">
        <ngb-tab>
          <ng-template ngbTabTitle>
            <i class="mdi mdi-wrench font-20"></i>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="p-15 border-bottom">
              &lt;!&ndash; Sidebar &ndash;&gt;
              <h5 class="m-b-20 m-t-10">Layout Settings</h5>
              <div class="custom-control custom-checkbox m-t-10">
                <input type="checkbox" class="custom-control-input" name="layout" id="layout"
                       [attr.checked]="(options.layout=='horizontal') ? 'checked' : null"
                       (change)="options.layout = (options.layout == 'vertical' ? 'horizontal' : 'vertical')"
                       (click)="options.boxed = (options.boxed == 'full' ? 'boxed' : 'full');">
                <label class="custom-control-label font-normal" for="layout">Horizontal</label>
              </div>
              <div class="custom-control custom-checkbox m-t-10">
                <input type="checkbox" class="custom-control-input" name="theme-view" id="theme-view"
                       [attr.checked]="(options.theme=='dark') ? 'checked' : null"
                       (change)="options.theme = (options.theme == 'light' ? 'dark' : 'light');">
                <label class="custom-control-label font-normal" for="theme-view">Dark Theme</label>
              </div>
              <div class="custom-control custom-checkbox m-t-10">
                <input type="checkbox" class="custom-control-input" name="sidebar-position"
                       id="sidebar-position"
                       [attr.checked]="(options.sidebarpos=='fixed') ? 'checked' : null"
                       (change)="options.sidebarpos = (options.sidebarpos == 'fixed' ? 'absolute' : 'fixed');">
                <label class="custom-control-label font-normal" for="sidebar-position">Fixed
                  Sidebar</label>
              </div>
              <div class="custom-control custom-checkbox m-t-10">
                <input type="checkbox" class="custom-control-input" name="header-position"
                       id="header-position"
                       [attr.checked]="(options.headerpos=='fixed') ? 'checked' : null"
                       (change)="options.headerpos = (options.headerpos == 'fixed' ? 'absolute' : 'fixed');">
                <label class="custom-control-label font-normal" for="header-position">Fixed
                  Header</label>
              </div>
              <div class="custom-control custom-checkbox m-t-10">
                <input type="checkbox" class="custom-control-input" name="boxed-layout"
                       id="boxed-layout" [attr.checked]="(options.boxed=='boxed') ? 'checked' : null"
                       (change)="options.boxed = (options.boxed == 'full' ? 'boxed' : 'full');">
                <label class="custom-control-label font-normal" for="boxed-layout">Boxed Layout</label>
              </div>
              <div class="custom-control custom-checkbox m-t-10">
                <input type="checkbox" class="custom-control-input" name="rtl-layout" id="rtl-layout"
                       [attr.checked]="(options.dir=='rtl') ? 'checked' : null"
                       (change)="options.dir = (options.dir == 'rtl' ? 'ltr' : 'rtl');">
                <label class="custom-control-label font-normal" for="rtl-layout">RTL</label>
              </div>
            </div>
            <div class="p-15 border-bottom" *ngIf="options.layout==='vertical'">
              &lt;!&ndash; Sidebar &ndash;&gt;
              <h5 class="m-b-20 m-t-10">Sidebar Types</h5>
              <div class="custom-control custom-radio m-t-10">
                <input type="radio" class="custom-control-input" name="sidebar"
                       [(ngModel)]="options.sidebartype" value="mini-sidebar" id="minisidebar"
                       (change)="options.sidebartype = 'mini-sidebar'">
                <label class="custom-control-label font-normal" for="minisidebar">Mini Sidebar</label>
              </div>
              <div class="custom-control custom-radio m-t-10">
                <input type="radio" class="custom-control-input" name="sidebar"
                       [(ngModel)]="options.sidebartype" value="iconbar" id="iconsidebar"
                       (change)="options.sidebartype = 'iconbar'">
                <label class="custom-control-label font-normal" for="iconsidebar">Icon Sidebar</label>
              </div>
              <div class="custom-control custom-radio m-t-10">
                <input type="radio" class="custom-control-input" name="sidebar"
                       [(ngModel)]="options.sidebartype" value="overlay" id="overlaysidebar"
                       (change)="options.sidebartype = 'overlay'">
                <label class="custom-control-label font-normal" for="overlaysidebar">Overlay
                  Sidebar</label>
              </div>
              <div class="custom-control custom-radio m-t-10">
                <input type="radio" class="custom-control-input" name="sidebar"
                       [(ngModel)]="options.sidebartype" value="full" id="fullsidebar"
                       (change)="options.sidebartype = 'full'">
                <label class="custom-control-label font-normal" for="fullsidebar">Full Sidebar</label>
              </div>
            </div>
            <div class="p-15 border-bottom" *ngIf="options.layout==='vertical'">
              &lt;!&ndash; Logo BG &ndash;&gt;
              <h5 class="m-b-20 m-t-10">Logo Backgrounds</h5>
              <ul class="theme-color">
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-logobg="skin1"
                     (click)="options.logobg = 'skin1'"></a>
                </li>
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-logobg="skin2"
                     (click)="options.logobg = 'skin2'"></a>
                </li>
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-logobg="skin3"
                     (click)="options.logobg = 'skin3'"></a>
                </li>
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-logobg="skin4"
                     (click)="options.logobg = 'skin4'"></a>
                </li>
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-logobg="skin5"
                     (click)="options.logobg = 'skin5'"></a>
                </li>
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-logobg="skin6"
                     (click)="options.logobg = 'skin6'"></a>
                </li>
              </ul>
              &lt;!&ndash; Logo BG &ndash;&gt;
            </div>
            <div class="p-15 border-bottom">
              &lt;!&ndash; Navbar BG &ndash;&gt;
              <h5 class="m-b-20 m-t-10">Navbar Backgrounds</h5>
              <ul class="theme-color">
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-navbarbg="skin1"
                     (click)="options.navbarbg = 'skin1'"></a>
                </li>
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-navbarbg="skin2"
                     (click)="options.navbarbg = 'skin2'"></a>
                </li>
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-navbarbg="skin3"
                     (click)="options.navbarbg = 'skin3'"></a>
                </li>
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-navbarbg="skin4"
                     (click)="options.navbarbg = 'skin4'"></a>
                </li>
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-navbarbg="skin5"
                     (click)="options.navbarbg = 'skin5'"></a>
                </li>
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-navbarbg="skin6"
                     (click)="options.navbarbg = 'skin6'"></a>
                </li>
              </ul>
              &lt;!&ndash; Navbar BG &ndash;&gt;
            </div>
            <div class="p-15 border-bottom">
              &lt;!&ndash; Logo BG &ndash;&gt;
              <h5 class="m-b-20 m-t-10">Sidebar Backgrounds</h5>
              <ul class="theme-color">
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-sidebarbg="skin1"
                     (click)="options.sidebarbg = 'skin1'"></a>
                </li>
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-sidebarbg="skin2"
                     (click)="options.sidebarbg = 'skin2'"></a>
                </li>
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-sidebarbg="skin3"
                     (click)="options.sidebarbg = 'skin3'"></a>
                </li>
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-sidebarbg="skin4"
                     (click)="options.sidebarbg = 'skin4'"></a>
                </li>
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-sidebarbg="skin5"
                     (click)="options.sidebarbg = 'skin5'"></a>
                </li>
                <li class="theme-item">
                  <a href="javascript:void(0)" class="theme-link" data-sidebarbg="skin6"
                     (click)="options.sidebarbg = 'skin6'"></a>
                </li>
              </ul>
              &lt;!&ndash; Logo BG &ndash;&gt;
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <i class="mdi mdi-message-reply font-20"></i>
          </ng-template>
          <ng-template ngbTabContent>
            <ul class="mailbox list-style-none m-t-20">
              <li>
                <div class="message-center chat-scroll" >
                  &lt;!&ndash; Message &ndash;&gt;
                  <a href="#" class="message-item" id='chat_user_1' data-user-id='1'>
                                        <span class="user-img">
                                            <img src="assets/images/users/1.jpg" alt="user" class="rounded-circle">
                                            <span class="profile-status online pull-right" data-status="online"></span>
                                        </span>
                    <span class="mail-contnet">
                                            <h5>Chris Evans</h5>
                                            <span class="mail-desc">Just see the my admin!</span>
                                            <span class="time">9:30 AM</span>
                                        </span>
                  </a>
                  &lt;!&ndash; Message &ndash;&gt;
                  <a href="#" class="message-item" id='chat_user_2' data-user-id='2'>
                                        <span class="user-img">
                                            <img src="assets/images/users/2.jpg" alt="user" class="rounded-circle">
                                            <span class="profile-status busy pull-right" data-status="busy"></span>
                                        </span>
                    <span class="mail-contnet">
                                            <h5>Ray Hudson</h5>
                                            <span class="mail-desc">I've sung a song! See you at</span>
                                            <span class="time">9:10 AM</span>
                                        </span>
                  </a>
                  &lt;!&ndash; Message &ndash;&gt;
                  <a href="#" class="message-item" id='chat_user_3' data-user-id='3'>
                                        <span class="user-img">
                                            <img src="assets/images/users/3.jpg" alt="user" class="rounded-circle">
                                            <span class="profile-status away pull-right" data-status="away"></span>
                                        </span>
                    <span class="mail-contnet">
                                            <h5>Lb James</h5>
                                            <span class="mail-desc">I am a singer!</span>
                                            <span class="time">9:08 AM</span>
                                        </span>
                  </a>
                  &lt;!&ndash; Message &ndash;&gt;
                  <a href="#" class="message-item" id='chat_user_4' data-user-id='4'>
                                        <span class="user-img">
                                            <img src="assets/images/users/4.jpg" alt="user" class="rounded-circle">
                                            <span class="profile-status offline pull-right"
                                                  data-status="offline"></span>
                                        </span>
                    <span class="mail-contnet">
                                            <h5>Don Andres</h5>
                                            <span class="mail-desc">Just see the my admin!</span>
                                            <span class="time">9:02 AM</span>
                                        </span>
                  </a>
                  &lt;!&ndash; Message &ndash;&gt;
                  <a href="#" class="message-item" id='chat_user_5' data-user-id='5'>
                                        <span class="user-img">
                                            <img src="assets/images/users/1.jpg" alt="user" class="rounded-circle">
                                            <span class="profile-status online pull-right" data-status="online"></span>
                                        </span>
                    <span class="mail-contnet">
                                            <h5>Chris Evans</h5>
                                            <span class="mail-desc">Just see the my admin!</span>
                                            <span class="time">9:30 AM</span>
                                        </span>
                  </a>
                  &lt;!&ndash; Message &ndash;&gt;
                  <a href="#" class="message-item" id='chat_user_6' data-user-id='6'>
                                        <span class="user-img">
                                            <img src="assets/images/users/2.jpg" alt="user" class="rounded-circle">
                                            <span class="profile-status busy pull-right" data-status="busy"></span>
                                        </span>
                    <span class="mail-contnet">
                                            <h5>Ray Hudson</h5>
                                            <span class="mail-desc">I've sung a song! See you at</span>
                                            <span class="time">9:10 AM</span>
                                        </span>
                  </a>
                  &lt;!&ndash; Message &ndash;&gt;
                  <a href="#" class="message-item" id='chat_user_7' data-user-id='7'>
                                        <span class="user-img">
                                            <img src="assets/images/users/3.jpg" alt="user" class="rounded-circle">
                                            <span class="profile-status away pull-right" data-status="away"></span>
                                        </span>
                    <span class="mail-contnet">
                                            <h5>Lb James</h5>
                                            <span class="mail-desc">I am a singer!</span>
                                            <span class="time">9:08 AM</span>
                                        </span>
                  </a>
                  &lt;!&ndash; Message &ndash;&gt;
                  <a href="#" class="message-item" id='chat_user_8' data-user-id='8'>
                                        <span class="user-img">
                                            <img src="assets/images/users/4.jpg" alt="user" class="rounded-circle">
                                            <span class="profile-status offline pull-right"
                                                  data-status="offline"></span>
                                        </span>
                    <span class="mail-contnet">
                                            <h5>Don Andres</h5>
                                            <span class="mail-desc">Just see the my admin!</span>
                                            <span class="time">9:02 AM</span>
                                        </span>
                  </a>
                  &lt;!&ndash; Message &ndash;&gt;
                  <a href="#" class="message-item" id='chat_user_9' data-user-id='9'>
                                        <span class="user-img">
                                            <img src="assets/images/users/1.jpg" alt="user" class="rounded-circle">
                                            <span class="profile-status online pull-right" data-status="online"></span>
                                        </span>
                    <span class="mail-contnet">
                                            <h5>Chris Evans</h5>
                                            <span class="mail-desc">Just see the my admin!</span>
                                            <span class="time">9:30 AM</span>
                                        </span>
                  </a>
                  &lt;!&ndash; Message &ndash;&gt;
                  <a href="#" class="message-item" id='chat_user_10' data-user-id='10'>
                                        <span class="user-img">
                                            <img src="assets/images/users/2.jpg" alt="user" class="rounded-circle">
                                            <span class="profile-status busy pull-right" data-status="busy"></span>
                                        </span>
                    <span class="mail-contnet">
                                            <h5>Ray Hudson</h5>
                                            <span class="mail-desc">I've sung a song! See you at</span>
                                            <span class="time">9:10 AM</span>
                                        </span>
                  </a>
                  &lt;!&ndash; Message &ndash;&gt;
                  <a href="#" class="message-item" id='chat_user_11' data-user-id='11'>
                                        <span class="user-img">
                                            <img src="assets/images/users/3.jpg" alt="user" class="rounded-circle">
                                            <span class="profile-status away pull-right" data-status="away"></span>
                                        </span>
                    <span class="mail-contnet">
                                            <h5>Lb James</h5>
                                            <span class="mail-desc">I am a singer!</span>
                                            <span class="time">9:08 AM</span>
                                        </span>
                  </a>
                  &lt;!&ndash; Message &ndash;&gt;
                  <a href="#" class="message-item" id='chat_user_12' data-user-id='12'>
                                        <span class="user-img">
                                            <img src="assets/images/users/4.jpg" alt="user" class="rounded-circle">
                                            <span class="profile-status offline pull-right"
                                                  data-status="offline"></span>
                                        </span>
                    <span class="mail-contnet">
                                            <h5>Don Andres</h5>
                                            <span class="mail-desc">Just see the my admin!</span>
                                            <span class="time">9:02 AM</span>
                                        </span>
                  </a>
                </div>
              </li>
            </ul>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <i class="mdi mdi-star-circle font-20"></i>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="p-15">
              <h6 class="m-t-20 m-b-20">Activity Timeline</h6>
              <div class="steamline">
                <div class="sl-item">
                  <div class="sl-left bg-success">
                    <i class="ti-user"></i>
                  </div>
                  <div class="sl-right">
                    <div class="">Meeting today
                      <span class=" sl-date"> 5pm</span>
                    </div>
                    <div class="desc">you can write anything </div>
                  </div>
                </div>
                <div class="sl-item">
                  <div class="sl-left bg-info">
                    <i class="fas fa-image"></i>
                  </div>
                  <div class="sl-right">
                    <div class="">Send documents to Clark</div>
                    <div class=" desc">Lorem Ipsum is simply </div>
                  </div>
                </div>
                <div class="sl-item">
                  <div class="sl-left">
                    <img class="rounded-circle" alt="user" src="assets/images/users/2.jpg"> </div>
                  <div class="sl-right">
                    <div class="">Go to the Doctor
                      <span class=" sl-date">5 minutes ago</span>
                    </div>
                    <div class="desc">Contrary to popular belief</div>
                  </div>
                </div>
                <div class="sl-item">
                  <div class="sl-left">
                    <img class="rounded-circle" alt="user" src="assets/images/users/1.jpg"> </div>
                  <div class="sl-right">
                    <div>
                      <a href="javascript:void(0)">Stephen</a>
                      <span class="sl-date">5 minutes ago</span>
                    </div>
                    <div class="desc">Approve meeting with tiger</div>
                  </div>
                </div>
                <div class="sl-item">
                  <div class="sl-left bg-primary">
                    <i class="ti-user"></i>
                  </div>
                  <div class="sl-right">
                    <div class="">Meeting today
                      <span class=" sl-date"> 5pm</span>
                    </div>
                    <div class="desc">you can write anything </div>
                  </div>
                </div>
                <div class="sl-item">
                  <div class="sl-left bg-info">
                    <i class="fas fa-image"></i>
                  </div>
                  <div class="sl-right">
                    <div class="">Send documents to Clark</div>
                    <div class=" desc">Lorem Ipsum is simply </div>
                  </div>
                </div>
                <div class="sl-item">
                  <div class="sl-left">
                    <img class="rounded-circle" alt="user" src="assets/images/users/4.jpg"> </div>
                  <div class="sl-right">
                    <div class="">Go to the Doctor
                      <span class=" sl-date">5 minutes ago</span>
                    </div>
                    <div class="desc">Contrary to popular belief</div>
                  </div>
                </div>
                <div class="sl-item">
                  <div class="sl-left">
                    <img class="rounded-circle" alt="user" src="assets/images/users/6.jpg"> </div>
                  <div class="sl-right">
                    <div>
                      <a href="javascript:void(0)">Stephen</a>
                      <span class="sl-date">5 minutes ago</span>
                    </div>
                    <div class="desc">Approve meeting with tiger</div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </aside>-->
</div>
