
.card-content{
  /*border: 2px solid lightslategrey;
  padding: 1%;
  margin-bottom: 0px;
  background: white;
  margin-top: -10px;*/

}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  /*
   border-radius: 25px;*/
  padding: 2px 15px 2px 15px;
  border: 1px solid darkcyan;
  background: darkcyan;
  color: white;
}
.by-default{
  background: white;
  color: #000;
  padding: 2px 15px 2px 15px;
  border: 1px solid grey;
}
.disColor{
  background: white;
  color: #000;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  font-family: themify;
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5px;
}
