<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 1%">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-sm-5">
            <div class="form-inline">
              <div class="page-breadcrumb">
                <nav aria-label="breadcrumb" style="margin-left: -7%">
                  <ol class="breadcrumb">
                    <!--  <li class="breadcrumb-item">
                        <a href='javascript:void(0)'>Home</a>
                      </li>-->
                    <li class="breadcrumb-item active">Purchase</li>
                    <li class="breadcrumb-item  font-weight-bold text-dark">Purchase Plan CoverDays</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-sm-7">
            <ul class="nav nav-pills mb-3  justify-content-end" id="pills-tab" role="tablist">
              <li class="nav-item">
                <button class="nav-link by-default btn "  id="pills-mes-tab" data-toggle="pill"
                        routerLink="pmPurchaseCoverdays" routerLinkActive="active"
                        role="tab" aria-controls="pills-home" aria-selected="true">Cover Days</button>
              </li>
              <li class="nav-item" style="margin-left: 0% ">
                <button class="nav-link by-default btn"  id="pills-rtd-tab" data-toggle="pill"
                        routerLink="pmPurchaseStockEquation" routerLinkActive="active"
                        role="tab" aria-controls="pills-profile" aria-selected="false">Stock Equation</button>
              </li>
            </ul>
          </div>
        </div>

        <div class="card-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
