<div class="row" style="margin-top: -8px">
  <div class="col-sm-12">
    <div class="card-header border header-color">
      <div class="row">
        <div class="col">
                  <span class="form-inline">
                  <input type="checkbox" [(ngModel)]="selectedAll"
                         (change)="selectAll()" style="margin-right: 3%">
                  <h5>Download following Plans : </h5>
                  </span>
        </div>
        <div class="col text-right">
          <button class="btn btn-dark download-btn" (click)="download()" [disabled]="isDisabled">
            <i class="fas fa-download"></i> Download
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="row" style="margin-top: 8px">
  <div class="col-sm-6 pr-0">
    <div class="cards">
      <div class="card-header border sub-header-color">
        <h5 class="text-dark">{{folders[0]}}</h5>
      </div>
      <div>
        <ul class="list-group" *ngFor="let firstCut of firstCutFileList">
          <li class="list-group-item list-style"
              [ngClass]="{'highlight' : firstCut.selected}">
            <input type="checkbox" [(ngModel)]="firstCut.selected"
                   (change)="checkIfAllSelected()">
            <span class="list-text">{{firstCut.name}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6 pr-0 pl-2 pr-2">
    <div class="cards">
      <div class="card-header border sub-header-color">
        <h5 class="text-dark">{{folders[1]}}</h5>
      </div>
      <div>
        <ul *ngFor="let validate of validatedFileList" class="list-group">
          <li class="list-group-item list-style"
              [ngClass]="{'highlight' : validate.selected}">
            <input type="checkbox" [(ngModel)]="validate.selected"
                   (change)="checkIfAllSelected()">
            <span class="list-text">{{validate.name}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-4 pr-0 pl-2 pr-2">
     <div class="cards">
       <div class="card-header border sub-header-color">
         <h5 class="text-dark">{{folders[2]}}</h5>
       </div>
       <div>
         <ul *ngFor="let post of postValidatedFileDataList" class="list-group">
           <li class="list-group-item list-style"
               [ngClass]="{'highlight' : post.selected}">
             <input type="checkbox" [(ngModel)]="post.selected"
                    (change)="checkIfAllSelected()">
             <span class="list-text">{{post.name}}</span>
           </li>
         </ul>
       </div>
     </div>
   </div>-->
</div>
