<div class="receipt-card">
  <div class="receipt-scroll-table">
    <table class="table table-bordered receipt-table" id="receiptTable">
      <thead class="text-light text-left header-sticky">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Alias Name</th>
      </tr>
      </thead>
      <tbody class="text-left">
      <ng-container *ngFor="let remark of pmRemarkList; let i = index">
        <tr (click)="editRemark(remark,i)" [class.active]="i == selectedRow">
          <th scope="row">{{i + 1}}</th>
          <td>{{remark.name}}</td>
          <td>{{remark.aliasName}}</td>
        </tr>
      </ng-container>

      </tbody>
    </table>
  </div>

  <div class="card " style="border: 1px solid lightgrey; padding: 2%; margin-top: 3%;margin-left: 0%;width: 100%; margin-bottom: 0%;">
    <div class="receipt-card">

        <h4 style="font-size: 16px; font-weight: 500">
          <ng-container *ngIf="!isEditMode">
            Edit Purchase Remark
          </ng-container>
          <ng-container *ngIf="isEditMode">
            Add Purchase Remark
          </ng-container>
         </h4>
    <form [formGroup]="remarkForm">
      <div class="row mt-3">
        <div class="col d-flex">
          <label for="name" class="control-label">Name</label>
          <span style="color: red">*</span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="text" class="form-control form-control-sm" style="margin-left: 10px;width: 68%;"
                 id="name" formControlName="name">
        </div>
      </div>
      <div class="row mt-1">
        <div class="col d-flex">
          <label for="aliasName" class="control-label">AliasName</label>
          <span style="color: red">*</span>
          &nbsp;&nbsp;
          <input type="text" class="form-control form-control-sm"
                 id="aliasName" formControlName="aliasName">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col d-flex justify-content-end pr-1">
          <button type="submit"  class="btn btn-sm btn-info waves-effect pull-right" (click)="save()">Submit</button>
        </div>
      </div>
     </form>
    </div>
  </div>
</div>




