<div class="row">
  <div class="col-sm-6 pr-0">
    <div class="lft-card">
     <h5 style="font-size: 18px">Organisation View</h5>
      <div class="org-table-scroll">
        <table class="table table-bordered org-table" id="orgTable">
          <thead class="text-center header-sticky">
            <tr>
              <th>Organisation</th>
              <th>Relation</th>
              <th>Service Type</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
           <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
           </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="rhs-card">
      <h5 style="font-size: 18px">Create Organisation</h5>
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <button class="nav-link by-default btn  active"
                      id="pills-home-tab" data-toggle="pill" href="#pills-home"
                      role="tab" aria-controls="pills-home" aria-selected="true">General Information</button>
            </li>
            <li class="nav-item">
              <button class="nav-link by-default btn"  id="pills-profile-tab" data-toggle="pill"
                      href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Address Details </button>
            </li>
            <li class="nav-item">
              <button class="nav-link by-default btn"
                      id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                      role="tab" aria-controls="pills-contact" aria-selected="false">Contact Details</button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row" style="margin-top: 2%;">

                  <div class="form-group col-sm-4">
                    <label class="control-label">Organization Name</label><span style="color: red">*</span>
                    <input type="text" class="form-control form-control-sm inp-css"

                           required autocomplete="off">

                  </div>

                  <div class="form-group col-sm-4">
                    <label class="control-label">Salutation</label>
                    <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                    >
                  </div>

                  <div class="form-group col-sm-4">
                    <label class="control-label">Organization Type</label>
                    <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                           readonly>
                  </div>
                  <div class="form-group col-sm-4">
                    <label class="control-label">Service</label><span style="color: red">*</span>
                    <div class="inp-css multi-select">
                      <angular2-multiselect [data]="serviceTypeList"
                                            [(ngModel)]="selectedServiceType"
                                            [settings]="singleSelectDropdownSettings"
                                            (onSelect)="onItemSelect($event)">
                      </angular2-multiselect>
                    </div>
                  </div>

                  <!--<div class="form-group col-sm-4">
                    <label class="control-label">Service</label>
                    <input type="text" class="form-control form-control-sm inp-css"
                    >

                  </div>-->
                  <div class="form-group col-sm-4">
                    <label class="control-label">Vendor Code</label> <span class="help-block">*</span>
                    <input type="text" class="form-control form-control-sm inp-css" autocomplete="off" #vendorCode
                           maxlength="2">
                  </div>

                  <div class="form-group col-sm-4">
                    <label class="control-label">Second Organization Name</label>
                    <div class="inp-css">
                      <!-- <angular2-multiselect [data]="secondPartyList" [settings]="singleSelectDropdownSettings"
                                             [(ngModel)]="selectedSecondParty" formControlName="secondParty"
                                             class="form-control form-control-sm ">
                       </angular2-multiselect>-->
                    </div>
                    <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                           readonly>
                  </div>

                  <div class="form-group col-sm-4">
                    <label class="control-label">Begin Date</label>
                    <input class="form-control calendar" placeholder="yyyy-mm-dd"
                           name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                    <!-- <div class="input-group-append">
                       <button class="btn btn-outline-secondary "  type="button"></button>
                     </div>-->
                    <!--<input type="text" class="form-control form-control-sm inp-css"
                           autocomplete="off" [bsConfig]="dpConfig"
                           formControlName="beginDate" bsDatepicker>-->
                  </div>


                </div>

            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                <div class="row" style="margin-top: 2%; margin-left: 0%; width: 100%">
                  <div class="form-body">
                    <div class="row">
                      <div class="form-group col-sm-12" style="margin-bottom: 0;">
                        <h6 class="text-secondary">ENTER
                          ADDRESS</h6>
                      </div>
                      <div class="form-group col-sm-4">
                        <label class="control-label">Address Line One</label><span
                        style="color: red">*</span>
                        <input type="text" class="form-control form-control-sm inp-css"

                               required autocomplete="off">
                      </div>
                      <div class="form-group col-sm-4">
                        <label class="control-label">Address Line Two</label>
                        <input type="text" class="form-control form-control-sm inp-css"
                               autocomplete="off">
                      </div>
                      <div class="form-group col-sm-4">
                        <label class="control-label">Area</label>
                        <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                        >
                      </div>
                      <div class="form-group col-sm-4">
                        <label class="control-label">Pincode</label>
                        <input type="text" class="form-control form-control-sm inp-css" maxlength="10"
                               minlength="4"
                               autocomplete="off"
                        >
                      </div>

                      <div class="form-group col-sm-4">
                        <label class="control-label">City</label>
                      </div>

                      <div class="form-group col-sm-12">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input">
                          <label class="custom-control-label">Same As Office
                            Address</label>
                        </div>
                      </div>
                    </div>
                  </div>



                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="row" style="margin-top: 2%; margin-left: 0%; width: 100%">

                  <div class="form-body">
                    <div class="row">
                      <div class="form-group col-sm-4">
                        <label class="control-label">Primary Mobile No.</label><span style="color: red">*</span>
                        <input type="text" class="form-control form-control-sm inp-css"

                               maxlength="15" minlength="4"
                               required autocomplete="off">
                      </div>
                      <div class="form-group col-sm-4">
                        <label class="control-label">Alternate Mobile No.</label>
                        <input type="text" class="form-control form-control-sm inp-css"
                               autocomplete="off"
                               maxlength="15" minlength="4">
                      </div>
                      <div class="form-group col-sm-4">
                        <label class="control-label">Landline No.</label>
                        <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                               maxlength="15" minlength="4">
                      </div>
                      <div class="form-group col-sm-4">
                        <label class="control-label">Alternate Landline No.</label>
                        <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                               maxlength="15" minlength="4">
                      </div>
                      <div class="form-group col-sm-4">
                        <label class="control-label">Email</label><span style="color: red">*</span>
                        <input type="email" class="form-control form-control-sm inp-css" autocomplete="off"
                               id="email"
                               required email>

                      </div>

                      <div class="form-group col-sm-4">
                        <label class="control-label">Alternate Email</label>
                        <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                        >
                      </div>
                      <div class="form-group col-sm-4">
                        <label class="control-label">Fax No.</label>
                        <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                               maxlength="15"
                               minlength="4">
                      </div>
                      <div class="form-group col-sm-4">
                        <label class="control-label">Alternate Fax No.</label>
                        <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                               maxlength="15"
                               minlength="4">
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div style="text-align: end;margin-top: 5%" >
              <button class="btn btn-sm btn-info" type="submit"
                      [disabled]="true">
                Submit
              </button><!--submitButtonClicked = true;-->
            </div>
          </div>
        </div>
      </div>










     <!-- <form class="form-horizontal">-->
<!--      <div class="information-cards" style="">

          <h4 style="font-size: 16px">General Information</h4>


        <div class="row" style="margin-top: 2%;">

              <div class="form-group col-sm-4">
                <label class="control-label">Organization Name</label><span style="color: red">*</span>
                <input type="text" class="form-control form-control-sm inp-css"

                       required autocomplete="off">

              </div>

              <div class="form-group col-sm-4">
                <label class="control-label">Salutation</label>
                <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                >
              </div>

              <div class="form-group col-sm-4">
                <label class="control-label">Organization Type</label>
                <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                       readonly>
              </div>
              <div class="form-group col-sm-4">
                <label class="control-label">Service</label><span style="color: red">*</span>
                <div class="inp-css multi-select">
                    <angular2-multiselect [data]="serviceTypeList"
                                          [(ngModel)]="selectedServiceType"
                                          [settings]="singleSelectDropdownSettings"
                                          (onSelect)="onItemSelect($event)">
                    </angular2-multiselect>
                </div>
              </div>

              &lt;!&ndash;<div class="form-group col-sm-4">
                <label class="control-label">Service</label>
                <input type="text" class="form-control form-control-sm inp-css"
                >

              </div>&ndash;&gt;
              <div class="form-group col-sm-4">
                <label class="control-label">Vendor Code</label> <span class="help-block">*</span>
                <input type="text" class="form-control form-control-sm inp-css" autocomplete="off" #vendorCode
                       maxlength="2">
              </div>

            <div class="form-group col-sm-4">
              <label class="control-label">Second Organization Name</label>
              <div class="inp-css">
               &lt;!&ndash; <angular2-multiselect [data]="secondPartyList" [settings]="singleSelectDropdownSettings"
                                      [(ngModel)]="selectedSecondParty" formControlName="secondParty"
                                      class="form-control form-control-sm ">
                </angular2-multiselect>&ndash;&gt;
              </div>
              <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                     readonly>
            </div>

            <div class="form-group col-sm-4">
              <label class="control-label">Begin Date</label>
              <input class="form-control calendar" placeholder="yyyy-mm-dd"
                     name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
             &lt;!&ndash; <div class="input-group-append">
                <button class="btn btn-outline-secondary "  type="button"></button>
              </div>&ndash;&gt;
              &lt;!&ndash;<input type="text" class="form-control form-control-sm inp-css"
                     autocomplete="off" [bsConfig]="dpConfig"
                     formControlName="beginDate" bsDatepicker>&ndash;&gt;
            </div>


        </div>
      </div>
      <div class="information-cards" style="margin-top:2%;">
        <h4 style="font-size: 16px">Address Details</h4>
        <div class="row" style="margin-top: 2%; margin-left: 0%; width: 100%">
            <div class="form-body">
              <div class="row">
                  <div class="form-group col-sm-12" style="margin-bottom: 0;">
                    <h6 class="text-secondary">ENTER
                      ADDRESS</h6>
                  </div>
                  <div class="form-group col-sm-4">
                    <label class="control-label">Address Line One</label><span
                    style="color: red">*</span>
                    <input type="text" class="form-control form-control-sm inp-css"

                           required autocomplete="off">
                  </div>
                  <div class="form-group col-sm-4">
                    <label class="control-label">Address Line Two</label>
                    <input type="text" class="form-control form-control-sm inp-css"
                           autocomplete="off">
                  </div>
                  <div class="form-group col-sm-4">
                    <label class="control-label">Area</label>
                    <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                           >
                  </div>
                  <div class="form-group col-sm-4">
                    <label class="control-label">Pincode</label>
                    <input type="text" class="form-control form-control-sm inp-css" maxlength="10"
                           minlength="4"
                           autocomplete="off"
                          >
                  </div>

                  <div class="form-group col-sm-4">
                    <label class="control-label">City</label>
                  </div>

                  <div class="form-group col-sm-12">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <label class="custom-control-label">Same As Office
                        Address</label>
                    </div>
                  </div>
              </div>
            </div>



        </div>
      </div>

      <div class="information-cards" style="margin-top:2%;">
        <h4 style="font-size: 16px">Contact Details</h4>
        <div class="row" style="margin-top: 2%; margin-left: 0%; width: 100%">

            <div class="form-body">
              <div class="row">
                <div class="form-group col-sm-4">
                  <label class="control-label">Primary Mobile No.</label><span style="color: red">*</span>
                  <input type="text" class="form-control form-control-sm inp-css"

                         maxlength="15" minlength="4"
                         required autocomplete="off">
                </div>
                <div class="form-group col-sm-4">
                  <label class="control-label">Alternate Mobile No.</label>
                  <input type="text" class="form-control form-control-sm inp-css"
                         autocomplete="off"
                         maxlength="15" minlength="4">
                </div>
                <div class="form-group col-sm-4">
                  <label class="control-label">Landline No.</label>
                  <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                         maxlength="15" minlength="4">
                </div>
                <div class="form-group col-sm-4">
                  <label class="control-label">Alternate Landline No.</label>
                  <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                         maxlength="15" minlength="4">
                </div>
                <div class="form-group col-sm-4">
                  <label class="control-label">Email</label><span style="color: red">*</span>
                  <input type="email" class="form-control form-control-sm inp-css" autocomplete="off"
                         id="email"
                          required email>

                </div>

                <div class="form-group col-sm-4">
                  <label class="control-label">Alternate Email</label>
                  <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                        >
                </div>
                <div class="form-group col-sm-4">
                  <label class="control-label">Fax No.</label>
                  <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                         maxlength="15"
                         minlength="4">
                </div>
                <div class="form-group col-sm-4">
                  <label class="control-label">Alternate Fax No.</label>
                  <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                         maxlength="15"
                         minlength="4">
                </div>
              </div>
            </div>
        </div>
      </div>
    &lt;!&ndash;  </form>&ndash;&gt;
      <div style="text-align: end;margin-top: 2%" >
        <button class="btn btn-sm btn-info" type="submit"
                [disabled]="true">
          Submit
        </button>&lt;!&ndash;submitButtonClicked = true;&ndash;&gt;
      </div>-->
    </div>
  </div>
</div>
