<div class="card">
    <div class="card-body">
        <h4 class="card-title" style="font-size: 20px">Sales Difference</h4>
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <div>
                    <span class="display-6 font-weight-normal" style="font-size: 25px">$4316</span>
                    <h6 class="text-muted">(150-165 Sales)</h6>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center flex-column justify-content-end">
                <div style="width: 125px;height: 94px;" class="m-t-15 ml-auto d-flex flex-column">
                    <apx-chart [series]="SalesdifferenceChartOptions.series" [chart]="SalesdifferenceChartOptions.chart"
                        [dataLabels]="SalesdifferenceChartOptions.dataLabels"
                        [legend]="SalesdifferenceChartOptions.legends" [colors]="SalesdifferenceChartOptions.colors"
                        [stroke]="SalesdifferenceChartOptions.stroke" [labels]="SalesdifferenceChartOptions.labels"
                        [tooltip]="SalesdifferenceChartOptions.tooltip"
                        [plotOptions]="SalesdifferenceChartOptions.plotOptions"></apx-chart>
                </div>
            </div>
        </div>

    </div>
</div>
