

<nav class="sidebar-nav" style="border-bottom: 1px solid">
  <!--<div class="csp-logo">
  <a class="navbar-brand" style="position: absolute">
    <b class="logo-icon">
      <img src="../../../assets/images/light-csp-logo-new.png" style="margin-top: -8%;
    height: 39px;
    margin-left: 30%;" alt="homepage" class="light-logo" />
    </b>
    <span class="logo-text" style="position: absolute;color: white;left: 160%;top: 22%;">
          <h3 style="margin-left: -4%; cursor: pointer" routerLink="newExecutionflow">CSP</h3>
  </span>
  </a>
  </div>-->
    <ul id="sidebarnav" class="header-ul" style=" margin-left: 0%">
     <!-- <ng-container  *ngIf="(router.url.includes('/newPm/') || router.url.includes('/newRm/') || router.url.includes('/fgModule/'))">
      <li style="background: black; border-left: 1px solid white; border-right: 1px solid white">
        <div style="width: 155px; display: inline-flex;">
          <div class="dropdown">
            <button class="btn btn-light btn-rounded dropdown-toggle" style=" padding-left: 12px;padding-right: 8px;
             background: #e9ecef;margin-top: 8px;margin-left: 7px; line-height: 1;"
                    type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span style="margin-right: 18px; font-style: italic">{{planName}}</span>
              <i  class="fas fa-pencil-alt"
              style="position: absolute; font-size: 14px; top: 16px;"></i>
            </button>
            <div class="dropdown-menu plan-drop-down" aria-labelledby="dropdownMenuButton">
             <span class="with-arrow">
               <span class="fa fa-caret-up caret-up"></span>
             </span>
              <div class="row caret-row" style="">
                <div class="col-sm-12" style="padding: 2%;color: white;">
                 <h4>Plan Name</h4>
                </div>
              </div>
             <div class="row" style="margin: 1%">
               <div class="col-sm-12">
                 <button class="btn btn-success btn-sm " [disabled]="selectedPlanSubmit"
                         style="margin-top: 1%;margin-left: 77%;"
                         (click)="submitPlan()">Submit</button>
                 <table class="table table-bordered plan-module-table" style="margin-top: 2%">
                   <thead class="text-center">
                    <tr>
                      <th></th>
                      <th>Plan Name</th>
                      <th>Date</th>
                    </tr>
                   </thead>
                   <tbody class="text-center">
                    <tr *ngFor="let mpsHeader of mpsHeaderList; let headerIdx = index" >
                      <td>
                        <input type="radio" name="plan" (click)="selectPlan(mpsHeader)" [checked]="headerIdx ===0"
                               [value]="mpsHeader.id"/>
                      </td>
                      <td>{{mpsHeader?.mpsName}}</td>
                      <td>{{mpsHeader?.mpsDate}}</td>
                    </tr>
                   </tbody>
                 </table>

               </div>

             </div>
            </div>
          </div>
        </div>
      </li>
        &lt;!&ndash;edit modal&ndash;&gt;
       &lt;!&ndash; <i class="fas fa-pencil-alt" data-toggle="modal" data-target="#editModal"></i>&ndash;&gt;
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
             aria-labelledby="editModalLabel" style="position: fixed; top:unset"
             aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content" style="border: 5px solid #00bdda;">
              <div class="modal-header">
                <h5 class="modal-title" style="font-size: 22px" id="editModalLabel">PLAN EDIT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-sm-12">

                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </ng-container>
     -->   <!-- First level menu -->
      <ng-container  *ngIf="modulePage === 'PMView'">
        <li class="sidebar-item " [ngClass]="[sidebarnavItem.ddclass]" [class.active]="showMenu === sidebarnavItem.title"
            *ngFor="let sidebarnavItem of sidebarnavItems"
            [routerLinkActive]="[sidebarnavItem.path] ? '' : 'active'" [routerLinkActiveOptions]="{exact: true}">
            <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title | translate}}</div>
             <a class="sidebar-link header-li waves-effect waves-dark"
                [ngStyle]="{'background-color': sidebarnavItem.bgNavColor,
                          'color': sidebarnavItem.color,
                          'font-size': sidebarnavItem.fontSize,
                           'font-weight': sidebarnavItem.fontWeight}"
                          [routerLink]="sidebarnavItem.class > 0 ? [sidebarnavItem.path] :  null"
                          [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
                          [routerLinkActive]="[sidebarnavItem.path] ? '' : 'active'" >
                          <!-- <i [ngClass]="[sidebarnavItem.icon]"></i> -->
                <i-feather [name]="sidebarnavItem.icon" [ngClass]="[sidebarnavItem.icon]"></i-feather>
                <span class="hide-menu hover-color" style="font-size: 15px" >{{sidebarnavItem.title | translate}}</span>
            </a>
         <!-- [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"-->

            <!-- Second level menu -->
            <ul aria-expanded="false"  class="collapse first-level" *ngIf="sidebarnavItem.submenu.length > 0"
                (click)="addExpandClass(sidebarnavItem.title)" [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
                <li class="sidebar-item " *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu"
                    [class.active]="showSubMenu === sidebarnavSubItem.title && sidebarnavSubItem.path">
                  <a class="sidebar-link  hover-color-effect" (click)="addActiveClass(sidebarnavSubItem.title)"
                       [ngStyle]="{'margin-left': sidebarnavSubItem.bgNavColor,
                             'color': sidebarnavSubItem.color,
                             'font-size': sidebarnavSubItem.fontSize,
                           'font-weight': sidebarnavSubItem.fontWeight,
                           'height':sidebarnavSubItem.height}"
                        [routerLink]="sidebarnavSubItem.path === '' ? null : [sidebarnavSubItem.path]"
                       [routerLinkActive]="[sidebarnavSubItem.path] ? 'active' : ''"
                        [ngClass]="[sidebarnavSubItem.class]" *ngIf="!sidebarnavSubItem.extralink;"
                      >
                        <i [ngClass]="[sidebarnavSubItem.icon]"></i>
                    <span class="hide-menu" style="margin-left: 5px">{{sidebarnavSubItem.title | translate}}</span>
                    </a>


                    <!-- Third level menu -->
                    <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                        [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                        <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                            [class.active]="showSubMenu === sidebarnavSubsubItem.title"
                            [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''">
                            <a class="sidebar-link"
                               [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                               [routerLink]="sidebarnavSubsubItem.class > 0 ? null : [sidebarnavSubsubItem.path]"
                               (mouseover)="addActiveClass(sidebarnavSubsubItem.title)"   *ngIf="!sidebarnavSubsubItem.extralink;"
                                >
                                <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                                <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
     <!--   <li class="sidebar-item"> <div style="width:70px"></div></li>
        <li class="sidebar-item"> <div style="width:70px"></div></li>-->
       <!-- <li class="sidebar-item"> <div style="width:70px"></div></li>-->
       
      </ng-container>
      <ng-container  *ngIf="modulePage === 'RMView'">
        <li class="sidebar-item" [ngClass]="[sidebarnavItem.ddclass]" [class.active]="showMenu === sidebarnavItem.title"
            *ngFor="let sidebarnavItem of sidebarnavItemsRm"
            [routerLinkActive]="[sidebarnavItem.path] ? '' : 'active'" [routerLinkActiveOptions]="{exact: true}">
          <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title | translate}}</div>
          <a class="sidebar-link waves-effect waves-dark"
             [ngStyle]="{'background-color': sidebarnavItem.bgNavColor,
                          'color': sidebarnavItem.color,
                          'font-size': sidebarnavItem.fontSize,
                           'font-weight': sidebarnavItem.fontWeight}"
             [routerLink]="sidebarnavItem.class > 0 ? [sidebarnavItem.path] :  null"
             [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
             [routerLinkActive]="[sidebarnavItem.path]  ? '' : 'active'">
            <!-- <i [ngClass]="[sidebarnavItem.icon]"></i> -->
            <i-feather [name]="sidebarnavItem.icon" [ngClass]="[sidebarnavItem.icon]"></i-feather>
            <span class="hide-menu" style="font-size: 15px" >{{sidebarnavItem.title | translate}}</span>
          </a>
          <!-- [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"-->
          <!-- Second level menu -->
          <ul aria-expanded="false"  class="collapse first-level" *ngIf="sidebarnavItem.submenu.length > 0"
              (click)="addExpandClass(sidebarnavItem.title)"   [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
            <li class="sidebar-item" *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu"
                [class.active]="showSubMenu === sidebarnavSubItem.title && sidebarnavSubItem.path">
              <a class="sidebar-link hover-color-effect" (click)="addActiveClass(sidebarnavSubItem.title)"
                 [ngStyle]="{'margin-left': sidebarnavSubItem.bgNavColor,
                             'color': sidebarnavSubItem.color,
                             'font-size': sidebarnavSubItem.fontSize,
                           'font-weight': sidebarnavSubItem.fontWeight,
                            'height':sidebarnavSubItem.height}"
                 [routerLink]="sidebarnavSubItem.path === '' ? null : [sidebarnavSubItem.path]"
                 [routerLinkActive]="[sidebarnavSubItem] ? 'active' : ''"
                 [ngClass]="[sidebarnavSubItem.class]" *ngIf="!sidebarnavSubItem.extralink;"
                >
                <i [ngClass]="[sidebarnavSubItem.icon]"></i>
                <span class="hide-menu" style="margin-left: 5px">{{sidebarnavSubItem.title | translate}}</span>
              </a>
              <!-- Third level menu -->
              <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                  [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                    [class.active]="showSubMenu ===  sidebarnavSubsubItem.title"
                    [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                >
                  <a class="sidebar-link"
                     [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                     [routerLink]="sidebarnavSubsubItem.class > 0 ? null : [sidebarnavSubsubItem.path]"
                     *ngIf="!sidebarnavSubsubItem.extralink;"
                     (mouseover)="addActiveClass(sidebarnavSubsubItem.title)">
                    <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                    <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
       <!-- <li class="sidebar-item"> <div style="width:70px"></div></li>
        <li class="sidebar-item"> <div style="width:70px"></div></li>-->
        <li class="sidebar-item"> <div style="width:78px"></div></li>
      </ng-container>
      <!--fg module-->
      <ng-container  *ngIf="modulePage === 'FGView'">
        <li class="sidebar-item" [ngClass]="[sidebarnavItem.ddclass]" [class.active]="showMenu === sidebarnavItem.title"
            *ngFor="let sidebarnavItem of sidebarnavItemsFg"
            [routerLinkActive]="[sidebarnavItem.path] ? '' : 'active'" [routerLinkActiveOptions]="{exact: true}">
          <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title | translate}}</div>
          <a class="sidebar-link waves-effect waves-dark"
             [ngStyle]="{'background-color': sidebarnavItem.bgNavColor,
                          'color': sidebarnavItem.color,
                          'font-size': sidebarnavItem.fontSize,
                           'font-weight': sidebarnavItem.fontWeight}"
             [routerLink]="sidebarnavItem.class > 0 ? [sidebarnavItem.path] :  null"
             [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
             [routerLinkActive]="[sidebarnavItem.path]  ? '' : 'active'">
            <!-- <i [ngClass]="[sidebarnavItem.icon]"></i> -->
            <i-feather [name]="sidebarnavItem.icon" [ngClass]="[sidebarnavItem.icon]"></i-feather>
            <span class="hide-menu" style="font-size: 15px" >{{sidebarnavItem.title | translate}}</span>
          </a>
          <!-- [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"-->
          <!-- Second level menu -->
          <ul aria-expanded="false"  class="collapse first-level" *ngIf="sidebarnavItem.submenu.length > 0"
              (click)="addExpandClass(sidebarnavItem.title)"   [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
            <li class="sidebar-item" *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu"
                [class.active]="showSubMenu === sidebarnavSubItem.title && sidebarnavSubItem.path" ><!--   -->
              <a class="sidebar-link hover-color-effect" (click)="addActiveClass(sidebarnavSubItem.title)"
                 [ngStyle]="{'margin-left': sidebarnavSubItem.bgNavColor,
                             'color': sidebarnavSubItem.color,
                             'font-size': sidebarnavSubItem.fontSize,
                           'font-weight': sidebarnavSubItem.fontWeight,
                           'height':sidebarnavSubItem.height}"
                 [routerLink]="sidebarnavSubItem.path=== '' ? null : [sidebarnavSubItem.path]"
                 [routerLinkActive]="[sidebarnavSubItem] ? 'active' : ''"
                 [ngClass]="[sidebarnavSubItem.class]" *ngIf="!sidebarnavSubItem.extralink;"

              ><!--    (mouseover)="addActiveClass(sidebarnavSubItem.title)" -->
                <i [ngClass]="[sidebarnavSubItem.icon]"></i>
                <span class="hide-menu " style="margin-left: 5px">{{sidebarnavSubItem.title | translate}}</span>
              </a>
              <!-- Third level menu -->
              <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                  [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                    [ngClass]="[sidebarnavSubsubItem.class]" >
                  <a class="sidebar-link"
                     [routerLinkActive]="sidebarnavSubsubItem.submenu.length != 0 ? '' : ''"
                     [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                     *ngIf="!sidebarnavSubsubItem.extralink;"
                  >
                    <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                    <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                  </a>
                </li>
              </ul>
             <!-- <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                  [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                    [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                    [class.active]="showSubMenu ===  sidebarnavSubsubItem.title">
                  <a class="sidebar-link"
                     [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                     [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                     *ngIf="!sidebarnavSubsubItem.extralink;"
                     (mouseover)="addActiveClass(sidebarnavSubsubItem.title)"
                  >
                    <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                    <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                  </a>
                </li>
              </ul>-->
            </li>
          </ul>
        </li>
        <!-- <li class="sidebar-item"> <div style="width:70px"></div></li>
         <li class="sidebar-item"> <div style="width:70px"></div></li>-->
      
      </ng-container>
      <ng-container  *ngIf="modulePage === 'AdminPages'">
        <li class="sidebar-item" [ngClass]="[sidebarnavItem.ddclass]" [class.active]="showMenu === sidebarnavItem.title"
            *ngFor="let sidebarnavItem of sidebarnavItemsAdmin"
            [routerLinkActive]="[sidebarnavItem.path] ? '' : 'active'" [routerLinkActiveOptions]="{exact: true}">
          <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title | translate}}</div>
          <a class="sidebar-link waves-effect waves-dark"
             [ngStyle]="{'background-color': sidebarnavItem.bgNavColor,
                          'color': sidebarnavItem.color,
                          'font-size': sidebarnavItem.fontSize,
                           'font-weight': sidebarnavItem.fontWeight}"
             [routerLink]="sidebarnavItem.class > 0 ? [sidebarnavItem.path] :  null"
             [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
             [routerLinkActive]="[sidebarnavItem.path]  ? '' : 'active'">
            <!-- <i [ngClass]="[sidebarnavItem.icon]"></i> -->
            <i-feather [name]="sidebarnavItem.icon" [ngClass]="[sidebarnavItem.icon]"></i-feather>
            <span class="hide-menu" style="font-size: 15px" >{{sidebarnavItem.title | translate}}</span>
          </a>
          <!-- [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"-->
          <!-- Second level menu -->
          <ul aria-expanded="false"  class="collapse first-level" *ngIf="sidebarnavItem.submenu.length > 0"
              (click)="addExpandClass(sidebarnavItem.title)"   [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
            <li class="sidebar-item" *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu"
                [class.active]="showSubMenu === sidebarnavSubItem.title && sidebarnavSubItem.path">
              <a class="sidebar-link"
                 [ngStyle]="{'margin-left': sidebarnavSubItem.bgNavColor,
                             'color': sidebarnavSubItem.color,
                             'font-size': sidebarnavSubItem.fontSize,
                           'font-weight': sidebarnavSubItem.fontWeight,
                            'height':sidebarnavSubItem.height}"
                 [routerLink]="sidebarnavSubItem.path=== '' ? null : [sidebarnavSubItem.path]"
                 [routerLinkActive]="[sidebarnavSubItem] ? 'active' : ''"
                 [ngClass]="[sidebarnavSubItem.class]" *ngIf="!sidebarnavSubItem.extralink;"
                 (mouseover)="addActiveClass(sidebarnavSubItem.title)">
                <i [ngClass]="[sidebarnavSubItem.icon]"></i>
                <span class="hide-menu" style="margin-left: 5px">{{sidebarnavSubItem.title | translate}}</span>
              </a>
              <!-- Third level menu -->
              <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                  [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                    [ngClass]="[sidebarnavSubsubItem.class]" >
                  <a class="sidebar-link"
                     [routerLinkActive]="sidebarnavSubsubItem.submenu.length != 0 ? '' : ''"
                     [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                     *ngIf="!sidebarnavSubsubItem.extralink;"
                  >
                    <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                    <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- <li class="sidebar-item"> <div style="width:70px"></div></li>
         <li class="sidebar-item"> <div style="width:70px"></div></li>-->
      
      </ng-container>

      <ng-container  *ngIf="modulePage === 'AnalystMonthly'">
        <li class="sidebar-item" [ngClass]="[sidebarnavItem.ddclass]" [class.active]="showMenu === sidebarnavItem.title"
            *ngFor="let sidebarnavItem of sidebarnavItemsAnalyzer"
            [routerLinkActive]="[sidebarnavItem.path] ? '' : 'active'" [routerLinkActiveOptions]="{exact: true}">
          <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title | translate}}</div>
          <a class="sidebar-link waves-effect waves-dark"
             [ngStyle]="{'background-color': sidebarnavItem.bgNavColor,
                          'color': sidebarnavItem.color,
                          'font-size': sidebarnavItem.fontSize,
                           'font-weight': sidebarnavItem.fontWeight}"
             [routerLink]="sidebarnavItem.class > 0 ? [sidebarnavItem.path] :  null"
             [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
             [routerLinkActive]="[sidebarnavItem.path]  ? '' : 'active'">
            <!-- <i [ngClass]="[sidebarnavItem.icon]"></i> -->
            <i-feather [name]="sidebarnavItem.icon" [ngClass]="[sidebarnavItem.icon]"></i-feather>
            <span class="hide-menu" style="font-size: 15px" >{{sidebarnavItem.title | translate}}</span>
          </a>
          <!-- [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"-->
          <!-- Second level menu -->
          <ul aria-expanded="false"  class="collapse first-level" *ngIf="sidebarnavItem.submenu.length > 0"
              (click)="addExpandClass(sidebarnavItem.title)"   [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
            <li class="sidebar-item" *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu"
                [class.active]="showSubMenu === sidebarnavSubItem.title  && sidebarnavSubItem.path">
              <a class="sidebar-link"
                 [ngStyle]="{'margin-left': sidebarnavSubItem.bgNavColor,
                             'color': sidebarnavSubItem.color,
                             'font-size': sidebarnavSubItem.fontSize,
                           'font-weight': sidebarnavSubItem.fontWeight,
                            'height':sidebarnavSubItem.height}"
                 [routerLink]="sidebarnavSubItem.path=== '' ? null : [sidebarnavSubItem.path]"
                 [routerLinkActive]="[sidebarnavSubItem] ? 'active' : ''"
                 [ngClass]="[sidebarnavSubItem.class]" *ngIf="!sidebarnavSubItem.extralink;"
                 (mouseover)="addActiveClass(sidebarnavSubItem.title)">
                <i [ngClass]="[sidebarnavSubItem.icon]"></i>
                <span class="hide-menu" style="margin-left: 5px">{{sidebarnavSubItem.title | translate}}</span>
              </a>
              <!-- Third level menu -->
              <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                  [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                    [ngClass]="[sidebarnavSubsubItem.class]" >
                  <a class="sidebar-link"
                     [routerLinkActive]="sidebarnavSubsubItem.submenu.length != 0 ? '' : ''"
                     [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                     *ngIf="!sidebarnavSubsubItem.extralink;"
                  >
                    <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                    <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- <li class="sidebar-item"> <div style="width:70px"></div></li>
         <li class="sidebar-item"> <div style="width:70px"></div></li>-->
      
      </ng-container>

      <ng-container  *ngIf="modulePage === 'FGYearly'">
        <li class="sidebar-item" [ngClass]="[sidebarnavItem.ddclass]" [class.active]="showMenu === sidebarnavItem.title"
            *ngFor="let sidebarnavItem of sidebarnavItemsFgYearly"
            [routerLinkActive]="[sidebarnavItem.path] ? '' : 'active'" [routerLinkActiveOptions]="{exact: true}">
          <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title | translate}}</div>
          <a class="sidebar-link waves-effect waves-dark"
             [ngStyle]="{'background-color': sidebarnavItem.bgNavColor,
                          'color': sidebarnavItem.color,
                          'font-size': sidebarnavItem.fontSize,
                           'font-weight': sidebarnavItem.fontWeight}"
             [routerLink]="sidebarnavItem.class > 0 ? [sidebarnavItem.path] :  null"
             [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
             [routerLinkActive]="[sidebarnavItem.path]  ? '' : 'active'">
            <!-- <i [ngClass]="[sidebarnavItem.icon]"></i> -->
            <i-feather [name]="sidebarnavItem.icon" [ngClass]="[sidebarnavItem.icon]"></i-feather>
            <span class="hide-menu" style="font-size: 15px" >{{sidebarnavItem.title | translate}}</span>
          <!--  <i-feather [name]="sidebarnavItem.icon" [ngClass]="[sidebarnavItem.icon]"></i-feather>-->
          </a>
          <!-- [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"-->
          <!-- Second level menu -->
          <ul aria-expanded="false"  class="collapse first-level" *ngIf="sidebarnavItem.submenu.length > 0"
              (click)="addExpandClass(sidebarnavItem.title)"   [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
            <li class="sidebar-item" *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu"
                [class.active]="showSubMenu === sidebarnavSubItem.title && sidebarnavSubItem.path" ><!--   -->
              <a class="sidebar-link  hover-color-effect" (click)="addActiveClass(sidebarnavSubItem.title)"
                 [ngStyle]="{'margin-left': sidebarnavSubItem.bgNavColor,
                             'color': sidebarnavSubItem.color,
                             'font-size': sidebarnavSubItem.fontSize,
                           'font-weight': sidebarnavSubItem.fontWeight,
                           'height':sidebarnavSubItem.height}"
                 [routerLink]="sidebarnavSubItem.path=== '' ? null : [sidebarnavSubItem.path]"
                 [routerLinkActive]="[sidebarnavSubItem] ? 'active' : ''"
                 [ngClass]="[sidebarnavSubItem.class]" *ngIf="!sidebarnavSubItem.extralink;"
              ><!--   -->
                <i [ngClass]="[sidebarnavSubItem.icon]"></i>
                <span class="hide-menu" style=" margin-left: 5px">{{sidebarnavSubItem.title | translate}}</span>
              </a>
              <!-- Third level menu -->
              <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                  [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                    [ngClass]="[sidebarnavSubsubItem.class]" >
                  <a class="sidebar-link"
                     [routerLinkActive]="sidebarnavSubsubItem.submenu.length != 0 ? '' : ''"
                     [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                     *ngIf="!sidebarnavSubsubItem.extralink;"
                  >
                    <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                    <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                  </a>
                </li>
              </ul>
              <!-- <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                   [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                 <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                     [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                     [class.active]="showSubMenu ===  sidebarnavSubsubItem.title">
                   <a class="sidebar-link"
                      [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                      [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                      *ngIf="!sidebarnavSubsubItem.extralink;"
                      (mouseover)="addActiveClass(sidebarnavSubsubItem.title)"
                   >
                     <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                     <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                   </a>
                 </li>
               </ul>-->
            </li>
          </ul>
        </li>
        <!-- <li class="sidebar-item"> <div style="width:70px"></div></li>
         <li class="sidebar-item"> <div style="width:70px"></div></li>-->
      
      </ng-container>

      <ng-container   *ngIf="modulePage === 'PMYearly'">
        <li class="sidebar-item" [ngClass]="[sidebarnavItem.ddclass]" [class.active]="showMenu === sidebarnavItem.title"
            *ngFor="let sidebarnavItem of sidebarnavItemsPmYearly"
            [routerLinkActive]="[sidebarnavItem.path] ? '' : 'active'" [routerLinkActiveOptions]="{exact: true}">
          <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title | translate}}</div>
          <a class="sidebar-link waves-effect waves-dark"
             [ngStyle]="{'background-color': sidebarnavItem.bgNavColor,
                          'color': sidebarnavItem.color,
                          'font-size': sidebarnavItem.fontSize,
                           'font-weight': sidebarnavItem.fontWeight}"
             [routerLink]="sidebarnavItem.class > 0 ? [sidebarnavItem.path] :  null"
             [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
             [routerLinkActive]="[sidebarnavItem.path]  ? '' : 'active'">
            <!-- <i [ngClass]="[sidebarnavItem.icon]"></i> -->
              <i-feather [name]="sidebarnavItem.icon" [ngClass]="[sidebarnavItem.icon]"></i-feather>
            <span class="hide-menu" style="font-size: 15px;" >{{sidebarnavItem.title | translate}}</span>
          </a>
          <!-- [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"-->
          <!-- Second level menu -->
          <ul aria-expanded="false"  class="collapse first-level" *ngIf="sidebarnavItem.submenu.length > 0"
              (click)="addExpandClass(sidebarnavItem.title)"   [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
            <li class="sidebar-item" *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu"
                [class.active]="showSubMenu === sidebarnavSubItem.title && sidebarnavSubItem.path" ><!--   -->
              <a class="sidebar-link  hover-color-effect" (click)="addActiveClass(sidebarnavSubItem.title)"
                 [ngStyle]="{'margin-left': sidebarnavSubItem.bgNavColor,
                             'color': sidebarnavSubItem.color,
                             'font-size': sidebarnavSubItem.fontSize,
                           'font-weight': sidebarnavSubItem.fontWeight,
                           'height':sidebarnavSubItem.height}"
                 [routerLink]="sidebarnavSubItem.path=== '' ? null : [sidebarnavSubItem.path]"
                 [routerLinkActive]="[sidebarnavSubItem] ? 'active' : ''"
                 [ngClass]="[sidebarnavSubItem.class]" *ngIf="!sidebarnavSubItem.extralink;"
              ><!--   -->
                <i [ngClass]="[sidebarnavSubItem.icon]"></i>
                <span class="hide-menu" style=" margin-left: 5px">{{sidebarnavSubItem.title | translate}}</span>
              </a>
              <!-- Third level menu -->
              <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                  [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                    [ngClass]="[sidebarnavSubsubItem.class]" >
                  <a class="sidebar-link"
                     [routerLinkActive]="sidebarnavSubsubItem.submenu.length != 0 ? '' : ''"
                     [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                     *ngIf="!sidebarnavSubsubItem.extralink;"
                  >
                    <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                    <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                  </a>
                </li>
              </ul>
              <!-- <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                   [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                 <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                     [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                     [class.active]="showSubMenu ===  sidebarnavSubsubItem.title">
                   <a class="sidebar-link"
                      [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                      [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                      *ngIf="!sidebarnavSubsubItem.extralink;"
                      (mouseover)="addActiveClass(sidebarnavSubsubItem.title)"
                   >
                     <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                     <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                   </a>
                 </li>
               </ul>-->
            </li>
          </ul>
        </li>
        <!-- <li class="sidebar-item"> <div style="width:70px"></div></li>
         <li class="sidebar-item"> <div style="width:70px"></div></li>-->
      
      </ng-container>

      <ng-container  *ngIf="modulePage === 'RMYearly'">
        <li class="sidebar-item" [ngClass]="[sidebarnavItem.ddclass]" [class.active]="showMenu === sidebarnavItem.title"
            *ngFor="let sidebarnavItem of sidebarnavItemsRmYearly"
            [routerLinkActive]="[sidebarnavItem.path] ? '' : 'active'" [routerLinkActiveOptions]="{exact: true}">
          <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title | translate}}</div>
          <a class="sidebar-link waves-effect waves-dark"
             [ngStyle]="{'background-color': sidebarnavItem.bgNavColor,
                          'color': sidebarnavItem.color,
                          'font-size': sidebarnavItem.fontSize,
                           'font-weight': sidebarnavItem.fontWeight}"
             [routerLink]="sidebarnavItem.class > 0 ? [sidebarnavItem.path] :  null"
             [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
             [routerLinkActive]="[sidebarnavItem.path]  ? '' : 'active'">
            <!-- <i [ngClass]="[sidebarnavItem.icon]"></i> -->
            <i-feather [name]="sidebarnavItem.icon" [ngClass]="[sidebarnavItem.icon]"></i-feather>
            <span class="hide-menu" style="font-size: 15px;" >{{sidebarnavItem.title | translate}}</span>
          </a>
          <!-- [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"-->
          <!-- Second level menu -->
          <ul aria-expanded="false"  class="collapse first-level" *ngIf="sidebarnavItem.submenu.length > 0"
              (click)="addExpandClass(sidebarnavItem.title)"   [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
            <li class="sidebar-item" *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu"
                [class.active]="showSubMenu === sidebarnavSubItem.title && sidebarnavSubItem.path" ><!--   -->
              <a class="sidebar-link  hover-color-effect" (click)="addActiveClass(sidebarnavSubItem.title)"
                 [ngStyle]="{'margin-left': sidebarnavSubItem.bgNavColor,
                             'color': sidebarnavSubItem.color,
                             'font-size': sidebarnavSubItem.fontSize,
                           'font-weight': sidebarnavSubItem.fontWeight,
                           'height':sidebarnavSubItem.height}"
                 [routerLink]="sidebarnavSubItem.path=== '' ? null : [sidebarnavSubItem.path]"
                 [routerLinkActive]="[sidebarnavSubItem] ? 'active' : ''"
                 [ngClass]="[sidebarnavSubItem.class]" *ngIf="!sidebarnavSubItem.extralink;"
              ><!--   -->
                <i [ngClass]="[sidebarnavSubItem.icon]"></i>
                <span class="hide-menu" style=" margin-left: 5px">{{sidebarnavSubItem.title | translate}}</span>
              </a>
              <!-- Third level menu -->
              <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                  [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                    [ngClass]="[sidebarnavSubsubItem.class]" >
                  <a class="sidebar-link"
                     [routerLinkActive]="sidebarnavSubsubItem.submenu.length != 0 ? '' : ''"
                     [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                     *ngIf="!sidebarnavSubsubItem.extralink;"
                  >
                    <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                    <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                  </a>
                </li>
              </ul>
              <!-- <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                   [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                 <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                     [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                     [class.active]="showSubMenu ===  sidebarnavSubsubItem.title">
                   <a class="sidebar-link"
                      [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                      [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                      *ngIf="!sidebarnavSubsubItem.extralink;"
                      (mouseover)="addActiveClass(sidebarnavSubsubItem.title)"
                   >
                     <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                     <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                   </a>
                 </li>
               </ul>-->
            </li>
          </ul>
        </li>
        <!-- <li class="sidebar-item"> <div style="width:70px"></div></li>
         <li class="sidebar-item"> <div style="width:70px"></div></li>-->
      
      </ng-container>
      <ng-container  *ngIf="modulePage === 'AllYrAnalyst'">
        <li class="sidebar-item" [ngClass]="[sidebarnavItem.ddclass]" [class.active]="showMenu === sidebarnavItem.title"
            *ngFor="let sidebarnavItem of sidebarnavItemsAnalyzerYr"
            [routerLinkActive]="[sidebarnavItem.path] ? '' : 'active'" [routerLinkActiveOptions]="{exact: true}">
          <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title | translate}}</div>
          <a class="sidebar-link waves-effect waves-dark"
             [ngStyle]="{'background-color': sidebarnavItem.bgNavColor,
                          'color': sidebarnavItem.color,
                          'font-size': sidebarnavItem.fontSize,
                           'font-weight': sidebarnavItem.fontWeight}"
             [routerLink]="sidebarnavItem.class > 0 ? [sidebarnavItem.path] :  null"
             [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
             [routerLinkActive]="[sidebarnavItem.path]  ? '' : 'active'">
            <!-- <i [ngClass]="[sidebarnavItem.icon]"></i> -->
            <i-feather [name]="sidebarnavItem.icon" [ngClass]="[sidebarnavItem.icon]"></i-feather>
            <span class="hide-menu" style="font-size: 15px;" >{{sidebarnavItem.title | translate}}</span>
          </a>
          <!-- [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"-->
          <!-- Second level menu -->
          <ul aria-expanded="false"  class="collapse first-level" *ngIf="sidebarnavItem.submenu.length > 0"
              (click)="addExpandClass(sidebarnavItem.title)"   [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
            <li class="sidebar-item" *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu"
                [class.active]="showSubMenu === sidebarnavSubItem.title && sidebarnavSubItem.path" ><!--   -->
              <a class="sidebar-link"
                 [ngStyle]="{'margin-left': sidebarnavSubItem.bgNavColor,
                             'color': sidebarnavSubItem.color,
                             'font-size': sidebarnavSubItem.fontSize,
                           'font-weight': sidebarnavSubItem.fontWeight,
                           'height':sidebarnavSubItem.height}"
                 [routerLink]="sidebarnavSubItem.path=== '' ? null : [sidebarnavSubItem.path]"
                 [routerLinkActive]="[sidebarnavSubItem] ? 'active' : ''"
                 [ngClass]="[sidebarnavSubItem.class]" *ngIf="!sidebarnavSubItem.extralink;"
                 (mouseover)="addActiveClass(sidebarnavSubItem.title)"
              ><!--   -->
                <i [ngClass]="[sidebarnavSubItem.icon]"></i>
                <span class="hide-menu" style=" margin-left: 5px">{{sidebarnavSubItem.title | translate}}</span>
              </a>
              <!-- Third level menu -->
              <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                  [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                    [ngClass]="[sidebarnavSubsubItem.class]" >
                  <a class="sidebar-link"
                     [routerLinkActive]="sidebarnavSubsubItem.submenu.length != 0 ? '' : ''"
                     [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                     *ngIf="!sidebarnavSubsubItem.extralink;"
                  >
                    <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                    <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                  </a>
                </li>
              </ul>
              <!-- <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                   [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                 <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                     [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                     [class.active]="showSubMenu ===  sidebarnavSubsubItem.title">
                   <a class="sidebar-link"
                      [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                      [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                      *ngIf="!sidebarnavSubsubItem.extralink;"
                      (mouseover)="addActiveClass(sidebarnavSubsubItem.title)"
                   >
                     <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                     <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                   </a>
                 </li>
               </ul>-->
            </li>
          </ul>
        </li>
        <!-- <li class="sidebar-item"> <div style="width:70px"></div></li>
         <li class="sidebar-item"> <div style="width:70px"></div></li>-->
      
      </ng-container>

      <ng-container  *ngIf="modulePage === 'FGBkup'">
        <li class="sidebar-item" [ngClass]="[sidebarnavItem.ddclass]" [class.active]="showMenu === sidebarnavItem.title"
            *ngFor="let sidebarnavItem of sidebarnavItemsFgBackup"
            [routerLinkActive]="[sidebarnavItem.path] ? '' : 'active'" [routerLinkActiveOptions]="{exact: true}">
          <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title | translate}}</div>
          <a class="sidebar-link waves-effect waves-dark"
             [ngStyle]="{'background-color': sidebarnavItem.bgNavColor,
                          'color': sidebarnavItem.color,
                          'font-size': sidebarnavItem.fontSize,
                           'font-weight': sidebarnavItem.fontWeight}"
             [routerLink]="sidebarnavItem.class > 0 ? [sidebarnavItem.path] :  null"
             [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
             [routerLinkActive]="[sidebarnavItem.path]  ? '' : 'active'">
            <!-- <i [ngClass]="[sidebarnavItem.icon]"></i> -->
            <i-feather [name]="sidebarnavItem.icon" [ngClass]="[sidebarnavItem.icon]"></i-feather>
            <span class="hide-menu" style="font-size: 15px;" >{{sidebarnavItem.title | translate}}</span>
          </a>
          <!-- [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"-->
          <!-- Second level menu -->
          <ul aria-expanded="false"  class="collapse first-level" *ngIf="sidebarnavItem.submenu.length > 0"
              (click)="addExpandClass(sidebarnavItem.title)"   [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
            <li class="sidebar-item" *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu"
                [class.active]="showSubMenu === sidebarnavSubItem.title && sidebarnavSubItem.path" ><!--   -->
              <a class="sidebar-link"
                 [ngStyle]="{'margin-left': sidebarnavSubItem.bgNavColor,
                             'color': sidebarnavSubItem.color,
                             'font-size': sidebarnavSubItem.fontSize,
                           'font-weight': sidebarnavSubItem.fontWeight,
                           'height':sidebarnavSubItem.height}"
                 [routerLink]="sidebarnavSubItem.path=== '' ? null : [sidebarnavSubItem.path]"
                 [routerLinkActive]="[sidebarnavSubItem] ? 'active' : ''"
                 [ngClass]="[sidebarnavSubItem.class]" *ngIf="!sidebarnavSubItem.extralink;"
                 (mouseover)="addActiveClass(sidebarnavSubItem.title)"
              ><!--   -->
                <i [ngClass]="[sidebarnavSubItem.icon]"></i>
                <span class="hide-menu" style=" margin-left: 5px">{{sidebarnavSubItem.title | translate}}</span>
              </a>
              <!-- Third level menu -->
              <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                  [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                    [ngClass]="[sidebarnavSubsubItem.class]" >
                  <a class="sidebar-link"
                     [routerLinkActive]="sidebarnavSubsubItem.submenu.length != 0 ? '' : ''"
                     [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                     *ngIf="!sidebarnavSubsubItem.extralink;"
                  >
                    <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                    <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                  </a>
                </li>
              </ul>
              <!-- <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                   [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                 <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                     [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                     [class.active]="showSubMenu ===  sidebarnavSubsubItem.title">
                   <a class="sidebar-link"
                      [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                      [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                      *ngIf="!sidebarnavSubsubItem.extralink;"
                      (mouseover)="addActiveClass(sidebarnavSubsubItem.title)"
                   >
                     <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                     <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                   </a>
                 </li>
               </ul>-->
            </li>
          </ul>
        </li>
        <!-- <li class="sidebar-item"> <div style="width:70px"></div></li>
         <li class="sidebar-item"> <div style="width:70px"></div></li>-->
      
      </ng-container>

      <ng-container  *ngIf="modulePage === 'RMBkup'">
        <li class="sidebar-item" [ngClass]="[sidebarnavItem.ddclass]" [class.active]="showMenu === sidebarnavItem.title"
            *ngFor="let sidebarnavItem of sidebarnavItemsRmBackup"
            [routerLinkActive]="[sidebarnavItem.path] ? '' : 'active'" [routerLinkActiveOptions]="{exact: true}">
          <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title | translate}}</div>
          <a class="sidebar-link waves-effect waves-dark"
             [ngStyle]="{'background-color': sidebarnavItem.bgNavColor,
                          'color': sidebarnavItem.color,
                          'font-size': sidebarnavItem.fontSize,
                           'font-weight': sidebarnavItem.fontWeight}"
             [routerLink]="sidebarnavItem.class > 0 ? [sidebarnavItem.path] :  null"
             [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
             [routerLinkActive]="[sidebarnavItem.path]  ? '' : 'active'">
            <!-- <i [ngClass]="[sidebarnavItem.icon]"></i> -->
            <i-feather [name]="sidebarnavItem.icon" [ngClass]="[sidebarnavItem.icon]"></i-feather>
            <span class="hide-menu" style="font-size: 15px;" >{{sidebarnavItem.title | translate}}</span>
          </a>
          <!-- [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"-->
          <!-- Second level menu -->
          <ul aria-expanded="false"  class="collapse first-level" *ngIf="sidebarnavItem.submenu.length > 0"
              (click)="addExpandClass(sidebarnavItem.title)"   [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
            <li class="sidebar-item" *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu"
                [class.active]="showSubMenu === sidebarnavSubItem.title && sidebarnavSubItem.path" ><!--   -->
              <a class="sidebar-link"
                 [ngStyle]="{'margin-left': sidebarnavSubItem.bgNavColor,
                             'color': sidebarnavSubItem.color,
                             'font-size': sidebarnavSubItem.fontSize,
                           'font-weight': sidebarnavSubItem.fontWeight,
                           'height':sidebarnavSubItem.height}"
                 [routerLink]="sidebarnavSubItem.path=== '' ? null : [sidebarnavSubItem.path]"
                 [routerLinkActive]="[sidebarnavSubItem] ? 'active' : ''"
                 [ngClass]="[sidebarnavSubItem.class]" *ngIf="!sidebarnavSubItem.extralink;"
                 (mouseover)="addActiveClass(sidebarnavSubItem.title)"
              ><!--   -->
                <i [ngClass]="[sidebarnavSubItem.icon]"></i>
                <span class="hide-menu" style=" margin-left: 5px">{{sidebarnavSubItem.title | translate}}</span>
              </a>
              <!-- Third level menu -->
              <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                  [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                    [ngClass]="[sidebarnavSubsubItem.class]" >
                  <a class="sidebar-link"
                     [routerLinkActive]="sidebarnavSubsubItem.submenu.length != 0 ? '' : ''"
                     [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                     *ngIf="!sidebarnavSubsubItem.extralink;"
                  >
                    <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                    <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                  </a>
                </li>
              </ul>
              <!-- <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                   [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                 <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                     [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                     [class.active]="showSubMenu ===  sidebarnavSubsubItem.title">
                   <a class="sidebar-link"
                      [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                      [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                      *ngIf="!sidebarnavSubsubItem.extralink;"
                      (mouseover)="addActiveClass(sidebarnavSubsubItem.title)"
                   >
                     <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                     <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                   </a>
                 </li>
               </ul>-->
            </li>
          </ul>
        </li>
        <!-- <li class="sidebar-item"> <div style="width:70px"></div></li>
         <li class="sidebar-item"> <div style="width:70px"></div></li>-->
      
      </ng-container>

      <ng-container  *ngIf="modulePage === 'PMBkup'">
        <li class="sidebar-item" [ngClass]="[sidebarnavItem.ddclass]" [class.active]="showMenu === sidebarnavItem.title"
            *ngFor="let sidebarnavItem of sidebarnavItemsPmBackup"
            [routerLinkActive]="[sidebarnavItem.path] ? '' : 'active'" [routerLinkActiveOptions]="{exact: true}">
          <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title | translate}}</div>
          <a class="sidebar-link waves-effect waves-dark"
             [ngStyle]="{'background-color': sidebarnavItem.bgNavColor,
                          'color': sidebarnavItem.color,
                          'font-size': sidebarnavItem.fontSize,
                           'font-weight': sidebarnavItem.fontWeight}"
             [routerLink]="sidebarnavItem.class > 0 ? [sidebarnavItem.path] :  null"
             [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
             [routerLinkActive]="[sidebarnavItem.path]  ? '' : 'active'">
            <!-- <i [ngClass]="[sidebarnavItem.icon]"></i> -->
            <i-feather [name]="sidebarnavItem.icon" [ngClass]="[sidebarnavItem.icon]"></i-feather>
            <span class="hide-menu" style="font-size: 15px;" >{{sidebarnavItem.title | translate}}</span>
          </a>
          <!-- [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"-->
          <!-- Second level menu -->
          <ul aria-expanded="false"  class="collapse first-level" *ngIf="sidebarnavItem.submenu.length > 0"
              (click)="addExpandClass(sidebarnavItem.title)"   [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
            <li class="sidebar-item" *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu"
                [class.active]="showSubMenu === sidebarnavSubItem.title && sidebarnavSubItem.path" ><!--   -->
              <a class="sidebar-link"
                 [ngStyle]="{'margin-left': sidebarnavSubItem.bgNavColor,
                             'color': sidebarnavSubItem.color,
                             'font-size': sidebarnavSubItem.fontSize,
                           'font-weight': sidebarnavSubItem.fontWeight,
                           'height':sidebarnavSubItem.height}"
                 [routerLink]="sidebarnavSubItem.path=== '' ? null : [sidebarnavSubItem.path]"
                 [routerLinkActive]="[sidebarnavSubItem] ? 'active' : ''"
                 [ngClass]="[sidebarnavSubItem.class]" *ngIf="!sidebarnavSubItem.extralink;"
                 (mouseover)="addActiveClass(sidebarnavSubItem.title)"
              ><!--   -->
                <i [ngClass]="[sidebarnavSubItem.icon]"></i>
                <span class="hide-menu" style=" margin-left: 5px">{{sidebarnavSubItem.title | translate}}</span>
              </a>
              <!-- Third level menu -->
              <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                  [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                    [ngClass]="[sidebarnavSubsubItem.class]" >
                  <a class="sidebar-link"
                     [routerLinkActive]="sidebarnavSubsubItem.submenu.length != 0 ? '' : ''"
                     [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                     *ngIf="!sidebarnavSubsubItem.extralink;"
                  >
                    <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                    <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                  </a>
                </li>
              </ul>
              <!-- <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                   [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                 <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                     [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                     [class.active]="showSubMenu ===  sidebarnavSubsubItem.title">
                   <a class="sidebar-link"
                      [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                      [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                      *ngIf="!sidebarnavSubsubItem.extralink;"
                      (mouseover)="addActiveClass(sidebarnavSubsubItem.title)"
                   >
                     <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                     <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                   </a>
                 </li>
               </ul>-->
            </li>
          </ul>
        </li>
        <!-- <li class="sidebar-item"> <div style="width:70px"></div></li>
         <li class="sidebar-item"> <div style="width:70px"></div></li>-->
      
      </ng-container>

      <ng-container  *ngIf="modulePage === 'ALLBkup'">
        <li class="sidebar-item" [ngClass]="[sidebarnavItem.ddclass]" [class.active]="showMenu === sidebarnavItem.title"
            *ngFor="let sidebarnavItem of sidebarnavItemsAnalyzerBk"
            [routerLinkActive]="[sidebarnavItem.path] ? '' : 'active'" [routerLinkActiveOptions]="{exact: true}">
          <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title | translate}}</div>
          <a class="sidebar-link waves-effect waves-dark"
             [ngStyle]="{'background-color': sidebarnavItem.bgNavColor,
                          'color': sidebarnavItem.color,
                          'font-size': sidebarnavItem.fontSize,
                           'font-weight': sidebarnavItem.fontWeight}"
             [routerLink]="sidebarnavItem.class > 0 ? [sidebarnavItem.path] :  null"
             [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
             [routerLinkActive]="[sidebarnavItem.path]  ? '' : 'active'">
            <!-- <i [ngClass]="[sidebarnavItem.icon]"></i> -->
            <i-feather [name]="sidebarnavItem.icon" [ngClass]="[sidebarnavItem.icon]"></i-feather>
            <span class="hide-menu" style="font-size: 15px;" >{{sidebarnavItem.title | translate}}</span>
          </a>
          <!-- [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"-->
          <!-- Second level menu -->
          <ul aria-expanded="false"  class="collapse first-level" *ngIf="sidebarnavItem.submenu.length > 0"
              (click)="addExpandClass(sidebarnavItem.title)"   [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
            <li class="sidebar-item" *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu"
                [class.active]="showSubMenu === sidebarnavSubItem.title && sidebarnavSubItem.path" ><!--   -->
              <a class="sidebar-link"
                 [ngStyle]="{'margin-left': sidebarnavSubItem.bgNavColor,
                             'color': sidebarnavSubItem.color,
                             'font-size': sidebarnavSubItem.fontSize,
                           'font-weight': sidebarnavSubItem.fontWeight,
                           'height':sidebarnavSubItem.height}"
                 [routerLink]="sidebarnavSubItem.path=== '' ? null : [sidebarnavSubItem.path]"
                 [routerLinkActive]="[sidebarnavSubItem] ? 'active' : ''"
                 [ngClass]="[sidebarnavSubItem.class]" *ngIf="!sidebarnavSubItem.extralink;"
                 (mouseover)="addActiveClass(sidebarnavSubItem.title)"
              ><!--   -->
                <i [ngClass]="[sidebarnavSubItem.icon]"></i>
                <span class="hide-menu" style=" margin-left: 5px">{{sidebarnavSubItem.title | translate}}</span>
              </a>
              <!-- Third level menu -->
              <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                  [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                    [ngClass]="[sidebarnavSubsubItem.class]" >
                  <a class="sidebar-link"
                     [routerLinkActive]="sidebarnavSubsubItem.submenu.length != 0 ? '' : ''"
                     [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                     *ngIf="!sidebarnavSubsubItem.extralink;"
                  >
                    <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                    <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                  </a>
                </li>
              </ul>
              <!-- <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
                   [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                 <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                     [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                     [class.active]="showSubMenu ===  sidebarnavSubsubItem.title">
                   <a class="sidebar-link"
                      [routerLinkActive]="[sidebarnavSubsubItem] ? 'active' : ''"
                      [routerLink]="sidebarnavSubsubItem.submenu.length > 0 ? null : [sidebarnavSubsubItem.path]"
                      *ngIf="!sidebarnavSubsubItem.extralink;"
                      (mouseover)="addActiveClass(sidebarnavSubsubItem.title)"
                   >
                     <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                     <span class="hide-menu" style="font-size: 14px; margin-left: 5px">{{sidebarnavSubsubItem.title | translate}}</span>
                   </a>
                 </li>
               </ul>-->
            </li>
          </ul>
        </li>
        <!-- <li class="sidebar-item"> <div style="width:70px"></div></li>
         <li class="sidebar-item"> <div style="width:70px"></div></li>-->

      </ng-container>
      <li class="sidebar-item">

       <!-- <div style="height: 35px;
    display: flex;
    align-items: center;
    justify-content: end;"   [ngClass]="
            {'backupall': modulePage ==='RMBkup' ||  modulePage ==='PMBkup' ||  modulePage ==='FGBkup' ||  modulePage ==='ALLBkup',
              'pmview' : modulePage ==='PMView',
              'rmview' : modulePage ==='RMView',
              'fgview' : modulePage ==='FGView',
               'analystannual' : modulePage ==='AnalystMonthly',
               'fgyrly' : modulePage ==='FGYearly',
              'rmyrly' : modulePage ==='RMYearly',
              'pmyrly' : modulePage ==='PMYearly',
              'allyrly' : modulePage ==='AllYrAnalyst'
            }">
        &lt;!&ndash;  <button class="btn btn-light btn-sm hm-btn-css"
                  routerLink="/newExecutionflow">
            <img src="../../../assets/images/userhome2.png" style="    width: 18px;
    height: 18px;
    margin-top: -2px;">User Home
          </button>&ndash;&gt;
          <button class="btn btn-light btn-sm hm-btn-css"
                  (click)="homePage()">
            <i class="mdi mdi-home" style="font-size: 18px"></i>
            Module Home
          </button>
          &lt;!&ndash;<button class="btn btn-light btn-sm hm-btn-css"
                  (click)="backClicked()"  >
            <i class="fas fa-arrow-circle-left" style="font-size: 14px"></i>
            Back
          </button>&ndash;&gt;
      </div>-->
      </li>




      <ng-container *ngIf = "!(modulePage === 'PMView' || modulePage === 'RMView' || modulePage === 'FGView')">
        <li class="sidebar-item">
          <div style="width:70px"></div>
        </li>
        <li class="sidebar-item"> <div style="width:70px"></div></li>
        <li class="sidebar-item"> <div style="width:70px"></div></li>
        <li class="sidebar-item"> <div style="width:70px"></div></li>
        <li class="sidebar-item"> <div style="width:70px"></div></li>
        <li class="sidebar-item"> <div style="width:70px"></div></li>
        <li class="sidebar-item"> <div style="width:70px"></div></li>
        <li class="sidebar-item"> <div style="width:70px"></div></li>
        <li class="sidebar-item"> <div style="width:70px"></div></li>
        <li class="sidebar-item"> <div style="width:70px"></div></li>
        <li class="sidebar-item"> <div style="width:70px"></div></li>
        <li class="sidebar-item"> <div style="width:70px"></div></li>
        <li class="sidebar-item"> <div style="width:70px"></div></li>
        <li class="sidebar-item"> <div style="width:70px"></div></li>
        <li class="sidebar-item"> <div style="width:120px"></div></li>

      </ng-container>

     <!-- <li class="sidebar-item">
        <div style="width:70px"></div>
      </li>-->
     <!-- <li class="sidebar-item"> <div style="width:70px"></div></li>
      <li class="sidebar-item"> <div style="width:70px"></div></li>
      <li class="sidebar-item"> <div style="width:70px"></div></li>-->
    <!--  <li class="sidebar-item"> <div style="width:70px"></div></li>
      <li class="sidebar-item"> <div style="width:70px"></div></li>-->
      <!--<li class="sidebar-item"> <div style="width:90px"></div></li>
      <li class="sidebar-item"> <div style="width:20px"></div></li>-->
    <!--  <li class="sidebar-item">
        <div style="width:100px">
          <h5 class="module-text">
            <ng-container *ngIf="(router.url.includes('/newPm/'))">
            <span>PM</span>
            </ng-container>
            <ng-container *ngIf="(router.url.includes('/newRm/'))">
              <span style="margin-left: 71%">RM</span>
            </ng-container>
            <ng-container *ngIf="(router.url.includes('/fgModule/'))">
              <span style="margin-left: 71%">FG</span>
            </ng-container>
          </h5>
        </div>
      </li>

      <li class="sidebar-item" ngbDropdown placement="bottom-right" style="width: 120px;">
        <ng-container *ngIf="(router.url.includes('/newPm/') ||   router.url == '/newExecutionflow')" >
        <a ngbDropdownToggle class="nav-link text-muted waves-effect waves-dark pro-pic" href="javascript:void(0)"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: -24%; margin-top: -1%">
          <img src="../../../assets/images/users/default-profile-pic2.png"
               style="width: 35px; height: 35px"
               alt="user" class="rounded-circle" width="31">
        </a>
        <div class="dropdown-menu-right user-dd" ngbDropdownMenu style="padding-bottom: 0px; margin-top: 0px; margin-left: 20%">
          <a class="dropdown-item" href="javascript:void(0)" (click)="logOutPage()">
            <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
        </div>
        </ng-container>
        <ng-container *ngIf="(router.url.includes('/newRm/') || router.url.includes('/fgModule/'))" >
          <a ngbDropdownToggle class="nav-link text-muted waves-effect waves-dark pro-pic" href="javascript:void(0)"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 12%; margin-top: -1%">
            <img src="../../../assets/images/users/default-profile-pic2.png"
                 style="width: 35px; height: 35px"
                 alt="user" class="rounded-circle" width="31">
          </a>
          <div class="dropdown-menu-right user-dd" ngbDropdownMenu style="padding-bottom: 0px; margin-top: 0px; margin-left: 20%">
            <a class="dropdown-item" href="javascript:void(0)" (click)="logOutPage()">
              <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
          </div>
        </ng-container>
      </li>-->
    </ul>

</nav>



