.master-btn{
  margin: 20px;
 /* background-color: lightgray;*/
  padding: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
  background-color: #f0f0f0;
}
.master-btn:hover{
  background-color: lightgray;
}


.masters-card{
  border: 2px solid lightslategrey;
  padding: 1%;
  margin-bottom: 0px;
  background: white;
  height: 80.06088280060882vh;
  overflow-x: hidden;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 6%;
}








