<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <li class="breadcrumb-item active">Masters Management</li>
                    <li class="breadcrumb-item  text-dark font-weight-bold">Masters</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="masters-card">
      <div class="row">
        <ng-container *ngFor="let master of mastersList;let i=index">
        <div class="col-sm-3 btn-group">
          <button
            data-target='#masterModal'
            data-toggle="modal"
            class="btn btn-md master-btn"
            (click)="loadMasterData(master[0],master[1])">
            {{master[0]}}
          </button>
        </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>










<!--old code-->
<!--

<div class="container-fluid" style="padding-bottom: 1px" xmlns="http://www.w3.org/1999/html">
  <div class="card master-crd">
    <div class="card-header" style="background: lightgoldenrodyellow">
      <div class="card-title"><strong style="font-size: 22px">Masters</strong></div>
    </div>

    <div class="row" style="width: 100%; margin-left: 0%; margin-top: 15px">
      <div class="col-sm-12">
        <div class="btn-card">

          <div class="row">
            <div class="col-sm-3 btn-group" *ngFor="let master of mastersList;let i=index">
              &lt;!&ndash;routerLink='{{master[1]}}'&ndash;&gt;
              <button
                data-target='#masterModal'
                data-toggle="modal"
                class="btn btn-md master-btn"
                (click)="loadMasterData(master[0],master[1])">
                {{master[0]}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<!--masters modal-->
<div id="masterModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true"
     data-backdrop="static">
  <!--<router-outlet></router-outlet>-->
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" style="width: 40%; margin-left: 35%">
      <div class="modal-header" style="padding-bottom: 1%; background: lightgoldenrodyellow">
        <label style="font-size: 22px">{{currentMasterName}}</label>
        <h4 style="cursor: pointer; font-size: 24px" data-dismiss="modal" class="pull-right">x</h4>
      </div>
      <div class="modal-body" style="margin-left: -5%; margin-right: -5%; margin-bottom: -9%">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
