*{
  font-family: Calibri;
}


.piechart {
  height: 360px;
  width: 280px;
  margin: 0 auto;
}


.fontSizeTabs {
  font-weight: 500;
  font-size: 20px;
  padding-top: 4px;
  padding-bottom: 3px;
}

.tab-css.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: lightgrey lightgrey #fff;
}


.pro-plan-scroll-table{
  border: 1px solid lightgrey;
  height: 345px;
  overflow-x: hidden;
  background: white;
}
.final-pro-plan-table th, td{
  padding: 4px;
  border:1px solid lightgrey;
}
.final-pro-plan-table th{
  font-size: 14px;
  font-weight: bold;
}
.final-pro-plan-table td{
  font-size: 12px;
}
.search-css{
  height: 29px;
  border: none;
  border-bottom: 1px solid grey;
  background: lightgoldenrodyellow;
}
.ti-search:before {
  content: "\e610";
  font-family: themify;
}
