<!-- Row -->
<!--<div class="row">
    <div class="col-12">
        &lt;!&ndash; You can find this in the dashboard-component &ndash;&gt;
        <app-income-counter></app-income-counter>
    </div>
</div>-->
<div class="page-breadcrumb">
  <div class="row" >
    <div class="col-md-5 align-self-center">
      <h4 class="page-title" style="font-weight: 500; font-size: 21px; color: #6a7a8c">Modern Dashboard</h4>
    </div>
    <div class="col-md-7 align-self-center">
      <div class="d-flex align-items-center justify-content-start justify-content-md-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <ng-template>
              <li class="breadcrumb-item" >
                <a></a>
              </li>
              <li class="breadcrumb-item active"></li>
            </ng-template>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 1%">
  <div class="col-lg-6 col-md-12">
    <app-sales-ratio></app-sales-ratio>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <app-sales-graph></app-sales-graph>
      </div>
      <div class="col-lg-6 col-md-12">
        <app-climate></app-climate>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <app-main-balance></app-main-balance>
      </div>
    </div>
  </div>
</div>
<!--<div class="row">
  <div class="col-lg-6 col-md-12">
    <app-sales-ratio></app-sales-ratio>
  </div>
  <div class="col-lg-3 col-md-6">
    <app-sales-graph></app-sales-graph>
  </div>
  <div class="col-lg-3 col-md-6">
    <app-climate></app-climate>
  </div>
</div>-->
<!-- Row -->
<!-- Row -->
<!--<div class="row">
    &lt;!&ndash; Column &ndash;&gt;
    <div class="col-lg-12">
        <app-rvenue-stat-graph></app-rvenue-stat-graph>
    </div>
</div>-->
<div class="row">
  <!-- column -->


  <div class="col-lg-3 col-md-6">
    <app-sales-analytics></app-sales-analytics>
   <!-- <app-bar-chart></app-bar-chart>-->
  </div>
  <div class="col-lg-3 col-md-6">
  <!--  <app-line-chart></app-line-chart>-->
    <app-bandwidth-usage></app-bandwidth-usage>
  </div>
  <div class="col-lg-3 col-md-6">
    <app-sales-prediction></app-sales-prediction>
  </div>
  <div class="col-lg-3 col-md-6">
    <app-sales-difference></app-sales-difference>
  </div>
</div>
<!-- Row -->
<!-- Row -->
<div class="row align-content-stretch">
    <div class="col-lg-4 col-md-6">
        <app-sales-of-month></app-sales-of-month>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="row">
            <div class="col-12">
                <app-sales-prediction></app-sales-prediction>
            </div>
            <div class="col-12">
                <app-sales-difference></app-sales-difference>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <!-- You can find this in the dashboard-component -->
        <app-profile-box></app-profile-box>
    </div>
</div>
<!-- Row -->
<!-- Row -->
<div class="row">
    <div class="col-lg-6">
        <app-proect-of-month></app-proect-of-month>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body mailbox">
                <h4 class="card-title">Recent Messages</h4>
                <div class="message-center message-body" [perfectScrollbar]="config" style="height: 608px;">
                    <app-recent-message></app-recent-message>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
<app-widget></app-widget>
<!-- Row -->
<div class="row">
    <div class="col-lg-6">
        <app-recent-comment></app-recent-comment>
    </div>
    <div class="col-lg-6">
        <app-to-do></app-to-do>
    </div>
</div>
<!-- Row -->


<button id="executionFlowModal" [hidden]="true" data-toggle="modal" data-target="#executionModal">Open Modal
</button>
<div id="executionModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="vcenter"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" style="max-width: 1130px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="vcenter">Execution Flow</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                id="closeExecutionFlowModalButton">×
        </button>
      </div>
      <div class="modal-body" style="background: lightgoldenrodyellow">
       <!-- <div class="row">
          <div class="col-sm-12 col-lg-12 col-md-12">
            <div style="padding: 1%; background: lightgoldenrodyellow">
      -->        <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 tab-css">
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist"   style="border-bottom: 1px solid lightgrey">
                      <a class="nav-item nav-link   fontSizeTabs" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                         (click)="tab(1)"  [ngClass]="isConsumption1"
                         role="tab" aria-controls="nav-home" aria-selected="true">Production Plan</a>
                      <a class="nav-item nav-link  fontSizeTabs" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                         (click)="tab(2)"  [ngClass]="isConsumption2"
                         role="tab" aria-controls="nav-profile" aria-selected="false">Logical Consumption</a>
                      <a class="nav-item nav-link  fontSizeTabs" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                         (click)="tab(3)"  [ngClass]="isConsumption3"
                         role="tab" aria-controls="nav-contact" aria-selected="false">Gross Consumption</a>
                    </div>
                  </nav>
                  <div class="card"
                       style="border: 1px solid lightgrey; padding: 1%; border-top: none !important; margin-bottom:-1px; height: 400px">

                    <div class="tab-content" id="nav-tabContent">
                      <div *ngIf="showTab == 1" >

                         <div class="row">
                           <div class="col-sm-12">

                         <h4>{{finalProList[0]?.mpsName}}</h4>
                          <form>
                            <input type="text"  class="form-control  search-css" placeholder="Search...">
                      <!-- <a class="srh-btn" style="margin-top: -3%">
                           <i class="ti-search" style="position: absolute; top:20px; left:95%"></i>
                        </a>-->
                   </form>

                             <div class="pro-plan-scroll-table">
                               <table class="table table-bordered final-pro-plan-table">
                                 <thead class="thead-light text-center">
                                 <th>Code</th>
                                 <th>Description</th>
                                 <th>M1 Ideal</th>
                                 <th>M1</th>
                                 <th>M2</th>
                                 <th>M3</th>
                                 <th>M4</th>
                                 <th>M5</th>
                                 <th>M6</th>
                                 <th>M7</th>
                                 <th>M8</th>
                                 <th>M9</th>
                                 <th>M10</th>
                                 <th>M11</th>
                                 <th>M12</th>
                                 <th>Total</th>
                                 <th>Type</th>
                                 <th>Line</th>
                                 <th>Skid</th>
                                 </thead>
                                 <tbody class="text-center">
                                 <tr *ngFor="let finalPro of finalProList">
                                   <td>{{finalPro.itemCode}}</td>
                                   <td>{{finalPro.itemDescription}}</td>
                                   <td>{{finalPro.m1Idealvalue}}</td>
                                   <td>{{finalPro.m1Value}}</td>
                                   <td>{{finalPro.m2Value}}</td>
                                   <td>{{finalPro.m3Value}}</td>
                                   <td>{{finalPro.m4Value}}</td>
                                   <td>{{finalPro.m5Value}}</td>
                                   <td>{{finalPro.m6Value}}</td>
                                   <td>{{finalPro.m7Value}}</td>
                                   <td>{{finalPro.m8Value}}</td>
                                   <td>{{finalPro.m9Value}}</td>
                                   <td>{{finalPro.m10Value}}</td>
                                   <td>{{finalPro.m11Value}}</td>
                                   <td>{{finalPro.m12Value}}</td>
                                   <td>{{finalPro.total}}</td>
                                   <td>{{finalPro.productionType}}</td>
                                   <td>{{finalPro.lineName}}</td>
                                   <td>{{finalPro.skidName}}</td>
                                 </tr>
                                 </tbody>
                               </table>
                             </div>
                           </div>
                         </div>


                      </div>
                      <div *ngIf="showTab == 2" >logical</div>
                      <div *ngIf="showTab == 3" >gross</div>
                      <!--<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">pro</div>
                      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">logical</div>
                      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">gross</div>-->
                    </div>
                  </div>
                </div>
              </div>
            <!--</div>
          </div>
        </div>-->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

