<!--<div class="row" style="margin-top: -23px">
  <div class="col-sm-12">
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-md-7">
          <div class="form-inline">
            <nav aria-label="breadcrumb" style="margin-left: -2%">
              <ol class="breadcrumb" style="font-size: 16px">
                <li class="breadcrumb-item active">Backup</li>
                <li class="breadcrumb-item  text-dark font-weight-bold">Backup</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-5 d-flex justify-content-end">
          <div class="form-inline">
            &lt;!&ndash;    <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download to Excel!"
                        style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                  <i class="mdi mdi-file-excel excel-icon"></i></button>&ndash;&gt;
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 0%">
  <div class="col-sm-12">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <button class="nav-link by-default btn  active"
                id="pills-home-tab" data-toggle="pill" href="#pills-home"
                role="tab" aria-controls="pills-home" aria-selected="true">Plans</button>
      </li>
      <li class="nav-item">
        <button class="nav-link by-default btn"  id="pills-profile-tab" data-toggle="pill"
                href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">OTIF</button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
          <div class="form-group col-sm-4" style="">
                <span class="form-inline">
                <label class="plan-name">Select Month : </label>
                <span class="mps-plan-header">
             <angular2-multiselect
               [data]="monthSelectList"
               [(ngModel)]="singleselectedItems"
               [settings]="singledropdownSettings"
               (onSelect)="onItemSelect($event)"
               (onDeSelect)="onItemDeSelect()">
             </angular2-multiselect>
            </span>
                </span>
          </div>
          <div class="form-group col-sm-8 text-right">
            &lt;!&ndash; <input type="checkbox" [(ngModel)]="selectedAll"
                    (change)="selectAll()">
             <label class="plan-name" style="margin-left: 2%">All Reports</label>

             <button class="btn btn-dark  download-btn" [disabled]="isDisabled">
               <i class="fas fa-download"></i> Download
             </button>&ndash;&gt;
          </div>
        </div>
        <hr style="margin-top: -1px"/>
        <div class="row" style="margin-top: -8px">
          <div class="col-sm-12">
            <div class="card-header border header-color">
              <div class="row">
                <div class="col">
                  <span class="form-inline">
                  <input type="checkbox" [(ngModel)]="selectedAll"
                         (change)="selectAll()" style="margin-right: 3%">
                  <h5>Download following Plans : </h5>
                  </span>
                </div>
                <div class="col text-right">
                  <button class="btn btn-dark  download-btn" [disabled]="isDisabled">
                    <i class="fas fa-download"></i> Download
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 8px">
          <div class="col-sm-6 pr-0">
            <div class="cards">
              <div class="card-header border sub-header-color">
                <h5 class="text-dark">{{folders[0]}}</h5>
              </div>
              <div>
                <ul class="list-group" *ngFor="let pre of preValidatedFileDataList">
                  <li class="list-group-item list-style"
                      [ngClass]="{'highlight' : pre.selected}">
                    <input type="checkbox" [(ngModel)]="pre.selected"
                           (change)="checkIfAllSelected()">
                    <span class="list-text">{{pre.name}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 pr-0 pl-2 pr-2">
            <div class="cards">
              <div class="card-header border sub-header-color">
                <h5 class="text-dark">{{folders[1]}}</h5>
              </div>
              <div>
                <ul *ngFor="let current of currentValidatedFileDataList" class="list-group">
                  <li class="list-group-item list-style"
                      [ngClass]="{'highlight' : current.selected}">
                    <input type="checkbox" [(ngModel)]="current.selected"
                           (change)="checkIfAllSelected()">
                    <span class="list-text">{{current.name}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          &lt;!&ndash; <div class="col-sm-4 pr-0 pl-2 pr-2">
             <div class="cards">
               <div class="card-header border sub-header-color">
                 <h5 class="text-dark">{{folders[2]}}</h5>
               </div>
               <div>
                 <ul *ngFor="let post of postValidatedFileDataList" class="list-group">
                   <li class="list-group-item list-style"
                       [ngClass]="{'highlight' : post.selected}">
                     <input type="checkbox" [(ngModel)]="post.selected"
                            (change)="checkIfAllSelected()">
                     <span class="list-text">{{post.name}}</span>
                   </li>
                 </ul>
               </div>
             </div>
           </div>&ndash;&gt;
        </div>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="row">
          <div class="form-group col-sm-4" style="">
                <span class="form-inline">
                <label class="plan-name">Select Month : </label>
                <span class="mps-plan-header">
             <angular2-multiselect
               [data]="monthSelectList"
               [(ngModel)]="singleselectedItems"
               [settings]="singledropdownSettings"
               (onSelect)="onItemSelect(singleselectedItems[0])"
               (onDeSelect)="onItemDeSelect()">
             </angular2-multiselect>
            </span>
                </span>
          </div>
          <div class="form-group col-sm-8 text-right">
            &lt;!&ndash;  <input type="checkbox" [(ngModel)]="selectedAll"
                     (change)="selectAll()">
              <label class="plan-name" style="margin-left: 2%">All OTIF Files</label>

              <button class="btn btn-dark  download-btn" style="margin-left: 4%" [disabled]="isDisabled">
                <i class="fas fa-download"></i> Download
              </button>&ndash;&gt;
          </div>
        </div>
        <hr style="margin-top: -1px"/>
        <div class="row" style="margin-top: -8px">
          <div class="col-sm-12">
            <div class="card-header border header-color">
              <div class="row">
                <div class="col">
                  <span class="form-inline">
                  <input type="checkbox" [(ngModel)]="selectedAll"
                         (change)="selectAll()" style="margin-right: 3%">
                  <h5>Download following OTIF Files : </h5>
                    </span>
                </div>
                <div class="col text-right">
                  <button class="btn btn-dark  download-btn" [disabled]="isDisabled">
                    <i class="fas fa-download"></i> Download
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 8px">
          &lt;!&ndash; <div class="col-sm-4 pr-0">
             <div class="cards">
               <div class="card-header border sub-header-color">
                 <h5>{{folders[0]}}</h5>
               </div>
               <div>
                 <ul class="list-group" *ngFor="let pre of preValidatedFileDataList">
                   <li class="list-group-item list-style"
                       [ngClass]="{'highlight' : pre.selected}">
                     <input type="checkbox" [(ngModel)]="pre.selected"
                            (change)="checkIfAllSelected()">
                     <span class="list-text">{{pre.name}}</span>
                   </li>
                 </ul>
               </div>
             </div>
           </div>
           <div class="col-sm-4 pr-0 pl-2">
             <div class="cards">
               <div class="card-header border sub-header-color">
                 <h5>{{folders[1]}}</h5>
               </div>
               <div>
                 <ul *ngFor="let current of currentValidatedFileDataList" class="list-group">
                   <li class="list-group-item list-style"
                       [ngClass]="{'highlight' : current.selected}">
                     <input type="checkbox" [(ngModel)]="current.selected"
                            (change)="checkIfAllSelected()">
                     <span class="list-text">{{current.name}}</span>
                   </li>
                 </ul>
               </div>
             </div>
           </div>&ndash;&gt;
          <div class="col-sm-12 pr-0 pl-2 pr-2">
            <div class="cards">
              <div class="card-header border text-center sub-header-color-otif">
                <h5 class="text-dark">OTIF Files</h5>
              </div>
              <div>
                <div class="table-scroll">
                  <div class="row" style="width: 100%; margin-left: 0%">
                  &lt;!&ndash;  <ng-container *ngFor="let post of postValidatedFileDataList">
                      <div class="col-sm-4 border p-0">
                        <div style="padding: 3%;" [ngClass]="{'highlight' : post.selected}">
                          <input type="checkbox" [(ngModel)]="post.selected"
                                 (change)="checkIfAllSelected()">
                          <span class="list-text">{{post.name}}</span>
                        </div>
                      </div>
                    </ng-container>&ndash;&gt;
                  </div>
                </div>


                &lt;!&ndash; <ul *ngFor="let post of postValidatedFileDataList" class="list-group">
                   <li class="list-group-item list-style"
                       [ngClass]="{'highlight' : post.selected}">
                     <input type="checkbox" [(ngModel)]="post.selected"
                            (change)="checkIfAllSelected()">
                     <span class="list-text">{{post.name}}</span>
                   </li>
                 </ul>&ndash;&gt;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->



<div class="row" style="margin-top: -23px;">
  <div class="col-sm-12">
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-md-7">
          <div class="form-inline">
            <nav aria-label="breadcrumb" style="margin-left: -2%">
              <ol class="breadcrumb" style="font-size: 16px">
                <li class="breadcrumb-item active">Backup</li>
                <li class="breadcrumb-item  text-dark font-weight-bold">Backup</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-5 d-flex justify-content-end">

        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="all-reports-card">-->
<div class="row" style="margin-top: 0%">
  <div class="col-sm-12">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <button class="nav-link by-default btn"
                id="nav-org-tabb" data-toggle="tab"
                role="tab" [ngClass]="firstTabClicked ? 'active ' : ''"
                queryParamsHandling="preserve"
                (click)="firstTabClicked=true; secondTabClicked=false; thirdTabClicked=false"
                aria-controls="nav-org" aria-selected="false"  routerLinkActive="active" routerLink="bkPlan">Plans </button>
      </li>
      <li class="nav-item">
      <button class="nav-link by-default btn"  id="nav-user-tab" data-toggle="tab"
              role="tab"  aria-controls="nav-userr"
              [ngClass]="secondTabClicked ? 'active ' : ''"
              queryParamsHandling="preserve"
              (click)="firstTabClicked=false;secondTabClicked=true; thirdTabClicked=false"
              routerLinkActive="active" routerLink="bkPmOtif"
              aria-selected="true">PM OTIF </button>
    </li>
    <!--  <li class="nav-item">
        <button class="nav-link by-default btn"  id="nav-user-3" data-toggle="tab"
                role="tab"  aria-controls="nav-userr-3"
                [ngClass]="thirdTabClicked ? 'active ' : ''"
                queryParamsHandling="preserve"
                (click)="firstTabClicked=false;secondTabClicked=false; thirdTabClicked=true"
                routerLinkActive="active" routerLink="bkAnnual"
                aria-selected="true">Annual Analysis </button>
      </li>-->
    </ul>
    <div class="tab-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!--</div>-->























