/*.all-reports-card{
  border: 2px solid lightslategrey;
  padding: 1%;
  margin-bottom: 0px;
  background: white;
  height: 80.06088280060882vh;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 6%;
}
.plan-name{
  font-size: 18px;
  font-weight: 500;
}
!*
.header-color{
  background: darkcyan;
}
*!


.table-scroll{
  border:1px solid lightgrey;
  height: 302px;
  overflow-x: hidden;
}
.download-btn{
  margin-left: 5%;
}

.list-text{
  margin-left: 5%;
}
h5{
  font-size: 19px;
  margin-top: 1%;
  line-height: 1;
  color: white;
}
.mps-plan-header {
  width: 66%;
  margin-left: 2%;
  border: 1px solid lightgrey
}
.highlight{
  font-weight: bold;
}
.heading-style{
  background: black;
  color: white;
  padding: 0.67rem 1.25rem;
  font-size: 18px;
  border:1px solid;
  margin-top: 7px!important;
}
hr{
  background: lightgrey;
  margin-top: 3%;
}
.list-style{
  border-color: lightgrey!important;

}
!*.card-header{
  border-radius: 12px 12px 0px 0px;
}*!



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  !*
   border-radius: 25px;*!
  padding: 2px 15px 2px 15px;
  border: 1px solid darkcyan;
  background: darkcyan;
  color: white;
}
.by-default{
  background: white;
  color: #000;

  padding: 2px 15px 2px 15px;
  border: 1px solid grey;
}
.tab-content{
  border: 1px solid lightgrey;
  !*padding: 1%;*!
  margin-bottom: 0px;
  background: white;
  margin-top: -11px;
  padding: 1%;
  height: 500px;
}
.header-color{
  background: darkcyan;
  padding: 0.5rem 1.25rem!important;
}

.sub-card-header{
  padding: 0.5rem 1.25rem!important;
}
.sub-header-color-otif{
  !* background: darkcyan;
   border-radius: 12px 12px 0px 0px;*!
  !* padding: 0.25rem 1.25rem!important;*!
  padding:0.5rem 1.25rem 0.30rem!important;
  width: 14%;
}*/



.fontSizeTabs {
  font-size: 20px;
  padding-top: 4px;
  padding-bottom: 3px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-bottom: none;
}

.nav-tabs {
  border-bottom: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  /*
   border-radius: 25px;*/
  padding: 2px 15px 2px 15px;
  border: 1px solid darkcyan;
  background: darkcyan;
  color: white;
}
.by-default{
  background: white;
  color: #000;

  padding: 2px 15px 2px 15px;
  border: 1px solid grey;
}
.tab-content{
  border: 1px solid lightgrey;
  /*padding: 1%;*/
  margin-bottom: 0px;
  background: white;
  padding: 1%;
  height: 500px;
  margin-top: -11px;
}
.all-reports-card{
  border: 2px solid lightslategrey;
  padding: 1%;
  margin-bottom: 0px;
  background: white;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 6%;
}
