<mat-form-field class="search-css">
  <input matInput placeholder="Search"
         (keyup)="applyFilter($event.target.value)">
</mat-form-field>

<div class="mat-elevation-z8 custom-table-height">

  <table mat-table [dataSource]="dataSource" width="100%">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="capacityPerShift">
      <th mat-header-cell *matHeaderCellDef>CapacityPerShift</th>
      <td mat-cell *matCellDef="let row">{{row.capacityPerShift}}</td>
    </ng-container>

    <ng-container matColumnDef="shifts">
      <th mat-header-cell *matHeaderCellDef>Shifts</th>
      <td mat-cell *matCellDef="let row">{{row.shifts}}</td>
    </ng-container>

    <ng-container matColumnDef="speed">
      <th mat-header-cell *matHeaderCellDef>Speed</th>
      <td mat-cell *matCellDef="let row">{{row.speed}}</td>
    </ng-container>

    <ng-container matColumnDef="gUpTime">
      <th mat-header-cell *matHeaderCellDef>G Up Time</th>
      <td mat-cell *matCellDef="let row">{{row.gUpTime}}</td>
    </ng-container>

    <ng-container matColumnDef="modPerLinePerShift">
      <th mat-header-cell *matHeaderCellDef>Mod Per Line Per Shift</th>
      <td mat-cell *matCellDef="let row">{{row.modPerLinePerShift}}</td>
    </ng-container>

    <ng-container matColumnDef="hrsPerShift">
      <th mat-header-cell *matHeaderCellDef>Hrs Per Shift</th>
      <td mat-cell *matCellDef="let row">{{row.hrsPerShift}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="height: 33px"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;let i=index"
        style="cursor: pointer; height: 33px">
    </tr>
  </table>
</div>

