<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
              <!--  <h4 class="mps-plan-selection page-title text-muted"><b>MPS 07_11</b></h4>-->
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <!--<li class="breadcrumb-item">
                      <a routerLink="/newPm/newMps">Home</a>
                    </li>-->
                    <li class="breadcrumb-item active">SLOB & CoverDays</li>
                    <li class="breadcrumb-item text-dark font-weight-bold">Summary</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                <button (click)=" exportAsXLSX()" data-toggle="tooltip" title="Download 'PM SLOB Summary'"
                         style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="summary-card">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <div class="row">
        <div class="col-sm-12">
          <div class="slob-graph-card">
            <div class="row">
              <div class="col-sm-4"> <h4 class="text-left font-weight-bold" style="font-size: 20px">SLOB Summary</h4></div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
              <!--  <div class="text-center stock-sit-value-2">-->
                  <table style="width: 79%;margin-left: 21%;">
                    <tr>
                      <td class="font-weight-bold">Total Stock Value With Sit</td>
                      <td  style="width: 40%;font-weight: bold">{{summaryDataList?.totalStockSitValueDTO?.totalStockSitValue | number:'1.0':'en-IN'}}</td>
                    </tr>
                  </table>
              <!--  </div>-->
              </div>
            </div>
            <div class="row" style="margin-top: 1%">
              <div class="col-sm-2">
                <div class="summary-chart-card">
                <canvas id="SLOB_SUMMARY" width="900" height="800" style="margin-left: -2%; margin-top: 10%">
                  {{slobSummary}}
                </canvas>
                </div>
              </div>
              <div class="col-sm-10">
                 <table class="table table-bordered" style="height: 100%">
                   <thead class="text-left">
                     <tr>
                       <th></th>
                       <th>Percentage</th>
                       <th>Value</th>
                       <th colspan="2">Formula</th>
                     </tr>
                   </thead>
                   <tbody class="text-left">
                     <tr>
                       <td style="font-weight: bold">Slow Moving</td>
                       <td>
                         <span class="form-inline">
                           <i class="legend-i"  style="color:#ff8c00;">&#x25A0;</i>
                           <span class="font-weight-bold" style="margin-left: 5%">{{slowItemPercentage}} %</span>
                         </span>
                       </td>
                       <td>{{summaryDataList?.totalSlowItemValueDTO?.totalSlowItemValue | number:'1.0':'en-IN'}}</td>
                       <td colspan="2">{{summaryDataList?.totalSlowItemValueDTO?.slowItemPercentageFormula}}</td>
                     </tr>
                     <tr>
                       <td style="font-weight: bold">Obsolete</td>
                       <td>
                          <span class="form-inline">
                            <i class="legend-i"  style="color: #db0000;">&#x25A0;</i>
                            <span  class="font-weight-bold" style="margin-left: 5%">{{obsoleteItemPercentage}} %</span>
                          </span>
                       </td>
                       <td>{{summaryDataList?.totalObsoleteItemValueDTO?.totalObsoleteItemValue | number:'1.0':'en-IN'}}</td>
                       <td colspan="2">{{summaryDataList?.totalObsoleteItemValueDTO?.obsoleteItemPercentageFormula}}</td>
                     </tr>
                     <tr>
                       <td rowspan="2" style="width: 14%;line-height: 6; font-weight: bold">Stock Quality</td>
                       <td rowspan="2" style="width: 16%;line-height: 6">
                         <span class="form-inline">
                         <i class="legend-i"  style="color:#a6d608">&#x25A0;</i>
                         <span  class="font-weight-bold" style="margin-left: 5%">{{stockQualityPercentage}} %</span>
                         </span>
                       </td>
                       <td style="line-height: 6" rowspan="2">{{summaryDataList?.totalStockQualityValueDTO?.stockQuantity | number:'1.0':'en-IN'}}</td>
                       <td style="width: 10%; line-height: 3; font-weight: bold">%</td>
                       <td>{{summaryDataList?.totalStockQualityValueDTO?.stockQualityPercentageFormula}}</td>
                     </tr>
                   <tr>
                     <td style="width: 10%; line-height: 3; font-weight: bold">Value</td>
                     <td>{{summaryDataList?.totalStockQualityValueDTO?.totalStockQualityValueFormula}}</td>
                   </tr>
                   </tbody>
                 </table>
              </div>
            </div>
          </div>
          <div class="coverdays-graph-card">
            <div class="row">
              <div class="col-sm-4"> <h4 class="text-left font-weight-bold" style="font-size: 20px">Cover Days</h4></div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
             <!--   <div class="text-center stock-sit-value-2">-->
                  <table style="width: 76%;margin-left: 24%;" >
                    <tr>
                      <td class="font-weight-bold">Total Stock Value With Sit</td>
                      <td  style="width:40%; font-weight: bold">{{summaryDataList?.totalStockSitValueDTO?.totalStockSitValue | number:'1.0':'en-IN'}}</td>
                    </tr>
                  </table>
               <!-- </div>-->
              </div>
            </div>
            <div class="row" style="margin-top: 1%">
              <div class="col-sm-2">

                <div class="coverdays-chart-card">
                  <h4 class="half-doughnut-percentage">{{totalCoverDays}}</h4>
                <canvas id="COVER_DAYS" width="1400" height="900" style="transform-style: preserve-3d;">
                  {{coverDaysGraph}}
                </canvas>
                </div>
              </div>
              <div class="col-sm-10">
                <div style="border:1px solid lightgrey; height: 133px">
                <table class="table table-bordered" id="cover-days-table" style="height: 100%">
                  <tr>
                    <th>Month</th>
                    <th>{{monthNamesList?.month1?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month2?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month3?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month4?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month5?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month6?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month7?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month8?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month9?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month10?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month11?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month12?.monthNameAlias}}</th>
                  </tr>
                  <tr>
                    <th style="background: white!important; color: #000!important;">Days In Month</th>
                    <td>{{coverDaysList?.coverDaysInMonthDTO?.month1CoverDays}}</td>
                    <td>{{coverDaysList?.coverDaysInMonthDTO?.month2CoverDays}}</td>
                    <td>{{coverDaysList?.coverDaysInMonthDTO?.month3CoverDays}}</td>
                    <td>{{coverDaysList?.coverDaysInMonthDTO?.month4CoverDays}}</td>
                    <td>{{coverDaysList?.coverDaysInMonthDTO?.month5CoverDays}}</td>
                    <td>{{coverDaysList?.coverDaysInMonthDTO?.month6CoverDays}}</td>
                    <td>{{coverDaysList?.coverDaysInMonthDTO?.month7CoverDays}}</td>
                    <td>{{coverDaysList?.coverDaysInMonthDTO?.month8CoverDays}}</td>
                    <td>{{coverDaysList?.coverDaysInMonthDTO?.month9CoverDays}}</td>
                    <td>{{coverDaysList?.coverDaysInMonthDTO?.month10CoverDays}}</td>
                    <td>{{coverDaysList?.coverDaysInMonthDTO?.month11CoverDays}}</td>
                    <td>{{coverDaysList?.coverDaysInMonthDTO?.month12CoverDays}}</td>
                  </tr>
                  <tr>
                    <th style="background: white!important; color: #000!important;">Consumption</th>
                    <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month1ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                      <div class="word-wrap-table-cell">
                        {{coverDaysList?.coverDaysConsumptionDTO?.month1ConsumptionTotalValue | number:'1.0':'en-IN'}}
                      </div>
                    </td>
                    <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month2ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                      <div class="word-wrap-table-cell">
                      {{coverDaysList?.coverDaysConsumptionDTO?.month2ConsumptionTotalValue | number:'1.0':'en-IN'}}
                      </div>
                    </td>
                    <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month3ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                      <div class="word-wrap-table-cell">
                      {{coverDaysList?.coverDaysConsumptionDTO?.month3ConsumptionTotalValue | number:'1.0':'en-IN'}}
                      </div>
                    </td>
                    <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month4ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                      <div class="word-wrap-table-cell">
                      {{coverDaysList?.coverDaysConsumptionDTO?.month4ConsumptionTotalValue | number:'1.0':'en-IN'}}
                      </div>
                    </td>
                    <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month5ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                      <div class="word-wrap-table-cell">
                      {{coverDaysList?.coverDaysConsumptionDTO?.month5ConsumptionTotalValue | number:'1.0':'en-IN'}}
                      </div>
                    </td>
                    <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month6ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                      <div class="word-wrap-table-cell">
                      {{coverDaysList?.coverDaysConsumptionDTO?.month6ConsumptionTotalValue | number:'1.0':'en-IN'}}
                      </div>
                    </td>
                    <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month7ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                      <div class="word-wrap-table-cell">
                      {{coverDaysList?.coverDaysConsumptionDTO?.month7ConsumptionTotalValue | number:'1.0':'en-IN'}}
                      </div>
                    </td>
                    <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month8ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                      <div class="word-wrap-table-cell">
                      {{coverDaysList?.coverDaysConsumptionDTO?.month8ConsumptionTotalValue | number:'1.0':'en-IN'}}
                      </div>
                    </td>
                    <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month9ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                      <div class="word-wrap-table-cell">
                      {{coverDaysList?.coverDaysConsumptionDTO?.month9ConsumptionTotalValue | number:'1.0':'en-IN'}}
                      </div>
                    </td>
                    <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month10ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                      <div class="word-wrap-table-cell">
                      {{coverDaysList?.coverDaysConsumptionDTO?.month10ConsumptionTotalValue | number:'1.0':'en-IN'}}
                      </div>
                    </td>
                    <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month11ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                      <div class="word-wrap-table-cell">
                      {{coverDaysList?.coverDaysConsumptionDTO?.month11ConsumptionTotalValue | number:'1.0':'en-IN'}}
                      </div>
                    </td>
                    <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month12ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                      <div class="word-wrap-table-cell">
                      {{coverDaysList?.coverDaysConsumptionDTO?.month12ConsumptionTotalValue | number:'1.0':'en-IN'}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th style="background: white!important; color: #000!important;">Cover Days</th>
                    <td [ngClass]="coverDaysList?.coverDaysDTO?.month1CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                      {{coverDaysList?.coverDaysDTO?.month1CoverDays}}
                    </td>
                    <td [ngClass]=" coverDaysList?.coverDaysDTO?.month2CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                      {{coverDaysList?.coverDaysDTO?.month2CoverDays}}
                    </td>
                    <td [ngClass]=" coverDaysList?.coverDaysDTO?.month3CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                      {{coverDaysList?.coverDaysDTO?.month3CoverDays}}
                    </td>
                    <td [ngClass]=" coverDaysList?.coverDaysDTO?.month4CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                      {{coverDaysList?.coverDaysDTO?.month4CoverDays}}
                    </td>
                    <td [ngClass]=" coverDaysList?.coverDaysDTO?.month5CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                      {{coverDaysList?.coverDaysDTO?.month5CoverDays}}
                    </td>
                    <td [ngClass]=" coverDaysList?.coverDaysDTO?.month6CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                      {{coverDaysList?.coverDaysDTO?.month6CoverDays}}
                    </td>
                    <td [ngClass]=" coverDaysList?.coverDaysDTO?.month7CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                      {{coverDaysList?.coverDaysDTO?.month7CoverDays}}
                    </td>
                    <td [ngClass]=" coverDaysList?.coverDaysDTO?.month8CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                      {{coverDaysList?.coverDaysDTO?.month8CoverDays}}
                    </td>
                    <td [ngClass]=" coverDaysList?.coverDaysDTO?.month9CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                      {{coverDaysList?.coverDaysDTO?.month9CoverDays}}
                    </td>
                    <td [ngClass]=" coverDaysList?.coverDaysDTO?.month10CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                      {{coverDaysList?.coverDaysDTO?.month10CoverDays}}
                    </td>
                    <td [ngClass]=" coverDaysList?.coverDaysDTO?.month11CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                      {{coverDaysList?.coverDaysDTO?.month11CoverDays}}
                    </td>
                    <td [ngClass]=" coverDaysList?.coverDaysDTO?.month12CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                      {{coverDaysList?.coverDaysDTO?.month12CoverDays}}
                    </td>
                  </tr>
                </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




