<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <li class="breadcrumb-item active">Storage</li>
                    <li class="breadcrumb-item  text-dark font-weight-bold">Master Data</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="all-reports-card">
      <div class="row">
        <div class="col-sm-12">
          <div class="row" style="width: 100%;margin-left: 0;">
            <div class="box">
              <h4 style="margin-top: -2px;">Materials</h4>
              <div class="row" style="width: 100%; margin-left: 0%">
                <ng-container *ngFor="let material of materialList;let i=index">
                  <div class="col-sm-2 btn-group">
                    <button
                      data-target='#masterModal'
                      data-toggle="modal"
                      class="btn btn-light  btnSize colChg"
                      (click)="loadPmMasterData(material[0],material[1])">
                      {{material[0]}}
                    </button>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row row-css">
            <div class="box">
              <div class="col">
                <h4 style="margin-top: -2px;">Suppliers</h4>
                <div class="row">
                  <ng-container *ngFor="let supplier of pmSupplierList;let i=index">
                    <div class="col-sm-2 btn-group">
                      <button
                        data-target='#masterModal'
                        data-toggle="modal"
                        class="btn btn-light  btnSize colChg"
                        (click)="loadPmMasterData(supplier[0],supplier[1])">
                        {{supplier[0]}}
                      </button>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <div class="row row-css">
            <div class="box">
              <div class="col">
                <h4 style="margin-top: -2px;">Purchase</h4>
                <div class="row">
                  <ng-container *ngFor="let purchase of purchaseList;let i=index">
                    <div class="col-sm-2 btn-group">
                      <button
                        data-target='#masterModal'
                        data-toggle="modal"
                        class="btn btn-light  btnSize colChg"
                        (click)="loadPmMasterData(purchase[0],purchase[1])">
                        {{purchase[0]}}
                      </button>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <!--<div class="row row-css">-->
            <!--<div class="box">-->
              <!--<div class="col">-->
                <!--<h4 style="margin-top: -2px;">SLOB</h4>-->
                <!--<div class="row">-->
                  <!--<ng-container *ngFor="let slob of slobList;let i=index">-->
                    <!--<div class="col-sm-2 btn-group">-->
                      <!--<button-->
                        <!--data-target='#masterModal'-->
                        <!--data-toggle="modal"-->
                        <!--class="btn btn-light  btnSize colChg"-->
                        <!--(click)="loadPmMasterData(slob[0],slob[1])">-->
                        <!--{{slob[0]}}-->
                      <!--</button>-->
                    <!--</div>-->
                  <!--</ng-container>-->
                <!--</div>-->

              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="row row-css">
            <div class="box">
              <div class="col">
                <h4 style="margin-top: -2px;">Stock</h4>
                <div class="row">
                  <ng-container *ngFor="let stock of stockList;let i=index">
                    <div class="col-sm-2 btn-group">
                      <button
                        data-target='#masterModal'
                        data-toggle="modal"
                        class="btn btn-light  btnSize colChg"
                        (click)="loadPmMasterData(stock[0],stock[1])">
                        {{stock[0]}}
                      </button>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--modal code-->
<div id="masterModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true"
     data-backdrop="static"  style="overflow: hidden!important">

  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content " style="border: 5px solid #00bdda;  width: auto!important; margin-top: -11px">
      <div class="modal-header" style="padding-bottom: 1%; padding-right: 0px; padding-left: 1%;">
        <div class="col-sm-5  text-left pr-0"><label style="font-size: 17px">{{currentMasterName}}</label></div>
        <div class="col-sm-1  d-flex justify-content-center pl-0">
        </div>
        <div class="col-sm-6  d-flex justify-content-end">
          <ng-container *ngIf="successMessage!==''">
            <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert"
               aria-label="Close">
              <strong>{{successMessage}}</strong>
            </p>
          </ng-container>
          <ng-container *ngIf="errorMessage!==''">
            <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert"
               aria-label="Close">
              <strong>{{errorMessage}}</strong>
            </p>
          </ng-container>
          <ng-container
            *ngIf="currentMasterName !== 'SLOB Reason' && currentMasterName !== 'SLOB Remarks' && currentMasterName !== 'Purchase Remark'">
            <button (click)="exportAsXLSX()" class="excel-icon-btn" data-toggle="tooltip"
                    title="Download {{currentMasterName}}">
              <!-- <i class="mdi mdi-file-excel excel-icon"></i></button>-->
              <i><img src="../../../../assets/images/big/excel.png"></i></button>
          </ng-container>
          <h4 style="cursor: pointer; font-size: 22px" data-dismiss="modal" class="pull-right">x</h4>
        </div>
      </div>
      <div class="modal-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

