<div class="row" style="margin-top: -1%">
  <div class="col-sm-12">
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-md-7">
          <div class="form-inline">
            <nav aria-label="breadcrumb" style="margin-left: -2%">
              <ol class="breadcrumb">
                <!--  <li class="breadcrumb-item">
                    <a href='javascript:void(0)'>Home</a>
                  </li>-->
             <!--   <li class="breadcrumb-item active">Analytics</li>-->
                <ng-container *ngIf="executionFlowPageService.loginUsers !== 'analyzer'">
                  <li class="breadcrumb-item ">OTIF Cummulative Score</li>
                </ng-container>
                <!--<li class="breadcrumb-item ">Current Plan</li>-->
                <ng-container *ngIf="executionFlowPageService.loginUsers === 'analyzer'">
                  <li class="breadcrumb-item active">PM Analytics</li>
                </ng-container>

                <li class="breadcrumb-item  font-weight-bold text-dark">OTIF Cummulative Score</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-5 d-flex justify-content-end">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 pr-0">
    <div class="lft-card">
      <h4>Trending Score</h4>
      <div class="trending-scroll-table-scroll">
        <table class="table table-bordered trending-score-table" id="scoreTable">
          <thead class="header-sticky text-left">
           <tr>
             <th></th>
             <th>Supplier Name</th>
             <th>Average %</th>
             <th>Max %</th>
             <th>Min %</th>
           </tr>
          </thead>
          <tbody>
          <tr>
            <th class="score4 text-center" colspan="5">Score 4 Supplier</th>
          </tr>
          <tr *ngFor="let scoreData of score4SuppliersList">
            <td class="text-center">
              <input type="radio" name="tab1" (click)="getSupplierDetails(scoreData)" [checked]="scoreData.supplierId === selectedId"
                     [value]="scoreData.supplierId"/>
            </td>
            <td>{{scoreData?.supplierName}}</td>
            <td>{{scoreData?.averagePercentage}}</td>
            <td>{{scoreData?.maxPercentage}}</td>
            <td>{{scoreData?.minPercentage}}</td>
          </tr>

          <tr>
            <th class="score3 text-center" colspan="5">Score 3 Supplier</th>
          </tr>
          <tr *ngFor="let scoreData of score3SuppliersList">
            <td class="text-center">
              <input type="radio" name="tab1" (click)="getSupplierDetails(scoreData)" [checked]="scoreData.supplierId === selectedId"
                     [value]="scoreData.supplierId"/>
            </td>
            <td>{{scoreData?.supplierName}}</td>
            <td>{{scoreData?.averagePercentage}}</td>
            <td>{{scoreData?.maxPercentage}}</td>
            <td>{{scoreData?.minPercentage}}</td>
          </tr>
          <tr>
            <th class="score2 text-center" colspan="5">Score 2 Supplier</th>
          </tr>
          <tr *ngFor="let scoreData of score2SuppliersList">
            <td class="text-center">
              <input type="radio" name="tab1" (click)="getSupplierDetails(scoreData)" [checked]="scoreData.supplierId === selectedId"
                     [value]="scoreData.supplierId"/>
            </td>
            <td>{{scoreData?.supplierName}}</td>
            <td>{{scoreData?.averagePercentage}}</td>
            <td>{{scoreData?.maxPercentage}}</td>
            <td>{{scoreData?.minPercentage}}</td>
          </tr>
          <tr>
            <th class="score1 text-center" colspan="5">Score 1 Supplier</th>
          </tr>
          <tr *ngFor="let scoreData of score1SuppliersList">
            <td class="text-center">
              <input type="radio" name="tab1" (click)="getSupplierDetails(scoreData)" [checked]="scoreData.supplierId === selectedId"
                     [value]="scoreData.supplierId"/>
            </td>
            <td>{{scoreData?.supplierName}}</td>
            <td>{{scoreData?.averagePercentage}}</td>
            <td>{{scoreData?.maxPercentage}}</td>
            <td>{{scoreData?.minPercentage}}</td>
          </tr>
          <tr>
            <th class="score0 text-center" colspan="5">Score 0 Supplier</th>
          </tr>
          <tr *ngFor="let scoreData of score0SuppliersList">
            <td class="text-center">
               <input type="radio" name="tab1" (click)="getSupplierDetails(scoreData)" [checked]="scoreData.supplierId === supplierId"
                    [value]="scoreData.supplierId"/>
            </td>
            <td>{{scoreData?.supplierName}}</td>
            <td>{{scoreData?.averagePercentage}}</td>
            <td>{{scoreData?.maxPercentage}}</td>
            <td>{{scoreData?.minPercentage}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="col-sm-8">
    <div class="rlt-card">
      <h4>OTIF Cummulative Score</h4>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered cummulative-score-table">
                      <thead>
                      <tr>
                        <th style="width: 18%"></th>
                        <th>
                          {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[0]?.monthValue}}
                        </th>
                        <th>
                          {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[1]?.monthValue}}
                        </th>
                        <th>
                          {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[2]?.monthValue}}
                        </th>
                        <th>
                          {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[3]?.monthValue}}
                        </th>
                        <th>
                          {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[4]?.monthValue}}
                        </th>
                        <th>
                          {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[5]?.monthValue}}
                        </th>
                        <th>
                          {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[6]?.monthValue}}
                        </th>
                        <th>
                          {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[7]?.monthValue}}
                        </th>
                        <th>
                          {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[8]?.monthValue}}
                        </th>
                        <th>
                          {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[9]?.monthValue}}
                        </th>
                        <th>
                          {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[10]?.monthValue}}
                        </th>
                        <th>
                          {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[11]?.monthValue}}
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td style="width: 18%; font-weight: 500">Actual Receipt</td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[0]?.actualReceiptPercentage}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[1]?.actualReceiptPercentage}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[2]?.actualReceiptPercentage}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[3]?.actualReceiptPercentage}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[4]?.actualReceiptPercentage}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[5]?.actualReceiptPercentage}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[6]?.actualReceiptPercentage}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[7]?.actualReceiptPercentage}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[8]?.actualReceiptPercentage}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[9]?.actualReceiptPercentage}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[10]?.actualReceiptPercentage}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[11]?.actualReceiptPercentage}}
                          </td>
                        </tr>
                        <tr>
                          <td style="width: 18%; font-weight: 500">Score by Actual Receipt</td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[0]?.scoreByActualReceipt}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[1]?.scoreByActualReceipt}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[2]?.scoreByActualReceipt}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[3]?.scoreByActualReceipt}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[4]?.scoreByActualReceipt}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[5]?.scoreByActualReceipt}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[6]?.scoreByActualReceipt}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[7]?.scoreByActualReceipt}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[8]?.scoreByActualReceipt}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[9]?.scoreByActualReceipt}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[10]?.scoreByActualReceipt}}
                          </td>
                          <td>
                            {{cummulativeScoreWiseSupplierDetailsList?.otifCumulativeScoreByMonthDTOS[11]?.scoreByActualReceipt}}
                          </td>
                        </tr>
                        <tr>
                          <td style="width: 18%; font-weight: 500">Average Receipt</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.averageReceiptPercentage}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.averageReceiptPercentage}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.averageReceiptPercentage}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.averageReceiptPercentage}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.averageReceiptPercentage}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.averageReceiptPercentage}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.averageReceiptPercentage}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.averageReceiptPercentage}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.averageReceiptPercentage}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.averageReceiptPercentage}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.averageReceiptPercentage}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.averageReceiptPercentage}}</td>
                        </tr>
                        <tr>
                          <td style="width: 18%; font-weight: 500">Score by Average Receipt</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.scoreByAverageReceipt}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.scoreByAverageReceipt}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.scoreByAverageReceipt}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.scoreByAverageReceipt}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.scoreByAverageReceipt}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.scoreByAverageReceipt}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.scoreByAverageReceipt}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.scoreByAverageReceipt}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.scoreByAverageReceipt}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.scoreByAverageReceipt}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.scoreByAverageReceipt}}</td>
                          <td>{{cummulativeScoreWiseSupplierDetailsList?.scoreByAverageReceipt}}</td>
                        </tr>
                      </tbody>
                    </table>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h4>Score Analysis</h4>

          <canvas id="ScoreAnalysis_Graph" width="7400" height="2600"
                  style="display: block;width: 462px;height: 203px; margin-top: -1%"></canvas>
        </div>
      </div>


    </div>
  </div>
</div>

