
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  font-family: themify;
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5px;
}
.lft-card{
  border:1px solid lightgrey;
  padding: 1%;
  height: 81.12633181126331vh;
}
.rlt-card{
  border:1px solid lightgrey;
  padding: 1%;
  height: 81.12633181126331vh;
}
h4{
  font-weight: 500;
  font-size: 16px;
}

.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}
.cummulative-score-table thead {
  background-color: black;
  color: white;
}
.cummulative-score-table th,td{
  padding: 3px;
}
table th {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid lightgrey;
}

table td {
  font-size: 12px;
  border: 1px solid darkgrey;
}

table {
  transform-style: preserve-3d;
  width: 100%!important;
}

.trending-score-table th, td{
  padding: 3px;
  white-space: nowrap;
}
table#scoreTable tbody {
  overflow-y: auto;
  overflow-x: hidden;
}

table#scoreTable thead, table#scoreTable tbody tr {
  table-layout: fixed;
}
.trending-score-table thead{
  background: black;
  color: white;
}
.trending-scroll-table-scroll{
  border:1px solid lightgrey;
  height: 75.34246575342466vh;
  overflow:auto;
}


.score0{
  background: #db0000;
  color: white;
}
.score1{
  background: #ff8c00;
  color: white;
}
.score2{
  background: #ffd11a;
  color: white;
}
.score3{
  background: #7b97ff;
  color: white;
}
.score4{
  background: green;
  color: white;
}
