// Sidebar
/*$sidebar-link-padding: 12px 15px;*/
$sidebar-link-padding: 12px 0px 12px 0px;
$sidebar-icon-size: 23px;
$sidebar-first-level-padding: 0 0 10px 0;
/*$sidebar-first-level-link-padding: 10px 15px;*/
$sidebar-first-level-link-padding: 10px 0px;
$sidebar-first-level-icon-size: 14px;

/*******************
Main sidebar
******************/

.left-sidebar {
  position: absolute;
  width: $sidebar-width-full;
  height: 100%;
  top: 0px;
  z-index: 1;
  padding-top: 64px;
  background: $sidebar;
  box-shadow: $shadow;
  transition: 0.2s ease-in;
}

.ps__rail-y {
  z-index: 9;
}

/*******************
sidebar navigation
******************/
.scroll-sidebar {
  height: calc(100% - 20px);
  position: relative;
}

.sidebar-nav {
  ul {
    .sidebar-item {
      width: $sidebar-width-full;

      .sidebar-link {
        /*color: $sidebar-text;*/
        color:$sidebar-text-dark;
        padding: $sidebar-link-padding;
        display: flex;
        white-space: nowrap;
        align-items: center;
        line-height: 25px;
       /* opacity: 0.6;*/
        height: 35px; // custom property added
        i-feather {
          margin: 0 8px 2px 5px;
        }
        .feather {
          height: 14px;
          width: 14px;
          margin: 0 8px 2px 5px;
          fill: rgba(255, 255, 255, 0.2);
          color: $sidebar-icons;
        }
        i {
          font-style: normal;
         /* width: 35px;*/
          width: unset;
          line-height: 25px;
          font-size: $sidebar-icon-size;
          color: $sidebar-icons;
          display: inline-block;
          text-align: center;
          margin-left: 8px;
        }

     /*   &.active,
        &:hover {
          opacity: 1;
          .feather {
            color: $white;
          }
        }*/
      }

      &.active > .sidebar-link {

      /*  background: rgba(0, 0, 0, 0.04);*/
        opacity: 10;
        font-weight: $font-weight-normal;
        background: darkcyan;
        /*for  white or black vs white*/
        span{
          color:white;
        }
        .hover-color{
          color: white;
        }
        i-feather{
          color: white;
        }
        /*for white or black vs white*/
      }

      /*******************
           First level
           ******************/
      .first-level {
        padding: $sidebar-first-level-padding;
        /*for black vs white*/
         /*span{
           color: black;
         }*/
        /*for black vs white*/
        .sidebar-item.active > .sidebar-link {
          opacity: 10;

        /*  background: darkcyan;*/
          /*.hover-color{
            color: white;
          }
          i{
            color: white!important;
          }*/
        }


        .sidebar-item .sidebar-link {
          padding: $sidebar-first-level-link-padding;

          i {
            font-size: $sidebar-first-level-icon-size;
          }
        }


      }
    }
  }
}

// small cap

.nav-small-cap {
  font-size: 12px;
  padding: 20px 15px 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
  line-height: 30px;
  color: $sidebar-text;
  opacity: 0.3;
  font-weight: 500;
  text-transform: uppercase;

  i {
    line-height: 30px;
    margin: 0 5px;
  }
}

/*******************
 common m-p removed
******************/
.sidebar-nav {
  ul {
    margin: 0px;
    padding: 0px;

    li {
      list-style: none;
    }
  }
}

.collapse.in {
  display: block;
}

/*******************
Down arrow
******************/
.sidebar-nav .has-arrow {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: $sidebar-text;
    margin-left: 10px;
    -webkit-transform: rotate(135deg) translate(0, -50%);
    -ms-transform: rotate(135deg) translate(0, -50%);
    -o-transform: rotate(135deg) translate(0, -50%);
    transform: rotate(135deg) translate(0, -50%);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
   /* top: 26px;*/
    top:17px;
    right: 15px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
}

/*.sidebar-nav li.selected > .has-arrow::after,*/
.sidebar-nav li.active > .has-arrow::after,
.sidebar-nav li > .has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded="true"]::after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  -ms-transform: rotate(-135deg) translate(0, -50%);
  -o-transform: rotate(-135deg) translate(0, -50%);
  transform: rotate(-135deg) translate(0, -50%);
}

/*******************
use profile section
******************/

.user-profile {
  text-align: center;
  position: relative;

  .profile-img {
    width: 50px;
    margin: 0 auto;
    border-radius: 100%;

    &::before {
      -webkit-animation: 2.5s blow 0s linear infinite;
      animation: 2.5s blow 0s linear infinite;
      position: absolute;
      content: "";
      width: 50px;
      height: 50px;
      top: 0;
      margin: 0 auto;
      border-radius: 50%;
      z-index: 0;
    }

    @-webkit-keyframes blow {
      0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 0.5);
        transform: scale3d(1, 1, 0.5);
      }

      50% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 0.5);
        transform: scale3d(1, 1, 0.5);
      }

      100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 0.5);
        transform: scale3d(1, 1, 0.5);
      }
    }

    @keyframes blow {
      0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 0.5);
        transform: scale3d(1, 1, 0.5);
      }

      50% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 0.5);
        transform: scale3d(1, 1, 0.5);
      }

      100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 0.5);
        transform: scale3d(1, 1, 0.5);
      }
    }

    img {
      width: 100%;
      border-radius: 100%;
    }
  }

  .profile-text {
    padding: 5px 0;
    position: relative;

    a {
      color: $white;
      opacity: 0.6;
    }
  }

  .dropdown-menu {
    left: 0px;
    right: 0px;
    width: 180px;
    margin: 0 auto;
  }
}

// truncate
.hide-menu {
  overflow: unset;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 35px;
}
