<div style="padding: 10px">
  <div class="row" style="margin-top: -2%">
    <div class="col-sm-12">
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-md-7">
            <div class="form-inline">
              <nav aria-label="breadcrumb" style="margin-left: -2%">
                <ol class="breadcrumb">
                  <!--  <li class="breadcrumb-item">
                      <a href='javascript:void(0)'>Home</a>
                    </li>-->
                  <ng-container *ngIf="executionFlowPageService.loginUsers !== 'analyzer'">
                    <li class="breadcrumb-item active">Analytics</li>
                  </ng-container>
                  <!--<li class="breadcrumb-item ">Current Plan</li>-->
                  <ng-container *ngIf="executionFlowPageService.loginUsers === 'analyzer'">
                    <li class="breadcrumb-item active">FG Analytics</li>
                  </ng-container>
                <!--  <li class="breadcrumb-item ">Current Plan</li>-->
                  <li class="breadcrumb-item  font-weight-bold text-dark">SLOB</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-5 d-flex justify-content-end">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="top-card">
        <h4>Summary -
          <span style="font-weight: 500">'{{materialName}}'</span> Material</h4>
        <div class="row">
          <div class="col">
            <label>Total Stock</label>
            <div class="disable-style">
              {{slobSummaryList?.totalStockValue | number:'1.0':'en-IN'}}
            </div>
          </div>
          <div class="col">
            <label>Total SLOB</label>
            <div class="disable-style">
              {{slobSummaryList?.totalSlobValue | number:'1.0':'en-IN'}}
            </div>
          </div>
          <div class="col">
            <label>Obsolete</label>
            <div class="disable-style">
              {{slobSummaryList?.totalOBValue | number:'1.0':'en-IN'}}
            </div>
          </div>
          <div class="col">
            <label>SM</label>
            <div class="disable-style">
              {{slobSummaryList?.totalSLValue | number:'1.0':'en-IN'}}
            </div>
          </div>
          <div class="col">
            <label>IQ</label>
            <div class="disable-style">
              {{slobSummaryList?.iqPercentage| number : '1.2-2'}}&nbsp;%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-12">
      <div class="full-card">

        <div class="row">
          <div class="col-sm-3">
            <h4 style="font-weight: 500">Material Hierarchy</h4>
            <div style="margin-top: -8%;     height: 368px;
    /* border: 1px solid; */
    overflow: auto;">
              <ngx-org-chart [nodes]="nodes" direction="horizontal"
                             (itemClick)="onNodeSelection($event.parentId,$event.id,$event)"></ngx-org-chart>
            </div>
          </div>
          <div class="col-sm-6 pl-0">
            <div class="left-card">
              <h4>Inventory Quality -
                <span style="font-weight: 500">'{{materialName}}'</span> Material
               </h4>
              <div class="row">
                <div class="col-sm-6">
                  <div class="lft-child-card">
                    <h5 style="font-weight: 500">Value Basis</h5>
                    <div class="inventory-value">
                      IQ Value : <span style="font-weight: 500; font-size: 14px">
                  {{slobSummaryList?.iqValue| number:'1.0':'en-IN'}}</span>
                    </div>
                    <div class="row" style="width: 100%;
    margin-left: 0;
    margin-top: 16%;">
                      <div class="col-sm-8 text-center">
                        <h5 style="margin-top: 15%">SLOB/Stock Division</h5>
                        <div class="chart-card">
                          <canvas id="doughnut_slob_stock" width="800" height="700" style=" margin-top:5%">
                            {{valueBasis}}
                          </canvas>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="row" style="margin-top:68%;">
                          <div class="col">
                            <h5 class="slob-box-text">SLOB Value</h5>
                            <div class="slob-box" style="background: #db0000">
                              <span>{{slobSummaryList?.totalSlobValue | number:'1.0':'en-IN'}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="margin-top: 15%">
                          <div class="col">
                            <h5  class="slob-box-text">Stock Value</h5>
                            <div class="slob-box" style="background:green">
                              <span>{{slobSummaryList?.totalStockValue | number:'1.0':'en-IN'}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 pl-0">
                  <div class="rlt-child-card">
                    <h5 style="font-weight: 500">Percentage Basis</h5>

                    <div class="row" style="width: 100%;
    margin-left: 0;
    margin-top: 15%;">
                      <div class="col-sm-8 text-center">
                        <h5 style="margin-top: 15%">OB/SM/IQ %</h5>
                        <div class="chart-card">
                          <canvas id="doughnut_Ob_Sm_Iq" width="800" height="700" style=" margin-top:5%">
                            {{percentageBasis}}
                          </canvas>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="row" style="margin-top: 7%;">
                          <div class="col">
                            <h5  class="slob-box-text">OB %</h5>
                            <div class="slob-box" style="background: #db0000">
                              <span>{{slobSummaryList?.obPercentage}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="margin-top: 15%">
                          <div class="col">
                            <h5  class="slob-box-text">SM %</h5>
                            <div class="slob-box" style="background:#ff8c00">
                              <span>{{slobSummaryList?.slPercentage}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="margin-top: 15%">
                          <div class="col">
                            <h5  class="slob-box-text">IQ %</h5>
                            <div class="slob-box" style="background:green">
                              <span>{{slobSummaryList?.iqPercentage}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 pl-0">
            <div class="right-card">
              <h4>SLOB Details -
                <span style="font-weight: 500">'{{materialName}}'</span> Material</h4>
              <div class="tot-slob-value">
                Total SLOB Value : <span
                style="font-weight: 500">{{slobSummaryList?.totalSlobValue | number:'1.0':'en-IN'}}</span>
              </div>
              <div class="row" style="width: 100%;
    margin-left: 0;
    margin-top: 34%;">
                <div class="col-sm-8 text-center">
                  <h5>OB/SM Division</h5>
                  <div class="chart-card">
                    <canvas id="doughnut_slob_details" width="800" height="700" style=" margin-top:6%">
                      {{slobDetails}}
                    </canvas>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="row" style="margin-top: 26%;">
                    <div class="col">
                      <h5  class="slob-box-text">OB Value</h5>
                      <div class="slob-box" style="background: #db0000">
                        <span>{{slobSummaryList?.totalOBValue | number:'1.0':'en-IN'}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 15%">
                    <div class="col">
                      <h5  class="slob-box-text">SM Value</h5>
                      <div class="slob-box" style="background:#ff8c00">
                        <span>{{slobSummaryList?.totalSLValue  | number:'1.0':'en-IN'}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>















<!--<div style="padding: 10px">
  <div class="row" style="margin-top: -2%">
    <div class="col-sm-12">
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-md-7">
            <div class="form-inline">
              <nav aria-label="breadcrumb" style="margin-left: -2%">
                <ol class="breadcrumb">
                  &lt;!&ndash;  <li class="breadcrumb-item">
                      <a href='javascript:void(0)'>Home</a>
                    </li>&ndash;&gt;
                  <li class="breadcrumb-item active">Analytics</li>
                  <li class="breadcrumb-item ">Current Plan</li>
                  <li class="breadcrumb-item  font-weight-bold text-dark">SLOB</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-5 d-flex justify-content-end">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="top-card">
        <h4>Summary</h4>
        <div class="row">
          <div class="col">
            <label>Total Stock</label>
            <div class="disable-style">
              {{slobSummaryList?.totalStockValue | number:'1.0':'en-IN'}}
            </div>
          </div>
          <div class="col">
            <label>Total SLOB</label>
            <div class="disable-style">
              {{slobSummaryList?.totalSlobValue | number:'1.0':'en-IN'}}
            </div>
          </div>
          <div class="col">
            <label>Obsolete</label>
            <div class="disable-style">
              {{slobSummaryList?.totalOBValue | number:'1.0':'en-IN'}}
            </div>
          </div>
          <div class="col">
            <label>SM</label>
            <div class="disable-style">
              {{slobSummaryList?.totalSLValue | number:'1.0':'en-IN'}}
            </div>
          </div>
          <div class="col">
            <label>IQ</label>
            <div class="disable-style">
              {{slobSummaryList?.iqPercentage| number : '1.2-2'}}&nbsp;%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-3 pr-0">
      <div class="right-card">
        <h4 style="font-weight: 500">Material Hierarchy</h4>
        <ngx-org-chart [nodes]="nodes" direction="horizontal"
                       (itemClick)="onNodeSelection($event.parentId,$event.id)"></ngx-org-chart>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="left-card">
        <h4 style="font-weight: 500">Inventory Quality</h4>
        <div class="row">
          <div class="col-sm-6">
            <div class="lft-child-card">
              <h5 style="font-weight: 500">Value Basis</h5>
              <div class="inventory-value">
                IQ Value : <span style="font-weight: 500; font-size: 14px">
              {{slobSummaryList?.iqValue| number:'1.0':'en-IN'}}</span>
              </div>
              <div class="row" style="width: 100%;
    margin-left: 0;
    margin-top: 16%;">
                <div class="col-sm-8 text-center">
                  <h5>Stock/SLOB Division</h5>
                  <div class="chart-card">
                    <canvas id="doughnut_slob_stock" width="800" height="600" style=" margin-top:5%">
                      {{valueBasis}}
                    </canvas>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="row" style="margin-top:32%;">
                    <div class="col">
                      <h5>Stock Value</h5>
                      <div class="slob-box" style="background:#a6d608">
                        <span>{{slobSummaryList?.totalStockValue | number:'1.0':'en-IN'}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 15%">
                    <div class="col">
                      <h5>SLOB Value</h5>
                      <div class="slob-box" style="background: #db0000">
                        <span>{{slobSummaryList?.totalSlobValue | number:'1.0':'en-IN'}}</span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 pl-0">
            <div class="rlt-child-card">
              <h5 style="font-weight: 500">Percentage Basis</h5>

              <div class="row" style="width: 100%;
    margin-left: 0;
    margin-top: 15%;">
                <div class="col-sm-8 text-center">
                  <h5>IQ/OB/SM%</h5>
                  <div class="chart-card">
                    <canvas id="doughnut_Ob_Sm_Iq" width="800" height="600" style=" margin-top:5%">
                      {{percentageBasis}}
                    </canvas>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="row" style="margin-top: -28%;">
                    <div class="col">
                      <h5>IQ %</h5>
                      <div class="slob-box" style="background:#a6d608">
                        <span>{{slobSummaryList?.iqPercentage}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 15%">
                    <div class="col">
                      <h5>OB %</h5>
                      <div class="slob-box" style="background: #db0000">
                        <span>{{slobSummaryList?.obPercentage}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 15%">
                    <div class="col">
                      <h5>SM %</h5>
                      <div class="slob-box" style="background:#ff8c00">
                        <span>{{slobSummaryList?.slPercentage}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 pl-0">
      <div class="right-card">
        <h4 style="font-weight: 500">SLOB Details</h4>
        <div class="tot-slob-value">
          Total SLOB Value : <span
          style="font-weight: 500">{{slobSummaryList?.totalSlobValue | number:'1.0':'en-IN'}}</span>
        </div>
        <div class="row" style="width: 100%;
    margin-left: 0;
    margin-top: 18%;">
          <div class="col-sm-8 text-center">
            <h5>OB/SM Division</h5>
            <div class="chart-card">
              <canvas id="doughnut_slob_details" width="800" height="600" style=" margin-top:11%">
                {{slobDetails}}
              </canvas>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row" style="margin-top: 45%;">
              <div class="col">
                <h5>OB Value</h5>
                <div class="slob-box" style="background: #db0000">
                  <span>{{slobSummaryList?.totalOBValue | number:'1.0':'en-IN'}}</span>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 15%">
              <div class="col">
                <h5>SM Value</h5>
                <div class="slob-box" style="background:#ff8c00">
                  <span>{{slobSummaryList?.totalSLValue  | number:'1.0':'en-IN'}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->













