<form class="form-horizontal">
    <div  style="border: 1px solid lightgrey; padding: 2%;margin-left: 0%;width: 100%; margin-bottom: 0%;
overflow-x: hidden; height: 175px">
        <h4 style="font-size: 17px">Personal Information</h4>
        <div class="row" style="margin-top: 2%;">

            <ng-container [formGroup]="partyForm" *ngIf="partyForm !== undefined">
                <ng-container formGroupName="partyTypeUser">
                    <div class="form-group col-sm-4">
                        <label class="control-label">First Name</label><span style="color: red">*</span>
                        <input type="text" class="form-control form-control-sm inp-css" formControlName="firstName"
                               required autocomplete="off">
                        <span
                                *ngIf="!partyForm.get('partyTypeUser.firstName').valid && partyForm.get('partyTypeUser.firstName').touched"
                                class="help-block">
                    <span
                            *ngIf=" partyForm.get('partyTypeUser.firstName').touched && partyForm.get('partyTypeUser.firstName').errors['required']">This field is required</span>
                    </span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="control-label">Middle Name</label>
                        <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                               formControlName="middleName">
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="control-label">Last Name</label><span style="color: red">*</span>
                        <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                               formControlName="lastName" required>
                        <span
                                *ngIf="!partyForm.get('partyTypeUser.lastName').valid && partyForm.get('partyTypeUser.lastName').touched"
                                class="help-block">
                    <span
                            *ngIf=" partyForm.get('partyTypeUser.lastName').touched && partyForm.get('partyTypeUser.lastName').errors['required']">This field is required</span>
                    </span>

                    </div>

                    <div class="form-group col-sm-4">
                        <label class="control-label">Username</label><span style="color: red">*</span>
                        <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                               formControlName="username" required
                               (focusout)="usernameValidator($event)"
                               [readonly]="currentPartyTypeUserId !== undefined">
                        <span
                                *ngIf="!partyForm.get('partyTypeUser.username').valid && partyForm.get('partyTypeUser.username').touched"
                                class="help-block">
                                    <span *ngIf=" partyForm.get('partyTypeUser.username').touched && partyForm.get('partyTypeUser.username').errors['required']">This field is required</span>
                                    </span>
                        <span
                                *ngIf="partyForm.get('partyTypeUser.username').valid && partyForm.get('partyTypeUser.username').touched"
                                class="help-block">
                                            <span *ngIf="isUsernameExists">Username already exists</span>
                                        </span>
                    </div>
                </ng-container>
                <div class="form-group col-sm-4" *ngIf="currentPartyTypeUserId === undefined && currentOrgForUser !== undefined && currentOrgForUser.partyTypeOrganization !== undefined
                        && currentOrgForUser.partyTypeOrganization !== null && !currentOrgForUser.partyTypeOrganization.service">
                    <label class="control-label">Role</label><span style="color: red">*</span>
                    <div class="inp-css">
                    <angular2-multiselect [data]="roleList" [settings]="singleSelectDropdownSettings"
                                          [(ngModel)]="selectedRole" formControlName="roles"
                                          class="form-control form-control-sm">
                    </angular2-multiselect></div>
                </div>

                <div class="form-group col-sm-4" *ngIf="currentPartyTypeUserId !== undefined && currentOrgForUser !== undefined && currentOrgForUser.partyTypeOrganization !== undefined
                        && currentOrgForUser.partyTypeOrganization !== null && !currentOrgForUser.partyTypeOrganization.service">
                    <label class="control-label">Role</label><span style="color: red">*</span>
                    <div class="inp-css"> <angular2-multiselect [data]="roleList" [settings]="disabledSingleSelectDropdownSettings"
                                          [(ngModel)]="selectedRole" formControlName="roles"
                                          class="form-control form-control-sm">
                    </angular2-multiselect></div>
                </div>

                <div class="form-group col-sm-4" formGroupName="partyName">
                    <label class="control-label">Salutation</label>
                    <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                           formControlName="salutation">
                </div>
            </ng-container>
            <div class="form-group col-sm-4" [formGroup]="partyRelationshipForm"
                 *ngIf="partyRelationshipForm !== undefined">
                <label class="control-label">Begin Date</label>
                <input type="text" class="form-control form-control-sm inp-css"
                       autocomplete="off" [bsConfig]="dpConfig"
                       formControlName="beginDate" bsDatepicker>
            </div>
        </div>
    </div>

    <div  style="border: 1px solid lightgrey; padding: 2%; margin-top:2%; margin-left: 0%;width: 100%; margin-bottom: 0%;
overflow-x: hidden; height: 175px">
        <h4 style="font-size: 17px">Address Details</h4>
        <div class="row" style="width: 100%; margin-left: 0%; margin-top: 2%;">
            <ng-container [formGroup]="partyForm" *ngIf="partyForm !== undefined">
                <div class="form-body">
                    <div class="row" formArrayName="partyAddressDetails"
                         *ngFor="let item of partyForm.get('partyAddressDetails')['controls']; let i = index;">
                        <ng-container [formGroupName]="i">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Address Line One</label><span
                                    style="color: red">*</span>
                                <input type="text" class="form-control form-control-sm inp-css"
                                       formControlName="addressLineOne"
                                       required autocomplete="off">
                                <span
                                        *ngIf="!partyForm.get('partyAddressDetails')['controls'][i].get('addressLineOne').valid && partyForm.get('partyAddressDetails')['controls'][i].get('addressLineOne').touched"
                                        class="help-block">
                    <span
                            *ngIf=" partyForm.get('partyAddressDetails')['controls'][i].get('addressLineOne').touched && partyForm.get('partyAddressDetails')['controls'][i].get('addressLineOne').errors?.required">This field is required</span>
                    </span>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Address Line Two</label>
                                <input type="text" class="form-control form-control-sm inp-css"
                                       autocomplete="off" formControlName="addressLineTwo">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Area</label>
                                <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                                       formControlName="area">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Pincode</label>
                                <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                                       formControlName="pinCode">
                            </div>

                            <div class="form-group col-sm-4">
                                <label class="control-label">City</label>
                                <select formControlName="city" class="form-control form-control-sm inp-css">
                                    <option *ngFor="let city of cityList" [value]="city.id">
                                        {{city.name}}
                                    </option>
                                </select>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div  style="border: 1px solid lightgrey; padding: 2%; margin-top:2%; margin-left: 0%;width: 100%; margin-bottom: 0%;
overflow-x: hidden; height: 175px">
        <h4 style="font-size: 17px">Contact Details</h4>
        <div class="row" style="margin-top: 2%; width: 100%; margin-left: 0%;">
            <ng-container [formGroup]="partyForm"
                          *ngIf="partyForm !== undefined">
                <div class="form-body">
                    <div class="row" formGroupName="partyContactDetails">
                        <div class="form-group col-sm-4">
                            <label class="control-label">Primary Mobile No.</label><span style="color: red">*</span>
                            <input type="text" class="form-control form-control-sm inp-css" formControlName="mobileNoOne"
                                   maxlength="15" minlength="4"
                                   (focusout)="mobileNumberValidation($event.target.value)"
                                   required autocomplete="off">
                            <span
                                    *ngIf="!partyForm.get('partyContactDetails.mobileNoOne').valid && partyForm.get('partyContactDetails.mobileNoOne').touched"
                                    class="help-block">
                    <span
                            *ngIf=" partyForm.get('partyContactDetails.mobileNoOne').touched && partyForm.get('partyContactDetails.mobileNoOne').errors['required']">This field is required</span>
                    </span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Alternate Mobile No.</label>
                            <input type="text" class="form-control form-control-sm inp-css"
                                   maxlength="15" minlength="4"
                                   (keyup)="alternateMobileNumberValidation($event.target.value)"
                                   autocomplete="off" formControlName="mobileNoTwo">
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Landline No.</label>
                            <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                                   maxlength="15" minlength="4"
                                   (keyup)="landlineNumberValidation($event.target.value)"
                                   formControlName="landLineOne">
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Alt. Landline No.</label>
                            <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                                   maxlength="15" minlength="4"
                                   (keyup)="alternateLandlineNumberValidation($event.target.value)"
                                   formControlName="landLineTwo">
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Email</label><span style="color: red">*</span>
                            <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                                   formControlName="emailIdOne" required>
                            <span
                                    *ngIf="!partyForm.get('partyContactDetails.emailIdOne').valid && partyForm.get('partyContactDetails.emailIdOne').touched"
                                    class="help-block">
                    <span
                            *ngIf=" partyForm.get('partyContactDetails.emailIdOne').touched && partyForm.get('partyContactDetails.emailIdOne').errors['required']">This field is required</span>
                    </span>
                        </div>
                        <br>

                        <div class="form-group col-sm-4">
                            <label class="control-label">Alternate Email</label>
                            <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                                   formControlName="emailIdTwo">
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Fax No.</label>
                            <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                                   maxlength="15"
                                   minlength="4"
                                   (keyup)="faxNumberValidation($event.target.value)"
                                   formControlName="faxOne">
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Alternate Fax No.</label>
                            <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                                   maxlength="15"
                                   minlength="4"
                                   (keyup)="alternateFaxNumberValidaiton($event.target.value)"
                                   formControlName="faxTwo">
                        </div>

                    </div>
                </div>
            </ng-container>
        </div>
    </div>


</form>
<div class="pull-right" style="margin-bottom: -9px;
  margin-top: 2%;" *ngIf="partyForm !== undefined &&  partyRelationshipForm !== undefined">
    <button class="btn btn-info mb-2" type="submit" (click)="submitButtonClicked = true;addUser()"
            [disabled]="submitButtonClicked || !partyForm.valid || !partyRelationshipForm.valid || isUsernameExists || (currentOrgForUser !== undefined && currentOrgForUser.partyTypeOrganization !== undefined
                        && currentOrgForUser.partyTypeOrganization !== null && !currentOrgForUser.partyTypeOrganization.service && selectedRole.length === 0) || !this.isValidmobileNumber || !this.isValidAlternameMobileNumber || !isValidLandlineNumber || !isValidAlternateLandlineNumber || !isFaxNumberValid || !isAlternateFaxNumberValid">
        Submit
    </button>
</div>









<!--<div class="material-card card" style="font-size: smaller">
    <div class="card-body">
        <form class="form-horizontal">
            <h4 class="card-title">User</h4>
            <div class="card-body" style="padding-left: 0">
                <h4 class="card-title text-info">Personal Info</h4>
                <div class="row">
                    <ng-container [formGroup]="partyForm" *ngIf="partyForm !== undefined">
                        <ng-container formGroupName="partyTypeUser">
                            <div class="form-group col-sm-4">
                                <label class="control-label">First Name</label><span style="color: red">*</span>
                                <input type="text" class="form-control form-control-sm" formControlName="firstName"
                                       required autocomplete="off">
                                <span
                                        *ngIf="!partyForm.get('partyTypeUser.firstName').valid && partyForm.get('partyTypeUser.firstName').touched"
                                        class="help-block">
                    <span
                            *ngIf=" partyForm.get('partyTypeUser.firstName').touched && partyForm.get('partyTypeUser.firstName').errors['required']">This field is required</span>
                    </span>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Middle Name</label>
                                <input type="text" class="form-control form-control-sm" autocomplete="off"
                                       formControlName="middleName">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Last Name</label><span style="color: red">*</span>
                                <input type="text" class="form-control form-control-sm" autocomplete="off"
                                       formControlName="lastName" required>
                                <span
                                        *ngIf="!partyForm.get('partyTypeUser.lastName').valid && partyForm.get('partyTypeUser.lastName').touched"
                                        class="help-block">
                    <span
                            *ngIf=" partyForm.get('partyTypeUser.lastName').touched && partyForm.get('partyTypeUser.lastName').errors['required']">This field is required</span>
                    </span>

                            </div>

                            <div class="form-group col-sm-4">
                                <label class="control-label">Username</label><span style="color: red">*</span>
                                <input type="text" class="form-control form-control-sm" autocomplete="off"
                                       formControlName="username" required
                                       (focusout)="usernameValidator($event.target.value)"
                                       [readonly]="currentPartyTypeUserId !== undefined">
                                <span
                                        *ngIf="!partyForm.get('partyTypeUser.username').valid && partyForm.get('partyTypeUser.username').touched"
                                        class="help-block">
                                    <span *ngIf=" partyForm.get('partyTypeUser.username').touched && partyForm.get('partyTypeUser.username').errors['required']">This field is required</span>
                                    </span>
                                <span
                                        *ngIf="partyForm.get('partyTypeUser.username').valid && partyForm.get('partyTypeUser.username').touched"
                                        class="help-block">
                                            <span *ngIf="isUsernameExists">Username already exists</span>
                                        </span>
                            </div>
                        </ng-container>
                        <div class="form-group col-sm-4" *ngIf="currentPartyTypeUserId === undefined && currentOrgForUser !== undefined && currentOrgForUser.partyTypeOrganization !== undefined
                        && currentOrgForUser.partyTypeOrganization !== null && !currentOrgForUser.partyTypeOrganization.service">
                            <label class="control-label">Role</label><span style="color: red">*</span>
                            <angular2-multiselect [data]="roleList" [settings]="singleSelectDropdownSettings"
                                                  [(ngModel)]="selectedRole" formControlName="roles"
                                                  class="form-control form-control-sm">
                            </angular2-multiselect>
                        </div>

                        <div class="form-group col-sm-4" *ngIf="currentPartyTypeUserId !== undefined && currentOrgForUser !== undefined && currentOrgForUser.partyTypeOrganization !== undefined
                        && currentOrgForUser.partyTypeOrganization !== null && !currentOrgForUser.partyTypeOrganization.service">
                            <label class="control-label">Role</label><span style="color: red">*</span>
                            <angular2-multiselect [data]="roleList" [settings]="disabledSingleSelectDropdownSettings"
                                                  [(ngModel)]="selectedRole" formControlName="roles"
                                                  class="form-control form-control-sm">
                            </angular2-multiselect>
                        </div>

                        <div class="form-group col-sm-4" formGroupName="partyName">
                            <label class="control-label">Salutation</label>
                            <input type="text" class="form-control form-control-sm" autocomplete="off"
                                   formControlName="salutation">
                        </div>
                    </ng-container>
                    <div class="form-group col-sm-4" [formGroup]="partyRelationshipForm"
                         *ngIf="partyRelationshipForm !== undefined">
                        <label class="control-label">Begin Date</label>
                        <input type="text" class="form-control form-control-sm"
                               autocomplete="off" [bsConfig]="dpConfig"
                               formControlName="beginDate" bsDatepicker>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-body" style="padding-left: 0">
                <h4 class="card-title text-info">Address Details</h4>
                <ng-container [formGroup]="partyForm" *ngIf="partyForm !== undefined">
                    <div class="form-body">
                        <div class="row" formArrayName="partyAddressDetails"
                             *ngFor="let item of partyForm.get('partyAddressDetails')['controls']; let i = index;">
                            <ng-container [formGroupName]="i">
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Address Line One</label><span
                                        style="color: red">*</span>
                                    <input type="text" class="form-control form-control-sm"
                                           formControlName="addressLineOne"
                                           required autocomplete="off">
                                    <span
                                            *ngIf="!partyForm.get('partyAddressDetails')['controls'][i].get('addressLineOne').valid && partyForm.get('partyAddressDetails')['controls'][i].get('addressLineOne').touched"
                                            class="help-block">
                    <span
                            *ngIf=" partyForm.get('partyAddressDetails')['controls'][i].get('addressLineOne').touched && partyForm.get('partyAddressDetails')['controls'][i].get('addressLineOne').errors?.required">This field is required</span>
                    </span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Address Line Two</label>
                                    <input type="text" class="form-control form-control-sm"
                                           autocomplete="off" formControlName="addressLineTwo">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Area</label>
                                    <input type="text" class="form-control form-control-sm" autocomplete="off"
                                           formControlName="area">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Pincode</label>
                                    <input type="text" class="form-control form-control-sm" autocomplete="off"
                                           formControlName="pinCode">
                                </div>

                                <div class="form-group col-sm-4">
                                    <label class="control-label">City</label>
                                    <select formControlName="city" class="form-control form-control-sm">
                                        <option *ngFor="let city of cityList" [value]="city.id">
                                            {{city.name}}
                                        </option>
                                    </select>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
            <hr>
            <div class="card-body" style="padding-left: 0">
                <h4 class="card-title text-info">Contact Details</h4>
                <ng-container [formGroup]="partyForm"
                              *ngIf="partyForm !== undefined">
                    <div class="form-body">
                        <div class="row" formGroupName="partyContactDetails">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Primary Mobile No.</label><span style="color: red">*</span>
                                <input type="text" class="form-control form-control-sm" formControlName="mobileNoOne"
                                       maxlength="15" minlength="4"
                                       (focusout)="mobileNumberValidation($event.target.value)"
                                       required autocomplete="off">
                                <span
                                        *ngIf="!partyForm.get('partyContactDetails.mobileNoOne').valid && partyForm.get('partyContactDetails.mobileNoOne').touched"
                                        class="help-block">
                    <span
                            *ngIf=" partyForm.get('partyContactDetails.mobileNoOne').touched && partyForm.get('partyContactDetails.mobileNoOne').errors['required']">This field is required</span>
                    </span>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Alternate Mobile No.</label>
                                <input type="text" class="form-control form-control-sm"
                                       maxlength="15" minlength="4"
                                       (keyup)="alternateMobileNumberValidation($event.target.value)"
                                       autocomplete="off" formControlName="mobileNoTwo">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Landline No.</label>
                                <input type="text" class="form-control form-control-sm" autocomplete="off"
                                       maxlength="15" minlength="4"
                                       (keyup)="landlineNumberValidation($event.target.value)"
                                       formControlName="landLineOne">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Alternate Landline No.</label>
                                <input type="text" class="form-control form-control-sm" autocomplete="off"
                                       maxlength="15" minlength="4"
                                       (keyup)="alternateLandlineNumberValidation($event.target.value)"
                                       formControlName="landLineTwo">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Email</label><span style="color: red">*</span>
                                <input type="text" class="form-control form-control-sm" autocomplete="off"
                                       formControlName="emailIdOne" required>
                                <span
                                        *ngIf="!partyForm.get('partyContactDetails.emailIdOne').valid && partyForm.get('partyContactDetails.emailIdOne').touched"
                                        class="help-block">
                    <span
                            *ngIf=" partyForm.get('partyContactDetails.emailIdOne').touched && partyForm.get('partyContactDetails.emailIdOne').errors['required']">This field is required</span>
                    </span>
                            </div>
                            <br>

                            <div class="form-group col-sm-4">
                                <label class="control-label">Alternate Email</label>
                                <input type="text" class="form-control form-control-sm" autocomplete="off"
                                       formControlName="emailIdTwo">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Fax No.</label>
                                <input type="text" class="form-control form-control-sm" autocomplete="off"
                                       maxlength="15"
                                       minlength="4"
                                       (keyup)="faxNumberValidation($event.target.value)"
                                       formControlName="faxOne">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Alternate Fax No.</label>
                                <input type="text" class="form-control form-control-sm" autocomplete="off"
                                       maxlength="15"
                                       minlength="4"
                                       (keyup)="alternateFaxNumberValidaiton($event.target.value)"
                                       formControlName="faxTwo">
                            </div>

                        </div>
                    </div>
                </ng-container>
            </div>
            <hr>
            <div class="pull-right" *ngIf="partyForm !== undefined &&  partyRelationshipForm !== undefined">
                <button class="btn btn-info mb-2" type="submit" (click)="submitButtonClicked = true;addUser()"
                        [disabled]="submitButtonClicked || !partyForm.valid || !partyRelationshipForm.valid || isUsernameExists || (currentOrgForUser !== undefined && currentOrgForUser.partyTypeOrganization !== undefined
                        && currentOrgForUser.partyTypeOrganization !== null && !currentOrgForUser.partyTypeOrganization.service && selectedRole.length === 0) || !this.isValidmobileNumber || !this.isValidAlternameMobileNumber || !isValidLandlineNumber || !isValidAlternateLandlineNumber || !isFaxNumberValid || !isAlternateFaxNumberValid">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>-->
