table#receiptTable tbody {
  /* display: block;
   !* max-height: 200px;*!*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#receiptTable thead, table#receiptTable tbody tr {
  /* display: table;
   width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.receipt-table th, td {
  padding: 0.60882800608828vh;
  white-space: nowrap;
}

.receipt-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.receipt-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}

.receipt-table {
  transform-style: preserve-3d;
  width: 100%;
}

.receipt-scroll-table {
  border: 1px solid lightgrey;
  max-height: 213px;
  min-height: auto;
  overflow: auto;
  min-width: 500px;
  width: auto;
}

table thead {
  background-color: darkcyan;
  color: white;
}

.receipt-card {
  /* border: 2px solid lightslategrey;
   padding: 1%;*/
  margin-bottom: 0px;
  background: white;
}

.succes-msg {
  position: absolute;
  top: -11%;
  left: 43%;
  padding: 1px 10px 1px 10px;
  width: 44%;
}

.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  MARGIN-TOP: 6px;
}

.header-sticky {
  position: sticky;
  z-index: 100;
  top: -1px;
}

.excel-icon-btn {
  position: absolute;
  top: -9%;
  left: 90%;
  border: none;
  cursor: pointer;
  background: transparent;
}
label {
  font-weight: 400;
  font-size: 14px;
}
