<div class="receipt-card">
  <div class="receipt-scroll-table">
    <table class="table table-bordered receipt-table" id="receiptTable">
      <thead class="text-light text-left header-sticky">
      <tr>
        <th>ID</th>
        <th>Reason</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let slobData of rmSlobReasonList;let i = index">
        <ng-container *ngIf="slobData?.reasonType=='RM_SLOB'">
          <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{slobData?.reason}}</td>
            <td>{{slobData?.description}}</td>
          </tr>
        </ng-container>
      </ng-container>

      </tbody>
    </table>
  </div>

  <div class="card " style="border: 1px solid lightgrey; padding: 2%; margin-top: 3%;margin-left: 0%;width: 100%; margin-bottom: 0%;">
    <div class="receipt-card">

        <h4 style="font-size: 16px; font-weight: 500">Edit SLOB Reason</h4>

      <!--<ng-container *ngIf="isEditMode">
        <h4 style="font-size: 16px; margin-top: 1%; font-weight: 600">Add SLOB Reason</h4>
      </ng-container>-->
      <form [formGroup]="remarkForm">
        <div class="row mt-3">
          <div class="col d-flex">
            <label for="name" class="control-label">Reason</label>
            <span style="color: red">*</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" class="form-control form-control-sm" style="margin-left: 0px;width: 69%;"
                   id="name" formControlName="name">
          </div>
        </div>
        <div class="row mt-1">
          <div class="col d-flex">
            <label for="aliasName" class="control-label">AliasName</label>
            <span style="color: red">*</span>
            &nbsp;&nbsp;
            <input type="text" class="form-control form-control-sm"
                   id="aliasName" formControlName="aliasName">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col d-flex justify-content-end pr-1">
            <button type="submit"  class="btn btn-sm btn-info waves-effect pull-right" (click)="save()">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>





