
/*.rm-table thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 100;
  background-color: darkcyan;
  color: white;
}*/

.rm-table th, td{
  padding: 0.60882800608828vh;
  white-space: nowrap;
}
.rm-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.rm-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}

.rm-table {
  transform-style: preserve-3d;
  width: 100% !important;
}
.rm-table-scroll{
  border: 1px solid lightgrey;
  height: 80.36529680365297vh;
  overflow: auto
}
/*table#rmTable tbody {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}*/

.word-wrap-table-cell{
  cursor: pointer;
  white-space: nowrap;
  width: 53px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}
table thead {
  background-color: darkcyan;
  color: white;
}
table#rmTable thead, table#rmTable tbody tr {
 /* display: table;
  width: 100%;*/
  table-layout: fixed;
}
table#rmTable tbody {
  overflow-y: auto;
  overflow-x: hidden;
  /* display: block;
   !*max-height: 200px;*!
   */
}
/*
.icon-search{
  margin-left: -2%;
  font-size: 13px;
}
.rm-search{
  border: 1px solid #39c449;
  box-shadow: 0 0 5px rgba(109,207,246,.5);
  height: 25px;
  line-height: 4;
  width: 16%;
  margin-left: -1%;
  margin-bottom: 6px;
}


.rm-table th, td{
  padding: 4px;
}

.rm-table th {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid lightgrey;
}
.rm-table td {
  font-size: 12px;

}

.rm-table{
  transform-style: preserve-3d;
  width: 100%;
}
.header-sticky{
  position: sticky; z-index: 100; top: -1%
}

.thead-bg {
  background: darkcyan;
  color: white;
}*/

.gross-card{
 /* border: 2px solid lightslategrey;
  padding: 1%;*/
  margin-bottom: 0px;
  background: white;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  MARGIN-TOP: 6px;
}
.mps-plan-selection{
  margin-left: -2%;
}
.succes-msg{
  color: white;
  position: absolute;
  top: 2%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}
