<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <!-- <h4 class="mps-plan-selection page-title text-muted"><b>MPS 07_11</b></h4>-->
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <!--  <li class="breadcrumb-item">
                        <a>Home</a>
                      </li>-->
                    <li class="breadcrumb-item active">SLOB</li>
                    <li class="breadcrumb-item  font-weight-bold text-dark">SLOB</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                <button class="btn btn-outline-dark btn-rounded summary-btn"
                        data-toggle="modal" data-target="#summaryModal">
                  Summary
                </button>
                <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download 'SLOB'"
                        style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slob-card">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <div class="row" style="border: 1px solid darkgrey; border-bottom:unset; width: 100%;margin-left: 0%;">
        <div class="col-sm-12">
          <table style="width: 100%!important; margin-left: -1%; margin-top: 1%">
            <tr>
              <td class="label-text">
                <label class="font-weight-bold">Total Stock Value :</label>
                <label class="disable-style">
                  {{slobTotalValues?.totalStockValue | number:'1.0':'en-IN'}}
                </label>
              </td>
              <td class="label-text">
                <label class="font-weight-bold " style="margin-left: 3%;">Total SLOB Value :</label>
                <label class="disable-style">
                  {{slobTotalValues?.totalSlobValue | number:'1.0':'en-IN' }}
                </label>
              </td>
              <td class="label-text">
                <label class="font-weight-bold" style="margin-left: 3%;">Total Slow Item Value :</label>
                <label class="disable-style">
                  {{slobTotalValues?.slTypeTotalValue | number:'1.0':'en-IN'}}
                </label>
              </td>
              <td class="label-text">
                <label class="font-weight-bold" style="margin-left: 3%;">Slow OB Item Value :</label>
                <label class="disable-style">
                  {{slobTotalValues?.obTypeTotalValue | number:'1.0':'en-IN'}}
                </label>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="slob-table-scroll">
            <table class="table table-bordered slob-table" id="slobTable">
              <thead class="header-sticky text-left">
              <tr>
                <th>FG Code</th>
                <th style="width: 17%">Description</th>
                <th>Stock Qty</th>
                <th>MAP</th>
                <th>Stock Value</th>
                <th>Total Plan Qty</th>
                <th>SLOB Qty</th>
                <th>SLOB Value</th>
                <th>SL/OB</th>
              </tr>
              </thead>
              <tbody class="text-right">
              <tr *ngFor="let slobData of slobDataList">
                <td class="font-weight-bold text-left">{{slobData?.itemCode}}</td>
                <td style="width: 17%" class="text-left">{{slobData?.itemDescription}}</td>
                <td>{{slobData?.stockQuantity | number:'1.0':'en-IN'}}</td>
                <td>{{slobData?.mapPrice | number:'1.0':'en-IN'}}</td>
                <td>{{slobData?.stockValue | number:'1.0':'en-IN'}}</td>
                <td>{{slobData?.totalPlanQuantity | number:'1.0':'en-IN'}}</td>
                <td>{{slobData?.slobQuantity | number:'1.0':'en-IN'}}</td>
                <td>{{slobData?.slobValue | number:'1.0':'en-IN'}}</td>
                <td class="text-left">{{slobData?.slobType}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Summary modal-->

<div class="modal fade" id="summaryModal" tabindex="-1" role="dialog"
     aria-labelledby="summaryModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; width: 120%; margin-top: 20%; margin-left: -12%;">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 22px" id="summaryModalLabel">SLOB Summary</h5>
        <button (click)="fgSlObSummaryexportAsXLSX()" data-toggle="tooltip" title="Download 'Summary'"
                class="summary-excel">
          <i><img src="../../../../assets/images/big/excel.png"></i></button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="successSLOBSummaryMessage!==''">
          <p class="alert alert-success succes-msg-modal" style="background: #73c373" data-dismiss="alert"
             aria-label="Close">
            <strong>{{successSLOBSummaryMessage}}</strong>
          </p>
        </ng-container>
        <ng-container *ngIf="errorSLOBSummaryMessage!==''">
          <p class="alert alert-danger succes-msg-modal" style="background: #ff5b5b" data-dismiss="alert"
             aria-label="Close">
            <strong>{{errorSLOBSummaryMessage}}</strong>
          </p>
        </ng-container>
        <div class="row">
          <div class="col-sm-12">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <button class="nav-link by-default btn  active"
                        id="pills-home-tab" data-toggle="pill" href="#pills-home"
                        role="tab" aria-controls="pills-home" aria-selected="true">OverAll Deviation
                </button>
              </li>
              <li class="nav-item">
                <button class="nav-link by-default btn" id="pills-profile-tab" data-toggle="pill"
                        href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Division
                  wise Deviation
                </button>
              </li>
              <li class="nav-item">
                <button class="nav-link by-default btn"
                        id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                        role="tab" aria-controls="pills-contact" aria-selected="false">Summary Details
                </button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <table class="table table-bordered total-slob-deviation-table" id="totalSlobDeviationTable">
                  <thead class="text-left header-sticky">
                  <tr>
                    <th></th>
                    <th>{{totalSlobSummaryValues?.currentMonthValue}}</th>
                    <th>{{totalSlobSummaryValues?.previousMonthValue}}</th>
                    <th>Deviation Total</th>
                    <th>Deviation Status</th>
                  </tr>
                  </thead>
                  <tbody class="text-center">
                  <tr class="text-right">
                    <th class="text-left">OB Value</th>
                    <td>{{overAllDeviationList?.obDeviationDTO?.currentMonthSlobValue | number:'1.0':'en-IN'}}</td>
                    <td>{{overAllDeviationList?.obDeviationDTO?.previousMonthSlobValue | number:'1.0':'en-IN'}}</td>
                    <td>{{overAllDeviationList?.obDeviationDTO?.deviationValue | number:'1.0':'en-IN'}}</td>
                    <td class="text-center">
                      <ng-container *ngIf="overAllDeviationList?.obDeviationDTO?.deviationStatus === 'UP'">
                        <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                      </ng-container>
                      <ng-container *ngIf="overAllDeviationList?.obDeviationDTO?.deviationStatus === 'DOWN'">
                        <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                      </ng-container>
                      <ng-container *ngIf="overAllDeviationList?.obDeviationDTO?.deviationStatus === 'NA'">
                      </ng-container>
                    </td>
                  </tr>
                  <tr class="text-right">
                    <th class="text-left">SM Value</th>
                    <td>{{overAllDeviationList?.slDeviationDTO?.currentMonthSlobValue | number:'1.0':'en-IN'}}</td>
                    <td>{{overAllDeviationList?.slDeviationDTO?.previousMonthSlobValue | number:'1.0':'en-IN'}}</td>
                    <td>{{overAllDeviationList?.slDeviationDTO?.deviationValue | number:'1.0':'en-IN'}}</td>
                    <td class="text-center">
                      <ng-container *ngIf="overAllDeviationList?.slDeviationDTO?.deviationStatus === 'UP'">
                        <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                      </ng-container>
                      <ng-container *ngIf="overAllDeviationList?.slDeviationDTO?.deviationStatus === 'DOWN'">
                        <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                      </ng-container>
                      <ng-container *ngIf="overAllDeviationList?.slDeviationDTO?.deviationStatus === 'NA'">
                      </ng-container>
                    </td>
                  </tr>
                  <tr class="text-right">
                    <th class="text-left">Current SLOB</th>
                    <td>{{overAllDeviationList?.slobDeviationDTO?.currentMonthSlobValue | number:'1.0':'en-IN'}}</td>
                    <td>{{overAllDeviationList?.slobDeviationDTO?.previousMonthSlobValue | number:'1.0':'en-IN'}}</td>
                    <td>{{overAllDeviationList?.slobDeviationDTO?.deviationValue | number:'1.0':'en-IN'}}</td>
                    <td class="text-center">
                      <ng-container *ngIf="overAllDeviationList?.slobDeviationDTO?.deviationStatus === 'UP'">
                        <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                      </ng-container>
                      <ng-container *ngIf="overAllDeviationList?.slobDeviationDTO?.deviationStatus === 'DOWN'">
                        <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                      </ng-container>
                      <ng-container *ngIf="overAllDeviationList?.slobDeviationDTO?.deviationStatus === 'NA'">
                      </ng-container>
                    </td>
                  </tr>
                  <tr class="text-right">
                    <th class="text-left">Total Stock Value</th>
                    <td>{{overAllDeviationList?.stockDeviationDTO?.currentMonthSlobValue | number:'1.0':'en-IN'}}</td>
                    <td>{{overAllDeviationList?.stockDeviationDTO?.previousMonthSlobValue | number:'1.0':'en-IN'}}</td>
                    <td>{{overAllDeviationList?.stockDeviationDTO?.deviationValue | number:'1.0':'en-IN'}}</td>
                    <td class="text-center">
                      <ng-container *ngIf="overAllDeviationList?.stockDeviationDTO?.deviationStatus === 'UP'">
                        <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                      </ng-container>
                      <ng-container *ngIf="overAllDeviationList?.stockDeviationDTO?.deviationStatus === 'DOWN'">
                        <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                      </ng-container>
                      <ng-container *ngIf="overAllDeviationList?.stockDeviationDTO?.deviationStatus === 'NA'">
                      </ng-container>
                    </td>
                  </tr>
                  <tr class="text-right">
                    <th class="text-left">OB %</th>
                    <td>{{overAllDeviationList?.obPercentageDeviationDTO?.currentMonthSlobValue | number:'1.2-2':'en-IN'}}
                    </td>
                    <td>{{overAllDeviationList?.obPercentageDeviationDTO?.previousMonthSlobValue| number:'1.2-2':'en-IN'}}
                    </td>
                    <td>{{overAllDeviationList?.obPercentageDeviationDTO?.deviationValue | number:'1.2-2':'en-IN'}}</td>
                    <td class="text-center">
                      <ng-container *ngIf="overAllDeviationList?.obPercentageDeviationDTO?.deviationStatus === 'UP'">
                        <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                      </ng-container>
                      <ng-container *ngIf="overAllDeviationList?.obPercentageDeviationDTO?.deviationStatus === 'DOWN'">
                        <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                      </ng-container>
                      <ng-container *ngIf="overAllDeviationList?.obPercentageDeviationDTO?.deviationStatus === 'NA'">
                      </ng-container>
                    </td>
                  </tr>
                  <tr class="text-right">
                    <th class="text-left">SM %</th>
                    <td>{{overAllDeviationList?.slPercentageDeviationDTO?.currentMonthSlobValue | number:'1.2-2':'en-IN'}}
                    </td>
                    <td>{{overAllDeviationList?.slPercentageDeviationDTO?.previousMonthSlobValue | number:'1.2-2':'en-IN'}}
                    </td>
                    <td>{{overAllDeviationList?.slPercentageDeviationDTO?.deviationValue| number:'1.2-2':'en-IN'}}</td>
                    <td class="text-center">
                      <ng-container *ngIf="overAllDeviationList?.slPercentageDeviationDTO?.deviationStatus === 'UP'">
                        <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                      </ng-container>
                      <ng-container *ngIf="overAllDeviationList?.slPercentageDeviationDTO?.deviationStatus === 'DOWN'">
                        <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                      </ng-container>
                      <ng-container *ngIf="overAllDeviationList?.slPercentageDeviationDTO?.deviationStatus === 'NA'">
                      </ng-container>
                    </td>
                  </tr>
                  <tr class="text-right">
                    <th class="text-left">Stock Quality %</th>
                    <td>{{overAllDeviationList?.stockPercentageDeviationDTO?.currentMonthSlobValue | number:'1.2-2':'en-IN'}}
                    </td>
                    <td>{{overAllDeviationList?.stockPercentageDeviationDTO?.previousMonthSlobValue | number:'1.2-2':'en-IN'}}
                    </td>
                    <td>{{overAllDeviationList?.stockPercentageDeviationDTO?.deviationValue | number:'1.2-2':'en-IN'}}
                    </td>
                    <td class="text-center">
                      <ng-container *ngIf="overAllDeviationList?.stockPercentageDeviationDTO?.deviationStatus === 'UP'">
                        <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                      </ng-container>
                      <ng-container
                        *ngIf="overAllDeviationList?.stockPercentageDeviationDTO?.deviationStatus === 'DOWN'">
                        <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                      </ng-container>
                      <ng-container *ngIf="overAllDeviationList?.stockPercentageDeviationDTO?.deviationStatus === 'NA'">
                      </ng-container>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="division-slob-deviation-table-scroll">
                  <table class="table table-bordered division-slob-deviation-table" id="divisionSlobDeviationTable">
                    <thead class="text-left header-sticky">
                    <tr>
                      <th>Material Type</th>
                      <th>Division</th>
                      <th>Current Slob</th>
                      <th>Previous Slob</th>
                      <th>Deviation</th>
                      <th>Deviation Status</th>
                    </tr>
                    </thead>
                    <tbody class="text-right">
                    <ng-container *ngFor="let divsionSlobDeviationData of divsionSlobDeviation">
                      <tr>
                        <td class="text-left">{{divsionSlobDeviationData?.fgType}}</td>
                        <td></td>
                        <td>{{divsionSlobDeviationData?.typeDeviationDTO?.currentMonthSlobValue |
                          number:'1.0':'en-IN'}}
                        </td>
                        <td>{{divsionSlobDeviationData?.typeDeviationDTO?.previousMonthSlobValue |
                          number:'1.0':'en-IN'}}
                        </td>
                        <td>{{divsionSlobDeviationData?.typeDeviationDTO?.deviationValue | number:'1.0':'en-IN' }}</td>
                        <td class="text-center">
                          <ng-container *ngIf="divsionSlobDeviationData?.typeDeviationDTO?.deviationStatus === 'UP'">
                            <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                          </ng-container>
                          <ng-container *ngIf="divsionSlobDeviationData?.typeDeviationDTO?.deviationStatus === 'DOWN'">
                            <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                          </ng-container>
                          <ng-container *ngIf="divsionSlobDeviationData?.typeDeviationDTO?.deviationStatus === 'NA'">
                          </ng-container>
                        </td>
                      </tr>
                      <ng-container
                        *ngFor="let divisionWiseFGSlobSummaryDTOsList of divsionSlobDeviationData?.divisionWiseFGSlobSummaryDTOs">
                        <tr class="text-right">
                          <td></td>
                          <td class="text-right">{{divisionWiseFGSlobSummaryDTOsList?.divisionName}}</td>
                          <td>{{divisionWiseFGSlobSummaryDTOsList?.divisionWiseDeviationDTO?.currentMonthSlobValue |
                            number:'1.0':'en-IN'}}
                          </td>
                          <td>{{divisionWiseFGSlobSummaryDTOsList?.divisionWiseDeviationDTO?.previousMonthSlobValue |
                            number:'1.0':'en-IN'}}
                          </td>
                          <td>{{divisionWiseFGSlobSummaryDTOsList?.divisionWiseDeviationDTO?.deviationValue |
                            number:'1.0':'en-IN'}}
                          </td>
                          <td class="text-center">
                            <ng-container
                              *ngIf="divisionWiseFGSlobSummaryDTOsList?.divisionWiseDeviationDTO?.deviationStatus === 'UP'">
                              <i class="fa fa-arrow-up" style="font-size: 18px; color:limegreen"></i>
                            </ng-container>
                            <ng-container
                              *ngIf="divisionWiseFGSlobSummaryDTOsList?.divisionWiseDeviationDTO?.deviationStatus === 'DOWN'">
                              <i class="fa fa-arrow-down" style="font-size: 18px; color:red"></i>
                            </ng-container>
                            <ng-container
                              *ngIf="divisionWiseFGSlobSummaryDTOsList?.divisionWiseDeviationDTO?.deviationStatus === 'NA'">
                            </ng-container>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="division-slob-deviation-table-scroll">
                  <table class="table table-bordered slob-summary-table" id="slobSummaryTable">
                    <thead class="text-left header-sticky">
                    <tr>
                      <th>Material Type</th>
                      <th>Division</th>
                      <th>OB Value</th>
                      <th>SM Value</th>
                      <th>Current Slob</th>
                      <th>Total Stock Value</th>
                      <th>IQ</th>
                    </tr>
                    </thead>
                    <tbody class="text-right">
                    <ng-container *ngFor="let slobSummary of slobSummaryList">
                      <tr>
                        <td class="text-left">{{slobSummary?.fgType}}</td>
                        <td></td>
                        <td>{{slobSummary?.totalTypeOBValue | number:'1.0':'en-IN'}}</td>
                        <td>{{slobSummary?.totalTypeSLValue | number:'1.0':'en-IN'}}</td>
                        <td>{{slobSummary?.totalTypeSlobValue | number:'1.0':'en-IN'}}</td>
                        <td>{{slobSummary?.totalTypeStockValue | number:'1.0':'en-IN'}}</td>
                        <td>{{slobSummary?.materialIQ| number:'1.2-2':'en-IN'}}&nbsp;%</td>
                      </tr>
                      <ng-container
                        *ngFor="let divisionWiseFGSlobSummaryDTOsList of slobSummary?.divisionWiseFGSlobSummaryDTOs">
                        <tr>
                          <td></td>
                          <td class="text-left">{{divisionWiseFGSlobSummaryDTOsList?.divisionName}}</td>
                          <td>{{divisionWiseFGSlobSummaryDTOsList?.obValue | number:'1.0':'en-IN'}}</td>
                          <td>{{divisionWiseFGSlobSummaryDTOsList?.slValue | number:'1.0':'en-IN'}}</td>
                          <td>{{divisionWiseFGSlobSummaryDTOsList?.slobValue | number:'1.0':'en-IN'}}</td>
                          <td>{{divisionWiseFGSlobSummaryDTOsList?.stockValue | number:'1.0':'en-IN'}}</td>
                          <td></td>
                        </tr>
                      </ng-container>
                    </ng-container>
                    <tr>
                      <td colspan="2" class="text-left" style="font-weight: bold">TOTAL</td>
                      <td>{{totalSlobSummaryValues?.totalObsoleteItemValue | number:'1.0':'en-IN'}}</td>
                      <td>{{totalSlobSummaryValues?.totalSlowItemValue | number:'1.0':'en-IN'}}</td>
                      <td>{{totalSlobSummaryValues?.totalSlobValue | number:'1.0':'en-IN'}}</td>
                      <td>{{totalSlobSummaryValues?.totalStockValue | number:'1.0':'en-IN'}}</td>
                      <td>{{totalSlobSummaryValues?.slobIQ| number:'1.2-2':'en-IN'}}&nbsp;%</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
