.slob-table-scroll {
  border: 1px solid lightgrey;
  height:  72.6027397260274vh;
  overflow: auto;
}


table th,td{
  padding: 0.60882800608828vh;
  white-space: nowrap;
}
table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}
table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}
table{
  transform-style: preserve-3d;
  width: 100%;
}
table thead {
  background-color: darkcyan;
  color: white;
}

.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}
table#slobTable tbody {
 /* display: block;
  !* max-height: 200px;*!*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#slobTable thead, table#slobTable tbody tr {
 /* display: table;
  width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}

table#mapTable tbody {
  display: block;
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#mapTable thead, table#mapTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.map-table-scroll {
  border: 1px solid lightgrey;
  height: 300px;
  overflow-x: hidden;
  margin-top: -4px;
}



.close-btn{
  font-size: 20px;
  line-height: 1;
  padding-top: 0px;
}


.text-link{
  text-decoration: underline;
  cursor: pointer;
}

table#slobMonthTable tbody {
  display: block;
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#slobMonthTable thead, table#slobMonthTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.slob-month-scroll {
  border: 1px solid lightgrey;
  height: 300px;
  overflow-x: hidden;
  margin-top: -4px;
}
.word-wrap-table-cell{
  cursor: pointer;
  white-space: nowrap;
  width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label-style{
  margin-left: 6px;
  font-size: 14px;
}

.slob-card{
/*  border: 2px solid lightslategrey;
  padding: 1%;*/
  margin-bottom: 0px;
  background: white;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5%;
}
.mps-plan-selection{
  margin-left: -2%;
}
.breadcrumb-item + .breadcrumb-item::before {
  float: none;
  padding-right: 0.5rem;
  color: #868e96;
  content: "/";
}

.succes-msg{
  color: white;
  position: absolute;
  top: 2%;
  left: 40%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}
.disable-style{
  padding: 1%;
  width: 18.264840182648403vh;
  height: 4.26179604261796vh;
  /* border: 1px solid darkgrey; */
  background-color: #e9ecef;
  opacity: 1;
  font-weight: 400;
  margin-left: 1%;
  font-size: 2.13089802130898vh;
}
.label-text{
  border:unset!important;
  font-weight: bold!important;
  font-size: 2.43531202435312vh!important;
  padding: 0px!important;
  text-align: center!important;
  /* border: 1px solid darkgrey;
   border-top:unset!important;*/
}
.summary-btn{
  position: absolute;
  left: 74%;
  padding: 0px 10px 0px 10px;
  top: 11%;
  font-size: 2.2831050228310503vh;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  /*
   border-radius: 25px;*/
  padding: 2px 15px 2px 15px;
  border: 1px solid darkcyan;
  background: darkcyan;
  color: white;
}
.by-default{
  background: white;
  color: #000;

  padding: 2px 15px 2px 15px;
  border: 1px solid grey;
}
.tab-content{
  border: 0.30441400304414vh solid lightslategrey;
  /*padding: 1%;*/
  margin-bottom: 0px;
  background: white;
  margin-top: -10px;
  padding: 1%;
  height: auto;
}
.division-slob-deviation-table-scroll{
  border: 1px solid lightgrey;
  max-height: 280px;
  min-height: auto;
  overflow: auto;
}
.slob-summary-table-scroll {
  border: 1px solid lightgrey;
  height: 210px;
  overflow-x: hidden;
  margin-top: -4px;
}
.summary-excel{
  cursor: pointer;
  margin-left: 75%;
  margin-top: 0.238965vh;
  border:none;
  background: transparent;
}
.succes-msg-modal {
  color: white;
  position: absolute;
  top: -15%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px
}
