.brd-card {
  height: 498px;
  overflow: auto;
  border: 1px solid lightgrey;
  padding: 2%;
}

.row-css {
  margin-top: 2%;
  width: 100%;
  margin-left: 0;
}

.btnSize {
  font-size: 14px;
  width: 230px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  margin-left: -1%;
  color: white;
  background: darkcyan;
  border-radius: 20px;
}

.mrpbtn {
  font-size: 16px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: -1%;
  color: black;
  background: #D3D3D3;
}

.gap-css {
  margin-top: -3%;
}

/*button.colChg:focus {
  background: grey;
  color: white;
}*/

.all-reports-card {
  border: 2px solid lightslategrey;
  padding: 1%;
  margin-bottom: 0px;
  background: white;
}

.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 6%;
}

.box {
  border: 1px solid lightgrey;
  padding: 1%;
  width: 100%;
  height: 95px;
}

.modal-dialog{
  position: relative;
  display: table;
  overflow-y: auto;
  overflow-x: auto;
  width: auto;
  min-width: 500px;
}
.succes-msg {
  margin-bottom: 7px!important;
  color: white;
  padding: 3px 7px 3px 7px;
  width: 160px;
  border-radius: 25px;
  font-size: 15px;
  text-align: center;
  margin-right: 12px;
}
.excel-icon-btn {
  border: none;
  cursor: pointer;
  background: transparent;
  margin-top: -6px;
  margin-right: 10px;

}
