<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <!-- <h4 class="mps-plan-selection page-title text-muted"><b>MPS 07_11</b></h4>-->
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <!-- <li class="breadcrumb-item">
                       <a routerLink="/newRm/newRmMps">Home</a>
                     </li>-->
                    <li class="breadcrumb-item active" >Consumption</li>
                    <li class="breadcrumb-item active font-weight-bold text-dark" >Pivot (RM based)</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
              <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download 'Pivot (RM based) Consumption'"
                        style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--
     <input type="text"  placeholder="Search..."  class="gross-search btn-rounded"  [(ngModel)]="grossConsumptionSearchTerm">
     <span class="fas fa-search icon-search"></span>-->

    <div class="gross-card">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <div class="bulk-table-scroll">
        <table class="table table-bordered bulk-table" id="bulkTable" #TABLE>
          <thead class="text-left header-sticky">
          <tr>
            <th>RM Code</th>
            <th>Bulk</th>
            <th>Bulk Description</th>
            <th>{{monthNamesList?.month1?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month2?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month3?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month4?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month5?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month6?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month7?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month8?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month9?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month10?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month11?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month12?.monthNameAlias}}</th>
            <th>Total Value</th>
          </tr>
          </thead>
          <tbody class="text-right">
          <ng-container *ngFor="let pivotData of pivotDataList">
            <ng-container *ngFor="let consumptionItemDetailsData of pivotData.consumptionItemDetailsDTOs">
            <tr>
            <td  class="font-weight-bold text-left">{{consumptionItemDetailsData?.childItemCode}}</td>
              <td>
                <div title="{{consumptionItemDetailsData?.parentItemCode}}">
            <span class=" cursor-pointer text-info text-link"
                  title="Click to see FG Details for Bulk"
                  (click)="pivotConsumption(consumptionItemDetailsData)"
                  data-toggle="modal" data-target="#pivotDescriptionModal">
        {{consumptionItemDetailsData?.parentItemCode}}</span></div>
              </td>
            <td class="text-left">{{consumptionItemDetailsData?.parentItemDescription}}</td>
            <td>{{consumptionItemDetailsData?.m1Value}}</td>
            <td>{{consumptionItemDetailsData?.m2Value}}</td>
            <td>{{consumptionItemDetailsData?.m3Value}}</td>
            <td>{{consumptionItemDetailsData?.m4Value}}</td>
            <td>{{consumptionItemDetailsData?.m5Value}}</td>
            <td>{{consumptionItemDetailsData?.m6Value}}</td>
            <td>{{consumptionItemDetailsData?.m7Value}}</td>
            <td>{{consumptionItemDetailsData?.m8Value}}</td>
            <td>{{consumptionItemDetailsData?.m9Value}}</td>
            <td>{{consumptionItemDetailsData?.m10Value}}</td>
            <td>{{consumptionItemDetailsData?.m11Value}}</td>
            <td>{{consumptionItemDetailsData?.m12Value}}</td>
              <td>{{consumptionItemDetailsData?.totalValue}}</td>
            </tr>
            </ng-container>
            <tr style="font-weight: 500">
              <td class="text-left font-weight-bold">{{pivotData?.childItemCode}}</td>
              <td></td>
              <td class="text-left">Total</td>
              <td>{{pivotData?.m1TotalValue}}</td>
              <td>{{pivotData?.m2TotalValue}}</td>
              <td>{{pivotData?.m3TotalValue}}</td>
              <td>{{pivotData?.m4TotalValue}}</td>
              <td>{{pivotData?.m5TotalValue}}</td>
              <td>{{pivotData?.m6TotalValue}}</td>
              <td>{{pivotData?.m7TotalValue}}</td>
              <td>{{pivotData?.m8TotalValue}}</td>
              <td>{{pivotData?.m9TotalValue}}</td>
              <td>{{pivotData?.m10TotalValue}}</td>
              <td>{{pivotData?.m11TotalValue}}</td>
              <td>{{pivotData?.m12TotalValue}}</td>
              <td>{{pivotData?.totalValue}}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<!--month modal-->

<div class="modal fade" id="pivotDescriptionModal" tabindex="-1" role="dialog"
     aria-labelledby="pivotDescriptionModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda;   margin-top: 28%;">
      <div class="modal-header">
        <h5 class="modal-title text-center"  style="font-size: 22px" id="pivotDescriptionModalLabel">FG Details for Bulk "<span class="font-weight-bold">{{bulkCode}}</span>" </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row ">
          <div class="col-sm-12">
            <div class="receipt-scroll-table">
            <table class="table table-bordered" id="pivotDescriptionModalTable" style="width: 100%!important;">
              <thead class="header-sticky text-left">
              <tr>
                <th>FG Code </th>
                <th>FG Description</th>
              </tr>
              </thead>
              <tbody class="text-left">
              <tr *ngFor="let pivotConsumption of pivotDescriptionList">
                <td class="font-weight-bold">{{pivotConsumption.fgCode}}</td>
                <td>{{pivotConsumption.fgDescription}}</td>
              </tr>
              </tbody>
            </table>
            </div>
            <!-- </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

