<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <!--<h4 class="mps-plan-selection page-title text-muted"><b>MPS 07_11</b></h4>-->
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <!--<li class="breadcrumb-item">
                      <a routerLink="/newPm/newMps">Home</a>
                    </li>-->
                    <li class="breadcrumb-item active" >Saturation</li>
                    <li class="breadcrumb-item  text-dark font-weight-bold" >Supplier Based Saturation</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                <button  (click)="exportAsXLSX()" data-toggle="tooltip" title="Download  'PM Supplierwise Mould Saturation'"
                         style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="supplier-wise-card">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <div class="supplier-wise-table-scroll">
        <table class="table table-bordered supplier-wise-table" id="supllierWiseTable">
          <thead class="text-left header-sticky">
          <tr>
            <th>Supplier</th>
            <th>Mould</th>
            <th>Capacity</th>
            <th>PM Code</th>
            <th>PM Description</th>
            <th>{{monthNamesList?.month1?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month2?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month3?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month4?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month5?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month6?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month7?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month8?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month9?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month10?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month11?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month12?.monthNameAlias}}</th>
          </tr>
          </thead>
          <tbody id="accordion" class="custom-accordion  text-right">
          <ng-container *ngFor="let supplierwisedata of  supplierWiseDataList; let index=index;">
              <ng-container *ngFor="let itemWiseOriginalMouldSatuartion of  supplierwisedata.itemWiseLatestMouldSaturationDTOList; let index=index;">
            <tr class="border-class">
              <td  class="text-left">
              <div class="dropdown">
                <span class="text-info text-link dropdown-toggle text-left" type="button"
                      id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{supplierwisedata?.supplierName }}
                </span>
                <div class="dropdown-menu dropdown-card-style" aria-labelledby="dropdownMenuButton">
                  <span>
                   <span class="fa fa-caret-up caret-up arrow-up-style"></span>
                  </span>
                  <h4 class="dropdown-text">Supplier Total</h4>
                  <table class="table  fg-details-table" style="margin-top: -8px">
                    <thead class="text-center">
                    <tr>
                      <th class="border-color">Supplier</th>
                      <th class="border-color">Mould</th>
                      <th class="border-color">Capacity</th>
                      <th class="border-color">{{monthNamesList?.month1?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month2?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month3?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month4?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month5?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month6?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month7?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month8?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month9?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month10?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month11?.monthNameAlias}}</th>
                      <th class="border-color">{{monthNamesList?.month12?.monthNameAlias}}</th>
                    </tr>
                    </thead>
                    <tbody  class="text-center border-color" >
                    <tr>
                      <td  class="text-left border-color">{{supplierwisedata.supplierName}}</td>
                      <td  class="text-left border-color">{{supplierwisedata.mould}}</td>
                      <td class="border-color">{{supplierwisedata.capacity | number:'1.0':'en-IN'}}</td>
                      <td class="border-color"  [ngClass]="supplierwisedata.month1Total >=70?'danger':''">{{supplierwisedata.month1Total +'%' }}</td>
                      <td class="border-color" [ngClass]="supplierwisedata.month2Total >=70?'danger':''">{{supplierwisedata.month2Total +'%'}}</td>
                      <td class="border-color" [ngClass]="supplierwisedata.month3Total >=70?'danger':''">{{supplierwisedata.month3Total +'%'}}</td>
                      <td class="border-color" [ngClass]="supplierwisedata.month4Total >=70?'danger':''">{{supplierwisedata.month4Total +'%'}}</td>
                      <td class="border-color" [ngClass]="supplierwisedata.month5Total >=70?'danger':''">{{supplierwisedata.month5Total +'%'}}</td>
                      <td class="border-color" [ngClass]="supplierwisedata.month6Total >=70?'danger':''">{{supplierwisedata.month6Total +'%'}}</td>
                      <td class="border-color" [ngClass]="supplierwisedata.month7Total >=70?'danger':''">{{supplierwisedata.month7Total +'%'}}</td>
                      <td class="border-color" [ngClass]="supplierwisedata.month8Total >=70?'danger':''">{{supplierwisedata.month8Total +'%'}}</td>
                      <td class="border-color" [ngClass]="supplierwisedata.month9Total >=70?'danger':''">{{supplierwisedata.month9Total +'%'}}</td>
                      <td class="border-color" [ngClass]="supplierwisedata.month10Total >=70?'danger':''">{{supplierwisedata.month10Total +'%'}}</td>
                      <td class="border-color" [ngClass]="supplierwisedata.month11Total >=70?'danger':''">{{supplierwisedata.month11Total +'%'}}</td>
                      <td class="border-color" [ngClass]="supplierwisedata.month12Total >=70?'danger':''">{{supplierwisedata.month12Total +'%'}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              </td>
              <td  class="text-left">{{supplierwisedata.mould}}</td>
              <td>{{supplierwisedata.capacity | number:'1.0':'en-IN'}}</td>
              <td  class="text-left sm-padding" style="width: 10%">{{itemWiseOriginalMouldSatuartion?.code}}</td>
              <td  class="text-left sm-padding" style="width: 14%">{{itemWiseOriginalMouldSatuartion?.description}}</td>
              <td  [ngClass]="itemWiseOriginalMouldSatuartion?.month1.value >=70?'danger':''">{{itemWiseOriginalMouldSatuartion?.month1.value +'%'}}</td>
              <td  [ngClass]="itemWiseOriginalMouldSatuartion?.month2.value >=70?'danger':''">{{itemWiseOriginalMouldSatuartion?.month2.value +'%'}}</td>
              <td  [ngClass]="itemWiseOriginalMouldSatuartion?.month3.value >=70?'danger':''">{{itemWiseOriginalMouldSatuartion?.month3.value +'%'}}</td>
              <td [ngClass]="itemWiseOriginalMouldSatuartion?.month4.value >=70?'danger':''">{{itemWiseOriginalMouldSatuartion?.month4.value +'%'}}</td>
              <td [ngClass]="itemWiseOriginalMouldSatuartion?.month5.value >=70?'danger':''">{{itemWiseOriginalMouldSatuartion?.month5.value +'%'}}</td>
              <td [ngClass]="itemWiseOriginalMouldSatuartion?.month6.value >=70?'danger':''">{{itemWiseOriginalMouldSatuartion?.month6.value +'%'}}</td>
              <td [ngClass]="itemWiseOriginalMouldSatuartion?.month7.value >=70?'danger':''">{{itemWiseOriginalMouldSatuartion?.month7.value +'%'}}</td>
              <td [ngClass]="itemWiseOriginalMouldSatuartion?.month8.value >=70?'danger':''">{{itemWiseOriginalMouldSatuartion?.month8.value +'%'}}</td>
              <td [ngClass]="itemWiseOriginalMouldSatuartion?.month9.value >=70?'danger':''">{{itemWiseOriginalMouldSatuartion?.month9.value +'%'}}</td>
              <td [ngClass]="itemWiseOriginalMouldSatuartion?.month10.value >=70?'danger':''">{{itemWiseOriginalMouldSatuartion?.month10.value +'%'}}</td>
              <td [ngClass]="itemWiseOriginalMouldSatuartion?.month11.value >=70?'danger':''">{{itemWiseOriginalMouldSatuartion?.month11.value +'%'}}</td>
              <td [ngClass]="itemWiseOriginalMouldSatuartion?.month12.value >=70?'danger':''">{{itemWiseOriginalMouldSatuartion?.month12.value +'%'}}</td>
            </tr>
          </ng-container>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

