
.highlight{
  background:  #f7f7f7;
  /* border:none!important;*/
}

.supplier-wise-table .hide-border td {
  /*border: none;*/
  /* border: 1px solid lightgrey;*/
  border-bottom: none !important;
  border-top: none !important;
  font-size: 1.82648401826484vh;
}

.supplier-wise-table th,td{
  padding: 0.60882800608828vh;
  white-space: nowrap;
}
.supplier-wise-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;

}
.supplier-wise-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}
.supplier-wise-table{
  transform-style: preserve-3d;
  width: 100%;
}

table thead {
  background-color: darkcyan;
  color: white;
}

.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}

table#supllierWiseTable tbody {
/*  display: block;
  !* max-height: 200px;*!*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#supllierWiseTable thead, table#supllierWiseTable tbody tr {
 /* display: table;
  width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.supplier-wise-table-scroll {
  border: 1px solid lightgrey;
  height: 79.90867579908675vh;
  overflow: auto;

}


table#insideTable tbody {
  /*display: block;
  !* max-height: 200px;*!*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#insideTable thead, table#insideTable tbody tr {
/*  display: table;
  width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.supplier-wise-inside-table-scroll {
  border: 1px solid lightgrey;
  height: 30.441400304414003vh;
  overflow-x: hidden;
}


.supplier-wise-inside-table th,td{
  padding: 0.60882800608828vh;
  white-space: nowrap;
}
.supplier-wise-inside-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}
.supplier-wise-inside-table td {
  font-size: 1.82648401826484vh;
}
.supplier-wise-inside-table{
  transform-style: preserve-3d;
  width: 100%;
}

.hide-border button i{
  color: dodgerblue;
  font-size: 18px;
}

.collapse-row {
  padding:0px!important;
  /* border:none!important;*/
  background: #f7f7f7;
}
.sub-item-card{
  padding:1%;
  background:white;
  margin: 1%;
  border:1px solid lightgrey;
}
.border-class td{
  border:1px solid lightgrey!important;
  background: white;
  border-bottom: none!important;
  border-left: none !important;
}
.supplier-wise-card{
 /* border: 2px solid lightslategrey;
  padding: 1%;*/
  margin-bottom: 0px;
  background: white;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 2%;
}
.mps-plan-selection{
  margin-left: -2%;
}
.succes-msg{
  color: white;
  position: absolute;
  top: 2%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}
.sm-padding{
  padding: 0.60882800608828vh!important;
  text-align: right;
}
.text-link {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.dropdown-toggle::after {
  display:none;
}

.dropdown-card-style{
  width: 1200px;
  margin-top: 7%;
  margin-left: 50%;
  height: 79px;
  border: 1px solid black;
  background: black;
}
.arrow-up-style{
  color: black;
  top: -25%!important;
  left: -1px!important;
  font-size: 28px!important;
}

.dropdown-text{
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  margin-top: -5px;
  color: white;
}
.fg-details-table th, td{
  padding: 4px;
}

.fg-details-table th {
  font-size: 14px;
  font-weight: bold;
  border:1px solid black!important;
}
.fg-details-table td {
  font-size: 12px;
  border:1px solid black!important;
}
.fg-details-table th{
  background: white;
}
.border-color{
  border:1px solid black!important;
  background: white;
  color:black!important;
}
.danger{
  background: red!important;
  color:white!important;;
}
