<div style="padding:0.625em">
  <div class="row" style="margin-top: -2%">
    <div class="col-sm-12">
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-md-7">
            <div class="form-inline">
              <nav aria-label="breadcrumb" style="margin-left: -2%">
                <ol class="breadcrumb">
                  <!--  <li class="breadcrumb-item">
                      <a href='javascript:void(0)'>Home</a>
                    </li>-->
                  <ng-container *ngIf="executionFlowPageService.loginUsers !== 'analyzer'">
                    <li class="breadcrumb-item active">Analytics</li>
                  </ng-container>
                  <!--<li class="breadcrumb-item ">Current Plan</li>-->
                  <ng-container *ngIf="executionFlowPageService.loginUsers === 'analyzer'">
                    <li class="breadcrumb-item active">FG Analytics</li>
                  </ng-container>
                 <!-- <li class="breadcrumb-item  ">Current Plan</li>-->
                  <li class="breadcrumb-item  font-weight-bold text-dark">Skid Saturation</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-5 d-flex justify-content-end">
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="row mt-1" >
  <div class="col-sm-3 pr-0">
    <div class="left-card ">
      <h4 class="font-weight-bold" style="font-size: 2.43531202435312vh">Range Wise</h4>
      <div class="row">
        <div class="col-sm-5">
          <div class="summary-chart-card">
            <canvas id="SKID_SATURATION_RANGEWISE" width="400" height="420" style="position:absolute; margin-left: 2%; margin-top: 11%">
              {{rangeWiseSkidSaturationChartData}}
            </canvas>
          </div>
        </div>
        <div class="col-sm-7">
          <table class="table table-bordered trending-supplier-legends">
            <thead class="text-center text-white" style="background: black">
            <tr>
              <th> Range</th>
              <th> Count</th>
            </tr>
            </thead>
            <tbody class="text-center font-weight-bold">
            <tr>
              <td class="font-size-lg">Total</td>
              <td class="font-size-lg">
               {{rangeWiseSkidSaturation?.totalCount}}
              </td>
            </tr>
            <tr>
              <td>
                    <span class="form-inline justify-content-center">
                           <i class="legend-i"  style="color:#db0000 ;">&#x25A0;</i>
                           <span  style="margin-left: 5%"> {{rangeWiseSkidSaturation?.highSaturationRange}} </span>
                    </span>
              </td>
              <td>{{rangeWiseSkidSaturation?.highSaturationRangeListCount}}</td>
            </tr>
            <tr>
              <td>
                   <span class="form-inline justify-content-center">
                           <i class="legend-i"  style="color:#7b97ff;">&#x25A0;</i>
                           <span  style="margin-left: 5%"> {{rangeWiseSkidSaturation?.mediumSaturationRange}}</span>
                    </span>
              </td>
              <td>{{rangeWiseSkidSaturation?.mediumSaturationRangeListCount}}</td>
            </tr>
            <tr>
              <td>
                   <span class="form-inline justify-content-center">
                           <i class="legend-i"  style="color:green;">&#x25A0;</i>
                           <span class=" justify-content-center" style="margin-left: 5%">{{rangeWiseSkidSaturation?.lowSaturationRange}} </span>
                    </span>
              </td>
              <td>{{rangeWiseSkidSaturation?.lowSaturationRangeListCount }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-12">
          <ng-container>
            <div id="accordion" class="accordion-style">
              <div class="panel card collpased-card-css">
                <div class="card-header panel-heading collapse-header-css high-bg-header" (click)="firstPanel=true; secondPanel=false; thirdPanel=false;"
                     data-toggle="collapse"  data-target="#collapseOne"  id="headingOne">
                  <i class="fa  icon-css"
                     [class.fa-caret-right]="!firstPanel"
                     [class.fa-caret-down]="firstPanel"
                     aria-expanded="true" aria-controls="collapseOne"></i>
                  <span style="margin-left: 3%; color: white;">Equal to or greater than 70</span>
                  <span style="position: absolute;left: 72%; color: white; ">(Count: {{rangeWiseSkidSaturation?.highSaturationRangeListCount}})</span>
                </div>

                <div id="collapseOne" class="collapse show panel-collapse"
                     aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body collapse-body">
                    <div class="sm-table-scroll">
                      <table class="table table-bordered sm-table">
                        <thead class="header-sticky text-center">
                        <tr>
                          <th>Skid Name</th>
                          <th>Saturation %</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <ng-container *ngFor="let highData of highSaturationRangeSkidsDTOList">
                          <tr>
                            <td style="font-weight: bold">{{highData?.skidName}}</td>
                            <td>{{highData?.avgSaturationPercentage | number:'1.2-2':'en-IN'}}</td>
                          </tr>
                        </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card panel collpased-card-css">
                <div class="card-header panel-heading collapse-header-css medium-bg-header" (click)="firstPanel=false; secondPanel=true; thirdPanel=false;"
                     data-target="#collapseTwo"   data-toggle="collapse"   id="headingTwo">
                  <i class="fa icon-css"
                     [class.fa-caret-right]="!secondPanel"
                     [class.fa-caret-down]="secondPanel"


                     aria-expanded="false" aria-controls="collapseTwo"></i>
                  <span style="margin-left: 3%; color: white; ">Between 40 to 70</span>
                  <span style="position: absolute;left: 72%; color: white; ">(Count: {{rangeWiseSkidSaturation?.mediumSaturationRangeListCount}})</span>

                </div>
                <div id="collapseTwo" class="collapse panel-collapse"
                     aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body collapse-body" >
                    <div class="sm-table-scroll">
                      <table class="table table-bordered sm-table" >
                        <thead class="header-sticky text-center">
                        <tr>
                          <th>Skid Name</th>
                          <th>Saturation %</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <ng-container *ngFor="let mediumData of mediumSaturationRangeSkidsDTOList">
                          <tr>
                            <td style="font-weight: bold">{{mediumData?.skidName}}</td>
                            <td>{{mediumData?.avgSaturationPercentage | number:'1.2-2':'en-IN'}}</td>
                          </tr>
                        </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card panel collpased-card-css">
                <div class="card-header panel-heading collapse-header-css low-bg-header"(click)="firstPanel=false; secondPanel=false; thirdPanel=true;"
                     data-toggle="collapse"   data-target="#collapseThree"   id="headingThree">
                  <i class="fa  icon-css"
                     [class.fa-caret-right]="!thirdPanel"
                     [class.fa-caret-down]="thirdPanel"
                     aria-expanded="false" aria-controls="collapseThree"></i>
                  <span style="margin-left: 3%; color: white; ">Less Than 40</span>
                  <span style="position: absolute;left: 72%; color: white; ">(Count: {{rangeWiseSkidSaturation?.lowSaturationRangeListCount}})</span>

                </div>
                <div id="collapseThree" class="collapse panel-collapse"
                     aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body collapse-body">
                    <div class="sm-table-scroll">
                      <table class="table table-bordered sm-table" >
                        <thead class="header-sticky text-center">
                        <tr>
                          <th>Skid Name</th>
                          <th>Saturation %</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <ng-container *ngFor="let lowData of lowSaturationRangeSkidsDTOList">
                          <tr>
                            <td style="font-weight: bold">{{lowData?.skidName}}</td>
                            <td>{{lowData?.avgSaturationPercentage | number:'1.2-2':'en-IN'}}</td>
                          </tr>
                        </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="right-card">
      <h4 class="font-weight-bold" style="font-size: 2.43531202435312vh">Saturation Details</h4>
      <div class="row">
        <div class="col-sm-2 pr-0">
          <div class="list-group">
            <a  class="list-group-item list-group-item-action active list-header">
              List
            </a>
            <div class="list-scroll">
              <ng-container *ngFor="let skidData of skidList">
                <a  class="list-group-item cursor-pointer text-link  list-group-item-action"
                    [ngClass]="{'highlight' : skidData.id == skidId}"
                    (click)="getskidWiseData(skidData)">{{skidData?.skidName}}</a>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-sm-10 pl-0">
          <!--<div class="row">
            <div class="col"></div>
          </div>-->
          <table class="table table-bordered lineWiseTable">
            <thead>
            <tr>
              <th></th>
              <th>{{monthNamesList?.month1?.monthNameAlias}}</th>
              <th>{{monthNamesList?.month2?.monthNameAlias}}</th>
              <th>{{monthNamesList?.month3?.monthNameAlias}}</th>
              <th>{{monthNamesList?.month4?.monthNameAlias}}</th>
              <th>{{monthNamesList?.month5?.monthNameAlias}}</th>
              <th>{{monthNamesList?.month6?.monthNameAlias}}</th>
              <th>{{monthNamesList?.month7?.monthNameAlias}}</th>
              <th>{{monthNamesList?.month8?.monthNameAlias}}</th>
              <th>{{monthNamesList?.month9?.monthNameAlias}}</th>
              <th>{{monthNamesList?.month10?.monthNameAlias}}</th>
              <th>{{monthNamesList?.month11?.monthNameAlias}}</th>
              <th>{{monthNamesList?.month12?.monthNameAlias}}</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-right">
              <th class="text-left" style="background: white;color:black">Plan</th>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m1TotalRatioOfPlanQtyWithTs | number:'1.2-2':'en-IN' }}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m2TotalRatioOfPlanQtyWithTs | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m3TotalRatioOfPlanQtyWithTs | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m4TotalRatioOfPlanQtyWithTs | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m5TotalRatioOfPlanQtyWithTs | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m6TotalRatioOfPlanQtyWithTs | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m7TotalRatioOfPlanQtyWithTs | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m8TotalRatioOfPlanQtyWithTs | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m9TotalRatioOfPlanQtyWithTs | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m10TotalRatioOfPlanQtyWithTs | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m11TotalRatioOfPlanQtyWithTs | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m12TotalRatioOfPlanQtyWithTs | number:'1.2-2':'en-IN'}}</td>
            </tr>
            <tr class="text-right">
              <th class="text-left" style="background: white;color:black">Capacity</th>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.month1Capacity | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.month2Capacity | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.month3Capacity | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.month4Capacity | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.month5Capacity | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.month6Capacity | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.month7Capacity | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.month8Capacity | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.month9Capacity | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.month10Capacity | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.month11Capacity | number:'1.2-2':'en-IN'}}</td>
              <td>{{skidWiseTableList?.rscIotFgSkidSaturationDTO?.month12Capacity | number:'1.2-2':'en-IN'}}</td>
            </tr>
            <tr class="text-right font-weight-bold">
              <th class="text-left" style="background: white;color:black;font-size: 14px">Saturation % </th>
              <td  [ngClass]="skidWiseTableList?.rscIotFgSkidSaturationDTO?.m1SkidSaturation >= 70 ? 'bg-color-red' : 'bg-color-default'">
                {{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m1SkidSaturation | number:'1.2-2':'en-IN'}}
              </td>
              <td  [ngClass]="skidWiseTableList?.rscIotFgSkidSaturationDTO?.m2SkidSaturation >= 70 ? 'bg-color-red' : 'bg-color-default'">
                {{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m2SkidSaturation | number:'1.2-2':'en-IN'}}
              </td>
              <td  [ngClass]="skidWiseTableList?.rscIotFgSkidSaturationDTO?.m3SkidSaturation >= 70 ? 'bg-color-red' : 'bg-color-default'">
                {{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m3SkidSaturation | number:'1.2-2':'en-IN'}}
              </td>
              <td  [ngClass]="skidWiseTableList?.rscIotFgSkidSaturationDTO?.m4SkidSaturation > 70 ? 'bg-color-red' : 'bg-color-default'">
                {{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m4SkidSaturation | number:'1.2-2':'en-IN'}}
              </td>
              <td  [ngClass]="skidWiseTableList?.rscIotFgSkidSaturationDTO?.m5SkidSaturation >= 70 ? 'bg-color-red' : 'bg-color-default'">
                {{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m5SkidSaturation | number:'1.2-2':'en-IN'}}
              </td>
              <td  [ngClass]="skidWiseTableList?.rscIotFgSkidSaturationDTO?.m6SkidSaturation > 70 ? 'bg-color-red' : 'bg-color-default'">
                {{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m6SkidSaturation | number:'1.2-2':'en-IN'}}
              </td>
              <td  [ngClass]="skidWiseTableList?.rscIotFgSkidSaturationDTO?.m7SkidSaturation >= 70 ? 'bg-color-red' : 'bg-color-default'">
                {{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m7SkidSaturation | number:'1.2-2':'en-IN'}}
              </td>
              <td  [ngClass]="skidWiseTableList?.rscIotFgSkidSaturationDTO?.m8SkidSaturation >= 70 ? 'bg-color-red' : 'bg-color-default'">
                {{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m8SkidSaturation | number:'1.2-2':'en-IN'}}
              </td>
              <td  [ngClass]="skidWiseTableList?.rscIotFgSkidSaturationDTO?.m9SkidSaturation >= 70 ? 'bg-color-red' : 'bg-color-default'">
                {{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m9SkidSaturation | number:'1.2-2':'en-IN'}}
              </td>
              <td  [ngClass]="skidWiseTableList?.rscIotFgSkidSaturationDTO?.m10SkidSaturation >= 70 ? 'bg-color-red' : 'bg-color-default'">
                {{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m10SkidSaturation | number:'1.2-2':'en-IN'}}
              </td>
              <td  [ngClass]="skidWiseTableList?.rscIotFgSkidSaturationDTO?.m11SkidSaturation >= 70 ? 'bg-color-red' : 'bg-color-default'">
                {{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m11SkidSaturation | number:'1.2-2':'en-IN'}}
              </td>
              <td  [ngClass]="skidWiseTableList?.rscIotFgSkidSaturationDTO?.m12SkidSaturation >= 70 ? 'bg-color-red' : 'bg-color-default'">
                {{skidWiseTableList?.rscIotFgSkidSaturationDTO?.m12SkidSaturation | number:'1.2-2':'en-IN'}}
              </td>
            </tr>
            </tbody>
          </table>

          <div class="mixed-card">
            <canvas id="Mixed_chart" width="7400" height="2600"
                    style="display: block;width: 462px;height: 203px; ; margin-top: 8%"></canvas>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
</div>
