<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-sm-10">
        <label for="file"> Upload File :</label>
        <input type="file" id="file" size="30" class="lable-style boxsizing"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <label for="multiselect"> Select Task :</label>
        <angular2-multiselect
          id="multiselect"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onDeSelect)="OnItemDeSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          (onDeSelectAll)="onDeSelectAll($event)">
        </angular2-multiselect>
      </div>
    </div>

    <div class="center">
      <button type="button" class="btn btn-outline-secondary"  (click)="setValueName()">Compare</button>

    </div>
    <div class="row">
      <div class="col-sm-10">
        <div class="form-group">
          <label for="Result"> Result:</label>
          <textarea class="form-control" [(ngModel)]="selectedDataList"  rows="5" id="Result" placeholder="Result Output:"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
