.card-container.card {
  max-width: 250px;
  padding: 40px 40px;
  border-color: black;
}

.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.card {
  background-color: #FFF;
  border-color: black;
  padding: 40px 55px 60px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.952);
  -webkit-box-shadow: 0px 0px 3px rgb(0, 0, 0);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.836);
}

.lable-style {
  margin-left: 25px;
  border-color: black;
}

.btn {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 300px;
}

.comment-border {
  border-color: black;
}

.form-control{
  border: solid rgba(47, 47, 47, 0.85) 2px;
  margin-bottom: 1em;
}

.boxsizing {
  margin-bottom: 1em;
  box-sizing: content-box;
  width: 35%;
  border: solid black 2px;
  padding: 3px;
}
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}




