mat-card{
  width:85%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
table td,th {
  width: 100%;
}

.table td, .table th {
  padding: 1px 1px;
}

.custom-table-height {
  overflow-x: hidden;
  height: 200px;
  box-shadow: none !important;
  border: 1px solid lightgray;

}
