<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
               <!-- <h4 class="mps-plan-selection page-title text-muted"><b>MPS 07_11</b></h4>-->
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                   <!-- <li class="breadcrumb-item">
                      <a routerLink="/newRm/newRmMps">Home</a>
                    </li>-->
                    <li class="breadcrumb-item active" >Consumption</li>
                    <!--<li class="breadcrumb-item active" >Bulk Consumption</li>-->
                    <li class="breadcrumb-item  font-weight-bold text-dark" >Bulk Gross (RM based) Consumption </li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download 'BULK Gross Consumption'"
                         style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--
     <input type="text"  placeholder="Search..."  class="gross-search btn-rounded"  [(ngModel)]="grossConsumptionSearchTerm">
     <span class="fas fa-search icon-search"></span>-->

    <div class="gross-card">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <div class="bulk-table-scroll">
        <table class="table table-bordered bulk-table" id="bulkTable" #TABLE>
          <thead class="text-left header-sticky">
          <tr>
            <th>Bulk Code</th>
            <th >Bulk Description</th>
            <th>{{monthNamesList?.month1?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month2?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month3?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month4?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month5?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month6?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month7?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month8?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month9?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month10?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month11?.monthNameAlias}}</th>
            <th>{{monthNamesList?.month12?.monthNameAlias}}</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody class="text-right">
          <tr *ngFor="let bulkData of bulkDataList| filter: bulkSearchTerm">
            <td  class="font-weight-bold text-left">{{bulkData?.materialCode}}</td>
            <td class="text-left">
             {{bulkData?.materialDescription}}

            </td>
            <td>
              {{bulkData?.grossConsumptionMonthValues?.month1?.value |  number : '1.0':'en-IN'}}

            </td>
            <td>
             {{bulkData?.grossConsumptionMonthValues?.month2?.value | number:'1.0':'en-IN'}}
            </td>
            <td>
              {{bulkData?.grossConsumptionMonthValues?.month3?.value | number:'1.0':'en-IN'}}
            </td>
            <td>
            {{bulkData?.grossConsumptionMonthValues?.month4?.value | number:'1.0':'en-IN'}}

            </td>
            <td>
            {{bulkData?.grossConsumptionMonthValues?.month5?.value | number:'1.0':'en-IN'}}
            </td>
            <td>
             {{bulkData?.grossConsumptionMonthValues?.month6?.value | number:'1.0':'en-IN'}}
            </td>
            <td>
             {{bulkData?.grossConsumptionMonthValues?.month7?.value | number:'1.0':'en-IN'}}

            </td>
            <td>
             {{bulkData?.grossConsumptionMonthValues?.month8?.value | number:'1.0':'en-IN'}}
            </td>
            <td>
              {{bulkData?.grossConsumptionMonthValues?.month9?.value | number:'1.0':'en-IN'}}

            </td>
            <td>
            {{bulkData?.grossConsumptionMonthValues?.month10?.value | number:'1.0':'en-IN'}}
            </td>
            <td>
              {{bulkData?.grossConsumptionMonthValues?.month11?.value | number:'1.0':'en-IN'}}
            </td>
            <td>
             {{bulkData?.grossConsumptionMonthValues?.month12?.value | number:'1.0':'en-IN'}}
            </td>
            <td>
              {{bulkData?.totalValue | number:'1.0':'en-IN'}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>





