
<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-5">
              <div class="form-inline">
              <!--  <h4 class="mps-plan-selection page-title text-muted"><b>MPS 07_11</b></h4>-->
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 2.43531202435312vh">
                    <!--<li class="breadcrumb-item">
                      <a routerLink="/newRm/newRmMps">Home</a>
                    </li>-->
                    <li class="breadcrumb-item active" >Purchase</li>
                    <li class="breadcrumb-item  font-weight-bold text-dark" >Purchase Plan</li>
                  </ol>
                </nav>
              </div>

            </div>
            <div class="col-md-7 d-flex justify-content-end">
              <div class="form-inline">
                <ng-container *ngIf="isEdit">
                  <button class="btn btn-rounded save-btn" (click)="saveChanges()"
                          [disabled]="latestPurchasePlanListToSave.length==0">
                    Save
                  </button>
                </ng-container>
                <ng-container *ngIf="isEdit">
                  <button  class="btn btn-rounded close-btn" (click)="closeBtn()">
                    Cancel
                  </button>
                </ng-container>
                <ng-container *ngIf="!isEdit">
                <button class="btn  btn-outline-dark  btn-rounded edit-btn" (click)="editBtn()">
                  <i class="fas fa-edit"></i>
                  Edit
                </button>
                </ng-container>

                <button  (click)="exportAsXLSX()" data-toggle="tooltip" title="Download 'RM Purchase Plan'"
                         style="cursor: pointer; margin-left: 54%; margin-top: -5px; border:none; background: transparent">
                  <!--<i class="mdi mdi-file-excel excel-icon"></i>-->
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="supply-card">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <div class="supply-table-scroll">
        <table class="table table-bordered supply-table" id="supplyTable">
          <thead class="text-left header-sticky">
          <tr>
            <th class="bg-color-light text-left" colspan="8" >
              <span style="margin-left: 83%;  font-weight: bold!important;">Schedule Division :</span>
            </th>
            <th colspan="2" class="bg-color-light text-left" >Confirmed Schedule</th>
            <th colspan="3" class="bg-color-light text-left">Tentative Schedule</th>
            <th colspan="11"class="bg-color-light text-left"></th>
          </tr>
          <tr>
            <th class="stick-style">RM Code</th>
            <th class="stick-style">SupplierCode</th>
            <th class="stick-style">Supplier Description</th>
            <th class="stick-style">RM Description</th>
           <!-- <th class="stick-style">Allocation</th>
            <th class="stick-style">Container</th>-->
            <th class="stick-style">Cat</th>
            <th class="stick-style">Order Type</th>
            <th class="stick-style">Pack Size</th>
            <th class="stick-style">MOQ</th>
            <th class="stick-style">{{monthNamesList?.month1?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month2?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month3?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month4?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month5?.monthNameAlias}}</th>
            <th class="stick-style" title="Halal Comment/Source">Halal Comment</th>
            <th class="stick-style">PO Remark</th>
            <th class="stick-style"> Other Comments</th>
            <th class="stick-style">{{monthNamesList?.month6?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month7?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month8?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month9?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month10?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month11?.monthNameAlias}}</th>
            <th class="stick-style">{{monthNamesList?.month12?.monthNameAlias}}</th>
            <th class="stick-style">Total</th>
          </tr>
          </thead>
          <tbody class="text-right">
          <ng-container *ngIf="!isEdit">
            <tr *ngFor="let supplyData of supplyDataList | filter: rmSupplyTableSearchTerm ">
              <td class="font-weight-bold text-left"  >{{supplyData?.materialCode}}</td>
              <td  class="text-left">
                  {{supplyData?.supplierCode}}

              </td>
              <td  class="text-left" title=" {{supplyData?.supplierName}}">
                  {{supplyData?.supplierName}}
              </td>
              <td  class="text-left">
                 <div class="word-wrap-table-cell-3" title="{{supplyData?.materialDescription}}">
                  {{supplyData?.materialDescription}}
                 </div>
              </td>
             <!-- <td>{{supplyData?.allocation}}</td>
              <td>
                {{supplyData?.containerType}}
              </td>-->
              <td  class="text-left">{{supplyData?.category}}</td>
              <td  class="text-left">{{supplyData?.orderType}}</td>
              <td >{{supplyData?.packSize}}</td>
              <td>{{supplyData?.moqValue}}</td>
              <td  title="{{supplyData?.originalRMPurchasePlan?.month1?.value | number:'1.0':'en-IN'}}">{{supplyData?.supplyMonthValues?.month1?.value | number:'1.0':'en-IN'}}</td>
              <td  title="{{supplyData?.originalRMPurchasePlan?.month2?.value | number:'1.0':'en-IN'}}">{{supplyData?.supplyMonthValues?.month2?.value | number:'1.0':'en-IN'}}</td>
              <td   title="{{supplyData?.originalRMPurchasePlan?.month3?.value | number:'1.0':'en-IN'}}">{{supplyData?.supplyMonthValues?.month3?.value | number:'1.0':'en-IN'}}</td>
              <td  title="{{supplyData?.originalRMPurchasePlan?.month4?.value | number:'1.0':'en-IN'}}">{{supplyData?.supplyMonthValues?.month4?.value | number:'1.0':'en-IN'}}</td>
              <td  title="{{supplyData?.originalRMPurchasePlan?.month5?.value | number:'1.0':'en-IN'}}">{{supplyData?.supplyMonthValues?.month5?.value | number:'1.0':'en-IN'}}</td>
              <td class="text-left">
                <div class="word-wrap-table-cell-2" title="{{supplyData?.halalComments}}">
                {{supplyData?.halalComments}}
                </div>
              </td>
              <td class="text-left">
                <div class="word-wrap-table-cell-2" title="{{supplyData?.poRemark}}">
                {{supplyData?.poRemark}}
                </div>
              </td>
              <td class="text-left">
                <div class="word-wrap-table-cell-2" title="{{supplyData?.otherComment}}">
                  {{supplyData?.otherComments}}
                </div>
              </td>
              <td title="{{supplyData?.originalRMPurchasePlan?.month6?.value | number:'1.0':'en-IN'}}">{{supplyData?.supplyMonthValues?.month6?.value | number:'1.0':'en-IN'}}</td>
              <td title="{{supplyData?.originalRMPurchasePlan?.month7?.value | number:'1.0':'en-IN'}}">{{supplyData?.supplyMonthValues?.month7?.value | number:'1.0':'en-IN'}}</td>
              <td title="{{supplyData?.originalRMPurchasePlan?.month8?.value | number:'1.0':'en-IN'}}">{{supplyData?.supplyMonthValues?.month8?.value | number:'1.0':'en-IN'}}</td>
              <td title="{{supplyData?.originalRMPurchasePlan?.month9?.value | number:'1.0':'en-IN'}}">{{supplyData?.supplyMonthValues?.month9?.value | number:'1.0':'en-IN'}}</td>
              <td title="{{supplyData?.originalRMPurchasePlan?.month10?.value | number:'1.0':'en-IN'}}">{{supplyData?.supplyMonthValues?.month10?.value | number:'1.0':'en-IN'}}</td>
              <td title="{{supplyData?.originalRMPurchasePlan?.month11?.value | number:'1.0':'en-IN'}}">{{supplyData?.supplyMonthValues?.month11?.value | number:'1.0':'en-IN'}}</td>
              <td title="{{supplyData?.originalRMPurchasePlan?.month12?.value | number:'1.0':'en-IN'}}">{{supplyData?.supplyMonthValues?.month12?.value | number:'1.0':'en-IN'}}</td>
              <td> <span class="text-info purchase-plan-calculation-link"
                         title="Click to see Purchase Plan Calculation" (click)="purchasePlanCalculation(supplyData)"
                         data-toggle="modal" data-target="#purchasePlanCalculationModal">{{supplyData?.totalValue | number:'1.0':'en-IN'}}
            </span>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="isEdit">
            <ng-container
              *ngFor="let supplyDataForm of supplyDataForm?.get('supplyDataFormArray').controls;let i=index">
              <tr [formGroup]="supplyDataForm">
                <td  class="font-weight-bold text-left">{{supplyDataForm?.controls?.code?.value}}</td>
                <td  class="text-left" title="{{supplyDataForm?.controls?.supplierCode?.value}}">
                  {{supplyDataForm?.controls?.supplierCode?.value}}</td>
                <td  class="text-left" title="{{supplyDataForm?.controls?.supplier?.value}}">
                 {{supplyDataForm?.controls?.supplier?.value}}</td>
                <td  class="text-left" title="{{supplyDataForm?.controls?.description?.value}}">
                  <div class="word-wrap-table-cell-3">
                    {{supplyDataForm?.controls?.description?.value}}
                  </div>
                </td>
               <!-- <td>{{supplyDataForm?.controls?.allocation?.value}}</td>
                <td title="{{supplyDataForm?.controls?.containerType?.value}}">
                  {{supplyDataForm?.controls?.containerType?.value}}
                </td>-->
                <td  class="text-left">{{supplyDataForm?.controls?.category?.value}}</td>
                <td  class="text-left">{{supplyDataForm?.controls?.orderType?.value}}</td>
                <td  >{{supplyDataForm?.controls?.packSize?.value}}</td>
                <td   [ngClass]="isEdit ? 'border-right' : ''">{{supplyDataForm?.controls?.moqValue?.value}}</td>
                <td  [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m1" min="0"
                                                                                     class="form-control form-control-sm inp-align"
                                                                                     (keyup)="calculateTotalValue(supplyDataForm?.controls,'month1',$event.target.value,i)">
                </td>
                <td  [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m2"
                                                                            class="form-control form-control-sm inp-align"
                                                                            (keyup)="calculateTotalValue(supplyDataForm?.controls,'month2',$event.target.value,i)">
                </td>
                <td  [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m3"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month3',$event.target.value,i)">
                </td>
                <td   [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m4"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month4',$event.target.value,i)">
                </td>
                <td   [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m5"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month5',$event.target.value,i)">
                </td>
                <td class="text-left" title="{{supplyDataForm?.controls?.halalComments?.value}}">
                  <div class="word-wrap-table-cell-2">
                  {{supplyDataForm?.controls?.halalComments?.value}}
                  </div>
                </td>

              <!--  <td class="text-left" title="{{supplyDataForm?.controls?.poRemark?.value}}" [ngClass]="isEdit ? 'border-right' : ''">
                  <div class="word-wrap-table-cell-2">
                  {{supplyDataForm?.controls?.poRemark?.value}}
                  </div>
                </td>-->
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="text" formControlName="poRemark"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'remark',$event.target.value,i)">
                </td>
                <td class="text-left" title="{{supplyDataForm?.controls?.otherComment?.value}}">
                  <div class="word-wrap-table-cell-2">
                    {{supplyDataForm?.controls?.otherComment?.value}}
                  </div>
                </td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m6"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month6',$event.target.value,i)">
                </td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m7"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month7',$event.target.value,i)">
                </td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m8"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month8',$event.target.value,i)">
                </td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m9"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month9',$event.target.value,i)">
                </td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m10"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month10',$event.target.value,i)">
                </td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m11"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month11',$event.target.value,i)">
                </td>
                <td [ngClass]="highlightEditValue"><input [ngClass]="highlightEditValue" type="number" formControlName="m12"
                                                          class="form-control form-control-sm inp-align"
                                                          (keyup)="calculateTotalValue(supplyDataForm?.controls,'month12',$event.target.value,i)">
                </td>
                <td>
                   <span class="text-info purchase-plan-calculation-link"
                         title="Click to see Purchase Plan Calculation"
                         data-toggle="modal" data-target="#purchasePlanCalculationModal">
              {{supplyDataForm.controls.totalValue.value}}
              </span>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-12">

   </div>-->
</div>



<!--purchase plan calculation modal-->

<div class="modal fade" id="purchasePlanCalculationModal" tabindex="-1" role="dialog"
     aria-labelledby="purchasePlanCalculationModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; width: 120%; margin-left: -13%;    margin-top: 16%;">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 22px"  id="purchasePlanCalculationModalLabel">Purchase Plan Calculations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12">
                <div>
                  <table class="table table-bordered purchase-plan-cal-top-table" style="width: 100%!important;">
                    <thead class="text-center" style="background: darkcyan; color: white;">
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                      <th>Supplier</th>
                      <th>Safety Stock</th>
                      <th>Cover Days</th>
                      <th>MOQ</th>
                      <th>Pack Size</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr>
                      <td>{{purchasePlanCalculationDataList?.materialCode}}</td>
                      <td>{{purchasePlanCalculationDataList?.materialDescription}}</td>
                      <td>{{purchasePlanCalculationDataList?.supplierName}}</td>
                      <td>{{purchasePlanCalculationDataList?.safetyStock}}</td>
                      <td>{{purchasePlanCalculationDataList?.coverDays}}</td>
                      <td>{{purchasePlanCalculationDataList?.moq}}</td>
                      <td>{{purchasePlanCalculationDataList?.packSize}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-sm-12">
                <!--<div class="purchase-plan-cal-middle-table-scroll">-->
                <table class="table table-bordered purchase-plan-cal-middle-table" id="calculationTable">
                  <thead class="text-center header-sticky" style="background: darkcyan; color: white;">
                  <tr>
                    <th style="width: 25%;">Stock Calculation Steps</th>
                    <th>{{monthNamesList?.month1?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month2?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month3?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month4?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month5?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month6?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month7?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month8?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month9?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month10?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month11?.monthNameAlias}}</th>
                    <th>{{monthNamesList?.month12?.monthNameAlias}}</th>
                  </tr>
                  </thead>
                  <tbody class="text-center">
                  <tr>
                    <td style="width: 25%">Opening Stock</td>
                    <td><div class="word-wrap-table-cell-modal" title="{{purchasePlanCalculationDataList?.month1SupplyDTO?.openingStock}}">
                      {{purchasePlanCalculationDataList?.month1PurchasePlanDTO?.openingStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">{{purchasePlanCalculationDataList?.month2PurchasePlanDTO?.openingStock}}</div></td>
                    <td><div class="word-wrap-table-cell-modal">{{purchasePlanCalculationDataList?.month3PurchasePlanDTO?.openingStock}}</div></td>
                    <td><div class="word-wrap-table-cell-modal">{{purchasePlanCalculationDataList?.month4PurchasePlanDTO?.openingStock}}</div></td>
                    <td><div class="word-wrap-table-cell-modal">{{purchasePlanCalculationDataList?.month5PurchasePlanDTO?.openingStock}}</div></td>
                    <td><div class="word-wrap-table-cell-modal">{{purchasePlanCalculationDataList?.month6PurchasePlanDTO?.openingStock}}</div></td>
                    <td><div class="word-wrap-table-cell-modal">{{purchasePlanCalculationDataList?.month7PurchasePlanDTO?.openingStock}}</div></td>
                    <td><div class="word-wrap-table-cell-modal">{{purchasePlanCalculationDataList?.month8PurchasePlanDTO?.openingStock}}</div></td>
                    <td><div class="word-wrap-table-cell-modal">{{purchasePlanCalculationDataList?.month9PurchasePlanDTO?.openingStock}}</div></td>
                    <td><div class="word-wrap-table-cell-modal">{{purchasePlanCalculationDataList?.month10PurchasePlanDTO?.openingStock}}</div></td>
                    <td><div class="word-wrap-table-cell-modal">{{purchasePlanCalculationDataList?.month11PurchasePlanDTO?.openingStock}}</div></td>
                    <td><div class="word-wrap-table-cell-modal">{{purchasePlanCalculationDataList?.month12PurchasePlanDTO?.openingStock}}</div></td>
                  </tr>
                  <tr>
                    <td style="width: 25%">Consumption</td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month1PurchasePlanDTO?.consumptionAtCurrentMonth}}
                    </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-modal">
                        {{purchasePlanCalculationDataList?.month2PurchasePlanDTO?.consumptionAtCurrentMonth}}</div></td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month3PurchasePlanDTO?.consumptionAtCurrentMonth}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month4PurchasePlanDTO?.consumptionAtCurrentMonth}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month5PurchasePlanDTO?.consumptionAtCurrentMonth}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month6PurchasePlanDTO?.consumptionAtCurrentMonth}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month7PurchasePlanDTO?.consumptionAtCurrentMonth}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month8PurchasePlanDTO?.consumptionAtCurrentMonth}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month9PurchasePlanDTO?.consumptionAtCurrentMonth}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month10PurchasePlanDTO?.consumptionAtCurrentMonth}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month11PurchasePlanDTO?.consumptionAtCurrentMonth}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month12PurchasePlanDTO?.consumptionAtCurrentMonth}}
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 25%">Obsolete</td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month1PurchasePlanDTO?.obsoleteStock}}
                    </div>
                    </td>
                    <td>
                      <div class="word-wrap-table-cell-modal">
                        {{purchasePlanCalculationDataList?.month2PurchasePlanDTO?.obsoleteStock}}</div></td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month3PurchasePlanDTO?.obsoleteStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month4PurchasePlanDTO?.obsoleteStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month5PurchasePlanDTO?.obsoleteStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month6PurchasePlanDTO?.obsoleteStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month7PurchasePlanDTO?.obsoleteStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month8PurchasePlanDTO?.obsoleteStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month9PurchasePlanDTO?.obsoleteStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month10PurchasePlanDTO?.obsoleteStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month11PurchasePlanDTO?.obsoleteStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month12PurchasePlanDTO?.obsoleteStock}}
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 25%">Stock After Consumption</td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month1PurchasePlanDTO?.stockAfterConsumption}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month2PurchasePlanDTO?.stockAfterConsumption}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month3PurchasePlanDTO?.stockAfterConsumption}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month4PurchasePlanDTO?.stockAfterConsumption}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month5PurchasePlanDTO?.stockAfterConsumption}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month6PurchasePlanDTO?.stockAfterConsumption}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month7PurchasePlanDTO?.stockAfterConsumption}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month8PurchasePlanDTO?.stockAfterConsumption}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month9PurchasePlanDTO?.stockAfterConsumption}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month10PurchasePlanDTO?.stockAfterConsumption}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month11PurchasePlanDTO?.stockAfterConsumption}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month12PurchasePlanDTO?.stockAfterConsumption}}
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 25%">Expected Receipt By Month End</td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month1PurchasePlanDTO?.openPoStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month2PurchasePlanDTO?.openPoStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month3PurchasePlanDTO?.openPoStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month4PurchasePlanDTO?.openPoStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month5PurchasePlanDTO?.openPoStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month6PurchasePlanDTO?.openPoStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month7PurchasePlanDTO?.openPoStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month8PurchasePlanDTO?.openPoStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month9PurchasePlanDTO?.openPoStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month10PurchasePlanDTO?.openPoStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month11PurchasePlanDTO?.openPoStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month12PurchasePlanDTO?.openPoStock}}
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 25%">Closing Stock </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month1PurchasePlanDTO?.closingStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month2PurchasePlanDTO?.closingStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month3PurchasePlanDTO?.closingStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month4PurchasePlanDTO?.closingStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month5PurchasePlanDTO?.closingStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month6PurchasePlanDTO?.closingStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month7PurchasePlanDTO?.closingStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month8PurchasePlanDTO?.closingStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month9PurchasePlanDTO?.closingStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month10PurchasePlanDTO?.closingStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month11PurchasePlanDTO?.closingStock}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month12PurchasePlanDTO?.closingStock}}
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <th style="width: 25%; white-space: unset!important; background-color: darkcyan;color: white;">
                      Suggested Order</th>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month1PurchasePlanDTO?.suggestedPurchasePlan}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month2PurchasePlanDTO?.suggestedPurchasePlan}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month3PurchasePlanDTO?.suggestedPurchasePlan}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month4PurchasePlanDTO?.suggestedPurchasePlan}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month5PurchasePlanDTO?.suggestedPurchasePlan}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month6PurchasePlanDTO?.suggestedPurchasePlan}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month7PurchasePlanDTO?.suggestedPurchasePlan}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month8PurchasePlanDTO?.suggestedPurchasePlan}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month9PurchasePlanDTO?.suggestedPurchasePlan}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month10PurchasePlanDTO?.suggestedPurchasePlan}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month11PurchasePlanDTO?.suggestedPurchasePlan}}
                    </div>
                    </td>
                    <td><div class="word-wrap-table-cell-modal">
                      {{purchasePlanCalculationDataList?.month12PurchasePlanDTO?.suggestedPurchasePlan}}
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 25%">Cover Days</td>
                    <td>
                        {{purchasePlanCalculationDataList?.month1PurchasePlanDTO?.coverDays}}
                    </td>
                    <td>
                        {{purchasePlanCalculationDataList?.month2PurchasePlanDTO?.coverDays}}
                    </td>
                    <td>
                        {{purchasePlanCalculationDataList?.month3PurchasePlanDTO?.coverDays}}
                    </td>
                    <td>
                        {{purchasePlanCalculationDataList?.month4PurchasePlanDTO?.coverDays}}
                    </td>
                    <td>
                        {{purchasePlanCalculationDataList?.month5PurchasePlanDTO?.coverDays}}
                    </td>
                    <td>
                        {{purchasePlanCalculationDataList?.month6PurchasePlanDTO?.coverDays}}
                    </td>
                    <td>
                        {{purchasePlanCalculationDataList?.month7PurchasePlanDTO?.coverDays}}
                    </td>
                    <td>
                        {{purchasePlanCalculationDataList?.month8PurchasePlanDTO?.coverDays}}
                    </td>
                    <td>
                        {{purchasePlanCalculationDataList?.month9PurchasePlanDTO?.coverDays}}
                    </td>
                    <td>
                        {{purchasePlanCalculationDataList?.month10PurchasePlanDTO?.coverDays}}
                    </td>
                    <td>
                        {{purchasePlanCalculationDataList?.month11PurchasePlanDTO?.coverDays}}
                    </td>
                    <td>
                        {{purchasePlanCalculationDataList?.month12PurchasePlanDTO?.coverDays}}
                    </td>
                  </tr>
                  </tbody>
                </table>
                <!-- </div>-->
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>






