<div class="row" style="margin-top: 0%">
  <div class="col-sm-6 pr-0">
    <div class="card text-center" style="border-right: 2px solid darkslategray;">
      <h3 style="font-weight: 500; font-size: 26px">Current Month Data Plan</h3>
      <div class="row" style="margin-top: 11%">
        <div class="col-sm-12 text-center">
          <div  class="btn-grp-lft">
            <button class="btn  btn-xl btn-circle " 
                    (click)="planModule()">
              DPM
            </button>
            <button class="btn  btn-xl btn-round" 
                    (click)="planModule()">
              Data Planning Module
            </button>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20%">
        <div class="col-sm-12 text-center">
          <div  class="btn-grp-lft">
            <button class="btn  btn-xl btn-circle " (click)="pmViewPlannedModule()" >
              DVM
            </button>
            <button class="btn  btn-xl btn-round "  (click)="pmViewPlannedModule()">
              Data Visibility Module
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 pl-0">
    <div class="card text-center">
      <h3 style="font-weight: 500; font-size: 26px">Annual Data Synopsis </h3>
      <div class="row" style="margin-top: 11%">
        <div class="col-sm-12 text-center">

          <div  class="btn-grp-rlt">
            <button class="btn  btn-xl btn-circle " (click)="pmYearlyAnalysis()" >
              APA
            </button>
            <button class="btn  btn-xl btn-round " (click)="pmYearlyAnalysis()" >
              Annual Plan Analysis
            </button>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20%">
        <div class="col-sm-12 text-center">
          <div  class="btn-grp-rlt">
            <button class="btn  btn-xl btn-circle"  (click)="pmBackUp()" >
              APB
            </button>
            <button class="btn  btn-xl btn-round"  (click)="pmBackUp()" >
              Annual Plan Backup
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<button id="openDvmModal" [hidden]="true" data-toggle="modal" data-target="#dvmModal">Open Modal
</button>
<div class="modal fade" id="dvmModal" tabindex="-1" role="dialog"
     aria-labelledby="planCreateModalLabel" data-backdrop="static" data-keyboard="false"
     aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; margin-top: 47%">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 20px" id="otifModalLabel">Plan Execution</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
             <h4>
               No Plan is executed for the current Month.
               <br>
               Kindly run a Plan to see DVM.
             </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
