.cover-days-table-scroll {
  border: 1px solid lightgrey;
  height:  79.90867579908675vh;
  overflow: auto;
  /*margin-top: -0.60882800608828vh;*/
}


.coverdays-table th,td{
  padding: 0.60882800608828vh;
  white-space: nowrap;
}
.coverdays-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}
.coverdays-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}
.coverdays-table{
  transform-style: preserve-3d;
  width: 100%!important;
}
table thead {
  background-color: darkcyan;
  color: white;
}

.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}
table#coverDaysTable tbody {
  /*display: block;*/
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#coverDaysTable thead, table#coverDaysTable tbody tr {
  /*display: table;*/
  /*width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}
.cover-days-card{
  /* border: 2px solid lightslategrey;
   padding: 1%;*/
  margin-bottom: 0px;
  background: white;
}



.bg-color-light{
  background: white!important;
  color: #000!important;
  font-weight: 400!important;
  white-space: nowrap!important;

}

.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: #ced4da;
  font-size: 1.67427701674277vh;
  MARGIN-TOP: 5%;
}
.coverdays-btn{
  position: absolute;
  left: 75%;
  padding: 0px 10px 0px 10px;
  top: 11%;
  font-size: 2.2831050228310503vh;
}


.bg-color{
  background-color: #e6ccff!important;
  font-weight: bold;
}
.bg-color-default{
  background-color: white!important;
}
.dark{
  background: black!important;
  color: white!important;
  font-weight: 600;
  font-size: 2.13089802130898vh!important;
}
.label-style{
  margin-left: 1%;
  font-size: 14px;
}
.total-coverdays-box{
  border-radius: 50%;
  border: 1px solid lightgray;
  position: absolute;
  top: -11%;
  left: 19%;
  font-size: 26px;
  font-weight: 500;
  width: auto;
  text-align: center;
  padding: 0px 10px;
  background: #e6ccff;
}


#coverDays th{
  background: darkcyan;
  color: white;
}
.coverdays-excel{
  cursor: pointer;
  margin-left: 81%;
  margin-top: -2px;
  border:none;
  background: transparent;
}
.succes-msg{
  color: white;
  position: absolute;
  top: 2%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}
.succes-msg-modal {
  color: white;
  position: absolute;
  top: -21%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px
}

/*

.heading-font{
  font-size: 16px;
  font-weight: bold;
}
.cover-days-table-scroll{
  border: 1px solid lightgrey;
  height: 79.90867579908675vh;
  overflow: auto;
}
!*.coverdays-table thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: darkcyan;
  color: white;
}*!

.coverdays-table th, td{
  padding: 0.60882800608828vh;
  white-space: nowrap;
}
.coverdays-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.coverdays-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}

.coverdays-table {
  transform-style: preserve-3d;
  width: 100%!important;
}
table thead {
  background-color: darkcyan;
  color: white;
}

.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}
table#coverDaysTable tbody {
  !*display: block;*!
  !* max-height: 200px;*!
  overflow-y: auto;
  overflow-x: hidden;
}

table#coverDaysTable thead, table#coverDaysTable tbody tr {
  !*display: table;*!
  !*width: 100%;*!
  table-layout: fixed; !* even columns width , fix width of table too*!
}

!*table th,td {
  padding: 4px;
}
table th{
  font-size: 14px;
  font-weight: bold;
  border: 1px solid darkgrey;
}

table td{
  font-size: 12px;
}*!

!*
table th,td{
  padding: 4px;
}
table th {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid lightgrey;
  border-top: none;
}
table td {
  font-size: 12px;
}
table{
  transform-style: preserve-3d;
  width: 100%;
}
table thead {
  background-color: darkcyan;
  color: white;
}*!




.text-link{
  text-decoration: underline;
  cursor: pointer;
}
.cover-days-card{
  !*border: 2px solid lightslategrey;
  padding: 1%;*!
  margin-bottom: 0px;
  background: white;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5%;
}
.mps-plan-selection{
 margin-left: -2%;
}
.breadcrumb-item + .breadcrumb-item::before {
  float: none;
  padding-right: 0.5rem;
  color: #868e96;
  content: "/";
}

.word-wrap-table-cell{
  cursor: pointer;
  white-space: nowrap;
  width: 92px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.succes-msg{
  position: absolute;
  top: 2%;
  left: 43%;
  padding: 1px 10px 1px 10px;
  width: 28%;
}
.editSelection{
  background: palegreen;
}
.stick-style{
  position: sticky;
  top: 30px!important;
}
.bg-color-light{
  background: white!important;
  color: #000!important;
  font-weight: 400!important;
  white-space: nowrap!important;

}
!*
table th{
  font-size: 14px;
  font-weight: bold;
  border: 1px solid darkgrey;
}
*!
.coverdays-btn{
  position: absolute;
  left: 64%;
  padding: 0px 10px 0px 10px;
  top: 11%;
  font-size: 2.2831050228310503vh;
}

.bg-color{
  background-color: #e6ccff!important;
  font-weight: bold;
}
.bg-color-default{
  background-color: white!important;
}
.dark{
  background: black!important;
  color: white!important;
  font-weight: 600;
  font-size: 2.13089802130898vh!important;
}
.label-style{
  margin-left: 1%;
  font-size: 14px;
}
.total-coverdays-box{
  border-radius: 50%;
  border: 1px solid lightgray;
  position: absolute;
  top: -11%;
  left: 19%;
  font-size: 26px;
  font-weight: 500;
  width: auto;
  text-align: center;
  padding: 0px 10px;
  background: #e6ccff;
}


#coverDays th{
  background: darkcyan;
  color: white;
}
.coverdays-excel{
  cursor: pointer;
  margin-left: 79%;
  margin-top: 0.238965vh;
  border:none;
  background: transparent;
}*/
