<div class="row" style="margin-top:-2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <!--  <h4 class="mps-plan-selection page-title text-muted"><b>MPS 07_11</b></h4>-->
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <!-- <li class="breadcrumb-item">
                       <a routerLink="/newPm/newMps">Home</a>
                     </li>-->
                    <li class="breadcrumb-item active">SLOB</li>
                    <li class="breadcrumb-item  text-dark font-weight-bold">Cover Days with Summary</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                <button class="btn btn-outline-dark btn-rounded coverdays-btn"
                        data-toggle="modal" data-target="#coverDaysModal"
                >
                  CoverDays
                </button>
                <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download 'PM CoverDays'"
                        style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cover-days-card">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
          <div class="cover-days-table-scroll">
            <table class="table table-bordered coverdays-table" id="coverDaysTable">
              <thead class="text-left header-sticky">
              <tr>
                <th colspan="9" class="bg-color-light">
                  <span style="margin-left: 73%; font-size: 2.43531202435312vh; font-weight: bold!important;">Total Monthly Consumption Value : </span>
                </th>
                <th class="bg-color-light">{{totalMonthData?.month1ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month2ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month3ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month4ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month5ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month6ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month7ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month8ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month9ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month10ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month11ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
                <th class="bg-color-light">{{totalMonthData?.month12ConsumptionTotalValue | number:'1.0':'en-IN'}}</th>
              </tr>
              <tr>
                <th class="stick-style">PM Code</th>
                <th class="stick-style">PM Description</th>
                <th class="stick-style">Supplier</th>
                <th class="stick-style">Category</th>
                <th class="stick-style">Std.Price</th>
                <th class="stick-style">MAP</th>
                <th class="stick-style">Stock Quantity</th>
                <th class="stick-style">Rate</th>
                <th class="stick-style">Stock Value</th>
                <th class="stick-style">{{monthNamesList?.month1?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month2?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month3?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month4?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month5?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month6?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month7?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month8?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month9?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month10?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month11?.monthNameAlias}}</th>
                <th class="stick-style">{{monthNamesList?.month12?.monthNameAlias}}</th>
              </tr>
              </thead>
              <tbody class="text-right">
              <tr *ngFor="let monthsData of monthWiseData">
                <td class="font-weight-bold text-left">{{monthsData?.code}}</td>
                <td class="text-left">

                  {{monthsData?.description}}

                </td>
                <td class="text-left">

                    {{monthsData?.supplier}}

                 </td>
                <td class="text-left">{{monthsData?.category}}</td>
                <td>{{monthsData?.stdPrice | number:'1.0':'en-IN'}}</td>
                <td>{{monthsData?.map | number:'1.0':'en-IN'}}</td>
                <td>{{monthsData?.stockQuantity | number:'1.0':'en-IN'}}</td>
                <td>{{monthsData?.rate | number:'1.0':'en-IN'}}</td>
                <td>{{monthsData?.stockValue | number:'1.0':'en-IN'}}</td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month1ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month1Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month2ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month2Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month3ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month3Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month4ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month4Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month5ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month5Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month6ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month6Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer" title="{{monthsData?.coverDaysMonthDetailsDTO?.month7ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month7Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month8ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month8Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month9ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month9Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month10ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month10Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month11ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month11Value | number:'1.0':'en-IN'}}
                </td>
                <td class="cursor-pointer"
                    title="Consumption Quantity : {{monthsData?.coverDaysMonthDetailsDTO?.month12ConsumptionQuantity | number:'1.0':'en-IN'}}">
                  {{monthsData?.coverDaysMonthDetailsDTO?.month12Value | number:'1.0':'en-IN'}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>

    </div>
  </div>
</div>





<button id="openStdPriceModal" [hidden]="true" data-toggle="modal" data-target="#standardPriceModal">Open Modal
</button>
<!--standard price modal-->

<div class="modal fade" id="standardPriceModal" tabindex="-1" role="dialog"
     aria-labelledby="standardPriceModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; width: 120%; margin-left: -13%; margin-top: 28%;">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 22px" id="standardPriceModalLabel">Standard Price</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="standard-price-table-scroll">
              <table class="table table-bordered standard-price-table" id="standardPriceTable">
                <thead class="text-left header-sticky">
                <tr>
                  <th>Code</th>
                  <th>Description</th>
                  <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <ng-container
                  *ngFor="let nullStdPriceCoverDaysDataForm of nullStdPriceCoverDaysDataForm?.get('nullStdPriceCoverDaysFormArray').controls ;let i=index">
                  <tr [formGroup]="nullStdPriceCoverDaysDataForm">
                    <td>{{nullStdPriceCoverDaysDataForm?.controls?.code?.value}}</td>
                    <td>{{nullStdPriceCoverDaysDataForm?.controls?.description?.value}}</td>
                    <td [ngClass]="highlightMapEditValue">
                      <span *ngIf="validator">*</span>
                      <input type="number" formControlName="stdPrice"
                             class="form-control form-control-sm inp-align"
                             (keyup)="UpdateStdPrice(nullStdPriceCoverDaysDataForm?.controls,'stdPrice',$event.target.value,i)">
                    </td>
                  </tr>
                </ng-container>
                <!--  <tr>
                    <td class="font-weight-bold"></td>
                    <td></td>
                    <td></td>
                  </tr>-->
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!nullStdPriceCoverDaysDataForm.valid"
                (click)="saveStdPrice()">Save
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="coverDaysModal" tabindex="-1" role="dialog"
     aria-labelledby="coverDaysModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" style="border: 5px solid #00bdda; width: 131%; margin-left: -17%; margin-top: 28%;">
      <div class="modal-header" style="padding-bottom: 1%; padding-top: 1%">
        <h5 class="modal-title" style="font-size: 22px" id="coverDaysModalLabel">Cover Days</h5>
        <button (click)="exportAsXLSXForCoverDays()" data-toggle="tooltip" title="Download 'COVER DAYS SUMMARY"
                class="coverdays-excel">
          <i><img src="../../../../assets/images/big/excel.png"></i></button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="successmodalMessage!==''">
          <p class="alert alert-success succes-msg-modal" style="background: #73c373" data-dismiss="alert" aria-label="Close">
            <strong>{{successmodalMessage}}</strong>
          </p>
        </ng-container>
        <ng-container *ngIf="errormodalMessage!==''">
          <p class="alert alert-danger succes-msg-modal" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
            <strong>{{errormodalMessage}}</strong>
          </p>
        </ng-container>
        <div class="row">
          <div class="col-sm-12">
            <div class="coverdays-graph-card">
              <div class="row">
                <div class="col-sm-5"> <h4 class="text-left font-weight-bold" style="font-size: 20px; margin-top: 1%">Count</h4>
                  <div class="total-coverdays-box" title="Total CoverDays">
                    {{totalCoverDays}}
                  </div>
                </div>

                <div class="col-sm-7">
                  <table class="table table-bordered" style="width: 76%;margin-left: 24%;" >
                    <tr>
                      <td class="font-weight-bold">Total Stock Value With Sit</td>
                      <td  style="width:40%;">{{totalStockWithSit | number:'1.0':'en-IN'}}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <!--  <div style="border:1px solid lightgrey; height: 133px">-->
                  <table class="table table-bordered coverdays-table" id="coverDays" style="height: 100%">
                    <tr>
                      <th>Month</th>
                      <td class="dark">{{monthNamesList?.month1?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month2?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month3?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month4?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month5?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month6?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month7?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month8?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month9?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month10?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month11?.monthNameAlias}}</td>
                      <td class="dark">{{monthNamesList?.month12?.monthNameAlias}}</td>
                    </tr>
                    <tr class="text-right">
                      <th class="text-left">Days In Month</th>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month1CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month2CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month3CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month4CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month5CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month6CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month7CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month8CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month9CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month10CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month11CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month12CoverDays}}</td>
                    </tr>
                    <tr class="text-right">
                      <th class="text-left">Consumption</th>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month1ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month1ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month2ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month2ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month3ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month3ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month4ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month4ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month5ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month5ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month6ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month6ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month7ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month7ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month8ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month8ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month9ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month9ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month10ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month10ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month11ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month11ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month12ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month12ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                    </tr>

                    <tr class="text-right">
                      <th class="text-left">Cover Days</th>
                      <td [ngClass]="coverDaysList?.coverDaysDTO?.month1CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month1CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month2CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month2CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month3CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month3CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month4CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month4CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month5CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month5CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month6CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month6CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month7CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month7CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month8CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month8CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month9CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month9CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month10CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month10CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month11CoverDays > 0 ? 'bg-color' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month11CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month12CoverDays > 0 ? 'font-bold' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month12CoverDays}}
                      </td>
                    </tr>
                  </table>
                  <!--  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
