<div class="row">
      <div class="form-group col-sm-6" style="">
       <!-- <span class="form-inline">
        <label class="plan-name">Select MPS Plan : </label>
        <span class="mps-plan-header">
             <angular2-multiselect
               [data]="mpsSelectList"
               [(ngModel)]="singleselectedItems"
               [settings]="singledropdownSettings"
               (onSelect)="onItemSelect(singleselectedItems[0])"
               (onDeSelect)="onItemDeSelect()">
             </angular2-multiselect>
            </span>
        </span>-->
      </div>
      <div class="form-group col-sm-6">
     <!--   <input type="checkbox" [(ngModel)]="selectedAll"
               (change)="selectAll()">
        <label class="plan-name" style="margin-left: 2%">All Reports</label>

        <button (click)="download()" class="btn btn-dark btn-rounded download-btn" [disabled]="isDisabled">
          <i class="fas fa-download"></i> Download
        </button>-->
      </div>
    </div>
<!--<hr style="margin-top: -1px"/>-->
<div class="row" style="margin-top: -8px">
  <div class="col-sm-12">
    <div class="cards">
      <div class="card-header border header-color">
        <div class="row">
          <div class="col">
            <span class="form-inline">
              <input type="checkbox" [(ngModel)]="selectedAll"
                     style="width: 16px; height: 16px; margin-right: 3%;"
                     (change)="selectAll()">
              <h5>Download following Reports : </h5>
            </span>
          </div>
          <div class="col text-right">
            <button (click)="download()" class="btn btn-dark  download-btn" [disabled]="isDisabled">
              <i class="fas fa-download"></i> Download
            </button>
          </div>
        </div>

      </div>
      <div class="table-scroll">
        <div class="row" style="width: 100%; margin-left: 0%">
          <ng-container *ngFor="let rm of rmFileDataList">
            <div class="col-sm-4 border p-0">
              <div style="padding: 3%;" [ngClass]="{'highlight' : rm.selected}">
                <input type="checkbox" [(ngModel)]="rm.selected"
                       (change)="checkIfAllSelected()">
                <span class="list-text">{{rm.name}}</span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

</div>


<!--<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <li class="breadcrumb-item active">Storage</li>
                    <li class="breadcrumb-item  text-dark font-weight-bold">Reports</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="all-reports-card">



    </div>
  </div>
</div>-->



