
table#mpsTable tbody {
  overflow-y: auto;
  overflow-x: hidden;
}

table#mpsTable thead, table#mpsTable tbody tr {
  table-layout: fixed;
}

.mps-table-scroll {
  border: 1px solid lightgrey;
  height: 80.36529680365297vh;
  overflow: auto

}
.mps-table th, td {
  padding: 0.60882800608828vh;
  white-space: nowrap;
}

.mps-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.mps-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}

.mps-table {
  transform-style: preserve-3d;
  width: 155%!important;
}
.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}
table thead {
  background-color: darkcyan;
  color: white;
}

.icon-search {
  font-size: 13px;
  position: absolute;
  left: 94%;
  top: 18%;
}

.mps-search {
  border: 1px solid #39c449;
  box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  height: 25px;
  line-height: 4;
  width: 35%;
  margin-right: 0%;
}

.switch {
  position: relative;
  top: 9%;
  left: 44%;
  display: inline-block;
  width: 32px;
  height: 26px;
}
.filter-icon{
  position: absolute;
  left: 18%;
  top: -18%;
  font-size: 24px;
  cursor: pointer;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #34a0fe;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #f2eaea;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #afc0ce;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 44px;
  width: 50px;
  height: 24px;
}

.slider.round:before {
  border-radius: 60%;
  height: 26px;
  width: 30px;
  left: -1px;
  bottom: -1px;
}

.dropdown-btn-info {
  color: #fff;
  background-color: #64727a;
  border-color: #84b2cd;
  width: 26px;
  height: 25px;
}
.dropdown-btn-selected {
  color: #fff;
  background-color: #d60b20;
  border-color: #84b2cd;
  width: 26px;
  height: 25px;
}

.toggle-btn-margin {
  margin-left: -30px;
}

.mps-table li {
  padding-left: 10px;
  padding-bottom: 1px;
  font-size: 15px;
  color: #1c1e1f;
}

.mps-table button:nth-last-of-type(2n+2) {
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 30px;
}

.mps-table ul {
  min-width: 180px;
}

.container {
  border: 20px;
  height: 300px;
  width: 80%;
  overflow-y: scroll;
  border: lightgray;
  border: solid;
  border-width: 1px;
  border-color: #a19a9a;
}

.Des-container {
  border: 20px;
  width: 90%;
  height: 300px;
  overflow-y: scroll;
  border: lightgray;
  border: solid;
  border-width: 1px;
  border-color: #a19a9a;
  margin-left: 15px;
  margin-top: 4px;
  padding-left: 10px;
  padding-top: 8px;

}

.mps-table div:nth-last-of-type(2n+1) {
  will-change: inherit;
  transform: translate3d(0px, 0px, 0px);
}

.dropDown-search {
  margin-left: 18px;
  height: 32px;
  width: 80%;
  padding: 12px 14px 12px 10px;;
  font-size: 15px;
  border: 0.80px solid #707982;
  margin-bottom: -0.5rem;
}
.Des-dropDown-search {
  margin-left: 15px;
  height: 28px;
  width: 90%;
  padding: 10px 55px 13px 55px;
  font-size: 15px;
  border: 0.80px solid #707982;
  margin-bottom: -0.5rem;
}

.dtn-color {
  color: #212529;
  background-color: #d4d7db;
  border-color: #f2f7f8;
  width: 60px;
}

.checkbox-size {
  height: 13px;
  width: 12px;
}

.mps-plan-selection{
  margin-left: -2%;
}

.mps-card{
  margin-bottom: 0px;
  background: white;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  font-family: themify;
  color: #ced4da;
  font-size: 11px;
  margin-top: 5px;
}
.succes-msg{
  color: white;
  position: absolute;
  top: 2%;
  left: 40%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}

.caret-icon{
  position: relative;
  top: -28%;
  left: -47%;
  font-size: 12px;
}

.dropdown-toggle:empty::after {
  margin-left: -4px;
}
.filterBgColor{
  background: black;
}
.word-wrap-table-cell{
  cursor: pointer;
  white-space: nowrap;
  width: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ul-style{
  transform: translate3d(168px, 3px, 0px)!important;
}

.hide-btn{
  background: transparent;
  font-size: 18px;
  border: none;
  color: black;
  position: absolute;
  top: -20px;
  width: 17px;
  height: 17px;
  line-height: 1px;
}
.button-group{
  padding-right:11px!important;
}
