<div class="row" style="margin-top: -2%;">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <!-- <h4 class="mps-plan-selection page-title text-muted"><b>MPS 07_11</b></h4>-->
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <!--<li class="breadcrumb-item">
                      <a href='javascript:void(0)'>Home</a>
                    </li>-->
                    <li class="breadcrumb-item active">MPS</li>
                    <li class="breadcrumb-item  text-dark font-weight-bold">Master Production Schedule</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                <label class="switch filter-btn">
                  <ng-container *ngIf="!isShow">
                    <span><i class="mdi mdi-filter filter-icon" style="color: darkcyan;"></i></span>
                  </ng-container>
                  <ng-container *ngIf="isShow">
                    <span><i title="Apply Filter" class="mdi mdi-filter-outline filter-icon" style="color: black;"></i></span>
                  </ng-container>
                  <input type="checkbox" checked (click)=toggleDisplay()>
                  <!--    <span class="slider round toggle-btn-margin"></span>-->
                </label>
                <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download 'Master Production Schedule'"
                        style="cursor: pointer; margin-left: 85%; margin-top: -46%; border:none; background: transparent">
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-sm-5 text-right">

         <input type="text" placeholder="Search..." class="mps-search btn-rounded" [(ngModel)]="mpsSearchTerm">
         <span class="fas fa-search icon-search "></span>
       </div>
 -->
    </div>
    <div class="mps-card">
      <ng-container *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="background: #73c373" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="background: #ff5b5b" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
        </p>
      </ng-container>
      <div class="mps-table-scroll">
        <table class="table table-bordered mps-table" id="mpsTable">
          <thead class=" text-left  header-sticky">
          <tr>
            <th class="text-left">
              <span>FG Code</span>
              <div class="button-group dropdown text-right">
                <!-- [ngClass]="this.selectedFilterList[0].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"-->
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        value="code" data-toggle="dropdown" (click)="setFilterKey($event,0)">
                </button>
                <ul class="dropdown-menu">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox
                          [checked]="selectedFilterList[0].masterChecked"
                          [(indeterminate)]="selectedFilterList[0].masterIndeterminate"
                          onclick="event.stopPropagation();" (change)="selectAll(0)"
                        ><b>Select All</b></mat-checkbox>
                      </li>
                      <li *ngFor="let item of checkbox[filterKey] | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(0)"
                                        onclick="event.stopPropagation()">
                            {{ item.code }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[0].masterChecked && !selectedFilterList[0].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(0)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>FG Description</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow" style=""
                        [ngClass]="this.selectedFilterList[1].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="description" data-toggle="dropdown" (click)="setFilterKey($event,1)">
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class="container" style="margin-left: 6%">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[1].masterChecked"
                                      [(indeterminate)]="selectedFilterList[1].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(1)"
                        ><b>Select All</b></mat-checkbox>
                      </li>
                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(1)"
                                        onclick="event.stopPropagation()">
                            {{ item.description }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[1].masterChecked && !selectedFilterList[1].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(1)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>Division</span>
              <div class="button-group dropdown text-right ">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow" style=""
                        [ngClass]="this.selectedFilterList[2].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="divisionName" data-toggle="dropdown" (click)="setFilterKey($event,2)">
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[2].masterChecked"
                                      [(indeterminate)]="selectedFilterList[2].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(2)"
                        ><b>Select All</b></mat-checkbox>
                      </li>

                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(2)"
                                        onclick="event.stopPropagation()">
                            {{ item.divisionName }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[2].masterChecked && !selectedFilterList[2].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(2)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>Signature</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[3].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="signatureName" data-toggle="dropdown" (click)="setFilterKey($event,3)">
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[3].masterChecked"
                                      [(indeterminate)]="selectedFilterList[3].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(3)"
                        ><b>Select All</b></mat-checkbox>
                      </li>
                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(3)"
                                        onclick="event.stopPropagation()">
                            {{ item.signatureName }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[3].masterChecked && !selectedFilterList[3].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(3)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>Brand</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[4].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="brandName" data-toggle="dropdown" (click)="setFilterKey($event,4)">
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[4].masterChecked"
                                      [(indeterminate)]="selectedFilterList[4].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(4)"
                        ><b>Select All</b></mat-checkbox>
                      </li>
                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(4)"
                                        onclick="event.stopPropagation()">
                            {{ item.brandName }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[4].masterChecked && !selectedFilterList[4].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(4)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>{{monthNamesList?.month1?.monthNameAlias}}</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[5].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="month1" data-toggle="dropdown" (click)="setFilterKey($event,5)">
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <li>

                      <mat-checkbox [checked]="selectedFilterList[5].masterChecked"
                                    [(indeterminate)]="selectedFilterList[5].masterIndeterminate"
                                    onclick="event.stopPropagation()" (change)="selectAll(5)"
                      ><b>Select All</b></mat-checkbox>
                    </li>
                    <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                      <ng-container *ngIf="item!==null && item!==undefined">
                        <mat-checkbox [(ngModel)]="item.checked"
                                      [disabled]="item.disabled"
                                      [labelPosition]="item.labelPosition"
                                      (change)="listChange(5)"
                                      onclick="event.stopPropagation()">
                          {{ item.month1 }}
                        </mat-checkbox>
                      </ng-container>
                    </li>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[5].masterChecked && !selectedFilterList[5].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(5)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>{{monthNamesList?.month2?.monthNameAlias}}</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow" style=""
                        [ngClass]="this.selectedFilterList[6].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="month2" data-toggle="dropdown" (click)="setFilterKey($event,6)">
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[6].masterChecked"
                                      [(indeterminate)]="selectedFilterList[6].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(6)"
                        ><b>Select All</b></mat-checkbox>
                      </li>
                      <li *ngFor="let item of checkbox[filterKey]">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(6)"
                                        onclick="event.stopPropagation()">
                            {{ item.month2 }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[6].masterChecked && !selectedFilterList[6].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(6)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>{{monthNamesList?.month3?.monthNameAlias}}</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[7].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="month3" data-toggle="dropdown" (click)="setFilterKey($event,7)">
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[7].masterChecked"
                                      [(indeterminate)]="selectedFilterList[7].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(7)"
                        ><b>Select All</b></mat-checkbox>
                      </li>
                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(7)"
                                        onclick="event.stopPropagation()">
                            {{ item.month3 }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[7].masterChecked && !selectedFilterList[7].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(7)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>{{monthNamesList?.month4?.monthNameAlias}}</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[8].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="month4" data-toggle="dropdown" (click)="setFilterKey($event,8)">
                  <!-- <i class="fas fa-caret-down caret-icon"></i>-->
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[8].masterChecked"
                                      [(indeterminate)]="selectedFilterList[8].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(8)"
                        ><b>Select All</b></mat-checkbox>
                      </li>
                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(8)"
                                        onclick="event.stopPropagation()">
                            {{ item.month4 }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[8].masterChecked && !selectedFilterList[8].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(8)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>{{monthNamesList?.month5?.monthNameAlias}}</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[9].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="month5" data-toggle="dropdown" (click)="setFilterKey($event,9)">
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[9].masterChecked"
                                      [(indeterminate)]="selectedFilterList[9].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(9)"
                        ><b>Select All</b></mat-checkbox>
                      </li>

                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(9)"
                                        onclick="event.stopPropagation()">
                            {{ item.month5 }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[9].masterChecked && !selectedFilterList[9].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(9)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>{{monthNamesList?.month6?.monthNameAlias}}</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[10].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="month6" data-toggle="dropdown" (click)="setFilterKey($event,10)">
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[10].masterChecked"
                                      [(indeterminate)]="selectedFilterList[10].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(10)"
                        ><b>Select All</b></mat-checkbox>
                      </li>
                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(10)"
                                        onclick="event.stopPropagation()">
                            {{ item.month6 }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[10].masterChecked && !selectedFilterList[10].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(10)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>{{monthNamesList?.month7?.monthNameAlias}}</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[11].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="month7" data-toggle="dropdown" (click)="setFilterKey($event,11)">
                  <!-- <i class="fas fa-caret-down caret-icon"></i>-->
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[11].masterChecked"
                                      [(indeterminate)]="selectedFilterList[11].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(11)"
                        ><b>Select All</b></mat-checkbox>
                      </li>
                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(11)"
                                        onclick="event.stopPropagation()">
                            {{ item.month7 }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[11].masterChecked && !selectedFilterList[11].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(11)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>{{monthNamesList?.month8?.monthNameAlias}}</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[12].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="month8" data-toggle="dropdown" (click)="setFilterKey($event,12)">
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[12].masterChecked"
                                      [(indeterminate)]="selectedFilterList[12].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(12)"
                        ><b>Select All</b></mat-checkbox>
                      </li>
                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(12)"
                                        onclick="event.stopPropagation()">
                            {{ item.month8 }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[12].masterChecked && !selectedFilterList[12].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(12)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>{{monthNamesList?.month9?.monthNameAlias}}</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[13].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="month9" data-toggle="dropdown" (click)="setFilterKey($event,13)">
                  <!-- <i class="fas fa-caret-down caret-icon"></i>-->
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[13].masterChecked"
                                      [(indeterminate)]="selectedFilterList[13].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(13)"
                        ><b>Select All</b></mat-checkbox>
                      </li>
                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(13)"
                                        onclick="event.stopPropagation()">
                            {{ item.month9 }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[13].masterChecked && !selectedFilterList[13].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(13)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>{{monthNamesList?.month10?.monthNameAlias}}</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[14].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="month10" data-toggle="dropdown" (click)="setFilterKey($event,14)">
                  <!-- <i class="fas fa-caret-down caret-icon"></i>-->
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[14].masterChecked"
                                      [(indeterminate)]="selectedFilterList[14].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(14)"
                        ><b>Select All</b></mat-checkbox>
                      </li>
                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(14)"
                                        onclick="event.stopPropagation()">
                            {{ item.month10 }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[14].masterChecked && !selectedFilterList[14].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(14)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>{{monthNamesList?.month11?.monthNameAlias}}</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[15].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="month11" data-toggle="dropdown" (click)="setFilterKey($event,15)">
                  <!-- <i class="fas fa-caret-down caret-icon"></i>-->
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[15].masterChecked"
                                      [(indeterminate)]="selectedFilterList[15].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(15)"
                        ><b>Select All</b></mat-checkbox>
                      </li>
                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(15)"
                                        onclick="event.stopPropagation()">
                            {{ item.month11 }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[15].masterChecked && !selectedFilterList[15].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(15)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>{{monthNamesList?.month12?.monthNameAlias}}</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[16].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="month12" data-toggle="dropdown" (click)="setFilterKey($event,16)">
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[16].masterChecked"
                                      [(indeterminate)]="selectedFilterList[16].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(16)"
                        ><b>Select All</b></mat-checkbox>
                      </li>

                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(16)"
                                        onclick="event.stopPropagation()">
                            {{ item.month12 }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[16].masterChecked && !selectedFilterList[16].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(16)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>Total</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[17].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="total" data-toggle="dropdown" (click)="setFilterKey($event,17)">
                  <!-- <i class="fas fa-caret-down caret-icon"></i>-->
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[17].masterChecked"
                                      [(indeterminate)]="selectedFilterList[17].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(17)"
                        ><b>Select All</b></mat-checkbox>
                      </li>

                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(17)"
                                        onclick="event.stopPropagation()">&nbsp;
                            {{ item.total }}&nbsp;
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[17].masterChecked && !selectedFilterList[17].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(17)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>Material Category</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[18].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="materialCategoryName" data-toggle="dropdown" (click)="setFilterKey($event,18)">
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[18].masterChecked"
                                      [(indeterminate)]="selectedFilterList[18].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(18)"
                        ><b>Select All</b></mat-checkbox>
                      </li>
                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(18)"
                                        onclick="event.stopPropagation()">
                            {{ item.materialCategoryName }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[18].masterChecked && !selectedFilterList[18].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(18)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>Material Sub Category</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[19].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="materialSubCategoryName" data-toggle="dropdown" (click)="setFilterKey($event,19)">
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[19].masterChecked"
                                      [(indeterminate)]="selectedFilterList[19].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(19)"
                        ><b>Select All</b></mat-checkbox>
                      </li>
                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(19)"
                                        onclick="event.stopPropagation()">
                            {{ item.materialSubCategoryName }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[19].masterChecked && !selectedFilterList[19].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(19)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>Lines</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[20].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="lineName" data-toggle="dropdown" (click)="setFilterKey($event,20)">
                </button>
                <ul class="dropdown-menu ">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class=" container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[20].masterChecked"
                                      [(indeterminate)]="selectedFilterList[20].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(20)"
                        ><b>Select All</b></mat-checkbox>
                      </li>

                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(20)"
                                        onclick="event.stopPropagation()">
                            {{ item.lineName }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[20].masterChecked && !selectedFilterList[20].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)=" submit(20)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
            <th>
              <span>Skids</span>
              <div class="button-group dropdown text-right">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow"
                        [ngClass]="this.selectedFilterList[21].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="skidName" data-toggle="dropdown" (click)="setFilterKey($event,21)">
                </button>
                <ul class="dropdown-menu">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class="container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[21].masterChecked"
                                      [(indeterminate)]="selectedFilterList[21].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(21)"
                        ><b>Select All</b></mat-checkbox>
                      </li>

                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">
                        <ng-container *ngIf="item!==null && item!==undefined">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(21, item.skidName)"
                                        onclick="event.stopPropagation()">
                            {{item.skidName}}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[21].masterChecked && !selectedFilterList[21].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)="submit(21)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>
          <!--  <th>
              <span>FLA</span>
              <div class="button-group dropdown">
                <button class="hide-btn dropdown-toggle" [hidden]="isShow" style="left: 78px"
                        [ngClass]="this.selectedFilterList[22].masterIndeterminate ? 'dropdown-btn-selected' : 'dropdown-btn-info'"
                        value="fla" data-toggle="dropdown" (click)="setFilterKey($event,22)">
                </button>
                <ul class="dropdown-menu">
                  <input type="search" placeholder="Search..." class="dropDown-search" [(ngModel)]="bpiSearch">
                  <div class="container">
                    <mat-list>
                      <li>
                        <mat-checkbox [checked]="selectedFilterList[22].masterChecked"
                                      [(indeterminate)]="selectedFilterList[22].masterIndeterminate"
                                      onclick="event.stopPropagation()" (change)="selectAll(22)"
                        ><b>Select All</b></mat-checkbox>
                      </li>

                      <li *ngFor="let item of checkbox[filterKey]  | filter: bpiSearch">

                        <ng-container *ngIf="item!==null && item!==undefined && item.fla!==''">
                          <mat-checkbox [(ngModel)]="item.checked"
                                        [disabled]="item.disabled"
                                        [labelPosition]="item.labelPosition"
                                        (change)="listChange(22)"
                                        onclick="event.stopPropagation()">
                            {{ item.fla }}
                          </mat-checkbox>
                        </ng-container>
                      </li>
                    </mat-list>
                  </div>
                  <div>
                    <button type="submit" value="Submit"
                            [disabled]="!selectedFilterList[22].masterChecked && !selectedFilterList[22].masterIndeterminate"
                            class="btn btn-light dtn-color  btn-sm" (click)="submit(22)"> OK
                    </button>
                    <button type="button" class="btn btn-light dtn-color btn-sm" (click)="cancel()">Cancel</button>
                  </div>
                </ul>
              </div>
            </th>-->
          </tr>
          </thead>
          <ng-container *ngIf="!this.isDisplay; else elseBlock">
            <tbody class="text-right">
            <tr *ngFor="let bpiCode of bpiCodeList | filter:mpsSearchTerm">
              <td style="font-weight: bold" class="text-left">{{bpiCode.code}}</td>
              <td class="text-left">{{bpiCode.description}}</td>
              <td class="text-left">{{bpiCode.divisionName}}</td>
              <td class="text-left">{{bpiCode.signatureName}}</td>
              <td class="text-left">{{bpiCode.brandName}}</td>
              <td>{{bpiCode?.monthValues?.month1?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month2?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month3?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month4?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month5?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month6?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month7?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month8?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month9?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month10?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month11?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month12?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.total | number:'1.0':'en-IN'}}</td>
              <td class="text-left">{{bpiCode.materialCategoryName}}</td>
              <td class="text-left">{{bpiCode.materialSubCategoryName}}</td>
              <td class="text-left">{{bpiCode?.lineName}}</td>
              <td class="text-left">{{bpiCode?.skidName}}</td>
              <!--<td class="text-left">{{bpiCode?.fla}}</td>-->
            </tr>
            </tbody>
          </ng-container>
          <ng-template #elseBlock>
            <tbody class="text-right">
            <tr *ngFor="let bpiCode of filterData ">
              <td style="font-weight: bold" class="text-left">{{bpiCode.code}}</td>
              <td class="text-left">{{bpiCode.description}}</td>
              <td class="text-left">{{bpiCode.divisionName}}</td>
              <td class="text-left">{{bpiCode.signatureName}}</td>
              <td class="text-left">{{bpiCode.brandName}}</td>
              <td>{{bpiCode?.monthValues?.month1?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month2?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month3?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month4?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month5?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month6?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month7?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month8?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month9?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month10?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month11?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.monthValues?.month12?.value | number:'1.0':'en-IN'}}</td>
              <td>{{bpiCode?.total | number:'1.0':'en-IN'}}</td>
              <td class="text-left">{{bpiCode.materialCategoryName}}</td>
              <td class="text-left">{{bpiCode.materialSubCategoryName}}</td>
              <td class="text-left">{{bpiCode?.lineName}}</td>
              <td class="text-left">{{bpiCode?.skidName}}</td>
            <!--  <td class="text-left">{{bpiCode?.fla}}</td>-->
            </tr>
            </tbody>
          </ng-template>
        </table>
      </div>
    </div>
  </div>
</div>








