/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.module-text{
  /*margin-left: 29%;
  font-size: 20px;
  color: black;
  font-style: italic;
  margin-top: 29%;*/
  margin-left: 37%;
  font-size: 20px;
  color: white;
  font-style: italic;
  margin-top: 12%;
}
.home-header-btn{
  border: 1px solid grey;
  color: white;
  background: #00bdda;
  padding: 9px;
  line-height: 1;
  position: absolute;
  top: 21%;
  left: 8%;
  font-size: 14px;
  cursor: pointer;
}
.home-header-btn-anal{
  border: 1px solid grey;
  color: white;
  background: #00bdda;
  padding: 9px;
  line-height: 1;
  position: absolute;
  top: 21%;
  left: 21%;
  font-size: 14px;
  cursor: pointer;
}
.home-header-btn-report{
  border: 1px solid grey;
  color: white;
  background: #00bdda;
  padding: 9px;
  line-height: 1;
  position: absolute;
  top: 21%;
   left: 35%;
  font-size: 14px;
  cursor: pointer;
}

.home-header-btn-master{
  border: 1px solid grey;
  color: white;
  background: #00bdda;
  padding: 9px;
  line-height: 1;
  position: absolute;
  top: 21%;
   left: 43%;
  font-size: 14px;
  cursor: pointer;
}
.home-header-btn-home{
  border: 1px solid grey;
  color: white;
  background: #00bdda;
  padding: 9px;
  line-height: 1;
  position: absolute;
  top: 21%;
 /* left: 43%;*/
  font-size: 14px;
  cursor: pointer;
}

* {
  font-family: Rubik;
}

.dropdown-submenuu {
  position: relative;
}

.dropdown-submenuu>.menu-2 {
  top: 5px;
  left: 103%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenuu:hover>.menu-2 {
  display: block;
}

.dropdown-submenuu>button:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenuu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenuu.pull-left {
  float: none;
}

.dropdown-submenuu.pull-left>.menu-2 {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.menu-2{
  background: unset!important;
  border:none;

}

.sub-menu-style{
  min-width: 171px!important;
  text-align: center;
  border: 1px solid grey;
  color: white;
  background: #00bdda;
  padding: 9px;
  line-height: 1;
  /* position: absolute; */
  /* top: 21%; */
  /* left: 21%; */
  font-size: 14px;
  cursor: pointer;
}

.mps-name-style{
  font-size: 19px;
  font-style: italic;
  position: absolute;
  top: 27%;
  color: lightgray;
}
.csp-logo{
  width: 108px;
  height: 50px;
  position: absolute;
  background: black;
  border:1px solid black;
  border-right: none!important;

}
.excel-icon{
  color: green;
  font-size: 24px
}
/*.header-ul .header-li:hover{
  background: dimgray;
  color: white!important;
  opacity: 1!important;
}*/
.mps-plan{
  font-style: italic;
  background: #e9ecef;
  border: 1px solid black;
  width: 139px;
  position: absolute;
  left: 119px;
  top: 17%;
  height: 32px;
  padding: 4px;
}

.caret-up{
 /* color:#00bdda;
  position: absolute;
  font-size: 41px;
  top: -11%;
  left: 15%;*/
  color: darkcyan;
  position: absolute;
  font-size: 41px;
  top: -7%;
  left: 45%;
}
.caret-row{
  height: 37px;
  width: 100%;
  background: darkcyan;
  margin-left: 0%!important;
 /* margin-top: -11px;*/
}
.plan-drop-down {
  width: 158%;
  margin-top: 3% !important;
  margin-left: -34% !important;
}

.mon-drop-down{
  width: 75%;
  margin-top: 3%!important;
  margin-left: 0%!important;
  box-shadow: 0 0 10px grey;
  /*width: 200%; height: 275px;
  margin-top: 12%!important;
 !* margin-left: -6%!important;*!
  margin-left: 32%!important;
  box-shadow: 0 0 10px grey;*/
}
.plan-module-table th,td{
  padding: 4px!important;
}
.plan-module-table td{
  font-size: 14px;
}
.plan-module-table th{
  font-size: 16px;
}
.plan-module-table thead{
  background: black;
}
.plan-module-table{
  transform-style: preserve-3d;
  width: 100%;
}
table#planMTABLE tbody {
  display: block;
  /* max-height: 200px;*/
/*  overflow-y: auto;
  overflow-x: hidden;*/
}

table#planMTABLE thead, table#planMTABLE tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

table#planMTABLE2 tbody {
  display: block;
  /* max-height: 200px;*/
  /*  overflow-y: auto;
    overflow-x: hidden;*/
}

table#planMTABLE2 thead, table#planMTABLE2 tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.header-sticky{
  position: sticky;
  z-index: 100;
  top: 0%;
}
.breadcrumb-item.active {
  color: darkslategray;

}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: darkslategray;
}
.breadcrumb-item {
  font-size: 2.43531202435312vh!important;
}
.clear-all {
  width: 0px!important;
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.nodeBgColor{
  background: darkcyan;
  color: white;
}
.nodeColor{
  background-color: #e9ecef;
}
.nodeBlackColor{
  background-color:black;
  color: white;
}
.hover-color-effect:hover{
  background: black;
  color:white!important;

}
.hover-color-effect{
  color:black!important;
}

/*.hover-color-pm, span:hover{
  color: white!important;
}*/

/*.dropdown-item:active {
  color: black!important;
  text-decoration: none;
  background-color: darkcyan!important;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b!important;
  text-decoration: none;
  background-color: darkcyan!important;
}*/
.logout-dropdown{
  display: block;
  width: 100%;
  padding: 0.65rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.month-dropdown-common {
  width: 16%;
  margin-left: 1%;
  border: 1px solid white;
  background: white;
}

.left-align-username{
  margin-left: -30%;
}
.left-align-username-2{

}
.user-1{
  margin-left: 27%;
}
.user-2{
  margin-left: -1%;
}

.module-1{
  margin-left: 21%;
}
.module-2{
  margin-left: 27%;
}
.hm-btn-css{
 /* height: 24px!important;
  line-height: 5px!important;*/
  height: 24px!important;
  line-height: 5px!important;
  padding-left: 2px!important;
  padding-right: 2px!important;
  font-size: 12px!important;
  background: transparent!important;
}
.hm-btn-css:hover{
  border:1px solid darkcyan!important;
  /*background: darkcyan!important;
  color: white!important;*/
}

.backupall{
  width: 1240px!important;
}
.fgview{
  width: 741px!important;
}
.pmview{
  width: 438px!important;
}
.rmview{
  width: 503px!important;
}
.analystannual{
  width: 553px!important;
}
.fgyrly{
  width: 260px!important;
}

.rmyrly {
  width: 714px !important;
}
.pmyrly{
  width: 471px!important;
}
.allyrly{
  width: 673px!important;
}
