table#grossTable tbody {
 /* display: block;
  !* max-height: 200px;*!
 */
  overflow-y: auto;
  overflow-x: hidden;
}

table#grossTable thead, table#grossTable tbody tr {
 /* display: table;
  width: 100%;
   !* even columns width , fix width of table too*!*/
  table-layout: fixed;
}

.gross-consumption-scroll-table{
  border: 1px solid lightgrey;
  height: 80.36529680365297vh;
  overflow: auto;
}
/*.gross-consumption-table thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 100;
  background-color: darkcyan;
  color: white;
}*/

.gross-consumption-table th, td{
  padding: 0.60882800608828vh;
  white-space: nowrap;
}
.gross-consumption-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.gross-consumption-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}

.gross-consumption-table {
  transform-style: preserve-3d;
  width: 100% !important;
}

.word-wrap-table-cell{
  cursor: pointer;
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-css {
  font-size: 14px;
  height: 20px;
  border: 1px solid lightgrey;
  width: 14%;
  margin-left: 86%;
  margin-bottom: 1px;
  margin-top: -10px;
  background-color: #fcffa4;
}

/*table thead {
  background-color: darkcyan;
  color: white;
}*/

.header-sticky{
  position: sticky;
  z-index: 100;
  top: -1px;
}
table thead {
  background-color: darkcyan;
  color: white;
}
.icon-search{
  margin-left: -2%;
  font-size: 13px;
}
.gross-search{
  border: 1px solid #39c449;
  box-shadow: 0 0 5px rgba(109,207,246,.5);
  height: 25px;
  line-height: 4;
  width: 16%;
  margin-left: 0%;
  margin-bottom: 6px;
}

.gross-card{
 /* border: 2px solid lightslategrey;
  padding: 1%;*/
  margin-bottom: 0px;
  background: white;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  MARGIN-TOP: 6px;
}
.mps-plan-selection{
  margin-left: -2%;
}
.succes-msg{
  color: white;
  position: absolute;
  top: 2%;
  left: 50%;
  padding: 1px 10px 1px 10px;
  width: auto;
  border-radius: 25px;
  font-size: 15px;
}
