<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 1%">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-sm-5">
            <div class="form-inline">
              <div class="page-breadcrumb">
                <nav aria-label="breadcrumb" style="margin-left: -7%">
                  <ol class="breadcrumb">
                    <!--  <li class="breadcrumb-item">
                        <a href='javascript:void(0)'>Home</a>
                      </li>-->
                    <li class="breadcrumb-item active">Analytics</li>
                    <li class="breadcrumb-item  font-weight-bold text-dark">Current Plan</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-sm-7">
            <ul class="nav nav-pills mb-3  justify-content-end" id="pills-tab" role="tablist">
              <li class="nav-item">
                <button class="nav-link by-default btn  "  id="rmMpsTab" data-toggle="pill"
                        routerLink="rmMpsTab" routerLinkActive="active"
                        [ngClass]="firstTabClicked ? 'active ' : ''"
                        queryParamsHandling="preserve"
                        (click)="firstTabClicked=true; secondTabClicked=false; "
                        role="tab" aria-controls="pills-home" aria-selected="true">MPS</button>
              </li>
              <li class="nav-item" style="margin-left: 0% ">
                <button class="nav-link by-default btn  "  id="pills-rtd" data-toggle="pill"
                        routerLink="rmSlobTab" routerLinkActive="active"
                        [ngClass]="secondTabClicked ? 'active ' : ''"
                        queryParamsHandling="preserve"
                        (click)="firstTabClicked=false; secondTabClicked=true;"
                        role="tab" aria-controls="pills-profiler" aria-selected="false">Slob</button>
              </li>
            </ul>
          </div>
        </div>


        <div class="card-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
