.users-card{
  padding: 2%;
  border:1px solid lightgrey;
}

table#userTable tbody {
  display: block;
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#userTable thead, table#userTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}


table#userListTable tbody {
  display: block;
  /* max-height: 200px;*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#userListTable thead, table#userListTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.table-scroll {
  border: 1px solid lightgrey;
  height: 472px;
  overflow-x: hidden;
}

.users-table th, td{
  padding: 4px;
}

.users-table th {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid lightgrey;
}
.users-table td {
  font-size: 12px;
}
.users-table{
  transform-style: preserve-3d;
  width: 100%;
}

table thead {
  background-color: darkcyan;
  color: white;
}

.header-sticky{
  position: sticky;
  z-index: 100;
  top: 0%;
}
.inp-css{
  margin-top: -5%;
}
.information-cards{
  border: 1px solid lightgrey;
  padding: 2%;
  margin-left: 0%;
  width: 100%;
  margin-bottom: 0%;
  overflow-x: hidden;
  height: 135px
}
label{
  font-size: 14px;
  font-weight: 400;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  /*
   border-radius: 25px;*/
  padding: 2px 15px 2px 15px;
  border: 1px solid darkcyan;
  background: darkcyan;
  color: white;
}
.by-default{
  background: white;
  color: #000;

  padding: 2px 15px 2px 15px;
  border: 1px solid grey;
}
.tab-content{
  border: 1px solid lightgrey;
  /*padding: 1%;*/
  margin-bottom: 0px;
  background: white;
  margin-top: -10px;
  padding: 1%;
  height: 436px;
}
