<div class="row">
  <div class="col-sm-3 pr-0">
    <div class="users-card" style="padding: 3%">
      <h5 style="font-size: 18px">Available Organisation</h5>
      <div class="table-scroll">
        <table class="table table-bordered users-table" id="userTable">
          <thead class="text-center header-sticky">
            <tr>
              <th style="width: 12%"></th>
              <th>Organisation Name</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr>
              <td style="width: 12%">
                <input type="radio" name="orgRdo" checked>
              </td>
              <td>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-4 pr-0">
    <div class="users-card">
      <h5 style="font-size: 18px">Available User List</h5>
      <div class="table-scroll">
        <table class="table table-bordered users-table" id="userListTable">
          <thead class="text-center header-sticky">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Options</th>
          </tr>
          </thead>
          <tbody class="text-center">
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="users-card">
      <h5 style="font-size: 18px">Create/Edit Users</h5>
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <button class="nav-link by-default btn  active"
                      id="pills-home-tab" data-toggle="pill" href="#pills-home"
                      role="tab" aria-controls="pills-home" aria-selected="true">Personal Information</button>
            </li>
            <li class="nav-item">
              <button class="nav-link by-default btn"  id="pills-profile-tab" data-toggle="pill"
                      href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Address Details </button>
            </li>
            <li class="nav-item">
              <button class="nav-link by-default btn"
                      id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                      role="tab" aria-controls="pills-contact" aria-selected="false">Contact Details</button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="row" style="margin-top: 2%;">
                <div class="form-group col-sm-4">
                  <label class="control-label">First Name</label><span style="color: red">*</span>
                  <input type="text" class="form-control form-control-sm inp-css"
                         required autocomplete="off">
                </div>
                <div class="form-group col-sm-4">
                  <label class="control-label">Middle Name</label>
                  <input type="text" class="form-control form-control-sm inp-css" autocomplete="off">
                </div>
                <div class="form-group col-sm-4">
                  <label class="control-label">Last Name</label><span style="color: red">*</span>
                  <input type="text" class="form-control form-control-sm inp-css" autocomplete="off" required>

                </div>

                <div class="form-group col-sm-4">
                  <label class="control-label">Username</label><span style="color: red">*</span>
                  <input type="text" class="form-control form-control-sm inp-css" autocomplete="off">
                </div>

                <div class="form-group col-sm-4">
                  <label class="control-label">Role</label><span style="color: red">*</span>
                  <div class="inp-css">
                    <!--   <angular2-multiselect [data]="roleList" [settings]="singleSelectDropdownSettings"
                                             [(ngModel)]="selectedRole" formControlName="roles"
                                             class="form-control form-control-sm">
                       </angular2-multiselect></div>-->
                  </div>
                </div>
                <div class="form-group col-sm-4">
                  <label class="control-label">Salutation</label>
                  <input type="text" class="form-control form-control-sm inp-css" autocomplete="off">
                </div>
                <div class="form-group col-sm-4">
                  <label class="control-label">Begin Date</label>
                  <!-- <input type="text" class="form-control form-control-sm inp-css"
                          autocomplete="off" [bsConfig]="dpConfig"
                          formControlName="beginDate" bsDatepicker>-->
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

              <div class="row" style="width: 100%; margin-left: 0%; margin-top: 2%;">
                <div class="form-body">
                  <div class="row">
                    <div class="form-group col-sm-4">
                      <label class="control-label">Address Line One</label><span
                      style="color: red">*</span>
                      <input type="text" class="form-control form-control-sm inp-css"
                             required autocomplete="off">
                    </div>
                    <div class="form-group col-sm-4">
                      <label class="control-label">Address Line Two</label>
                      <input type="text" class="form-control form-control-sm inp-css"
                             autocomplete="off">
                    </div>
                    <div class="form-group col-sm-4">
                      <label class="control-label">Area</label>
                      <input type="text" class="form-control form-control-sm inp-css" autocomplete="off">
                    </div>
                    <div class="form-group col-sm-4">
                      <label class="control-label">Pincode</label>
                      <input type="text" class="form-control form-control-sm inp-css" autocomplete="off">
                    </div>

                    <div class="form-group col-sm-4">
                      <label class="control-label">City</label>
                      <!-- <select formControlName="city" class="form-control form-control-sm inp-css">
                         <option *ngFor="let city of cityList" [value]="city.id">
                           {{city.name}}
                         </option>
                       </select>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <div class="row" style="margin-top: 2%; width: 100%; margin-left: 0%;">
                <div class="form-body">
                  <div class="row">
                    <div class="form-group col-sm-4">
                      <label class="control-label">Primary Mobile No.</label><span style="color: red">*</span>
                      <input type="text" class="form-control form-control-sm inp-css"
                             required autocomplete="off">
                    </div>
                    <div class="form-group col-sm-4">
                      <label class="control-label">Alternate Mobile No.</label>
                      <input type="text" class="form-control form-control-sm inp-css"
                             maxlength="15" minlength="4">
                    </div>
                    <div class="form-group col-sm-4">
                      <label class="control-label">Landline No.</label>
                      <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                             maxlength="15" minlength="4">
                    </div>
                    <div class="form-group col-sm-4">
                      <label class="control-label">Alt. Landline No.</label>
                      <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                             maxlength="15" minlength="4">
                    </div>
                    <div class="form-group col-sm-4">
                      <label class="control-label">Email</label><span style="color: red">*</span>
                      <input type="text" class="form-control form-control-sm inp-css" autocomplete="off" required>
                    </div>
                    <br>

                    <div class="form-group col-sm-4">
                      <label class="control-label">Alternate Email</label>
                      <input type="text" class="form-control form-control-sm inp-css" autocomplete="off">
                    </div>
                    <div class="form-group col-sm-4">
                      <label class="control-label">Fax No.</label>
                      <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                             maxlength="15"
                             minlength="4">
                    </div>
                    <div class="form-group col-sm-4">
                      <label class="control-label">Alternate Fax No.</label>
                      <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                             maxlength="15"
                             minlength="4">
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div style="text-align: end;margin-top: 5%" >
              <button class="btn btn-sm btn-info" type="submit"
                      [disabled]="true">
                Submit
              </button><!--submitButtonClicked = true;-->
            </div>
          </div>
        </div>
      </div>







   <!--   <form class="form-horizontal">
        <div class="information-cards">
          <h4 style="font-size: 16px">Personal Information</h4>
          <div class="row" style="margin-top: 2%;">
                <div class="form-group col-sm-4">
                  <label class="control-label">First Name</label><span style="color: red">*</span>
                  <input type="text" class="form-control form-control-sm inp-css"
                         required autocomplete="off">
                </div>
                <div class="form-group col-sm-4">
                  <label class="control-label">Middle Name</label>
                  <input type="text" class="form-control form-control-sm inp-css" autocomplete="off">
                </div>
                <div class="form-group col-sm-4">
                  <label class="control-label">Last Name</label><span style="color: red">*</span>
                  <input type="text" class="form-control form-control-sm inp-css" autocomplete="off" required>

                </div>

                <div class="form-group col-sm-4">
                  <label class="control-label">Username</label><span style="color: red">*</span>
                  <input type="text" class="form-control form-control-sm inp-css" autocomplete="off">
                </div>

              <div class="form-group col-sm-4">
                <label class="control-label">Role</label><span style="color: red">*</span>
                <div class="inp-css">
               &lt;!&ndash;   <angular2-multiselect [data]="roleList" [settings]="singleSelectDropdownSettings"
                                        [(ngModel)]="selectedRole" formControlName="roles"
                                        class="form-control form-control-sm">
                  </angular2-multiselect></div>&ndash;&gt;
              </div>
              </div>
              <div class="form-group col-sm-4">
                <label class="control-label">Salutation</label>
                <input type="text" class="form-control form-control-sm inp-css" autocomplete="off">
              </div>
            <div class="form-group col-sm-4">
              <label class="control-label">Begin Date</label>
             &lt;!&ndash; <input type="text" class="form-control form-control-sm inp-css"
                     autocomplete="off" [bsConfig]="dpConfig"
                     formControlName="beginDate" bsDatepicker>&ndash;&gt;
            </div>
          </div>
        </div>

        <div class="information-cards" style="margin-top: 2%">
          <h4 style="font-size: 16px">Address Details</h4>
          <div class="row" style="width: 100%; margin-left: 0%; margin-top: 2%;">
              <div class="form-body">
                <div class="row">
                    <div class="form-group col-sm-4">
                      <label class="control-label">Address Line One</label><span
                      style="color: red">*</span>
                      <input type="text" class="form-control form-control-sm inp-css"
                             required autocomplete="off">
                    </div>
                    <div class="form-group col-sm-4">
                      <label class="control-label">Address Line Two</label>
                      <input type="text" class="form-control form-control-sm inp-css"
                             autocomplete="off">
                    </div>
                    <div class="form-group col-sm-4">
                      <label class="control-label">Area</label>
                      <input type="text" class="form-control form-control-sm inp-css" autocomplete="off">
                    </div>
                    <div class="form-group col-sm-4">
                      <label class="control-label">Pincode</label>
                      <input type="text" class="form-control form-control-sm inp-css" autocomplete="off">
                    </div>

                    <div class="form-group col-sm-4">
                      <label class="control-label">City</label>
                     &lt;!&ndash; <select formControlName="city" class="form-control form-control-sm inp-css">
                        <option *ngFor="let city of cityList" [value]="city.id">
                          {{city.name}}
                        </option>
                      </select>&ndash;&gt;
                    </div>
                </div>
              </div>
          </div>
        </div>
        <div  class="information-cards" style="margin-top: 2%">
          <h4 style="font-size: 16px">Contact Details</h4>
          <div class="row" style="margin-top: 2%; width: 100%; margin-left: 0%;">
              <div class="form-body">
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label class="control-label">Primary Mobile No.</label><span style="color: red">*</span>
                    <input type="text" class="form-control form-control-sm inp-css"
                           required autocomplete="off">
                  </div>
                  <div class="form-group col-sm-4">
                    <label class="control-label">Alternate Mobile No.</label>
                    <input type="text" class="form-control form-control-sm inp-css"
                           maxlength="15" minlength="4">
                  </div>
                  <div class="form-group col-sm-4">
                    <label class="control-label">Landline No.</label>
                    <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                           maxlength="15" minlength="4">
                  </div>
                  <div class="form-group col-sm-4">
                    <label class="control-label">Alt. Landline No.</label>
                    <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                           maxlength="15" minlength="4">
                  </div>
                  <div class="form-group col-sm-4">
                    <label class="control-label">Email</label><span style="color: red">*</span>
                    <input type="text" class="form-control form-control-sm inp-css" autocomplete="off" required>
                  </div>
                  <br>

                  <div class="form-group col-sm-4">
                    <label class="control-label">Alternate Email</label>
                    <input type="text" class="form-control form-control-sm inp-css" autocomplete="off">
                  </div>
                  <div class="form-group col-sm-4">
                    <label class="control-label">Fax No.</label>
                    <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                           maxlength="15"
                           minlength="4">
                  </div>
                  <div class="form-group col-sm-4">
                    <label class="control-label">Alternate Fax No.</label>
                    <input type="text" class="form-control form-control-sm inp-css" autocomplete="off"
                           maxlength="15"
                           minlength="4">
                  </div>

                </div>
              </div>
          </div>
        </div>


      </form>
      <div style="text-align: end; margin-top: 2%">
        <button class="btn btn-sm btn-info" type="submit"
                [disabled]="true">
          Submit
        </button>&lt;!&ndash;submitButtonClicked = true;&ndash;&gt;
      </div>-->
    </div>
  </div>
</div>
