<div class="card stocks-card">
  <div class="d-flex">
    <input type="text" placeholder="Search" class="form-control-sm btn-rounded w-auto ng-pristine ng-valid ng-touched"
           [(ngModel)]="csearchTerm"/>
  </div>
  <div class="card-body" style="padding: 0.25rem!important">
    <table class="table  border rejection-table">
      <thead>
      <tr>
        <th sortable="code"> Material Code</th>
        <th sortable="description">Description</th>
        <th sortable="stockQuantity">Quantity</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let client of cfilterClient | slice: (cpage-1) * cpageSize : (cpage-1) * cpageSize + cpageSize">
        <td class="font-weight-bold">
          <ngb-highlight [result]="client.code" [term]="csearchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="client.description" [term]="csearchTerm"></ngb-highlight>
        </td>
        <td class="text-right">
          <ngb-highlight [result]="client.stockQuantity" [term]="csearchTerm"></ngb-highlight>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-content-end flex-wrap" style="margin-top: -1%; margin-bottom: 0px!important; ">
    <ngb-pagination [maxSize]="5" [(page)]="cpage"
                    [pageSize]="cpageSize"
                    [collectionSize]="totalLengthOfCollection" [rotate]="true" [ellipses]="false"
                    [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>
