table#receiptTable tbody {
  /* display: block;
   !* max-height: 200px;*!*/
  overflow-y: auto;
  overflow-x: hidden;
}

table#receiptTable thead, table#receiptTable tbody tr {
  /*  display: table;
    width: 100%;*/
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.rejection-table th, td {
  padding: 0.60882800608828vh;
  white-space: nowrap;
}

.rejection-table th {
  font-size: 2.13089802130898vh;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.rejection-table td {
  font-size: 1.82648401826484vh;
  border: 0.15220700152207vh solid darkgrey;
}

.rejection-table {
  transform-style: preserve-3d;
  min-height: auto;
  overflow: auto;
  min-width: 500px;
  max-width: 1000px;
}

.receipt-scroll-table {
  border: 1px solid lightgrey;
  max-height: 482px;
  min-height: auto;
  overflow: auto;
  min-width: 500px;
  max-width: 1000px;
}

table thead {
  background-color: darkcyan;
  color: white;
}

.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  MARGIN-TOP: 6px;
}

.header-sticky {
  position: sticky;
  z-index: 100;
  top: -1px;
}

.rejection-table-card {
  margin-top: -1%;
  background: white;
}

.succes-msg {
  margin-top: 1%;
  margin-bottom: 0 !important;
  color: white;
  padding: 3px;
  width: 60%;
  border-radius: 25px;
  font-size: 15px;
  text-align: center;
}

.excel-icon-btn {
  border: none;
  cursor: pointer;
  background: transparent;
}

.stocks-card {
  margin-bottom: -14px !important;
  min-height: auto;
  overflow: auto;
  min-width: 500px;
  max-width: 15000px;
}

#ngx .ng-valid, .ng-touched.ng-valid {
  border: 1px solid lightgray;
}
