



  <div>
    <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">

      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
              (change)="filterChange(filter,$event)">
        <option value="">-- Select {{filter.name}} --</option>
        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
      </select>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8 custom-table-height">
  <table mat-table [dataSource]="dataSource" width="100%">
    <ng-container matColumnDef="materialCode">
      <th mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let row">{{row.materialCode}}</td>
    </ng-container>

    <ng-container matColumnDef="materialDescription">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let row">{{row.materialDescription}}</td>
    </ng-container>

    <ng-container matColumnDef="month1">
      <th mat-header-cell *matHeaderCellDef>{{monthNamesList?.month1?.monthNameAlias}}</th>
      <td mat-cell *matCellDef="let row">{{row.month1}}</td>
    </ng-container>

    <ng-container matColumnDef="month2">
      <th mat-header-cell *matHeaderCellDef>{{monthNamesList?.month2?.monthNameAlias}}</th>
      <td mat-cell *matCellDef="let row">{{row.month2}}</td>
    </ng-container>

    <ng-container matColumnDef="month3">
      <th mat-header-cell *matHeaderCellDef>{{monthNamesList?.month3?.monthNameAlias}}</th>
      <td mat-cell *matCellDef="let row">{{row.month3}}</td>
    </ng-container>

    <ng-container matColumnDef="month4">
      <th mat-header-cell *matHeaderCellDef>{{monthNamesList?.month4?.monthNameAlias}}</th>
      <td mat-cell *matCellDef="let row">{{row.month4}}</td>
    </ng-container>

    <ng-container matColumnDef="month5">
      <th mat-header-cell *matHeaderCellDef>{{monthNamesList?.month5?.monthNameAlias}}</th>
      <td mat-cell *matCellDef="let row">{{row.month5}}</td>
      </ng-container>
      <ng-container matColumnDef="month6">
        <th mat-header-cell *matHeaderCellDef>{{monthNamesList?.month6?.monthNameAlias}}</th>
        <td mat-cell *matCellDef="let row">{{row.month6}}</td>
      </ng-container>
     <ng-container matColumnDef="month7">
       <th mat-header-cell *matHeaderCellDef>{{monthNamesList?.month7?.monthNameAlias}}</th>
       <td mat-cell *matCellDef="let row">{{row.month7}}</td>
     </ng-container>
    <ng-container matColumnDef="month8">
      <th mat-header-cell *matHeaderCellDef>{{monthNamesList?.month8?.monthNameAlias}}</th>
      <td mat-cell *matCellDef="let row">{{row.month8}}</td>
    </ng-container>
    <ng-container matColumnDef="month9">
      <th mat-header-cell *matHeaderCellDef>{{monthNamesList?.month9?.monthNameAlias}}</th>
      <td mat-cell *matCellDef="let row">{{row.month9}}</td>
    </ng-container>1

    <ng-container matColumnDef="month10">
      <th mat-header-cell *matHeaderCellDef>{{monthNamesList?.month10?.monthNameAlias}}</th>
      <td mat-cell *matCellDef="let row">{{row.month10}}</td>
    </ng-container>

    <ng-container matColumnDef="month11">
      <th mat-header-cell *matHeaderCellDef>{{monthNamesList?.month11?.monthNameAlias}}</th>
      <td mat-cell *matCellDef="let row">{{row.month11}}</td>
    </ng-container>
    <ng-container matColumnDef="month12">
      <th mat-header-cell *matHeaderCellDef>{{monthNamesList?.month12?.monthNameAlias}}</th>
      <td mat-cell *matCellDef="let row">{{row.month12}}</td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let row">{{row.total}}</td>
    </ng-container>

    <ng-container matColumnDef="header-row-first">
      <th mat-header-cell *matHeaderCellDef
          [style.text-align]="center" style="background:white;"
          [attr.colspan]="2">

      </th>
    </ng-container>


    <!-- Header row first group -->
    <ng-container matColumnDef="header-row-first-group">
      <th mat-header-cell *matHeaderCellDef
          [style.text-align]="center"
          [attr.colspan]="2">
        First group
      </th>
    </ng-container>

    <!-- Header row second group -->
    <ng-container matColumnDef="header-row-second-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Second group </th>
    </ng-container>

    <tr  style="cursor: pointer; height: 33px" mat-header-row *matHeaderRowDef="['header-row-first','header-row-first-group', 'header-row-second-group']; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style="height: 33px"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;let i=index"
        style="cursor: pointer; height: 33px">
    </tr>
  </table>
</div>

















<!--

<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">

               &lt;!&ndash; <h4 class="mps-plan-selection page-title text-muted"><b>MPS 07_11</b></h4>&ndash;&gt;
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    &lt;!&ndash;<li class="breadcrumb-item">
                      <a routerLink="/newRm/newRmMps">Home</a>
                    </li>&ndash;&gt;
                    <li class="breadcrumb-item active">SLOB & CoverDays</li>
                    <li class="breadcrumb-item  font-weight-bold text-dark">Summary</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                <button (click)="exportAsXLSX()" data-toggle="tooltip" title="Download 'RM Summary'"
                        style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="summary-card">
      <ng-container  *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="left:56%" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
          <button type="button" class="close" data-dismiss="alert"
                  aria-label="Close"><span
            aria-hidden="true">×</span></button>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="left:22%" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
          <button type="button" class="close" data-dismiss="alert"
                  aria-label="Close"><span
            aria-hidden="true">×</span></button>
        </p>
      </ng-container>
      <div class="row">
        <div class="col-sm-12">
          <div class="slob-graph-card">
            <div class="row">
              <div class="col-sm-4"> <h4 class="text-left font-weight-bold" style="font-size: 20px">SLOB Summary</h4></div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                &lt;!&ndash;  <div class="text-center stock-sit-value-2">&ndash;&gt;
                <table style="width: 67%;margin-left: 33%;">
                  <tr>
                    <td class="font-weight-bold">Total SLOB Value</td>
                    <td  style="width: 40%; background: #e6ccff;font-weight: bold">{{summaryDataList?.totalSlobValue | number:'1.0':'en-IN'}}</td>
                  </tr>
                </table>
                &lt;!&ndash;  </div>&ndash;&gt;
              </div>
            </div>
            <div class="row" style="margin-top: 1%">
              <div class="col-sm-2">
                <div class="summary-chart-card">
                  <canvas id="SLOB_SUMMARY" width="900" height="800" style="margin-left: -2%; margin-top: 10%">
                    {{slobSummary}}
                  </canvas>
                </div>
              </div>
              <div class="col-sm-10">
                <table class="table table-bordered" style="height: 100%">
                  <thead class="text-left">
                  <tr>
                    <th></th>
                    <th>Percentage</th>
                    <th>Value</th>
                    <th colspan="2">Formula</th>
                  </tr>
                  </thead>
                  <tbody class="text-center">
                  <tr>
                    <td>Slow Moving</td>
                    <td>
                         <span class="form-inline">
                           <i class="legend-i"  style="color: #cae00d;">&#x25A0;</i>
                           <span class="font-weight-bold" style="margin-left: 5%">{{slowItemPercentage}} %</span>
                         </span>
                    </td>
                    <td>{{summaryDataList?.totalSlowItemValueDTO?.totalSlowItemValue | number:'1.0':'en-IN'}}</td>
                    <td colspan="2">{{summaryDataList?.totalSlowItemValueDTO?.slowItemPercentageFormula}}</td>
                  </tr>
                  <tr>
                    <td>Obsolete</td>
                    <td>
                          <span class="form-inline">
                            <i class="legend-i"  style="color: #ff5c33;">&#x25A0;</i>
                            <span  class="font-weight-bold" style="margin-left: 5%">{{obsoleteItemPercentage}} %</span>
                          </span>
                    </td>
                    <td>{{summaryDataList?.totalObsoleteItemValueDTO?.totalObsoleteItemValue | number:'1.0':'en-IN'}}</td>
                    <td colspan="2">{{summaryDataList?.totalObsoleteItemValueDTO?.obsoleteItemPercentageFormula}}</td>
                  </tr>
                  <tr>
                    <td rowspan="2" style="width: 14%;line-height: 6">Stock Quality</td>
                    <td rowspan="2" style="width: 16%;line-height: 6">
                         <span class="form-inline">
                         <i class="legend-i"  style="color:#7b97ff ">&#x25A0;</i>
                         <span  class="font-weight-bold" style="margin-left: 5%">{{stockQualityPercentage}} %</span>
                         </span>
                    </td>
                    <td style="line-height: 6" rowspan="2">{{summaryDataList?.totalStockQualityValueDTO?.stockQuantity | number:'1.0':'en-IN'}}</td>
                    <td style="width: 10%; line-height: 3; font-weight: bold">%</td>
                    <td>{{summaryDataList?.totalStockQualityValueDTO?.stockQualityPercentageFormula}}</td>
                  </tr>
                  <tr>
                    <td style="width: 10%; line-height: 3; font-weight: bold">Value</td>
                    <td>{{summaryDataList?.totalStockQualityValueDTO?.totalStockQualityValueFormula}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="coverdays-graph-card">
            <div class="row">
              <div class="col-sm-4"> <h4 class="text-left font-weight-bold" style="font-size: 20px">Cover Days</h4></div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                &lt;!&ndash;   <div class="text-center stock-sit-value-2">&ndash;&gt;
                <table style="width: 78%; margin-left: 21%;" >
                  <tr>
                    <td class="font-weight-bold">Total Stock Value With Sit</td>
                    <td  style="width:40%; background: #e6ccff;font-weight: bold">{{summaryDataList?.totalStockSitValueDTO?.totalStockSitValue | number:'1.0':'en-IN'}}</td>
                  </tr>
                </table>
                &lt;!&ndash; </div>&ndash;&gt;
              </div>
            </div>
            <div class="row" style="margin-top: 1%">
              <div class="col-sm-2">

                <div class="coverdays-chart-card">
                  <h4 class="half-doughnut-percentage">{{totalCoverDays}}</h4>
                  <canvas id="COVER_DAYS" width="1400" height="900" style="transform-style: preserve-3d;">
                    {{coverDaysGraph}}
                  </canvas>
                </div>
              </div>
              <div class="col-sm-10">
                <div style="border:1px solid lightgrey; height: 133px">
                  <table class="table table-bordered" id="cover-days-table" style="height: 100%">
                    <tr>
                      <th>Month</th>
                      <td>{{monthNamesList?.month1?.monthNameAlias}}</td>
                      <td>{{monthNamesList?.month2?.monthNameAlias}}</td>
                      <td>{{monthNamesList?.month3?.monthNameAlias}}</td>
                      <td>{{monthNamesList?.month4?.monthNameAlias}}</td>
                      <td>{{monthNamesList?.month5?.monthNameAlias}}</td>
                      <td>{{monthNamesList?.month6?.monthNameAlias}}</td>
                      <td>{{monthNamesList?.month7?.monthNameAlias}}</td>
                      <td>{{monthNamesList?.month8?.monthNameAlias}}</td>
                      <td>{{monthNamesList?.month9?.monthNameAlias}}</td>
                      <td>{{monthNamesList?.month10?.monthNameAlias}}</td>
                      <td>{{monthNamesList?.month11?.monthNameAlias}}</td>
                      <td>{{monthNamesList?.month12?.monthNameAlias}}</td>
                    </tr>
                    <tr>
                      <th>Days In Month</th>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month1CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month2CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month3CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month4CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month5CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month6CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month7CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month8CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month9CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month10CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month11CoverDays}}</td>
                      <td>{{coverDaysList?.coverDaysInMonthDTO?.month12CoverDays}}</td>
                    </tr>
                    <tr>
                      <th>Consumption</th>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month1ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month1ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month2ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month2ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month3ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month3ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month4ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month4ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month5ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month5ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month6ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month6ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month7ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month7ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month8ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month8ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month9ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month9ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month10ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month10ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month11ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month11ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                      <td title="{{coverDaysList?.coverDaysConsumptionDTO?.month12ConsumptionTotalValue | number:'1.0':'en-IN'}}">
                        <div class="word-wrap-table-cell">
                          {{coverDaysList?.coverDaysConsumptionDTO?.month12ConsumptionTotalValue | number:'1.0':'en-IN'}}
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <th >Cover Days</th>
                      <td [ngClass]="coverDaysList?.coverDaysDTO?.month1CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month1CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month2CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month2CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month3CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month3CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month4CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month4CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month5CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month5CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month6CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month6CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month7CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month7CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month8CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month8CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month9CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month9CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month10CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month10CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month11CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month11CoverDays}}
                      </td>
                      <td [ngClass]=" coverDaysList?.coverDaysDTO?.month12CoverDays > 0 ? 'bg-color-yellow' : 'bg-color-default'">
                        {{coverDaysList?.coverDaysDTO?.month12CoverDays}}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


-->



