
.card-content{


  margin-bottom: 0px;
  background: white;
  margin-top: -1.82648401826484vh;

}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  /*
   border-radius: 25px;*/
  padding: 2px 15px 2px 15px;
  border: 1px solid black;
  background: black;
  color: white;
}
.by-default{
  background: white;
  color: #000;
  /*border-radius: 25px;*/
  padding: 2px 15px 2px 15px;
  border: 1px solid grey;
}
.disColor{
  background: white;
  color: #000;
  border-radius: 25px;
}
