
    <div class="row" style="width: 100%;
    margin-left: 0%;
    margin-top: 7px;">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="nav nav-pills" id="pills-tab" style=" margin-top: 0.30441400304414vh; position: absolute;
    top: -9%;
    left: 88%;" role="tablist">
          <li class="nav-item">
            <button class="nav-link by-default btn  btn-rounded"  id="linesTab" data-toggle="pill"
                    routerLink="lines" routerLinkActive="active"
                    role="tab" aria-controls="pills-home" aria-selected="true">Lines</button>
          </li>
          <li class="nav-item" style="margin-right: -0.30441400304414vh">
            <button class="nav-link by-default btn  btn-rounded"  id="pills-rtd-tab" data-toggle="pill"
                    routerLink="skids" routerLinkActive="active"
                    role="tab" aria-controls="pills-profile" aria-selected="false">Skids</button>
          </li>
        </ul>
       <!-- <div class="card-content">-->
          <router-outlet></router-outlet>
      <!--  </div>-->
      </div>
    </div>

