<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <div>
        <h3 class="font-light m-b-5">$354.50</h3>
        <span class="text-muted">160 sales</span>
      </div>
      <div class="ml-auto">
        <div class="d-flex flex-column" style="height: 55px; width: 100px">
          <apx-chart [series]="barChartOptions.series" [chart]="barChartOptions.chart"
                     [stroke]="barChartOptions.stroke" [tooltip]="barChartOptions.tooltip"
                     [fill]="barChartOptions.fill">
          </apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>

