.disable-style{
  line-height: 2;
  padding-left: 8px!important;
  padding: 1%;
  /*width: 19.80933vh;
  height: 4.26179604261796vh;*/
  width: 33.80933vh;
  height: 5.261796vh;
  /* border: 1px solid darkgrey; */
  background-color: #e9ecef;
  opacity: 1;
  font-weight: 400;
  margin-top: -3%;
}

.top-card{
  border:1px solid lightgrey;
  padding: 1%;

}
.left-card{
  border:1px solid lightgrey;
  padding: 1%;
}
.lft-child-card{
  border:1px solid lightgrey;
  padding: 1%;
  height: 49.31506849315068vh;
}

.rlt-child-card{
  border:1px solid lightgrey;
  padding: 1%;
  height: 49.31506849315068vh;
}

.right-card{
  border:1px solid lightgrey;
  padding: 2%;
  height: 56.62100456621005vh;
}
.slob-box{
  width: 100%;
  height: 55px;
  text-align: center;
  line-height: 3;
  border:1px solid lightgrey;
  opacity: 1;
  font-weight: 400;
  color: white;
  padding: 2%;
  margin-top: -8%;
}
.inventory-value{
  border: 1px solid lightgrey;
  padding: 1%;
  width: 44%;
  position: absolute;
  height: 13%;
  left: 50%;
  top: 4%;
  line-height: 2;
  color: black;
}
.tot-slob-value{
  border: 1px solid lightgrey;
  padding: 1%;
  width: 60%;
  position: absolute;
  height: 12%;
  left: 35%;
  top: 4%;
  line-height: 2;
  color: black;
}
.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  font-family: themify;
  color: #ced4da;
  font-size: 11px;
  MARGIN-TOP: 5px;
}
