<div style="padding: 10px">
  <div class="row" style="margin-top: -2%">
    <div class="col-sm-12">
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-md-7">
            <div class="form-inline">
              <nav aria-label="breadcrumb" style="margin-left: -2%">
                <ol class="breadcrumb">
                  <!--  <li class="breadcrumb-item">
                      <a href='javascript:void(0)'>Home</a>
                    </li>-->
                  <ng-container *ngIf="executionFlowPageService.loginUsers !== 'analyzer'">
                    <li class="breadcrumb-item active">Analytics</li>
                  </ng-container>
                  <!--<li class="breadcrumb-item ">Current Plan</li>-->
                  <ng-container *ngIf="executionFlowPageService.loginUsers === 'analyzer'">
                    <li class="breadcrumb-item active">RM Analytics</li>
                  </ng-container>
              <!--    <li class="breadcrumb-item  font-weight-bold text-dark">Current Plan</li>-->
                  <li class="breadcrumb-item  font-weight-bold text-dark">SLOB</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-5 d-flex justify-content-end">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="top-card">
        <h4 style="font-weight: 500">Summary</h4>
        <div class="row">
          <div class="col">
            <label>Total Stock</label>
            <div class="disable-style">
              {{rmSlobSummaryDashboardList?.totalStockValue | number:'1.0':'en-IN'}}
            </div>
          </div>
          <div class="col">
            <label>Total SLOB</label>
            <div class="disable-style">
              {{rmSlobSummaryDashboardList?.totalSlobValue | number:'1.0':'en-IN'}}
            </div>
          </div>
          <div class="col">
            <label>Obsolete</label>
            <div class="disable-style">
              {{rmSlobSummaryDashboardList?.obValue | number:'1.0':'en-IN'}}
            </div>
          </div>
          <div class="col">
            <label>SM</label>
            <div class="disable-style">
              {{rmSlobSummaryDashboardList?.slValue  | number:'1.0':'en-IN'}}
            </div>
          </div>
          <div class="col">
            <label>IQ</label>
            <div class="disable-style">
              {{rmSlobSummaryDashboardList?.iqPercentage}}&nbsp;%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-8">
      <div class="left-card">
        <h4  style="font-weight: 500">Inventory Quality</h4>
        <div class="row">
          <div class="col-sm-6">
            <div class="lft-child-card">
              <h5  style="font-weight: 500">Value Basis</h5>
              <div class="inventory-value">
                IQ Value : <span style="font-weight: 500">
              {{rmSlobSummaryDashboardList?.inventoryQualityValue| number:'1.0':'en-IN'}}</span>
              </div>
              <div class="row" style="width: 100%;
    margin-left: 0;
    margin-top: 16%;">
                <div class="col-sm-8 text-center">
                  <h5>Stock/SLOB Division</h5>
                  <div class="chart-card">
                    <canvas id="doughnut_slob_stock"  width="800" height="600" style=" margin-top:5%">
                      {{valueBasis}}
                    </canvas>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="row" style="margin-top:32%;">
                    <div class="col">
                      <h5>Stock Value</h5>
                      <div class="slob-box" style="background:green">
                        <span>{{rmSlobSummaryDashboardList?.totalStockValue | number:'1.0':'en-IN'}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 15%">
                    <div class="col">
                      <h5>SLOB Value</h5>
                      <div class="slob-box" style="background: #db0000">
                        <span>{{rmSlobSummaryDashboardList?.totalSlobValue | number:'1.0':'en-IN'}}</span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 pl-0">
            <div class="rlt-child-card">
              <h5  style="font-weight: 500">Percentage Basis</h5>

              <div class="row" style="width: 100%;
    margin-left: 0;
    margin-top: 15%;">
                <div class="col-sm-8 text-center">
                  <h5>IQ/OB/SM %</h5>
                  <div class="chart-card">
                    <canvas id="doughnut_Ob_Sm_Iq"  width="800" height="600" style=" margin-top:5%">
                      {{percentageBasis}}
                    </canvas>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="row" style="margin-top: -28%;">
                    <div class="col">
                      <h5>IQ %</h5>
                      <div class="slob-box" style="background:green">
                        <span>{{rmSlobSummaryDashboardList?.iqPercentage}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 15%">
                    <div class="col">
                      <h5>OB %</h5>
                      <div class="slob-box" style="background: #db0000">
                        <span>{{rmSlobSummaryDashboardList?.obPercentage}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 15%">
                    <div class="col">
                      <h5>SM %</h5>
                      <div class="slob-box" style="background:#ff8c00">
                        <span>{{rmSlobSummaryDashboardList?.slPercentage}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 pl-0">
      <div class="right-card">
        <h4  style="font-weight: 500">SLOB Details</h4>
        <div class="tot-slob-value">
          Total SLOB Value : <span style="font-weight: 500">{{rmSlobSummaryDashboardList?.totalSlobValue | number:'1.0':'en-IN'}}</span>
        </div>
        <div class="row" style="width: 100%;
    margin-left: 0;
    margin-top: 18%;">
          <div class="col-sm-8 text-center">
            <h5>OB/SM Division</h5>
            <div class="chart-card">
              <canvas id="doughnut_slob_details"  width="800" height="600" style=" margin-top:11%">
                {{slobDetails}}
              </canvas>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row" style="margin-top: 45%;">
              <div class="col">
                <h5>OB Value</h5>
                <div class="slob-box" style="background: #db0000">
                  <span>{{rmSlobSummaryDashboardList?.obValue | number:'1.0':'en-IN'}}</span>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 15%">
              <div class="col">
                <h5>SM Value</h5>
                <div class="slob-box" style="background:#ff8c00">
                  <span>{{rmSlobSummaryDashboardList?.slValue  | number:'1.0':'en-IN'}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
