<!--
<div class="row" style="margin-top: -2%">
  <div class="col-sm-12">
    <div class="row" style="margin-top: 7px">
      <div class="col-sm-12">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-md-7">
              <div class="form-inline">
                <nav aria-label="breadcrumb" style="margin-left: -2%">
                  <ol class="breadcrumb" style="font-size: 16px">
                    <li class="breadcrumb-item active" >Stock</li>
                    <li class="breadcrumb-item  font-weight-bold text-dark" >Rejection</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <div class="form-inline">
                <button (click)="exportAsXLSX()"  data-toggle="tooltip" title="Download 'Rejection'"
                          style="cursor: pointer; margin-left: 43%; margin-top: -7px; border:none; background: transparent">
                 &lt;!&ndash; <i class="mdi mdi-file-excel excel-icon"></i></button>&ndash;&gt;
                  <i><img src="../../../../assets/images/big/excel.png"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    &lt;!&ndash;
     <input type="text"  placeholder="Search..."  class="gross-search btn-rounded"  [(ngModel)]="grossConsumptionSearchTerm">
     <span class="fas fa-search icon-search"></span>&ndash;&gt;
    <div class="receipt-card">
      <ng-container  *ngIf="successMessage!==''">
        <p class="alert alert-success succes-msg" style="left:56%" data-dismiss="alert" aria-label="Close">
          <strong>{{successMessage}}</strong>
          <button type="button" class="close" data-dismiss="alert"
                  aria-label="Close"><span
            aria-hidden="true">×</span></button>
        </p>
      </ng-container>
      <ng-container *ngIf="errorMessage!==''">
        <p class="alert alert-danger succes-msg" style="left:22%" data-dismiss="alert" aria-label="Close">
          <strong>{{errorMessage}}</strong>
          <button type="button" class="close" data-dismiss="alert"
                  aria-label="Close"><span
            aria-hidden="true">×</span></button>
        </p>
      </ng-container>
      <div class="receipt-scroll-table">
        <table class="table table-bordered receipt-table" id="receiptTable">
          <thead class="text-light text-left header-sticky">
          <tr>
            <th>Material Code</th>
            <th>Description</th>
            <th>Quantity</th>
          </tr>
          </thead>
          <tbody class="text-left">
          <ng-container *ngFor="let rejectionData of rejectionDataList">
            <tr>
              <td class="font-weight-bold">{{rejectionData?.itemCode}}</td>
              <td>{{rejectionData?.itemDescription}}</td>
              <td class="text-right">{{rejectionData.rmRejection?.individualStockTypeValueDTOList[0].quantity | number:'1.0':'en-IN'}}</td>
            </tr>
           &lt;!&ndash; <ng-container *ngFor="let individualStockTypeValueDTOData of rejectionData.rmRejection.individualStockTypeValueDTOList">
              <tr>
                <td></td>
                <td></td>
                <td class="text-right">{{individualStockTypeValueDTOData?.quantity | number:'1.0':'en-IN'}}</td>
              </tr>
            </ng-container>&ndash;&gt;
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>






-->
