#loader-text {
  text-align: center;
  margin-top: 15%;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }
  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}


.lg-btn-style {
  color: white;
  width: 45.662100456621005vh;
  height: 19.025875190258752vh;
  font-size: 5.47945205479452vh;
  background: linear-gradient(to right,
  grey 0%,
  #00bdda 100%);
  border: 1px solid grey;
  margin-bottom: 11%;
}

.outer-card {
  border: 1px solid lightgrey;
  padding: 8%;
  background: white;
  height: 87.343988vh;
  margin-top: 5.783866057838661vh;
  margin-left: 0%;
  margin-right: 0%;
}

.inside-card {
  border: 3px solid lightgrey;
  padding: 3%;
  padding-bottom: -5%;
  width: 112%;
  margin-left: -6%;
  margin-top: -13.698630136986301vh;
}

.plan-modules-card {
  border: 1px solid lightgrey;
  padding: 2%;
  margin-top: 2%;
}

.mps-plan-header {
  width: 40%;
  margin-left: 4%;
  border: 1px solid lightgrey
}

.select-mps-plan-text {
  margin-left: 1%;
  font-size: 22px;
  font-weight: 500
}

.mpsPlanDisabledColor {
  background: linear-gradient(to right, lightgrey 0%, grey 100%);

}


.navigation-bar{
  background: black;
  padding: 0px;
  margin-top: -7%;
  width: 102%;
  margin-left: -1%;
  height: 40px;
}
.idp-logo{
  width: 108px;
  height: 50px;
  position: absolute;
  background: white;
  border:1px solid black;
  border-right: none;

}
.logo-box{
  border: 1px solid black;
  height: 51px;
  width: 98px;
  position: relative;
  background: black;
}
.logo-img{
  margin-top: -2%;
  height: 32px;
  margin-left: 14%;

}
.logo-text{
  margin-left: 45%;
  margin-top: -28%;
  color: white;
}
.user-logo{
  border-radius: 50%;
  position: absolute;
  top: 62%;
}
.nav-pills {
  width: 89%;
  position: relative;
  /* left: 3%; */
  top: 10%;
}
.drp-menu{
  margin-top: 24%;
  margin-left: -176%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.mdi-home{
  color: white;
  font-size: 20px;
  /* margin-left: 18%; */
  position: absolute;
  left: 101%;
  top: 33%;
}
