<nav class="navbar navbar-light  navigation-bar">
  <a style="width: 104px;

    height: 32px;
" >
    <img
      src="../../../assets/images/light-csp-logo-new.png"
      alt="homepage"
      class="light-logo logo-img"
    />
    <h3 class="logo-text" >CSP</h3>
  </a>
 <!-- <div class="logo-box">
    <a class="navbar-brand" style="margin-top: 9%; margin-left: 10%">
      <img
        src="../../../assets/images/light-csp-logo-new.png"
        alt="homepage"
        class="light-logo logo-img"
      />
      <h3 class="logo-text" >CSP</h3>
    </a>
    &lt;!&ndash;<i class="mdi mdi-home"></i>&ndash;&gt;
  </div>-->
  <ul class="nav nav-pills" id="pills-tab" role="tablist">
    <li style="margin-left: 93%">
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          id="dropdownMenu2"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
         <span style="
     position: absolute;
     right: 54%;
    top: 2%;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    color: white;">
             <span class="text-light">{{usersName}}</span>

        </span>
          <i class="fa fa-user-circle cursor-pointer" style="font-size: 30px; color:white;
                   position: absolute; top: -2%; left: 69%;"></i>
        </button>
        <div
          class="dropdown-menu drp-menu"
          aria-labelledby="dropdownMenu2"
          style="margin-top: -7%"
        >
          <button class="dropdown-item" type="button" (click)="logOut()">
            <i class="fa fa-power-off mr-2"></i>Logout
          </button>
        </div>
      </div>
    </li>
  </ul>
</nav>
<div class="row" style="margin-top: -1rem;">
  <div class="col-sm-12">
    <div class="outer-card">
      <div class="inside-card">
        <div class="row" style="margin-top: -1%">
        </div>
        <div class="plan-modules-card">
          <div class="row">
            <div class="col-sm-6">
              <label style="font-size: 22px;">Plan Following Modules</label>
            </div>
          </div>
          <div class="row" style="margin-top: 2%;">
            <ng-container *ngFor="let role of roleModule">
            <div class="col-sm-4 text-center">
              <ng-container *ngIf="role=== 'role_Admin'">
                <button class="btn btn-lg lg-btn-style"
                        [disabled]="true">Admin
                </button>
              </ng-container>
                <ng-container *ngIf="role=== 'role_FG'">
                  <button class="btn btn-lg lg-btn-style"
                          [ngClass]="mpsPlanSelectedColor"
                          [disabled]="mpsPlanSelected" (click)="navigationToFgPage()">FG
                  </button>
                </ng-container>
                <ng-container *ngIf="role=== 'role_PM'">
                  <button class="btn btn-lg lg-btn-style"
                          [ngClass]="mpsPlanSelectedColor" (click)="navigationToPmPage()"
                          [disabled]="mpsPlanSelected" >PM
                  </button>
                </ng-container>
                <ng-container *ngIf="role=== 'role_RM'">
                  <button class="btn btn-lg lg-btn-style"
                          [ngClass]="mpsPlanSelectedColor"
                          [disabled]="mpsPlanSelected" (click)="navigationToRmPage()">RM
                  </button>
                </ng-container>
                <ng-container *ngIf="role=== 'role_Analyst'">
                  <button class="btn btn-lg lg-btn-style"
                          (click)="AnalystPage()">Analyst
                  </button>
                </ng-container>
            </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

